<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel>
			<f:facet name="header">
				<span>Crear/Modificar Divisiones</span>
			</f:facet>

			<h:form id="formCrearDivision">
				<h:panelGrid id="gridSelDiv" columns="2" style="padding:5px;"
					cellspacing="10px">
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['administradordivisiones_nombre_divisiondp']}"
							for="nombreDivision" style="font-weight:bold;width:346px; " />
						<s:decorate id="nombreDivisionId" template="/layout/edit.xhtml"
							style="width : 346px;">
							<h:inputText id="nombreDivision"
								value="#{adminDivisiones.nombreDivision}"
								requiredMessage="Debe ingresar un nombre" style="width:346px;"
								maxlength="100" validator="#{regexValidator.validate}">
								<a4j:support event="onblur" reRender="nombreId"
									bypassUpdates="true" ajaxSingle="true" />
							</h:inputText>
						</s:decorate>
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText
							value="#{messages['administradordivisiones_organizaciondp']}"
							style="font-weight: bold;" />
						<s:decorate id="nombreOrganizacionId"
							template="/layout/edit.xhtml" style="width : 346px;">
							<h:selectOneMenu value="#{adminDivisiones.organizacion}"
								id="organizacionlist" styleClass="input350">
								<f:selectItems value="#{adminDivisiones.listOrganizacion}" />
							</h:selectOneMenu>
						</s:decorate>
					</h:panelGroup>
				</h:panelGrid>

				<h:panelGrid columns="3" style="padding:5px;">
					<a4j:commandButton action="#{adminDivisiones.crearDivision()}"
						value="#{messages['administradordivisiones_crear_division']}"
						reRender="formCrearDivision, formSelDivision, gridSelDivision, tablaDivisiones"
						rendered="#{adminDivisiones.flag == 0}" />
					<a4j:commandButton action="#{adminDivisiones.modificarDivision()}"
						value="#{messages['administradordivisiones_modificar_division']}"
						reRender="formCrearDivision, formSelDivision, gridSelDivision, tablaDivisiones"
						rendered="#{adminDivisiones.flag == 1}" />
					<a4j:commandButton action="#{adminDivisiones.limpiarFormulario()}"
						value="#{messages['administradordivisiones_limpiar']}"
						reRender="formCrearDivision, formSelDivision, gridSelDivision, tablaDivisiones" />
					<a4j:commandButton action="#{adminDivisiones.end()}" 
						rendered="false" 
						value="#{messages['administradordivisiones_volver_a_inicio']}" />
				</h:panelGrid>

			</h:form>
		</rich:panel>
		<br />

		<rich:panel>
			<f:facet name="header">
				<span>#{messages['administradordivisiones_divisiones_creadas']}</span>
			</f:facet>

			<h:form id="formSelDivisionCreadas">
				<h:panelGrid id="gridSelDivision" columns="3" style="padding:5px;">
					<h:panelGroup>
						<h:outputText
							value="#{messages['administradordivisiones_organizaciondp']}"
							for="listOrganizaciones" style="font-weight: bold;" />
						<br />
						<h:selectOneMenu id="listOrganizaciones"
							value="#{adminDivisiones.organizacionCargar}"
							styleClass="input350">
							<f:selectItems value="#{adminDivisiones.listOrganizacionCargar}" />
							<a4j:support event="onchange"
								reRender="gridSelDivision, tablaDivisiones"
								action="#{adminDivisiones.buscarDivisiones()}" />
						</h:selectOneMenu>
					</h:panelGroup>

				</h:panelGrid>
			</h:form>
		</rich:panel>


		<br />
		<rich:panel>
			<f:facet name="header">
				<span>#{messages['administradordivisiones_resultado_de_busqueda']}</span>
			</f:facet>

			<h:form id="formSelDivision">

				<rich:dataTable width="100%" id="tablaDivisiones"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="#{adminDivisiones.listDivisiones}" var="uo">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column style="text-align:left;">
								<h:outputLabel
									value="#{messages['administradordivisiones_division']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['administradordivisiones_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['administradordivisiones_eliminar']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="varCargo">
						<rich:column>
							<h:outputLabel value="#{uo.descripcion}" />
						</rich:column>

						<rich:column style="text-align:center; width:70px;">
							<a4j:commandButton
								action="#{adminDivisiones.cargarDivision(uo.id)}"
								image="/imagenes/ver_detalle_01.gif" style="border: none;"
								reRender="formCrearDivision" />
						</rich:column>

						<rich:column style="text-align:center; width:70px;">
							<a4j:commandButton
								action="#{adminDivisiones.eliminarDivision(uo)}"
								image="/imagenes/ico_bot_eliminar.gif"
								reRender="formCrearDivision, formSelDivision"
								style="border: none;" />
						</rich:column>

					</rich:subTable>
				</rich:dataTable>

			</h:form>
		</rich:panel>

	</ui:define>

</ui:composition>
