<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel>
			<f:facet name="header">
				<span>#{messages['administradorgrupodestinatariosfrecuentes_destinatarios_frecuentes']}</span>
			</f:facet>

			<h:form id="formGrupoDestinatariosFrecuentes">
				<rich:panel
					style="width:98%; text-align:left; padding-left:1px; margin:10px; ">
					<f:facet name="header">
						<span>#{messages['administradorgrupodestinatariosfrecuentes_agregar_personas']}</span>
					</f:facet>

					<h:panelGrid id="gridAgregarPersonas" columns="2">

						<h:panelGroup rendered="true">
							<h:outputText
								value="#{messages['administradorgrupodestinatariosfrecuentes_organizacion']}"
								style="font-weight: bold;" />
							<br />
							<h:selectOneMenu
								value="#{administradorGrupoDestinatariosFrecuentes.organizacion}"
								id="organizacionlist" styleClass="input350">
								<a4j:support
									action="#{administradorGrupoDestinatariosFrecuentes.buscarDivisiones}"
									event="onchange" reRender="gridAgregarPersonas"
									ajaxSingle="true" />
								<f:selectItems
									value="#{administradorGrupoDestinatariosFrecuentes.listOrganizacion}" />
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup rendered="true">
							<h:outputLabel
								value="#{messages['administradorgrupodestinatariosfrecuentes_division']}"
								for="listDivisiones" style="font-weight:bold;" />
							<br />
							<h:selectOneMenu id="listDivisiones"
								value="#{administradorGrupoDestinatariosFrecuentes.idDivision}"
								styleClass="input350">
								<f:selectItems
									value="#{administradorGrupoDestinatariosFrecuentes.listDivisiones}" />
								<a4j:support event="onchange"
									reRender="gridAgregarPersonas, formGrupoDestinatariosFrecuentes"
									action="#{administradorGrupoDestinatariosFrecuentes.buscarDeptos()}"
									ajaxSingle="true" />
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup>
							<h:outputLabel
								value="#{messages['administradorgrupodestinatariosfrecuentes_departamento']}"
								for="listDeptos" style="font-weight:bold;" />
							<br />
							<h:selectOneMenu id="listDeptos"
								value="#{administradorGrupoDestinatariosFrecuentes.idDepto}"
								styleClass="input350">
								<f:selectItems
									value="#{administradorGrupoDestinatariosFrecuentes.listDeptos}" />
								<a4j:support event="onchange"
									reRender="gridAgregarPersonas, formGrupoDestinatariosFrecuentes"
									action="#{administradorGrupoDestinatariosFrecuentes.buscarUnidades()}"
									ajaxSingle="true" />
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup>
							<h:outputLabel
								value="#{messages['administradorgrupodestinatariosfrecuentes_unidad']}"
								for="listUnidades" style="font-weight:bold;" />
							<br />
							<h:selectOneMenu id="listUnidades"
								value="#{administradorGrupoDestinatariosFrecuentes.idUnidad}"
								styleClass="input350">
								<f:selectItems
									value="#{administradorGrupoDestinatariosFrecuentes.listUnidades}" />
								<a4j:support event="onchange"
									reRender="gridAgregarPersonas, formGrupoDestinatariosFrecuentes"
									action="#{administradorGrupoDestinatariosFrecuentes.buscarCargos()}"
									ajaxSingle="true" />
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup>
							<h:outputLabel
								value="#{messages['administradorgrupodestinatariosfrecuentes_cargo']}"
								for="listCargos" style="font-weight:bold;" />
							<br />
							<h:selectOneMenu id="listCargos"
								value="#{administradorGrupoDestinatariosFrecuentes.idCargo}"
								styleClass="input350">
								<f:selectItems
									value="#{administradorGrupoDestinatariosFrecuentes.listCargos}" />
								<a4j:support event="onchange"
									reRender="gridAgregarPersonas, formGrupoDestinatariosFrecuentes"
									action="#{administradorGrupoDestinatariosFrecuentes.buscarPersonas()}"
									ajaxSingle="true" />
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup>
							<h:outputLabel
								value="#{messages['administradorgrupodestinatariosfrecuentes_persona']}"
								for="listPersonas" style="font-weight:bold;" />
							<br />
							<h:selectOneMenu id="listPersonas"
								value="#{administradorGrupoDestinatariosFrecuentes.idPersona}"
								styleClass="input350">
								<f:selectItems
									value="#{administradorGrupoDestinatariosFrecuentes.listPersonas}" />
							</h:selectOneMenu>
						</h:panelGroup>
					</h:panelGrid>

				</rich:panel>

				<h:panelGrid columns="2" style="text-align:left; padding-left:10px;">
					<a4j:commandButton id="botonAgregarPersona"
						value="#{messages['administradorgrupodestinatariosfrecuentes_agregar']}"
						action="#{administradorGrupoDestinatariosFrecuentes.agregarPersona()}"
						reRender="tablaPersonas, formGrupoDestinatariosFrecuentes"
						rendered="#{administradorGrupoDestinatariosFrecuentes.renderedBotonAgregarPersona()}">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />
					</a4j:commandButton>
					<a4j:commandButton id="botonlimpiarFormulario"
						value="#{messages['administradorgrupodestinatariosfrecuentes_limpiar']}"
						action="#{administradorGrupoDestinatariosFrecuentes.limpiarFormulario()}"
						reRender="gridAgregarPersonas" ajaxSingle="true" />
				</h:panelGrid>

				<rich:panel id="panelTablaPersonas" styleClass="subpanel">
					<f:facet name="header">
						<span>#{messages['administradorgrupodestinatariosfrecuentes_agregar_personas']}</span>
					</f:facet>

					<rich:dataTable id="tablaPersonas"
						value="#{administradorGrupoDestinatariosFrecuentes.listDestinatarios}"
						var="persona"
						rendered="#{not empty administradorGrupoDestinatariosFrecuentes.listDestinatarios}"
						style="width:98%; text-align:left; padding-left:1px; margin:10px; ">
						<rich:column>
							<f:facet name="header">#{messages['administradorgrupodestinatariosfrecuentes_nombre']}</f:facet>
							<h:outputText value="#{persona.nombreApellido}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorgrupodestinatariosfrecuentes_cargo']}</f:facet>
							<h:outputText value="#{persona.cargo.descripcion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorgrupodestinatariosfrecuentes_unidad']}</f:facet>
							<h:outputText
								value="#{persona.cargo.unidadOrganizacional.descripcion}"
								rendered="#{not persona.cargo.unidadOrganizacional.virtual}" />
							<h:outputText
								value="#{persona.cargo.unidadOrganizacional.departamento.descripcion}"
								rendered="#{not persona.cargo.unidadOrganizacional.departamento.virtual and persona.cargo.unidadOrganizacional.virtual}" />
							<h:outputText
								value="#{persona.cargo.unidadOrganizacional.departamento.division.descripcion}"
								rendered="#{persona.cargo.unidadOrganizacional.virtual and persona.cargo.unidadOrganizacional.departamento.virtual}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorgrupodestinatariosfrecuentes_eliminar']}</f:facet>
							<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
								style="border:none;"
								action="#{administradorGrupoDestinatariosFrecuentes.eliminarPersona(persona)}"
								reRender="tablaPersonas, formGrupoDestinatariosFrecuentes" />
						</rich:column>
					</rich:dataTable>

					<h:panelGrid columns="3" style="text-align:left; margin:10px; ">
						<a4j:commandButton
							value="#{messages['administradorgrupodestinatariosfrecuentes_crear_grupo']}"
							action="#{administradorGrupoDestinatariosFrecuentes.crearGrupo()}"
							reRender="formGrupoDestinatariosFrecuentes"
							rendered="#{not administradorGrupoDestinatariosFrecuentes.creado}" />
						<a4j:commandButton
							value="#{messages['administradorgrupodestinatariosfrecuentes_guardar_grupo']}"
							action="#{administradorGrupoDestinatariosFrecuentes.guardarGrupo()}"
							reRender="formGrupoDestinatariosFrecuentes"
							rendered="#{administradorGrupoDestinatariosFrecuentes.creado}" />
					</h:panelGrid>
				</rich:panel>

			</h:form>
		</rich:panel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['administradorgrupodestinatariosfrecuentes_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['administradorgrupodestinatariosfrecuentes_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>
