<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel>
			<f:facet name="header">#{messages['administradorclasificaciontipootros_crear_tipo_1']}</f:facet>

			<h:form id="formCrearClasificacionTipoOtros">
				<h:panelGrid columns="2" style="textAlign: center;">
					<s:decorate template="../layout/display.xhtml">
						<ui:define name="label">#{messages['administradorclasificaciontipootros_nombre_tipo_1dp']}</ui:define>
					</s:decorate>
					<s:decorate template="../layout/display.xhtml">
						<h:inputText id="nombreClasificacionTipoOtros"
							value="#{adminClasificacionTipoOtros.nombreClasificacionTipoOtros}"
							style="width:300px;" maxlength="100" />
					</s:decorate>
				</h:panelGrid>

				<br />
				<br />

				<a4j:commandButton
					action="#{adminClasificacionTipoOtros.crearClasificacionTipoOtros}"
					value="#{messages['administradorclasificaciontipootros_crear_tipo_1']}"
					reRender="formCrearClasificacionTipoOtros, outPanelVerClasificacionTipoOtros"
					rendered="#{adminClasificacionTipoOtros.flag == 0}" />
				<a4j:commandButton
					action="#{adminClasificacionTipoOtros.modificarClasificacionTipoOtros()}"
					value="#{messages['administradorclasificaciontipootros_modificar_tipo_1']}"
					reRender="formCrearClasificacionTipoOtros, outPanelVerClasificacionTipoOtros"
					rendered="#{adminClasificacionTipoOtros.flag == 1}" />
				<a4j:commandButton
					action="#{adminClasificacionTipoOtros.limpiarFormulario()}"
					value="#{messages['administradorclasificaciontipootros_limpiar_formulario']}"
					reRender="formCrearClasificacionTipoOtros" />
				<a4j:commandButton action="#{adminClasificacionTipoOtros.end()}"
					value="#{messages['administradorclasificaciontipootros_volver_a_inicio']}" />
			</h:form>

		</rich:panel>
		<br />

		<rich:panel id="panelVerClasificacionTipoOtros">
			<f:facet name="header">#{messages['administradorclasificaciontipootros_tipos_1_existentes']}</f:facet>

			<h:form id="formVerClasificacionTipoOtros">
				<a4j:outputPanel id="outPanelVerClasificacionTipoOtros">
					<rich:dataTable id="tablaClasificacionTipoOtros"
						value="#{adminClasificacionTipoOtros.listClasificacionTipoOtros}"
						var="clasificacionTipoOtros">
						<rich:column>
							<f:facet name="header">#{messages['administradorclasificaciontipootros_tipo_de_clasificacion']}</f:facet>
							<h:outputText value="#{clasificacionTipoOtros.descripcion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorclasificaciontipootros_ver']}</f:facet>
							<a4j:commandButton
								action="#{adminClasificacionTipoOtros.cargarClasificacionTipoOtros(clasificacionTipoOtros.id)}"
								image="/imagenes/ver_detalle_01.gif" style="border: none;"
								reRender="formCrearClasificacionTipoOtros" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorclasificaciontipootros_eliminar']}</f:facet>
							<a4j:commandButton
								action="#{adminClasificacionTipoOtros.eliminarClasificacionTipoOtros(clasificacionTipoOtros)}"
								immediate="true" image="/imagenes/ico_bot_eliminar.gif"
								reRender="formVerClasificacionTipoOtros, formCrearClasificacionTipoOtros, 
									tablaClasificacionTipoOtros, panelVerClasificacionTipoOtros" />
						</rich:column>
					</rich:dataTable>
				</a4j:outputPanel>
			</h:form>

		</rich:panel>
	</ui:define>

</ui:composition>
