<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">

		<rich:panel id="idPanelCargo">
			<f:facet name="header">
				<span>#{messages['administradorcargos_agregar_cargo']}</span>
			</f:facet>
			<h:form>

				<h:messages globalOnly="false" styleClass="message" />
				<h:panelGrid columns="2" id="panelAgregarCargo" style="padding:5px;">

					<h:panelGroup>
						<h:outputText value="#{messages['administradorcargos_nombredp']}"
							style="font-weight: bold; padding-right:20px;" />
						<br />
						<h:inputText id="NombreCargoId"
							value="#{administradorCargo.descripcion}" style="width:346px;"
							required="true" size="50" validator="#{regexValidator.validate}"
							requiredMessage="Debe ingresar un nombre">
							<a4j:support event="onblur" reRender="idPanelCargo"
								bypassUpdates="true" ajaxSingle="true" />
						</h:inputText>
					</h:panelGroup>
					<s:decorate template="/layout/edit.xhtml" rendered="true" />
					<h:panelGroup rendered="true">
						<h:outputText
							value="#{messages['administradorcargos_organizaciondp']}"
							style="font-weight: bold;" />
						<br />
						<h:selectOneMenu value="#{administradorCargo.organizacion}"
							id="organizacionlist" styleClass="input350" required="true">
							<a4j:support action="#{administradorCargo.buscarDivisiones}"
								event="onchange" reRender="panelAgregarCargo" ajaxSingle="true" />
							<f:selectItems value="#{administradorCargo.listOrganizacion}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup rendered="true">
						<h:outputText
							value="#{messages['administradorcargos_divisiondp']}"
							style="font-weight: bold;" />
						<br />
						<h:selectOneMenu value="#{administradorCargo.division}"
							id="divisionlist" styleClass="input350" required="true">
							<a4j:support action="#{administradorCargo.buscarDepartamentos}"
								event="onchange" reRender="panelAgregarCargo" ajaxSingle="true" />
							<f:selectItems value="#{administradorCargo.listDivision}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText
							value="#{messages['administradorcargos_departamentodp']}"
							style="font-weight: bold;" />
						<br />
						<h:selectOneMenu value="#{administradorCargo.departamento}"
							id="departamentolist" styleClass="input350" required="true">
							<a4j:support
								action="#{administradorCargo.buscarUnidadesOrganizacionales}"
								event="onchange" reRender="panelAgregarCargo" ajaxSingle="true" />
							<f:selectItems value="#{administradorCargo.listDepartamento}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText 
							value="#{messages['administradorcargos_unidaddp']}"
							style="font-weight: bold;" />
						<br />
						<h:selectOneMenu
							value="#{administradorCargo.unidadOrganizacional}" id="uolist"
							styleClass="input350" required="true">
							<a4j:support action="#{administradorCargo.encontrarCargos}"
								event="onchange" reRender="panelAgregarCargo" ajaxSingle="true" />
							<f:selectItems
								value="#{administradorCargo.listUnidadesOrganizacionales}" />
						</h:selectOneMenu>
					</h:panelGroup>

				</h:panelGrid>
				<h:panelGrid columns="3" style="padding:5px;">
					<a4j:commandButton
						value="#{messages['administradorcargos_guardar']}"
						action="#{administradorCargo.guardarCargo}"
						reRender="idPanelCargo, idPanelCargos, tablaCargos" />
					<a4j:commandButton
						value="#{messages['administradorcargos_limpiar']}"
						action="#{administradorCargo.limpiarFormulario()}"
						ajaxSingle="true" reRender="idPanelCargo, idPanelCargos" />
				</h:panelGrid>
			</h:form>
		</rich:panel>

		<br />
		<rich:panel id="idPanelCargos">
			<f:facet name="header">
				<span>#{messages['administradorcargos_lista_de_cargos']}</span>
			</f:facet>

			<h:form>
				<h:panelGrid id="panelAgregarCargos" columns="2"
					style="padding:5px;">

					<h:panelGroup rendered="true">
						<h:outputText
							value="#{messages['administradorcargos_organizaciondp']}"
							style="font-weight: bold;" />
						<br />
						<h:selectOneMenu value="#{administradorCargo.organizacion}"
							id="organizacionlist" styleClass="input350">
							<a4j:support action="#{administradorCargo.buscarDivisiones}"
								event="onchange"
								reRender="panelAgregarCargos,tablaCargos,idPanelCargos" />
							<f:selectItems value="#{administradorCargo.listOrganizacion}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<h:panelGroup rendered="true">
						<h:outputText
							value="#{messages['administradorcargos_divisiondp']}"
							style="font-weight: bold;" />
						<br />
						<h:selectOneMenu value="#{administradorCargo.division}"
							id="divisionlist" styleClass="input350">
							<a4j:support action="#{administradorCargo.buscarDepartamentos}"
								event="onchange"
								reRender="panelAgregarCargos,tablaCargos,idPanelCargos" />
							<f:selectItems value="#{administradorCargo.listDivision}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup>
						<h:outputText
							value="#{messages['administradorcargos_departamentodp']}"
							style="font-weight: bold;" />
						<br />
						<h:selectOneMenu value="#{administradorCargo.departamento}"
							id="departamentolist" styleClass="input350">
							<a4j:support
								action="#{administradorCargo.buscarUnidadesOrganizacionales}"
								event="onchange"
								reRender="panelAgregarCargos,tablaCargos,idPanelCargos" />
							<f:selectItems value="#{administradorCargo.listDepartamento}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText 
							value="#{messages['administradorcargos_unidaddp']}"
							style="font-weight: bold;" />
						<br />
						<h:selectOneMenu
							value="#{administradorCargo.unidadOrganizacional}" id="uolist"
							styleClass="input350">
							<a4j:support action="#{administradorCargo.encontrarCargos}"
								event="onchange" reRender="tablaCargos,idPanelCargos" />
							<f:selectItems
								value="#{administradorCargo.listUnidadesOrganizacionales}" />
						</h:selectOneMenu>
					</h:panelGroup>
				</h:panelGrid>
				<h:panelGrid columns="1" style="padding:5px;">
					<a4j:commandButton
						onclick="Richfaces.showModalPanel('panelBuscarCargo')"
						value="#{messages['administradorcargos_buscar_cargo']}"
						rendered="true" 
						reRender="tablaCargos, idPanelCargos"
						immediate="true" />
				</h:panelGrid>
			</h:form>
		</rich:panel>


		<br />
		<rich:panel>
			<f:facet name="header">
				<span>#{messages['administradorcargos_resultado_de_busqueda']}</span>
			</f:facet>

			<a4j:form id="tablaCargos">
				<rich:dataTable width="100%" id="idTableCargos"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="#{administradorCargo.cargos}" var="varCargo">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column style="text-align:left;">
								<h:outputLabel 
									value="#{messages['administradorcargos_nombre']}" />
							</rich:column>
							<rich:column style="width:70px;">
								<h:outputText
									value="#{messages['administradorcargos_modificar']}" />
							</rich:column>
							<rich:column style="width:70px;">
								<h:outputText
									value="#{messages['administradorcargos_eliminar']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="varCargo">
						<rich:column>
							<h:outputLabel value="#{varCargo.descripcion}" />
						</rich:column>

						<rich:column style="text-align:center; width:100px;">
							<a4j:commandButton image="/imagenes/icon_editar.gif"
								title="Modificar" style="border: none;"
								reRender="idPanelCargo, idPanelCargos"
								action="#{administradorCargo.modificar(varCargo.id)}"
								immediate="true" />
						</rich:column>

						<rich:column style="text-align:center; width:100px;">
							<h:commandButton image="/imagenes/ico_bot_eliminar.gif"
								title="Eliminar" style="border:none;"
								reRender="idPanelCargos, tablaCargos" immediate="true"
								action="#{administradorCargo.eliminar(varCargo.id)}" />
						</rich:column>
					</rich:subTable>
				</rich:dataTable>
			</a4j:form>

		</rich:panel>





		<rich:modalPanel id="panelBuscarCargo" resizeable="false" height="150"
			width="320">
			<f:facet name="header">
				<h:outputText
					value="#{messages['administradorcargos_buscar_cargo']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelBuscarCargo')"
					reRender="tablaCargos, idPanelCargos">
				</h:graphicImage>
			</f:facet>
			<h:form id="buscarCargoForm">
				<h:panelGrid columns="2">
					<h:outputText
						value="#{messages['administradorcargos_nombre_cargodp']}" />
					<h:inputText value="#{administradorCargo.descripcion}"
						onkeypress="if(event.keyCode==13)document.getElementById('buscarCargoForm:hiddenButton').onclick();" />
				</h:panelGrid>
				<br />
				<a4j:commandButton 
					value="#{messages['administradorcargos_volver']}"
					reRender="tablaCargos, idPanelCargos"
					onclick="Richfaces.hideModalPanel('panelBuscarCargo')"
					immediate="true" />
				<a4j:commandButton id="hiddenButton"
					value="#{messages['administradorcargos_buscar']}"
					reRender="tablaCargos, idPanelCargos"
					action="#{administradorCargo.buscarCargo()}"
					onclick="Richfaces.hideModalPanel('panelBuscarCargo')"
					immediate="false" />
			</h:form>
		</rich:modalPanel>

	</ui:define>

</ui:composition>

