<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">

		<rich:panel id="idPanelUsuario">
			<f:facet name="header">
				<span>#{messages['administradordistribucion_agregar_usuario']}</span>
			</f:facet>
			<h:form>
				<h:messages globalOnly="false" styleClass="message" />

				<h:panelGrid id="panelCrearDestinatario">
					<h:panelGrid columns="9">
						<h:panelGroup rendered="false">
							<h:outputText
								value="#{messages['administradordistribucion_organizaciondp']}"
								style="font-weight: bold;" />
							<br />
							<h:selectOneMenu
								value="#{administradorDistribucion.organizacion}"
								id="organizacionlist" styleClass="input350">
								<a4j:support
									action="#{administradorDistribucion.buscarDivisiones}"
									event="onchange" reRender="panelCrearDestinatario"
									ajaxSingle="true" />
								<f:selectItems
									value="#{administradorDistribucion.listOrganizacion}" />
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup rendered="false">
							<h:outputText
								value="#{messages['administradordistribucion_divisiondp']}"
								style="font-weight: bold;" />
							<br />
							<h:selectOneMenu value="#{administradorDistribucion.division}"
								id="divisionlist" styleClass="input350">
								<a4j:support
									action="#{administradorDistribucion.buscarDepartamentos}"
									event="onchange" reRender="panelCrearDestinatario"
									ajaxSingle="true" />
								<f:selectItems value="#{administradorDistribucion.listDivision}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup>
							<h:outputLabel
								value="#{messages['administradordistribucion_departamento']}"
								styleClass="name" />
							<h:outputLabel value=":" style="font-weight:bold" />
							<h:selectOneMenu
								value="#{administradorDistribucion.departamento}"
								id="departamentolist" required="true" styleClass="input250">
								<a4j:support
									action="#{administradorDistribucion.buscarUnidadesOrganizacionales}"
									event="onchange" reRender="panelCrearDestinatario"
									ajaxSingle="true" />
								<f:selectItems
									value="#{administradorDistribucion.listDepartamento}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<rich:separator width="20px" style="background:transparent;" />
						<h:panelGroup>

							<h:outputLabel
								value="#{messages['administradordistribucion_unidad']}"
								styleClass="name" />
							<h:outputLabel value=":" style="font-weight:bold" />
							<h:selectOneMenu
								value="#{administradorDistribucion.unidadOrganizacional}"
								id="uolist" required="true" styleClass="input250">
								<a4j:support action="#{administradorDistribucion.buscarCargos}"
									event="onchange"
									reRender="panelCrearDestinatario, idTablePersonas "
									ajaxSingle="true" />
								<f:selectItems
									value="#{administradorDistribucion.listUnidadesOrganizacionales}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<rich:separator width="20px" style="background:transparent;" />
						<h:panelGroup>
							<h:outputLabel
								value="#{messages['administradordistribucion_cargo']}"
								styleClass="name" />
							<h:outputLabel value=":" style="font-weight:bold" />
							<h:selectOneMenu id="cargoList" required="true"
								value="#{administradorDistribucion.cargo}" styleClass="input250">
								<a4j:support
									action="#{administradorDistribucion.buscarPersonas}"
									event="onchange" reRender="idTablePersonas" ajaxSingle="true" />
								<f:selectItems value="#{administradorDistribucion.listCargos}" />
							</h:selectOneMenu>
						</h:panelGroup>

					</h:panelGrid>


				</h:panelGrid>
				<h:panelGrid columns="4" style="padding-left:2px;">
					<a4j:commandButton
						value="#{messages['administradordistribucion_guardar']}"
						action="#{administradorDistribucion.guardarPersona}"
						reRender="idPanelUsuario, panelAgregarDestinatario, idPanelTablePersonas" />
					<a4j:commandButton
						onclick="Richfaces.showModalPanel('panelImportarUsuario')"
						value="#{messages['administradordistribucion_importar_usuario']}"
						rendered="false"
						reRender="idTablePersonas, idPanelUsuario, idPanelUsuarios"
						immediate="true" ajaxSingle="true" />
					<h:commandButton action="#{administradorDistribucion.end}"
						value="#{messages['administradordistribucion_volver']}"
						immediate="true" />
					<a4j:commandButton
						value="#{messages['administradordistribucion_limpiar']}"
						action="#{administradorDistribucion.limpiarFormulario()}"
						reRender="idPanelUsuario, idPanelUsuarios, idPanelTablePersonas"
						ajaxSingle="true" />
				</h:panelGrid>
			</h:form>
		</rich:panel>

		<br />
		<rich:panel>
			<f:facet name="header">
				<span>#{messages['administradordistribucion_resultado_de_busqueda']}</span>
			</f:facet>
			<rich:panel id="idPanelTablePersonas">
				<h:form>
					<rich:dataTable width="100%" id="idTablePersonas"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="#{administradorDistribucion.personas}" var="varPersona">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column style="text-align:left;">
									<h:outputLabel
										value="#{messages['administradordistribucion_rut']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administradordistribucion_id']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administradordistribucion_nombre']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administradordistribucion_apellido_paterno']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administradordistribucion_apellido_materno']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administradordistribucion_e-mail']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administradordistribucion_usuario']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administradordistribucion_iniciales']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administradordistribucion_pertenece']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="varPersona">
							<rich:column>
								<h:outputLabel value="#{varPersona.rutFormat}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.idPersona}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.nombres}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.apellidoPaterno}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.apellidoMaterno}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.email}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.usuario}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.iniciales}" />
							</rich:column>
							<rich:column style="text-align:center;">
								<h:selectBooleanCheckbox
									value="#{administradorDistribucion.estados.get(varPersona.id)}">
									<a4j:support event="onchange"
										action="#{administradorDistribucion.setPersona(varPersona.id, !administradorDistribucion.estados.get(varPersona.id)) }"
										immediate="true" reRender="idTablePersonas" />

								</h:selectBooleanCheckbox>

							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</h:form>
			</rich:panel>

		</rich:panel>

		<rich:modalPanel id="panelBuscarUsuario" resizeable="false"
			height="150" width="320">
			<f:facet name="header">
				<h:outputText
					value="#{messages['administradordistribucion_buscar_usuario']}"
					style="background-image:url(../imagenes/mpublico/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelBuscarUsuario')"
					reRender="idTablePersonas, idPanelUsuarios">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:panelGrid columns="2">
					<h:outputText
						value="#{messages['administradordistribucion_usuariodp']}" />
					<h:inputText value="#{administradorDistribucion.user}" />
					<h:outputText
						value="#{messages['administradordistribucion_nombredp']}" />
					<h:inputText value="#{administradorDistribucion.persona.nombres}" />
					<h:outputText
						value="#{messages['administradordistribucion_apellidodp']}" />
					<h:inputText
						value="#{administradorDistribucion.persona.apellidoPaterno}" />
				</h:panelGrid>
				<a4j:commandButton
					value="#{messages['administradordistribucion_volver']}"
					reRender="idTablePersonas, idPanelUsuarios"
					onclick="Richfaces.hideModalPanel('panelBuscarUsuario')"
					immediate="true" status="Richfaces.hideModalPanel('panelEspera')" />
				<a4j:commandButton
					value="#{messages['administradordistribucion_buscar']}"
					reRender="idTablePersonas, idPanelUsuarios"
					action="#{administradorDistribucion.buscarUsuario()}"
					onclick="Richfaces.hideModalPanel('panelBuscarUsuario')"
					immediate="false">
					<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
						onstop="Richfaces.hideModalPanel('panelEspera')" />
				</a4j:commandButton>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelImportarUsuario" resizeable="false"
			height="150" width="320">
			<f:facet name="header">
				<h:outputText
					value="#{messages['administradordistribucion_importar_usuario']}"
					style="background-image:url(../imagenes/mpublico/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelBuscarUsuario')"
					reRender="idTablePersonas, idPanelUsuarios">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:panelGrid columns="2">
					<h:outputText
						value="#{messages['administradordistribucion_rutdp']}" />
					<h:inputText value="#{administradorDistribucion.persona.rut}" />
				</h:panelGrid>
				<a4j:commandButton
					value="#{messages['administradordistribucion_volver']}"
					reRender="idTablePersonas, idPanelUsuarios"
					onclick="Richfaces.hideModalPanel('panelImportarUsuario')"
					immediate="true" />
				<a4j:commandButton
					value="#{messages['administradordistribucion_buscar']}"
					reRender="grillaID, panelCrearDestinatario, idPanelUsuario"
					action="#{administradorDistribucion.importarPersona()}"
					onclick="Richfaces.hideModalPanel('panelImportarUsuario')"
					immediate="false" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['administradordistribucion_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['administradordistribucion_espere_mientras_se_realiza_la_accion']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>

