<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel>
			<f:facet name="header">#{messages['administradorinstitucion_crear_institucion']}</f:facet>

			<h:form id="formCrearInstitucion">
				<h:panelGrid columns="2" style="textAlign: center;">
					<s:decorate template="../layout/display.xhtml">
						<ui:define name="label">#{messages['administradorinstitucion_nombre_instituciondp']}</ui:define>
					</s:decorate>
					<s:decorate template="../layout/display.xhtml">
						<h:inputText id="nombreInstitucion"
							value="#{adminInstitucion.nombreInstitucion}"
							style="width:300px;" maxlength="100" />
					</s:decorate>
					<s:decorate template="../layout/display.xhtml">
						<ui:define name="label">#{messages['administradorinstitucion_urldp']}</ui:define>
					</s:decorate>
					<s:decorate template="../layout/display.xhtml">
						<h:inputText id="url" value="#{adminInstitucion.url}"
							style="width:300px;" maxlength="100" />
					</s:decorate>
					<s:decorate template="../layout/display.xhtml">
						<ui:define name="label">#{messages['administradorinstitucion_localdp']}</ui:define>
					</s:decorate>
					<s:decorate template="../layout/display.xhtml">
						<h:selectBooleanCheckbox value="#{adminInstitucion.local}" />
					</s:decorate>

				</h:panelGrid>



				<br />
				<br />

				<a4j:commandButton action="#{adminInstitucion.crearInstitucion()}"
					value="#{messages['administradorinstitucion_crear_institucion']}"
					reRender="formCrearInstitucion, outPanelVerInstitucion"
					rendered="#{adminInstitucion.flag == 0}" />
				<a4j:commandButton
					action="#{adminInstitucion.modificarInstitucion()}"
					value="#{messages['administradorinstitucion_modificar_institucion']}"
					reRender="formCrearInstitucion, outPanelVerInstitucion"
					rendered="#{adminInstitucion.flag == 1}" />
				<a4j:commandButton action="#{adminInstitucion.limpiarFormulario()}"
					value="#{messages['administradorinstitucion_limpiar_formulario']}"
					reRender="formCrearInstitucion" />
				<a4j:commandButton action="#{adminInstitucion.end()}"
					value="#{messages['administradorinstitucion_volver_a_inicio']}" />
			</h:form>

		</rich:panel>
		<br />

		<rich:panel id="panelVerInstitucion">
			<f:facet name="header">#{messages['administradorinstitucion_instituciones_existentes']}</f:facet>

			<h:form id="formVerInstitucion">
				<a4j:outputPanel id="outPanelVerInstitucion">
					<rich:dataTable id="tablaInstitucion"
						value="#{adminInstitucion.listInstitucion}" var="institucion">
						<rich:column>
							<f:facet name="header">#{messages['administradorinstitucion_institucion']}</f:facet>
							<h:outputText value="#{institucion.descripcion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorinstitucion_url_web_service']}</f:facet>
							<h:outputText value="#{institucion.url}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorinstitucion_local']}</f:facet>
							<h:outputText value="#{institucion.local}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorinstitucion_ver']}</f:facet>
							<a4j:commandButton
								action="#{adminInstitucion.cargarInstitucion(institucion.id)}"
								image="/imagenes/ver_detalle_01.gif" style="border: none;"
								reRender="formCrearInstitucion" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorinstitucion_eliminar']}</f:facet>
							<a4j:commandButton
								action="#{adminInstitucion.eliminarInstitucion(institucion)}"
								immediate="true" image="/imagenes/ico_bot_eliminar.gif"
								reRender="formVerInstitucion, formCrearInstitucion" />
						</rich:column>
					</rich:dataTable>
				</a4j:outputPanel>
			</h:form>

		</rich:panel>
	</ui:define>

</ui:composition>
