<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich" template="layout/template.xhtml">

	<ui:define name="body">

		<rich:panel>
			<f:facet name="header">#{messages['administradorroles_administradorroles']}</f:facet>

			<div class="dialog">
				<div class="prop">
					<span class="name">#{messages['administradorroles_value']}</span> <span
						class="value">#{administradorRoles.value}</span>
				</div>
			</div>

			<div style="clear: both" />

		</rich:panel>

		<h:form id="administradorRoles">
			<div class="actionButtons">
				<h:commandButton id="begin"
					value="#{messages['administradorroles_begin']}"
					action="#{administradorRoles.begin}"
					rendered="#{not conversation.longRunning}" />
				<h:commandButton id="inc"
					value="#{messages['administradorroles_increment']}"
					action="#{administradorRoles.increment}"
					rendered="#{conversation.longRunning}" />
				<h:commandButton id="end"
					value="#{messages['administradorroles_end']}"
					action="#{administradorRoles.end}"
					rendered="#{conversation.longRunning}" />
			</div>
		</h:form>

	</ui:define>

</ui:composition>
