<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">

		<rich:panel id="panelAgregar">
			<f:facet name="header">
				<span>#{messages['administradorpersonasexternas_agregar_nueva_persona_externa']}</span>
			</f:facet>
			<h:messages globalOnly="false" styleClass="message" />
			<h:form id="formMantenedor">
				<h:panelGrid columns="6">

					<h:outputText
						value="#{messages['administradorpersonasexternas_nombredp']}"
						style="font-weight: bold;" />
					<h:outputText value="*" style="color:Red;" />
					<h:inputText required="true" id="nombre"
						value="#{administradorPersonasExternas.personaExterna.nombres}"
						maxlength="250" styleClass="input200"
						validator="#{regexValidator.validate}"
						requiredMessage="Debe ingresar un nombre">
						<f:attribute name="regexExcl" value="" />
					</h:inputText>

					<h:outputText
						value="#{messages['administradorpersonasexternas_rutdp']}"
						style="font-weight: bold;" />
					<h:outputText value="" />
					<h:inputText required="false" id="rut" 
						value="#{administradorPersonasExternas.personaExterna.rut}"
						validator="#{rutCustomValidator.validate}"
						converter="#{rutConverter}" styleClass="input100" maxlength="10"
						validatorMessage="Rut no valido">
					</h:inputText>

					<h:outputText
						value="#{messages['administradorpersonasexternas_e-maildp']}"
						style="font-weight: bold;" />
					<h:outputText value="" />
					<h:inputText id="email" required="false"
						value="#{administradorPersonasExternas.personaExterna.email}"
						styleClass="input200" maxlength="50"
						validator="#{mailValidator.validate}"
						validatorMessage="E-mail no valido">
					</h:inputText>

					<h:outputText
						value="#{messages['administradorpersonasexternas_dependencia_externadp']}"
						style="font-weight: bold;" />
					<h:outputText value="*" style="color:red;" />
					<h:selectOneMenu
						value="#{administradorPersonasExternas.dependencia}"
						id="dependenciaList" required="true" styleClass="input200">
						<f:selectItems
							value="#{administradorPersonasExternas.dependencias}" />
					</h:selectOneMenu>
					
					<h:outputText
						value="#{messages['administradorpersonasexternas_vigente']}"
						style="font-weight: bold;" />
					<h:outputText value="" />
					<h:selectBooleanCheckbox value="#{administradorPersonasExternas.personaExterna.vigente}" />
				</h:panelGrid>
				<h:panelGrid columns="3" id="panelBotones">
					<a4j:commandButton
						value="#{messages['administradorpersonasexternas_guardar']}"
						id="botonAgregar"
						rendered="#{!administradorPersonasExternas.editando}"
						action="#{administradorPersonasExternas.crearNuevo}"
						reRender="panelLista, panelAgregar, formMantenedor">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />
					</a4j:commandButton>
					<a4j:commandButton
						value="#{messages['administradorpersonasexternas_editar']}"
						id="botonModificar"
						rendered="#{administradorPersonasExternas.editando}"
						action="#{administradorPersonasExternas.editar()}"
						reRender="tablaPanelLista, panelLista, panelAgregar, formMantenedor">
					</a4j:commandButton>
					<a4j:commandButton 
						value="#{messages['administradorpersonasexternas_limpiar']}"
						id="botonLimpiar"
						reRender="rut, email, nombre, dependenciaList, panelLista, panelBotones"
						onclick="document.getElementById('formMantenedor:rut').value='';document.getElementById('formMantenedor:email').value='';"
						action="#{administradorPersonasExternas.limpiar()}" >
					</a4j:commandButton>
				</h:panelGrid>
			</h:form>
		</rich:panel>


		<br />

		<rich:panel id="panelLista"
			style="text-align:left; padding-left:0px; margin-bottom:10px; ">
			<f:facet name="header">
				<span>#{messages['administradorpersonasexternas_lista_de_personas_externas']}</span>
			</f:facet>
			<h:form>
				<rich:dataTable width="100%" id="tablaPanelLista"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="#{administradorPersonasExternas.personasExternas}" var="var"
					rendered="#{not empty administradorPersonasExternas.personasExternas}">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column style="text-align: left;">
								<h:outputLabel
									value="#{messages['administradorpersonasexternas_nombre']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel
									value="#{messages['administradorpersonasexternas_rut']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel
									value="#{messages['administradorpersonasexternas_dependencia_externa']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel
									value="#{messages['administradorpersonasexternas_vigente']}" />
							</rich:column>
							<rich:column
								style="width:100px; text-align: center; margin:10px;">
								<h:outputText
									value="#{messages['administradorpersonasexternas_acciones']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="var">
						<rich:column>
							<h:outputLabel value="#{var.nombres}" />
						</rich:column>
						<rich:column style="text-align: center;">
							<h:outputLabel value="#{var.rut}" />
						</rich:column>
						<rich:column style="text-align: center;">
							<h:outputLabel value="#{var.dependencia.descripcion}" disabled="true"/>
						</rich:column>
						<rich:column style="text-align: center;">
							<h:selectBooleanCheckbox value="#{var.vigente}" disabled="true"/>
						</rich:column>
						<rich:column style="width:50px; text-align: center; ">
							<a4j:htmlCommandLink
								reRender="panelAgregar, formMantenedor, botonModificar, botonAgregar"
								action="#{administradorPersonasExternas.modificar(var.id)}">
								<h:graphicImage border="0px" url="/imagenes/icon_editar.gif"
									style="border: none;" />
							</a4j:htmlCommandLink>
						</rich:column>
					</rich:subTable>
				</rich:dataTable>
			</h:form>
		</rich:panel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>

	</ui:define>

</ui:composition>

