<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<rich:panel id="idPanelCorreo" header="Correo">
			<f:facet name="header">
				<span>#{messages['administrarconfiguracion_propiedades_correo']}</span>
			</f:facet>
			<h:form>
				<h:messages globalOnly="false" styleClass="message" />
				<h:panelGrid id="grillaID">
					<h:panelGroup>
						<h:outputText
							value="#{messages['administrarconfiguracion_smtp_hostnamedp']}"
							style="font-weight: bold;" class="name" />
						<h:inputText
							value="#{administradorConfiguracion.mail.smtpHostname}">
							<a4j:support event="onblur" reRender="idPanelCorreo"></a4j:support>
						</h:inputText>
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText
							value="#{messages['administrarconfiguracion_smtp_usuario_autordp']}"
							style="font-weight: bold;" class="name" />
						<h:inputText value="#{administradorConfiguracion.mail.smtpAuth}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText
							value="#{messages['administrarconfiguracion_smtp_password_autordp']}"
							style="font-weight: bold;" class="name" />
						<h:inputSecret value="#{administradorConfiguracion.mail.smtpPwd}" />
					</h:panelGroup>

					<h:panelGroup>
						<h:outputText
							value="#{messages['administrarconfiguracion_smtp_lista_de_ccdp']}"
							style="font-weight: bold;" class="name" />
						<h:inputText value="#{administradorConfiguracion.mail.smtpCC}" />
					</h:panelGroup>

					<h:panelGroup>
						<h:outputText
							value="#{messages['administrarconfiguracion_smtp_separador_lista_de_ccdp']}"
							style="font-weight: bold;" class="name" />
						<h:inputText
							value="#{administradorConfiguracion.mail.smtpCCSeparator}" />
					</h:panelGroup>

					<h:panelGroup>
						<h:outputText
							value="#{messages['administrarconfiguracion_correo_activodp']}"
							style="font-weight: bold;" class="name" />
						<h:selectBooleanCheckbox
							value="#{administradorConfiguracion.mail.active}" />
					</h:panelGroup>
				</h:panelGrid>



				<h:panelGrid columns="3" style="padding-left:2px;">
					<a4j:commandButton
						value="#{messages['administrarconfiguracion_guardar']}"
						action="#{administradorConfiguracion.guardarConfiguracion}"
						reRender="idPanelCorreo" />

					<h:commandButton action="#{administradorConfiguracion.end}"
						value="#{messages['administrarconfiguracion_volver']}"
						immediate="true" />
					<a4j:commandButton
						value="#{messages['administrarconfiguracion_limpiar']}"
						action="#{administradorConfiguracion.limpiarFormulario()}"
						reRender="idPanelCorreo" />
				</h:panelGrid>
			</h:form>
		</rich:panel>



	</ui:define>

</ui:composition>

