<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">

		<rich:panel id="idPanelUsuarios">
			<f:facet name="header">
				<span>#{messages['administrarroles_buscar_usuarios_del_sistema']}</span>
			</f:facet>
			<h:form>
				<h:messages globalOnly="false" styleClass="message" />
				<h:panelGrid id="panelAgregarDestinatario" columns="3">
					<h:outputLabel rendered="true"
						value="#{messages['administrarroles_organizacion']}"
						styleClass="name" />
					<h:outputLabel rendered="true" value=":" style="font-weight: bold;" />
					<h:selectOneMenu rendered="true"
						value="#{administradorRoles.organizacion}" styleClass="input250"
						id="organizacionlist">
						<a4j:support action="#{administradorRoles.buscarDivisiones}"
							event="onchange" reRender="panelAgregarDestinatario" />
						<f:selectItems value="#{administradorRoles.listOrganizacion}" />
					</h:selectOneMenu>

					<h:outputText rendered="true"
						value="#{messages['administrarroles_division']}" styleClass="name" />
					<h:outputLabel rendered="true" value=":" style="font-weight: bold;" />
					<h:selectOneMenu rendered="true"
						value="#{administradorRoles.division}" styleClass="input250"
						id="divisionlist">
						<a4j:support action="#{administradorRoles.buscarDepartamentos}"
							event="onchange" reRender="panelAgregarDestinatario" />
						<f:selectItems value="#{administradorRoles.listDivision}" />
					</h:selectOneMenu>

					<h:outputText value="#{messages['administrarroles_departamento']}"
						styleClass="name" />
					<h:outputLabel value=":" style="font-weight: bold;" />
					<h:selectOneMenu value="#{administradorRoles.departamento}"
						styleClass="input250" id="departamentolist">
						<a4j:support
							action="#{administradorRoles.buscarUnidadesOrganizacionales}"
							event="onchange" reRender="panelAgregarDestinatario" />
						<f:selectItems value="#{administradorRoles.listDepartamento}" />
					</h:selectOneMenu>

					<h:outputText value="#{messages['administrarroles_unidad']}"
						styleClass="name" />
					<h:outputLabel value=":" style="font-weight: bold;" />
					<h:selectOneMenu value="#{administradorRoles.unidadOrganizacional}"
						styleClass="input250" id="uolist">
						<a4j:support action="#{administradorRoles.buscarCargos}"
							event="onchange" reRender="panelAgregarDestinatario" />
						<f:selectItems
							value="#{administradorRoles.listUnidadesOrganizacionales}" />
					</h:selectOneMenu>

					<h:outputText value="#{messages['administrarroles_cargo']}"
						styleClass="name" />
					<h:outputLabel value=":" style="font-weight: bold;" />

					<h:selectOneMenu id="cargoList" styleClass="input250"
						value="#{administradorRoles.cargo}">
						<a4j:support action="#{administradorRoles.buscarPersonas}"
							event="onchange"
							reRender="panelAgregarDestinatario, idPanelUsuarios" />
						<f:selectItems value="#{administradorRoles.listCargos}" />
					</h:selectOneMenu>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<a4j:commandButton
						onclick="Richfaces.showModalPanel('panelBuscarUsuario')"
						value="#{messages['administrarroles_buscar_usuario']}"
						rendered="true" reRender="idTablePersonas, idPanelUsuarios"
						immediate="true" />
				</h:panelGrid>
			</h:form>
			<h:form>
				<rich:panel rendered="#{not empty administradorRoles.personas}">
					<f:facet name="header">
						<span>#{messages['administrarroles_resultado_de_la_busqueda']}</span>
					</f:facet>
					<rich:dataTable width="100%" id="idTablePersonas"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="#{administradorRoles.personas}" var="varPersona"
						rendered="#{not empty administradorRoles.personas}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputLabel value="#{messages['administrarroles_rut']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel value="#{messages['administrarroles_id']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel value="#{messages['administrarroles_nombre']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administrarroles_apellido_paterno']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administrarroles_apellido_materno']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel value="#{messages['administrarroles_e-mail']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel value="#{messages['administrarroles_usuario']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administrarroles_iniciales']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel value="#{messages['administrarroles_vigente']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administrarroles_fecha_no_vigente']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['administrarroles_modificar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="varPersona">
							<rich:column>
								<h:outputLabel value="#{varPersona.rut}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.idPersona}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.nombres}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.apellidoPaterno}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.apellidoMaterno}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.email}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.usuario}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.iniciales}" />
							</rich:column>
							<rich:column>
								<h:selectBooleanCheckbox value="#{varPersona.vigente}"
									disabled="true" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.fechaNoVigente}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
										timeZone="#{customizacion.getPropiedad('timezone')}" />
								</h:outputLabel>
							</rich:column>
							<rich:column>
								<a4j:commandButton image="/imagenes/ver_detalle_01.gif"
									style="border: none;"
									reRender="formPanelRoles, idPanelRoles, idPanelUsuarios"
									action="#{administradorRoles.modificar(varPersona.id)}"
									immediate="true" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</rich:panel>
			</h:form>
		</rich:panel>
		<br />
		<h:form id="formPanelRoles">
			<rich:panel id="idPanelRoles"
				rendered="#{not empty administradorRoles.personaSeleccionada}">
				<f:facet name="header">#{messages['administrarroles_usuario_del_sistema']}</f:facet>
				<rich:dataTable width="100%" id="idTablePersonaSeleccionada"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="#{administradorRoles.personaSeleccionada}" var="varPersona"
					rendered="#{not empty administradorRoles.personaSeleccionada}">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column>
								<h:outputLabel value="#{messages['administrarroles_rut']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['administrarroles_id']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['administrarroles_nombre']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel
									value="#{messages['administrarroles_apellido_paterno']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel
									value="#{messages['administrarroles_apellido_materno']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['administrarroles_e-mail']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['administrarroles_usuario']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['administrarroles_iniciales']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['administrarroles_vigente']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel
									value="#{messages['administrarroles_fecha_no_vigente']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="varPersona">
						<rich:column>
							<h:outputLabel value="#{varPersona.rut}" />
						</rich:column>
						<rich:column>
							<h:outputLabel value="#{varPersona.idPersona}" />
						</rich:column>
						<rich:column>
							<h:outputLabel value="#{varPersona.nombres}" />
						</rich:column>
						<rich:column>
							<h:outputLabel value="#{varPersona.apellidoPaterno}" />
						</rich:column>
						<rich:column>
							<h:outputLabel value="#{varPersona.apellidoMaterno}" />
						</rich:column>
						<rich:column>
							<h:outputLabel value="#{varPersona.email}" />
						</rich:column>
						<rich:column>
							<h:outputLabel value="#{varPersona.usuario}" />
						</rich:column>
						<rich:column>
							<h:outputLabel value="#{varPersona.iniciales}" />
						</rich:column>
						<rich:column>
							<h:selectBooleanCheckbox value="#{varPersona.vigente}"
								disabled="true" />
						</rich:column>
						<rich:column>
							<h:outputLabel value="#{varPersona.fechaNoVigente}">
								<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputLabel>
						</rich:column>
					</rich:subTable>
				</rich:dataTable>
				<br />

				<rich:dataTable width="30%" id="idTableRoles"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="#{administradorRoles.roles}" var="varRol"
					rendered="#{not empty administradorRoles.personaSeleccionada}"
					style=" width : 494px;">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column>
								<h:outputLabel
									value="#{messages['administrarroles_descripcion']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel
									value="#{messages['administrarroles_seleccionar']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="varRol">
						<rich:column>
							<h:outputLabel value="#{varRol.descripcion}" />
						</rich:column>
						<rich:column>
							<h:selectBooleanCheckbox
								value="#{administradorRoles.selectRoles[varRol.id]}">
							</h:selectBooleanCheckbox>
						</rich:column>
					</rich:subTable>
				</rich:dataTable>

				<h:panelGrid columns="3">
					<a4j:commandButton value="#{messages['administrarroles_guardar']}"
						action="#{administradorRoles.asociarRolPersona()}"
						reRender="idPanelRoles, idPanelUsuarios" />
					<h:commandButton action="#{administradorRoles.end}"
						value="#{messages['administrarroles_volver']}" immediate="true" />
					<a4j:commandButton
						value="#{messages['administrarroles_limpiar_formulario']}"
						action="#{administradorRoles.limpiarFormulario()}"
						reRender="formPanelRoles, idPanelUsuarios" />
				</h:panelGrid>
			</rich:panel>
		</h:form>

		<rich:modalPanel id="panelBuscarUsuario" resizeable="false"
			height="150" width="320">
			<f:facet name="header">
				<h:outputText value="#{messages['administrarroles_buscar_usuario']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelBuscarUsuario')"
					reRender="idTablePersonas, idPanelUsuarios">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:panelGrid columns="2">
					<h:outputText value="#{messages['administrarroles_usuariodp']}" />
					<h:inputText value="#{administradorRoles.user}" />
					<h:outputText value="#{messages['administrarroles_nombredp']}" />
					<h:inputText value="#{administradorRoles.persona.nombres}" />
					<h:outputText value="#{messages['administrarroles_apellidodp']}" />
					<h:inputText value="#{administradorRoles.persona.apellidoPaterno}" />
				</h:panelGrid>
				<a4j:commandButton value="#{messages['administrarroles_volver']}"
					reRender="idTablePersonas, idPanelUsuarios"
					onclick="Richfaces.hideModalPanel('panelBuscarUsuario')"
					immediate="true" />
				<a4j:commandButton value="#{messages['administrarroles_buscar']}"
					reRender="idTablePersonas, idPanelUsuarios"
					action="#{administradorRoles.buscarUsuario()}"
					onclick="Richfaces.hideModalPanel('panelBuscarUsuario')"
					immediate="false" />
			</h:form>
		</rich:modalPanel>

	</ui:define>

</ui:composition>

