<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">

		<rich:panel id="idPanelUsuario">
			<f:facet name="header">
				<span>#{messages['administrarpersona_agregar_usuario']}</span>
			</f:facet>
			<h:form>
				<h:messages globalOnly="false" styleClass="message" />
				<h:panelGrid id="grillaID" columns="6">
					<h:outputText value="#{messages['administrarpersona_rutdp']}"
						style="font-weight: bold;" class="name" />
					<h:inputText value="#{administradorPersona.persona.rut}"
						style=" width : 199px;" validator="#{rutCustomValidator.validate}"
						converter="#{rutConverter}" validatorMessage="Rut invalido"
						required="true" requiredMessage="Rut obligatorio">
					</h:inputText>
					<h:outputText value="#{messages['administrarpersona_nombresdp']}"
						style="font-weight: bold;" class="name" />
					<h:inputText value="#{administradorPersona.persona.nombres}"
						style=" width : 157px;" validator="#{regexValidator.validate}"
						required="true" requiredMessage="Nombres obligatorio" />
					<h:outputText
						value="#{messages['administrarpersona_apellido_paternodp']}"
						style="font-weight: bold;" class="name" />
					<h:inputText
						value="#{administradorPersona.persona.apellidoPaterno}"
						required="true" validator="#{regexValidator.validate}"
						requiredMessage="Apellido Paterno obligatorio"
						style=" width : 169px;" />
					<h:outputText
						value="#{messages['administrarpersona_apellido_maternodp']}"
						style="font-weight: bold;" class="name" />
					<h:inputText
						value="#{administradorPersona.persona.apellidoMaterno}"
						required="true" validator="#{regexValidator.validate}"
						requiredMessage="Apellido Materno obligatorio"
						style=" width : 169px;" />
					<h:outputText value="#{messages['administrarpersona_emaildp']}"
						style="font-weight: bold;" class="name" />
					<h:inputText value="#{administradorPersona.persona.email}"
						style="width:200px;" validator="#{mailValidator.validate}"
						required="true" requiredMessage="Email obligatorio">
						<a4j:support event="onblur" reRender="idPanelUsuario"></a4j:support>
					</h:inputText>
					<h:outputText value="#{messages['administrarpersona_usuariodp']}"
						style="font-weight: bold;" class="name" />
					<h:inputText value="#{administradorPersona.persona.usuario}"
						required="true" validator="#{regexValidator.validate}"
						requiredMessage="Usuario obligatorio" style=" width : 155px;" />
					<h:outputText value="#{messages['administrarpersona_inicialesdp']}"
						style="font-weight: bold;" class="name" />
					<h:inputText value="#{administradorPersona.persona.iniciales}"
						validator="#{regexValidator.validate}" required="true"
						requiredMessage="Iniciales obligatorio" style=" width : 172px;" />
					<h:outputText value="#{messages['administrarpersona_iddp']}"
						style="font-weight: bold;" class="name" />
					<h:inputText label="ID"
						value="#{administradorPersona.persona.idPersona}" id="val_num_ID"
						style=" width : 169px;" />
					<h:outputText
						value="#{messages['administrarpersona_persona_vigentedp']}"
						style="font-weight: bold;" class="name" />
					<h:selectBooleanCheckbox
						value="#{administradorPersona.persona.vigente}" />
					<h:outputText
						value="#{messages['administrarpersona_fecha_no_vigentedp']}"
						style="font-weight: bold;width : 155px;" class="name" />
					<rich:calendar popup="true" datePattern="dd/MM/yyyy"
						pattern="dd/MM/yyyy"
						value="#{administradorPersona.persona.fechaNoVigente}"
						enableManualInput="false" required="false"
						requiredMessage="Fecha No Vigente obligatorio." />
				</h:panelGrid>

				<h:panelGrid columns="3" rendered="false">
					<h:panelGroup id="idAdjuntarArchivo">
						<h:outputText
							value="#{messages['administrarpersona_certificadodp']}"
							style="font-weight: bold;" class="name" />
						<rich:fileUpload id="fileUpload" immediateUpload="true"
							maxFilesQuantity="1" acceptedTypes="*" listHeight="60px"
							listWidth="258" addControlLabel="Agregar"
							fileUploadListener="#{administradorPersona.listener}">
							<a4j:support event="onclear" reRender="idAdjuntarArchivo" />
						</rich:fileUpload>
					</h:panelGroup>

					<h:panelGroup>
						<h:outputText
							value="#{messages['administrarpersona_password_certificadodp']}"
							style="font-weight: bold;" class="name" />
						<h:inputSecret id="keyPassPersona"
							value="#{administradorPersona.persona.keyStorePassword}"
							redisplay="true" />
					</h:panelGroup>

					<h:panelGroup>
						<h:outputText
							value="#{messages['administrarpersona_usuario_certificadodp']}"
							style="font-weight: bold;" class="name" />
						<h:inputText id="keyAliasPersona"
							value="#{administradorPersona.persona.keyStoreAlias}" />
					</h:panelGroup>
				</h:panelGrid>

				<h:panelGrid id="panelCrearDestinatario">
					<h:panelGrid columns="3">
						<h:panelGroup rendered="true">
							<h:outputText
								value="#{messages['administrarpersona_organizaciondp']}"
								style="font-weight: bold;" />
							<br />
							<h:selectOneMenu value="#{administradorPersona.organizacion}"
								id="organizacionlist" styleClass="input350">
								<a4j:support action="#{administradorPersona.buscarDivisiones}"
									event="onchange" reRender="panelCrearDestinatario"
									ajaxSingle="true" />
								<f:selectItems value="#{administradorPersona.listOrganizacion}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<s:decorate rendered="false" template="/layout/edit.xhtml"
							style="width : 10px;" />
						<h:panelGroup rendered="true">
							<h:outputText
								value="#{messages['administrarpersona_divisiondp']}"
								style="font-weight: bold;" />
							<br />
							<h:selectOneMenu value="#{administradorPersona.division}"
								id="divisionlist" styleClass="input350">
								<a4j:support
									action="#{administradorPersona.buscarDepartamentos}"
									event="onchange" reRender="panelCrearDestinatario"
									ajaxSingle="true" />
								<f:selectItems value="#{administradorPersona.listDivision}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup>
							<h:outputText
								value="#{messages['administrarpersona_departamentodp']}"
								style="font-weight: bold;" />
							<br />
							<h:selectOneMenu value="#{administradorPersona.departamento}"
								id="departamentolist" required="true" styleClass="input350">
								<a4j:support
									action="#{administradorPersona.buscarUnidadesOrganizacionales}"
									event="onchange" reRender="panelCrearDestinatario"
									ajaxSingle="true" />
								<f:selectItems value="#{administradorPersona.listDepartamento}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup>
							<h:outputText value="#{messages['administrarpersona_unidaddp']}"
								style="font-weight: bold;" />
							<br />
							<h:selectOneMenu
								value="#{administradorPersona.unidadOrganizacional}" id="uolist"
								required="true" styleClass="input350">
								<a4j:support action="#{administradorPersona.buscarCargos}"
									event="onchange" reRender="panelCrearDestinatario"
									ajaxSingle="true" />
								<f:selectItems
									value="#{administradorPersona.listUnidadesOrganizacionales}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup>
							<h:outputText value="#{messages['administrarpersona_cargodp']}"
								style="font-weight: bold;" />
							<br />
							<h:selectOneMenu id="cargoList" required="true"
								value="#{administradorPersona.cargo}" styleClass="input350">
								<a4j:support action="#{administradorPersona.buscarPersonas}"
									event="onchange" reRender="panelCrearDestinatario"
									ajaxSingle="true" />
								<f:selectItems value="#{administradorPersona.listCargos}" />
							</h:selectOneMenu>
						</h:panelGroup>

						<s:decorate template="/layout/edit.xhtml" rendered="false" />
						<h:panelGroup rendered="false">
							<h:outputText value="#{messages['administrarpersona_externo']}"
								style="font-weight: bold;" />
							<br />
							<h:selectBooleanCheckbox
								value="#{administradorPersona.persona.externo}">
								<a4j:support action="#{administradorPersona.actualizar}"
									event="onclick" reRender="panelCrearDestinatario" />
							</h:selectBooleanCheckbox>
						</h:panelGroup>
						<h:panelGroup rendered="#{administradorPersona.persona.externo}">
							<h:outputText
								value="#{messages['administrarpersona_institucion']}"
								style="font-weight: bold;" />
							<br />
							<h:selectOneMenu value="#{administradorPersona.institucion}"
								id="institucionList" styleClass="input350">
								<f:selectItems value="#{administradorPersona.listInstitucion}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup rendered="false">
							<h:outputText
								value="#{messages['administrarpersona_tipo_de_firmadp']}"
								style="font-weight: bold;" class="name" />
							<br />
							<h:panelGroup>
								<h:selectOneRadio value="#{administradorPersona.tipoFirma}">
									<f:selectItem itemValue="1"
										itemLabel="#{messages['administrarpersona_simple']}" />
									<f:selectItem itemValue="2"
										itemLabel="#{messages['administrarpersona_avanzada']}" />
								</h:selectOneRadio>
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGrid>

					<h:panelGrid columns="2" id="idAdjuntarImagenFirmaGrid"
						rendered="true">
						<h:panelGroup id="idAdjuntarImagenFirma">
							<h:outputText
								value="#{messages['administrarpersona_imagen_firmadp']}"
								style="font-weight: bold;" class="name" />
							<rich:fileUpload id="fileUploadImagenFirma"
								immediateUpload="true" maxFilesQuantity="1"
								acceptedTypes="jpg, jpeg, gif, bmp" listHeight="60px"
								listWidth="250" addControlLabel="Agregar"
								ontyperejected="alert('Debe seleccionar un archivo con alguna de las siguientes extensiones: jpg, jpeg, gif, bmp')"
								fileUploadListener="#{administradorPersona.listenerImagenFirma}">
								<a4j:support event="onclear" reRender="idAdjuntarImagenFirma" />
								<a4j:support event="onupload"
									reRender="idAdjuntarImagenFirmaGrid" />
							</rich:fileUpload>
						</h:panelGroup>
						<a4j:outputPanel ajaxRendered="true" rendered="#{administradorPersona.persona != null and administradorPersona.persona.imagenFirma != null}">
							<a4j:mediaOutput element="img" rendered="true"
								createContent="#{administradorPersona.verImagenFirma}"
								value="#{administradorPersona.time}" 
								cacheable="false" session="false" standby="cargando..." />
							<s:graphicImage rendered="#{fasle and administradorPersona.persona.imagenFirma != null}" value="#{administradorPersona.convertImage(administradorPersona.persona.imagenFirma)}" />
						</a4j:outputPanel>
					</h:panelGrid>

				</h:panelGrid>
				<h:panelGrid columns="4" style="padding-left:2px;">
					<a4j:commandButton
						value="#{messages['administrarpersona_guardar']}"
						action="#{administradorPersona.guardarPersona}"
						reRender="idPanelUsuario, panelAgregarDestinatario, idPanelTablePersonas" />
					<a4j:commandButton
						onclick="Richfaces.showModalPanel('panelImportarUsuario')"
						value="#{messages['administrarpersona_importar_usuario']}"
						rendered="false"
						reRender="idTablePersonas, idPanelUsuario, idPanelUsuarios"
						immediate="true" ajaxSingle="true" />
					<a4j:commandButton
						value="#{messages['administrarpersona_limpiar']}"
						action="#{administradorPersona.limpiarFormulario()}"
						reRender="idPanelUsuario, idPanelUsuarios, idPanelTablePersonas, grillaID"
						ajaxSingle="true" />
				</h:panelGrid>
			</h:form>
		</rich:panel>

		<br />
		<rich:panel id="idPanelUsuarios">
			<f:facet name="header">
				<span>#{messages['administrarpersona_usuarios_del_sistema']}</span>
			</f:facet>
			<rich:panel>
				<h:form>
					<h:panelGrid id="panelAgregarDestinatario">
						<h:panelGrid columns="3">
							<h:panelGroup rendered="true">
								<h:outputText
									value="#{messages['administrarpersona_organizacion']}"
									style="font-weight: bold;" />
								<br />
								<h:selectOneMenu value="#{administradorPersona.organizacion}"
									id="organizacionlist" styleClass="input350">
									<a4j:support action="#{administradorPersona.buscarDivisiones}"
										event="onchange" reRender="panelAgregarDestinatario" />
									<f:selectItems value="#{administradorPersona.listOrganizacion}" />
								</h:selectOneMenu>
							</h:panelGroup>
							<s:decorate rendered="false" template="/layout/edit.xhtml"
								style="width : 10px;" />
							<h:panelGroup rendered="true">
								<h:outputText value="#{messages['administrarpersona_division']}"
									style="font-weight: bold;" />
								<br />
								<h:selectOneMenu value="#{administradorPersona.division}"
									id="divisionlist" styleClass="input350">
									<a4j:support
										action="#{administradorPersona.buscarDepartamentos}"
										event="onchange" reRender="panelAgregarDestinatario" />
									<f:selectItems value="#{administradorPersona.listDivision}" />
								</h:selectOneMenu>
							</h:panelGroup>
							<h:panelGroup>
								<h:outputText
									value="#{messages['administrarpersona_departamento']}"
									style="font-weight: bold;" />
								<br />
								<h:selectOneMenu value="#{administradorPersona.departamento}"
									id="departamentolist" styleClass="input350">
									<a4j:support
										action="#{administradorPersona.buscarUnidadesOrganizacionales}"
										event="onchange" reRender="panelAgregarDestinatario" />
									<f:selectItems value="#{administradorPersona.listDepartamento}" />
								</h:selectOneMenu>
							</h:panelGroup>
							<s:decorate rendered="false" template="/layout/edit.xhtml"
								style="width : 10px;" />
							<h:panelGroup>
								<h:outputText
									value="#{messages['administrarpersona_unidad_organizacional']}"
									style="font-weight: bold;" />
								<br />
								<h:selectOneMenu
									value="#{administradorPersona.unidadOrganizacional}"
									id="uolist" styleClass="input350">
									<a4j:support action="#{administradorPersona.buscarCargos}"
										event="onchange" reRender="panelAgregarDestinatario" />
									<f:selectItems
										value="#{administradorPersona.listUnidadesOrganizacionales}" />
								</h:selectOneMenu>
							</h:panelGroup>
							<h:panelGroup>
								<h:outputText value="#{messages['administrarpersona_cargo']}"
									style="font-weight: bold;" />
								<br />
								<h:selectOneMenu id="cargoList"
									value="#{administradorPersona.cargo}" styleClass="input350">
									<a4j:support action="#{administradorPersona.buscarPersonas}"
										event="onchange" reRender="idTablePersonas, idPanelUsuarios" />
									<f:selectItems value="#{administradorPersona.listCargos}" />
								</h:selectOneMenu>
							</h:panelGroup>
							<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
							<s:decorate template="/layout/edit.xhtml" />
						</h:panelGrid>
						<a4j:commandButton
							onclick="Richfaces.showModalPanel('panelBuscarUsuario')"
							value="#{messages['administrarpersona_buscar_usuario']}"
							rendered="true" reRender="idTablePersonas, idPanelUsuarios"
							immediate="true" />
					</h:panelGrid>
				</h:form>
			</rich:panel>

		</rich:panel>

		<br />
		<rich:panel>
			<f:facet name="header">
				<span>#{messages['administrarpersona_resultado_de_busqueda']}</span>
			</f:facet>
			<rich:panel id="idPanelTablePersonas">
				<h:form>
					<rich:dataTable width="100%" id="idTablePersonas"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="#{administradorPersona.personas}" var="varPersona">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column style="text-align:left;">
									<h:outputLabel value="#{messages['administrarpersona_rut']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel value="#{messages['administrarpersona_id']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel value="#{messages['administrarpersona_nombre']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administrarpersona_apellido_paterno']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administrarpersona_apellido_materno']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel value="#{messages['administrarpersona_e-mail']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administrarpersona_usuario']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administrarpersona_iniciales']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administrarpersona_vigente']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['administrarpersona_fecha_no_vigente']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['administrarpersona_modificar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="varPersona">
							<rich:column>
								<h:outputLabel value="#{varPersona.rutFormat}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.idPersona}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.nombres}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.apellidoPaterno}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.apellidoMaterno}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.email}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.usuario}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.iniciales}" />
							</rich:column>
							<rich:column style="text-align:center;">
								<h:selectBooleanCheckbox value="#{varPersona.vigente}"
									disabled="true" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{varPersona.fechaNoVigente}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
										timeZone="#{customizacion.getPropiedad('timezone')}" />
								</h:outputLabel>
							</rich:column>
							<rich:column style="text-align:center;">
								<a4j:commandButton image="/imagenes/ver_detalle_01.gif"
									style="border: none;"
									reRender="idPanelUsuario, idPanelUsuarios"
									action="#{administradorPersona.modificar(varPersona.id)}"
									immediate="true" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</h:form>
			</rich:panel>

		</rich:panel>

		<rich:modalPanel id="panelBuscarUsuario" resizeable="false"
			height="150" width="320">
			<f:facet name="header">
				<h:outputText
					value="#{messages['administrarpersona_buscar_usuario']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelBuscarUsuario')"
					reRender="idTablePersonas, idPanelUsuarios">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:panelGrid columns="2">
					<h:outputText value="#{messages['administrarpersona_usuariodp']}" />
					<h:inputText value="#{administradorPersona.user}" />
					<h:outputText value="#{messages['administrarpersona_nombredp']}" />
					<h:inputText value="#{administradorPersona.persona.nombres}" />
					<h:outputText value="#{messages['administrarpersona_apellidodp']}" />
					<h:inputText
						value="#{administradorPersona.persona.apellidoPaterno}" />
				</h:panelGrid>
				<a4j:commandButton value="#{messages['administrarpersona_volver']}"
					reRender="idTablePersonas, idPanelUsuarios"
					onclick="Richfaces.hideModalPanel('panelBuscarUsuario')"
					immediate="true" status="Richfaces.hideModalPanel('panelEspera')" />
				<a4j:commandButton value="#{messages['administrarpersona_buscar']}"
					reRender="idTablePersonas, idPanelUsuarios"
					action="#{administradorPersona.buscarUsuario()}"
					onclick="Richfaces.hideModalPanel('panelBuscarUsuario')"
					immediate="false">
					<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
						onstop="Richfaces.hideModalPanel('panelEspera')" />
				</a4j:commandButton>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelImportarUsuario" resizeable="false"
			height="150" width="320">
			<f:facet name="header">
				<h:outputText
					value="#{messages['administrarpersona_importar_usuario']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelBuscarUsuario')"
					reRender="idTablePersonas, idPanelUsuarios">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:panelGrid columns="2">
					<h:outputText value="#{messages['administrarpersona_rutdp']}" />
					<h:inputText value="#{administradorPersona.persona.rut}" />
				</h:panelGrid>
				<a4j:commandButton value="#{messages['administrarpersona_volver']}"
					reRender="idTablePersonas, idPanelUsuarios"
					onclick="Richfaces.hideModalPanel('panelImportarUsuario')"
					immediate="true" />
				<a4j:commandButton value="#{messages['administrarpersona_buscar']}"
					reRender="grillaID, panelCrearDestinatario, idPanelUsuario"
					action="#{administradorPersona.importarPersona()}"
					onclick="Richfaces.hideModalPanel('panelImportarUsuario')"
					immediate="false" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['administrarpersona_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['administrarpersona_espere_mientras_se_realiza_la_accion']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>

