<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">

		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel id="panelAgregar"
			style="text-align:left; padding-left:0px; margin-bottom:10px; ">
			<f:facet name="header">
				<span>#{messages['administradordependenciasexternas_agregar_nueva_dependencia_externa']}</span>
			</f:facet>
			<h:form>
				<h:panelGroup>
					<br />
					<h:panelGrid columns="2">
					<s:decorate id="nombreid" template="/layout/edit.xhtml"
						style="margin-left:10px;">
						<ui:define name="label">#{messages['administradordependenciasexternas_nombredp']}</ui:define>
						<h:inputText id="name" required="true"
							value="#{administradorDependenciasExternas.dependencia.descripcion}"
							styleClass="input200" style="margin-right:10px;"
							validator="#{regexValidator.validate}"
							requiredMessage="Debe ingresar un nombre">
							<a4j:support event="onblur" reRender="nombreid" />
						</h:inputText>
					</s:decorate>
					<s:decorate id="visible" template="/layout/edit.xhtml"
						style="margin-left:10px;">
						<ui:define name="label">#{messages['administradordependenciasexternas_visibledp']}</ui:define>
						<h:selectBooleanCheckbox id="visible" 
							value="#{administradorDependenciasExternas.dependencia.vigente}"
							style="margin-right:10px;"/>
					</s:decorate>
					</h:panelGrid>
					<br />
					<br />
					<a4j:commandButton
						value="#{messages['administradordependenciasexternas_guardar']}"
						action="#{administradorDependenciasExternas.crearNuevo}"
						onclick="Richfaces.showModalPanel('panelEspera')"
						oncomplete="Richfaces.hideModalPanel('panelEspera')"
						reRender="panelLista, panelAgregar" />
					<a4j:commandButton
						value="#{messages['administradordependenciasexternas_cancelar']}"
						action="#{administradorDependenciasExternas.cancelar}"
						onclick="Richfaces.showModalPanel('panelEspera')"
						oncomplete="Richfaces.hideModalPanel('panelEspera')"
						reRender="panelLista, panelAgregar" />
				</h:panelGroup>
			</h:form>
		</rich:panel>
		<rich:panel id="panelLista"
			style="text-align:left; padding-left:0px; margin-bottom:10px; ">
			<f:facet name="header">
				<span>#{messages['administradordependenciasexternas_dependencias']}</span>
			</f:facet>
			<h:form>
				<rich:dataTable width="100%"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="#{administradorDependenciasExternas.dependencias}" var="var"
					rendered="#{not empty administradorDependenciasExternas.dependencias}">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column style="text-align:left;">
								<h:outputLabel
									value="#{messages['administradordependenciasexternas_nombre']}" />
							</rich:column>
							<rich:column style="text-align:left;">
								<h:outputLabel
									value="#{messages['administradordependenciasexternas_visibledp']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['administradordependenciasexternas_modificar']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="var">
						<rich:column>
							<h:outputLabel value="#{var.descripcion}" />
						</rich:column>
						<rich:column>
							<h:selectBooleanCheckbox value="#{var.vigente}" disabled="true"/>
						</rich:column>
						<rich:column
							style="width:100px; text-align: center; margin:10px; ">
							<a4j:htmlCommandLink reRender="panelAgregar"
								action="#{administradorDependenciasExternas.modificar(var.id)}">
								<h:graphicImage border="0px" url="/imagenes/icon_editar.gif"
									style="border: none;" />
							</a4j:htmlCommandLink>

							<h:commandButton image="/imagenes/ico_bot_eliminar.gif"
								title="Eliminar" style="border:none;" rendered="false" 
								reRender="idListAlertas, panelLista" immediate="true"
								action="#{administradorDependenciasExternas.eliminarDepenedencia(var.id)}" />

						</rich:column>
					</rich:subTable>
				</rich:dataTable>
			</h:form>
		</rich:panel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>
	</ui:define>
</ui:composition>