<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel>
			<f:facet name="header">
				<span>Crear/Modificar Departamento</span>
			</f:facet>

			<h:form id="formCrearDepartamento">

				<h:panelGrid id="gridSelDiv" columns="2" style="padding:5px;"
					cellspacing="10px">
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['administradordepartamento_nombre_departamentodp']}"
							for="nombreDepartamento" style="font-weight:bold;" />
						<br />
						<s:decorate id="nombreId" template="/layout/edit.xhtml"
							style="width : 400px;">
							<h:inputText id="nombreDepartamento"
								value="#{adminDepartamentos.nombreDepartamento}"
								requiredMessage="Debe ingresar un nombre" style="width:346px;"
								maxlength="100" validator="#{regexValidator.validate}">
								<a4j:support event="onblur" reRender="nombreId"
									bypassUpdates="true" ajaxSingle="true" />
							</h:inputText>
						</s:decorate>
					</h:panelGroup>
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['administradordepartamento_ciudad_departamentodp']}"
							for="ciudadDepartamento" style="font-weight:bold;" />
						<br />
						<s:decorate id="ciudadId" template="/layout/edit.xhtml"
							style="width : 400px;">
							<h:inputText id="ciudadDepartamento"
								value="#{adminDepartamentos.ciudadDepartamento}"
								style="width:346px;" maxlength="100">
							</h:inputText>
						</s:decorate>
					</h:panelGroup>

					<h:panelGroup rendered="true">
						<h:outputText
							value="#{messages['administradordepartamento_organizaciondp']}"
							style="font-weight: bold;" />
						<br />
						<h:selectOneMenu value="#{adminDepartamentos.organizacion}"
							id="organizacionlist" styleClass="input350">
							<a4j:support action="#{adminDepartamentos.buscarDivisiones}"
								event="onchange" reRender="gridSelDivDepto" />
							<f:selectItems value="#{adminDepartamentos.listOrganizacion}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup id="gridSelDivDepto" rendered="true">
						<h:outputLabel
							value="#{messages['administradordepartamento_divisiondp']}"
							for="listDivisiones" style="font-weight:bold;" />
						<br />
						<h:selectOneMenu id="listDivisiones"
							value="#{adminDepartamentos.idDivision}" styleClass="input350">
							<f:selectItems value="#{adminDepartamentos.listDivisiones}" />
						</h:selectOneMenu>
					</h:panelGroup>

				</h:panelGrid>

				<h:panelGrid columns="4" style="padding:5px;">
					<a4j:commandButton
						action="#{adminDepartamentos.crearDepartamento()}"
						value="#{messages['administradordepartamento_crear_departamento']}"
						reRender="formCrearDepartamento, formSelDepartamento"
						rendered="#{adminDepartamentos.flag == 0}" />
					<a4j:commandButton
						action="#{adminDepartamentos.modificarDepartamento()}"
						value="#{messages['administradordepartamento_modificar_departamento']}"
						reRender="formCrearDepartamento, formSelDepartamento"
						rendered="#{adminDepartamentos.flag == 1}" />
					<a4j:commandButton
						action="#{adminDepartamentos.limpiarFormulario()}"
						value="#{messages['administradordepartamento_limpiar']}"
						reRender="formCrearDepartamento, formSelDepartamento" />
				</h:panelGrid>

			</h:form>
		</rich:panel>
		<br />

		<rich:panel>
			<f:facet name="header">
				<span>#{messages['administradordepartamento_departamentos_creados']}</span>
			</f:facet>

			<h:form id="formSelDepartamentoCreadas">
				<h:panelGrid id="gridSelDepartamento" columns="3"
					style="padding:5px;">
					<h:panelGroup rendered="true">
						<h:outputText
							value="#{messages['administradordepartamento_organizaciondp']}"
							style="font-weight: bold;" />
						<br />
						<h:selectOneMenu value="#{adminDepartamentos.organizacionCargar}"
							id="organizacionlist" styleClass="input350">
							<a4j:support
								action="#{adminDepartamentos.buscarDivisionesCargar}"
								event="onchange"
								reRender="gridSelDepartamento, tablaDepartamentos" />
							<f:selectItems
								value="#{adminDepartamentos.listOrganizacionCargar}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<h:panelGroup rendered="true">
						<h:outputLabel
							value="#{messages['administradordepartamento_divisiondp']}"
							for="listDivisiones" style="font-weight:bold;" />
						<br />
						<h:selectOneMenu id="listDivisiones"
							value="#{adminDepartamentos.idDivisionCargar}"
							styleClass="input350">
							<f:selectItems value="#{adminDepartamentos.listDivisionesCargar}" />
							<a4j:support event="onchange"
								reRender="gridSelDepartamento, tablaDepartamentos"
								action="#{adminDepartamentos.buscarDepartamentos()}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<a4j:commandButton
						value="#{messages['administradordepartamento_buscar']}"
						action="#{adminDepartamentos.buscarFicalia()}"
						reRender="gridSelDepartamento, tablaDepartamentos" />
				</h:panelGrid>
			</h:form>
		</rich:panel>

		<br />
		<rich:panel>
			<f:facet name="header">
				<span>#{messages['administradordepartamento_resultado_de_busqueda']}</span>
			</f:facet>

			<h:form id="formSelDepartamento">

				<rich:dataTable width="100%" id="tablaDepartamentos"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="#{adminDepartamentos.listDepartamentos}" var="uo">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column style="text-align:left;">
								<h:outputLabel
									value="#{messages['administradordepartamento_departamento']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['administradordepartamento_division']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['administradordepartamento_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['administradordepartamento_eliminar']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="varCargo">
						<rich:column>
							<h:outputLabel value="#{uo.descripcion}" />
						</rich:column>


						<rich:column style="text-align:center; width:150px;">
							<h:outputText value="#{uo.division.descripcion}" />
						</rich:column>

						<rich:column style="text-align:center; width:70px;">
							<a4j:commandButton
								action="#{adminDepartamentos.cargarDepartamento(uo.id)}"
								image="/imagenes/ver_detalle_01.gif" style="border: none;"
								reRender="formCrearDepartamento, gridSelDiv" />
						</rich:column>

						<rich:column style="text-align:center; width:70px;">
							<a4j:commandButton
								action="#{adminDepartamentos.eliminarDepartamento(uo)}"
								image="/imagenes/ico_bot_eliminar.gif"
								reRender="formCrearDepartamento, formSelDepartamento"
								style="border: none;" />
						</rich:column>

					</rich:subTable>
				</rich:dataTable>

			</h:form>
		</rich:panel>

	</ui:define>

</ui:composition>
