<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel>
			<f:facet name="header">#{messages['administradortiposcredito_crear_tipo_de_credito']}</f:facet>

			<h:form id="formCrearTipoCredito">
				<h:panelGroup>
					<h:outputLabel
						value="#{messages['administradortiposcredito_nombre_tipo_creditodp']}"
						for="nombreTipo" style="font-weight:bold;" />
					<h:inputText id="nombreTipo"
						value="#{adminTiposCredito.nombreTipo}" style="width:300px;"
						maxlength="100" />
				</h:panelGroup>
				<br />
				<br />

				<a4j:commandButton action="#{adminTiposCredito.crearTipoCredito()}"
					value="#{messages['administradortiposcredito_crear_tipo_credito']}"
					reRender="formCrearTipoCredito, outPanelVerTiposCredito"
					rendered="#{adminTiposCredito.flag == 0}" />
				<a4j:commandButton
					action="#{adminTiposCredito.modificarTipoCredito()}"
					value="#{messages['administradortiposcredito_modificar_tipo_credito']}"
					reRender="formCrearTipoCredito, outPanelVerTiposCredito"
					rendered="#{adminTiposCredito.flag == 1}" />
				<a4j:commandButton action="#{adminTiposCredito.limpiarFormulario()}"
					value="#{messages['administradortiposcredito_limpiar_formulario']}"
					reRender="formCrearTipoCredito" />
				<a4j:commandButton action="#{adminTiposCredito.end()}"
					value="#{messages['administradortiposcredito_volver_a_inicio']}" />
			</h:form>

		</rich:panel>
		<br />

		<rich:panel id="panelVerTiposCredito">
			<f:facet name="header">#{messages['administradortiposcredito_tipos_de_credito_existentes']}</f:facet>

			<h:form id="formVerTiposCredito">
				<a4j:outputPanel id="outPanelVerTiposCredito">
					<rich:dataTable id="tablaTiposCredito"
						value="#{adminTiposCredito.listTiposCredito}" var="tipoCredito">
						<rich:column>
							<f:facet name="header">#{messages['administradortiposcredito_tipo_credito']}</f:facet>
							<h:outputText value="#{tipoCredito.descripcion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradortiposcredito_ver']}</f:facet>
							<a4j:commandButton
								action="#{adminTiposCredito.cargarTipoCredito(tipoCredito.id)}"
								image="/imagenes/ver_detalle_01.gif" style="border: none;"
								reRender="formCrearTipoCredito" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradortiposcredito_eliminar']}</f:facet>
							<a4j:commandButton
								action="#{adminTiposCredito.eliminarTipoCredito(tipoCredito)}"
								immediate="true" image="/imagenes/ico_bot_eliminar.gif"
								reRender="formVerTiposCredito, formCrearTipoCredito" />
						</rich:column>
					</rich:dataTable>
				</a4j:outputPanel>
			</h:form>

		</rich:panel>
	</ui:define>

</ui:composition>
