<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel id="panelPrincipal">

			<rich:panel id="panelAgregar">
				<f:facet name="header">#{messages['administradorplantillascontrato_agregar_nueva_plantilla']}</f:facet>
				<h:form>
					<h:panelGrid columns="1">
						<h:panelGrid columns="1">
							<s:decorate template="/layout/edit.xhtml">
								<ui:define name="label">#{messages['administradorplantillascontrato_nombredp']}</ui:define>
								<h:inputText id="name" required="false" size="50"
									value="#{administradorPlantillasContrato.nombre}" />
							</s:decorate>

							<s:decorate template="/layout/edit.xhtml">
								<ui:define name="label">#{messages['administradorplantillascontrato_materia']}</ui:define>
								<h:inputTextarea rows="6" cols="30" required="false"
									value="#{administradorPlantillasContrato.materia}" />
							</s:decorate>

							<s:decorate template="/layout/edit.xhtml">
								<ui:define name="label">#{messages['administradorplantillascontrato_titulo']}</ui:define>
								<h:inputText value="#{administradorPlantillasContrato.titulo}"
									style="font-size:15px;font-weight:bold" size="60" />
							</s:decorate>
						</h:panelGrid>

						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['administradorplantillascontrato_prologo']}</ui:define>
							<h:inputTextarea rows="8" cols="80" style="font-size:120%;"
								required="false"
								value="#{administradorPlantillasContrato.prologo}" />
						</s:decorate>

						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['administradorplantillascontrato_puntos_del_contrato']}</ui:define>
							<h:inputTextarea rows="50" cols="100" style="font-size:120%;"
								required="false"
								value="#{administradorPlantillasContrato.puntos}" />
						</s:decorate>
					</h:panelGrid>

					<h:panelGrid columns="2">
						<a4j:commandButton
							value="#{messages['administradorplantillascontrato_actualizar']}"
							action="#{administradorPlantillasContrato.crearNuevo()}"
							reRender="panelLista, panelAgregar, panelPrincipal" />

						<a4j:commandButton
							value="#{messages['administradorplantillascontrato_limpiar_formulario']}"
							action="#{administradorPlantillasContrato.limpiarFormulario()}"
							reRender="panelAgregar, panelPrincipal" />
					</h:panelGrid>
				</h:form>
			</rich:panel>
			<br />
			<rich:panel id="panelLista">
				<f:facet name="header">#{messages['administradorplantillascontrato_plantillas']}</f:facet>
				<h:form>
					<rich:dataTable width="100%" id="tablaPlantillasContratos"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="#{administradorPlantillasContrato.plantillas}" var="var"
						rendered="#{not empty administradorPlantillasContrato.plantillas}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputLabel
										value="#{messages['administradorplantillascontrato_nombre']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['administradorplantillascontrato_modificar']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['administradorplantillascontrato_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="var">
							<rich:column>
								<h:outputLabel value="#{var.nombre}" />
							</rich:column>
							<rich:column>
								<a4j:htmlCommandLink reRender="panelAgregar"
									action="#{administradorPlantillasContrato.modificar(var.id)}">
									<h:graphicImage border="0px" url="/imagenes/ver_detalle_01.gif"
										style="border: none;" />
								</a4j:htmlCommandLink>
							</rich:column>
							<rich:column>
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									action="#{administradorPlantillasContrato.eliminarPlantilla(var)}"
									immediate="true"
									reRender="tablaPlantillasContratos, panelAgregar, panelLista" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</h:form>
			</rich:panel>

			<h:form>
				<h:commandButton
					value="#{messages['administradorplantillascontrato_volver']}"
					action="#{administradorPlantillasContrato.end}" immediate="true" />
			</h:form>
		</rich:panel>
	</ui:define>

</ui:composition>

