<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel>
			<f:facet name="header">#{messages['administradorclasificaciontipo_crear_tipo_1']}</f:facet>

			<h:form id="formCrearClasificacionTipo">
				<h:panelGrid columns="2" style="textAlign: center;">
					<s:decorate template="../layout/display.xhtml">
						<ui:define name="label">#{messages['administradorclasificaciontipo_nombre_tipo_1dp']}</ui:define>
					</s:decorate>
					<s:decorate template="../layout/display.xhtml">
						<h:inputText id="nombreClasificacionTipo"
							value="#{adminClasificacionTipo.nombreClasificacionTipo}"
							style="width:300px;" maxlength="100" />
					</s:decorate>
				</h:panelGrid>

				<br />
				<br />

				<a4j:commandButton
					action="#{adminClasificacionTipo.crearClasificacionTipo}"
					value="#{messages['administradorclasificaciontipo_crear_tipo_1']}"
					reRender="formCrearClasificacionTipo, outPanelVerClasificacionTipo"
					rendered="#{adminClasificacionTipo.flag == 0}" />
				<a4j:commandButton
					action="#{adminClasificacionTipo.modificarClasificacionTipo()}"
					value="#{messages['administradorclasificaciontipo_modificar_tipo_1']}"
					reRender="formCrearClasificacionTipo, outPanelVerClasificacionTipo"
					rendered="#{adminClasificacionTipo.flag == 1}" />
				<a4j:commandButton
					action="#{adminClasificacionTipo.limpiarFormulario()}"
					value="#{messages['administradorclasificaciontipo_limpiar_formulario']}"
					reRender="formCrearClasificacionTipo" />
				<a4j:commandButton action="#{adminClasificacionTipo.end()}"
					value="#{messages['administradorclasificaciontipo_volver_a_inicio']}" />
			</h:form>

		</rich:panel>
		<br />

		<rich:panel id="panelVerClasificacionTipo">
			<f:facet name="header">#{messages['administradorclasificaciontipo_tipos_1_existentes']}</f:facet>

			<h:form id="formVerClasificacionTipo">
				<a4j:outputPanel id="outPanelVerClasificacionTipo">
					<rich:dataTable id="tablaClasificacionTipo"
						value="#{adminClasificacionTipo.listClasificacionTipo}"
						var="clasificacionTipo">
						<rich:column>
							<f:facet name="header">#{messages['administradorclasificaciontipo_tipo_de_clasificacion']}</f:facet>
							<h:outputText value="#{clasificacionTipo.descripcion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorclasificaciontipo_ver']}</f:facet>
							<a4j:commandButton
								action="#{adminClasificacionTipo.cargarClasificacionTipo(clasificacionTipo.id)}"
								image="/imagenes/ver_detalle_01.gif" style="border: none;"
								reRender="formCrearClasificacionTipo" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorclasificaciontipo_eliminar']}</f:facet>
							<a4j:commandButton
								action="#{adminClasificacionTipo.eliminarClasificacionTipo(clasificacionTipo)}"
								immediate="true" image="/imagenes/ico_bot_eliminar.gif"
								reRender="formVerClasificacionTipo, formCrearClasificacionTipo" />
						</rich:column>
					</rich:dataTable>
				</a4j:outputPanel>
			</h:form>

		</rich:panel>
	</ui:define>

</ui:composition>
