<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel>
			<f:facet name="header">#{messages['administradorclasificacionsubtipootros_crear_tipo_2']}</f:facet>

			<h:form id="formCrearClasificacionSubtipoOtros">
				<h:panelGrid columns="2" style="textAlign: center;">
					<s:decorate template="../layout/display.xhtml">
						<ui:define name="label">#{messages['administradorclasificacionsubtipootros_nombre_tipo_2dp']}</ui:define>
					</s:decorate>
					<s:decorate template="../layout/display.xhtml">
						<h:inputText id="nombreClasificacionSubtipoOtros"
							value="#{adminClasificacionSubtipoOtros.nombreClasificacionSubtipoOtros}"
							style="width:300px;" maxlength="100" />
					</s:decorate>
				</h:panelGrid>

				<br />
				<br />

				<a4j:commandButton
					action="#{adminClasificacionSubtipoOtros.crearClasificacionSubtipoOtros}"
					value="#{messages['administradorclasificacionsubtipootros_crear_tipo_2']}"
					reRender="formCrearClasificacionSubtipoOtros, outPanelVerClasificacionSubtipoOtros"
					rendered="#{adminClasificacionSubtipoOtros.flag == 0}" />
				<a4j:commandButton
					action="#{adminClasificacionSubtipoOtros.modificarClasificacionSubtipoOtros()}"
					value="#{messages['administradorclasificacionsubtipootros_modificar_tipo_2']}"
					reRender="formCrearClasificacionSubtipoOtros, outPanelVerClasificacionSubtipoOtros"
					rendered="#{adminClasificacionSubtipoOtros.flag == 1}" />
				<a4j:commandButton
					action="#{adminClasificacionSubtipoOtros.limpiarFormulario()}"
					value="#{messages['administradorclasificacionsubtipootros_limpiar_formulario']}"
					reRender="formCrearClasificacionSubtipoOtros" />
				<a4j:commandButton action="#{adminClasificacionSubtipoOtros.end()}"
					value="#{messages['administradorclasificacionsubtipootros_volver_a_inicio']}" />
			</h:form>

		</rich:panel>
		<br />

		<rich:panel id="panelVerClasificacionSubtipoOtros">
			<f:facet name="header">#{messages['administradorclasificacionsubtipootros_tipos_2_existentes']}</f:facet>

			<h:form id="formVerClasificacionSubtipoOtros">
				<a4j:outputPanel id="outPanelVerClasificacionSubtipoOtros">
					<rich:dataTable id="tablaClasificacionSubtipoOtros"
						value="#{adminClasificacionSubtipoOtros.listClasificacionSubtipoOtros}"
						var="clasificacionSubtipoOtros">
						<rich:column>
							<f:facet name="header">#{messages['administradorclasificacionsubtipootros_tipo_de_clasificacion']}</f:facet>
							<h:outputText value="#{clasificacionSubtipoOtros.descripcion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorclasificacionsubtipootros_ver']}</f:facet>
							<a4j:commandButton
								action="#{adminClasificacionSubtipoOtros.cargarClasificacionSubtipoOtros(clasificacionSubtipoOtros.id)}"
								image="/imagenes/ver_detalle_01.gif" style="border: none;"
								reRender="formCrearClasificacionSubtipoOtros" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorclasificacionsubtipootros_eliminar']}</f:facet>
							<a4j:commandButton
								action="#{adminClasificacionSubtipoOtros.eliminarClasificacionSubtipoOtros(clasificacionSubtipoOtros)}"
								immediate="true" image="/imagenes/ico_bot_eliminar.gif"
								reRender="formVerClasificacionSubtipoOtros, formCrearClasificacionSubtipoOtros" />
						</rich:column>
					</rich:dataTable>
				</a4j:outputPanel>
			</h:form>

		</rich:panel>
	</ui:define>

</ui:composition>
