<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>
		<rich:panel id="panelAgregarTipoDocumento">
			<f:facet name="header">
				<span>#{messages['administradortiposdocumentos_agregar_nuevo_tipo_de_documento']}</span>
			</f:facet>

			<h:form>
				<h:panelGrid id="bigPanelGrid" columns="2" style="text-align: left;">
					<s:decorate id="nombreid" template="/layout/edit.xhtml"
						style="padding:7px; height:20px;">
						<ui:define name="label">#{messages['administradortiposdocumentos_tipo_documentodp']}</ui:define>
						<h:inputText id="name" required="true"
							requiredMessage="Debe ingresar un tipo de documento"
							value="#{administradorTiposDocumentos.tipoDocumento.descripcion}"
							style="margin-right:7px;" validator="#{regexValidator.validate}" />
						<a4j:support event="onblur" reRender="nombreid" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['visible']}</ui:define>
						<h:selectBooleanCheckbox
							value="#{administradorTiposDocumentos.tipoDocumento.visible}" />
					</s:decorate>
				</h:panelGrid>
				<a4j:commandButton
					value="#{messages['administradortiposdocumentos_guardar']}"
					action="#{administradorTiposDocumentos.crearNuevoTipoDocumento}"
					reRender="panelListaTipoDocumento, panelAgregarTipoDocumento, listaTipos" />
			</h:form>
		</rich:panel>
		<br />
		<rich:panel id="panelListaTipoDocumento"
			style="text-align:left; padding-left:0px; margin-bottom:10px; ">
			<f:facet name="header">
				<span>#{messages['administradortiposdocumentos_tipos_de_documentos']}</span>
			</f:facet>
			<h:form>
				<rich:dataTable width="100%" id="listaTipos"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="#{administradorTiposDocumentos.tiposDocumentos}"
					var="varTipoDocumento"
					rendered="#{not empty administradorTiposDocumentos.tiposDocumentos}">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column style="text-align: left;">
								<h:outputLabel
									value="#{messages['administradortiposdocumentos_nombre']}" />
							</rich:column>
							<rich:column
								style="width:100px; text-align:center; padding-left:0px; margin-bottom:10px;">
								<h:outputText
									value="#{messages['visible']}" />
							</rich:column>
							<rich:column
								style="width:100px; text-align:center; padding-left:0px; margin-bottom:10px;">
								<h:outputText
									value="#{messages['administradortiposdocumentos_modificar']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="varTipoDocumento">
						<rich:column>
							<h:outputLabel value="#{varTipoDocumento.descripcion}" />
						</rich:column>
						<rich:column style="text-align: center;">
							<h:selectBooleanCheckbox value="#{varTipoDocumento.visible}" disabled="true"/>
						</rich:column>
						<rich:column
							style="width:100px; text-align:center; padding-left:0px; margin-bottom:10px;">
							<a4j:htmlCommandLink reRender="panelAgregarTipoDocumento"
								action="#{administradorTiposDocumentos.modificarTipoDocumento(varTipoDocumento.id)}">
								<h:graphicImage border="0px" url="/imagenes/icon_editar.gif"
									style="border: none;" />
							</a4j:htmlCommandLink>
						</rich:column>
					</rich:subTable>
				</rich:dataTable>
			</h:form>
		</rich:panel>

	</ui:define>

</ui:composition>

