<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="../layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel id="panelAgregarNuevaLista">
			<f:facet name="header">
				<span>#{messages['administradorlistasdestinatariosfrecuentes_agregarmodificar_lista']}</span>
			</f:facet>

			<h:form id="formCrearLista">
				<br />
				<rich:panel style="border:0px;">
					<h:panelGrid columns="1">
						<rich:spacer width="30px"></rich:spacer>
						<s:decorate id="NombreId" template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['administradorlistasdestinatariosfrecuentes_nombre_lista_dp']}</ui:define>
							<h:inputText id="nombreLista" required="false" size="100"
								value="#{administradorListasDestinatariosFrecuentes.nombreLista}"
								validator="#{regexValidator.validate}">
								<a4j:support event="onblur" reRender="NombreId"></a4j:support>
							</h:inputText>
						</s:decorate>
					</h:panelGrid>
				</rich:panel>
				<br />
				<rich:panel id="subPanelAgregarPersonas" styleClass="subpanel">
					<f:facet name="header">
						<span>#{messages['administradorlistasdestinatariosfrecuentes_agregar_persona']}</span>
					</f:facet>

					<h:panelGrid id="gridAgregarPersona" columns="2">
						<h:panelGroup rendered="true">
							<h:outputText
								value="#{messages['administradorlistasdestinatariosfrecuentes_organizacion']}"
								style="font-weight: bold;" />
							<br />
							<h:selectOneMenu
								value="#{administradorListasDestinatariosFrecuentes.organizacion}"
								id="organizacionlist" styleClass="input350">
								<a4j:support
									action="#{administradorListasDestinatariosFrecuentes.buscarDivisiones}"
									event="onchange" reRender="gridAgregarPersona, formCrearLista"
									ajaxSingle="true" />
								<f:selectItems
									value="#{administradorListasDestinatariosFrecuentes.listOrganizacion}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup rendered="true">
							<h:outputLabel
								value="#{messages['administradorlistasdestinatariosfrecuentes_divisiondp']}"
								for="listDivisiones" style="font-weight: bold" />
							<br />
							<h:selectOneMenu id="listDivisiones"
								value="#{administradorListasDestinatariosFrecuentes.idDivision}"
								styleClass="input350">
								<f:selectItems
									value="#{administradorListasDestinatariosFrecuentes.listDivisiones}" />
								<a4j:support event="onchange"
									reRender="gridAgregarPersona, formCrearLista"
									action="#{administradorListasDestinatariosFrecuentes.buscarDeptos()}"
									ajaxSingle="true" />
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup>
							<h:outputLabel
								value="#{messages['administradorlistasdestinatariosfrecuentes_departamentodp']}"
								for="listDeptos" style="font-weight: bold" />
							<br />
							<h:selectOneMenu id="listDeptos"
								value="#{administradorListasDestinatariosFrecuentes.idDepto}"
								styleClass="input350">
								<f:selectItems
									value="#{administradorListasDestinatariosFrecuentes.listDeptos}" />
								<a4j:support event="onchange"
									reRender="gridAgregarPersona, formCrearLista"
									action="#{administradorListasDestinatariosFrecuentes.buscarUnidades()}"
									ajaxSingle="true" />
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup>
							<h:outputLabel
								value="#{messages['administradorlistasdestinatariosfrecuentes_unidaddp']}"
								for="listUnidades" style="font-weight: bold" />
							<br />
							<h:selectOneMenu id="listUnidades"
								value="#{administradorListasDestinatariosFrecuentes.idUnidad}"
								styleClass="input350">
								<f:selectItems
									value="#{administradorListasDestinatariosFrecuentes.listUnidades}" />
								<a4j:support event="onchange"
									reRender="gridAgregarPersona, formCrearLista"
									action="#{administradorListasDestinatariosFrecuentes.buscarCargos()}"
									ajaxSingle="true" />
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup>
							<h:outputLabel
								value="#{messages['administradorlistasdestinatariosfrecuentes_cargodp']}"
								for="listCargos" style="font-weight: bold" />
							<br />
							<h:selectOneMenu id="listCargos"
								value="#{administradorListasDestinatariosFrecuentes.idCargo}"
								styleClass="input350">
								<f:selectItems
									value="#{administradorListasDestinatariosFrecuentes.listCargos}" />
								<a4j:support event="onchange"
									reRender="gridAgregarPersona, formCrearLista"
									action="#{administradorListasDestinatariosFrecuentes.buscarPersonas()}"
									ajaxSingle="true" />
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup>
							<h:outputLabel
								value="#{messages['administradorlistasdestinatariosfrecuentes_personadp']}"
								for="listPersonas" style="font-weight: bold" />
							<br />
							<h:selectOneMenu id="listPersonas"
								value="#{administradorListasDestinatariosFrecuentes.idPersona}"
								styleClass="input350">
								<f:selectItems
									value="#{administradorListasDestinatariosFrecuentes.listPersonas}" />
							</h:selectOneMenu>
						</h:panelGroup>
					</h:panelGrid>
				</rich:panel>

				<h:panelGrid columns="3" style="text-align:left; padding-left:10px;">
					<a4j:commandButton id="botonAgregarPersona"
						value="#{messages['administradorlistasdestinatariosfrecuentes_agregar']}"
						action="#{administradorListasDestinatariosFrecuentes.agregarPersona()}"
						reRender="tablaPersonas, formCrearLista">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />
					</a4j:commandButton>
					<a4j:commandButton id="botonlimpiarFormulario"
						value="#{messages['administradorlistasdestinatariosfrecuentes_limpiar']}"
						action="#{administradorListasDestinatariosFrecuentes.limpiarFormulario()}"
						reRender="formCrearLista" ajaxSingle="true" />
				</h:panelGrid>

				<rich:panel id="panelTablaPersonas" styleClass="subpanel">
					<f:facet name="header">
						<span>#{messages['administradorlistasdestinatariosfrecuentes_persona']}</span>
					</f:facet>
					<rich:dataTable id="tablaPersonas"
						value="#{administradorListasDestinatariosFrecuentes.listDestinatarios}"
						var="persona"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						rendered="#{administradorListasDestinatariosFrecuentes.listDestinatarios.size() != 0}"
						style="width:98%; text-align:left; padding-left:1px; margin:10px;">
						<rich:column>
							<f:facet name="header">#{messages['administradorlistasdestinatariosfrecuentes_nombre']}</f:facet>
							<h:outputText value="#{persona.nombreApellido}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorlistasdestinatariosfrecuentes_cargo']}</f:facet>
							<h:outputText value="#{persona.cargo.descripcion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorlistasdestinatariosfrecuentes_unidad_organizacional']}</f:facet>
							<h:outputText
								value="#{persona.cargo.unidadOrganizacional.descripcion}"
								rendered="#{not persona.cargo.unidadOrganizacional.virtual}" />
							<h:outputText
								value="#{persona.cargo.unidadOrganizacional.departamento.descripcion}"
								rendered="#{not persona.cargo.unidadOrganizacional.departamento.virtual and persona.cargo.unidadOrganizacional.virtual}" />
							<h:outputText
								value="#{persona.cargo.unidadOrganizacional.departamento.division.descripcion}"
								rendered="#{persona.cargo.unidadOrganizacional.virtual and persona.cargo.unidadOrganizacional.departamento.virtual}" />
						</rich:column>
						<rich:column style="width:60px; text-align:center;">
							<f:facet name="header">#{messages['administradorlistasdestinatariosfrecuentes_eliminar']}</f:facet>
							<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
								style="border:none;"
								action="#{administradorListasDestinatariosFrecuentes.eliminarPersona(persona)}"
								reRender="tablaPersonas, formCrearLista" />
						</rich:column>
					</rich:dataTable>

					<h:panelGrid columns="2"
						style="text-align:left; padding-left:0px; margin:10px;">
						<a4j:commandButton id="botonCrearLista"
							value="#{messages['administradorlistasdestinatariosfrecuentes_crear_lista']}"
							action="#{administradorListasDestinatariosFrecuentes.crearLista()}"
							rendered="#{not empty administradorListasDestinatariosFrecuentes.listDestinatarios and 
							administradorListasDestinatariosFrecuentes.flag == 0}"
							reRender="formCrearLista, panelListasExistentes" />
						<a4j:commandButton id="botonModificarLista"
							value="#{messages['administradorlistasdestinatariosfrecuentes_modificar_lista']}"
							action="#{administradorListasDestinatariosFrecuentes.modificarLista()}"
							rendered="#{administradorListasDestinatariosFrecuentes.flag == 1}"
							reRender="formCrearLista, formListasExistentes" />
					</h:panelGrid>
				</rich:panel>

			</h:form>
		</rich:panel>
		<br />
		<rich:panel id="panelListasExistentes">
			<f:facet name="header">
				<span>#{messages['administradorlistasdestinatariosfrecuentes_listas_agregadas']}</span>
			</f:facet>

			<h:form id="formListasExistentes">
				<rich:dataTable id="tablaListas"
					value="#{administradorListasDestinatariosFrecuentes.listListas}"
					var="lista"
					rendered="#{not empty administradorListasDestinatariosFrecuentes.listListas}">
					<rich:column>
						<f:facet name="header">#{messages['administradorlistasdestinatariosfrecuentes_nombre_lista']}</f:facet>
						<h:outputText value="#{lista.nombreLista}" />
					</rich:column>
					<rich:column style="width:60px; text-align:center;">
						<f:facet name="header">#{messages['administradorlistasdestinatariosfrecuentes_ver']}</f:facet>
						<a4j:commandButton image="/imagenes/ver_detalle_01.gif"
							style="border:none;"
							action="#{administradorListasDestinatariosFrecuentes.cargarLista(lista.id)}"
							reRender="formCrearLista, formListasExistentes" />
					</rich:column>
					<rich:column style="width:60px; text-align:center;">
						<f:facet name="header">#{messages['administradorlistasdestinatariosfrecuentes_eliminar']}</f:facet>
						<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
							style="border:none;"
							action="#{administradorListasDestinatariosFrecuentes.eliminarLista(lista)}"
							reRender="formCrearLista, formListasExistentes" />
					</rich:column>
				</rich:dataTable>
			</h:form>
		</rich:panel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['administradorlistasdestinatariosfrecuentes_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['administradorlistasdestinatariosfrecuentes_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>