<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel>
			<f:facet name="header">
				<span>Crear/Modificar Unidades</span>
			</f:facet>

			<h:form id="formCrearUnidad">

				<h:panelGrid id="gridSelDivDepto" columns="2" style="padding:5px;"
					cellspacing="10px">
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['administradorunidades_nombre_unidaddp']}"
							for="nombreUnidad" style="font-weight:bold;" />
						<br />
						<s:decorate id="nombreId" template="/layout/edit.xhtml"
							style="width : 400px;">
							<h:inputText id="nombreUnidad" required="true"
								value="#{adminUnidades.nombreUnidad}"
								requiredMessage="Debe ingresar un nombre" style="width:340px;"
								maxlength="100" validator="#{regexValidator.validate}">
								<a4j:support event="onblur" reRender="nombreId"
									bypassUpdates="true" ajaxSingle="true" />
							</h:inputText>
						</s:decorate>
					</h:panelGroup>

					<h:panelGroup>
						<h:outputLabel
							value="#{messages['administradorunidades_departamentodp']}"
							for="listDeptos" style="font-weight:bold;" />
						<br />
						<h:selectOneMenu id="listDeptos" value="#{adminUnidades.idDepto}"
							styleClass="input350">
							<f:selectItems value="#{adminUnidades.listDeptos}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup rendered="false">
						<h:outputText
							value="#{messages['administradorunidades_organizaciondp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputText value="" style="font-weight: bold;" />
						<br />
						<h:selectOneMenu value="#{adminUnidades.organizacion}"
							id="organizacionlist" styleClass="input350">
							<a4j:support action="#{adminUnidades.buscarDivisiones}"
								event="onchange" reRender="gridSelDivDepto" />
							<f:selectItems value="#{adminUnidades.listOrganizacion}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup rendered="false">
						<h:outputLabel
							value="#{messages['administradorunidades_divisiondp']}"
							for="listDivisiones" style="font-weight:bold;" />
						<br />
						<h:selectOneMenu id="listDivisiones"
							value="#{adminUnidades.idDivision}" styleClass="input350">
							<f:selectItems value="#{adminUnidades.listDivisiones}" />
							<a4j:support event="onchange" reRender="gridSelDivDepto"
								action="#{adminUnidades.buscarDeptos()}" />
						</h:selectOneMenu>
					</h:panelGroup>

				</h:panelGrid>

				<h:panelGrid columns="4" style="padding:5px;">
					<a4j:commandButton action="#{adminUnidades.crearUnidad()}"
						value="#{messages['administradorunidades_guardar']}"
						reRender="formCrearUnidad, formSelUnidad, tablaUnidades"
						rendered="#{adminUnidades.flag == 0}" />
					<a4j:commandButton action="#{adminUnidades.modificarUnidad()}"
						value="#{messages['administradorunidades_modificar']}"
						reRender="formCrearUnidad, formSelUnidad, tablaUnidades"
						rendered="#{adminUnidades.flag == 1}" />
					<a4j:commandButton action="#{adminUnidades.limpiarFormulario()}"
						value="#{messages['administradorunidades_limpiar']}"
						reRender="formCrearUnidad, formSelUnidad, tablaUnidades" />
				</h:panelGrid>

			</h:form>
		</rich:panel>
		<br />

		<rich:panel>
			<f:facet name="header">
				<span>#{messages['administradorunidades_unidades_creadas']}</span>
			</f:facet>

			<h:form id="formSelUnidadCreadas">
				<h:panelGrid id="gridSelUnidad" columns="3" style="padding:5px;">
					<h:panelGroup rendered="true">
						<h:outputText
							value="#{messages['administradorunidades_organizaciondp']}"
							style="font-weight: bold;" />
						<br />
						<h:selectOneMenu value="#{adminUnidades.organizacionCargar}"
							id="organizacionlist" styleClass="input350">
							<a4j:support action="#{adminUnidades.buscarDivisionesCargar}"
								event="onchange" reRender="gridSelUnidad, tablaUnidades" />
							<f:selectItems value="#{adminUnidades.listOrganizacionCargar}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<h:panelGroup rendered="true">
						<h:outputLabel
							value="#{messages['administradorunidades_divisiondp']}"
							for="listDivisiones" style="font-weight:bold;" />
						<br />
						<h:selectOneMenu id="listDivisiones"
							value="#{adminUnidades.idDivisionCargar}" styleClass="input350">
							<f:selectItems value="#{adminUnidades.listDivisionesCargar}" />
							<a4j:support event="onchange"
								reRender="gridSelUnidad, tablaUnidades"
								action="#{adminUnidades.buscarDeptosCargar()}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['administradorunidades_departamentodp']}"
							for="listDeptos" style="font-weight:bold;" />
						<br />
						<h:selectOneMenu id="listDeptos" value="#{adminUnidades.idDepto}"
							styleClass="input350">
							<f:selectItems value="#{adminUnidades.listDeptos}" />
							<a4j:support event="onchange"
								reRender="gridSelUnidad, tablaUnidades"
								action="#{adminUnidades.buscarUnidades()}" />
						</h:selectOneMenu>
					</h:panelGroup>

				</h:panelGrid>
			</h:form>
		</rich:panel>

		<br />
		<rich:panel>
			<f:facet name="header">
				<span>#{messages['administradorunidades_resultado_de_busqueda']}</span>
			</f:facet>

			<h:form id="formSelUnidad">

				<rich:dataTable width="100%" id="tablaUnidades"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="#{adminUnidades.listUnidades}" var="uo">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column style="text-align:left;">
								<h:outputLabel
									value="#{messages['administradorunidades_unidad']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['administradorunidades_departamento']}" />
							</rich:column>
							<rich:column rendered="false">
								<h:outputText
									value="#{messages['administradorunidades_division']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['administradorunidades_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['administradorunidades_eliminar']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="varCargo">
						<rich:column>
							<h:outputLabel value="#{uo.descripcion}" />
						</rich:column>

						<rich:column style="text-align:center; width:150px;">
							<h:outputText value="#{uo.departamento.descripcion}"
								rendered="#{not uo.departamento.virtual}" />
						</rich:column>

						<rich:column style="text-align:center; width:150px;"
							rendered="false">
							<h:outputText value="#{uo.departamento.division.descripcion}" />
						</rich:column>

						<rich:column style="text-align:center; width:70px;">
							<a4j:commandButton action="#{adminUnidades.cargarUnidad(uo.id)}"
								image="/imagenes/ver_detalle_01.gif" style="border: none;"
								reRender="formCrearUnidad, formSelUnidadCreadas" />
						</rich:column>

						<rich:column style="text-align:center; width:70px;">
							<a4j:commandButton action="#{adminUnidades.eliminarUnidad(uo)}"
								image="/imagenes/ico_bot_eliminar.gif"
								reRender="formCrearUnidad, formSelUnidad" style="border: none;" />
						</rich:column>

					</rich:subTable>
				</rich:dataTable>

			</h:form>
		</rich:panel>

	</ui:define>

</ui:composition>