<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel id="panelPrincipal">

			<rich:panel id="panelAgregar">
				<f:facet name="header">#{messages['administradorplantillasresolucion_agregar_nueva_plantilla']}</f:facet>
				<h:form>
					<h:panelGrid columns="1">
						<h:panelGrid columns="1">
							<s:decorate template="/layout/edit.xhtml">
								<ui:define name="label">#{messages['administradorplantillasresolucion_nombredp']}</ui:define>
								<h:inputText id="name" required="false" size="50"
									value="#{administradorPlantillasResolucion.nombre}" />
							</s:decorate>
							<s:decorate template="/layout/edit.xhtml">
								<ui:define name="label">#{messages['administradorplantillasresolucion_materia']}</ui:define>
								<h:inputTextarea rows="6" cols="30" required="false"
									value="#{administradorPlantillasResolucion.materia}" />
							</s:decorate>

							<s:decorate template="/layout/edit.xhtml" rendered="false">
								<ui:define name="label">#{messages['administradorplantillasresolucion_tipo']}</ui:define>
								<h:selectOneRadio
									value="#{administradorPlantillasResolucion.tipoResolucion}"
									required="false">
									<f:selectItem itemValue="1"
										itemLabel="#{messages['administradorplantillasresolucion_exento']}" />
									<f:selectItem itemValue="2"
										itemLabel="#{messages['administradorplantillasresolucion_toma_de_razon']}" />
									<f:selectItem itemValue="3"
										itemLabel="#{messages['administradorplantillasresolucion_exento_con_registro']}" />
								</h:selectOneRadio>
							</s:decorate>
						</h:panelGrid>

						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['administradorplantillasresolucion_vistos']}</ui:define>
							<h:inputTextarea rows="10" cols="100" style="font-size:120%;"
								required="false"
								value="#{administradorPlantillasResolucion.vistos}" />
						</s:decorate>

						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['administradorplantillasresolucion_considerando']}</ui:define>
							<h:inputTextarea rows="10" cols="100" style="font-size:120%;"
								required="false"
								value="#{administradorPlantillasResolucion.considerando}" />
						</s:decorate>

						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['administradorplantillasresolucion_resuelvo']}</ui:define>
							<h:inputTextarea rows="10" cols="100" style="font-size:120%;"
								required="false"
								value="#{administradorPlantillasResolucion.resuelvo}" />
						</s:decorate>

						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['administradorplantillasresolucion_indicacion']}</ui:define>
							<h:inputText required="false" size="100"
								value="#{administradorPlantillasResolucion.indicacion}" />
						</s:decorate>
					</h:panelGrid>

					<h:panelGrid columns="2">
						<a4j:commandButton
							value="#{messages['administradorplantillasresolucion_guardar']}"
							action="#{administradorPlantillasResolucion.crearNuevo()}"
							reRender="panelLista, panelAgregar, panelPrincipal" />

						<a4j:commandButton
							value="#{messages['administradorplantillasresolucion_limpiar_formulario']}"
							action="#{administradorPlantillasResolucion.limpiarFormulario()}"
							reRender="panelAgregar, panelPrincipal" />
					</h:panelGrid>
				</h:form>
			</rich:panel>
			<br />
			<rich:panel id="panelLista">
				<f:facet name="header">#{messages['administradorplantillasresolucion_plantillas']}</f:facet>
				<h:form>
					<rich:dataTable width="100%" id="tablaPlantillasResoluciones"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="#{administradorPlantillasResolucion.plantillas}" var="var"
						rendered="#{not empty administradorPlantillasResolucion.plantillas}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputLabel
										value="#{messages['administradorplantillasresolucion_nombre']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['administradorplantillasresolucion_modificar']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['administradorplantillasresolucion_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="var">
							<rich:column>
								<h:outputLabel value="#{var.nombre}" />
							</rich:column>
							<rich:column>
								<a4j:htmlCommandLink reRender="panelAgregar"
									action="#{administradorPlantillasResolucion.modificar(var.id)}">
									<h:graphicImage border="0px" url="/imagenes/ver_detalle_01.gif"
										style="border: none;" />
								</a4j:htmlCommandLink>
							</rich:column>
							<rich:column>
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									action="#{administradorPlantillasResolucion.eliminarPlantilla(var)}"
									immediate="true"
									reRender="panelLista, panelAgregar"
									rendered="#{administradorPlantillasResolucion.renderedBotonEliminar(var)}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</h:form>
			</rich:panel>
		</rich:panel>
	</ui:define>

</ui:composition>

