<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>
		<rich:panel id="panelPrincipal">
			<rich:panel id="panelAgregar">
				<f:facet name="header">#{messages['administradorplantillasrespuestas_agregar_nueva_plantilla']}</f:facet>
				<h:form>
					<h:panelGrid columns="1">
						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['administradorplantillasrespuestas_nombre_plantilladp']}</ui:define>
							<h:inputText id="nombrePlantilla" required="false" size="50"
								value="#{administradorPlantillasRespuesta.nombre}" />
						</s:decorate>
					</h:panelGrid>

					<h:panelGrid columns="1">
						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['administradorplantillasrespuestas_cuerpo_plantilladp']}</ui:define>
							<h:inputTextarea rows="25" cols="100" style="font-size:120%;"
								required="false"
								value="#{administradorPlantillasRespuesta.contenido}" />
						</s:decorate>
					</h:panelGrid>

					<h:panelGrid columns="2">
						<a4j:commandButton
							value="#{messages['administradorplantillasrespuestas_guardar']}"
							action="#{administradorPlantillasRespuesta.crear()}"
							reRender="panelPrincipal, panelAgregar, panelLista" />
						<a4j:commandButton
							value="#{messages['administradorplantillasrespuestas_limpiar_formulario']}"
							action="#{administradorPlantillasRespuesta.limpiarFormulario()}"
							reRender="panelPrincipal, panelAgregar" />
					</h:panelGrid>
				</h:form>
			</rich:panel>
			<br />
			<rich:panel id="panelLista">
				<f:facet name="header">#{messages['administradorplantillasrespuestas_plantillas']}</f:facet>
				<h:form>
					<rich:dataTable width="100%"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						var="plantilla"
						value="#{administradorPlantillasRespuesta.plantillas}"
						rendered="#{not empty administradorPlantillasRespuesta.plantillas}">
						<rich:column>
							<f:facet name="header">#{messages['administradorplantillasrespuestas_nombre']}</f:facet>
							<h:outputText value="#{plantilla.nombre}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['administradorplantillasrespuestas_modificar']}</f:facet>
							<a4j:htmlCommandLink
								action="#{administradorPlantillasRespuesta.cargar(plantilla.id)}">
								<h:graphicImage value="/imagenes/ver_detalle_01.gif"
									style="border: none;" />
							</a4j:htmlCommandLink>
						</rich:column>
					</rich:dataTable>
				</h:form>
			</rich:panel>
			<h:form>
				<a4j:commandButton
					value="#{messages['administradorplantillasrespuestas_volver']}"
					action="#{administradorPlantillasRespuesta.end()}" immediate="true" />
			</h:form>
		</rich:panel>
	</ui:define>

</ui:composition>
