<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="../layout/template.xhtml">

	<ui:define name="body">
		<h:form>
			<rich:panel id="idPanelMantenedorGrupo">
				<f:facet name="header">
					<span>#{messages['mantenedorgrupos_mantenedor_de_grupos']}</span>
				</f:facet>
				<h:messages globalOnly="true" styleClass="message" />

				<rich:panel>
					<h:panelGrid columns="2">
						<h:panelGrid columns="2">
							<s:decorate template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['mantenedorgrupos_nombredp']}</ui:define>
								<h:inputText id="nroDocumento" required="true" maxlength="20"
									value="#{mantenedorGrupos.grupoUsuario.nombre}"
									styleClass="input250" />
							</s:decorate>

							<s:decorate id="idListaPersonas" template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['mantenedorgrupos_lista_personasdp']}</ui:define>
								<table width="100%" border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td align="left"><h:inputText required="true"
												disabled="true"
												rendered="#{empty mantenedorGrupos.destinatariosDocumento}"
												value="#{mantenedorGrupos.destinatario}" id="destinatario"
												styleClass="input250" /> <rich:dataTable
												rendered="#{not empty mantenedorGrupos.destinatariosDocumento}"
												var="itemDestinatarios" id="ddListPapel"
												value="#{mantenedorGrupos.destinatariosDocumento}"
												style="border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;"
												required="true" styleClass="input250">
												<rich:subTable value="itemDoc">
													<rich:column>
														<h:outputLabel value="#{itemDestinatarios.descripcion}" />
													</rich:column>
												</rich:subTable>
											</rich:dataTable></td>
										<td align="right"><a4j:commandButton
												image="/imagenes/add.png"
												style="border: none; padding-left:3px; vertical-align:middle; 
                            					background:transparent;"
												alt="#{messages['mantenedorgrupos_alt_agregar_destinatarios']}"
												onclick="Richfaces.showModalPanel('panelSeleccionDestinatarios')"
												reRender="ADocumentoDigitalizado, ddListDigitalizado"
												immediate="true" /></td>
									</tr>
								</table>
							</s:decorate>
						</h:panelGrid>
					</h:panelGrid>
				</rich:panel>
			</rich:panel>

			<h:panelGrid columns="2" style="padding:5px;">
				<a4j:commandButton value="#{messages['mantenedorgrupos_guardar']}"
					rendered="#{mantenedorGrupos.grupoUsuario.id==null}"
					action="#{mantenedorGrupos.guardarGrupo()}"
					reRender="idPanelMantenedorGrupo, formDestinatario, idFormTableDestinatarios, idListaPersonas, idListGrupos" />
				<a4j:commandButton value="#{messages['mantenedorgrupos_modificar']}"
					rendered="#{mantenedorGrupos.grupoUsuario.id!=null}"
					action="#{mantenedorGrupos.guardarGrupo()}"
					reRender="idPanelMantenedorGrupo, formDestinatario, idFormTableDestinatarios, idListaPersonas, idListGrupos" />
				<a4j:commandButton value="#{messages['mantenedorgrupos_limpiar']}"
					action="#{mantenedorGrupos.limpiarGrupo()}"
					reRender="idPanelMantenedorGrupo, formDestinatario, idFormTableDestinatarios, idListaPersonas, idListGrupos" />
			</h:panelGrid>

		</h:form>
		<rich:panel id="idListGrupos">
			<f:facet name="header">
				<span>#{messages['mantenedorgrupos_lista_de_grupos']}</span>
			</f:facet>

			<h:form>
				<rich:dataTable width="100%" id="idTableGrupos"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="#{mantenedorGrupos.listGrupos}" var="_varGrupo">
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{messages['mantenedorgrupos_id']}" />
						</f:facet>
						<h:outputText value="#{_varGrupo.id}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{messages['mantenedorgrupos_nombre']}" />
						</f:facet>
						<h:outputText value="#{_varGrupo.nombre}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{messages['mantenedorgrupos_accion']}" />
						</f:facet>
						<h:commandButton image="/imagenes/icon_editar.gif" title="Editar"
							style="border:none;" reRender="idListGrupos" immediate="true"
							action="#{mantenedorGrupos.editarGrupo(_varGrupo.id)}" />

						<h:commandButton image="/imagenes/ico_bot_eliminar.gif"
							title="Eliminar" style="border:none;" reRender="idListGrupos"
							immediate="true"
							action="#{mantenedorGrupos.eliminarGrupo(_varGrupo.id)}" />

					</rich:column>
				</rich:dataTable>
			</h:form>
		</rich:panel>

		<rich:modalPanel id="panelSeleccionDestinatarios" resizeable="false"
			height="450" width="700">
			<f:facet name="header">
				<h:outputText
					value="#{messages['mantenedorgrupos_seleccionar_destinatario_documento']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 0px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>

			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelSeleccionDestinatarios')"
					reRender="ddListDigitalizado">
				</h:graphicImage>
			</f:facet>
			<div style="overflow-y: scroll; height: 400px; width: 685px;">
				<rich:tabPanel switchType="ajax" style=" width: 100%;">

					<rich:tab label="Destinatario">
						<a4j:outputPanel ajaxRendered="true">
							<h:messages globalOnly="true" styleClass="message" />
						</a4j:outputPanel>
						<h:form id="formDestinatario">
							<h:panelGrid id="panelAgregarDestinatario" columns="3"
								style=" text-align: left;">

								<h:outputText rendered="true" escape="false"
									value="#{messages['mantenedorgrupos_organizacion']}"
									style="font-weight: bold;"></h:outputText>
								<h:outputText rendered="true" value=":"
									style="font-weight: bold;" />
								<h:selectOneMenu rendered="true"
									value="#{mantenedorGrupos.organizacion}" id="organizacionlist"
									style=" width: 350px;">
									<a4j:support action="#{mantenedorGrupos.buscarDivisiones}"
										event="onchange" reRender="panelAgregarDestinatario" />
									<f:selectItems value="#{mantenedorGrupos.listOrganizacion}" />
								</h:selectOneMenu>
								<h:outputText rendered="true" escape="false"
									value="#{messages['mantenedorgrupos_division']}"
									style="font-weight: bold;" />
								<h:outputText rendered="true" value=":"
									style="font-weight: bold;" />
								<h:selectOneMenu rendered="true"
									value="#{mantenedorGrupos.division}" id="divisionlist"
									style=" width: 350px;">
									<a4j:support action="#{mantenedorGrupos.buscarDepartamentos}"
										event="onchange" reRender="panelAgregarDestinatario" />
									<f:selectItems value="#{mantenedorGrupos.listDivision}" />
								</h:selectOneMenu>

								<h:outputText
									value="#{messages['mantenedorgrupos_departamento']}"
									style="font-weight: bold;" />
								<h:outputText value=":" style="font-weight: bold;" />
								<h:selectOneMenu value="#{mantenedorGrupos.departamento}"
									id="departamentolist" style=" width: 350px;">
									<a4j:support
										action="#{mantenedorGrupos.buscarUnidadesOrganizacionales}"
										event="onchange" reRender="panelAgregarDestinatario" />
									<f:selectItems value="#{mantenedorGrupos.listDepartamento}" />
								</h:selectOneMenu>

								<h:outputText value="#{messages['mantenedorgrupos_unidad']}"
									style="font-weight: bold;" />
								<h:outputText value=":" style="font-weight: bold;" />
								<h:selectOneMenu
									value="#{mantenedorGrupos.unidadOrganizacional}" id="uolist"
									style=" width: 350px;">
									<a4j:support action="#{mantenedorGrupos.buscarCargos}"
										event="onchange" reRender="cargoList" />
									<f:selectItems
										value="#{mantenedorGrupos.listUnidadesOrganizacionales}" />
								</h:selectOneMenu>

								<h:outputText value="#{messages['mantenedorgrupos_cargo']}"
									style="font-weight: bold;" />
								<h:outputText value=":" style="font-weight: bold;" />
								<h:selectOneMenu id="cargoList"
									value="#{mantenedorGrupos.cargo}" style=" width: 350px;">
									<a4j:support action="#{mantenedorGrupos.buscarPersonas}"
										event="onchange" reRender="personaList" />
									<f:selectItems value="#{mantenedorGrupos.listCargos}" />
								</h:selectOneMenu>

								<h:outputText value="#{messages['mantenedorgrupos_persona']}"
									style="font-weight: bold;" />
								<h:outputText value=":" style="font-weight: bold;" />
								<h:selectOneMenu id="personaList"
									value="#{mantenedorGrupos.persona}" style=" width: 350px;">
									<f:selectItems value="#{mantenedorGrupos.listPersonas}" />
								</h:selectOneMenu>

								<h:outputText value="" style="font-weight: bold;" />
								<h:outputText value="" style="font-weight: bold;" />
								<a4j:commandButton id="addDestinatario1"
									value="#{messages['mantenedorgrupos_agregar']}"
									action="#{mantenedorGrupos.agregarDestinatario}"
									reRender="formDestinatario, idFormTableDestinatarios,idListaPersonas" />

							</h:panelGrid>
						</h:form>
					</rich:tab>

				</rich:tabPanel>

				<br />

				<h:form id="idFormTableDestinatarios">
					<rich:dataTable var="itemDD" id="tableDestinatarios"
						style="border-top: 1px #CCCCCC solid;"
						value="#{mantenedorGrupos.destinatariosDocumento}" width="100%"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
						<rich:column style="text-align: left;">
							<f:facet name="header">
								<h:outputText
									value="#{messages['mantenedorgrupos_destinatarios']}" />
							</f:facet>
							<h:outputText value="#{itemDD.descripcion}" />
						</rich:column>
						<rich:column style="width:25px; text-align:center;">
							<f:facet name="header" style="width:25px; text-align:center;">
								<img src="../imagenes/ico_bot_eliminar_head.gif"
									style="border: none; padding-left: 7px;" />
							</f:facet>
							<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
								style="border: none;"
								action="#{mantenedorGrupos.eliminarDestinatarioDocumento(itemDD.descripcion)}"
								reRender="formDestinatario, idFormTableDestinatarios,idListaPersonas" />
						</rich:column>
					</rich:dataTable>
				</h:form>
				<a4j:commandButton value="#{messages['mantenedorgrupos_volver']}"
					reRender="idListaPersonas, ddListPapel, idPanelMantenedorGrupo"
					onclick="Richfaces.hideModalPanel('panelSeleccionDestinatarios')"
					immediate="true" />
			</div>
		</rich:modalPanel>

	</ui:define>

</ui:composition>

