<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">

		<rich:panel id="idBuscarFolio">
			<f:facet name="header">
				<span>#{messages['mantenedorfolios_mantenedor_de_folios']}</span>
			</f:facet>
			<h:form>
				<h:messages globalOnly="false" styleClass="message" />
				<h:panelGrid columns="1" id="panelSolicitaFolio"
					style="padding:5px;">
					<h:panelGroup
						rendered="#{mantenedorFolios.folioDocumento.id != null}">
						<h:outputText value="#{messages['mantenedorfolios_id']}" />
						<h:outputText value=":" />
						<h:inputText value="#{mantenedorFolios.folioDocumento.id}"
							disabled="true" />
					</h:panelGroup>
				</h:panelGrid>
				<h:panelGrid columns="6">

					<h:outputLabel value="#{messages['mantenedorfolios_departamento']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu value="#{mantenedorFolios.fiscalia}"
						disabled="false" id="fiscaliasList" styleClass="input250">
						<f:selectItems value="#{mantenedorFolios.fiscalias}" />
					</h:selectOneMenu>

					<h:outputLabel value="#{messages['mantenedorfolios_unidades']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu value="#{mantenedorFolios.unidad}"
						id="unidadesList" styleClass="input250"
						disabled="#{mantenedorFolios.habilitaUnidad}">
						<f:selectItems value="#{mantenedorFolios.unidades}" />
					</h:selectOneMenu>

					<h:outputLabel
						value="#{messages['mantenedorfolios_nivel_departamento']}" />
					<h:outputLabel value=":" />
					<h:selectBooleanCheckbox
						value="#{mantenedorFolios.folioDocumento.nivel}">
						<a4j:support event="onclick"
							action="#{mantenedorFolios.nivelFiscalia()}"
							reRender="unidadesList" />
					</h:selectBooleanCheckbox>

					<h:outputLabel
						value="#{messages['mantenedorfolios_tipo_documento']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu value="#{mantenedorFolios.tipoDocumento}"
						styleClass="input250">
						<f:selectItems value="#{mantenedorFolios.listTipoDocumentos}" />
					</h:selectOneMenu>

					<h:outputLabel value="#{messages['mantenedorfolios_ano']}" />
					<h:outputLabel value=":" />
					<h:inputText value="#{mantenedorFolios.valorAgno}" />

					<h:outputLabel
						value="#{messages['mantenedorfolios_valor_inicial']}" />
					<h:outputLabel value=":" />
					<h:inputText value="#{mantenedorFolios.valorInicial}" />
					<h:outputLabel value="" />
					<h:outputLabel value="" />
					<h:outputLabel value="" />
					<h:outputLabel value="" />
					<h:outputLabel value="" />
					<h:outputLabel style="color:red;"
						value="#{messages['mantenedorfolios_el_valor_incial_corresponde_al_ultimo_folio_solicitado_si_desea_crear_uno_nuevo_debe_iniciar_en_0_']}" />

				</h:panelGrid>
				<h:panelGrid columns="1" style="padding:5px;">
					<a4j:commandButton value="#{messages['mantenedorfolios_guardar']}"
						action="#{mantenedorFolios.guardarFolio()}"
						reRender="idBuscarFolio, idTableFolios, panelSolicitaFolio, mensajeError" />
				</h:panelGrid>
			</h:form>
		</rich:panel>

		<br />
		<rich:panel id="idListFolios">
			<f:facet name="header">
				<span>#{messages['mantenedorfolios_lista_de_folios']}</span>
			</f:facet>

			<h:form>
				<rich:dataTable width="100%" id="idTableFolios"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="#{mantenedorFolios.listFolios}" var="_varFolio">
					<rich:column>
						<f:facet name="header">
							<h:outputText
								value="#{messages['mantenedorfolios_departamento']}" />
						</f:facet>
						<h:outputText value="#{_varFolio.fiscalia.descripcion}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{messages['mantenedorfolios_unidad']}" />
						</f:facet>
						<h:outputText value="#{_varFolio.unidadTmp}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText
								value="#{messages['mantenedorfolios_tipo_documento']}" />
						</f:facet>
						<h:outputText value="#{_varFolio.tipoDocumento.descripcion}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{messages['mantenedorfolios_ano']}" />
						</f:facet>
						<h:outputText value="#{_varFolio.agnoActual}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{messages['mantenedorfolios_folio']}" />
						</f:facet>
						<h:outputText value="#{_varFolio.numeroActual}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{messages['mantenedorfolios_editar']}" />
						</f:facet>
						<h:commandButton image="/imagenes/icon_editar.gif" title="Editar"
							style="border:none;" reRender="idBuscarFolio"
							action="#{mantenedorFolios.editarFolio(_varFolio.id)}" />
					</rich:column>
				</rich:dataTable>
			</h:form>
		</rich:panel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['mantenedorfolios_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['mantenedorfolios_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>
