<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">

		<script type="text/javascript">
			/* <![CDATA[ */	
			function soloNumerosConDecimales(evt){
				if(window.event){
					keynum = evt.keyCode;
				}else{
					keynum = evt.which;
				}
				if(keynum==8 || keynum==0 || keynum==9 || keynum==46 || (keynum>47 && keynum<58)){
					return true;
				}else{
					return false;
				}
			}
			/* ]]> */
		</script>

		<rich:panel id="idAgregarAlerta">
			<f:facet name="header">
				<span>#{messages['mantenedoralertas_agregar_alerta']}</span>
			</f:facet>

			<h:messages globalOnly="false" styleClass="message" />

			<h:form>
				<h:panelGrid columns="3" id="panelAgregarAlerta"
					style="padding:5px;">

					<h:panelGroup rendered="#{mantenedorAlertas.alerta.id != null}">
						<h:outputText value="#{messages['mantenedoralertas_iddp']}"
							style="font-weight: bold; padding-right:20px;" />
						<br />
						<h:outputText value="#{mantenedorAlertas.alerta.id}" />
					</h:panelGroup>

					<h:panelGroup>
						<h:outputText value="#{messages['mantenedoralertas_nombredp']}"
							style="font-weight: bold; padding-right:20px;" />
						<br />
						<h:inputText id="nombreAlerta" maxlength="200"
							value="#{mantenedorAlertas.alerta.nombre}" style="width:346px;"
							required="true" size="50" validator="#{regexValidator.validate}"
							requiredMessage="Debe ingresar un nombre">
						</h:inputText>
					</h:panelGroup>

					<h:panelGroup>
						<h:outputText value="#{messages['mantenedoralertas_plazodp']}"
							style="font-weight: bold; padding-right:20px;" />
						<br />
						<h:inputText id="plazoAlerta"
							value="#{mantenedorAlertas.alerta.plazo}" style="width:346px;"
							required="true" size="50" maxlength="10"
							requiredMessage="Debe ingresar un plazo"
							onkeypress="return soloNumerosConDecimales(event)">
						</h:inputText>
					</h:panelGroup>

				</h:panelGrid>

				<h:panelGrid columns="2" style="padding:5px;">
					<a4j:commandButton value="#{messages['mantenedoralertas_guardar']}"
						action="#{mantenedorAlertas.guardarAlerta()}"
						reRender="idAgregarAlerta, idListAlertas" />
				</h:panelGrid>
			</h:form>
		</rich:panel>

		<br />
		<rich:panel id="idListAlertas">
			<f:facet name="header">
				<span>#{messages['mantenedoralertas_lista_de_alertas']}</span>
			</f:facet>

			<h:form>
				<rich:dataTable width="100%" id="idTableCargos"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="#{mantenedorAlertas.listAlertas}" var="_varAlerta">
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{messages['mantenedoralertas_id']}" />
						</f:facet>
						<h:outputText value="#{_varAlerta.id}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{messages['mantenedoralertas_nombre']}" />
						</f:facet>
						<h:outputText value="#{_varAlerta.nombre}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{messages['mantenedoralertas_plazo']}" />
						</f:facet>
						<h:outputText value="#{_varAlerta.plazo}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{messages['mantenedoralertas_accion']}" />
						</f:facet>
						<h:commandButton image="/imagenes/icon_editar.gif" title="Editar"
							style="border:none;" reRender="idAgregarAlerta" immediate="true"
							action="#{mantenedorAlertas.editarAlerta(_varAlerta.id)}" />

						<h:commandButton image="/imagenes/ico_bot_eliminar.gif"
							title="Eliminar" style="border:none;" reRender="idListAlertas"
							immediate="true"
							action="#{mantenedorAlertas.eliminarAlerta(_varAlerta.id)}" />

					</rich:column>
				</rich:dataTable>
			</h:form>
		</rich:panel>
		
		<a4j:form>
			<a4j:commandButton value="Enviar Notificaciones" 
				action="#{mantenedorAlertas.pruebaNotificaciones}"
				onclick="Richfaces.showModalPanel('panelEspera')"
				oncomplete="Richfaces.hideModalPanel('panelEspera')"/>
		</a4j:form>
		
		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>

	</ui:define>

</ui:composition>