@charset "utf-8";
/************************************************************
*			Estilos Sistema Exedoc - Base Exedoc			*
*						   by Exe							*
************************************************************/

body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #F0EFEF;
	margin: 0;
	/* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center;
	/* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}
.oneColLiqCtrHdr #container {
	width: 100%; /* this will create a container 80% of the browser width */
	background: #FFFFFF;
	margin: 0px;
	/* the auto margins (in conjunction with a width) center the page */
	border: 0px solid #000000;
	text-align: left;
	/* this overrides the text-align: center on the body element. */
}
.oneColLiqCtrHdr #header {
	background: #DDDDDD;
	padding: 0 0px 0 0px;
	/* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
	margin: 0px;
	height: 117px;
}
.oneColLiqCtrHdr #header h1 {
	margin: 0;
	/* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0;
	/* using padding instead of margin will allow you to keep the element away from the edges of the div */
}
.oneColLiqCtrHdr #mainContent {
	padding: 0 0px;
	/* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #FFFFFF;
	margin: 0px;
}
.oneColLiqCtrHdr #footer {
	padding: 0px;
	/* this padding matches the left alignment of the elements in the divs that appear above it. */
	margin: 0px;
	height: 50px;
}
.oneColLiqCtrHdr #footer p {
	margin: 0;
	/* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0;
	/* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}
.oneColLiqCtrHdr #mainContent #contenido {
	height: auto;
	margin: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 98%;
	/*
	width: 95%;
	height: auto;
	margin: 0px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	float: left;
*/
}
.creditos {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.fondo_columnaizqu {
	background-image: url(../imagenes/base/fondo_pagina_01.gif);
	background-repeat: repeat-y;
	background-position: left;
	width: 10px;
}
.fondo_columnaderecha {
	background-image: url(../imagenes/base/fondo_pagina_03.gif);
	background-repeat: repeat-y;
	background-position: right;
	width: 10px;
}
.fondo_contenido {
	background-color: #FFF;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
.oneColLiqCtrHdr #header #menu_auxiliar {
	width: 97%;
	height: 20px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 23px;
	/* Para Internet Explorer 8 */
	padding-right /*\**/: 5px\9;
	/* Para Internet Explorer 7 */ //
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	position: relative;
	/* Para Internet Explorer 8 */
	position /*\**/: absolute\9;
	/* Para Internet Explorer 7 */ //
	position: absolute;
	top: 35px;
	border: 0px solid;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	float: right;
}
/* Para Chrome 2006-2010 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.oneColLiqCtrHdr #header #menu_auxiliar {
		position: absolute;
	}
	td.c4 {
		width: 100%;
		background-color: #12508F;
	}
}
.dr-toolbar-int {
	color: #FFF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 10px;
	font-weight: normal;
	padding: 0px 0px;
	padding-top: 5px;
	white-space: nowrap;
}
/* -------------------- Campos de Textos -------------------------- */
select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #F0F8FF; /* #EFEFEF */
	text-align: left;
}
.input20 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 20px;
	border: 1px solid #999999;
}
.input40 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 40px;
	border: 1px solid #999999;
}
.input60 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 60px;
	border: 1px solid #999999;
}
.input80 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 80px;
	border: 1px solid #999999;
}
.input100 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 100px;
	border: 1px solid #999999;
}
.input120 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 120px;
	border: 1px solid #999999;
}
.input140 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 140px;
	border: 1px solid #999999;
}
.input160 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 160px;
	border: 1px solid #999999;
}
.input180 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 180px;
	border: 1px solid #999999;
}
.input200 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 200px;
	border: 1px solid #999999;
}
.input223 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 223px;
	border: 1px solid #999999;
}

.input230 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 230px;
	border: 1px solid #999999;
}

.input250 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 250px;
	border: 1px solid #999999;
}

.input300 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 300px;
	border: 1px solid #999999;
}

.input330 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 330px;
	border: 1px solid #999999;
}

.input350 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 350px;
	border: 1px solid #999999;
}

.input355 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 355px;
	border: 1px solid #999999;
}

.input400 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 400px;
	border: 1px solid #999999;
}

.input500 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 500px;
	border: 1px solid #999999;
}

.input600 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 600px;
	border: 1px solid #999999;
}

input[type='radio'] {
	background-color: #FFF;
	border: none;
}

input[type='checkbox'] {
	background-color: #FFF;
	border: none;
}

fieldset {
	width: 97%;
	/*	Para Internet Explorer 8, se re-escribe la propiedad de esta forma:	*/
	width /*\**/: 97% \9;
	/*	Para Internet Explorer 7, se re-escribe la propiedad de esta forma:	*/
    //width: 97%;
	margin: auto;
	margin-bottom: 10px;
	border: solid #CCC 1px;
	text-align: left;
	/*	Para Internet Explorer 8, se re-escribe la propiedad de esta forma:	*/
	padding /*\**/: 8px\9;
	/*	Para Internet Explorer 7, se re-escribe la propiedad de esta forma:	*/
	//
	padding: 8px;
}

legend {
	text-align: left;
	background: #FFFFCC;
	padding: 5px 10px;
	border: 1px solid #CCCCCC;
	color: #006699;
	font-weight: bold;
	font-family: Arial, Helvetica, Sans-Serif, sans-serif;
	font-size: 11px;
	/*	Para Internet Explorer 8, se re-escribe la propiedad de esta forma:	*/
	margin /*\**/: 0px\9;
	/*	Para Internet Explorer 7, se re-escribe la propiedad de esta forma:	*/
	//
	margin: 0px;
}

.subpanel {
	width: 98%;
	margin: auto;
	margin-bottom: 10px;
}
/* -------------------- Textos -------------------------- */
.txttituloseccion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006699;
	background-image: url(../imagenes/bg_titulo_01.jpg);
	background-position: top right;
	background-repeat: no-repeat;
}

.txttitulobloques {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #006699;
}

.txttituloblanco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

.txtcampos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

.txtfecha {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006699;
}

.txtetiqueta_negro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}

.txtnegro10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006699;
}

.txtalerta {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
}
/* -------------------- Estilos de los Botones -------------------------- */
.boton1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	height: 18px;
	background-color: #CED3DE;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #B7BFD0;
	border-right-color: #B7BFD0;
	border-bottom-color: #B7BFD0;
	border-left-color: #B7BFD0;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 3px;
	padding-left: 3px;
}

.boton1140 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	height: 18px;
	background-color: #CED3DE;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #B7BFD0;
	border-right-color: #B7BFD0;
	border-bottom-color: #B7BFD0;
	border-left-color: #B7BFD0;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 3px;
	padding-left: 3px;
	width: 140px;
}

.boton1180 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	height: 18px;
	background-color: #CED3DE;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #B7BFD0;
	border-right-color: #B7BFD0;
	border-bottom-color: #B7BFD0;
	border-left-color: #B7BFD0;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 3px;
	padding-left: 3px;
	width: 180px;
}

.boton2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #84869C;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #697987;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #697987;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 3px;
	padding-left: 3px;
}

.boton3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #8C9AA5;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #6B798C;
	border-right-color: #6B798C;
	border-bottom-color: #6B798C;
	border-left-color: #6B798C;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 2px;
	padding-left: 2px;
	height: 25px;
	width: 70px;
}

.boton4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #84869C;
	background-color: #CCE6FF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #6B798C;
	border-right-color: #6B798C;
	border-bottom-color: #6B798C;
	border-left-color: #6B798C;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 2px;
	padding-left: 2px;
	height: 25px;
	width: 70px;
}

.boton5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #8C9AA5;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #6B798C;
	border-right-color: #6B798C;
	border-bottom-color: #6B798C;
	border-left-color: #6B798C;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-right: 2px;
	padding-left: 2px;
	height: 25px;
	width: 110px;
}
/* -------------------- Bordes -------------------------- */
.borde1 {
	border: 1px solid #84869C;
}
/* -------------------- Tablas -------------------------- */
table.resultados {
	width: 100%;
	background-color: #FFFFFF;
	border: 0px solid #CCCCCC;
	padding: 0px;
	margin: 0px;
}

tr.primeralinea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	color: #003366;
	text-decoration: none;
	background-color: #B7DBFF;
	background-position: center top;
	text-align: center;
	vertical-align: middle;
}

tr.par {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	color: #003366;
	text-decoration: none;
	background-color: #F7F7F7;
	background-position: center top;
	text-align: center;
	vertical-align: middle;
}

tr.impar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	color: #003366;
	text-decoration: none;
	background-color: #FFFFFF;
	background-position: center top;
	text-align: center;
	vertical-align: middle;
}

td {
	vertical-align: top;
}

td.c6 {
	background-image: url(../imagenes/base/corner_footer_02.gif);
	background-repeat: repeat-x;
	height: 50px;
	vertical-align: middle;
}

td.c5 {
	background-image: url(../imagenes/base/corner_footer_02.gif);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
}

td.c4 {
	background-image:
		url(../imagenes/base/corner_menu_principal_centro_01.gif);
	background-repeat: repeat-x;
	width: auto;
	height: 35px;
	background-color: #12508F;
}

td.c3 {
	background-color: #12508F;
	width: 7px;
	height: 35px;
}

td.c2 {
	background-image: url(../imagenes/base/corner_top_03.gif)
}

td.c1 {
	background-image: url(../imagenes/base/corner_top_05.gif)
}
/* -------------------- Links -------------------------- */
a.lkmenuinicio {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
}

a.lkmenuinicio:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF9900;
	text-decoration: none;
}

a.lkpaginacion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006699;
	text-decoration: none;
}

a.lkpaginacion:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	text-decoration: none;
}

a.lk_agend {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #4e5265;
	text-decoration: underline;
}

a.lkazulpeque {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4E5265;
	text-decoration: none;
}

a.lkazulpeque:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4E5265;
	text-decoration: underline;
}

a.lkbarranav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0099FF;
	text-decoration: none;
}

a.lkbarranav:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF9900;
	text-decoration: none;
}

a.lkdetalle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	color: #003366;
	text-decoration: none;
	background-color: #FFFFFF;
	background-position: center top;
	text-align: center;
	vertical-align: middle;
}

a.lkdetalle:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	color: #003366;
	text-decoration: none;
	background-color: #FFFFFF;
	background-position: center top;
	text-align: center;
	vertical-align: middle;
}

#menu_auxiliar .dr-toolbar-int {
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 10px;
	font-weight: normal;
	padding: 5px 0 0;
	white-space: nowrap;
}

.sin_formato {
	text-decoration:none;
}