@charset "utf-8";
/************************************************************
*	Estilos Sistema Exedoc - Theme "base"					*
*						    by Exe							*
************************************************************/
a:active,a:link,a:visited {
	color: #FF9900;
}

a:hover {
	color: #FF9900;
}

input,select,textarea {
	border: 1px solid #BBBBBB;
	font-size: 11px;
	background: none;
	color: black;
	font-family: Arial, sans-serif;
	background-color: #FFFFFF;
}

.rich-calendar-input {
	width: 100px;
}

input[type='submit'],input[type='button'] {
	height: 24px;
	width: 100px;
	background: none;
	color: #484848;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	padding-left: 9px;
	background-image: url(../imagenes/base/bg_button_skin_01.png);
	background-repeat: no-repeat;
	background-position: top left;
	border: none;
}

.firmado {
	font-size: 17px;
	color: black;
	font-family: Arial, sans-serif;
	textAlign: center;
}

.tableControl,.actionButtons {
	width: 100%;
}

.tableControl {
	text-align: right;
}

.footer {
	text-align: center;
	font-size: 10px;
}

.rich-table {
	width: 100%;
}

h1 {
	font-family: Arial, sans-serif;
	color: #578BB8;
	font-size: 1.6em;
	margin-top: 0;
}

body {
	margin: 0px;
	font-family: Arial, sans-serif;
	color: #616161;
}

.body {
	padding: 30px;
}

.columnHeader:hover {
	color: #FF6600;
}

.message {
	border: 1px solid #FFCC00;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F0F8FF;
	font-size: 12px;
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 115px;
	float: left;
	padding-left: 3px;
	margin-top: 0px;
	clear: left;
}

.value {
	float: left;
	padding-left: 5px;
}

.error {
	margin-left: 20px;
	margin-top: 5px;
	float: left;
	padding: 5px;
	border: 1px solid red;
}

.errors {
	color: red;
}

.errors input {
	border: 1px solid red;
}

.errors textarea {
	border: 1px solid red;
}

.required {
	color: red;
	padding-left: 2px;
}
/* date picker style */
div.seam-date {
	margin-top: 5px;
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
	color: #505050;
	font-family: Arial, sans-serif;
	font-size: 11px;
}

table.seam-date td {
	font-family: Arial, sans-serif;
	font-weight: 11px;
}

.seam-date-monthNames {
	width: 70px;
	border: 1px solid #dddddd;
	border-right: 3px solid #444444;
	border-bottom: 3px solid #444444;
	background-color: #ffffff;
	font-size: 11px;
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-weight: normal;
}

a.seam-date-monthNameLink,a.seam-date-monthNameLink:visited {
	text-align: center;
	display: block;
	color: #555555;
}

a.seam-date-monthNameLink:hover {
	background-color: #CCCCCC;
	color: red;
}

.seam-date-years {
	height: 10em;
	overflow: auto;
	width: 60px;
	border: 1px solid #dddddd;
	border-right: 3px solid #444444;
	border-bottom: 3px solid #444444;
	background-color: #ffffff;
	font-size: 11px;
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-weight: normal;
}

a.seam-date-yearLink,a.seam-date-yearLink:visited {
	text-align: center;
	display: block;
	color: #555555;
}

a.seam-date-yearLink:hover {
	background-color: #CCCCCC;
	color: red;
}

tr.seam-date-header {
	padding: 2px 0px 2px 0px;
}

td.seam-date-header {
	padding: 0px 8px 0px 8px;
	text-align: center;
	color: gray;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 11px;
}

td.seam-date-header-prevMonth {
	background-image: url("../imagenes/cal-prev.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 0px 2px 0px 2px;
	width: 17px;
	height: 16px;
	margin-left: 2px;
}

td.seam-date-header-nextMonth {
	background-image: url("../imagenes/cal-next.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 0px 2px 0px 2px;
	width: 17px;
	height: 16px;
	margin-right: 2px;
}

tr.seam-date-headerDays {
	color: white;
	font-weight: normal;
}

tr.seam-date-headerDays>td {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	color: white;
	text-align: center;
	width: 26px;
}

tr.seam-date-footer {
	background-color: white;
	color: #505050;
	font-weight: bold;
}

tr.seam-date-footer>td {
	text-align: center;
}

td.seam-date-inMonth {
	background-color: white;
	color: black;
	font-weight: normal;
	cursor: pointer;
	border: 1px solid #ece9d8;
}

td.seam-date-outMonth {
	background-color: white;
	color: #999999;
	font-weight: normal;
	cursor: pointer;
	border: 1px solid #ece9d8;
}

td.seam-date-selected {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	color: black;
	font-weight: normal;
}

td.seam-date-dayOff-inMonth {
	background-color: #efefef;
	color: black;
	font-weight: normal;
	cursor: pointer;
	border: 1px solid #ece9d8;
}

td.seam-date-dayOff-outMonth {
	background-color: #efefef;
	color: #999999;
	font-weight: normal;
	cursor: pointer;
	border: 1px solid #ece9d8;
}

td.seam-date-hover {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	cursor: pointer;
	color: red;
}

.pic {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	display: none;
}

.rich-panel-header {
	background-color: #DFDFDF;
	background-image: url(../imagenes/base/bg_header_panel_skin.png);
	border-color: #A8A8A8;
	color: #0041AD;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 22px;
}

.rich-panel-header {
	background-position: left top;
	background-repeat: repeat-x;
	border-style: solid;
	border-width: 0px;
	padding: 2px;
	padding-top: 8px;
}

.rich-panel-header span {
	background-image: url(../imagenes/base/bullets_header_panel_skin.png);
	background-position: 5px 1px;
	background-repeat: no-repeat;
	padding-top: 0px;
	padding-left: 25px;
	line-height: 15px;
	text-align: left;
}

.rich-panel-body {
	color: #003366;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}

.rich-panel-body {
	background: #EEE;
	padding: 0px;
	border-top: none;
}
/*
.rich-panel {
	border-style:solid 0px;
}
*/
.rich-panel {
	background: #EEE;
	border-style: solid;
	border-color: #A8A8A8;
}

.rich-stglpanel-header {
	color: #0041AD;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 22px;
	border: solid 1px #CCC;
	padding: 8px 2px 2px;
}

.rich-table {
	width: 100%;
}

.rich-table {
	background-color: #FFFFFF;
	border-collapse: collapse;
	border-left: 1px solid #CCC;
	border-top: 0px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	empty-cells: show;
}

.rich-table-headercell {
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	color: #003366;
	font-family: Verdana, Arial, sans-serif;
	font-size: 9px;
	font-weight: normal;
	padding: 0px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	background-color: #FFF;
}

.footer_lista {
	background-color: #D4CFC7;
	background-image: url(../imagenes/base/bg_footer_panel_skin.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	border: 0px solid #CCCCCC;
	border-top: 0px solid #CCCCCC;
	height: 22px;
}

.rich-subtable-cell {
	color: #003366;
	font-family: Verdana, Arial, sans-serif;
	font-size: 9px;
	padding: 4px;
}

.numero_expedientes_pendientes {
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background: none;
	line-height: 15px;
	padding-left: 5px;
	padding-top: 0;
	text-align: left;
}

.rich-tabpanel-content {
	color: #003366;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}

.rich-tab-inactive {
	background-color: #EFEFEF;
	background-image: url(../imagenes/base/bg_footer_panel_skin.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 1px 1px 0;
	cursor: default;
}

.rich-mpnl-header {
	text-align: left;
}

.rich-mpnl-controls {
	padding-top: 10px;
	padding-right: 10px;
}

.rich-mpnl-text {
	color: #0041AD;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.rich-mpnl-body {
	padding: 10px;
}

.rich-subtable-cell {
	color: #003366;
	font-family: Verdana, Arial, sans-serif;
	font-size: 9px;
	padding: 2px;
}

.rich-table-subheadercell {
	text-align: left;
}

.rich-filter-input {
	width: 80px;
}
/* .rich-menu-item  {
	background-color:#FAE6B0;
	border-color:#E5973E;
	border-style:solid;
	border-width:1px;
	cursor:default;
	color:#0000FF;
	width:200px;
}
.rich-menu-item-enabled  {
	background-color:#EFEFEF;
	border-color:#FFFFFF;
	border-style:solid;
	border-width:1px;
	cursor:default;
	color:#0000FF;
}
.rich-mp-container {
	 position: relative; 
	 margin: auto 0;
	 z-index: 99;	
}
.rich-modalpanel  {
	 position: relative; 
	 margin: auto 0;
	 z-index: 99;
	 top:100px;
	 left:100px;	
	background-color:#EFEFEF;
	border-color:#FFFFFF;
	border-style:solid;
	border-width:1px;
}*/

/* richfaces */
.rich-label-text-decor {
	font-weight: bold;
	text-transform: uppercase;
}

.rich-menu-item,.rich-menu-item a,.rich-menu-item a:hover,.rich-menu-item a:visited,.rich-menu-group,.rich-menu-group a,.rich-menu-group a:hover,.rich-menu-group a:visited {
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	line-height: 18px;
	background-color: #A8A8A8;
	border-left: 0px solid #7B7B7B;
	border-right: 0px solid #7B7B7B;
	border-top: 0px solid #7B7B7B;
	border-bottom: 1px solid #7B7B7B;
	padding-left: 9px;
}

.rich-menu-item-disabled,.rich-menu-group-disabled {
	color: #EBE9E9;
}

.rich-menu-item-hover,.rich-menu-group-hover {
	background-color: #7B7B7B;
	border-left: 0px solid #7B7B7B;
	border-right: 0px solid #7B7B7B;
	border-top: 0px solid #7B7B7B;
	border-bottom: 1px solid #7B7B7B;
	color: #FFF;
}

.rich-menu-item-icon img {
	display: none;
	vertical-align: middle;
}

.rich-menu-list-border {
	margin-top: 6px;
	border-color: #A8A8A8;
}

.rich-ddmenu-label {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	border-right: 1px solid #FFF;
	padding-left: 15px;
	padding-right: 15px;
}

.rich-ddmenu-label-select {
	background-color: #A8A8A8;
	border-color: #A8A8A8;
	color: #666;
	border-right: 1px solid #FFF;
}

.rich-menu-list-bg {
	border: 0px solid #FFF;
}

.rich-toolbar-item {
    color: #FFFFFF;
    font-family: Arial,Verdana,sans-serif;
    font-size: 10px;
    font-weight: normal;
    padding: 5px 0 0;
    white-space: nowrap;
}

.boton-select-aplicacion {
    font-family: Arial,Verdana,sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    white-space: nowrap;
    border: 0.1em solid #666;
	width: 300px;
	background-color: #3a64ad; 
	color: #fff;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	text-shadow: 0.1em 0.1em #333;
}

a:hover .boton-select-aplicacion  {
	background-color: #f58d2d; 
	color: #333;
	text-shadow: 0.1em 0.1em #f58d2d;
}

#img_slogan {
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 20px;
}