<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">

		<h:messages globalOnly="true" styleClass="message" />

		<rich:panel>
			<f:facet name="header">#{messages['buscardocumento_buscar_un_documento']}</f:facet>
			<a4j:form>
				<h:panelGrid columns="1">
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['buscardocumento_n_documento']}</ui:define>
						<h:inputText value="#{reporte.numeroDocumentoBusqueda}" />
					</s:decorate>

					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['buscardocumento_n_interno_documento']}</ui:define>
						<h:inputText value="#{reporte.numeroInternoDocumentoBusqueda}" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['buscardocumento_materia']}</ui:define>
						<h:inputText value="#{reporte.materiaDocumentoBusqueda}" />
					</s:decorate>
					<a4j:commandButton action="#{reporte.buscarDocumentos()}"
						value="#{messages['buscardocumento_buscar']}" styleClass="boton1"
						reRender="tablaBuscarDocumento, paginadoBuscarDocumento">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />

					</a4j:commandButton>
				</h:panelGrid>
			</a4j:form>

		</rich:panel>

		<br />

		<rich:panel>
			<a4j:form target="otro">
				<rich:dataTable id="tablaBuscarDocumento" styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" rows="20" width="100%"
					value="#{documentosEncontrados}" var="doc"
					rendered="#{documentosEncontrados != null}">
					<f:facet name="header">
						<rich:columnGroup
							style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
							<rich:column rowspan="2">
								<h:outputText value="#{messages['buscardocumento_ver']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['buscardocumento_tipo_documento']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText value="N&#186; Documento" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['buscardocumento_fecha_documento']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText value="#{messages['buscardocumento_de']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText value="#{messages['buscardocumento_materia']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText value="#{messages['buscardocumento_formato']}" />
							</rich:column>

						</rich:columnGroup>
					</f:facet>
					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="13" style="height: 22px; valign: middle;">
								<rich:datascroller id="paginadoBuscarDocumento"
									styleClass="resultados" for="tablaBuscarDocumento"
									rendered="#{documentosEncontrados != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:column>
						<a4j:htmlCommandLink immediate="true" border="0px"
							action="#{visualizador.verDocumento(doc.idDocumento)}"
							rendered="#{doc.tieneCmsId}">
							<h:graphicImage border="0px" alt="#{doc.idDocumento}"
								url="/imagenes/icono_visualizar_doc_adjunto.gif" />
						</a4j:htmlCommandLink>
					</rich:column>
					<rich:column>&nbsp;<h:outputText
							value="#{doc.tipoDocumento}" />
					</rich:column>
					<rich:column>&nbsp;<h:outputText
							value="#{doc.numeroDocumento}" />
					</rich:column>
					<rich:column>&nbsp;<h:outputText
							value="#{doc.fechaDocumentoOrigen}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputText>
					</rich:column>
					<rich:column>&nbsp;<h:outputText
							value="#{doc.emisor}" />
					</rich:column>
					<rich:column>&nbsp;<h:outputText
							value="#{doc.materia}" />
					</rich:column>
					<rich:column>&nbsp;<h:outputText
							value="#{doc.formatoDocumento}" />
					</rich:column>


				</rich:dataTable>

			</a4j:form>
		</rich:panel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['buscardocumento_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['buscardocumento_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>

	</ui:define>

</ui:composition>
