<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<h:messages globalOnly="true" styleClass="message" />

		<rich:panel id="formReporte">
			<f:facet name="header">#{messages['busquedadocumentosunidadorganizacional_reporte_de_expedientes_por_unidad_organizacional']}</f:facet>
			<a4j:form>
				<h:panelGrid columns="2">
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosunidadorganizacional_fecha_despacho_']}</ui:define>
						<a4j:outputPanel id="calendarInicio">
							<rich:calendar value="#{reporte.fechaInicioDocumentoBusqueda}"
								locale="#{reporte.locale}" popup="true" datePattern="dd/MM/yyyy"
								showApplyButton="false" required="true" enableManualInput="true" />
						</a4j:outputPanel>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosunidadorganizacional_fecha_despacho_']}</ui:define>
						<a4j:outputPanel id="calendarTermino">
							<rich:calendar value="#{reporte.fechaTerminoDocumentoBusqueda}"
								locale="#{reporte.locale}" popup="true" datePattern="dd/MM/yyyy"
								showApplyButton="false" required="true" enableManualInput="true" />
						</a4j:outputPanel>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosunidadorganizacional_tipo_documento']}</ui:define>
						<h:selectOneMenu id="listaTipoDocumento"
							value="#{reporte.busquedaTipoDocumento}">

							<f:selectItems value="#{reporte.listaTipoDocumento}" />
						</h:selectOneMenu>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosunidadorganizacional_formato_documento']}</ui:define>
						<h:selectOneMenu id="listaFormatoDocumento"
							value="#{reporte.busquedaFormatoDocumento}">

							<f:selectItems value="#{reporte.listaFormatoDocumento}" />
						</h:selectOneMenu>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosunidadorganizacional_region_emisor']}</ui:define>
						<h:selectOneMenu id="listaRegionEmisor"
							value="#{reporte.regionEmisor}">
							<a4j:support
								action="#{reporte.buscarUnidadesOrganizacionalesEmisor}"
								event="onchange"
								reRender="listaUnidadOrganizacionalEmisor, cargoEmisorList, personaEmisorList" />
							<f:selectItems value="#{reporte.regionesEmisor}" />
						</h:selectOneMenu>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosunidadorganizacional_unidad_organizacional_emisor']}</ui:define>
						<h:selectOneMenu id="listaUnidadOrganizacionalEmisor"
							value="#{reporte.idUnidadOrganizacionalEmisor}">
							<f:selectItems value="#{reporte.unidadesOrganizacionalesEmisor}" />
							<a4j:support action="#{reporte.buscarCargosEmisor}"
								event="onchange" reRender="cargoEmisorList, personaEmisorList" />
						</h:selectOneMenu>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosunidadorganizacional_cargo_emisor']}</ui:define>
						<h:selectOneMenu id="cargoEmisorList"
							value="#{reporte.cargoEmisor}">
							<a4j:support action="#{reporte.buscarPersonasEmisor}"
								event="onchange" reRender="personaEmisorList, " />
							<f:selectItems value="#{reporte.cargosEmisor}" />
						</h:selectOneMenu>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosunidadorganizacional_emisor']}</ui:define>
						<h:selectOneMenu id="personaEmisorList"
							value="#{reporte.personaEmisor}">
							<f:selectItems value="#{reporte.personasEmisor}" />
						</h:selectOneMenu>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosunidadorganizacional_region_destinatario']}</ui:define>
						<h:selectOneMenu id="listaRegionDestinatario"
							value="#{reporte.regionDestinatario}">
							<a4j:support
								action="#{reporte.buscarUnidadesOrganizacionalesDestinatario}"
								event="onchange"
								reRender="listaUnidadOrganizacionalDestinatario, cargoDestinatarioList, personaDestinatarioList" />
							<f:selectItems value="#{reporte.regionesDestinatario}" />
						</h:selectOneMenu>

					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosunidadorganizacional_unidad_organizacional_destinatario']}</ui:define>
						<h:selectOneMenu id="listaUnidadOrganizacionalDestinatario"
							value="#{reporte.idUnidadOrganizacionalDestinatario}">
							<f:selectItems
								value="#{reporte.unidadesOrganizacionalesDestinatario}" />
							<a4j:support action="#{reporte.buscarCargosDestinatario}"
								event="onchange"
								reRender="cargoDestinatarioList, personaDestinatarioList" />
						</h:selectOneMenu>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosunidadorganizacional_cargo_destinatario']}</ui:define>
						<h:selectOneMenu id="cargoDestinatarioList"
							value="#{reporte.cargoDestinatario}">
							<a4j:support action="#{reporte.buscarPersonasDestinatario}"
								event="onchange" reRender="personaDestinatarioList" />
							<f:selectItems value="#{reporte.cargosDestinatario}" />
						</h:selectOneMenu>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosunidadorganizacional_destinatario']}</ui:define>
						<h:selectOneMenu id="personaDestinatarioList"
							value="#{reporte.personaDestinatario}">
							<f:selectItems value="#{reporte.personasDestinatario}" />
						</h:selectOneMenu>
					</s:decorate>
					<a4j:commandButton
						action="#{reporte.filtrarExpedientesUnidadOrganizacional()}"
						value="#{messages['busquedadocumentosunidadorganizacional_buscar']}"
						type="button" styleClass="boton1"
						reRender="tablaReporteDocumentos, paginadoDocumentos, formReporte">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />
					</a4j:commandButton>
				</h:panelGrid>
			</a4j:form>
		</rich:panel>
		<br />
		<rich:panel>
			<a4j:form target="otro">
				<rich:dataTable id="tablaReporteDocumentos" styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" width="98%"
					value="#{reporte.reporteDocumentos}" var="doc" rows="20"
					rendered="#{reporte.reporteDocumentos != null}">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_ver']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_n_expediente']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_fecha_ingreso']}" />
							</rich:column>

							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_tipo_documento']}" />
							</rich:column>

							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_n_documento']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_n_interno']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_fecha_documento']}" />
							</rich:column>

							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_de']}" />
							</rich:column>

							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_materia']}" />
							</rich:column>

							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_formato']}" />
							</rich:column>

							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_emisor']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_cargo_emisor']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_uo_emisor']}" />
							</rich:column>


							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_destinatario']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_cargo_destinatario']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_uo_destinatario']}" />
							</rich:column>

							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentosunidadorganizacional_fecha_despacho']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<f:facet name="footer">
						<rich:columnGroup>
							<rich:column colspan="17" style="valign: middle;">
								<rich:datascroller id="paginadoDocumentos"
									styleClass="resultados" for="tablaReporteDocumentos"
									rendered="#{reporte.reporteDocumentos != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable rowClasses="impar"
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="doc">

						<rich:column>
							<s:link id="verExpediente" action="#{verExpediente.begin}">
								<h:graphicImage url="/imagenes/ver_detalle_01.gif"
									alt="#{messages['busquedadocumentosunidadorganizacional_alt_ver_expediente']}"
									border="0" />
								<f:param name="idExpediente" value="#{doc.id}" />
							</s:link>

						</rich:column>

						<rich:column style="vertica-align: top;">
							<h:outputText value="#{doc.numeroExpediente}" />
						</rich:column>

						<rich:column style="vertica-align: top;">
							<h:outputText value="#{doc.fechaIngreso}" />
						</rich:column>

						<rich:column style="vertica-align: top;">
							<h:outputText value="#{doc.tipoDocumento}" />
						</rich:column>

						<rich:column style="vertica-align: top;">
							<h:outputText value="#{doc.numeroDocumento}" />
						</rich:column>

						<rich:column style="vertica-align: top;">
							<h:outputText value="#{doc.numeroDocumentoInterno}" />
						</rich:column>

						<rich:column style="vertica-align: top;">
							<h:outputText value="#{doc.fechaDocumentoOrigen}" />
						</rich:column>

						<rich:column style="vertica-align: top;">
							<h:outputText value="#{doc.emisor}" />
						</rich:column>

						<rich:column style="vertica-align: top;">
							<h:outputText value="#{doc.materia}" />
						</rich:column>

						<rich:column style="vertica-align: top;">
							<h:outputText value="#{doc.formatoDocumento}" />
						</rich:column>

						<rich:column style="vertica-align: top;">
							<h:outputText value="#{doc.emisorExpediente.nombres}" />
							<h:outputText value=" " />
							<h:outputText value="#{doc.emisorExpediente.apellidoPaterno}" />
						</rich:column>

						<rich:column style="vertica-align: top;">
							<h:outputText value="#{doc.emisorExpediente.cargo.descripcion}" />
						</rich:column>
						<rich:column style="vertica-align: top;">
							<h:outputText
								value="#{doc.emisorExpediente.cargo.unidadOrganizacional.descripcion}" />
						</rich:column>

						<rich:column style="vertica-align: top;">
							<h:outputText value="#{doc.destinatarioExpediente.nombres}" />
							<h:outputText value=" " />
							<h:outputText
								value="#{doc.destinatarioExpediente.apellidoPaterno}" />
						</rich:column>
						<rich:column style="vertica-align: top;">
							<h:outputText
								value="#{doc.destinatarioExpediente.cargo.descripcion}" />
						</rich:column>
						<rich:column style="vertica-align: top;">
							<h:outputText
								value="#{doc.destinatarioExpediente.cargo.unidadOrganizacional.descripcion}" />
						</rich:column>
						<rich:column style="vertica-align: top;">
							<h:outputText value="#{doc.fechaDespacho}" />
						</rich:column>
					</rich:subTable>

				</rich:dataTable>
				<div align="right">
					<h:commandButton action="reporteDocumentosUnidadOrganizacionalPDF"
						value="#{messages['busquedadocumentosunidadorganizacional_imprimir']}" />
				</div>

			</a4j:form>

		</rich:panel>


		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['busquedadocumentosunidadorganizacional_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['busquedadocumentosunidadorganizacional_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>

	</ui:define>
</ui:composition>
