<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel id="panelHistorialBandejaEntrada">
			<f:facet name="header">
				<span>#{messages['busquedahistorialbandejaentrada_historial_de_mi_bandeja_de_entrada']}</span>
			</f:facet>
			<h:form id="formBuscar">
				<h:panelGrid columns="2">
					<s:decorate template="/layout/edit.xhtml" rendered="false">
						<ui:define name="label">#{messages['busquedahistorialbandejaentrada_departamentodp']}</ui:define>
						<h:selectOneMenu value="#{reporte.departamento}"
							styleClass="input200">
							<f:selectItems value="#{reporte.listDepartamento}" />
						</h:selectOneMenu>
					</s:decorate>
					<rich:separator width="20px" style="background:transparent;" rendered="false"/>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedahistorialbandejaentrada_tipo_documentodp']}</ui:define>
						<h:selectOneMenu value="#{reporte.tipoDocumentoBusqueda}">
							<f:selectItems
								value="#{ManejarDocumento.obtenerTiposDeDocumentos()}" />
						</h:selectOneMenu>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedahistorialbandejaentrada_n_expedientedp']}</ui:define>
						<h:inputText value="#{reporte.numeroExpedienteBusqueda}"
							validator="#{campoMaxLargoValidator.validate}"
							validatorMessage="Campo muy largo" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedahistorialbandejaentrada_fecha_iniciodp']}</ui:define>
						<a4j:outputPanel id="calendarInicio">
							<rich:calendar value="#{reporte.fechaInicioDocumentoBusqueda}"
								locale="#{reporte.locale}" popup="true" datePattern="dd/MM/yyyy"
								showApplyButton="false" enableManualInput="false"
								required="false" requiredMessage="Fecha obligatoria" />
						</a4j:outputPanel>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedahistorialbandejaentrada_fecha_terminodp']}</ui:define>
						<a4j:outputPanel id="calendarTermino">
							<rich:calendar value="#{reporte.fechaTerminoDocumentoBusqueda}"
								locale="#{reporte.locale}" popup="true" datePattern="dd/MM/yyyy"
								showApplyButton="false" enableManualInput="false"
								required="false" requiredMessage="Fecha obligatoria" />
						</a4j:outputPanel>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedahistorialbandejaentrada_dedp']}</ui:define>
						<h:inputText value="#{reporte.emisorDocumentoBusqueda}"
							style="width : 200px;"
							validator="#{campoMaxLargoValidator.validate}"
							validatorMessage="Campo muy largo" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" />

					<a4j:commandButton
						action="#{reporte.filtrarHistorialBandejaEntrada()}"
						value="#{messages['busquedahistorialbandejaentrada_buscar']}"
						styleClass="boton1"
						reRender="panelHistorialBandejaEntrada, tablaReporteHistorialBandeja, paginadoHistorialBandejaEntrada,formBuscar">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />
					</a4j:commandButton>
				</h:panelGrid>
			</h:form>
		</rich:panel>

		<br />

		<a4j:form target="otro">
			<rich:panel>
				<f:facet name="header">
					<span>#{messages['busquedahistorialbandejaentrada_resultados']}</span>
				</f:facet>
				<rich:dataTable id="tablaReporteHistorialBandeja"
					styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" rows="20" width="100%"
					value="#{reporte.historialBandejaEntrada}" var="historialBandeja"
					rendered="#{reporte.historialBandejaEntrada != null}">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column colspan="7"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['busquedahistorialbandejaentrada_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column colspan="6"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['busquedahistorialbandejaentrada_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column breakBefore="true">
								<h:outputText value="#{messages['busquedahistorialbandejaentrada_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedahistorialbandejaentrada_n']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedahistorialbandejaentrada_ingreso']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedahistorialbandejaentrada_acuse_de_recibo']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedahistorialbandejaentrada_despacho']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reasignacion']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedahistorialbandejaentrada_remitente']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedahistorialbandejaentrada_tipo']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedahistorialbandejaentrada_n']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedahistorialbandejaentrada_fecha']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedahistorialbandejaentrada_de']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedahistorialbandejaentrada_materia']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedahistorialbandejaentrada_formato']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					
					<rich:subTable rowClasses="impar"
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="estadoBandeja">
						<rich:column>
							<a4j:commandButton 
								alt="#{messages['busquedahistorialbandejaentrada_alt_ver_expediente']}"
								image="/imagenes/ver_detalle_01.gif" title="Ver Expediente"
								style="border: none;"
								action="#{verExpedienteDesdeReporte.begin()}">
								<f:param name="idExpediente"
									value="#{historialBandeja.id}" />
								<f:param name="verDesdeReporte" value="true" />
								<f:param name="bandejaEntradaCopia" value="false" />
							</a4j:commandButton>
						</rich:column>
						<rich:column>
							<h:outputText value="#{historialBandeja.numeroExpediente}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{historialBandeja.fechaIngresoBandeja}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<h:outputText value="#{historialBandeja.fechaAcuseRecibo}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<h:outputText value="#{historialBandeja.fechaDespacho}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<h:outputText value="#{historialBandeja.fechaReasignado}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<h:outputText value="#{historialBandeja.remitente}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{historialBandeja.tipoDocumento}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{historialBandeja.numeroDocumento}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{historialBandeja.fechaDocumentoOrigen}">
								<f:convertDateTime pattern="dd/MM/yyyy"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<h:outputText value="#{historialBandeja.emisor}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{historialBandeja.materia}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{historialBandeja.formatoDocumento}" />
						</rich:column>
					</rich:subTable>
					
					<!-- 
					<rich:subTable rowClasses="impar" rendered="false"
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="estadoBandeja">
						<rich:column style="vertical-align: top;"
							rowspan="#{historialBandeja.documentosRelacionados.size()+1}">
							<a4j:commandButton id="verExpediente"
								alt="#{messages['busquedahistorialbandejaentrada_alt_ver_expediente']}"
								image="/imagenes/ver_detalle_01.gif" title="Ver Expediente"
								style="border: none;"
								action="#{verExpedienteDesdeReporte.begin()}">
								<f:param name="idExpediente"
									value="#{reporte.obtenerIdExpediente(historialBandeja.numeroExpediente)}" />
								<f:param name="bandejaEntradaCopia" value="false" />
							</a4j:commandButton>
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{historialBandeja.documentosRelacionados.size()+1}">
							<h:outputText value="#{historialBandeja.numeroExpediente}" />
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{historialBandeja.documentosRelacionados.size()+1}">
							<h:outputText value="#{historialBandeja.fechaIngreso}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{historialBandeja.documentosRelacionados.size()+1}">
							<h:outputText value="#{historialBandeja.fechaAcuseRecibo}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{historialBandeja.documentosRelacionados.size()+1}">
							<h:outputText value="#{historialBandeja.fechaDespacho}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{historialBandeja.documentosRelacionados.size()+1}">
							<h:outputText value="#{historialBandeja.fechaReasignacion}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{historialBandeja.documentosRelacionados.size()+1}">
							<h:outputText value="#{historialBandeja.remitente}" />
						</rich:column>
						<rich:column style="vertical-align: top;" colspan="6">
							<rich:subTable rowClasses="impar" 
								onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
								onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
								value="#{historialBandeja.documentosRelacionados}" var="doc">
								<rich:column>
									<h:outputText value="#{doc.tipoDocumento.descripcion}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{doc.numeroDocumento}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{doc.fechaDocumentoOrigen}">
										<f:convertDateTime pattern="dd/MM/yyyy"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</h:outputText>
								</rich:column>
								<rich:column>
									<h:outputText value="#{doc.emisor}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{doc.materia}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{doc.formatoDocumento.descripcion}" />
								</rich:column>
							</rich:subTable>
						</rich:column>
					</rich:subTable>
					-->
					
					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="13" style="height: 22px; valign: middle;">
								<rich:datascroller id="paginadoHistorialBandejaEntrada"
									styleClass="resultados" for="tablaReporteHistorialBandeja"
									rendered="#{reporte.historialBandejaEntrada != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
				</rich:dataTable>
			</rich:panel>
			<br />

			<a4j:htmlCommandLink immediate="true" border="110px" target="_blank" rendered="false"
				action="reporteHistorialBandejaEntradaPDF">
				<a4j:commandButton
					value="#{messages['busquedahistorialbandejaentrada_imprimir']}"
					styleClass="boton1" />
			</a4j:htmlCommandLink>
		</a4j:form>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>

	</ui:define>

</ui:composition>
