<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<p:document xmlns:p="http://jboss.com/products/seam/pdf"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" type="PDF" pageSize="LETTER"
	orientation="portrait" title="Estado de Bandeja de Salida"
	author="WFDOC">

	<p:font size="20" style="bold">
		<p:paragraph spacingAfter="50">
			<p:text
				value="#{messages['busquedadocumentosoficinapartespdf_reporte_de_documentos']}" />
		</p:paragraph>
	</p:font>

	<p:font size="9">
		<p:table columns="10" widthPercentage="100"
			horizontalAlignment="center" spacingBefore="1" spacingAfter="1">
			<f:facet name="defaultCell">
				<p:cell borderWidth="1" horizontalAlignment="center"
					verticalAlignment="middle" />
			</f:facet>
			<p:cell>
				<p:paragraph>#{messages['busquedadocumentosoficinapartespdf_n_expediente']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['busquedadocumentosoficinapartespdf_fecha_ingreso']}</p:paragraph>
			</p:cell>

			<p:cell>
				<p:paragraph>#{messages['busquedadocumentosoficinapartespdf_n_folio']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['busquedadocumentosoficinapartespdf_tipo_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['busquedadocumentosoficinapartespdf_n_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['busquedadocumentosoficinapartespdf_de']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['busquedadocumentosoficinapartespdf_a']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['busquedadocumentosoficinapartespdf_fecha_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['busquedadocumentosoficinapartespdf_materia']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['busquedadocumentosoficinapartespdf_bandeja']}</p:paragraph>
			</p:cell>

			<ui:repeat value="#{reporte.reporteDocumentos}" var="documento">
				<p:cell>
					<p:paragraph>
						<p:text value="#{documento.numeroExpediente}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{documento.fechaIngreso}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								locale="#{reporte.locale}" />
						</p:text>
					</p:paragraph>
				</p:cell>

				<p:cell>
					<p:paragraph>
						<p:text value="#{documento.numeroExpedienteOPartes}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{documento.tipoDocumento}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{documento.numeroDocumento}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{documento.emisor}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{documento.destinatario}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{documento.fechaDocumentoOrigen}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								locale="#{reporte.locale}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{documento.materia}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{documento.formatoDocumento}" />
					</p:paragraph>
				</p:cell>
			</ui:repeat>
		</p:table>
	</p:font>
</p:document>
