<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<rich:panel id="panelRutaSeguidaPorDoc" style="width : 100%">
			<f:facet name="header">
				<span>#{messages['busquedarutaseguidadocumento_ruta_seguida_por_un_documento']}</span>
			</f:facet>
			<h:form id="formBuscar">
				<h:messages styleClass="message" globalOnly="true" />
				<h:panelGrid>
					<h:panelGrid columns="2">
						<s:decorate template="/layout/edit.xhtml" rendered="false">
							<ui:define name="label">#{messages['busquedarutaseguidadocumento_departamentodp']}</ui:define>
							<h:selectOneMenu value="#{reporte.departamento}"
								styleClass="input200">
								<f:selectItems value="#{reporte.listDepartamento}" />
							</h:selectOneMenu>
						</s:decorate>
						
						
						
						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['busquedarutaseguidadocumento_tipo_documentodp']}</ui:define>
							<h:selectOneMenu value="#{reporte.tipoDocumentoBusqueda}"
								styleClass="input200">
								<f:selectItems
									value="#{ManejarDocumento.obtenerTiposDeDocumentos()}" />
							</h:selectOneMenu>
						</s:decorate>
						
						<s:decorate template="/layout/edit.xhtml" style=" width: 10px;" />
						
						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['busquedarutaseguidadocumento_n_expedientedp']}</ui:define>
							<h:inputText value="#{reporte.numeroExpedienteBusqueda}"
								validator="#{campoMaxLargoValidator.validate}"
								validatorMessage="Demasiado largo" />
						</s:decorate>
						
						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['busquedarutaseguidadocumento_n_documentodp']}</ui:define>
							<h:inputText value="#{reporte.numeroDocumentoBusqueda}"
								validator="#{campoMaxLargoValidator.validate}"
								validatorMessage="Demasiado largo" />
						</s:decorate>

						<s:decorate template="/layout/edit.xhtml" rendered="false">
							<ui:define name="label">#{messages['busquedarutaseguidadocumento_nombre_archivodp']}</ui:define>
							<h:inputText value="#{reporte.nombreArchivoBusqueda}"
								style="width : 200px;"
								validator="#{campoMaxLargoValidator.validate}"
								validatorMessage="Demasiado largo" />
						</s:decorate>
						
						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['busquedarutaseguidadocumento_fecha_iniciodp']}</ui:define>
							<a4j:outputPanel id="calendarInicio" layout="block">
								<rich:calendar enableManualInput="false"
									value="#{reporte.fechaInicioDocumentoBusqueda}"
									popup="true"
									datePattern="dd/MM/yyyy" showApplyButton="false" />
							</a4j:outputPanel>
						</s:decorate>

						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['busquedarutaseguidadocumento_fecha_terminodp']}</ui:define>
							<a4j:outputPanel id="calendarTermino" layout="block">
								<rich:calendar value="#{reporte.fechaTerminoDocumentoBusqueda}"
									popup="true"
									datePattern="dd/MM/yyyy" showApplyButton="false"
									enableManualInput="false" />
							</a4j:outputPanel>
						</s:decorate>
						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['busquedarutaseguidadocumento_dedp']}</ui:define>
							<h:inputText value="#{reporte.emisorDocumentoBusqueda}"
								style="width : 200px;"
								validator="#{campoMaxLargoValidator.validate}"
								validatorMessage="Demasiado largo" />
						</s:decorate>
						
						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['busquedarutaseguidadocumento_materiadp']}</ui:define>
							<h:inputText value="#{reporte.materiaDocumentoBusqueda}"
								style="width : 200px;"
								validator="#{campoMaxLargoValidator.validate}"
								validatorMessage="Demasiado largo" />
						</s:decorate>
					</h:panelGrid>
					<a4j:commandButton action="#{reporte.filtrarRutaDeDocumentos()}"
						value="#{messages['busquedarutaseguidadocumento_buscar']}"
						styleClass="boton1"
						reRender="tablaRutaSeguidaDocumento, paginadoRutaSeguidaDocumento, formBuscar"
						style=" height : 18px;">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />
					</a4j:commandButton>
				</h:panelGrid>
			</h:form>
		</rich:panel>

		<br />
		<a4j:form>
			<rich:panel>
				<f:facet name="header">
					<span>#{messages['busquedarutaseguidadocumento_resultados']}</span>
				</f:facet>
				<rich:dataTable id="tablaRutaSeguidaDocumento" rows="20"
					styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" width="100%"
					value="#{reporte.rutaSeguidaDocumento}" var="rutaSeguida"
					rendered="#{reporte.rutaSeguidaDocumento != null}">

					<f:facet name="header">

						<rich:columnGroup>

							<rich:column colspan="1"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['busquedarutaseguidadocumento_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column colspan="8"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['busquedarutaseguidadocumento_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column colspan="10"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['busquedarutaseguidadocumento_ruta_seguida_del_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column breakBefore="true">
								<h:outputText value="#{messages['busquedarutaseguidadocumento_n']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_tipo']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_n']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_fecha']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_ingreso']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_de']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_materia']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_formato']}" />
							</rich:column>

							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_ver_exp']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_remitente']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_unidad_o_division']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_cargo']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_usuario']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_ingreso']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_acuse_de_recibo']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_despacho']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_archivado']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['busquedarutaseguidadocumento_reasignado']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="19" style="height: 22px; valign: middle;">
								<rich:datascroller id="paginadoRutaSeguidaDocumento"
									styleClass="resultados" for="tablaRutaSeguidaDocumento"
									rendered="#{reporte.rutaSeguidaDocumento != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable rowClasses="impar"
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="rutaSeguida">
						<rich:column style="vertical-align: top;"
							rowspan="#{rutaSeguida.datosUsuariosAsociados.size()+1}"><h:outputText
								value="#{rutaSeguida.numeroExpediente}" />
						</rich:column>
						<rich:column
							rowspan="#{rutaSeguida.datosUsuariosAsociados.size()+1}">
							<a4j:htmlCommandLink immediate="true" border="0px"
								target="_blank"
								action="#{visualizador.verDocumento(rutaSeguida.idDocumento)}"
								rendered="#{reporte.renderedVisualizarExpediente(rutaSeguida.idDocumento)}">
								<h:graphicImage border="0px" alt="#{rutaSeguida.idDocumento}"
									url="/imagenes/ic_lupa.gif" title="Ver Documento"
									style="border: none;" />
							</a4j:htmlCommandLink>
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{rutaSeguida.datosUsuariosAsociados.size()+1}"><h:outputText
								value="#{rutaSeguida.tipoDocumento}" />
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{rutaSeguida.datosUsuariosAsociados.size()+1}"><h:outputText
								value="#{rutaSeguida.numeroDocumento}" />
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{rutaSeguida.datosUsuariosAsociados.size()+1}"><h:outputText
								value="#{rutaSeguida.fechaDocumentoOrigen}">
								<f:convertDateTime pattern="dd/MM/yyyy"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{rutaSeguida.datosUsuariosAsociados.size()+1}"><h:outputText
								value="#{rutaSeguida.fechaCreacionDocumento}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{rutaSeguida.datosUsuariosAsociados.size()+1}"><h:outputText
								value="#{rutaSeguida.emisor}" />
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{rutaSeguida.datosUsuariosAsociados.size()+1}"><h:outputText
								value="#{rutaSeguida.materia}" />
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{rutaSeguida.datosUsuariosAsociados.size()+1}"><h:outputText
								value="#{rutaSeguida.formatoDocumento}" />
						</rich:column>
						<rich:column style="vertical-align: top;" colspan="10">
							<rich:subTable styleClass="resultados"
								onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
								onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
								cellpadding="1" cellspacing="1" width="100%"
								value="#{rutaSeguida.datosUsuariosAsociados}" var="datosUsuario">
								<rich:column>
									<a4j:commandButton id="verExpediente"
										alt="#{messages['busquedarutaseguidadocumento_alt_ver_expediente']}"
										image="/imagenes/ver_detalle_01.gif" style="border: none;"
										action="#{verExpedienteDesdeReporte.begin()}">
										<f:param name="idExpediente"
											value="#{datosUsuario.idExpediente}" />
										<f:param name="verDesdeReporte" value="true" />
										<f:param name="bandejaEntradaCopia" value="false" />
									</a4j:commandButton>
								</rich:column>
								<rich:column>
									<h:outputText value="#{datosUsuario.nombreEmisor}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{datosUsuario.destinatarioUnidadOrganizacional}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{datosUsuario.destinatarioCargo}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{datosUsuario.destinatarioUsuario}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{datosUsuario.fechaIngresoBandeja}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</h:outputText>
								</rich:column>
								<rich:column>
									<h:outputText value="#{datosUsuario.fechaAcuseRecibo}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</h:outputText>
								</rich:column>
								<rich:column>
									<h:outputText value="#{datosUsuario.fechaDespacho}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</h:outputText>
								</rich:column>
								<rich:column>
									<h:outputText value="#{datosUsuario.fechaArchivado}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</h:outputText>
								</rich:column>
								<rich:column>
									<h:outputText value="#{datosUsuario.fechaReasignado}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</h:outputText>
								</rich:column>
							</rich:subTable>
						</rich:column>
					</rich:subTable>

				</rich:dataTable>
			</rich:panel>

			<a4j:htmlCommandLink 
				rendered="false" 
				immediate="true" border="110px" target="_blank"
				action="reporteRutaSeguidaDocumentosPDF">
				<a4j:commandButton
					value="#{messages['busquedarutaseguidadocumento_imprimir']}"
					styleClass="boton1" />
			</a4j:htmlCommandLink>

		</a4j:form>
		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>
	</ui:define>
</ui:composition>
