<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel>
			<f:facet name="header">
				<span>#{messages['busquedadocumentosrelacionados_documentos_relacionados']}</span>
			</f:facet>
			<a4j:form id="formPrincipal">
				<h:panelGrid columns="2">
					<s:decorate template="/layout/edit.xhtml" rendered="false">
						<ui:define name="label">#{messages['busquedadocumentosrelacionados_departamentodp']}</ui:define>
						<h:selectOneMenu value="#{reporte.departamento}"
							styleClass="input200">
							<f:selectItems value="#{reporte.listDepartamento}" />
						</h:selectOneMenu>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosrelacionados_tipo_documentodp']}</ui:define>
						<h:selectOneMenu value="#{reporte.tipoDocumentoBusqueda}">
							<f:selectItems
								value="#{ManejarDocumento.obtenerTiposDeDocumentos()}" />
						</h:selectOneMenu>
					</s:decorate>

					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosrelacionados_n_documentodp']}</ui:define>
						<h:inputText value="#{reporte.numeroDocumentoBusqueda}"
							validator="#{campoMaxLargoValidator.validate}"
							validatorMessage="Demasiado largo" />
					</s:decorate>
					<rich:separator width="20px" style="background:transparent;" rendered="false"/>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosrelacionados_fecha_iniciodp']}</ui:define>
						<a4j:outputPanel id="calendarInicio">
							<rich:calendar value="#{reporte.fechaInicioDocumentoBusqueda}"
								locale="#{reporte.locale}" popup="true" datePattern="dd/MM/yyyy"
								showApplyButton="false" enableManualInput="false"
								required="true" requiredMessage="Fecha obligatoria" />
						</a4j:outputPanel>
					</s:decorate>

					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosrelacionados_fecha_terminodp']}</ui:define>
						<a4j:outputPanel id="calendarTermino">
							<rich:calendar value="#{reporte.fechaTerminoDocumentoBusqueda}"
								locale="#{reporte.locale}" popup="true" datePattern="dd/MM/yyyy"
								showApplyButton="false" enableManualInput="false"
								required="true" requiredMessage="Fecha obligatoria" />
						</a4j:outputPanel>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosrelacionados_dedp']}</ui:define>
						<h:inputText value="#{reporte.emisorDocumentoBusqueda}"
							style="width : 200px;"
							validator="#{campoMaxLargoValidator.validate}"
							validatorMessage="Demasiado largo" />
					</s:decorate>

					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentosrelacionados_materiadp']}</ui:define>
						<h:inputText value="#{reporte.materiaDocumentoBusqueda}"
							style="width : 200px;"
							validator="#{campoMaxLargoValidator.validate}"
							validatorMessage="Demasiado largo" />
					</s:decorate>
					<a4j:commandButton
						action="#{reporte.filtrarDocumentosRelacionados()}"
						value="#{messages['busquedadocumentosrelacionados_buscar']}"
						styleClass="boton1"
						reRender="tablaReporteDocumentosRelacionados, formPrincipal">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />
					</a4j:commandButton>
				</h:panelGrid>
			</a4j:form>
		</rich:panel>

		<br />
		<a4j:form>
			<rich:panel>
				<f:facet name="header">
					<span>#{messages['busquedadocumentosrelacionados_resultados']}</span>
				</f:facet>

				<rich:dataTable id="tablaReporteDocumentosRelacionados"
					styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" width="98%"
					value="#{reporte.documentosRelacionados}" var="docRelacionados"
					rows="20" rendered="#{reporte.documentosRelacionados != null}">
					<f:facet name="header">
						<rich:columnGroup>

							<rich:column colspan="1"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column colspan="7"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column colspan="7"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_documentos_relacionados']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column breakBefore="true" style="width : 40px;">
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_n']}"></h:outputText>
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_ver']}"
									style="width : 40px;"></h:outputText>
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_tipo']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_n']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_fecha']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_de']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_materia']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_formato']}" />
							</rich:column>

							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_ver']}"></h:outputText>
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_tipo']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_n']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_fecha']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_de']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_materia']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosrelacionados_formato']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="15" style="height: 22px; valign: middle;">
								<rich:datascroller id="paginadoDocumentosRelacionados"
									styleClass="resultados"
									for="tablaReporteDocumentosRelacionados"
									rendered="#{reporte.documentosRelacionados != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable rowClasses="impar"
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="docRelacionados">
						<rich:column
							rowspan="#{docRelacionados.documentosRelacionados.size()+1}">
							<h:outputText value="#{docRelacionados.numeroExpediente}" />
						</rich:column>
						<rich:column
							rowspan="#{docRelacionados.documentosRelacionados.size()+1}">
							<a4j:htmlCommandLink immediate="true" border="0px"
								target="_blank"
								action="#{visualizador.verDocumento(docRelacionados.idDocumento)}"
								rendered="#{reporte.renderedVisualizarExpediente(docRelacionados.idDocumento)}">
								<h:graphicImage border="0px"
									alt="#{docRelacionados.idDocumento}"
									url="/imagenes/ic_lupa.gif" title="Ver documento"
									style="border: none;" />
							</a4j:htmlCommandLink>
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{docRelacionados.documentosRelacionados.size()+1}">
							<h:outputText value="#{docRelacionados.tipoDocumento}" />
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{docRelacionados.documentosRelacionados.size()+1}">
							<h:outputText value="#{docRelacionados.numeroDocumento}" />
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{docRelacionados.documentosRelacionados.size()+1}">
							<h:outputText value="#{docRelacionados.fechaDocumentoOrigen}">
								<f:convertDateTime pattern="dd/MM/yyyy"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{docRelacionados.documentosRelacionados.size()+1}">
							<h:outputText value="#{docRelacionados.emisor}" />
						</rich:column>
						<rich:column style="vertical-align: top;"
							rowspan="#{docRelacionados.documentosRelacionados.size()+1}">
							<h:outputText value="#{reporte.renderedVerExpediente(docRelacionados.idDocumento) ? docRelacionados.materia : messages['materia_reservada']}" />
						</rich:column>

						<rich:column style="vertical-align: top;"
							rowspan="#{docRelacionados.documentosRelacionados.size()+1}">
							<h:outputText value="#{docRelacionados.formatoDocumento}" />
						</rich:column>
						<rich:column colspan="7" style="vertical-align: top;">&nbsp;
							<rich:subTable id="tablaDocumentosRelacionados"
								styleClass="resultados"
								onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
								onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
								cellpadding="1" cellspacing="1" width="100%"
								value="#{docRelacionados.documentosRelacionados}" var="doc">
								<rich:column>
									<a4j:htmlCommandLink immediate="true" border="0px"
										action="#{visualizador.verDocumento(doc.id)}" target="_blank"
										rendered="#{reporte.renderedVisualizarExpediente(doc.id)}">
										<h:graphicImage border="0px" alt="#{doc.id}"
											url="/imagenes/ic_lupa.gif" title="Ver documento"
											style="border: none;" />
									</a4j:htmlCommandLink>
								</rich:column>
								<rich:column>
									<h:outputText value="#{doc.tipoDocumento.descripcion}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{doc.numeroDocumento}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{doc.fechaDocumentoOrigen}">
										<f:convertDateTime pattern="dd/MM/yyyy"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</h:outputText>
								</rich:column>
								<rich:column>
									<h:outputText value="#{doc.emisor}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{reporte.renderedVerExpediente(docRelacionados.idDocumento) ? doc.materia : messages['materia_reservada']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{doc.formatoDocumento.descripcion}" />
								</rich:column>
							</rich:subTable>
						</rich:column>
					</rich:subTable>
				</rich:dataTable>
			</rich:panel>
			<br />

			<a4j:htmlCommandLink immediate="true" border="110px" target="_blank" rendered="false"
				action="reporteDocumentosRelacionadosPDF">
				<a4j:commandButton
					value="#{messages['busquedadocumentosrelacionados_imprimir']}"
					styleClass="boton1" />
			</a4j:htmlCommandLink>
		</a4j:form>
		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>

	</ui:define>

</ui:composition>
