<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">
	<ui:define name="body">
		<rich:panel>
			<f:facet name="header">
				<span>#{messages['busquedadocumentosbandejaentrada_busqueda_de_documentos_en_todas_las_bandejas_de_entrada']}</span>
			</f:facet>
			<h:form id="formBuscar">
				<h:messages styleClass="message" globalOnly="true" />
				<h:panelGrid>
					<h:panelGrid columns="3">
						<s:decorate template="/layout/edit.xhtml" rendered="false">
							<ui:define name="label">#{messages['busquedadocumentosbandejaentrada_tipo_documentodp']}</ui:define>
							<h:selectOneMenu value="#{reporte.tipoDocumentoBusqueda}"
								style=" width : 228px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;">
								<f:selectItems
									value="#{ManejarDocumento.obtenerTiposDeDocumentos()}" />
							</h:selectOneMenu>
						</s:decorate>
						<s:decorate template="/layout/edit.xhtml" style=" width: 10px;" rendered="false"/>
						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['busquedadocumentosbandejaentrada_n_expedientedp']}</ui:define>
							<h:inputText value="#{reporte.numeroExpedienteBusqueda}"
								validator="#{campoMaxLargoValidator.validate}"
								validatorMessage="Max 255 caracteres" />
						</s:decorate>
						<s:decorate template="/layout/edit.xhtml" style=" width: 10px;" />
						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['busquedadocumentosbandejaentrada_n_documentodp']}</ui:define>
							<h:inputText value="#{reporte.numeroDocumentoBusqueda}"
								validator="#{campoMaxLargoValidator.validate}"
								validatorMessage="Max 255 caracteres" />
						</s:decorate>
						<s:decorate template="/layout/edit.xhtml" style=" width: 10px;" rendered="false"/>
						<s:decorate template="/layout/edit.xhtml" rendered="false">
							<ui:define name="label">#{messages['busquedadocumentosbandejaentrada_nombre_archivodp']}</ui:define>
							<h:inputText value="#{reporte.nombreArchivoBusqueda}"
								validator="#{campoMaxLargoValidator.validate}"
								validatorMessage="Max 255 caracteres" />
						</s:decorate>
						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['busquedadocumentosbandejaentrada_fecha_ingresodp']}</ui:define>
							<rich:calendar id="calendarInicio"
								value="#{reporte.fechaInicioDocumentoBusqueda}"
								popup="true" datePattern="dd/MM/yyyy"
								showApplyButton="false" enableManualInput="false"
								required="false" />
						</s:decorate>
						<s:decorate template="/layout/edit.xhtml" style=" width: 10px;" />
						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['busquedadocumentosbandejaentrada_fecha_terminodp']}</ui:define>
							<rich:calendar id="calendarTermino"
								value="#{reporte.fechaTerminoDocumentoBusqueda}"
								popup="true" datePattern="dd/MM/yyyy"
								showApplyButton="false" enableManualInput="false"
								required="false" />
						</s:decorate>
						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['busquedadocumentosbandejaentrada_dedp']}</ui:define>
							<h:inputText value="#{reporte.emisorDocumentoBusqueda}"
								validator="#{campoMaxLargoValidator.validate}"
								validatorMessage="Max 255 caracteres" />
						</s:decorate>
						<s:decorate template="/layout/edit.xhtml" style=" width: 10px;" />
						<s:decorate template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['busquedadocumentosbandejaentrada_materiadp']}</ui:define>
							<h:inputText value="#{reporte.materiaDocumentoBusqueda}"
								validator="#{campoMaxLargoValidator.validate}"
								validatorMessage="Max 255 caracteres" />
						</s:decorate>
					</h:panelGrid>
					<h:panelGrid id="panelUsuario" rendered="false">
						<!-- Se ingreso la propiedad "rendered = false" para ocultar los filtros -->
						<h:panelGrid columns="3">
							<h:panelGroup rendered="true">
								<h:outputText escape="false"
									value="#{messages['busquedadocumentosbandejaentrada_organizaciondp']}"
									style="font-weight: bold;" />
								<br />
								<h:selectOneMenu value="#{reporte.organizacion}"
									id="organizacionlist" styleClass="input350">
									<a4j:support action="#{reporte.buscarDivisiones}"
										event="onchange" reRender="panelUsuario" />
									<f:selectItems value="#{reporte.listOrganizacion}" />
								</h:selectOneMenu>
							</h:panelGroup>
							<s:decorate rendered="false" template="/layout/edit.xhtml"
								style=" width: 10px;" />
							<h:panelGroup rendered="true">
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_divisiondp']}"
									style="font-weight: bold;" />
								<br />
								<h:selectOneMenu value="#{reporte.division}" id="divisionlist"
									styleClass="input350">
									<a4j:support action="#{reporte.buscarDepartamentos}"
										event="onchange" reRender="panelUsuario" />
									<f:selectItems value="#{reporte.listDivision}" />
								</h:selectOneMenu>
							</h:panelGroup>
							<h:panelGroup>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_departamentodp']}"
									style="font-weight: bold;" />
								<br />
								<h:selectOneMenu value="#{reporte.departamento}"
									id="departamentolist" styleClass="input350">
									<a4j:support action="#{reporte.buscarUnidadesOrganizacionales}"
										event="onchange" reRender="panelUsuario" />
									<f:selectItems value="#{reporte.listDepartamento}" />
								</h:selectOneMenu>
							</h:panelGroup>
							<s:decorate template="/layout/edit.xhtml" style=" width: 10px;" />
							<h:panelGroup>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_unidaddp']}"
									style="font-weight: bold;" />
								<br />
								<h:selectOneMenu value="#{reporte.unidadOrganizacional}"
									id="uolist" styleClass="input350">
									<a4j:support action="#{reporte.buscarCargos}" event="onchange"
										reRender="panelUsuario" />
									<f:selectItems value="#{reporte.listUnidadesOrganizacionales}" />
								</h:selectOneMenu>
							</h:panelGroup>
							<h:panelGroup>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_cargodp']}"
									style="font-weight: bold;" />
								<br />
								<h:selectOneMenu id="cargoList" value="#{reporte.cargo}"
									styleClass="input350">
									<a4j:support action="#{reporte.buscarPersonas}"
										event="onchange" reRender="panelUsuario" />
									<f:selectItems value="#{reporte.listCargos}" />
								</h:selectOneMenu>
							</h:panelGroup>
							<s:decorate template="/layout/edit.xhtml" style=" width: 10px;" />
							<h:panelGroup>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_personadp']}"
									style="font-weight: bold;" />
								<br />
								<h:selectOneMenu id="personaList" value="#{reporte.persona}"
									styleClass="input350">
									<f:selectItems value="#{reporte.listPersonas}" />
								</h:selectOneMenu>
							</h:panelGroup>
						</h:panelGrid>
					</h:panelGrid>
					<a4j:commandButton
						action="#{reporte.filtrarDocumentosEnBandejaEntrada()}"
						value="#{messages['busquedadocumentosbandejaentrada_buscar']}"
						styleClass="boton1"
						reRender="tablaDocumentosBandejaEntrada, formBuscar">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />
					</a4j:commandButton>
				</h:panelGrid>
			</h:form>
		</rich:panel>
		<br />
		<a4j:form target="otro">
			<rich:panel>
				<f:facet name="header">
					<span>#{messages['busquedadocumentosbandejaentrada_resultados']}</span>
				</f:facet>
				<rich:dataTable id="tablaDocumentosBandejaEntrada" rows="15"
					styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" width="100%"
					value="#{reporte.documentoEnBandejaEntrada}"
					var="documentoEnBandejaEntrada"
					rendered="#{reporte.documentoEnBandejaEntrada != null}">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column colspan="1"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_expediente']}"
									style="color:#003366;
	                                font-family:Verdana,Arial,sans-serif;
	                                font-size:10px;
	                                font-weight:bold;
	                                line-height:25px;" />
							</rich:column>
							<rich:column colspan="8"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_documento']}"
									style="color:#003366;
	                                font-family:Verdana,Arial,sans-serif;
	                                font-size:10px;
	                                font-weight:bold;
	                                line-height:25px;" />
							</rich:column>
							<rich:column colspan="6"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_datos_de_bandeja']}"
									style="color:#003366;
	                                font-family:Verdana,Arial,sans-serif;
	                                font-size:10px;
	                                font-weight:bold;
	                                line-height:25px;" />
							</rich:column>
							<rich:column breakBefore="true">
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_numero']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_tipo']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_numero']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_materia']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_fecha']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['ingreso']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_de']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_formato']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_unidad_o_division']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_cargo']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_usuario']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_fecha_ingreso_bandeja']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedadocumentosbandejaentrada_fecha_acuse_recibo']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>

					<f:facet name="footer">
						<rich:columnGroup>
							<rich:column colspan="15" styleClass="footer_lista">
								<rich:datascroller id="paginadoDocumentosBandejaEntrada"
									styleClass="resultados" for="tablaDocumentosBandejaEntrada"
									rendered="#{reporte.documentoEnBandejaEntrada != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>

					<rich:subTable rowClasses="impar"
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="documentoEnBandejaEntrada">
						<rich:column rowspan="#{documentoEnBandejaEntrada.expedientesAsociadosADocumento.size()+1}">
              				<h:outputText value="#{documentoEnBandejaEntrada.numeroExpediente}" />
						</rich:column>
						<rich:column
							rowspan="#{documentoEnBandejaEntrada.expedientesAsociadosADocumento.size()+1}">
							<a4j:htmlCommandLink immediate="true" border="0px"
								target="_blank"
								action="#{visualizador.verDocumento(documentoEnBandejaEntrada.idDocumento)}"
								rendered="#{reporte.renderedVisualizarExpediente(documentoEnBandejaEntrada.idDocumento)}">
								<h:graphicImage border="0px"
									alt="#{documentoEnBandejaEntrada.idDocumento}"
									url="/imagenes/ic_lupa.gif" style="border: none;" />
							</a4j:htmlCommandLink>
						</rich:column>
						<rich:column
							rowspan="#{documentoEnBandejaEntrada.expedientesAsociadosADocumento.size()+1}">
              				<h:outputText
								value="#{documentoEnBandejaEntrada.tipoDocumento}" />
						</rich:column>
						<rich:column
							rowspan="#{documentoEnBandejaEntrada.expedientesAsociadosADocumento.size()+1}">
              				<h:outputText
								value="#{documentoEnBandejaEntrada.numeroDocumento}" />
						</rich:column>
						<rich:column
							rowspan="#{documentoEnBandejaEntrada.expedientesAsociadosADocumento.size()+1}">
              				<h:outputText
								value="#{documentoEnBandejaEntrada.materia}" />
						</rich:column>
						<rich:column
							rowspan="#{documentoEnBandejaEntrada.expedientesAsociadosADocumento.size()+1}">
              				<h:outputText
								value="#{documentoEnBandejaEntrada.fechaDocumentoOrigen}">
								<f:convertDateTime pattern="dd/MM/yyyy"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column
							rowspan="#{documentoEnBandejaEntrada.expedientesAsociadosADocumento.size()+1}">
              				<h:outputText
								value="#{documentoEnBandejaEntrada.fechaIngreso}">
								<f:convertDateTime pattern="dd/MM/yyyy HH.mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column
							rowspan="#{documentoEnBandejaEntrada.expedientesAsociadosADocumento.size()+1}">
              				<h:outputText value="#{documentoEnBandejaEntrada.emisor}" />
						</rich:column>
						<rich:column
							rowspan="#{documentoEnBandejaEntrada.expedientesAsociadosADocumento.size()+1}">
              				<h:outputText
								value="#{documentoEnBandejaEntrada.formatoDocumento}" />
						</rich:column>

						<rich:column colspan="6" style="vertical-align: top;">
							<rich:subTable id="tablaDocumentosBandejaEntrada"
								styleClass="resultados"
								onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
								onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
								cellpadding="1" cellspacing="1" width="100%"
								var="expedienteAsociado"
								value="#{documentoEnBandejaEntrada.expedientesAsociadosADocumento}">
								<rich:column>
									<a4j:commandButton id="verExpediente"
										alt="#{messages['busquedadocumentosbandejaentrada_alt_ver_expediente']}"
										image="/imagenes/ver_detalle_01.gif" style="border: none;"
										action="#{verExpedienteDesdeReporte.begin()}">
										<f:param name="idExpediente" value="#{expedienteAsociado.id}" />
										<f:param name="verDesdeReporte" value="true" />
										<f:param name="bandejaEntradaCopia" value="false" />
									</a4j:commandButton>
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{expedienteAsociado.destinatario.cargo.unidadOrganizacional.descripcion}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{expedienteAsociado.destinatario.cargo.descripcion}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{expedienteAsociado.destinatario.getNombreApellido()}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{expedienteAsociado.fechaIngreso}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</h:outputText>
								</rich:column>
								<rich:column>
									<h:outputText value="#{expedienteAsociado.fechaAcuseRecibo}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</h:outputText>
								</rich:column>
							</rich:subTable>
						</rich:column>
					</rich:subTable>
				</rich:dataTable>
			</rich:panel>
			<br />
			<h:commandButton action="reporteDocumentosBandejaEntradaPDF"
				value="#{messages['busquedadocumentosbandejaentrada_exportar_a_pdf']}"
				styleClass="boton1" rendered="false"/>
		</a4j:form>


		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>
	</ui:define>
</ui:composition>
