<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">

	<style>
.fechaArchivado {
	background-color: #FFFFCC;
}
</style>

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel id="panelBusqueda">
			<f:facet name="header">
				<span>#{messages['busquedaexpedientesarchivados_busqueda_expedientes_archivados']}</span>
			</f:facet>

			<h:form id="formBusqueda">
				<h:panelGrid columns="2" id="gridParamsBusqueda">
					<s:decorate template="/layout/edit.xhtml" rendered="false">
						<ui:define name="label">#{messages['busquedaexpedientesarchivados_departamentodp']}</ui:define>
						<h:selectOneMenu value="#{desarchivarExpedientesMasivo.idDepto}"
							styleClass="input200">
							<f:selectItems value="#{desarchivarExpedientesMasivo.listDeptos}" />
						</h:selectOneMenu>
					</s:decorate>
					
					<s:decorate id="tipoDocumentoDecorate"
						template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedaexpedientesarchivados_tipo_documentodp']}</ui:define>
						<h:selectOneMenu id="listTiposDocumento"
							value="#{desarchivarExpedientesMasivo.tipoDocumentoBusqueda}">
							<f:selectItems
								value="#{ManejarDocumento.obtenerTiposDeDocumentos()}" />
						</h:selectOneMenu>
					</s:decorate>
					<rich:separator width="20px" style="background:transparent;" />
					<s:decorate id="numExpedienteDecorate"
						template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedaexpedientesarchivados_n_expedientedp']}</ui:define>
						<h:inputText id="numExpedienteIn"
							value="#{desarchivarExpedientesMasivo.numeroExpedienteBusqueda}"
							validator="#{campoMaxLargoValidator.validate}"
							requiredMessage="Campo muy largo" />
					</s:decorate>


					<s:decorate id="numDocumentoDecorate" template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedaexpedientesarchivados_n_documentodp']}</ui:define>
						<h:inputText id="numDocumentoIn"
							value="#{desarchivarExpedientesMasivo.numeroDocumentoBusqueda}"
							validator="#{campoMaxLargoValidator.validate}"
							requiredMessage="Campo muy largo" />
					</s:decorate>

					<s:decorate id="fechaArchivadoInicioDecorate"
						template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedaexpedientesarchivados_fecha_iniciodp']}</ui:define>
						<rich:calendar
							value="#{desarchivarExpedientesMasivo.fechaArchivadoInicioBusqueda}"
							datePattern="dd/MM/yyyy"
							required="false" />
					</s:decorate>

					<s:decorate id="fechaArchivadoTerminoDecorate"
						template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedaexpedientesarchivados_fecha_terminodp']}</ui:define>
						<rich:calendar
							value="#{desarchivarExpedientesMasivo.fechaArchivadoTerminoBusqueda}"
							datePattern="dd/MM/yyyy"
							required="false" />
					</s:decorate>
					
					<s:decorate id="deDocumentoDecorate" template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedaexpedientesarchivados_dedp']}</ui:define>
						<h:inputText id="deDocumentoIn"
							value="#{desarchivarExpedientesMasivo.emisorDocumentoBusqueda}"
							validator="#{campoMaxLargoValidator.validate}"
							requiredMessage="Campo muy largo" style="width : 200px;" />
					</s:decorate>

					<s:decorate id="materiaDecorate" template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedaexpedientesarchivados_materiadp']}</ui:define>
						<h:inputText id="materiaIn"
							value="#{desarchivarExpedientesMasivo.materiaDocumentoBusqueda}"
							validator="#{campoMaxLargoValidator.validate}"
							requiredMessage="Campo muy largo" style="width : 200px;" />
					</s:decorate>

					<s:decorate rendered="false" id="Organismo"
						template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedaexpedientesarchivados_organismodp']}</ui:define>
						<h:selectOneMenu rendered="false" id="listTiposDocumento"
							value="#{desarchivarExpedientesMasivo.organismoBusqueda}">
							<f:selectItems
								value="#{seleccionarDestinatarioDocumento.listOrganizacion}" />
						</h:selectOneMenu>
					</s:decorate>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<a4j:commandButton id="botonBuscar"
						value="#{messages['busquedaexpedientesarchivados_buscar']}"
						action="#{desarchivarExpedientesMasivo.buscarExpedientes(identity.hasRole('ADMINISTRADOR'))}"
						reRender="formBusqueda, tablaResultadosYDesarchivar">
						<a4j:status onstart="#{rich:component('panelEspera')}.show()"
							onstop="#{rich:component('panelEspera')}.hide()" />
					</a4j:commandButton>
				</h:panelGrid>

			</h:form>

		</rich:panel>

		<br />

		<rich:panel id="panelResultadosYDesarchivar">
			<f:facet name="header">
				<span>#{messages['busquedaexpedientesarchivados_resultados']}</span>
			</f:facet>

			<a4j:form id="formResultadosYDesarchivar">
				<rich:dataTable id="tablaResultadosYDesarchivar"
					styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'" rows="10"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1"
					rendered="#{desarchivarExpedientesMasivo.expedientesArchivados != null}"
					value="#{desarchivarExpedientesMasivo.expedientesArchivados}"
					var="expediente">
					<f:facet name="header">
						<rich:columnGroup>

							<rich:column colspan="4"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['busquedaexpedientesarchivados_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column colspan="6"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['busquedaexpedientesarchivados_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column breakBefore="true" style="width : 40px;">
								<h:outputText
									value="#{messages['busquedaexpedientesarchivados_ver']}" />
							</rich:column>
							<rich:column style="width : 100px;">
								<h:outputText
									value="#{messages['busquedaexpedientesarchivados_fecha_archivado']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedaexpedientesarchivados_usuario_archivador']}" />
							</rich:column>
							<rich:column style="width : 70px;">
								<h:outputText
									value="#{messages['busquedaexpedientesarchivados_n']}" />
							</rich:column>

							<rich:column>
								<h:outputText
									value="#{messages['busquedaexpedientesarchivados_tipo']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedaexpedientesarchivados_n']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedaexpedientesarchivados_fecha']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedaexpedientesarchivados_ingreso']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedaexpedientesarchivados_materia']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedaexpedientesarchivados_formato']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="10" style="height:22px;valign:middle;">
								<rich:datascroller id="pagerBusquedaDown"
									styleClass="resultados" for="tablaResultadosYDesarchivar"
									rendered="#{desarchivarExpedientesMasivo.expedientesArchivados != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="expediente"
						rendered="#{desarchivarExpedientesMasivo.expedientesArchivados != null}"
						rowClasses="impar">
						<rich:column>&nbsp;
							<a4j:commandButton id="botonVerExpediente"
								alt="#{messages['busquedaexpedientesarchivados_alt_ver_expediente']}"
								image="/imagenes/ver_detalle_01.gif" style="border: none;"
								action="#{verExpedienteDesdeReporte.begin()}"
								rendered="#{desarchivarExpedientesMasivo.renderedVerExpediente(expediente.idDocumento)}">
								<f:param name="idExpediente"
									value="#{desarchivarExpedientesMasivo.obtenerIdExpediente(expediente.numeroExpediente)}" />
								<f:param name="bandejaEntradaCopia" value="false" />
							</a4j:commandButton>
						</rich:column>
						<rich:column styleClass="fechaArchivado">&nbsp;
							<h:outputText value="#{expediente.fechaArchivado}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>&nbsp;
							<h:outputText
								value="#{expediente.destinatarioExpediente.nombreApellido}" />
						</rich:column>
						<rich:column>&nbsp;
							<h:outputText value="#{expediente.numeroExpediente}" />
						</rich:column>
						<rich:column>&nbsp;
							<h:outputText value="#{expediente.tipoDocumento}" />
						</rich:column>
						<rich:column>&nbsp;
							<h:outputText value="#{expediente.numeroDocumento}" />
						</rich:column>
						<rich:column>&nbsp;
							<h:outputText value="#{expediente.fechaDocumentoOrigen}">
								<f:convertDateTime pattern="dd/MM/yyyy"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>&nbsp;
							<h:outputText value="#{expediente.fechaCreacionDocumento}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>&nbsp;
							<h:outputText value="#{expediente.materia}" />
						</rich:column>
						<rich:column>&nbsp;
							<h:outputText value="#{expediente.formatoDocumento}" />
						</rich:column>
					</rich:subTable>
				</rich:dataTable>
			</a4j:form>

		</rich:panel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>

	</ui:define>

</ui:composition>
