<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">

		<h:messages globalOnly="true" styleClass="message" />

		<rich:panel>
			<f:facet name="header">#{messages['busquedadocumentoscierremensual_busqueda_de_documentos_para_cierre_mensual']}</f:facet>
			<a4j:form>
				<h:panelGrid columns="2">
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentoscierremensual_fecha_ingreso_documento_']}</ui:define>
						<a4j:outputPanel id="calendarInicio" layout="block">
							<rich:calendar value="#{reporte.fechaInicioDocumentoBusqueda}"
								locale="#{reporte.locale}" popup="true" datePattern="dd/MM/yyyy"
								showApplyButton="false" required="true" />
						</a4j:outputPanel>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedadocumentoscierremensual_fecha_ingreso_documento_']}</ui:define>
						<a4j:outputPanel id="calendarTermino" layout="block">
							<rich:calendar value="#{reporte.fechaTerminoDocumentoBusqueda}"
								locale="#{reporte.locale}" popup="true" datePattern="dd/MM/yyyy"
								showApplyButton="false" required="true" />
						</a4j:outputPanel>
					</s:decorate>
					<a4j:commandButton action="#{reporte.buscarDocumentosCierre()}"
						value="#{messages['busquedadocumentoscierremensual_buscar']}"
						styleClass="boton1"
						reRender="tablaBuscarDocumento, paginadoBuscarDocumento, panelFirmaApplet">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />

					</a4j:commandButton>
				</h:panelGrid>
			</a4j:form>

		</rich:panel>

		<br />

		<rich:panel>
			<a4j:form>
				<rich:dataTable id="tablaBuscarDocumento" styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" rows="30" width="100%"
					value="#{documentosCierre}" var="doc"
					rendered="#{documentosCierre != null}">
					<f:facet name="header">
						<rich:columnGroup
							style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentoscierremensual_n_documento']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentoscierremensual_fecha_ingreso_documento']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentoscierremensual_de']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentoscierremensual_a']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentoscierremensual_tipo_documento']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedadocumentoscierremensual_formato']}" />
							</rich:column>

						</rich:columnGroup>
					</f:facet>
					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="13" style="height: 22px; valign: middle;">
								<rich:datascroller id="paginadoBuscarDocumento"
									styleClass="resultados" for="tablaBuscarDocumento"
									rendered="#{documentosCierre != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:column>&nbsp;<h:outputText
							value="#{doc.numeroDocumento}" />
					</rich:column>
					<rich:column>&nbsp;<h:outputText
							value="#{doc.fechaIngreso}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputText>
					</rich:column>
					<rich:column>&nbsp;<h:outputText
							value="#{doc.emisor}" />
					</rich:column>

					<rich:column>&nbsp;<h:outputText
							value="#{doc.destinatario}" />
					</rich:column>
					<rich:column>&nbsp;<h:outputText
							value="#{doc.tipoDocumento}" />
					</rich:column>s
					<rich:column>&nbsp;<h:outputText
							value="#{doc.formatoDocumento}" />
					</rich:column>


				</rich:dataTable>
				<a4j:commandButton
					onclick="Richfaces.showModalPanel('panelFirmaApplet')"
					value="#{messages['busquedadocumentoscierremensual_firmar']}" />
			</a4j:form>
		</rich:panel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['busquedadocumentoscierremensual_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['busquedadocumentoscierremensual_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>

		<rich:modalPanel id="panelFirmaApplet" resizeable="false" height="190"
			width="335">
			<f:facet name="header">
				<h:outputText
					value="#{messages['busquedadocumentoscierremensual_firma_electronica']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelFirmaApplet')">
				</h:graphicImage>
			</f:facet>
			<applet name="CierreDocumentos"
				codebase="#{reporte.urlFirma}exedoc/applet/"
				code="cl.exe.firma.applet.FirmaApplet.class"
				archive="./firmaappletfirmado.jar, ./commons-codec-1.3.jar, ./commons-httpclient-3.1.jar, ./commons-logging-1.1.1.jar, ./bcprov-jdk16-144.jar, ./iText-2.1.7.jar"
				width="315" height="110">
				<param name="url_documento"
					value="#{reporte.urlFirma}exedoc/servlet/getDocumentosCierreXml?fechaInicio=#{reporte.fechaInicio}&#38;fechaTermino=#{reporte.fechaTermino}&#38;fechaCierre=#{reporte.fechaCierre}" />
				<param name="url_post"
					value="#{reporte.urlFirma}exedoc/servlet/putDocumentoCierreXml?fechaCierre=#{reporte.fechaCierre}" />
				<param name="url_retorno"
					value="#{reporte.urlFirma}exedoc/reportes/busquedaDocumentosCierreMensual.seam?#{manager.conversationIdParameter}=#{conversation.id}" />
				<param name="tipo_firma" value="avanzada" />
				<param name="tarea" value="CierreDocumentos" />
				<param name="rut" value="#{usuario.rut}" />
				<param name="rut_ca"
					value="96928180-5;70008310-1;96919050-8;99532830-5;99551740-K" />
			</applet>
			<h:form>
				<a4j:commandButton
					value="#{messages['busquedadocumentoscierremensual_volver']}"
					onclick="Richfaces.hideModalPanel('panelFirmaApplet')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

	</ui:define>

</ui:composition>
