<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel>
			<f:facet name="header">
				<span>#{messages['busquedaestadobandejasalida_estado_de_mi_bandeja_de_salida']}</span>
			</f:facet>
			<a4j:form id="formPrincipal">
				<h:panelGrid columns="3">
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedaestadobandejasalida_n_expedientedp']}</ui:define>
						<h:inputText value="#{reporte.numeroExpedienteBusqueda}" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedaestadobandejasalida_tipo_documentodp']}</ui:define>
						<h:selectOneMenu value="#{reporte.tipoDocumentoBusqueda}">
							<f:selectItems
								value="#{ManejarDocumento.obtenerTiposDeDocumentos()}" />
						</h:selectOneMenu>
					</s:decorate>

					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedaestadobandejasalida_fecha_iniciodp']}</ui:define>
						<a4j:outputPanel id="calendarInicio">
							<rich:calendar value="#{reporte.fechaInicioDocumentoBusqueda}"
								locale="#{reporte.locale}" popup="true" datePattern="dd/MM/yyyy"
								showApplyButton="false" enableManualInput="false"
								required="false">
								<s:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"
									dateStyle="short" />
							</rich:calendar>
						</a4j:outputPanel>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedaestadobandejasalida_fecha_terminodp']}</ui:define>
						<a4j:outputPanel id="calendarTermino">
							<rich:calendar value="#{reporte.fechaTerminoDocumentoBusqueda}"
								locale="#{reporte.locale}" popup="true" datePattern="dd/MM/yyyy"
								showApplyButton="false" enableManualInput="false"
								required="false" />

						</a4j:outputPanel>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['busquedaestadobandejasalida_dedp']}</ui:define>
						<h:inputText value="#{reporte.emisorDocumentoBusqueda}"
							style="width : 200px;" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate template="/layout/edit.xhtml" />

					<a4j:commandButton action="#{reporte.filtrarEstadoBandejaSalida()}"
						value="#{messages['busquedaestadobandejasalida_buscar']}"
						styleClass="boton1"
						reRender="tablaReporteEstadoBandeja, tablaReporteEstadoBandeja">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />
					</a4j:commandButton>
				</h:panelGrid>
			</a4j:form>
		</rich:panel>

		<br />

		<a4j:form target="otro">

			<rich:panel>
				<f:facet name="header">
					<span>#{messages['busquedaestadobandejasalida_resultados']}</span>
				</f:facet>
				<rich:dataTable id="tablaReporteEstadoBandeja"
					styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" width="100%" rows="13"
					value="#{reporte.estadoBandejaSalida}" var="estadoBandeja"
					rendered="#{reporte.estadoBandejaSalida != null}">
					<f:facet name="header">

						<rich:columnGroup>

							<rich:column colspan="6"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['busquedaestadobandejasalida_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column colspan="6"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['busquedaestadobandejasalida_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column breakBefore="true">
								<h:outputText
									value="#{messages['busquedaestadobandejasalida_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedaestadobandejasalida_n']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedaestadobandejasalida_ingreso']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedaestadobandejasalida_acuse_de_recibo']}" />
							</rich:column>
							<rich:column rendered="false">
								<h:outputText
									value="#{messages['busquedaestadobandejasalida_despacho']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reasignacion']}" />
							</rich:column>
							
							<rich:column>
								<h:outputText
									value="#{messages['destinatario']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedaestadobandejasalida_tipo']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedaestadobandejasalida_n']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedaestadobandejasalida_fecha']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedaestadobandejasalida_de']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedaestadobandejasalida_materia']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['busquedaestadobandejasalida_formato']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="17" style="height: 22px; valign: middle;">
								<rich:datascroller id="paginadoEstadoBandejaSalida"
									styleClass="resultados" for="tablaReporteEstadoBandeja"
									rendered="#{reporte.estadoBandejaSalida != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>

					<rich:column>
						<a4j:commandButton id="verExpediente"
							alt="#{messages['busquedaestadobandejasalida_alt_ver_expediente']}"
							image="/imagenes/ver_detalle_01.gif" style="border: none;"
							action="#{verExpedienteDesdeReporte.begin()}">
							<f:param name="idExpediente"
								value="#{estadoBandeja.id}" />
							<f:param name="bandejaEntradaCopia" value="false" />
						</a4j:commandButton>
					</rich:column>
					<rich:column>
						<h:outputText value="#{estadoBandeja.numeroExpediente}" />
					</rich:column>
					<rich:column>
						<h:outputText value="#{estadoBandeja.fechaIngresoBandeja}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputText>
					</rich:column>
					<rich:column>
						<h:outputText value="#{estadoBandeja.fechaAcuseRecibo}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputText>
					</rich:column>
					<rich:column>
						<h:outputText value="#{estadoBandeja.fechaReasignado}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputText>
					</rich:column>
					<rich:column>
						<h:outputText value="#{estadoBandeja.destinatario}"/>
					</rich:column>
					<rich:column>
						<h:outputText value="#{estadoBandeja.tipoDocumento}" />
					</rich:column>
					<rich:column>
						<h:outputText value="#{estadoBandeja.numeroDocumento}" />
					</rich:column>
					<rich:column>
						<h:outputText value="#{estadoBandeja.fechaDocumentoOrigen}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputText>
					</rich:column>
					<rich:column>
						<h:outputText value="#{estadoBandeja.emisor}" />
					</rich:column>
					<rich:column>
						<h:outputText value="#{estadoBandeja.materia}" />
					</rich:column>
					<rich:column>
						<h:outputText value="#{estadoBandeja.formatoDocumento}" />
					</rich:column>
				</rich:dataTable>
			</rich:panel>
			<h:commandButton action="reporteEstadoBandejaSalidapPDF" rendered="false"
				value="#{messages['busquedaestadobandejasalida_exportar_a_pdf']}"
				styleClass="boton1" />
		</a4j:form>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>

