<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<rich:panel id="panelFiltros">
			<f:facet name="header">#{messages['busquedaestadisticasconsultas_reporte_estadistico_de_consultas']}</f:facet>
			<h:messages styleClass="message" globalOnly="true" />

			<a4j:form>
				<h:panelGrid columns="1" width="100%">
					<h:panelGrid columns="2">
						<h:panelGroup>
							<h:outputLabel
								value="#{messages['busquedaestadisticasconsultas_fecha_ingreso_consulta_inicio']}"
								for="inicioCal" style="font-weight: bold;" />
							<rich:calendar id="inicioCal"
								value="#{reporteTransparencia.fechaInicioDocumentoBusqueda}"
								locale="#{reporteTransparencia.locale}" popup="true"
								datePattern="dd/MM/yyyy" showApplyButton="false"
								enableManualInput="true" required="true" />
						</h:panelGroup>
						<h:panelGroup>
							<h:outputLabel
								value="#{messages['busquedaestadisticasconsultas_fecha_ingreso_consulta_termino']}"
								for="terminoCal" style="font-weight: bold;" />
							<rich:calendar id="terminoCal"
								value="#{reporteTransparencia.fechaTerminoDocumentoBusqueda}"
								locale="#{reporteTransparencia.locale}" popup="true"
								datePattern="dd/MM/yyyy" showApplyButton="false"
								enableManualInput="true" required="true" />
						</h:panelGroup>
					</h:panelGrid>
					<h:panelGrid columns="2">
						<h:panelGroup>
							<h:outputLabel
								value="#{messages['busquedaestadisticasconsultas_solicitud_frecuentedp']}"
								for="frecuenteCheck" style="font-weight: bold;" />
							<h:selectBooleanCheckbox id="frecuenteCheck"
								value="#{reporteTransparencia.solicitudFrecuente}" />
						</h:panelGroup>
					</h:panelGrid>
				</h:panelGrid>
				<a4j:commandButton
					action="#{reporteTransparencia.obtenerEstadisticasConsultas}"
					value="#{messages['busquedaestadisticasconsultas_buscar']}"
					styleClass="boton1"
					reRender="tablaBusquedaConsultasTransparencia, paginadoConsultasTransparencia"
					style="height : 18px;">
					<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
						onstop="Richfaces.hideModalPanel('panelEspera')" />
				</a4j:commandButton>
			</a4j:form>
		</rich:panel>

		<rich:panel id="panelDatos">
			<a4j:form>
				<rich:dataTable id="tablaBusquedaConsultasTransparencia" rows="20"
					styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" width="100%"
					value="#{reporteTransparencia.estadisticasConsultas}"
					var="consulta"
					rendered="#{reporteTransparencia.estadisticasConsultas != null and 
						reporteTransparencia.estadisticasConsultas.size() != 0}">
					<f:facet name="header">
						<rich:columnGroup
							style="text-align:left; padding-left:5px; background-color:#EBE9E9;">

							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedaestadisticasconsultas_frecuente']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedaestadisticasconsultas_cantidad']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedaestadisticasconsultas_estado']}" />
							</rich:column>
							<rich:column rowspan="2">
								<h:outputText
									value="#{messages['busquedaestadisticasconsultas_ver']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="5" style="height: 22px; valign: middle;">
								<rich:datascroller id="paginadoConsultasTransparencia"
									styleClass="resultados"
									for="tablaBusquedaConsultasTransparencia"
									rendered="#{reporteTransparencia.estadisticasConsultas != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable rowClasses="impar"
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="consulta">

						<rich:column style="vertical-align: top;">&nbsp;<h:outputText
								value="#{consulta.frecuente}" />
						</rich:column>
						<rich:column style="vertical-align: top;">&nbsp;<h:outputText
								value="#{consulta.cantidad}" />
						</rich:column>
						<rich:column style="vertical-align: top;">&nbsp;<h:outputText
								value="#{consulta.estado}" />
						</rich:column>
						<rich:column>
							<s:link id="verDetalleEstadisticas"
								action="#{reporteTransparencia.obtenerBusquedaConsultasDesdeEstadisticas()}">
								<f:param name="solicitudFrecuenteParameter"
									value="#{consulta.frecuente}" />
								<f:param name="estadoConsultaParameter"
									value="#{consulta.estado}" />
								<h:graphicImage border="0px"
									alt="#{messages['busquedaestadisticasconsultas_alt_ver_expediente']}"
									url="/imagenes/ver_detalle_01.gif" />
							</s:link>
						</rich:column>
					</rich:subTable>
				</rich:dataTable>
				<div align="right">
					<a4j:commandButton
						value="#{messages['busquedaestadisticasconsultas_imprimir']}" />
				</div>
			</a4j:form>
		</rich:panel>
		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['busquedaestadisticasconsultas_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['busquedaestadisticasconsultas_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>
	</ui:define>
</ui:composition>
