<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="../layout/template.xhtml">

	<ui:define name="body">

		<rich:panel id="idreportesdocumentoselectronicos">
			<f:facet name="header">
				<span>#{reportesDocumentosSistema.titulo}</span>
			</f:facet>

			<br />
			<br />

			<a4j:form>

				<h:panelGrid columns="3">
					<s:decorate id="inicio" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['documentossistematotal_iniciodp']}</ui:define>
						<rich:calendar popup="true" id="fechaInicio"
							datePattern="dd/MM/yyyy" pattern="dd/MM/yyyy"
							value="#{reportesDocumentosSistema.inicio}"
							enableManualInput="false" required="true"
							requiredMessage="Debe ingresar un periodo de fechas." />
					</s:decorate>
					<rich:separator width="20px" style="background:transparent;" />
					<s:decorate id="fin" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['documentossistematotal_fin_dp']}</ui:define>
						<rich:calendar popup="true" id="fechaFin" datePattern="dd/MM/yyyy"
							pattern="dd/MM/yyyy" value="#{reportesDocumentosSistema.fin}"
							enableManualInput="false" required="true"
							requiredMessage="Debe ingresar un periodo de fechas." />
					</s:decorate>

					<h:panelGroup>
						<h:outputLabel
							value="#{messages['documentossistematotal_tipo_expedientedp']}"
							styleClass="name" />
						<h:selectOneMenu id="tipoExpedienteList"
							value="#{reportesDocumentosSistema.tipoDocumento}"
							immediate="true" styleClass="input250">
							<f:selectItems
								value="#{reportesDocumentosSistema.tiposDocumentos}" />
						</h:selectOneMenu>
					</h:panelGroup>


					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />

					<s:decorate rendered="false" id="organismos"
						template="../layout/edit.xhtml">
						<ui:define rendered="false" name="label">Organismo:</ui:define>
						<h:selectOneMenu rendered="false"
							value="#{reportesDocumentosSistema.division}" id="divisionlist"
							style=" width: 350px;">
							<a4j:support rendered="false"
								action="#{reportesDocumentosSistema.buscarDepartamentos}"
								event="onchange" reRender="idreportesdocumentoselectronicos" />
							<f:selectItems rendered="false"
								value="#{reportesDocumentosSistema.listDivision}" />
						</h:selectOneMenu>
					</s:decorate>

					<s:decorate id="fiscalia" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['documentossistematotal_departamentodp']}</ui:define>
						<h:selectOneMenu value="#{reportesDocumentosSistema.departamento}"
							id="departamentolist" style=" width: 350px;">
							<a4j:support
								action="#{reportesDocumentosSistema.buscarUnidadesOrganizacionales()}"
								event="onchange" reRender="idreportesdocumentoselectronicos" />
							<f:selectItems
								value="#{reportesDocumentosSistema.listDepartamento}" />
						</h:selectOneMenu>
					</s:decorate>

					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />

					<s:decorate id="unidad" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['documentossistematotal_unidaddp']}</ui:define>
						<h:selectOneMenu
							value="#{reportesDocumentosSistema.unidadOrganizacional}"
							id="uolist" style=" width: 350px;">
							<a4j:support action="#{reportesDocumentosSistema.buscarCargos}"
								event="onchange" reRender="idreportesdocumentoselectronicos" />
							<f:selectItems
								value="#{reportesDocumentosSistema.listUnidadesOrganizacionales}" />
						</h:selectOneMenu>
					</s:decorate>

					<s:decorate id="cargo" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['documentossistematotal_cargodp']}</ui:define>
						<h:selectOneMenu id="cargoList"
							value="#{reportesDocumentosSistema.cargo}" style=" width: 350px;">
							<a4j:support action="#{reportesDocumentosSistema.buscarPersonas}"
								event="onchange" reRender="idreportesdocumentoselectronicos" />
							<f:selectItems value="#{reportesDocumentosSistema.listCargos}" />
						</h:selectOneMenu>
					</s:decorate>

					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />

					<s:decorate id="usuario" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['documentossistematotal_usuariodp']}</ui:define>
						<h:selectOneMenu id="personaList"
							value="#{reportesDocumentosSistema.persona}"
							style=" width: 350px;">
							<f:selectItems value="#{reportesDocumentosSistema.listPersonas}" />
						</h:selectOneMenu>
					</s:decorate>

					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />

				</h:panelGrid>

				<a4j:commandButton action="#{reportesDocumentosSistema.buscar()}"
					value="#{messages['documentossistematotal_buscar']}"
					styleClass="boton1"
					reRender="idreportesdocumentoselectronicos, idResultReporte, idTableCargos">
					<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
						onstop="Richfaces.hideModalPanel('panelEspera')" />
				</a4j:commandButton>
			</a4j:form>

			<br />

		</rich:panel>

		<br />

		<rich:panel id="idResultReporte">
			<f:facet name="header">
				<span>#{messages['documentossistematotal_resultado']}</span>
			</f:facet>

			<rich:dataTable width="100%" id="idTableCargos"
				onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
				onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
				value="#{reportesDocumentosSistema.resultDoc}" var="_res">
				<rich:column>
					<f:facet name="header">
						<h:outputText
							value="#{messages['documentossistematotal_rango_de_fechas']}" />
					</f:facet>
					<h:outputText value="#{_res.rango}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText
							value="#{messages['documentossistematotal_tipo_documento']}" />
					</f:facet>
					<h:outputText value="#{_res.tipoDocumento}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText
							value="#{messages['documentossistematotal_uo_que_visa']}" />
					</f:facet>
					<h:outputText value="#{_res.uo}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText
							value="#{messages['documentossistematotal_usuario_que_visa']}" />
					</f:facet>
					<h:outputText value="#{_res.usuario}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText
							value="#{messages['documentossistematotal_n_de_documentos']}" />
					</f:facet>
					<h:outputText value="#{_res.cantidad}" />
				</rich:column>
			</rich:dataTable>
		</rich:panel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['documentossistematotal_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['documentossistematotal_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>

	</ui:define>

</ui:composition>