<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<p:document xmlns:p="http://jboss.com/products/seam/pdf"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" type="PDF" pageSize="LETTER"
	orientation="portrait" title="Estado de Bandeja de Salida"
	author="exedoc">

	<p:font size="20" style="bold">
		<p:paragraph spacingAfter="50">
			<p:text
				value="#{messages['documentosbandejaentradapdf_documentos_en_bandeja_de_entrada']}" />
		</p:paragraph>
	</p:font>

	<p:font size="9">
		<p:table columns="13" widthPercentage="100"
			horizontalAlignment="center" spacingBefore="1" spacingAfter="1">
			<f:facet name="defaultCell">
				<p:cell borderWidth="1" horizontalAlignment="center"
					verticalAlignment="middle" />
			</f:facet>
			<p:cell>
				<p:paragraph>#{messages['documentosbandejaentradapdf_n_expediente']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosbandejaentradapdf_tipo_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosbandejaentradapdf_n_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosbandejaentradapdf_nombre_archivo']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosbandejaentradapdf_materia']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosbandejaentradapdf_fecha_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosbandejaentradapdf_de']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosbandejaentradapdf_formato']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosbandejaentradapdf_unidad_organizacional']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosbandejaentradapdf_cargo']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosbandejaentradapdf_usuario']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosbandejaentradapdf_fecha_ingreso_bandeja']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosbandejaentradapdf_fecha_acuse_recibo']}</p:paragraph>
			</p:cell>

			<ui:repeat value="#{reporte.documentoEnBandejaEntrada}"
				var="documentoEnBandejaEntrada">
				<p:cell>
					<p:paragraph>
						<p:text value="#{documentoEnBandejaEntrada.numeroExpediente}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{documentoEnBandejaEntrada.tipoDocumento}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{documentoEnBandejaEntrada.numeroDocumento}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{documentoEnBandejaEntrada.nombreArchivo}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{documentoEnBandejaEntrada.materia}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{documentoEnBandejaEntrada.fechaDocumentoOrigen}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{documentoEnBandejaEntrada.emisor}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{documentoEnBandejaEntrada.formatoDocumento}" />
					</p:paragraph>
				</p:cell>

				<p:cell colspan="5">
					<p:table columns="5" headerRows="0" widthPercentage="100"
						horizontalAlignment="center" spacingBefore="0" spacingAfter="0">
						<f:facet name="defaultCell">
							<p:cell borderWidth="1" horizontalAlignment="center"
								verticalAlignment="middle" />
						</f:facet>
						<ui:repeat
							value="#{documentoEnBandejaEntrada.expedientesAsociadosADocumento}"
							var="expedienteAsociado">
							<p:cell>
								<p:paragraph>
									<p:text
										value="#{expedienteAsociado.destinatario.cargo.unidadOrganizacional.descripcion}"></p:text>
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text
										value="#{expedienteAsociado.destinatario.cargo.descripcion}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text
										value="#{expedienteAsociado.destinatario.getNombreApellido()}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{expedienteAsociado.fechaDespacho}">
										<f:convertDateTime pattern="dd/MM/yyyy"
											locale="#{reporte.locale}"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</p:text>
								</p:paragraph>
							</p:cell>
							<!-- rendered="#{expedienteAsociado.destinatario == reporte.usuario}" -->
							<p:cell>
								<p:paragraph>
									<p:text value="#{expedienteAsociado.fechaAcuseRecibo}">
										<f:convertDateTime pattern="dd/MM/yyyy"
											locale="#{reporte.locale}"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</p:text>
								</p:paragraph>
							</p:cell>
						</ui:repeat>
					</p:table>
				</p:cell>
			</ui:repeat>
		</p:table>
	</p:font>

	<p:footer align="center">
		<p:pageNumber />
	</p:footer>
</p:document>
