<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<p:document xmlns:p="http://jboss.com/products/seam/pdf"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" type="PDF" pageSize="LETTER"
	orientation="landscape" title="Expedientes Despachados."
	author="exedoc">

	<p:font size="15" style="bold">
		<p:paragraph spacingAfter="10">
			<p:text
				value="#{messages['documentosdespachadospdf_expedientes_despachados']}" />
		</p:paragraph>
	</p:font>

	<p:font size="9">
		<p:table columns="16" widthPercentage="100"
			horizontalAlignment="center" spacingBefore="1" spacingAfter="1">
			<f:facet name="defaultCell">
				<p:cell borderWidth="1" horizontalAlignment="center"
					verticalAlignment="middle" />
			</f:facet>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_n_expediente']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_tipo_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_numero']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_fecha']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_de']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_departamento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_unidad']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_materia']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_formato']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_ingreso']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_despacho']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_relacion']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_destinatario_uo']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_destinatario_cargo']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_destinatario_usuario']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['documentosdespachadospdf_acuse_recibo']}</p:paragraph>
			</p:cell>

			<ui:repeat value="#{reporteHojaDespacho.bandejaLista}" var="_bandeja">
				<p:cell>
					<p:paragraph>
						<p:text value="#{_bandeja.numeroExpediente}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{_bandeja.tipoDocumento}"></p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{_bandeja.numeroDocumento}"></p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{_bandeja.fechaDocumentoOrigen}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{_bandeja.emisor}"></p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{_bandeja.departamentoEmisor}"></p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{_bandeja.unidadEmisor}"></p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{_bandeja.materia}"></p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{_bandeja.formatoDocumento}"></p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{_bandeja.fechaIngreso}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{_bandeja.fechaDespacho}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell colspan="5">
					<p:table columns="5" headerRows="0" widthPercentage="100"
						horizontalAlignment="center" spacingBefore="0" spacingAfter="0">
						<f:facet name="defaultCell">
							<p:cell borderWidth="1" horizontalAlignment="center"
								verticalAlignment="middle" />
						</f:facet>
						<ui:repeat value="#{_bandeja.datosUsuariosAsociados}"
							var="_datosUsuario">
							<p:cell>
								<p:paragraph>
									<p:text value="#{_datosUsuario.copia}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text
										value="#{_datosUsuario.destinatarioUnidadOrganizacional}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{_datosUsuario.destinatarioCargo}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{_datosUsuario.destinatarioUsuario}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{_datosUsuario.fechaAcuseRecibo}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
											locale="#{reporte.locale}"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</p:text>
								</p:paragraph>
							</p:cell>
						</ui:repeat>
					</p:table>
				</p:cell>

			</ui:repeat>
		</p:table>
	</p:font>

	<p:footer align="center">
		<p:pageNumber />
	</p:footer>
</p:document>
