<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="../layout/template.xhtml">

	<ui:define name="body">

		<rich:panel id="idreportesdocumentoselectronicos">
			<f:facet name="header">
				<span>#{reportesDocumentosEletronicos.titulo}</span>
			</f:facet>
			<a4j:form>
				<h:panelGrid columns="3">
					<s:decorate id="inicio" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['documentoselectronicos_inicio']}</ui:define>
						<h:outputLabel value=": " style="font-weight:bold" />
						<rich:calendar popup="true" id="fechaInicio"
							datePattern="dd/MM/yyyy" pattern="dd/MM/yyyy"
							value="#{reportesDocumentosEletronicos.inicio}"
							enableManualInput="false" required="true"
							requiredMessage="Debe ingresar un periodo de fechas." />
					</s:decorate>
					<rich:separator width="20px" style="background:transparent;" />
					<s:decorate id="fin" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['documentoselectronicos_fin']}</ui:define>
						<h:outputLabel value=": " style="font-weight:bold" />
						<rich:calendar popup="true" id="fechaFin" datePattern="dd/MM/yyyy"
							pattern="dd/MM/yyyy" value="#{reportesDocumentosEletronicos.fin}"
							enableManualInput="false" required="true"
							requiredMessage="Debe ingresar un periodo de fechas." />
					</s:decorate>

					<h:panelGroup>
						<h:outputLabel
							value="#{messages['documentoselectronicos_tipo_documento']}"
							styleClass="name" />
						<h:outputLabel value=": " style="font-weight:bold" />
						<h:selectOneMenu id="tipoExpedienteList"
							value="#{reportesDocumentosEletronicos.tipoDocumento}"
							immediate="true" styleClass="input250">
							<f:selectItems
								value="#{reportesDocumentosEletronicos.tiposDocumentos}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<rich:separator width="20px" style="background:transparent;" />
					<rich:separator width="20px" style="background:transparent;" />

					<h:panelGroup>
						<h:outputLabel
							value="#{messages['documentoselectronicos_departamento']}"
							styleClass="name" />
						<h:outputLabel value=": " style="font-weight:bold" />
						<h:selectOneMenu
							value="#{reportesDocumentosEletronicos.departamento}"
							id="departamentolist" style=" width: 350px;">
							<a4j:support
								action="#{reportesDocumentosEletronicos.buscarUnidadesOrganizacionales}"
								event="onchange" reRender="idreportesdocumentoselectronicos" />
							<f:selectItems
								value="#{reportesDocumentosEletronicos.listDepartamento}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<rich:separator width="20px" style="background:transparent;" />

					<h:panelGroup>
						<h:outputLabel
							value="#{messages['documentoselectronicos_unidad']}"
							styleClass="name" />
						<h:outputLabel value=": " style="font-weight:bold" />
						<h:selectOneMenu
							value="#{reportesDocumentosEletronicos.unidadOrganizacional}"
							id="uolist" style=" width: 350px;">
							<a4j:support
								action="#{reportesDocumentosEletronicos.buscarCargos}"
								event="onchange" reRender="idreportesdocumentoselectronicos" />
							<f:selectItems
								value="#{reportesDocumentosEletronicos.listUnidadesOrganizacionales}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup>
						<h:outputLabel value="#{messages['documentoselectronicos_cargo']}"
							styleClass="name" />
						<h:outputLabel value=": " style="font-weight:bold" />
						<h:selectOneMenu id="cargoList"
							value="#{reportesDocumentosEletronicos.cargo}"
							style=" width: 350px;">
							<a4j:support
								action="#{reportesDocumentosEletronicos.buscarPersonas}"
								event="onchange" reRender="idreportesdocumentoselectronicos" />
							<f:selectItems
								value="#{reportesDocumentosEletronicos.listCargos}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<rich:separator width="20px" style="background:transparent;" />

					<h:panelGroup>
						<h:outputLabel
							value="#{messages['documentoselectronicos_usuario']}"
							styleClass="name" />
						<h:outputLabel value=": " style="font-weight:bold" />
						<h:selectOneMenu id="personaList"
							value="#{reportesDocumentosEletronicos.persona}"
							style=" width: 350px;">
							<f:selectItems
								value="#{reportesDocumentosEletronicos.listPersonas}" />
						</h:selectOneMenu>
					</h:panelGroup>

				</h:panelGrid>

				<a4j:commandButton
					action="#{reportesDocumentosEletronicos.buscar()}"
					value="#{messages['documentoselectronicos_buscar']}"
					styleClass="boton1"
					reRender="idreportesdocumentoselectronicos, idResultReporte, idTableCargos">
					<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
						onstop="Richfaces.hideModalPanel('panelEspera')" />
				</a4j:commandButton>
			</a4j:form>

			<br />

		</rich:panel>

		<br />

		<rich:panel id="idResultReporte">
			<f:facet name="header">
				<span>#{messages['documentoselectronicos_resultado']}</span>
			</f:facet>
			<a4j:form>
				<rich:dataTable width="100%" id="idTableCargos" rows="3"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="#{reportesDocumentosEletronicos.resultDoc}" var="_res">
					<rich:column>
						<f:facet name="header">
							<h:outputText
								value="#{messages['documentoselectronicos_rango_de_fechas']}" />
						</f:facet>
						<h:outputText value="#{_res.rango}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText
								value="#{messages['documentoselectronicos_tipo_documento']}" />
						</f:facet>
						<h:outputText value="#{_res.tipoDocumento}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{messages['documentoselectronicos_uo_que_visa']}" rendered="#{not reportesDocumentosEletronicos.firmado}"/>
							<h:outputText value="#{messages['documentoselectronicos_uo_que_firma']}" rendered="#{reportesDocumentosEletronicos.firmado}"/>
						</f:facet>
						<h:outputText value="#{_res.uo}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="#{messages['documentoselectronicos_usuario_que_visa']}" rendered="#{not reportesDocumentosEletronicos.firmado}"/>
							<h:outputText value="#{messages['documentoselectronicos_usuario_que_firma']}" rendered="#{reportesDocumentosEletronicos.firmado}"/>
						</f:facet>
						<h:outputText value="#{_res.usuario}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText
								value="#{messages['documentoselectronicos_n_de_documentos']}" />
						</f:facet>
						<h:outputText value="#{_res.cantidad}" />
					</rich:column>
					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="5" style="height: 22px; valign: middle;">
								<rich:datascroller id="paginadoTablaCargos"
									styleClass="resultados" for="idTableCargos"
									rendered="#{reportesDocumentosEletronicos.resultDoc != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
				</rich:dataTable>
			</a4j:form>
		</rich:panel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['documentoselectronicos_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['documentoselectronicos_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>

	</ui:define>

</ui:composition>