<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<p:document xmlns:p="http://jboss.com/products/seam/pdf"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" type="PDF" pageSize="LETTER"
	orientation="portrait" title="Estado de Bandeja de Salida"
	author="WFDOC">

	<p:font size="20" style="bold">
		<p:paragraph spacingAfter="50">
			<p:text
				value="#{messages['estadobandejasalidapdf_estado_de_bandeja_de_salida']}" />
		</p:paragraph>
	</p:font>

	<p:font size="9">
		<p:table columns="15" widthPercentage="100"
			horizontalAlignment="center" spacingBefore="1" spacingAfter="1">
			<f:facet name="defaultCell">
				<p:cell borderWidth="1" horizontalAlignment="center"
					verticalAlignment="middle" />
			</f:facet>
			<p:cell>
				<p:paragraph>#{messages['estadobandejasalidapdf_n_expediente']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['estadobandejasalidapdf_tipo_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['estadobandejasalidapdf_n_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['estadobandejasalidapdf_fecha_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['estadobandejasalidapdf_de']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['estadobandejasalidapdf_materia']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['estadobandejasalidapdf_formato']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['estadobandejasalidapdf_fecha_ingreso']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['estadobandejasalidapdf_fecha_despacho']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['estadobandejasalidapdf_relacion']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['estadobandejasalidapdf_departamento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['estadobandejasalidapdf_destinatario_uo']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['estadobandejasalidapdf_destinatario_cargo']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['estadobandejasalidapdf_destinatario_usuario']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['estadobandejasalidapdf_acuse_recibo']}</p:paragraph>
			</p:cell>

			<ui:repeat value="#{reporte.estadoBandejaSalida}" var="estadoBandeja">
				<p:cell>
					<p:paragraph>
						<p:text value="#{estadoBandeja.numeroExpediente}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{estadoBandeja.tipoDocumento}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{estadoBandeja.numeroDocumento}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{estadoBandeja.fechaDocumentoOrigen}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{estadoBandeja.emisor}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{estadoBandeja.materia}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{estadoBandeja.formatoDocumento}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{estadoBandeja.fechaIngreso}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{estadoBandeja.fechaDespacho}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell colspan="6">
					<p:table columns="6" headerRows="0" widthPercentage="100"
						horizontalAlignment="center" spacingBefore="0" spacingAfter="0">
						<f:facet name="defaultCell">
							<p:cell borderWidth="1" horizontalAlignment="center"
								verticalAlignment="middle" />
						</f:facet>
						<ui:repeat value="#{estadoBandeja.datosUsuariosAsociados}"
							var="datosUsuario">
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.copia}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.destinatarioDepartamento}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text
										value="#{datosUsuario.destinatarioUnidadOrganizacional}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.destinatarioCargo}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.destinatarioUsuario}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.fechaAcuseRecibo}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
											locale="#{reporte.locale}"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</p:text>
								</p:paragraph>
							</p:cell>
						</ui:repeat>
					</p:table>
				</p:cell>
			</ui:repeat>
		</p:table>
	</p:font>
</p:document>
