<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<p:document xmlns:p="http://jboss.com/products/seam/pdf"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" type="PDF" pageSize="LETTER"
	orientation="portrait" title="Historial de un Documento"
	author="exedoc">

	<p:font size="20" style="bold">
		<p:paragraph spacingAfter="50">
			<p:text
				value="#{messages['historialdocumentopdf_historial_de_un_documento']}" />
		</p:paragraph>
	</p:font>

	<p:font size="9">
		<p:table columns="11" widthPercentage="100"
			horizontalAlignment="center" spacingBefore="1" spacingAfter="1">
			<f:facet name="defaultCell">
				<p:cell borderWidth="1" horizontalAlignment="center"
					verticalAlignment="middle" />
			</f:facet>
			<p:cell>
				<p:paragraph>#{messages['historialdocumentopdf_tipo_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialdocumentopdf_n_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialdocumentopdf_fecha_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialdocumentopdf_de']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialdocumentopdf_materia']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialdocumentopdf_formato']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialdocumentopdf_estado']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialdocumentopdf_fecha']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialdocumentopdf_unidad_organizacional']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialdocumentopdf_cargo']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialdocumentopdf_usuario']}</p:paragraph>
			</p:cell>

			<ui:repeat value="#{historialDocumento}" var="historial">
				<p:cell>
					<p:paragraph>
						<p:text value="#{historial.tipoDocumento}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{historial.numeroDocumento}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{historial.fechaDocumentoOrigen}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{historial.emisor}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{historial.materia}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{historial.formatoDocumento}" />
					</p:paragraph>
				</p:cell>

				<p:cell colspan="5" style="vertical-align: top;">
					<p:table columns="5" headerRows="0" widthPercentage="100"
						horizontalAlignment="center" spacingBefore="0" spacingAfter="0">
						<f:facet name="defaultCell">
							<p:cell borderWidth="1" horizontalAlignment="center"
								verticalAlignment="middle" />
						</f:facet>
						<ui:repeat value="#{historial.datosUsuariosAsociados}"
							var="datosUsuario">
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.estadoDocumentoModificado}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.fechaModificacionDocumento}">
										<f:convertDateTime pattern="dd/MM/yyyy"
											locale="#{reporte.locale}"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</p:text>
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text
										value="#{datosUsuario.destinatarioUnidadOrganizacional}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.destinatarioCargo}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.destinatarioUsuario}">
										<f:convertDateTime pattern="dd/MM/yyyy"
											locale="#{reporte.locale}" />
									</p:text>
								</p:paragraph>
							</p:cell>
						</ui:repeat>
					</p:table>
				</p:cell>
			</ui:repeat>
		</p:table>
	</p:font>
</p:document>
