<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<p:document xmlns:p="http://jboss.com/products/seam/pdf"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" type="PDF" pageSize="LETTER"
	orientation="portrait" title="Estado de Bandeja de Salida"
	author="exedoc">

	<p:font size="20" style="bold">
		<p:paragraph spacingAfter="50">
			<p:text
				value="#{messages['historialbandejaentradapdf_historial_de_bandeja_de_entrada']}" />
		</p:paragraph>
	</p:font>

	<p:font size="11">
		<p:table columns="11" widthPercentage="100"
			horizontalAlignment="center" spacingBefore="1" spacingAfter="1">
			<f:facet name="defaultCell">
				<p:cell borderWidth="1" horizontalAlignment="center"
					verticalAlignment="middle" />
			</f:facet>
			<p:cell>
				<p:paragraph>#{messages['historialbandejaentradapdf_n_expediente']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialbandejaentradapdf_fecha_ingreso']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialbandejaentradapdf_remitente']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialbandejaentradapdf_departamento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialbandejaentradapdf_tipo_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialbandejaentradapdf_n_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialbandejaentradapdf_fecha_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialbandejaentradapdf_materia']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialbandejaentradapdf_fecha_ingreso_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialbandejaentradapdf_fecha_acuse_recibo']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['historialbandejaentradapdf_fecha_despacho']}</p:paragraph>
			</p:cell>

			<ui:repeat value="#{reporte.historialBandejaEntrada}"
				var="historialBandeja">
				<p:cell>
					<p:paragraph>
						<p:text value="#{historialBandeja.numeroExpediente}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{historialBandeja.fechaIngreso}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{historialBandeja.emisor}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{historialBandeja.fiscaliaEmisor}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{historialBandeja.tipoDocumento}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{historialBandeja.numeroDocumento}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{historialBandeja.fechaDocumentoOrigen}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{historialBandeja.materia}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{historialBandeja.fechaIngresoBandeja}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{historialBandeja.fechaAcuseRecibo}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{historialBandeja.fechaDespacho}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
			</ui:repeat>
		</p:table>
	</p:font>
</p:document>
