<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">
	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>
		<a4j:form id="formBusqueda">
			<rich:panel>
				<f:facet name="header">
					<span>#{messages['reportedocumentosporvisar_reportes_de_documentos_electronicos_pendientes_de_visacion']}</span>
				</f:facet>
				<rich:dataTable id="tablaReportesPorVisar" styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" width="100%" rows="10"
					value="#{dctoElecPendienteVisacion.listExpedientesPorVisar}"
					var="_list">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentosporvisar_ver']}" />
							</rich:column>

							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentosporvisar_tipo_documento']}" />
							</rich:column>

							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentosporvisar_numero_documento']}" />
							</rich:column>

							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentosporvisar_materia']}" />
							</rich:column>

							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentosporvisar_fecha_documento']}" />
							</rich:column>

							<rich:column rendered="#{dctoElecPendienteVisacion.campoVisador}">
								<h:outputText
									value="#{messages['reportedocumentosporvisar_visador']}" />
							</rich:column>

						</rich:columnGroup>
					</f:facet>
					<rich:column>
						<h:commandLink id="visualizar"
							alt="#{dctoElecPendienteVisacion.visualizar}" immediate="true"
							action="#{visualizador.verDocumento(_list.idDocumento)}"
							target="_blank">
							<h:graphicImage value="/imagenes/ver_detalle_01.gif"
								style="border: none;"
								alt="#{dctoElecPendienteVisacion.visualizar}"
								title="#{dctoElecPendienteVisacion.visualizar}" />
						</h:commandLink>

					</rich:column>

					<rich:column sortBy="#{_list.tipoDocumento.descripcion}"
						filterEvent="onkeyup"
						filterBy="#{_list.tipoDocumento.descripcion}">
						<h:outputText value="#{_list.tipoDocumento.descripcion}" />
					</rich:column>
					<rich:column sortBy="#{_list.numDocumento}" filterEvent="onkeyup"
						filterBy="#{_list.numDocumento}">
						<h:outputText value="#{_list.numDocumento}" />
					</rich:column>
					<rich:column sortBy="#{_list.materia}" filterEvent="onkeyup"
						filterBy="#{_list.materia}">
						<h:outputText value="#{_list.materia}" />
					</rich:column>
					<rich:column sortBy="#{_list.fechaDocumento}">
						<h:outputText value="#{_list.fechaDocumento}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm" />
						</h:outputText>
					</rich:column>

					<rich:column style="vertical-align: midle;"
						rendered="#{dctoElecPendienteVisacion.campoVisador}">
						<ui:repeat value="#{_list.listPersonas}" var="_listPersona">
							<h:outputText value="#{_listPersona.nombreApellido}" />
							<hr />
						</ui:repeat>
					</rich:column>


					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="16" style="height: 22px; valign: middle;">
								<rich:datascroller
									id="paginadoResultadoBusquedaTableDespachados"
									styleClass="resultados" for="tablaReportesPorVisar"
									rendered="#{dctoElecPendienteVisacion.listExpedientesPorVisar != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
				</rich:dataTable>
			</rich:panel>
		</a4j:form>
	</ui:define>
</ui:composition>