<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">
	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>
		<rich:panel>
			<f:facet name="header">
				<span>#{messages['reportehojadespacho_reporte_hoja_despacho']}</span>
			</f:facet>
			<a4j:form id="formFiltro">
				<h:panelGrid columns="7" id="panelFiltro">
					<h:outputLabel
						value="#{messages['reportehojadespacho_fecha_de_inicio_del_despacho']}"
						styleClass="name" style="width:200px" />
					<h:outputLabel value=":" style="font-weight:bold" />
					<rich:calendar locale="#{reporteHojaDespacho.locale}" popup="true"
						datePattern="dd/MM/yyyy" showApplyButton="false"
						enableManualInput="true"
						value="#{reporteHojaDespacho.fechaInicio}">
						<s:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"
							dateStyle="short" />
					</rich:calendar>

					<rich:separator width="20px" style="background:transparent;" />
					<h:outputLabel
						value="#{messages['reportehojadespacho_fecha_de_termino_del_despacho']}"
						styleClass="name" style="width:200px" />
					<h:outputLabel value=":" style="font-weight:bold" />
					<rich:calendar locale="#{reporteHojaDespacho.locale}" popup="true"
						datePattern="dd/MM/yyyy" showApplyButton="false"
						enableManualInput="true"
						value="#{reporteHojaDespacho.fechaTermino}">
						<s:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"
							dateStyle="short" />
					</rich:calendar>

					<h:outputLabel rendered="false"
						value="#{messages['reportehojadespacho_organizacion']}"
						styleClass="name" />
					<h:outputLabel rendered="false" value=":" style="font-weight:bold" />
					<h:selectOneMenu rendered="false"
						value="#{reporteHojaDespacho.organizacion}" id="organizacionList"
						styleClass="input250">
						<a4j:support action="#{reporteHojaDespacho.buscarDivisiones()}"
							event="onchange" reRender="panelFiltro" />
						<f:selectItems value="#{reporteHojaDespacho.listOrganizacion}" />
					</h:selectOneMenu>

					<rich:separator rendered="false" width="20px"
						style="background:transparent;" />
					<h:outputLabel rendered="false"
						value="#{messages['reportehojadespacho_division']}"
						styleClass="name" />
					<h:outputLabel rendered="false" value=":" style="font-weight:bold" />
					<h:selectOneMenu rendered="false" id="divisionList"
						styleClass="input250" value="#{reporteHojaDespacho.division}">
						<a4j:support action="#{reporteHojaDespacho.buscarDepartamentos()}"
							event="onchange" reRender="panelFiltro" />
						<f:selectItems value="#{reporteHojaDespacho.listDivision}" />
					</h:selectOneMenu>

					<h:outputLabel
						value="#{messages['reportehojadespacho_departamento']}"
						styleClass="name" />
					<h:outputLabel value=":" style="font-weight:bold" />
					<h:selectOneMenu id="departamentoList" styleClass="input250"
						value="#{reporteHojaDespacho.departamento}">
						<a4j:support action="#{reporteHojaDespacho.buscarUnidades()}"
							event="onchange" reRender="panelFiltro" />
						<f:selectItems value="#{reporteHojaDespacho.listDepartamento}" />
					</h:selectOneMenu>

					<rich:separator width="20px" style="background:transparent;" />
					<h:outputLabel value="#{messages['reportehojadespacho_unidad']}"
						styleClass="name" />
					<h:outputLabel value=":" style="font-weight:bold" />
					<h:selectOneMenu id="unidadList" styleClass="input250"
						value="#{reporteHojaDespacho.unidad}">
						<a4j:support action="#{reporteHojaDespacho.buscarCargos()}"
							event="onchange" reRender="panelFiltro" />
						<f:selectItems value="#{reporteHojaDespacho.listUnidad}" />
					</h:selectOneMenu>

					<h:outputLabel value="#{messages['reportehojadespacho_cargo']}"
						styleClass="name" />
					<h:outputLabel value=":" style="font-weight:bold" />
					<h:selectOneMenu id="cargoList" styleClass="input250"
						value="#{reporteHojaDespacho.cargo}">
						<f:selectItems value="#{reporteHojaDespacho.listCargo}" />
					</h:selectOneMenu>

				</h:panelGrid>
				<h:panelGrid>
					<a4j:commandButton
						value="#{messages['reportehojadespacho_buscar']}"
						styleClass="boton1" action="#{reporteHojaDespacho.buscar()}"
						reRender="formBusqueda, resultadoBusquedaTableDespachados">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />
					</a4j:commandButton>
				</h:panelGrid>
			</a4j:form>
		</rich:panel>
		<br />
		<a4j:form id="formBusqueda">
			<rich:panel>
				<f:facet name="header">
					<span>#{messages['reportehojadespacho_resultado_de_la_busqueda']}</span>
				</f:facet>
				<rich:dataTable id="resultadoBusquedaTableDespachados"
					styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" width="100%" rows="15"
					value="#{reporteHojaDespacho.bandejaLista}" var="_bandeja"
					rendered="#{reporteHojaDespacho.bandejaLista != null}">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column colspan="2"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['reportehojadespacho_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column colspan="9"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['reportehojadespacho_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column colspan="5"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['reportehojadespacho_destinatarios_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column breakBefore="true">
								<h:outputText value="#{messages['reportehojadespacho_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reportehojadespacho_n']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reportehojadespacho_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reportehojadespacho_tipo']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reportehojadespacho_n']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reportehojadespacho_fecha']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reportehojadespacho_de']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reportehojadespacho_materia']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reportehojadespacho_formato']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reportehojadespacho_ingreso']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportehojadespacho_despacho']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportehojadespacho_relacion']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportehojadespacho_destinatario_uo']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportehojadespacho_destinatario_cargo']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportehojadespacho_destinatario_usuario']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportehojadespacho_acuse_de_recibo']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable id="subDespacho" rowClasses="impar"
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="_bandeja">
						<rich:column rowspan="#{_bandeja.datosUsuariosAsociados.size()+1}">
							<a4j:commandButton id="verExpediente"
								alt="#{messages['reportehojadespacho_alt_ver_expediente']}"
								image="/imagenes/ver_detalle_01.gif" style="border: none;"
								action="#{verExpedienteDesdeReporte.begin()}">
								<f:param name="idExpediente"
									value="#{reporteHojaDespacho.obtenerIdExpediente(_bandeja.numeroExpediente)}" />
								<f:param name="bandejaEntradaCopia" value="false" />
							</a4j:commandButton>
						</rich:column>
						<rich:column rowspan="#{_bandeja.datosUsuariosAsociados.size()+1}">&nbsp;<h:outputText
								value="#{_bandeja.numeroExpediente}" />
						</rich:column>
						<rich:column rowspan="#{_bandeja.datosUsuariosAsociados.size()+1}">
							<a4j:htmlCommandLink immediate="true" border="0px"
								target="_blank"
								action="#{visualizador.verDocumento(_bandeja.idDocumento)}"
								rendered="#{reporteHojaDespacho.renderedVisualizarExpediente(_bandeja.idDocumento)}">
								<h:graphicImage border="0px" alt="#{_bandeja.idDocumento}"
									url="/imagenes/ic_lupa.gif" style="border: none;" />
							</a4j:htmlCommandLink>
						</rich:column>
						<rich:column rowspan="#{_bandeja.datosUsuariosAsociados.size()+1}">
							<h:outputText value="#{_bandeja.tipoDocumento}" />
						</rich:column>
						<rich:column rowspan="#{_bandeja.datosUsuariosAsociados.size()+1}">
							<h:outputText value="#{_bandeja.numeroDocumento}" />
						</rich:column>
						<rich:column rowspan="#{_bandeja.datosUsuariosAsociados.size()+1}">
							<h:outputText value="#{_bandeja.fechaDocumentoOrigen}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									locale="#{reporte.locale}"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column rowspan="#{_bandeja.datosUsuariosAsociados.size()+1}">
							<h:outputText value="#{_bandeja.emisor}" />
						</rich:column>
						<rich:column rowspan="#{_bandeja.datosUsuariosAsociados.size()+1}">
							<h:outputText value="#{_bandeja.materia}" />
						</rich:column>
						<rich:column rowspan="#{_bandeja.datosUsuariosAsociados.size()+1}">
							<h:outputText value="#{_bandeja.formatoDocumento}" />
						</rich:column>
						<rich:column rowspan="#{_bandeja.datosUsuariosAsociados.size()+1}">
							<h:outputText value="#{_bandeja.fechaIngreso}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									locale="#{reporteHojaDespacho.locale}"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column rowspan="#{_bandeja.datosUsuariosAsociados.size()+1}">
							<h:outputText value="#{_bandeja.fechaDespacho}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									locale="#{reporteHojaDespacho.locale}"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column colspan="5" style="vertical-align: center;">

							<rich:subTable id="tablaEstadosBandeja" styleClass="resultados"
								onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
								onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
								style="vertical-align: center;" cellpadding="0" cellspacing="0"
								width="100%" value="#{_bandeja.datosUsuariosAsociados}"
								var="_datosUsuario">
								<rich:column>
									<h:outputText value="#{_datosUsuario.copia}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{_datosUsuario.destinatarioUnidadOrganizacional}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{_datosUsuario.destinatarioCargo}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{_datosUsuario.destinatarioUsuario}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{_datosUsuario.fechaAcuseRecibo}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
											locale="#{reporteHojaDespacho.locale}"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</h:outputText>
								</rich:column>
							</rich:subTable>
						</rich:column>
					</rich:subTable>
					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="16" style="height: 22px; valign: middle;">
								<rich:datascroller
									id="paginadoResultadoBusquedaTableDespachados"
									styleClass="resultados" for="resultadoBusquedaTableDespachados"
									rendered="#{reporteHojaDespacho.bandejaLista != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
				</rich:dataTable>
			</rich:panel>
			<br />
			<a4j:htmlCommandLink
				rendered="#{reporteHojaDespacho.bandejaLista.size() > 0}"
				immediate="true" border="110px" target="_blank"
				action="reporteExpedienteDespachadosPDF">
				<a4j:commandButton
					value="#{messages['reportehojadespacho_exportar_a_pdf']}"
					styleClass="boton1" />
			</a4j:htmlCommandLink>
		</a4j:form>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['reportehojadespacho_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['reportehojadespacho_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>
