<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">
	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>
		<script type="text/javascript">
	        function setCaretToEnd (e) {
	            var control = $((e.target ? e.target : e.srcElement).id);
	            if (control.createTextRange) {
	                var range = control.createTextRange();
	                range.collapse(false);
	                range.select();
	            }
	            else if (control.setSelectionRange) {
	                control.focus();
	                var length = control.value.length;
	                control.setSelectionRange(length, length);
	            }
	            control.selectionStart = control.selectionEnd = control.value.length;
	        } 
	
	    </script>
		<rich:panel>
			<f:facet name="header">
				<span>#{messages['reportedocumentoelectronicoesperafirma_reporte_expediente_con_documento_electronicos_con_firma_pendiente']}</span>
			</f:facet>
			<a4j:form id="formTabla">
				<rich:dataTable id="tablaReporteDocSinFirmar"
					styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" width="100%" rows="15"
					value="#{reporteDocumentoElectronicoEsperaFirma.documentosElectronicosNoFirmados}"
					var="documento">
					<f:facet name="header">
						<rich:columnGroup>

							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentoelectronicoesperafirma_ver']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentoelectronicoesperafirma_tipo_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentoelectronicoesperafirma_numero_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentoelectronicoesperafirma_materia']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentoelectronicoesperafirma_fecha_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column
								rendered="#{not identity.hasRole('FIRMA_DOCUMENTOS')}">
								<h:outputText
									value="#{messages['reportedocumentoelectronicoesperafirma_firmante']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

						</rich:columnGroup>
					</f:facet>

					<rich:column>
						<h:commandLink id="visualizar"
							alt="#{reporteDocumentoElectronicoEsperaFirma.visualizar}"
							immediate="true"
							action="#{visualizador.verDocumento(documento.id)}"
							target="_blank">
							<h:graphicImage value="/imagenes/icono_visualizar_doc.gif"
								style="border: none;"
								alt="#{reporteDocumentoElectronicoEsperaFirma.visualizar}"
								title="#{reporteDocumentoElectronicoEsperaFirma.visualizar}" />
						</h:commandLink>
					</rich:column>
					<rich:column sortBy="#{documento.tipoDocumento.descripcion}"
						filterEvent="onkeyup"
						filterBy="#{documento.tipoDocumento.descripcion}">&nbsp;<h:outputText
							value="#{documento.tipoDocumento.descripcion}" />
					</rich:column>

					<rich:column sortBy="#{documento.numeroDocumento}"
						filterEvent="onkeyup" filterBy="#{documento.numeroDocumento}">&nbsp;<h:outputText
							value="#{documento.numeroDocumento}" />
					</rich:column>

					<rich:column sortBy="#{documento.materia}" filterEvent="onkeyup"
						filterBy="#{documento.materia}">
						<h:outputText value="#{documento.materia}" />
					</rich:column>

					<rich:column sortBy="#{documento.fechaDocumentoOrigen}">&nbsp;<h:outputText
							value="#{documento.fechaDocumentoOrigen}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm" />
						</h:outputText>
					</rich:column>
					<rich:column rendered="#{not identity.hasRole('FIRMA_DOCUMENTOS')}"
						filterMethod="#{reporteDocumentoElectronicoEsperaFirma.filtrarFirmantes}">
						<f:facet name="header">
							<h:inputText
								value="#{reporteDocumentoElectronicoEsperaFirma.filterValue}"
								id="input">
								<a4j:support event="onkeyup" reRender="tablaReporteDocSinFirmar"
									ignoreDupResponses="true" requestDelay="700"
									oncomplete="setCaretToEnd(event);" />
							</h:inputText>
						</f:facet>
						<ui:repeat var="firma" value="#{documento.firmasEstructuradas}">
							<h:outputText value="#{firma.persona.nombreApellido}" />
							<hr></hr>
						</ui:repeat>

					</rich:column>


					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="16" style="height: 22px; valign: middle;">
								<rich:datascroller
									id="paginadoResultadoBusquedaTableDespachados"
									styleClass="resultados" for="tablaReporteDocSinFirmar"
									rendered="#{not empty reporteDocumentoElectronicoEsperaFirma.documentosElectronicosNoFirmados}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
				</rich:dataTable>
			</a4j:form>
		</rich:panel>


		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['reportedocumentoelectronicoesperafirma_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['reportedocumentoelectronicoesperafirma_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>
