<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">
	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>
		<rich:panel id="idreportesexpedientesingresados">
			<f:facet name="header">
				<span>#{messages['reportedocumentosporvencer_reporte_documentos_por_vencer']}</span>
			</f:facet>
			<a4j:form id="formularioFiltro">
				<br />
				<h:panelGrid columns="2" id="panelFiltro">

					<s:decorate template="/layout/edit.xhtml" id="listTipoDocumentos">
						<ui:define name="label">#{messages['reportedocumentosporvencer_tipo_documentodp']}</ui:define>
						<h:selectOneMenu
							value="#{reporteDocumentosporVencer.tipoDocumento}"
							styleClass="input250">
							<f:selectItems
								value="#{ManejarDocumento.obtenerTiposDeDocumentos()}" />
						</h:selectOneMenu>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" id="numeroDocumento">
						<ui:define name="label">#{messages['reportedocumentosporvencer_n_documentodp']}</ui:define>
						<h:inputText value="#{reporteDocumentosporVencer.numeroDocumento}"
							style="width:50px;" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" id="materia">
						<ui:define name="label">#{messages['reportedocumentosporvencer_materiadp']}</ui:define>
						<h:inputText value="#{reporteDocumentosporVencer.materia}" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" id="vacio" />
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['reportedocumentosporvencer_fecha_plazo_inicio']}</ui:define>
						<rich:calendar id="calendarInicio"
							value="#{reporteDocumentosporVencer.fechaInicio}" locale="es_CL"
							popup="true" datePattern="dd/MM/yyyy" showApplyButton="false"
							enableManualInput="false" required="false" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml">
						<ui:define name="label">#{messages['reportedocumentosporvencer_fecha_plazo_termino']}</ui:define>
						<rich:calendar id="calendarTermino"
							value="#{reporteDocumentosporVencer.fechaTermino}" locale="es_CL"
							popup="true" datePattern="dd/MM/yyyy" showApplyButton="false"
							enableManualInput="false" required="false" />
					</s:decorate>

				</h:panelGrid>
				<h:panelGrid>
					<a4j:commandButton
						value="#{messages['reportedocumentosporvencer_buscar']}"
						styleClass="boton1" id="buscar"
						action="#{reporteDocumentosporVencer.filtrarDocumentosporVencer()}"
						reRender="formBusqueda, resultadoBusquedaPorVencer"
						inmediate="true">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />
					</a4j:commandButton>

				</h:panelGrid>
			</a4j:form>
		</rich:panel>
		<br />
		<a4j:form id="formBusqueda">
			<rich:panel>
				<f:facet name="header">
					<span>#{messages['reportedocumentosporvencer_resultado_de_la_busqueda']}</span>
				</f:facet>
				<rich:dataTable id="resultadoBusquedaPorVencer"
					styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" width="100%" rows="15" columns="6"
					value="#{reporteDocumentosporVencer.documentosRelacionados}"
					var="solicitud"
					rendered="#{reporteDocumentosporVencer.documentosRelacionados != null}">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentosporvencer_n_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentosporvencer_tipo_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentosporvencer_n_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentosporvencer_fecha_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentosporvencer_materia']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentosporvencer_emisor']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentosporvencer_destinatario']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentosporvencer_formato']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportedocumentosporvencer_plazo']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable id="subDespacho" rowClasses="impar"
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="solicitud">
						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.numeroExpediente}" />
						</rich:column>

						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.tipoDocumento}" />
						</rich:column>

						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.numeroDocumento}" />
						</rich:column>

						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.fechaDocumentoOrigen}" />
						</rich:column>

						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.materia}" />
						</rich:column>

						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.emisor}" />
						</rich:column>

						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.destinatario}" />
						</rich:column>

						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.formatoDocumento}" />
						</rich:column>

						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.plazo}" />
						</rich:column>

					</rich:subTable>

					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="16" style="height: 22px; valign: middle;">
								<rich:datascroller id="paginadoresultadoBusquedaPorVencer"
									styleClass="resultados" for="resultadoBusquedaPorVencer"
									rendered="#{reporteDocumentosporVencer.documentosRelacionados != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
				</rich:dataTable>
			</rich:panel>
			<br />

		</a4j:form>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['reportedocumentosporvencer_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['reportedocumentosporvencer_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>
