<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">
	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>
		<rich:panel id="idreportesexpedientesingresados">
			<f:facet name="header">
				<span>#{messages['reporteexpedientesingresados_reporte_de_expedientes_despachados_por_unidad_organizacional']}</span>
			</f:facet>
			<a4j:form id="formFiltro">
				<h:panelGrid columns="6" id="panelFiltro">
					<h:outputLabel
						value="#{messages['reporteexpedientesingresados_fecha_de_inicio_del_despacho']}" />
					<h:outputLabel value=":" />
					<rich:calendar locale="#{reporteExpedienteUnidad.locale}"
						popup="true" datePattern="dd/MM/yyyy" showApplyButton="false"
						enableManualInput="false"
						value="#{reporteExpedienteUnidad.fechaInicio}">
						<s:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"
							dateStyle="short" />
					</rich:calendar>

					<h:outputLabel
						value="#{messages['reporteexpedientesingresados_fecha_de_termino_del_despacho']}" />
					<h:outputLabel value=":" />
					<rich:calendar locale="#{reporteExpedienteUnidad.locale}"
						popup="true" datePattern="dd/MM/yyyy" showApplyButton="false"
						enableManualInput="false"
						value="#{reporteExpedienteUnidad.fechaTermino}">
						<s:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"
							dateStyle="short" />
					</rich:calendar>

					<h:outputLabel rendered="false"
						value="#{messages['reporteexpedientesingresados_organismo_dp']}" />
					<h:outputLabel rendered="false" value=":" />
					<h:selectOneMenu rendered="false"
						value="#{reporteExpedienteUnidad.division}" id="organizacionList"
						styleClass="input250">
						<a4j:support 
							action="#{reporteExpedienteUnidad.buscarDepartamentos()}"
							event="onchange" reRender="idreportesexpedientesingresados" />
						<f:selectItems 
							value="#{reporteExpedienteUnidad.listDivision}" />
					</h:selectOneMenu>

					<h:outputLabel
						value="#{messages['reporteexpedientesingresados_departamento']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu id="divisionList" styleClass="input250"
						value="#{reporteExpedienteUnidad.departamento}">
						<a4j:support action="#{reporteExpedienteUnidad.buscarUnidades()}"
							event="onchange" reRender="idreportesexpedientesingresados" />
						<f:selectItems value="#{reporteExpedienteUnidad.listDepartamento}" />
					</h:selectOneMenu>

					<h:outputLabel
						value="#{messages['reporteexpedientesingresados_unidad']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu id="departamentoList" styleClass="input250"
						value="#{reporteExpedienteUnidad.unidad}">
						<a4j:support action="#{reporteExpedienteUnidad.buscarCargos()}"
							event="onchange" reRender="idreportesexpedientesingresados" />
						<f:selectItems value="#{reporteExpedienteUnidad.listUnidad}" />
					</h:selectOneMenu>
					<h:outputLabel
						value="#{messages['reporteexpedientesingresados_cargo']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu id="cargoList" styleClass="input250"
						value="#{reporteExpedienteUnidad.cargo}">
						<a4j:support action="#{reporteExpedienteUnidad.buscarPersonas()}"
							event="onchange" reRender="idreportesexpedientesingresados" />
						<f:selectItems value="#{reporteExpedienteUnidad.listCargo}" />
					</h:selectOneMenu>
					<h:outputLabel
						value="#{messages['reporteexpedientesingresados_usuario']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu id="personaList"
						value="#{reporteExpedienteUnidad.persona}" style=" width: 350px;">
						<f:selectItems value="#{reporteExpedienteUnidad.listPersonas}" />
					</h:selectOneMenu>
				</h:panelGrid>
				<h:panelGrid>
					<a4j:commandButton
						value="#{messages['reporteexpedientesingresados_buscar']}"
						styleClass="boton1" action="#{reporteExpedienteUnidad.buscar()}"
						reRender="formBusqueda, resultadoBusquedaTableDespachados">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />
					</a4j:commandButton>
				</h:panelGrid>
			</a4j:form>
		</rich:panel>
		<br />
		<a4j:form id="formBusqueda">
			<rich:panel>
				<f:facet name="header">
					<span>#{messages['reporteexpedientesingresados_resultado_de_la_busqueda']}</span>
				</f:facet>
				<rich:dataTable id="resultadoBusquedaTableDespachados"
					styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" width="100%" rows="6"
					value="#{reporteExpedienteUnidad.bandejaLista}" var="_bandeja"
					rendered="#{reporteExpedienteUnidad.bandejaLista != null}">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column colspan="4"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['reporteexpedientesingresados_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column colspan="2"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['reporteexpedientesingresados_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column breakBefore="true">
								<h:outputText
									value="#{messages['reporteexpedientesingresados_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reporteexpedientesingresados_n_expediente']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reporteexpedientesingresados_rango_de_fechas']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reporteexpedientesingresados_uo_que_ingresa']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reporteexpedientesingresados_n_documento']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reporteexpedientesingresados_tipo_documento']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable id="subDespacho" rowClasses="impar"
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="_bandeja">
						<rich:column rowspan="#{_bandeja.documentosRelacionados.size()+1}">
							<a4j:commandButton id="verExpediente"
								alt="#{messages['reporteexpedientesingresados_alt_ver_expediente']}"
								image="/imagenes/ver_detalle_01.gif" style="border: none;"
								action="#{verExpedienteDesdeReporte.begin()}">
								<f:param name="idExpediente" value="#{_bandeja.id}" />
								<f:param name="bandejaEntradaCopia" value="false" />
							</a4j:commandButton>
						</rich:column>
						<rich:column rowspan="#{_bandeja.documentosRelacionados.size()+1}">&nbsp;
							<h:outputText value="#{_bandeja.numeroExpediente}" />
						</rich:column>
						<rich:column rowspan="#{_bandeja.documentosRelacionados.size()+1}">&nbsp;
							<h:outputText value="#{_bandeja.fechaIngreso}" />
						</rich:column>
						<rich:column rowspan="#{_bandeja.documentosRelacionados.size()+1}">&nbsp;
							<h:outputText value="#{_bandeja.unidadEmisor}" />
						</rich:column>

						<rich:column style="vertical-align: center;" colspan="2">
							<rich:subTable id="tablaEstadosBandeja" styleClass="resultados"
								onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
								onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
								style="vertical-align: center;" cellpadding="0" cellspacing="0"
								width="100%" value="#{_bandeja.documentosRelacionados}"
								var="_documento">
								<rich:column>
									<h:outputText value="#{_documento.numeroDocumento}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{_documento.tipoDocumento.descripcion}" />
								</rich:column>
							</rich:subTable>
						</rich:column>
					</rich:subTable>

					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="16" style="height: 22px; valign: middle;">
								<rich:datascroller
									id="paginadoResultadoBusquedaTableDespachados"
									styleClass="resultados" for="resultadoBusquedaTableDespachados"
									rendered="#{reporteExpedienteUnidad.bandejaLista != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
				</rich:dataTable>
			</rich:panel>
			<br />
			<a4j:htmlCommandLink
				rendered="#{reporteExpedienteUnidad.bandejaLista.size() > 0}"
				immediate="true" border="110px" target="_blank"
				action="reporteExpedienteDespachadosUnidadPDF">
				<h:commandButton
					value="#{messages['reporteexpedientesingresados_exportar_a_pdf']}"
					styleClass="boton1" />
			</a4j:htmlCommandLink>
		</a4j:form>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['reporteexpedientesingresados_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['reporteexpedientesingresados_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>
