<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">
	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>
		<rich:panel id="idreportesexpedientesingresados">
			<f:facet name="header">
				<span>#{messages['reportesolicitudfolio_reporte_solicitud_folio']}</span>
			</f:facet>
			<a4j:form id="formFiltro">
				<br />
				<h:panelGrid columns="6" id="panelFiltro">
					<h:outputLabel
						value="#{messages['reportesolicitudfolio_fecha_de_inicio']}"
						style="width:100px" />
					<h:outputLabel value=":" style="font-weight:bold" />
					<rich:calendar locale="#{reporteSolicitudFolio.locale}"
						popup="true" datePattern="dd/MM/yyyy" showApplyButton="false"
						enableManualInput="false"
						value="#{reporteSolicitudFolio.fechaInicio}">
						<s:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"
							dateStyle="short" />
					</rich:calendar>
					<h:outputLabel
						value="#{messages['reportesolicitudfolio_fecha_de_termino']}"
						style="width:100px" />
					<h:outputLabel value=":" style="font-weight:bold" />
					<rich:calendar locale="#{reporteSolicitudFolio.locale}"
						popup="true" datePattern="dd/MM/yyyy" showApplyButton="false"
						enableManualInput="false"
						value="#{reporteSolicitudFolio.fechaTermino}">
						<s:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"
							dateStyle="short" />
					</rich:calendar>
					<h:outputLabel
						value="#{messages['reportesolicitudfolio_departamento']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu id="divisionList" styleClass="input250"
						value="#{reporteSolicitudFolio.fiscalia}" disabled="true">
						<a4j:support action="#{reporteSolicitudFolio.buscarUnidades()}"
							event="onchange" reRender="idreportesexpedientesingresados" />
						<f:selectItems value="#{reporteSolicitudFolio.fiscalias}" />
					</h:selectOneMenu>

					<h:outputLabel value="#{messages['reportesolicitudfolio_unidad']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu id="departamentoList" styleClass="input250"
						value="#{reporteSolicitudFolio.unidad}" disabled="true">
						<f:selectItems value="#{reporteSolicitudFolio.unidades}" />
					</h:selectOneMenu>

					<h:outputLabel
						value="#{messages['reportesolicitudfolio_tipo_documento']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu id="cargoList" styleClass="input250"
						value="#{reporteSolicitudFolio.tipoDocumento}">
						<f:selectItems value="#{reporteSolicitudFolio.tiposDocumentos}" />
					</h:selectOneMenu>

					<h:outputLabel value="A&ntilde;o" />
					<h:outputLabel value=":" />
					<h:inputText value="#{reporteSolicitudFolio.agno}"
						id="agnioReporte" />

					<h:outputLabel value="#{messages['reportesolicitudfolio_folio']}" />
					<h:outputLabel value=":" />
					<h:inputText value="#{reporteSolicitudFolio.folio}" id="folio" />

				</h:panelGrid>
				<h:panelGrid>
					<a4j:commandButton
						value="#{messages['reportesolicitudfolio_buscar']}"
						styleClass="boton1" id="buscar"
						action="#{reporteSolicitudFolio.buscar()}"
						reRender="formBusqueda, resultadoBusquedaTableDespachados">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />
					</a4j:commandButton>

				</h:panelGrid>
			</a4j:form>
		</rich:panel>
		<br />
		<a4j:form id="formBusqueda">
			<rich:panel>
				<f:facet name="header">
					<span>#{messages['reportesolicitudfolio_resultado_de_la_busqueda']}</span>
				</f:facet>
				<rich:dataTable id="resultadoBusquedaTableDespachados"
					styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" width="100%" rows="15" columns="8"
					value="#{reporteSolicitudFolio.solicitudes}" var="solicitud">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column>
								<h:outputText
									value="#{messages['reportesolicitudfolio_unidad']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportesolicitudfolio_fecha_asignacion']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportesolicitudfolio_tipo_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText value="A&ntilde;o"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportesolicitudfolio_materia']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportesolicitudfolio_observacion']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reportesolicitudfolio_folio']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reportesolicitudfolio_usuario']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

						</rich:columnGroup>
					</f:facet>
					<rich:subTable id="subDespacho" rowClasses="impar"
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="solicitud">
						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.unidadOrganizacional}" />
						</rich:column>

						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.fechaSolicitud}" />
						</rich:column>

						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.tipoDocumentoEntity.descripcion}" />
						</rich:column>

						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.agnoActual}" />
						</rich:column>

						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.materia}" />
						</rich:column>

						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.observacion}" />
						</rich:column>

						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.numeroActual}" />
						</rich:column>

						<rich:column>&nbsp;<h:outputText
								value="#{solicitud.usuario.nombreApellido}" />
						</rich:column>


					</rich:subTable>

					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="16" style="height: 22px; valign: middle;">
								<rich:datascroller
									id="paginadoResultadoBusquedaTableDespachados"
									styleClass="resultados" for="resultadoBusquedaTableDespachados"
									rendered="#{reporteSolicitudFolio.solicitudes != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
				</rich:dataTable>
			</rich:panel>
			<br />

		</a4j:form>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['reportesolicitudfolio_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['reportesolicitudfolio_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>
