<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<p:document xmlns:p="http://jboss.com/products/seam/pdf"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" type="PDF" pageSize="LETTER"
	orientation="landscape" title="Expedientes Despachados."
	author="exedoc">

	<p:font size="15" style="bold">
		<p:paragraph spacingAfter="10">
			<p:text
				value="#{messages['reporteexpedientedespachadosunidadpdf_expedientes_despachados']}" />
		</p:paragraph>
	</p:font>

	<p:font size="9">
		<p:table columns="5" widthPercentage="100"
			horizontalAlignment="center" spacingBefore="1" spacingAfter="1">
			<f:facet name="defaultCell">
				<p:cell borderWidth="1" horizontalAlignment="center"
					verticalAlignment="middle" />
			</f:facet>
			<p:cell>
				<p:paragraph>N Expediente</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>Rango de Fechas</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>UO que ingresa</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>N Documento</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>Tipo de Documento</p:paragraph>
			</p:cell>

			<ui:repeat value="#{reporteExpedienteUnidad.bandejaLista}"
				var="_bandeja">
				<p:cell>
					<p:paragraph>
						<p:text value="#{_bandeja.numeroExpediente}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{_bandeja.fechaIngreso}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{_bandeja.unidadEmisor}"></p:text>
					</p:paragraph>
				</p:cell>
				<p:cell colspan="2">
					<p:table columns="2" headerRows="0" widthPercentage="100"
						horizontalAlignment="center" spacingBefore="0" spacingAfter="0">
						<f:facet name="defaultCell">
							<p:cell borderWidth="1" horizontalAlignment="center"
								verticalAlignment="middle" />
						</f:facet>
						<ui:repeat value="#{_bandeja.documentosRelacionados}"
							var="_documento">
							<p:cell>
								<p:paragraph>
									<p:text value="#{_documento.numeroDocumento}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{_documento.tipoDocumento.descripcion}" />
								</p:paragraph>
							</p:cell>
						</ui:repeat>
					</p:table>
				</p:cell>

			</ui:repeat>
		</p:table>
	</p:font>

	<p:footer align="center">
		<p:pageNumber />
	</p:footer>
</p:document>
