<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"[
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel>
			<f:facet name="header">
				<span>#{reporteOffLine.tituloFiltro}</span>
			</f:facet>
			<a4j:form id="formFiltro">
				<rich:panel>
					<h:panelGrid columns="7" id="panelFiltroFechas">
						<h:outputLabel
							value="#{messages['reporteoffline_fecha_de_inicio']}"
							styleClass="name" />
						<h:outputLabel value=":" style="font-weight:bold" />
						<rich:calendar locale="#{reporteOffLine.locale}" popup="true"
							datePattern="dd/MM/yyyy" showApplyButton="false"
							enableManualInput="false" value="#{reporteOffLine.fechaInicio}">
							<s:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"
								dateStyle="short" />
						</rich:calendar>
						<rich:separator width="20px" style="background:transparent;" />
						<h:outputLabel
							value="#{messages['reporteoffline_fecha_de_termino']}"
							styleClass="name" />
						<h:outputLabel value=":" style="font-weight:bold" />
						<rich:calendar locale="#{reporteOffLine.locale}" popup="true"
							datePattern="dd/MM/yyyy" showApplyButton="false"
							enableManualInput="false" value="#{reporteOffLine.fechaTermino}">
							<s:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"
								dateStyle="short" />
						</rich:calendar>
					</h:panelGrid>

					<rich:panel>
						<h:outputText value="#{reporteOffLine.tituloFiltroDos}"
							style="font-weight:bold" />
						<h:panelGrid columns="7" id="panelFiltroListas">
							<h:outputLabel rendered="true"
								value="#{messages['reporteoffline_organizacion']}"
								styleClass="name" />
							<h:outputLabel rendered="true" value=":" style="font-weight:bold" />
							<h:selectOneMenu rendered="true"
								value="#{reporteOffLine.organizacion}" id="organizacionList"
								styleClass="input250">
								<a4j:support action="#{reporteOffLine.buscarDivisiones()}"
									event="onchange" reRender="panelFiltroListas" />
								<f:selectItems value="#{reporteOffLine.listOrganizacion}" />
							</h:selectOneMenu>
							<rich:separator rendered="true" width="20px"
								style="background:transparent;" />
							<h:outputLabel rendered="true"
								value="#{messages['reporteoffline_division']}" styleClass="name" />
							<h:outputLabel rendered="true" value=":" style="font-weight:bold" />
							<h:selectOneMenu rendered="true" id="divisionList"
								styleClass="input250" value="#{reporteOffLine.division}">
								<a4j:support action="#{reporteOffLine.buscarDepartamentos()}"
									event="onchange" reRender="panelFiltroListas" />
								<f:selectItems value="#{reporteOffLine.listDivision}" />
							</h:selectOneMenu>

							<h:outputLabel value="#{messages['reporteoffline_departamento']}"
								styleClass="name" />
							<h:outputLabel value=":" style="font-weight:bold" />
							<h:selectOneMenu id="departamentoList" styleClass="input250"
								value="#{reporteOffLine.departamento}">
								<a4j:support action="#{reporteOffLine.buscarUnidades()}"
									event="onchange" reRender="panelFiltroListas" />
								<f:selectItems value="#{reporteOffLine.listDepartamento}" />
							</h:selectOneMenu>
							<rich:separator width="20px" style="background:transparent;" />
							<h:outputLabel value="#{messages['reporteoffline_unidad']}"
								styleClass="name" />
							<h:outputLabel value=":" style="font-weight:bold" />
							<h:selectOneMenu id="unidadList" styleClass="input250"
								value="#{reporteOffLine.unidad}">
								<a4j:support action="#{reporteOffLine.buscarCargos()}"
									event="onchange" reRender="panelFiltroListas" />
								<f:selectItems value="#{reporteOffLine.listUnidad}" />
							</h:selectOneMenu>
							<h:outputLabel value="#{messages['reporteoffline_cargo']}"
								styleClass="name" />
							<h:outputLabel value=":" style="font-weight:bold" />
							<h:selectOneMenu id="cargoList" styleClass="input250"
								value="#{reporteOffLine.cargo}">
								<a4j:support action="#{reporteOffLine.buscarPersonas()}"
									event="onchange" reRender="panelFiltroListas" />
								<f:selectItems value="#{reporteOffLine.listCargo}" />
							</h:selectOneMenu>
							<rich:separator width="20px" style="background:transparent;" />
							<h:outputLabel value="#{messages['reporteoffline_usuario']}"
								styleClass="name" />
							<h:outputLabel value=":" style="font-weight:bold" />
							<h:selectOneMenu id="personaList" styleClass="input250"
								value="#{reporteOffLine.persona}">
								<f:selectItems value="#{reporteOffLine.listPersonas}" />
							</h:selectOneMenu>
						</h:panelGrid>
					</rich:panel>

				</rich:panel>
				<h:panelGrid columns="5">
					<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
						onstop="Richfaces.hideModalPanel('panelEspera')" />
					<a4j:commandButton
						value="#{messages['reporteoffline_buscar_archivado']}"
						styleClass="boton1" rendered="#{reporteOffLine.archivado}"
						action="#{reporteOffLine.buscarExpedienteArchivado()}"
						reRender="formPanelResultado, resultadoBusquedaTableArchivado">
					</a4j:commandButton>
					<a4j:commandButton
						value="#{messages['reporteoffline_buscar_cancelados']}"
						styleClass="boton1" rendered="#{reporteOffLine.cancelado}"
						action="#{reporteOffLine.buscarExpedienteCancelado()}"
						reRender="formPanelResultado, resultadoBusquedaTableCancelados">
					</a4j:commandButton>
					<a4j:commandButton
						value="#{messages['reporteoffline_buscar_ingresados']}"
						styleClass="boton1" rendered="#{reporteOffLine.ingresado}"
						action="#{reporteOffLine.buscarExpedienteIngresados()}"
						reRender="formPanelResultado, resultadoBusquedaTableIngresados">
					</a4j:commandButton>
					<a4j:commandButton
						value="#{messages['reporteoffline_buscar_despachados']}"
						styleClass="boton1" rendered="#{reporteOffLine.despachado}"
						action="#{reporteOffLine.buscarExpedienteDespachados()}"
						reRender="formPanelResultado, resultadoBusquedaTableDespachado">
					</a4j:commandButton>
				</h:panelGrid>
			</a4j:form>
		</rich:panel>
		<br />
		<a4j:form id="formPanelResultado">
			<rich:panel>
				<f:facet name="header">
					<span>#{messages['reporteoffline_resultado_de_la_busqueda']}</span>
				</f:facet>
				<br />
				<rich:panel rendered="#{reporteOffLine.archivado}"
					style="border:0px">
					<rich:dataTable id="resultadoBusquedaTableArchivado"
						styleClass="resultados"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						cellpadding="0" cellspacing="0" width="100%" rows="15"
						value="#{reporteOffLine.bandejaListaArchivado}" var="_archivado"
						rendered="#{reporteOffLine.bandejaListaArchivado != null}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_rango_de_fechas']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_u_o_d_que_archiva']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_usuario_que_archiva']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_numero_de_expedientes']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable id="subTableArchivado" rowClasses="impar"
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="_archivado">
							<rich:column>
								<h:outputText value="#{_archivado.fechas}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{_archivado.unidad}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{_archivado.usuario}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{_archivado.cantidad}" />
							</rich:column>
						</rich:subTable>
						<f:facet name="footer">
							<rich:columnGroup styleClass="footer_lista">
								<rich:column colspan="4" style="height: 22px; valign: middle;">
									<rich:datascroller id="paginadoResultadoBusquedaTableArchivado"
										styleClass="resultados" for="resultadoBusquedaTableArchivado"
										rendered="#{reporteOffLine.bandejaListaArchivado != null}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
					</rich:dataTable>
				</rich:panel>
				<rich:panel rendered="#{reporteOffLine.cancelado}"
					style="border:0px">
					<rich:dataTable id="resultadoBusquedaTableCancelados"
						styleClass="resultados"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						cellpadding="1" cellspacing="1" width="100%" rows="15"
						value="#{reporteOffLine.bandejaListaCancelado}" var="_cancelado"
						rendered="#{reporteOffLine.bandejaListaCancelado != null}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_rango_de_fechas']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_u_o_d_que_cancela']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_usuario_que_cancela']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_numero_de_expedientes']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable id="subTableCancelados" rowClasses="impar"
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="_cancelado">
							<rich:column>
								<h:outputText value="#{_cancelado.fechas}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{_cancelado.unidad}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{_cancelado.usuario}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{_cancelado.cantidad}" />
							</rich:column>
						</rich:subTable>
						<f:facet name="footer">
							<rich:columnGroup styleClass="footer_lista">
								<rich:column colspan="4" style="height: 20px; valign: middle;">
									<rich:datascroller
										id="paginadoResultadoBusquedaTableCancelados"
										styleClass="resultados" for="resultadoBusquedaTableCancelados"
										rendered="#{reporteOffLine.bandejaListaCancelado != null}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
					</rich:dataTable>
				</rich:panel>
				<rich:panel rendered="#{reporteOffLine.ingresado}"
					style="border:0px">
					<rich:dataTable id="resultadoBusquedaTableIngresados"
						styleClass="resultados"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						cellpadding="1" cellspacing="1" width="100%" rows="15"
						value="#{reporteOffLine.bandejaListaIngresado}" var="_ingresado"
						rendered="#{reporteOffLine.bandejaListaIngresado != null}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_rango_de_fechas']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_u_o_d_que_ingresa']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_usuario_que_ingresa']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_numero_de_expedientes']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable id="subTableIngresados" rowClasses="impar"
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="_ingresado">
							<rich:column>
								<h:outputText value="#{_ingresado.fechas}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{_ingresado.unidad}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{_ingresado.usuario}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{_ingresado.cantidad}" />
							</rich:column>
						</rich:subTable>
						<f:facet name="footer">
							<rich:columnGroup styleClass="footer_lista">
								<rich:column colspan="4" style="height: 22px; valign: middle;">
									<rich:datascroller id="paginadoResultadoBusquedaTableIngresado"
										styleClass="resultados" for="resultadoBusquedaTableIngresados"
										rendered="#{reporteOffLine.bandejaListaIngresado != null}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
					</rich:dataTable>
				</rich:panel>
				<rich:panel rendered="#{reporteOffLine.despachado}"
					style="border:0px">
					<rich:dataTable id="resultadoBusquedaTableDespachado"
						styleClass="resultados"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						cellpadding="1" cellspacing="1" width="100%" rows="15"
						value="#{reporteOffLine.bandejaListaDespachado}" var="_despachado"
						rendered="#{reporteOffLine.bandejaListaDespachado != null}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_rango_de_fechas']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_u_o_d_que_despacha']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_usuario_que_despacha']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['reporteoffline_numero_de_expedientes']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable id="subTableIngresados" rowClasses="impar"
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="_despachado">
							<rich:column>
								<h:outputText value="#{_despachado.fechas}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{_despachado.unidad}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{_despachado.usuario}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{_despachado.cantidad}" />
							</rich:column>
						</rich:subTable>
						<f:facet name="footer">
							<rich:columnGroup styleClass="footer_lista">
								<rich:column colspan="4" style="height: 22px; valign: middle;">
									<rich:datascroller
										id="paginadoResultadoBusquedaTableDespachado"
										styleClass="resultados" for="resultadoBusquedaTableDespachado"
										rendered="#{reporteOffLine.bandejaListaDespachado != null}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
					</rich:dataTable>
				</rich:panel>
			</rich:panel>
		</a4j:form>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText value="#{messages['reporteoffline_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['reporteoffline_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>
