<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<p:document xmlns:p="http://jboss.com/products/seam/pdf"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" type="PDF" pageSize="LETTER"
	orientation="landscape" title="Ruta Seguida por Documento"
	author="exedoc" margins="15 15 15 15">

	<p:font size="12" style="bold">
		<p:paragraph spacingAfter="5">
			<p:text
				value="#{messages['rutaseguidadocumentopdf_ruta_seguida_por_documento']}" />
		</p:paragraph>
	</p:font>

	<p:font size="7">
		<p:table columns="17" widthPercentage="100"
			horizontalAlignment="center" spacingBefore="1" spacingAfter="1"
			headerRows="1" splitLate="false">
			<f:facet name="defaultCell">
				<p:cell borderWidth="1" horizontalAlignment="center"
					verticalAlignment="middle" backgroundColor="#F4F4F4" />
			</f:facet>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_n_expediente']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_tipo_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_n_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_nombre_archivo']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_fecha_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_fecha_ingreso_documento']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_de']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_materia']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_formato']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_enviado_por']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_unidad_organizacional']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_cargo']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_usuario']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_fecha_ingreso_bandeja']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_fecha_acuse_recibo']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_fecha_acuse_despacho']}</p:paragraph>
			</p:cell>
			<p:cell>
				<p:paragraph>#{messages['rutaseguidadocumentopdf_fecha_acuse_archivado']}</p:paragraph>
			</p:cell>
			<ui:repeat value="#{reporte.rutaSeguidaDocumento}" var="rutaSeguida">
				<p:cell>
					<p:paragraph>
						<p:text value="#{rutaSeguida.numeroExpediente}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{rutaSeguida.tipoDocumento}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{rutaSeguida.numeroDocumento}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{rutaSeguida.nombreArchivo}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{rutaSeguida.fechaDocumentoOrigen}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{rutaSeguida.fechaCreacionDocumento}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								locale="#{reporte.locale}"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</p:text>
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{rutaSeguida.emisor}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{rutaSeguida.materia}" />
					</p:paragraph>
				</p:cell>
				<p:cell>
					<p:paragraph>
						<p:text value="#{rutaSeguida.formatoDocumento}" />
					</p:paragraph>
				</p:cell>

				<p:cell colspan="8" style="vertical-align: top;">
					<p:table columns="8" headerRows="0" widthPercentage="100"
						horizontalAlignment="center" spacingBefore="0" spacingAfter="0">
						<f:facet name="defaultCell">
							<p:cell borderWidth="1" horizontalAlignment="center"
								verticalAlignment="middle" />
						</f:facet>
						<ui:repeat value="#{rutaSeguida.datosUsuariosAsociados}"
							var="datosUsuario">
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.nombreEmisor}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text
										value="#{datosUsuario.destinatarioUnidadOrganizacional}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.destinatarioCargo}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.destinatarioUsuario}" />
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.fechaIngresoBandeja}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
											locale="#{reporte.locale}"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</p:text>
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.fechaAcuseRecibo}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
											locale="#{reporte.locale}"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</p:text>
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.fechaDespacho}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
											locale="#{reporte.locale}"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</p:text>
								</p:paragraph>
							</p:cell>
							<p:cell>
								<p:paragraph>
									<p:text value="#{datosUsuario.fechaArchivado}">
										<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
											locale="#{reporte.locale}"
											timeZone="#{customizacion.getPropiedad('timezone')}" />
									</p:text>
								</p:paragraph>
							</p:cell>
						</ui:repeat>
					</p:table>
				</p:cell>
			</ui:repeat>
		</p:table>
	</p:font>

</p:document>
