<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">
	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>
		<rich:panel id="idreportesexpedientesencolado">
			<f:facet name="header">
				<span>#{messages['tiempoencoladoexpediente_tiempo_promedio_de_encolado_de_un_expediente']}</span>
			</f:facet>
			<a4j:form id="formFiltro">
				<h:panelGrid columns="6" id="panelFiltro">

					<h:outputLabel rendered="false"
						value="#{messages['tiempoencoladoexpediente_organismo_dp']}" />
					<h:outputLabel rendered="false" value=":" />
					<h:selectOneMenu rendered="false"
						value="#{reporteEncoladoPromedioExpediente.division}"
						id="organizacionList" styleClass="input250">
						<a4j:support rendered="false"
							action="#{reporteEncoladoPromedioExpediente.buscarDepartamentos()}"
							event="onchange" reRender="idreportesexpedientesencolado" />
						<f:selectItems rendered="false"
							value="#{reporteEncoladoPromedioExpediente.listDivision}" />
					</h:selectOneMenu>

					<h:outputLabel
						value="#{messages['tiempoencoladoexpediente_departamento_dp']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu id="divisionList" styleClass="input250"
						value="#{reporteEncoladoPromedioExpediente.departamento}">
						<a4j:support
							action="#{reporteEncoladoPromedioExpediente.buscarUnidades()}"
							event="onchange" reRender="idreportesexpedientesencolado" />
						<f:selectItems
							value="#{reporteEncoladoPromedioExpediente.listDepartamento}" />
					</h:selectOneMenu>

					<h:outputLabel
						value="#{messages['tiempoencoladoexpediente_unidad_dp']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu id="departamentoList" styleClass="input250"
						value="#{reporteEncoladoPromedioExpediente.unidad}">
						<a4j:support
							action="#{reporteEncoladoPromedioExpediente.buscarCargos()}"
							event="onchange" reRender="idreportesexpedientesencolado" />
						<f:selectItems
							value="#{reporteEncoladoPromedioExpediente.listUnidad}" />
					</h:selectOneMenu>
					<h:outputLabel
						value="#{messages['tiempoencoladoexpediente_cargo']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu id="cargoList" styleClass="input250"
						value="#{reporteEncoladoPromedioExpediente.cargo}">
						<a4j:support
							action="#{reporteEncoladoPromedioExpediente.buscarPersonas()}"
							event="onchange" reRender="idreportesexpedientesencolado" />
						<f:selectItems
							value="#{reporteEncoladoPromedioExpediente.listCargo}" />
					</h:selectOneMenu>
					<h:outputLabel
						value="#{messages['tiempoencoladoexpediente_usuario']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu id="personaList"
						value="#{reporteEncoladoPromedioExpediente.persona}"
						style=" width: 350px;">
						<f:selectItems
							value="#{reporteEncoladoPromedioExpediente.listPersonas}" />
					</h:selectOneMenu>
				</h:panelGrid>
				<h:panelGrid>
					<a4j:commandButton
						value="#{messages['tiempoencoladoexpediente_buscar']}"
						styleClass="boton1"
						action="#{reporteEncoladoPromedioExpediente.buscar()}"
						reRender="formBusqueda, resultadoBusquedaTableDespachados">
						<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
							onstop="Richfaces.hideModalPanel('panelEspera')" />
					</a4j:commandButton>
				</h:panelGrid>
			</a4j:form>
		</rich:panel>
		<br />
		<a4j:form id="formBusqueda">
			<rich:panel>
				<f:facet name="header">
					<span>#{messages['tiempoencoladoexpediente_resultado_de_la_busqueda']}</span>
				</f:facet>
				<rich:dataTable id="resultadoBusquedaTableDespachados"
					styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" width="100%" rows="15"
					value="#{reporteEncoladoPromedioExpediente.bandejaLista}"
					var="_bandeja"
					rendered="#{reporteEncoladoPromedioExpediente.bandejaLista != null}">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column colspan="1"
								style="text-align:center; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['tiempoencoladoexpediente_uo_que_despacha']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column colspan="9"
								style="text-align:center; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['tiempoencoladoexpediente_tiempo_promedio']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>


						</rich:columnGroup>
					</f:facet>
					<rich:subTable id="subDespacho" rowClasses="impar"
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="_bandeja">

						<rich:column rowspan="#{_bandeja.documentosRelacionados.size()+1}">&nbsp;<h:outputText
								value="#{_bandeja.unidadOrg}" />
						</rich:column>
						<rich:column rowspan="#{_bandeja.documentosRelacionados.size()+1}">&nbsp;<h:outputText
								value="#{_bandeja.tiempoEncolado}" />
						</rich:column>
					</rich:subTable>

					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="16" style="height: 22px; valign: middle;">
								<rich:datascroller
									id="paginadoResultadoBusquedaTableDespachados"
									styleClass="resultados" for="resultadoBusquedaTableDespachados"
									rendered="#{reporteEncoladoPromedioExpediente.bandejaLista != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
				</rich:dataTable>
			</rich:panel>
			<br />
		</a4j:form>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['tiempoencoladoexpediente_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['tiempoencoladoexpediente_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>
