<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:s="http://jboss.com/products/seam/taglib">

	<div class="prop">
        <span class="name">
            <ui:insert name="label"/>
        </span>
        <span class="value">
            <ui:insert/>
		</span>
	</div>

</ui:composition>