<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:s="http://jboss.com/products/seam/taglib">
	<div class="prop">

		<s:label styleClass="name #{invalid?'errors':''}">
			<ui:insert name="label" />
			<s:span styleClass="required" rendered="#{required}">*</s:span>
		</s:label>

		<span class="value #{invalid?'errors':''}"> <s:validateAll>
				<ui:insert />
			</s:validateAll>
		</span>

		<s:message styleClass="error errors" />

	</div>

</ui:composition>