<div class="loginout" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:s="http://jboss.com/products/seam/taglib">
	<h:outputText 
		value="#{messages['loginout_bienvenido']}" 
		rendered="#{identity.loggedIn}" />
	&#160;|&#160;
	<s:link view="/login.xhtml" 
		value="#{messages['loginout_entrar']}" 
		rendered="#{not identity.loggedIn}" />
	<s:link view="/home.xhtml" 
		action="#{identity.logout}" 
		value="#{messages['loginout_salir']}" 
		rendered="#{identity.loggedIn}" />
	|
</div>
