<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
<!ENTITY nbsp "&#160;">
]>
<rich:toolBar style="background:transparent;border-width:0px"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:rich="http://richfaces.org/rich">

	<rich:toolBarGroup location="right">
		<h:outputText
			value="#{messages['menu_secundario_usuario_conectadodp']}"
			rendered="#{identity.loggedIn}" />
		<s:link view="/pages/login.xhtml"
			value="#{messages['menu_secundario_conectar']}"
			rendered="#{not identity.loggedIn}" />
		<s:link view="/pages/home.xhtml" action="#{identity.logout}"
			value="#{messages['menu_secundario_desconectar']}"
			rendered="#{identity.loggedIn}" />
	</rich:toolBarGroup>
</rich:toolBar>