<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n"> 
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>
<rich:toolBar style="background:transparent;border-width:0px" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:s="http://jboss.com/products/seam/taglib" 
	xmlns:rich="http://richfaces.org/rich" 
	xmlns:a4j="http://richfaces.org/a4j">

	<h:form rendered="#{identity.loggedIn}">
		<rich:toolBar style="background:transparent;border-width:0px">
			<rich:dropDownMenu 
				rendered="#{identity.hasRole('BANDEJA_ENTRADA_DOCUMENTOS') or identity.hasRole('BANDEJA_SALIDA_DOCUMENTOS') or identity.hasRole('INGRESO_DOCUMENTOS')}">
				<f:facet name="label">
					<h:panelGroup>
						<h:graphicImage 
							value="/imagenes/bullets_menu_01.gif" 
							alt="#{messages['principal']}" 
							styleClass="pic" />
						<h:outputText 
							value="#{messages['principal']}" />
					</h:panelGroup>
				</f:facet>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['bandeja_de_entrada']}" 
					action="#{bandejaEntrada.begin}" 
					icon="/imagenes/bullets_menu_01.gif" 
					rendered="#{identity.hasRole('BANDEJA_ENTRADA_DOCUMENTOS')}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['bandeja_copia']}" 
					action="#{bandejaEntradaCopia.begin}" 
					icon="/imagenes/bullets_menu_01.gif" 
					rendered="#{identity.hasRole('BANDEJA_ENTRADA_DOCUMENTOS')}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['bandeja_compartida']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{bandejaCompartida.begin}" 
					rendered="#{identity.hasRole('BANDEJA_ENTRADA_DOCUMENTOS') and identity.hasRole('GRUPO')}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['bandeja_de_salida']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{bandejaSalida.begin}" 
					rendered="#{identity.hasRole('BANDEJA_SALIDA_DOCUMENTOS')}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['crear_expediente']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{crearExpediente.begin}" 
					rendered="#{identity.hasRole('INGRESO_DOCUMENTOS')}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
			</rich:dropDownMenu>
			<rich:dropDownMenu 
				rendered="#{false and identity.hasRole('documentosContraloria')}">
				<f:facet name="label">
					<h:panelGroup>
						<h:graphicImage 
							value="/imagenes/bullets_menu_01.gif" 
							alt="#{messages['menu_principal_alt_documentos_contraloria']}" 
							styleClass="pic" />
						<h:outputText 
							value="#{messages['menu_principal_documentos_contraloria']}" />
					</h:panelGroup>
				</f:facet>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_documentos_a_contraloria']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{documentosContraloria.begin}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_subir_documentos_de_contraloria']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{subirDocumentosContraloria.begin}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_numero_de_expedientes_archivado']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					reRender="formFiltro" 
					action="#{reporteOffLine.begin(true, false, false, false)}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
			</rich:dropDownMenu>
			<rich:dropDownMenu rendered="#{identity.hasRole('REPORTES') or identity.hasRole('GESTION')}">
				<f:facet name="label">
					<h:panelGroup>
						<h:graphicImage 
							value="/imagenes/bullets_menu_01.gif" 
							alt="#{messages['menu_principal_alt_reportes']}" 
							styleClass="pic" />
						<h:outputText 
							value="#{messages['menu_principal_reportes']}" />
					</h:panelGroup>
				</f:facet>
				<rich:menuGroup 
					value="#{messages['menu_principal_reportes_estandar']}" 
					rendered="#{identity.hasRole('REPORTES')}" >
					<rich:menuItem 
						submitMode="ajax" 
						value="#{messages['menu_principal_documentos_en_bandejas_de_entrada']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporte.obtenerInformacionDeDocumentosEnBandejaDeEntrada}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem 
						submitMode="ajax" 
						value="#{messages['menu_principal_ruta_seguida_por_un_documento']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporte.obtenerInformacionDeRutaSeguidaPorUnDocumento}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem 
						submitMode="ajax" 
						value="#{messages['menu_principal_documentos_relacionados']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporte.obtenerReporteDeDocumentosRelacionados}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem 
						submitMode="ajax" 
						value="#{messages['menu_principal_historial_de_mi_bandeja_de_entrada']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporte.obtenerHistorialBandejaEntrada}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem 
						submitMode="ajax" 
						value="#{messages['menu_principal_historial_de_mi_bandeja_de_salida']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporte.obtenerEstadoBandejaSalida}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem rendered="false" 
						submitMode="ajax" 
						value="#{messages['menu_principal_reporte_hoja_despacho_personal']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporteHojaDespachoPersonal.begin(1)}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem rendered="false" 
						submitMode="ajax" 
						value="#{messages['menu_principal_reporte_hoja_despacho_departamento']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporteHojaDespachoPersonal.begin(2)}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem rendered="false" 
						submitMode="ajax" 
						value="#{messages['menu_principal_reporte_hoja_despacho_unidad']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporteHojaDespachoPersonal.begin(3)}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem 
						submitMode="ajax" 
						value="#{messages['menu_principal_expedientes_archivados']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{desarchivarExpedientesMasivo.begin(false, true)}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem rendered="false" 
						submitMode="ajax" 
						value="#{messages['menu_principal_reporte_documentos_por_firmar']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporteDocumentoElectronicoEsperaFirma.begin(identity.hasRole('FIRMA_DOCUMENTOS'))}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem rendered="false" 
						submitMode="ajax" 
						value="#{messages['menu_principal_reporte_documentos_por_visar']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{dctoElecPendienteVisacion.begin()}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem rendered="false" 
						submitMode="ajax" 
						value="#{messages['menu_principal_solicitudes_de_folio']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporteSolicitudFolio.begin()}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
				</rich:menuGroup>

				<rich:menuGroup 
					value="#{messages['menu_principal_reportes_gestion']}" 
					rendered="#{identity.hasRole('GESTION')}">
					<rich:menuItem 
						submitMode="ajax" 
						value="#{messages['menu_principal_historial_de_acciones_sobre_documentos_electronicos']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporte.obtenerHistorialDeUnDocumento}" 
						rendered="false" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem 
						submitMode="ajax" 
						value="#{messages['menu_principal_expedientes_reenviados']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporteExpReenviados.initBusquedaExpReenviados()}" 
						rendered="false" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem 
						submitMode="ajax" 
						value="#{messages['menu_principal_expedientes_despachados_por_unidad_organizacional']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporteExpedienteUnidad.begin()}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem rendered="false"
						submitMode="ajax" 
						value="#{messages['menu_principal_expedientes_que_tengan_respuestas']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporteRespuestaExpediente.begin()}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem rendered="false"
						submitMode="ajax" 
						value="#{messages['menu_principal_tiempo_promedio_de_encolado']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporteEncoladoPromedioExpediente.begin()}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem rendered="false"
						submitMode="ajax" 
						value="#{messages['menu_principal_tiempo_promedio_de_acuse_recibo']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporteAcuseReciboPromedioExpediente.begin()}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem rendered="false"
						submitMode="ajax" 
						value="#{messages['menu_principal_tiempo_promedio_de_tramitacion']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reporteTramitacionPromedioExpediente.begin()}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem rendered="false"
						submitMode="ajax" 
						value="#{messages['menu_principal_numero_de_expedientes_ingresados']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						reRender="formFiltro" 
						action="#{reporteOffLine.begin(false, false, true, false)}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem rendered="false"
						submitMode="ajax" 
						value="#{messages['menu_principal_numero_de_expedientes_despachados']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						reRender="formFiltro" 
						action="#{reporteOffLine.begin(false, false, false, true)}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem rendered="false"
						submitMode="ajax" 
						value="#{messages['menu_principal_numero_de_expedientes_cancelados']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						reRender="formFiltro" 
						action="#{reporteOffLine.begin(false, true, false, false)}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem 
						submitMode="ajax" 
						value="#{messages['menu_principal_documentos_electronicos_firmados']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reportesDocumentosEletronicos.begin(0)}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem 
						submitMode="ajax" 
						value="#{messages['menu_principal_documentos_electronicos_visados']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reportesDocumentosEletronicos.begin(1)}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem rendered="false"
						submitMode="ajax" 
						value="#{messages['menu_principal_documentos_ingresados_al_sistema']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						action="#{reportesDocumentosSistema.begin(0)}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
					<rich:menuItem 
						submitMode="ajax" 
						value="#{messages['menu_principal_documentos_por_vencer']}" 
						icon="/imagenes/bullets_menu_01.gif" 
						rendered="#{false and identity.hasRole('ROL_REPORTES_POR_VENCER')}" 
						action="#{reporteDocumentosporVencer.begin()}" 
						onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
						oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
					</rich:menuItem>
				</rich:menuGroup>
			</rich:dropDownMenu>
			<rich:dropDownMenu 
				rendered="#{identity.hasRole('BANDEJA_ENTRADA_DOCUMENTOS') or identity.hasRole('INGRESO_DOCUMENTOS')}">
				<f:facet name="label">
					<h:panelGroup>
						<h:graphicImage 
							value="/imagenes/bullets_menu_01.gif" 
							alt="#{messages['administrar']}" 
							styleClass="pic" />
						<h:outputText 
							value="#{messages['administrar']}" />
					</h:panelGroup>
				</f:facet>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['listas_de_destinatarios']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{administradorListasDestinatariosFrecuentes.begin()}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['destinatarios_frecuentes']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{administradorGrupoDestinatariosFrecuentes.begin()}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['desarchivar_expediente']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{desarchivarExpedientesMasivo.begin(true, true)}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
			</rich:dropDownMenu>
			<rich:dropDownMenu 
				rendered="#{identity.hasRole('transparencia')}">
				<f:facet name="label">
					<h:panelGroup>
						<h:graphicImage 
							value="/imagenes/bullets_menu_01.gif" 
							alt="#{messages['menu_principal_alt_reportes_unidad_transparencia']}" 
							styleClass="pic" />
						<h:outputText 
							value="#{messages['menu_principal_reportes_unidad_transparencia']}" />
					</h:panelGroup>
				</f:facet>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_busqueda_de_consultas']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{reporteTransparencia.initBusquedaConsultas()}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_estadisticas_de_consultas']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{reporteTransparencia.initEstadisticasConsultas()}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
			</rich:dropDownMenu>
			<rich:dropDownMenu 
				rendered="#{identity.hasRole('ADMINISTRADOR')}">
				<f:facet name="label">
					<h:panelGroup>
						<h:graphicImage 
							value="/imagenes/bullets_menu_01.gif" 
							alt="#{messages['mantenedores']}" 
							styleClass="pic" />
						<h:outputText 
							value="#{messages['mantenedores']}" />
					</h:panelGroup>
				</f:facet>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['dependencias_externas']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{administradorDependenciasExternas.begin}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['personas_externas']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{administradorPersonasExternas.begin}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['tipos_documentos']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{administradorTiposDocumentos.begin}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['personas']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{administradorPersona.begin}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['cargos']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{administradorCargo.begin}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['unidades']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{adminUnidades.begin()}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['departamentos']}" 
					rendered="true" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{adminDepartamentos.begin()}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['divisiones']}" 
					rendered="true" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{adminDivisiones.begin}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['roles']}" 
					rendered="true" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{administradorRoles.begin()}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_configuracion']}" 
					rendered="false" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{administradorConfiguracion.begin()}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['plantillas_resoluciones_decretos']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{administradorPlantillasResolucion.begin}" 
					rendered="#{identity.hasRole('ADMINISTRADOR') or identity.hasRole('mantenedorPlantillasResoluciones')}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_plantillas_convenios']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{administradorPlantillasConvenio.begin}" 
					rendered="#{false and identity.hasRole('administrador') or identity.hasRole('mantenedorPlantillasConvenios')}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_plantillas_contratos']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{administradorPlantillasContrato.begin}" 
					rendered="#{false and identity.hasRole('administrador') or identity.hasRole('mantenedorPlantillasContratos')}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_institucion']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{adminInstitucion.begin()}" 
					rendered="#{false and identity.hasRole('administrador')}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_tipos_credito']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{adminTiposCredito.begin()}" 
					rendered="#{false and identity.hasRole('administrador') or identity.hasRole('mantenedorTiposCreditos')}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['alertas']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{mantenedorAlertas.begin()}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem rendered="false"
					submitMode="ajax" 
					value="#{messages['menu_principal_folios']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{mantenedorFolios.begin()}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['grupos']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{mantenedorGrupos.begin()}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
			</rich:dropDownMenu>
			<rich:dropDownMenu 
				rendered="#{false and (identity.hasRole('ROL_FOLIADOR') or identity.hasRole('ADMINISTRADOR'))}">
				<f:facet name="label">
					<h:panelGroup>
						<h:graphicImage 
							value="/imagenes/bullets_menu_01.gif" 
							alt="#{messages['menu_principal_alt_mantenedores']}" 
							styleClass="pic" />
						<h:outputText 
							value="#{messages['menu_principal_folios']}" />
					</h:panelGroup>
				</f:facet>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_solicitar_folio']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{solicitudFolioDocumento.begin()}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
			</rich:dropDownMenu>
			<rich:dropDownMenu 
				rendered="#{identity.hasRole('menuCierreDocumentos')}">
				<f:facet name="label">
					<h:panelGroup>
						<h:graphicImage 
							value="/imagenes/bullets_menu_01.gif" 
							alt="#{messages['menu_principal_alt_cierre_documentos']}" 
							styleClass="pic" />
						<h:outputText 
							value="#{messages['menu_principal_cierre_documentos']}" />
					</h:panelGroup>
				</f:facet>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_cierre_documentos']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{reporte.obtenerCierreDocumentos}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
			</rich:dropDownMenu>
			<rich:dropDownMenu 
				rendered="#{identity.hasRole('transparencia')}">
				<f:facet name="label">
					<h:panelGroup>
						<h:graphicImage 
							value="/imagenes/bullets_menu_01.gif" 
							alt="#{messages['menu_principal_alt_transparencia']}" styleClass="pic" />
						<h:outputText 
							value="#{messages['menu_principal_transparencia']}" />
					</h:panelGroup>
				</f:facet>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_actualizar_transparencia']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{transparencia.obtenerInformacionDeSolicitudTransparencia}" 
					rendered="#{identity.hasRole('transparencia')}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_plantillas_respuestas']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{administradorPlantillasRespuesta.begin}" 
					rendered="#{identity.hasRole('transparencia') or identity.hasRole('ADMINISTRADOR')}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
			</rich:dropDownMenu>
			<rich:dropDownMenu rendered="#{identity.hasRole('ADMINISTRADOR')}">
				<f:facet name="label">
					<h:panelGroup>
						<h:graphicImage 
							value="/imagenes/bullets_menu_01.gif" 
							alt="#{messages['acciones_masivas']}" 
							styleClass="pic" />
						<h:outputText 
							value="#{messages['acciones_masivas']}" />
					</h:panelGroup>
				</f:facet>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['reasignar']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{reasignarExpedientesMasivo.begin()}" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')" 
					rendered="#{identity.hasRole('ADMINISTRADOR')}">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['desarchivar_asignar']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{desarchivarExpedientesMasivo.begin(true, false)}" 
					rendered="#{identity.hasRole('ADMINISTRADOR')}"
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_resumen_de_actividades']}" 
					expanded="true" 
					iconCollapsed="triangle" 
					rendered="false" 
					iconExpanded="triangleDown" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
				<rich:menuItem 
					submitMode="ajax" 
					value="#{messages['menu_principal_resumen_de_actividades_de_subalternos']}" 
					icon="/imagenes/bullets_menu_01.gif" 
					action="#{resumen.initResumen()}" 
					rendered="false" 
					onclick="Richfaces.showModalPanel('panelEsperaMenu')" 
					oncomplete="Richfaces.hideModalPanel('panelEsperaMenu')">
				</rich:menuItem>
			</rich:dropDownMenu>
		</rich:toolBar>
	</h:form>
	<rich:modalPanel id="panelEsperaMenu" height="50">
		<f:facet name="header">
			<h:outputText 
				value="#{messages['por_favor_espere']}" />
		</f:facet>
		<h:outputText 
			value="#{messages['realizando_operacion']}" />
	</rich:modalPanel>
</rich:toolBar>

