<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
<!ENTITY nbsp "&#160;">
]>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
<head>
<script type="text/javascript"> 
	history.go(1);
</script>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="expires" content="0" />
<title>#{messages['template_titulo']}</title>
<link href="../css/theme_base.css" rel="stylesheet" type="text/css" />
<link href="../css/estilos_exedoc.css" rel="stylesheet" type="text/css" />
<link rel="SHORTCUT ICON" href="../imagenes/base/favicon.ico" />
</head>
<body class="oneColLiqCtrHdr">
	<div id="container">
		<div id="header">
			<div id="menu_auxiliar">
				<ui:include src="menu_secundario.xhtml" />
			</div>
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td width="20px" height="117" class="c1"><img
						src="../imagenes/base/corner_top_01.jpg" width="20" height="117"
						alt="corner_top_01.jpg" /></td>
					<td height="117" class="c1" valign="middle"
						style="padding-top: 17px;"><img
						src="../imagenes/logoInstitucion.png" alt="logoInstitucion.png" /><img
						src="../imagenes/slogan_01.png" id="img_slogan" alt="Slogan"
						width="311" height="45" /></td>
					<td width="23px" height="117" align="right" class="c1"><img
						src="../imagenes/base/corner_top_02.gif" width="23" height="117"
						alt="corner_top_02.gif" /></td>
					<td width="8px" height="117" class="c2"><img
						src="../imagenes/base/corner_top_03.gif" width="8" height="117"
						alt="corner_top_03.gif" /></td>
					<td width="500px" height="117" align="right" class="c2"><img
						src="../imagenes/base/corner_top_04.jpg" width="400" height="117"
						alt="corner_top_04.jpg" /></td>
				</tr>
			</table>
		</div>
		<div id="mainContent">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td width="10" align="left" class="fondo_columnaizqu"></td>
					<td valign="top"><table width="100%" border="0"
							cellspacing="0" cellpadding="0">
							<tr>
								<td class="c3"><img
									src="../imagenes/base/corner_menu_principal_izq_01.gif"
									width="7" height="35" alt="corner_menu_principal_izq_01.gif" /></td>
								<td class="c4"><ui:include src="menu_principal.xhtml" /></td>
								<td class="c3"><img
									src="../imagenes/base/corner_menu_principal_der_01.gif"
									width="7" height="35" alt="corner_menu_principal_der_01.gif" /></td>
							</tr>
						</table></td>
					<td width="10" align="left" class="fondo_columnaderecha"></td>
				</tr>
				<tr>
					<td align="left" class="fondo_columnaizqu"></td>
					<td valign="top" class="fondo_contenido"><div id="contenido">
							<ui:insert name="body" />
						</div></td>
					<td align="left" class="fondo_columnaderecha"></td>
				</tr>
			</table>
		</div>
		<!-- end #mainContent -->
		<div id="footer">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="c5"><img
						src="../imagenes/base/corner_footer_01.gif" width="50" height="50"
						alt="corner_footer_01.gif" /></td>
					<td align="center" class="creditos c6">#{messages['template_creditos']}</td>
					<td align="center" class="creditos c6"><h:outputLabel value="v.1.0.7" rendered="#{identity.loggedIn}"/></td>
					<td width="50" align="right" class="c6"><img
						src="../imagenes/base/corner_footer_03.gif" width="50" height="50"
						alt="corner_footer_03.gif" /></td>
				</tr>
			</table>
		</div>
		<!-- end #footer -->
	</div>
	<!-- end #container -->
</body>
</html>
