<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="../layout/template.xhtml">

	<ui:define name="body">

		<h:messages globalOnly="true" styleClass="message" />

		<h:form enctype="multipart/form-data">
			<rich:panel id="agregarDocumento" header="Adjuntar Certificado">
				<h:panelGrid columns="1" width="100%">
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['adjuntarcertificadopersona_id_persona']}</ui:define>
						<h:inputText id="idPersona" required="true"
							value="#{adjuntarCertificadoPersona.idPersona}" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['adjuntarcertificadopersona_key_store']}</ui:define>
						<s:fileUpload id="fileupload"
							data="#{adjuntarCertificadoPersona.keyStore}"
							fileName="#{adjuntarCertificadoPersona.keyStoreName}"
							accept="*/*"
							contentType="#{adjuntarCertificadoPersona.contentType}" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['adjuntarcertificadopersona_key_store_password']}</ui:define>
						<h:inputSecret id="idPersona" required="true"
							value="#{adjuntarCertificadoPersona.keyStorePassword}" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['adjuntarcertificadopersona_key_store_alias']}</ui:define>
						<h:inputText id="idPersona" required="true"
							value="#{adjuntarCertificadoPersona.keyStoreAlias}" />
					</s:decorate>
				</h:panelGrid>
				<h:commandButton id="begin"
					value="#{messages['adjuntarcertificadopersona_begin']}"
					action="#{adjuntarCertificadoPersona.begin}" immediate="true" />
				<h:commandButton id="agregarDocumentoExpediente"
					value="#{messages['adjuntarcertificadopersona_agregar_certificado']}"
					action="#{adjuntarCertificadoPersona.agregarCertificado}" />
				<h:commandButton id="end"
					value="#{messages['adjuntarcertificadopersona_end']}"
					action="#{adjuntarCertificadoPersona.end}" immediate="true" />
			</rich:panel>
		</h:form>
	</ui:define>

</ui:composition>

