<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<p:document xmlns:p="http://jboss.com/products/seam/pdf"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" type="PDF" pageSize="LETTER"
	title="Anulacion Resolucion" author="exedoc" margins="15 15 15 15">

	<p:font size="12">
		<p:image value="/imagenes/logoInstitucion.gif" />
		<p:paragraph spacingAfter="5">
			<p:font size="14" style="bold">
				<p:text
					value="#{messages['anulacionresolucionpdf_formulario_de_anulacion_de_resolucion']}" />
			</p:font>
		</p:paragraph>
		<p:paragraph alignment="right">
			<p:font size="12" style="bold">
				<p:text
					value="#{messages['anulacionresolucionpdf_resolucion_n_dp']}" />
			</p:font>
			<p:font size="11">
				<p:text
					value="#{crearAnulacionResolucion.anulacionResolucion.numeroResolucion}" />
			</p:font>
		</p:paragraph>
		<p:paragraph alignment="right">
			<p:font size="12" style="bold">
				<p:text value="#{messages['anulacionresolucionpdf_fecha_dp']}" />
			</p:font>
			<p:font size="11">
				<p:text
					value="#{crearAnulacionResolucion.anulacionResolucion.fechaResolucion}" />
			</p:font>
		</p:paragraph>

		<p:paragraph spacingAfter="5">
			<p:font size="12" style="bold">
				<p:text
					value="#{messages['anulacionresolucionpdf_division_y_unidad_que_solicita_anulardp']}" />
			</p:font>
		</p:paragraph>
		<p:paragraph>
			<p:font size="11">
				<p:text
					value="#{crearAnulacionResolucion.anulacionResolucion.solicitante.cargo.unidadOrganizacional.descripcion} - #{crearAnulacionResolucion.anulacionResolucion.solicitante.cargo.unidadOrganizacional.departamento.descripcion} - #{crearAnulacionResolucion.anulacionResolucion.solicitante.cargo.unidadOrganizacional.departamento.division.descripcion}." />
			</p:font>
		</p:paragraph>

		<p:paragraph spacingAfter="5">
			<p:font size="12" style="bold">
				<p:text
					value="#{messages['anulacionresolucionpdf_funcionario_solicitantedp']}" />
			</p:font>
		</p:paragraph>
		<p:paragraph>
			<p:font size="11">
				<p:text
					value="#{crearAnulacionResolucion.anulacionResolucion.solicitante.cargo.descripcion} - #{crearAnulacionResolucion.anulacionResolucion.solicitante.nombreApellido}." />
			</p:font>
		</p:paragraph>
		<p:paragraph spacingAfter="5">
			<p:font size="12" style="bold">
				<p:text
					value="#{messages['anulacionresolucionpdf_tema_resoluciondp']}" />
			</p:font>
		</p:paragraph>
		<p:paragraph>
			<p:font size="11">
				<p:text
					value="#{crearAnulacionResolucion.anulacionResolucion.temaResolucion}" />
			</p:font>
		</p:paragraph>

		<p:paragraph spacingAfter="5">
			<p:font size="12" style="bold">
				<p:text
					value="#{messages['anulacionresolucionpdf_respaldo_de_la_anulaciondp']}" />
			</p:font>
		</p:paragraph>
		<p:paragraph>
			<p:font size="11" style="bold">
				<p:text value="#{messages['anulacionresolucionpdf_respaldo_']}" />
			</p:font>
			<p:font size="11">
				<p:text
					value="#{crearAnulacionResolucion.anulacionResolucion.respaldoAnulacion}" />
			</p:font>
			<p:font size="11" style="bold">
				<p:text
					value="#{messages['anulacionresolucionpdf_fecha_respaldodp']}" />
			</p:font>
			<p:font size="11">
				<p:text
					value="#{crearAnulacionResolucion.anulacionResolucion.fechaRespaldo}">
					<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
						locale="#{crearAnulacionResolucion.locale}" />
				</p:text>
			</p:font>

		</p:paragraph>
		<p:paragraph spacingAfter="5">
			<p:font size="12" style="bold">
				<p:text
					value="#{messages['anulacionresolucionpdf_justificacion_anulaciondp']}" />
			</p:font>
		</p:paragraph>
		<p:paragraph>
			<p:font size="11">
				<p:text
					value="#{crearAnulacionResolucion.anulacionResolucion.justificacion}" />
			</p:font>
		</p:paragraph>
		<p:paragraph>
			<p:font size="11" style="bold">
				<p:text value="#{messages['anulacionresolucionpdf_fechadp']}" />
			</p:font>
			<p:font size="11">
				<p:text
					value="#{crearAnulacionResolucion.anulacionResolucion.fechaCreacion}">
					<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
						locale="#{crearAnulacionResolucion.locale}" />
				</p:text>
			</p:font>
		</p:paragraph>
		<p:paragraph spacingAfter="5">
			<p:font size="12" style="bold">
				<p:text
					value="#{messages['anulacionresolucionpdf_antecedentes_del_jefe_solicitantedp']}" />
			</p:font>
		</p:paragraph>
		<p:paragraph>
			<p:font size="11" style="bold">
				<p:text
					value="#{messages['anulacionresolucionpdf_jefe_solicitantedp']}" />
			</p:font>
			<p:font size="11">
				<p:text value="#{crearAnulacionResolucion.anulacionResolucion.jefe}" />
			</p:font>
		</p:paragraph>
		<p:paragraph>
			<p:font size="11" style="bold">
				<p:text value="#{messages['anulacionresolucionpdf_cargodp']}" />
			</p:font>
			<p:font size="11">
				<p:text
					value="#{crearAnulacionResolucion.anulacionResolucion.cargo}" />
			</p:font>
		</p:paragraph>

	</p:font>

</p:document>