<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY Oacute "&#211;">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<style>
.consulta {
	background-color: #FFFFCC;
}

.respuesta {
	background-color: #CCFFCC;
}

.repetidos {
	font-weight: bold;
	background-color: #E0E0E0;
}
</style>

		<script type="text/javascript">
			function getMessage(){
				var x=window.confirm("Desea Acusar Recibo de los expedientes seleccionados?");
				if (x)	{
					boton = document.getElementById('idFormBandejaCompartida:idButtonAcusarRecibo');
					boton.click();
				}
			}
		</script>

		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<h:form id="idFormBandejaCompartida">
			<rich:panel id="bandejaCompartida" style="width : 100%">
				<f:facet name="header">
					<span>#{messages['bandeja_compartida']}<span
						class="numero_expedientes_pendientes">
							(#{dataCompartida.listExpedientes.size()}
							#{messages['bandejacompartida_expedientes_pendientes']})</span>
					</span>
				</f:facet>

				<rich:dataTable width="100%" id="expedienteList" var="_expediente"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="#{dataCompartida.listExpedientes}" rows="11">

					<f:facet name="header">
						<rich:columnGroup>
							<rich:column colspan="8"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['bandejacompartida_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column colspan="8"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText value="#{messages['bandejacompartida_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column breakBefore="true">
								<h:outputText value="#{messages['bandejacompartida_grupo']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejacompartida_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejacompartida_recibo']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejacompartida_version']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejacompartida_numero']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['bandejacompartida_fecha_ingreso']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['bandejacompartida_usuario_remitente']}" />
							</rich:column>
							<rich:column rendered="false">
								<h:outputText
									value="#{messages['bandejacompartida_departamento_remitente']}" />
							</rich:column>

							<rich:column>
								<h:outputText value="#{messages['bandejacompartida_fecha']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejacompartida_materia']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejacompartida_numero']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejacompartida_tipo']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejacompartida_emisor']}" />
							</rich:column>
							<rich:column rendered="false">
								<h:outputText
									value="#{messages['bandejacompartida_destinatario']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejacompartida_formato']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>

					<!-- 
<rich:subTable value="_expediente" var="expediente"
						rowClasses="#{bandejaCompartida.obtenerEstilo(_expediente)}">
-->

					<rich:column sortBy="#{_expediente.nombreGrupo}"
						filterEvent="onkeyup" filterBy="#{_expediente.nombreGrupo}">
						<h:outputLabel value="#{_expediente.nombreGrupo}" />
					</rich:column>
					<rich:column>
						<a4j:commandButton id="verExpediente"
							alt="#{messages['bandejacompartida_alt_ver_expediente']}"
							image="/imagenes/ver_detalle_01.gif" style="border: none;"
							action="#{verExpedienteDesdeReporte.begin}"
							onclick="Richfaces.showModalPanel('panelEspera')"
							oncomplete="Richfaces.hideModalPanel('panelEspera')">
							<f:param name="idExpediente" value="#{_expediente.id}" />
							<f:param name="bandejaEntradaCopia" value="false" />
						</a4j:commandButton>
					</rich:column>

					<rich:column style="text-align:center">
						<h:selectBooleanCheckbox
							value="#{bandejaCompartida.selectedRecibos[_expediente.id]}"
							style="border: none;" rendered="#{not _expediente.recibido}">
						</h:selectBooleanCheckbox>
						<h:graphicImage id="imageAcuseRecibo"
							alt="#{messages['bandejacompartida_alt_acusado_recibo']}"
							url="/imagenes/ico_select_ok.gif" style="border: none;"
							rendered="#{_expediente.recibido}" />
					</rich:column>
					<rich:column>
						<h:outputLabel value="#{_expediente.version}" />
					</rich:column>
					<rich:column sortBy="#{_expediente.numeroExpediente}"
						filterEvent="onkeyup" filterBy="#{_expediente.numeroExpediente}">
						<h:outputText value="#{_expediente.numeroExpediente}" />
					</rich:column>
					<rich:column sortBy="#{_expediente.fechaIngreso}">
						<h:outputText value="#{_expediente.fechaIngreso}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputText>
					</rich:column>
					<rich:column sortBy="#{_expediente.remitente}"
						styleClass="#{bandejaCompartida.obtenerEstilo(_expediente)}"
						filterEvent="onkeyup" filterBy="#{_expediente.remitente}">
						<h:outputText value="#{_expediente.remitente}" />
					</rich:column>
					<rich:column sortBy="#{_expediente.nombreFiscalia}"
						filterEvent="onkeyup" filterBy="#{_expediente.nombreFiscalia}" 
						rendered="false">
						<h:outputText value="#{_expediente.nombreFiscalia}" />
					</rich:column>

					<rich:column sortBy="#{_expediente.fechaDocumentoOrigen}">
						<h:outputText value="#{_expediente.fechaDocumentoOrigen}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
						</h:outputText>
					</rich:column>
					<rich:column sortBy="#{_expediente.materia}" filterEvent="onkeyup"
						filterBy="#{_expediente.materia}">
						<h:outputText value="#{_expediente.materia}" />
					</rich:column>
					<rich:column sortBy="#{_expediente.numeroDocumento}"
						filterEvent="onkeyup" filterBy="#{_expediente.numeroDocumento}">
						<h:outputText value="#{_expediente.numeroDocumento}" />
					</rich:column>
					<rich:column sortBy="#{_expediente.tipoDocumento}"
						filterEvent="onkeyup" filterBy="#{_expediente.tipoDocumento}">
						<h:outputText value="#{_expediente.tipoDocumento}" />
					</rich:column>
					<rich:column sortBy="#{_expediente.emisor}" filterEvent="onkeyup"
						filterBy="#{_expediente.emisor}">
						<h:outputText value="#{_expediente.emisor}" />
					</rich:column>
					<rich:column sortBy="#{_expediente.destinatario}"
						filterBy="#{_expediente.destinatario}" filterEvent="onkeyup"
						rendered="false">
						<h:outputLabel value="#{_expediente.destinatario}" />
					</rich:column>
					<rich:column sortBy="#{_expediente.formatoDocumento}"
						filterEvent="onkeyup" filterBy="#{_expediente.formatoDocumento}">
						<h:outputLabel value="#{_expediente.formatoDocumento}" />
					</rich:column>

					<!-- </rich:subTable>-->

				</rich:dataTable>

				<table width="100%" class="footer_lista">
					<tr>
						<td align="center"><rich:datascroller align="center"
								id="paginado" for="expedienteList" /></td>
					</tr>
				</table>

			</rich:panel>

			<table width="100%">
				<tr>
					<td align="left"><h:panelGrid id="panelBotones" columns="4"
							cellpadding="0">
							<a4j:commandButton style="width:100px" id="acusarRecibo"
								value="#{messages['bandejacompartida_acusar_recibo']}"
								onclick="Richfaces.showModalPanel('idConfirmDialogAcusarRecibo')"
								reRender="expedienteList" />
							<a4j:commandButton style="width:100px" id="actualizar"
								value="#{messages['bandejacompartida_actualizar']}"
								action="#{bandejaCompartida.buscarExpedientes}"
								reRender="bandejaCompartida"
								onclick="Richfaces.showModalPanel('panelEspera')"
								oncomplete="Richfaces.hideModalPanel('panelEspera')" />
						</h:panelGrid></td>
				</tr>
			</table>

		</h:form>

		<rich:modalPanel id="idConfirmDialogAcusarRecibo" resizeable="false"
			width="320" height="120">
			<f:facet name="header">
				<h:outputText
					value="#{messages['bandejacompartida_confirmacion_acuso_recibo_expediente']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogAcusarRecibo')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['bandejacompartida_desea_acusar_recibo_a_los_expedientes_seleccionados']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton value="#{messages['bandejacompartida_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogAcusarRecibo')" />
					<h:commandButton
						value="#{messages['bandejacompartida_acusar_recibo']}"
						action="#{bandejaCompartida.acusarRecibo()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogAcusarRecibo');Richfaces.showModalPanel('panelEspera')"
						oncomplete="Richfaces.hideModalPanel('panelEspera')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>

	</ui:define>
</ui:composition>