<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY Oacute "&#211;">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<style>
.consulta {
	background-color: #FFFFCC;
}

.respuesta {
	background-color: #CCFFCC;
}

.repetidos {
	font-weight: bold;
	background-color: #E0E0E0;
}
</style>

		<script type="text/javascript">
			function getMessage(){
				var x=window.confirm("Desea Acusar Recibo de los expedientes seleccionados?");
				if (x)	{
					boton = document.getElementById('idFormBandejaEntrada:idButtonAcusarRecibo');
					boton.click();
				}
			}
		</script>

		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<h:form id="idFormBandejaEntrada">
			<rich:panel id="bandejaEntrada" style="width : 100%">
				<f:facet name="header">
					<span>#{messages['bandeja_de_entrada']}<span
						class="numero_expedientes_pendientes">
							(#{data.listExpedientes.size()}
							#{messages['bandejaentrada_expedientes_pendientes']})</span>
					</span>
				</f:facet>

				<rich:dataTable width="100%" id="expedienteList" var="_expediente"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="#{data.listExpedientes}" rows="11">

					<f:facet name="header">
						<rich:columnGroup>
							<rich:column colspan="7"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText value="#{messages['bandejaentrada_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column colspan="9"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText value="#{messages['bandejaentrada_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column breakBefore="true">
								<h:outputText value="#{messages['bandejaentrada_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentrada_recibo']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentrada_version']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentrada_numero']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentrada_ingreso']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentrada_remitente']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentrada_unir']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentrada_numero']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentrada_fecha']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentrada_materia']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentrada_tipo']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentrada_emisor']}" />
							</rich:column>
							<rich:column rendered="false">
								<h:outputText value="#{messages['bandejaentrada_destinatario']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentrada_formato']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentrada_alerta']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentrada_plazo']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>

					<!-- 
<rich:subTable value="_expediente" var="expediente"
						rowClasses="#{bandejaEntrada.obtenerEstilo(_expediente)}">
-->

					<rich:column
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}">
						<a4j:commandButton id="verExpediente"
							alt="#{messages['bandejaentrada_alt_ver_expediente']}"
							rendered="#{_expediente.recibido}"
							image="/imagenes/ver_detalle_01.gif" style="border: none;"
							action="#{verExpediente.begin}"
							onclick="Richfaces.showModalPanel('panelEspera')"
							oncomplete="Richfaces.hideModalPanel('panelEspera')">
							<f:param name="idExpediente" value="#{_expediente.id}" />
						</a4j:commandButton>
					</rich:column>

					<rich:column style="text-align:center"
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}">
						<h:selectBooleanCheckbox
							value="#{bandejaEntrada.selectedRecibos[_expediente.id]}"
							style="border: none;" rendered="#{not _expediente.recibido}">
						</h:selectBooleanCheckbox>
						<h:graphicImage id="imageAcuseRecibo"
							alt="#{messages['bandejaentrada_alt_acusado_recibo']}"
							url="/imagenes/ico_select_ok.gif" style="border: none;"
							rendered="#{_expediente.recibido}" />
					</rich:column>
					<rich:column
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}">
						<h:outputLabel value="#{_expediente.version}" />
					</rich:column>
					<rich:column sortBy="#{_expediente.numeroExpediente}"
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}"
						filterEvent="onkeyup" filterBy="#{_expediente.numeroExpediente}">
						<h:outputText value="#{_expediente.numeroExpediente}" />
					</rich:column>
					<rich:column sortBy="#{_expediente.fechaIngreso}"
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}">
						<h:outputText value="#{_expediente.fechaIngreso}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputText>
					</rich:column>
					<rich:column sortBy="#{_expediente.remitente}"
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}"
						filterEvent="onkeyup" filterBy="#{_expediente.remitente}">
						<h:outputText value="#{_expediente.remitente}" />
					</rich:column>
					<rich:column
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}">
						<h:selectBooleanCheckbox
							value="#{bandejaEntrada.selectedUnir[_expediente.id]}">
							<a4j:support event="onclick"
								action="#{bandejaEntrada.setListaUnir(_expediente.id)}"
								immediate="true" reRender="panelBotones" />
						</h:selectBooleanCheckbox>
					</rich:column>

					<rich:column sortBy="#{_expediente.numeroDocumento}"
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}"
						filterEvent="onkeyup" filterBy="#{_expediente.numeroDocumento}">
						<h:outputText value="#{_expediente.numeroDocumento}" />
					</rich:column>
					<rich:column sortBy="#{_expediente.fechaDocumentoOrigen}"
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}">
						<h:outputText value="#{_expediente.fechaDocumentoOrigen}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
						</h:outputText>
					</rich:column>
					<rich:column sortBy="#{_expediente.materia}" filterEvent="onkeyup"
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}"
						filterBy="#{_expediente.materia}">
						<h:outputText value="#{_expediente.materia}" />
					</rich:column>
					<rich:column sortBy="#{_expediente.tipoDocumento}"
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}"
						filterEvent="onkeyup" filterBy="#{_expediente.tipoDocumento}">
						<h:outputText value="#{_expediente.tipoDocumento}" />
					</rich:column>
					<rich:column sortBy="#{_expediente.emisor}" filterEvent="onkeyup"
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}"
						filterBy="#{_expediente.emisor}">
						<h:outputText value="#{_expediente.emisor}" />
					</rich:column>
					<rich:column sortBy="#{_expediente.destinatario}"
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}"
						filterBy="#{_expediente.destinatario}" filterEvent="onkeyup"
						rendered="false">
						<h:outputLabel value="#{_expediente.destinatario}" />
					</rich:column>
					<rich:column sortBy="#{_expediente.formatoDocumento}"
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}"
						filterEvent="onkeyup" filterBy="#{_expediente.formatoDocumento}">
						<h:outputLabel value="#{_expediente.formatoDocumento}" />
					</rich:column>
					<rich:column
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}">
						<h:outputLabel value="#{_expediente.mensajeAlerta}"
							style="color: red"
							rendered="#{_expediente.mensajeAlerta != null}" />
					</rich:column>
					<rich:column
						styleClass="#{bandejaEntrada.obtenerEstilo(_expediente)}">
						<h:outputLabel value="#{_expediente.plazo}"
							rendered="#{_expediente.completado == true and _expediente.plazo != null}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputLabel>
						<h:outputLabel value="#{_expediente.plazo}"
							rendered="#{_expediente.completado == false and _expediente.plazo != null}"
							style="color: red">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputLabel>
						<h:outputLabel value="#{messages['bandejaentrada_pendiente']}"
							rendered="#{_expediente.completado == false and _expediente.plazo == null}"
							style="color: red">
						</h:outputLabel>
					</rich:column>

					<!-- </rich:subTable>-->

				</rich:dataTable>

				<table width="100%" class="footer_lista">
					<tr>
						<td align="center"><rich:datascroller align="center"
								id="paginado" for="expedienteList" /></td>
					</tr>
				</table>

			</rich:panel>

			<table width="100%">
				<tr>
					<td align="left">
						<h:panelGrid id="panelBotones" columns="4" cellpadding="0">
							<a4j:commandButton style="width:100px" id="acusarRecibo"
								value="#{messages['bandejaentrada_acusar_recibo']}"
								action="#{bandejaEntrada.acusarRecibo()}"
								onclick="Richfaces.showModalPanel('panelEspera')"
								oncomplete="Richfaces.hideModalPanel('panelEspera')"
								reRender="expedienteList" />
							<a4j:commandButton style="width:100px" id="actualizar"
								value="#{messages['bandejaentrada_actualizar']}"
								action="#{bandejaEntrada.buscarExpedientes}"
								reRender="bandejaEntrada"
								onclick="Richfaces.showModalPanel('panelEspera')"
								oncomplete="Richfaces.hideModalPanel('panelEspera')" />
							<a4j:commandButton style="width:100px" id="botonUnirExpedientes"
								value="#{messages['bandejaentrada_unir_expedientes']}"
								reRender="panelExpedientesUnir" 
								action="#{bandejaEntrada.limpiarUnir}">
								<rich:componentControl for="modalUnirExpedientes"
									attachTo="botonUnirExpedientes" operation="show"
									event="onclick" />
							</a4j:commandButton>
						</h:panelGrid>
					</td>
				</tr>
			</table>

			<div style="visibility: hidden; width: 0px; height: 0px;">
				<h:commandButton id="idButtonAcusarRecibo"
					action="#{bandejaEntrada.acusarRecibo()}" reRender="bandejaEntrada"
					style="visibility: hidden; width : 0px; height : 0px;" />
			</div>
		</h:form>

		<rich:modalPanel id="idConfirmDialogAcusarRecibo" resizeable="false"
			width="260" height="120">
			<f:facet name="header">
				<h:outputText
					value="#{messages['bandejaentrada_confirmacion_acuso_recibo_expediente']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogAcusarRecibo')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['bandejaentrada_desea_acusar_recibo_a_los_expedientes_seleccionados']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton value="#{messages['bandejaentrada_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogAcusarRecibo')" />
					<h:commandButton
						value="#{messages['bandejaentrada_acusar_recibo']}"
						action="#{bandejaEntrada.acusarRecibo()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogAcusarRecibo');Richfaces.showModalPanel('panelEspera')"
						oncomplete="Richfaces.hideModalPanel('panelEspera')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="modalUnirExpedientes" moveable="false"
			height="400" width="920">

			<f:facet name="header">
				<h:outputText value="#{messages['bandejaentrada_unir_expedientes']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>

			<f:facet name="controls">
				<h:panelGroup>
					<h:graphicImage id="linkCerrar" value="/imagenes/icon-close.png"
						style="cursor:pointer" />
					<rich:componentControl for="modalUnirExpedientes"
						attachTo="linkCerrar" operation="hide" event="onclick" />
				</h:panelGroup>
			</f:facet>

			<rich:panel id="panelExpedientesUnir">
				<f:facet name="header">#{messages['bandejaentrada_expedientes_a_unir']}</f:facet>

				<h:panelGroup>
					<h:outputText value="#{messages['bandejaentrada_atenciondp']}"
						style="font-weight:bold;" />
					<h:outputText
						value="#{messages['bandejaentrada_si_los_expedientes_no_tienen_acuse_recibo_se_ejecutara_dicha_accion_en_ellos']}" />
				</h:panelGroup>

				<h:form>
					<rich:dataTable value="#{bandejaEntrada.expedientesUnir}"
						var="expediente" sortMode="single" columnClasses="col">
						<rich:column>
							<f:facet name="header">
								<h:outputText value="#{messages['bandejaentrada_seleccionar']}" />
							</f:facet>
							<h:selectBooleanCheckbox
								value="#{bandejaEntrada.selectedPadre[expediente.id]}">
								<a4j:support event="onclick"
									reRender="panelExpedientesUnir, grupoBotonesUnir"
									action="#{bandejaEntrada.seleccionarExpedientePadre(expediente.id)}" />
							</h:selectBooleanCheckbox>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="#{messages['bandejaentrada_n_expediente']}" />
							</f:facet>
							<h:outputText value="#{expediente.numeroExpediente}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="#{messages['bandejaentrada_materia']}" />
							</f:facet>
							<h:outputText value="#{expediente.materia}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText
									value="#{messages['bandejaentrada_tipo_documento']}" />
							</f:facet>
							<h:outputText value="#{expediente.tipoDocumento}" />
						</rich:column>
					</rich:dataTable>

					<h:panelGroup id="grupoBotonesUnir">
						<h:commandButton id="botonUnirModal"
							value="#{messages['bandejaentrada_unir']}"
							action="#{bandejaEntrada.unirExpedientes()}"
							reRender="panelBotones, expedienteList, bandejaEntrada, idFormBandejaEntrada"
							rendered="#{bandejaEntrada.idExpedientePadre != null}">
							<rich:componentControl for="modalUnirExpedientes"
								attachTo="botonUnirModal" operation="hide" event="onclick" />
						</h:commandButton>
						<br />
						<a4j:commandButton id="botonCancelarModal"
							value="#{messages['bandejaentrada_cancelar']}"
							reRender="panelBotones">
							<rich:componentControl for="modalUnirExpedientes"
								attachTo="botonCancelarModal" operation="hide" event="onclick" />
						</a4j:commandButton>
					</h:panelGroup>
				</h:form>
			</rich:panel>
		</rich:modalPanel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>

	</ui:define>
</ui:composition>