<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">
	<ui:define name="body">
		<style>
.consulta {
	background-color: #FFFFCC;
}

.respuesta {
	background-color: #CCFFCC;
}

.repetidos {
	font-weight: bold;
	background-color: #E0E0E0;
}
</style>
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>
		<h:form id="formBandejaEntradaCopia">

			<rich:panel id="panelBandejaEntradaCopia" style="width : 100%">

				<f:facet name="header">
					<span>#{messages['bandeja_copia']}</span>
				</f:facet>

				<rich:dataTable width="100%" id="expedientesCopia"
					value="#{dataCopia.listExpedientes}" var="expediente" rows="10">

					<f:facet name="header">

						<rich:columnGroup>
							<rich:column colspan="6"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['bandejaentradacopia_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column colspan="7"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['bandejaentradacopia_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column breakBefore="true">
								<h:outputText value="#{messages['bandejaentradacopia_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentradacopia_recibo']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentradacopia_version']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentradacopia_numero']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentradacopia_ingreso']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['bandejaentradacopia_remitente']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentradacopia_numero']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentradacopia_fecha']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentradacopia_materia']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentradacopia_tipo']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentradacopia_emisor']}" />
							</rich:column>
							<rich:column rendered="false">
								<h:outputText
									value="#{messages['bandejaentradacopia_destinatario']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['bandejaentradacopia_formato']}" />
							</rich:column>
						</rich:columnGroup>

					</f:facet>


					<!--
					<rich:subTable value="expediente"
						rowClasses="#{bandejaEntradaCopia.obtenerEstilo(expediente)}">
-->



					<rich:column>
						<a4j:commandButton image="/imagenes/ver_detalle_01.gif"
							style="border: none;"
							action="#{verExpedienteDesdeReporte.begin()}"
							rendered="#{expediente.recibido}"
							onclick="Richfaces.showModalPanel('panelEspera')"
							oncomplete="Richfaces.hideModalPanel('panelEspera')">
							<f:param name="idExpediente" value="#{expediente.id}" />
							<f:param name="bandejaEntradaCopia" value="true" />
						</a4j:commandButton>
					</rich:column>
					<rich:column>
						<h:selectBooleanCheckbox
							value="#{bandejaEntradaCopia.selectedRecibosCopia[expediente.id]}"
							rendered="#{not expediente.recibido}" />
						<h:graphicImage value="/imagenes/ico_select_ok.gif"
							alt="#{messages['bandejaentradacopia_alt_acusado_recibo']}"
							style="border: none;" rendered="#{expediente.recibido}" />
					</rich:column>
					<rich:column>
						<h:outputLabel value="#{expediente.version}" />
					</rich:column>
					<rich:column sortBy="#{expediente.numeroExpediente}"
						filterEvent="onkeyup" filterBy="#{expediente.numeroExpediente}">
						<h:outputLabel value="#{expediente.numeroExpediente}" />
					</rich:column>
					<rich:column sortBy="#{expediente.fechaIngreso}">
						<h:outputLabel value="#{expediente.fechaIngreso}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputLabel>
					</rich:column>
					<rich:column sortBy="#{expediente.remitente}"
						filterBy="#{expediente.remitente}" filterEvent="onkeyup">
						<h:outputLabel value="#{expediente.remitente}" />
					</rich:column>
					<rich:column sortBy="#{expediente.numeroDocumento}"
						filterBy="#{expediente.numeroDocumento}" filterEvent="onkeyup">
						<h:outputLabel value="#{expediente.numeroDocumento}" />
					</rich:column>
					<rich:column sortBy="#{expediente.fechaDocumentoOrigen}">
						<h:outputLabel value="#{expediente.fechaDocumentoOrigen}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
						</h:outputLabel>
					</rich:column>
					<rich:column sortBy="#{expediente.materia}"
						filterBy="#{expediente.materia}" filterEvent="onkeyup">
						<h:outputLabel value="#{expediente.materia}" />
					</rich:column>
					<rich:column sortBy="#{expediente.tipoDocumento}"
						filterBy="#{expediente.tipoDocumento}" filterEvent="onkeyup">
						<h:outputLabel value="#{expediente.tipoDocumento}" />
					</rich:column>
					<rich:column sortBy="#{expediente.emisor}"
						filterBy="#{expediente.emisor}" filterEvent="onkeyup">
						<h:outputLabel value="#{expediente.emisor}" />
					</rich:column>
					<rich:column sortBy="#{expediente.destinatario}"
						filterBy="#{expediente.destinatario}" filterEvent="onkeyup"
						rendered="false">
						<h:outputLabel value="#{expediente.destinatario}" />
					</rich:column>
					<rich:column sortBy="#{expediente.formatoDocumento}"
						filterBy="#{expediente.formatoDocumento}" filterEvent="onkeyup">
						<h:outputLabel value="#{expediente.formatoDocumento}" />
					</rich:column>

					<!--						
					</rich:subTable>
-->


				</rich:dataTable>

				<table width="100%" class="footer_lista">
					<tr>
						<td align="center"><rich:datascroller align="center"
								id="paginado" for="expedientesCopia" /></td>
					</tr>
				</table>

			</rich:panel>

			<table width="100%">
				<tr>
					<td align="left"><h:panelGrid columns="3">
							<a4j:commandButton
								value="#{messages['bandejaentradacopia_acusar_recibo']}"
								action="#{bandejaEntradaCopia.acusarRecibo()}"
								reRender="panelBandejaEntradaCopia" 
								onclick="Richfaces.showModalPanel('panelEspera')"
								oncomplete="Richfaces.hideModalPanel('panelEspera')"/>
							<a4j:commandButton
								value="#{messages['bandejaentradacopia_actualizar']}"
								action="#{bandejaEntradaCopia.buscarExpedientes()}"
								reRender="formBandejaEntradaCopia" 
								onclick="Richfaces.showModalPanel('panelEspera')"
								oncomplete="Richfaces.hideModalPanel('panelEspera')"/>
						</h:panelGrid></td>
				</tr>
			</table>
		</h:form>
		
		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>
	</ui:define>
</ui:composition>
