<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>



<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<style type="text/css">
.consulta {
	background-color: #FFFFCC;
}

.respuesta {
	background-color: #CCFFCC;
}

.repetidos {
	font-weight: bold;
	background-color: #E0E0E0;
}
</style>

		<script type="text/javascript">
			function getMessage(){
				var x=window.confirm("Desea Despachar los expedientes seleccionados?");
								window.alert(x);
				if (x)	{
				window.alert("press");
					boton = document.getElementById('idFormBandejaSalida:idButtonDespachar');
					boton.click();
				}
			}
		</script>

		<a4j:form id="idFormBandejaSalida">
			<rich:panel id="bandejaSalida">
				<f:facet name="header">
					<span>#{messages['bandeja_de_salida']}</span>
				</f:facet>

				<a4j:outputPanel ajaxRendered="true">
					<h:messages globalOnly="true" styleClass="message" />
				</a4j:outputPanel>

				<rich:dataTable width="100%" id="expedienteList"
					value="#{bandejaSalida.listaBandeja}" var="fila" rows="10">

					<f:facet name="header">
						<rich:columnGroup>
							<rich:column colspan="5"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText value="#{messages['bandejasalida_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>

							<rich:column colspan="10"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText value="#{messages['bandejasalida_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column breakBefore="true">
								<h:outputLabel value="#{messages['bandejasalida_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['bandejasalida_despachar']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['bandejasalida_numero']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['bandejasalida_fecha_despacho']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel
									value="#{messages['bandejasalida_destinatarios_expediente']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['bandejasalida_numero']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['bandejasalida_fecha']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['bandejasalida_materia']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['bandejasalida_tipo']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['bandejasalida_emisor']}" />
							</rich:column>
							<rich:column rendered="false">
								<h:outputLabel
									value="#{messages['bandejasalida_destinatarios_documento']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['bandejasalida_formato']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['bandejasalida_recibido']}" />
							</rich:column>
							<rich:column rendered="false">
								<h:outputLabel value="#{messages['bandejasalida_desierto']}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{messages['bandejasalida_anular']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>


					<!-- 
					<rich:subTable value="expediente"
						rowClasses="#{bandejaSalida.obtenerEstilo(expediente.tipoDocumento)}">
 					-->


					<rich:column
						styleClass="#{bandejaSalida.obtenerEstiloRepetido(fila)}">
						<a4j:commandButton id="verExpediente"
							alt="#{messages['bandejasalida_alt_ver_expediente']}"
							image="/imagenes/ver_detalle_01.gif" style="border: none;"
							action="#{modificarExpediente.begin}"
							onclick="Richfaces.showModalPanel('panelEspera')"
							oncomplete="Richfaces.hideModalPanel('panelEspera')">
							<f:param name="idExpediente" value="#{fila.id_expediente}" />
						</a4j:commandButton>
					</rich:column>
					<rich:column style="text-align:center"
						styleClass="#{bandejaSalida.obtenerEstiloRepetido(fila)}">
						<h:selectBooleanCheckbox
							value="#{bandejaSalida.selectedDespachados[fila.id_expediente]}"
							style="border: none;" rendered="#{not fila.despachado }" />
						<h:graphicImage id="imageDespachado"
							alt="#{messages['bandejasalida_alt_despachado']}"
							url="/imagenes/ico_select_ok.gif" style="border: none;"
							rendered="#{fila.despachado}" />
					</rich:column>
					<rich:column
						styleClass="#{bandejaSalida.obtenerEstiloRepetido(fila)}"
						sortBy="#{fila.numeroExpediente}" filterEvent="onkeyup"
						filterBy="#{fila.numeroExpediente}">
						<h:outputText value="#{fila.numeroExpediente}" />
					</rich:column>
					<rich:column sortBy="#{fila.fechaDespacho}"
						styleClass="#{bandejaSalida.obtenerEstiloRepetido(fila)}">
						<h:outputText value="#{fila.fechaDespacho}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputText>
					</rich:column>
					<rich:column sortBy="#{fila.destinatario}" filterEvent="onkeyup"
						filterBy="#{fila.destinatario}"
						styleClass="#{bandejaSalida.obtenerEstiloRepetido(fila)}">
						<h:outputText value="#{fila.destinatario}" escape="false" />
						<h:outputText value=" (COPIA)" rendered="#{fila.copia}"/>
					</rich:column>

					<rich:column sortBy="#{fila.numeroDocumento}" filterEvent="onkeyup"
						filterBy="#{fila.numeroDocumento}" 
						styleClass="#{bandejaSalida.obtenerEstiloRepetido(fila)}">
						<h:outputText value="#{fila.numeroDocumento}" />
					</rich:column>
					<rich:column sortBy="#{fila.fechaDocumentoOrigen}"
						styleClass="#{bandejaSalida.obtenerEstiloRepetido(fila)}">
						<h:outputText value="#{fila.fechaDocumentoOrigen}">
							<f:convertDateTime type="datetime" pattern="dd/MM/yyyy" />
						</h:outputText>
					</rich:column>
					<rich:column sortBy="#{fila.materia}" filterEvent="onkeyup"
						styleClass="#{bandejaSalida.obtenerEstiloRepetido(fila)}"
						filterBy="#{fila.materia}">
						<h:outputText value="#{fila.materia}" />
					</rich:column>
					<rich:column sortBy="#{fila.tipo}"
						styleClass="#{bandejaSalida.obtenerEstiloRepetido(fila)}"
						filterEvent="onkeyup" filterBy="#{fila.tipo}">
						<h:outputText value="#{fila.tipo}" />
					</rich:column>
					<rich:column sortBy="#{fila.emisor}" filterEvent="onkeyup"
						styleClass="#{bandejaSalida.obtenerEstiloRepetido(fila)}"
						filterBy="#{fila.emisor}">
						<h:outputText value="#{fila.emisor}" />
					</rich:column>
					<rich:column sortBy="#{fila.destinatarioDocumento}"
						styleClass="#{bandejaSalida.obtenerEstiloRepetido(fila)}"
						style="text-align:center" filterEvent="onkeyup"
						filterBy="#{fila.destinatarioDocumento}"
						rendered="false">
						<h:outputLabel value="#{fila.destinatarioDocumento}" />
					</rich:column>
					<rich:column sortBy="#{fila.formato}"
						styleClass="#{bandejaSalida.obtenerEstiloRepetido(fila)}"
						filterEvent="onkeyup" filterBy="#{fila.formato}">
						<h:outputLabel value="#{fila.formato}" />
					</rich:column>
					<rich:column style="text-align:center"
						styleClass="#{bandejaSalida.obtenerEstiloRepetido(fila)}">
						<h:graphicImage id="imageNoRecibido"
							alt="#{messages['bandejasalida_alt_no_recibido']}"
							url="/imagenes/ico_not_ok.gif" style="border: none;"
							rendered="#{not fila.recibidoFila}" />
						<h:graphicImage id="imageRecibido"
							alt="#{messages['bandejasalida_alt_recibido']}"
							url="/imagenes/ico_select_ok.gif" style="border: none;"
							rendered="#{fila.recibidoFila}" />
					</rich:column>
					<rich:column style="text-align:center"
						styleClass="#{bandejaSalida.obtenerEstiloRepetido(fila)}"
						rendered="false">
						<h:selectBooleanCheckbox
							value="#{bandejaSalida.selectedDesiertos[fila.id]}"
							style="border: none;"
							rendered="#{not fila.desierto and not fila.recibido}">
							<a4j:support event="onclick"
								onsubmit="Richfaces.showModalPanel('panelEspera')"
								oncomplete="Richfaces.hideModalPanel('panelEspera')"
								action="#{bandejaSalida.setListaDesertar(fila.id)}"
								immediate="true" />
						</h:selectBooleanCheckbox>
					</rich:column>

					<rich:column style="text-align:center"
						styleClass="#{bandejaSalida.obtenerEstiloRepetido(fila)}">
						<h:selectBooleanCheckbox
							value="#{bandejaSalida.selectedAnular[fila.id_expediente]}"
							style="border: none;"
							rendered="#{fila.anular}" />
						<h:graphicImage id="imageDespachado3"
							alt="#{messages['bandejasalida_alt_despachado']}"
							url="/imagenes/ico_not_ok.gif" style="border: none;"
							rendered="#{not fila.anular}" />
					</rich:column>

					<!-- 
				
					</rich:subTable>
				
				 -->

				</rich:dataTable>
				<table width="100%" class="footer_lista">
					<tr>
						<td align="center"><rich:datascroller align="center"
								id="paginado" for="expedienteList" />
						</td>
					</tr>
				</table>
			</rich:panel>
			<table width="100%">
				<tr>
					<td align="left"><h:panelGrid columns="5" cellpadding="0">
						<a4j:commandButton id="despacharExpedientes" 
							value="#{messages['bandejasalida_despachar']}"
							action="#{bandejaSalida.despacharExpedientes()}"
							reRender="expedienteList" 
							onclick="Richfaces.showModalPanel('panelEspera')"
							oncomplete="Richfaces.hideModalPanel('panelEspera')"/>
						<a4j:commandButton id="despacharExpedientes2" 
							value="#{messages['bandejasalida_anular_despacho']}"
							onclick="Richfaces.showModalPanel('panelEspera')"
							oncomplete="Richfaces.hideModalPanel('panelEspera')"
							action="#{bandejaSalida.anularDespachoExpedientes()}"
							reRender="bandejaSalida" />
						<h:commandButton id="limpiar"
							value="#{messages['bandejasalida_actualizar']}" 
							onclick="Richfaces.showModalPanel('panelEspera')"
							oncomplete="Richfaces.hideModalPanel('panelEspera')"
							action="#{bandejaSalida.buscarExpedientes}"
							reRender="bandejaSalida" />
					</h:panelGrid></td>
				</tr>
			</table>
			<div style="visibility: hidden; width: 0px; height: 0px;">
				<h:commandButton id="idButtonDespachar"
					action="#{bandejaSalida.despacharExpedientes()}"
					reRender="bandejaSalida"
					style="visibility: hidden; width : 0px; height : 0px;" 
					oncomplete="Richfaces.hideModalPanel('panelEspera')"/>
			</div>
		</a4j:form>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>
		<script type="text/javascript">
		function actualizarBandeja(){
			boton = document.getElementById('idFormBandejaSalida:limpiar');
			//setTimeout(boton.click(),3000);
		}
	</script>
	</ui:define>

</ui:composition>

