<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" id="formBuscarResolucion">
	<a4j:outputPanel ajaxRendered="true">
		<h:messages globalOnly="true" styleClass="message" />
	</a4j:outputPanel>
	<rich:panel id="panelBuscarUsuarioFiltro">
		<h:panelGrid columns="4">
			<h:outputLabel
				value="#{messages['buscarresolucion_numero_resolucion']}"
				styleClass="name" />
			<h:outputLabel value=":" style="font-weight:bold" />
			<h:inputText value="#{buscarResolucion.numeroResolucion}"
				id="numResolucionBuscar" />
		</h:panelGrid>
		<h:panelGrid columns="3">
			<h:outputLabel value="#{messages['buscarresolucion_fecha_mayor_a']}"
				styleClass="name" />
			<h:outputLabel value=":" style="font-weight:bold" />
			<rich:calendar popup="true" datePattern="dd/MM/yyyy" id="fechaMayor"
				pattern="dd/M/yyyy" showApplyButton="false"
				enableManualInput="false" value="#{buscarResolucion.fechaInicio}"
				required="false" />
		</h:panelGrid>
		<h:panelGrid columns="3">
			<h:outputLabel value="#{messages['buscarresolucion_fecha_menor_a']}"
				styleClass="name" />
			<h:outputLabel value=":" style="font-weight:bold" />
			<rich:calendar popup="true" datePattern="dd/MM/yyyy" id="fechaMenor"
				pattern="dd/M/yyyy" showApplyButton="false"
				enableManualInput="false" value="#{buscarResolucion.fechaFinal}"
				required="false" />
		</h:panelGrid>
		<a4j:commandButton value="#{messages['buscarresolucion_buscar']}"
			action="#{buscarResolucion.buscarResoluciones()}"
			reRender="panelResolucionEncontradas" />
	</rich:panel>
	<script>
		function limpiarFormuario(){
			var menorInput, mayorInput, menorCurrent, mayorCurrent, numero;
			numero = document.getElementById('includeBuscarResloucion:formBuscarResolucion:numResolucionBuscar');
			numero.setValue('');
			mayorCurrent = document.getElementById('includeBuscarResloucion:formBuscarResolucion:fechaMayorInputCurrentDate');
			mayorCurrent.setValue('');
			menorCurrent = document.getElementById('includeBuscarResloucion:formBuscarResolucion:fechaMenorInputCurrentDate');
			menorCurrent.setValue('');
			menorInput = document.getElementById('includeBuscarResloucion:formBuscarResolucion:fechaMenorInputDate');
			menorInput.setValue('');
			mayorInput = document.getElementById('includeBuscarResloucion:formBuscarResolucion:fechaMayorInputDate');
			mayorInput.setValue('');
		}
	</script>
	<h:panelGrid columns="1" id="panelResolucionEncontradas">
		<rich:dataTable var="_usr" rows="5"
			value="#{buscarResolucion.resolucionesEncontradas}"
			rendered="#{not empty buscarResolucion.resolucionesEncontradas}"
			width="100%" onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
			onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
			<rich:column>
				<f:facet name="header">
					<h:outputText
						value="#{messages['buscarresolucion_numero_resolucion']}" />
				</f:facet>
				<h:outputText value="#{_usr.numeroDocumento}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="#{messages['buscarresolucion_fecha']}" />
				</f:facet>
				<h:outputText value="#{_usr.fechaDocumentoOrigen}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="#{messages['buscarresolucion_ciudad']}" />
				</f:facet>
				<h:outputText value="#{_usr.ciudad}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="#{messages['buscarresolucion_materia']}" />
				</f:facet>
				<h:outputText value="#{_usr.materia}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="#{messages['buscarresolucion_escoger']}" />
				</f:facet>
				<h:panelGrid columns="1" id="agregarSolicitudRespuesta">
					<a4j:commandButton id="botonAgregarDestinatarioSolicitud"
						value="#{messages['buscarresolucion_ok']}"
						action="#{crearResolucion.agregarRelacionResolucion(_usr.id)}"
						reRender="numeroDeResolucionActual" />
				</h:panelGrid>
			</rich:column>
			<f:facet name="footer">
				<rich:datascroller />
			</f:facet>
		</rich:dataTable>
		<h:panelGrid columns="1" id="numeroDeResolucionActual">
			<h:outputLabel
				value="#{messages['buscarresolucion_numero_de_resolucion_asociadadp']}" />
			<rich:dataTable width="100%" id="tableHijasBuscar"
				rendered="#{not empty crearResolucion.resolucion.resoluciones}"
				onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
				onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
				var="_resolucionHija"
				value="#{crearResolucion.resolucion.resoluciones}">
				<f:facet name="header">
					<rich:columnGroup>
						<rich:column>
							<h:outputText value="#{messages['buscarresolucion_numero']}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{messages['buscarresolucion_ver']}" />
						</rich:column>
						<rich:column style="width:25px; text-align:center;">
							<h:outputText value="#{messages['buscarresolucion_eliminar']}" />
						</rich:column>
					</rich:columnGroup>
				</f:facet>
				<rich:subTable onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="_resolucionHija">
					<rich:column>
						<h:outputLabel value="#{_resolucionHija.numeroDocumento}" />
					</rich:column>
					<rich:column>
						<h:commandLink value="#{_resolucionHija.numeroDocumento}" rows="6"
							cols="76" target="_new"
							action="#{visualizador.verDocumento(_resolucionHija.id)}"
							rendered="#{_resolucionHija != null}" id="textresolucionHija" />
					</rich:column>
					<rich:column style="width:25px; text-align:center;">
						<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
							style="border: none;"
							action="#{crearResolucion.quitarRelacionResolucion(_resolucionHija)}"
							reRender="tableHijasBuscar, idDecorateResolucionAsociado" />
					</rich:column>
				</rich:subTable>
			</rich:dataTable>
		</h:panelGrid>
	</h:panelGrid>
	<h:panelGrid columns="1" width="100%" style="text-align: center">
		<a4j:commandButton value="#{messages['buscarresolucion_volver']}"
			immediate="true"
			reRender="tableHijas, formBuscarResolucion, panelBuscarUsuarioFiltro, numeroDeResolucionActual, numeroResolucionBuscar"
			onclick="Richfaces.hideModalPanel('panelBuscarResolucion');" />
	</h:panelGrid>
</h:form>
