

<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	<rich:panel id="panelBuscarUsuarioFiltro">
		<h:panelGrid columns="1">
			<h:panelGrid columns="3">
				<h:outputLabel value="#{messages['buscarusuario_usuario']}"
					for="idUsuario" styleClass="name" />
				<h:outputLabel value=":" style="font-weight:bold" />
				<h:inputText value="#{seleccionarPersonasBean.usuario}"
					id="idUsuario" />
			</h:panelGrid>
			<h:panelGrid columns="3">
				<h:outputLabel value="#{messages['buscarusuario_nombre']}"
					for="nombreUsuario" styleClass="name" />
				<h:outputLabel value=":" style="font-weight:bold" />
				<h:inputText value="#{seleccionarPersonasBean.nombres}"
					id="nombreUsuario" />
			</h:panelGrid>
			<h:panelGrid columns="3">
				<h:outputLabel value="#{messages['buscarusuario_apellido']}"
					for="apellidoUsuario" styleClass="name" />
				<h:outputLabel value=":" style="font-weight:bold" />
				<h:inputText value="#{seleccionarPersonasBean.apellido}"
					id="apellidoUsuario" />
			</h:panelGrid>
		</h:panelGrid>
		<a4j:commandButton id="addDestinatarioExterno"
			value="#{messages['buscarusuario_buscar']}"
			action="#{seleccionarPersonasBean.buscar}"
			reRender="copiaDirecto, agregar,tableUsuariosEncontrados, panelBuscarUsuario" />
	</rich:panel>

	<h:panelGrid columns="1" id="panelBuscarUsuario">
		<rich:dataTable var="_usr" id="tableUsuariosEncontrados" rows="5"
			value="#{seleccionarPersonasBean.resultadoBusqueda}"
			rendered="#{not empty seleccionarPersonasBean.resultadoBusqueda}"
			width="100%" onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
			onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
			<rich:column>
				<f:facet name="header">
					<h:outputText value="#{messages['buscarusuario_nombres']}" />
				</f:facet>
				<h:outputText value="#{_usr.nombres}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="#{messages['buscarusuario_apellido_paterno']}" />
				</f:facet>
				<h:outputText value="#{_usr.apellidoPaterno}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="#{messages['buscarusuario_apellido_materno']}" />
				</f:facet>
				<h:outputText value="#{_usr.apellidoMaterno}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="#{messages['buscarusuario_seleccionar']}" />
				</f:facet>
				<h:panelGrid columns="2" id="copiaDirecto"
					rendered="#{(!seleccionarPersonasBean.estado) and !seleccionarPersonasBean.documento.enEdicion and seleccionarPersonasBean.documento != null}">
					<a4j:commandButton id="addDestinatarioCopia"
						value="#{messages['buscarusuario_copia']}"
						action="#{seleccionarPersonasBean.agregar(_usr, true)}"
						reRender="idFormTableDestinatarios, tableDestinatarios, listaDestinatarios, agregarDestinatario" />
					<a4j:commandButton id="addDestinatarioDirecto"
						value="#{messages['buscarusuario_directo']}"
						action="#{seleccionarPersonasBean.agregar(_usr, false)}"
						reRender="idFormTableDestinatarios, tableDestinatarios, listaDestinatarios, agregarDestinatario" />
				</h:panelGrid>
				<h:panelGrid columns="1" id="agregar"
					rendered="#{seleccionarPersonasBean.estado or (seleccionarPersonasBean.documento == null or seleccionarPersonasBean.documento.enEdicion)}">
					<a4j:commandButton id="botonAgregarDestinatario"
						value="#{messages['buscarusuario_agregar']}"
						action="#{seleccionarDestinatarioDocumento.agregarDestinatarioById(_usr.id)}"
						reRender="idFormTableDestinatarios, formDestinatarioExpediente" />
				</h:panelGrid>
			</rich:column>
			<f:facet name="footer">
				<rich:datascroller />
			</f:facet>
		</rich:dataTable>
	</h:panelGrid>
</h:form>
