

<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	<rich:panel id="panelBuscarUsuarioFiltro">
		<h:panelGrid columns="1">
			<h:panelGrid columns="3">
				<h:outputLabel
					value="#{messages['buscarusuarioverexpediente_usuario']}"
					for="idUsuario" styleClass="name" />
				<h:outputLabel value=":" style="font-weight:bold" />
				<h:inputText value="#{seleccionarPersonasBean.usuario}"
					id="idUsuario" />
			</h:panelGrid>
			<h:panelGrid columns="3">
				<h:outputLabel
					value="#{messages['buscarusuarioverexpediente_nombre']}"
					for="nombreUsuario" styleClass="name" />
				<h:outputLabel value=":" style="font-weight:bold" />
				<h:inputText value="#{seleccionarPersonasBean.nombres}"
					id="nombreUsuario" />
			</h:panelGrid>
			<h:panelGrid columns="3">
				<h:outputLabel
					value="#{messages['buscarusuarioverexpediente_apellido']}"
					for="apellidoUsuario" styleClass="name" />
				<h:outputLabel value=":" style="font-weight:bold" />
				<h:inputText value="#{seleccionarPersonasBean.apellido}"
					id="apellidoUsuario" />
			</h:panelGrid>
		</h:panelGrid>
		<a4j:commandButton id="addDestinatarioExterno"
			value="#{messages['buscarusuarioverexpediente_buscar']}"
			action="#{seleccionarPersonasBean.buscar}"
			reRender="copiaDirecto, agregar,tableUsuariosEncontrados, panelBuscarUsuario" />
	</rich:panel>

	<h:panelGrid columns="1" id="panelBuscarUsuario">

		<rich:dataTable var="_usr" id="tableUsuariosEncontrados" rows="5"
			value="#{seleccionarPersonasBean.resultadoBusqueda}"
			rendered="#{not empty seleccionarPersonasBean.resultadoBusqueda}"
			width="100%" onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
			onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">

			<rich:column>
				<f:facet name="header">
					<h:outputText
						value="#{messages['buscarusuarioverexpediente_nombres']}" />
				</f:facet>
				<h:outputText value="#{_usr.nombres}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText
						value="#{messages['buscarusuarioverexpediente_apellido_paterno']}" />
				</f:facet>
				<h:outputText value="#{_usr.apellidoPaterno}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText
						value="#{messages['buscarusuarioverexpediente_apellido_materno']}" />
				</f:facet>
				<h:outputText value="#{_usr.apellidoMaterno}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText
						value="#{messages['buscarusuarioverexpediente_seleccionar']}" />
				</f:facet>
				<h:panelGrid columns="2" id="copiaDirecto" rendered="true">
					<a4j:commandButton id="addDestinatarioCopia"
						value="#{messages['buscarusuarioverexpediente_copia']}"
						action="#{seleccionarPersonasBean.agregarDestinatarioExpediente(_usr, true)}"
						reRender="listaDestinatarios , formDestinatarioExpediente" />
					<a4j:commandButton id="addDestinatarioDirecto"
						value="#{messages['buscarusuarioverexpediente_directo']}"
						action="#{seleccionarPersonasBean.agregarDestinatarioExpediente(_usr, false)}"
						reRender="listaDestinatarios , formDestinatarioExpediente" />
				</h:panelGrid>
			</rich:column>
			<f:facet name="footer">
				<rich:datascroller />
			</f:facet>
		</rich:dataTable>
	</h:panelGrid>
</h:form>
