<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [
<!ENTITY deg "">
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">

		<a4j:form id="formPrincial">
			<a4j:outputPanel ajaxRendered="true">
				<h:messages globalOnly="true" styleClass="message" />
			</a4j:outputPanel>
			<rich:panel>
				<f:facet name="header">
					<span>#{messages['cambioclave_usuario']}</span>
				</f:facet>

				<h:panelGrid columns="7">
					<h:outputLabel value="#{messages['cambioclave_nombre']}"
						styleClass="name" />
					<h:outputLabel value=":" style="font-weight:bold" />
					<h:outputText value="#{cambioClave.persona.nombres}" />

					<rich:separator width="20px" style="background:transparent;" />
					<h:outputLabel value="#{messages['cambioclave_rut']}"
						styleClass="name" />
					<h:outputLabel value=":" style="font-weight:bold" />
					<h:outputText value="#{cambioClave.persona.rut}" />

					<h:outputLabel value="#{messages['cambioclave_apellido_paterno']}"
						styleClass="name" />
					<h:outputLabel value=":" style="font-weight:bold" />
					<h:outputText value="#{cambioClave.persona.apellidoPaterno}" />

					<rich:separator width="20px" style="background:transparent;" />
					<h:outputLabel value="#{messages['cambioclave_apellido_materno']}"
						styleClass="name" />
					<h:outputLabel value=":" style="font-weight:bold" />
					<h:outputText value="#{cambioClave.persona.apellidoMaterno}" />

					<h:outputText value="#{messages['cambioclave_email']}"
						styleClass="name" />
					<h:outputLabel value=":" style="font-weight:bold" />
					<h:outputText value="#{cambioClave.persona.email}" />

					<rich:separator width="20px" style="background:transparent;" />
					<h:outputLabel value="#{messages['cambioclave_usuario']}"
						styleClass="name" />
					<h:outputLabel value=":" style="font-weight:bold" />
					<h:outputText value="#{cambioClave.persona.usuario}" />
				</h:panelGrid>
			</rich:panel>

			<br />

			<rich:panel>
				<f:facet name="header">
					<span>#{messages['cambioclave_cambio_de_clave']}</span>
				</f:facet>
				<h:panelGrid id="formPanel">
					<h:panelGrid columns="3">
						<s:decorate id="clave" template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['cambioclave_clave_actualdp']}</ui:define>
							<h:inputSecret required="true" value="#{cambioClave.claveActual}" />
						</s:decorate>
					</h:panelGrid>
					<hr />
					<h:panelGrid columns="1">
						<s:decorate id="nueva" template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['cambioclave_nueva_clavedp']}</ui:define>
							<h:inputSecret required="true" value="#{cambioClave.claveNueva}" />
						</s:decorate>

						<s:decorate id="repetir" template="/layout/edit.xhtml">
							<ui:define name="label">#{messages['cambioclave_repetir_clavedp']}</ui:define>
							<h:inputSecret required="true"
								value="#{cambioClave.repetirClave}" />
						</s:decorate>
					</h:panelGrid>
				</h:panelGrid>
			</rich:panel>
			<h:panelGrid columns="5">
				<a4j:status onstart="Richfaces.showModalPanel('panelEspera')"
					onstop="Richfaces.hideModalPanel('panelEspera')" />
				<a4j:commandButton value="#{messages['cambioclave_guardar']}"
					styleClass="boton1" reRender="formPanel, formPrincial"
					action="#{cambioClave.cambiarClave()}" />
				<a4j:commandButton value="#{messages['cambioclave_home']}"
					styleClass="boton1" ajaxSingle="true" action="#{cambioClave.end()}" />
			</h:panelGrid>
		</a4j:form>
		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText value="#{messages['cambioclave_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['cambioclave_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>
