<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">



	<h:messages globalOnly="true" styleClass="message" />

	<h:form id="accionForm">
		<div id="divOculto">
			<h:commandButton id="botonMostrarPDF"
				action="#{ingresarDataAFactura.cargandoPDF()}"
				value="#{messages['cargandopdf_visualizando_factura']}">
				<a4j:status onstart="Richfaces.showModalPanel('panelEspera')" />
			</h:commandButton>
		</div>
		<rich:panel>
			<f:facet name="header">#{messages['cargandopdf_cargando_pdf']}</f:facet>
			<h:outputText value="#{messages['cargandopdf_cargando_pdf']}" />

		</rich:panel>
	</h:form>
	<script language="JavaScript">
    	document.getElementById("divOculto").style.visibility='hidden';
    	document.getElementById("accionForm:botonMostrarPDF").click();
	</script>


</ui:composition>

