<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<h:form id="idFormActaAdjudicacion" enctype="multipart/form-data">
			<rich:panel width="100%" id="idPanelActaAdjudicacion">
				<f:facet name="header">#{messages['crearactaadjudicacion_actaadjudicacion']}</f:facet>
				<h:messages globalOnly="true" styleClass="message" />
				<h:panelGrid columns="2" width="100%">
					<h:panelGrid columns="1"
						style="textAlign:center;vertical-align:text-top;">
						<h:graphicImage id="logoGobierno"
							url="/imagenes/logoInstitucion.png" />
						<h:graphicImage id="idImageFirmado" url="/imagenes/firmado.gif"
							rendered="#{crearActaAdjudicacion.firmado}" />
					</h:panelGrid>
					<h:panelGroup>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearactaadjudicacion_acta_de_adjudicacion_ndp']}</ui:define>
							<h:inputText required="false"
								value="#{crearActaAdjudicacion.actaAdjudicacion.numeroDocumento}"
								disabled="true" />
						</s:decorate>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearactaadjudicacion_santiago']}</ui:define>
							<rich:calendar popup="true" datePattern="dd/MM/yyyy"
								pattern="dd/M/yyyy"
								value="#{crearActaAdjudicacion.actaAdjudicacion.fechaDocumentoOrigen}"
								required="false" enableManualInput="true" disabled="true" />
						</s:decorate>

					</h:panelGroup>
				</h:panelGrid>
				<br />
				<h:panelGrid columns="1" style="text-align:center" width="100%">
					<h:outputText
						value="#{messages['crearactaadjudicacion_acta_de_adjudicacion']}"
						style="font-size:15px;font-weight:bold" />
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearactaadjudicacion_materiadp']}</ui:define>
						<h:inputTextarea rows="2" cols="100" required="true"
							value="#{crearActaAdjudicacion.actaAdjudicacion.materia}"
							disabled="#{crearActaAdjudicacion.firmado}"
							readonly="#{not crearActaAdjudicacion.editable}" />
					</s:decorate>
				</h:panelGrid>
				<h:panelGrid columns="1" width="100%">
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['crearactaadjudicacion_1_la_comision_evaluadora_se_constituyo_con_fecha']}" />
						<h:outputLabel
							value="#{crearActaAdjudicacion.actaAdjudicacion.fechaDocumentoOrigen}"
							rendered="#{crearActaAdjudicacion.actaAdjudicacion.fechaDocumentoOrigen != null}">
							<f:convertDateTime type="both" pattern="dd/MM/yyyy HH:mm"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputLabel>
						<h:outputLabel
							value="#{messages['crearactaadjudicacion__la_integran_las_siguientes_personasdp']}" />
					</h:panelGroup>
					<s:decorate template="../layout/edit.xhtml"
						id="idIntegrantesComision">
						<ui:define name="label">#{messages['crearactaadjudicacion_integrantes_de_comision_dp']}<s:span
								styleClass="required">*</s:span>
						</ui:define>
						<h:panelGrid columns="2" border="0" cellpadding="0"
							cellspacing="0">
							<rich:dataTable
								rendered="#{not empty crearActaAdjudicacion.actaAdjudicacion.comisionActaAdjudicacion}"
								var="comision" id="idListIntegrantesComision"
								value="#{crearActaAdjudicacion.actaAdjudicacion.comisionActaAdjudicacion}"
								style=" width : 400px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;"
								required="true">
								<rich:subTable value="comision">
									<rich:column>
										<h:outputLabel value="#{comision.nombre}" />
									</rich:column>
								</rich:subTable>
							</rich:dataTable>
							<a4j:commandButton
								onclick="Richfaces.showModalPanel('panelSeleccionFirmas')"
								value="#{messages['crearactaadjudicacion_agregar_integrante']}"
								reRender="idIntegrantesComision, idListIntegrantesComision"
								immediate="true"
								disabled="#{not crearActaAdjudicacion.isEditable()}" />
						</h:panelGrid>
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearactaadjudicacion_cuerpo_del_acta']}</ui:define>
						<h:inputTextarea rows="50" cols="100" style="font-size:120%;"
							value="#{crearActaAdjudicacion.cuerpoActa}"
							disabled="#{crearActaAdjudicacion.firmado}"
							readonly="#{not crearActaAdjudicacion.editable}" />
					</s:decorate>
				</h:panelGrid>
				<br />
				<rich:panel id="archivosAntecedentesPanel">
					<f:facet name="header">#{messages['crearactaadjudicacion_antecedentes']}</f:facet>
					<a4j:commandButton
						value="#{messages['crearactaadjudicacion_agregar_antecedente']}"
						onclick="Richfaces.showModalPanel('panelAdjuntarArchivo')"
						disabled="#{not crearActaAdjudicacion.editable}"
						action="#{crearActaAdjudicacion.limpiarAnexos()}" immediate="true" />
					<rich:dataTable id="archivosAntecedentesList"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="#{crearActaAdjudicacion.listaArchivos}" var="archivo"
						width="100%"
						rendered="#{not empty crearActaAdjudicacion.listaArchivos}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText value="#{messages['crearactaadjudicacion_ver']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearactaadjudicacion_titulo']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearactaadjudicacion_materia']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearactaadjudicacion_adjuntado_por']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearactaadjudicacion_fecha']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearactaadjudicacion_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="archivo">
							<rich:column>
								<a4j:htmlCommandLink border="0px"
									action="#{crearActaAdjudicacion.verArchivo(archivo.id)}"
									rendered="#{archivo.id != null}">
									<h:graphicImage border="0px" alt="#{archivo.nombreArchivo}"
										url="/imagenes/ver_detalle_01.gif" style="border: none;" />
								</a4j:htmlCommandLink>
							</rich:column>
							<rich:column>
								<h:outputText value="#{archivo.nombreArchivo}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{archivo.materia}" />
							</rich:column>
							<rich:column>
								<h:outputText rendered="#{archivo.adjuntadoPor != null}"
									value="#{archivo.adjuntadoPor.nombreApellido}" />
								<h:outputText rendered="#{archivo.adjuntadoPor == null}"
									value="#{archivo.documentoElectronico.autor.nombreApellido}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{archivo.fecha}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
								</h:outputText>
							</rich:column>
							<rich:column>
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									reRender="archivosAntecedentesList, archivosAntecedentesPanel, panelFirmaApplet, panelFirmaAppletExento"
									action="#{crearActaAdjudicacion.eliminarArchivoAntecedente(archivo.idNuevoArchivo)}"
									rendered="#{not empty archivo.idNuevoArchivo}" immediate="true"
									disabled="#{not crearActaAdjudicacion.editable}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</rich:panel>
				<br />
				<h:panelGrid columns="1" width="100%"
					rendered="#{crearActaAdjudicacion.modificarVisaFirmas()}">
					<rich:panel id="idPanelVisaciones">
						<f:facet name="header">#{messages['crearactaadjudicacion_visaciones']}</f:facet>
						<h:panelGrid columns="1" style="text-align: left">
							<h:outputText value="#{crearActaAdjudicacion.visaciones}" />
							<a4j:commandButton
								onclick="Richfaces.showModalPanel('panelSeleccionVisaciones')"
								value="#{messages['crearactaadjudicacion_modificar_visaciones']}"
								reRender="idPanelVisaciones, idBotonesDocumento"
								immediate="true"
								disabled="#{not crearActaAdjudicacion.editable}" />
						</h:panelGrid>
					</rich:panel>
				</h:panelGrid>


				<br />
				<rich:panel id="idPanelDistribucion">
					<f:facet name="header">#{messages['crearactaadjudicacion_distribucion']}</f:facet>
					<h:panelGrid columns="2" width="100%">
						<rich:dataTable id="idTableDistribucion"
							onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="#{crearActaAdjudicacion.distribucionDocumento}"
							var="itemDist"
							rendered="#{not empty crearActaAdjudicacion.distribucionDocumento}">
							<f:facet name="header">
								<rich:columnGroup>
									<rich:column>
										<h:outputText
											value="#{messages['crearactaadjudicacion_lista_de_distribucion']}" />
									</rich:column>
								</rich:columnGroup>
							</f:facet>
							<rich:subTable
								onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
								onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
								value="itemDist">
								<rich:column>
									<h:outputText value="#{itemDist.descripcion}" />
								</rich:column>
							</rich:subTable>
						</rich:dataTable>
					</h:panelGrid>
					<a4j:commandButton
						onclick="Richfaces.showModalPanel('panelSeleccionDistribucion')"
						value="#{messages['crearactaadjudicacion_agregar_distribucion']}"
						reRender="idTableDistribucion, idPanelDistribucion"
						immediate="true" disabled="#{not crearActaAdjudicacion.editable}" />
				</rich:panel>
				<br />
				<rich:panel style="padding:0" headerClass="outpanelHeader">
					<f:facet name="header">
						<rich:spacer height="4" />
					</f:facet>
					<h:panelGrid columns="2" width="100%">
						<h:panelGroup>
							<ui:repeat id="idRepeatVisaciones" var="visa"
								value="#{crearActaAdjudicacion.visacionesV}"
								rendered="#{crearActaAdjudicacion.visado}">
								<h:outputText value="#{visa.persona.iniciales}" />
								<h:outputText value="/" />
							</ui:repeat>
							<h:outputText
								value="#{crearActaAdjudicacion.actaAdjudicacion.autor.iniciales.toLowerCase()}" />
						</h:panelGroup>
						<h:panelGroup>
							<h:panelGrid columns="1" style="text-align: right"
								rendered="#{crearActaAdjudicacion.firmado}" width="100%">
								<h:panelGroup>
									<ui:repeat value="#{crearActaAdjudicacion.firmasV}" var="firma"
										rendered="#{crearActaAdjudicacion.firmado}">
										<h:outputText value="#{firma.persona.nombres}" />
										<h:outputText value=" " />
										<h:outputText value="#{firma.persona.apellidoPaterno}" />
										<br />
										<h:outputText value="#{firma.persona.cargo.descripcion}" />
										<br />
										<br />
									</ui:repeat>
								</h:panelGroup>
							</h:panelGrid>
						</h:panelGroup>
					</h:panelGrid>
				</rich:panel>
				<h:messages globalOnly="true" styleClass="message" />
			</rich:panel>
			<br />

			<h:panelGrid columns="10" width="50%" id="idBotonesDocumento">
				<a4j:commandButton id="volver1"
					value="#{messages['crearactaadjudicacion_volver']}"
					rendered="#{crearActaAdjudicacion.editable}"
					onclick="Richfaces.showModalPanel('panelConfirmacionVolver')"
					immediate="true" />
				<a4j:commandButton id="volver2"
					value="#{messages['crearactaadjudicacion_volver']}"
					rendered="#{not crearActaAdjudicacion.editable}"
					action="#{crearActaAdjudicacion.end()}" immediate="true" />
				<h:commandButton id="guardar"
					value="#{messages['crearactaadjudicacion_guardar']}"
					action="#{crearActaAdjudicacion.agregarDocumento}"
					disabled="#{not crearActaAdjudicacion.editable}"
					rendered="#{crearActaAdjudicacion.isRenderedBotonGuardar()}" />
				<a4j:commandButton id="guardarConExpediente"
					value="#{messages['crearactaadjudicacion_guardar_y_crear_expediente']}"
					action="#{crearActaAdjudicacion.guardarYCrearExpediente()}"
					disabled="#{not crearActaAdjudicacion.editable}"
					rendered="#{crearActaAdjudicacion.isRenderedBotonGuardarCrearExpediente()}"
					reRender="idFormActaAdjudicacion">
					<a4j:support event="oncomplete"
						action="#{modificarExpediente.begin()}">
						<f:param name="idExpediente" value="-1" />
					</a4j:support>
				</a4j:commandButton>
				<a4j:commandButton id="visar"
					value="#{messages['crearactaadjudicacion_visar']}"
					action="#{crearActaAdjudicacion.visar()}"
					disabled="#{not crearActaAdjudicacion.isEditableSinVisa()}"
					rendered="#{crearActaAdjudicacion.isRenderedVisar()}"
					reRender="idBotonesDocumento, idPanelActaAdjudicacion"
					onclick="this.disabled='true';Richfaces.showModalPanel('panelEspera')"
					oncomplete="Richfaces.hideModalPanel('panelEspera')" />
				<a4j:commandButton id="firmar"
					value="#{messages['crearactaadjudicacion_firmar']}"
					disabled="#{not crearActaAdjudicacion.disabledBotonFirmado}"
					rendered="#{crearActaAdjudicacion.isRenderedFirmar()}"
					action="#{crearActaAdjudicacion.firmar()}"
					reRender="idPanelActaAdjudicacion, idBotonesDocumento" />
				<a4j:commandButton id="despachar"
					value="#{messages['crearactaadjudicacion_despachar_expediente']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogDespachar')"
					rendered="#{crearActaAdjudicacion.isRenderedBotonDespachar()}"
					disabled="#{not crearActaAdjudicacion.isDespachable()}" />
				<h:commandLink id="visualizar"
					actionListener="#{crearActaAdjudicacion.visualizar()}"
					rendered="#{crearActaAdjudicacion.isRenderedBotonVisualizar()}"
					action="#{visualizador.verDocumento(crearActaAdjudicacion.actaAdjudicacion)}"
					target="_new" immediate="true">
					<h:graphicImage border="0px"
						value="/imagenes/icono_visualizardoc.gif" />
				</h:commandLink>
			</h:panelGrid>
		</h:form>

		<rich:modalPanel id="panelAdjuntarArchivo" minHeight="270"
			minWidth="430" height="270" width="430">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearactaadjudicacion_adjuntar_archivo']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')">
				</h:graphicImage>
			</f:facet>
			<h:form enctype="multipart/form-data">
				<h:panelGrid columns="1">
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearactaadjudicacion_materiadp']}</ui:define>
						<h:inputText id="materia" required="true"
							value="#{crearActaAdjudicacion.materiaArchivo}" />
					</s:decorate>
					<s:decorate id="decorateUpLoadFile" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearactaadjudicacion_archivodp']}</ui:define>
						<rich:fileUpload id="upload" immediateUpload="true"
							maxFilesQuantity="1"
							acceptedTypes="#{crearActaAdjudicacion.tipoArchivo}"
							listHeight="60px"
							fileUploadListener="#{crearActaAdjudicacion.listener}"
							addControlLabel="Agregar" allowFlash="false">
							<a4j:support event="onclear" reRender="decorateUpLoadFile" />
						</rich:fileUpload>
					</s:decorate>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<a4j:commandButton
						value="#{messages['crearactaadjudicacion_agregar_archivo']}"
						action="#{crearActaAdjudicacion.agregarAntecedente}"
						reRender="archivosAntecedentesList, archivosAntecedentesPanel, panelAdjuntarArchivo"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')" />
					<a4j:commandButton
						value="#{messages['crearactaadjudicacion_volver']}"
						action="#{crearActaAdjudicacion.salirPanel}"
						reRender="archivosAntecedentesList, archivosAntecedentesPanel, panelAdjuntarArchivo"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')"
						immediate="true" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>


		<rich:modalPanel id="panelSeleccionDistribucion" resizeable="false"
			height="500" width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearactaadjudicacion_seleccionar_distribucion_documento']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelSeleccionDistribucion')"
					reRender="idTableDistribucion, idPanelDistribucion">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarDistribucionDocumento.xhtml" />
			<h:form>
				<a4j:commandButton
					value="#{messages['crearactaadjudicacion_volver']}"
					reRender="idTableDistribucion, idPanelDistribucion"
					onclick="Richfaces.hideModalPanel('panelSeleccionDistribucion')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionVisaciones" resizeable="false"
			height="600" width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearactaadjudicacion_seleccionar_visadores']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					reRender="idPanelVisaciones, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionVisaciones')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarVisaciones.xhtml" />
			<h:form>
				<a4j:commandButton
					value="#{messages['crearactaadjudicacion_volver']}"
					reRender="idPanelVisaciones, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionVisaciones')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionFirmas" resizeable="false"
			height="500" width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearactaadjudicacion_seleccionar_firmantes']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					reRender="idBotonesDocumento, idIntegrantesComision, idListIntegrantesComision"
					onclick="Richfaces.hideModalPanel('panelSeleccionFirmas')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarFirmas.xhtml" />
			<h:form>
				<a4j:commandButton
					value="#{messages['crearactaadjudicacion_volver']}"
					reRender="idBotonesDocumento, idIntegrantesComision, idListIntegrantesComision"
					onclick="Richfaces.hideModalPanel('panelSeleccionFirmas')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="idConfirmDialogDespachar" resizeable="false"
			width="230" height="75">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearactaadjudicacion_confirmacion_despacho_expediente']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['crearactaadjudicacion_desea_despachar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton value="#{messages['crearactaadjudicacion_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')" />
					<h:commandButton
						value="#{messages['crearactaadjudicacion_despachar']}"
						action="#{crearActaAdjudicacion.despacharExpediente()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelConfirmacionVolver" resizable="false"
			height="100" width="455" rendered="#{crearActaAdjudicacion.editable}">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearactaadjudicacion_confirmacion']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')"
					reRender="idPanelDocumento">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<div align="center">
					<h:outputText
						value="#{messages['crearactaadjudicacion_el_documento_no_ha_sido_guardado_se_perderan_los_cambios']}" />
				</div>
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton
						value="#{messages['crearactaadjudicacion_continuar_en_la_misma_pagina']}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
					<h:commandButton
						value="#{messages['crearactaadjudicacion_volver_a_la_pagina_anterior']}"
						action="#{crearActaAdjudicacion.end}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearactaadjudicacion_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['crearactaadjudicacion_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>

	</ui:define>

</ui:composition>

