<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<h:form>
			<a4j:outputPanel ajaxRendered="true">
				<h:messages globalOnly="true" styleClass="message" />
			</a4j:outputPanel>
			<rich:panel>
				<f:facet name="header">
					<span>#{messages['crearsolicitudfolio_crear_solicitud_folio']}</span>
				</f:facet>
				<br />
				<rich:panel styleClass="subpanel">
					<f:facet name="header">
						<span>#{messages['crearsolicitudfolio_solicitante']}</span>
					</f:facet>
					<h:panelGrid columns="3">
						<h:outputLabel
							value="#{messages['crearsolicitudfolio_fecha_de_solicitud']}" />
						<h:outputLabel value=":" />
						<rich:calendar popup="true" datePattern="dd/MM/yyyy"
							readonly="true" pattern="dd/M/yyyy" required="false"
							enableManualInput="true" locale="#{crearSolicitudFolio.locate}"
							value="#{crearSolicitudFolio.solicitudFolio.fechaSolicitud}" />

						<h:outputLabel
							value="#{messages['crearsolicitudfolio_solicitante']}" />
						<h:outputLabel value=":" />
						<h:inputText size="100" readonly="true"
							value="#{crearSolicitudFolio.solicitudFolio.solicitante.nombreApellido}" />

						<h:outputLabel value="#{messages['crearsolicitudfolio_division']}" />
						<h:outputLabel value=":" />
						<h:inputText size="100" readonly="true"
							value="#{crearSolicitudFolio.solicitudFolio.division.descripcion}" />

						<h:outputLabel value="#{messages['crearsolicitudfolio_gerente']}" />
						<h:outputLabel value=":" />
						<h:inputText value="#{crearSolicitudFolio.solicitudFolio.gerente}"
							size="100" />

						<h:outputLabel
							value="#{messages['crearsolicitudfolio_tema_de_la_resolucion']}" />
						<h:outputLabel value=":" />
						<h:inputTextarea rows="3" cols="96"
							value="#{crearSolicitudFolio.solicitudFolio.temaResolucion}" />
					</h:panelGrid>
				</rich:panel>
				<br />
				<rich:panel styleClass="subpanel">
					<f:facet name="header">
						<span>#{messages['crearsolicitudfolio_folio']}</span>
					</f:facet>

					<h:panelGrid rendered="#{crearSolicitudFolio.flagFoliador}"
						columns="3">
						<h:outputLabel value="#{messages['crearsolicitudfolio_folio']}" />
						<h:outputLabel value=":" />
						<h:inputText size="100"
							value="#{crearSolicitudFolio.solicitudFolio.numeroAsignado}" />
					</h:panelGrid>
				</rich:panel>
			</rich:panel>

			<h:panelGrid columns="3">
				<a4j:commandButton
					value="#{messages['crearsolicitudfolio_guardar']}" 
					id="guardar"
					action="#{crearSolicitudFolio.guardarSolicitud()}" />
				<a4j:commandButton 
					value="#{messages['crearsolicitudfolio_volver']}"
					id="volver"
					onclick="Richfaces.showModalPanel('panelConfirmacionVolver')" />
				<a4j:commandButton
					value="#{messages['crearsolicitudfolio_limpiar']}" 
					id="limpiar"
					action="#{crearSolicitudFolio.limpiarFormulario()}" />
			</h:panelGrid>

		</h:form>

		<rich:modalPanel id="panelConfirmacionVolver" resizeable="false"
			height="100" width="455"
			rendered="#{crearSolicitudFolio.isEditable()}">
			<f:facet name="header">
				<h:outputLabel
					value="#{messages['crearsolicitudfolio_confirmacion']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
			</f:facet>
			<h:form>
				<div align="center">
					<h:outputText
						value="#{messages['crearsolicitudfolio_el_documento_no_ha_sido_guardado_se_perderan_los_cambios']}" />
				</div>
				<h:panelGrid columns="2" width="100%" style="text-align:center">
					<h:commandButton
						value="#{messages['crearsolicitudfolio_continuar_en_la_misma_pagina']}"
						style="width:200px"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
					<h:commandButton action="#{crearSolicitudFolio.end}"
						style="width:200px"
						value="#{messages['crearsolicitudfolio_volver_a_la_pagina_anterior']}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

	</ui:define>

</ui:composition>
