<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml">

	<ui:define name="body">

		<h:messages globalOnly="true" styleClass="message" />

		<h:form id="personaForm">

			<rich:panel>
				<f:facet name="header">#{messages['crearpersona_persona']}</f:facet>

				<s:decorate id="nameDecorationRut" template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['crearpersona_rut']}</ui:define>
					<h:inputText id="name" required="true" value="#{crearPersona.rut}" />
				</s:decorate>
				<s:decorate id="nameDecorationNombres"
					template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['crearpersona_nombres']}</ui:define>
					<h:inputText id="name" required="true"
						value="#{crearPersona.nombres}" />
				</s:decorate>
				<s:decorate id="nameDecorationApellidoPaterno"
					template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['crearpersona_apellido_paterno']}</ui:define>
					<h:inputText id="name" required="true"
						value="#{crearPersona.apellidoPaterno}" />
				</s:decorate>
				<s:decorate id="nameDecorationApellidoMaterno"
					template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['crearpersona_apellido_materno']}</ui:define>
					<h:inputText id="name" required="true"
						value="#{crearPersona.apellidoMaterno}" />
				</s:decorate>
				<s:decorate id="nameDecorationEmail" template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['crearpersona_e-mail']}</ui:define>
					<h:inputText id="name" required="true"
						value="#{crearPersona.email}" />
				</s:decorate>
				<s:decorate id="nameDecorationUsuario"
					template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['crearpersona_usuario']}</ui:define>
					<h:inputText id="name" required="true"
						value="#{crearPersona.usuario}" />
				</s:decorate>
				<s:decorate id="nameDecorationCargo" template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['crearpersona_cargo']}</ui:define>
					<h:selectOneMenu id="cargoList" value="#{crearPersona.idCargo}">
						<f:selectItems value="#{crearCargo.cargoList}" />
					</h:selectOneMenu>
				</s:decorate>
				<s:decorate id="personaDefault" template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['crearpersona_persona_default']}</ui:define>
					<h:selectBooleanCheckbox value="#{crearPersona.personaDefault}"></h:selectBooleanCheckbox>
				</s:decorate>
				<div style="clear: both" />

			</rich:panel>

			<div class="actionButtons">
				<h:commandButton id="save"
					value="#{messages['crearpersona_guardar']}"
					action="#{crearPersona.guardarPersona}"
					rendered="#{!personaHome.managed}" />
			</div>
			<div class="actionButtons">
				<s:button id="lista"
					value="#{messages['crearpersona_listar_personas']}"
					view="/personaList.xhtml" />
			</div>

		</h:form>


	</ui:define>

</ui:composition>

