<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml">

	<ui:define name="body">

		<h:messages globalOnly="true" styleClass="message" />
		<h:form id="crearCargo">
			<rich:panel>
				<f:facet name="header">#{messages['crearcargo_crear_cargo']}</f:facet>

				<s:decorate id="nameDecoration" template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['crearcargo_nombre']}</ui:define>
					<h:inputText id="name" required="true"
						value="#{crearCargo.descripcion}" />
				</s:decorate>

				<s:decorate id="unidadOrgDecoration" template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['crearcargo_unidad_organizacional']}</ui:define>
					<h:selectOneMenu id="unidadOrg" value="#{crearCargo.unidadOrg}">
						<f:selectItems value="#{crearCargo.unidOrgList}" />
					</h:selectOneMenu>
				</s:decorate>

				<s:decorate id="cargoPadreDecoration"
					template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['crearcargo_cargo_padre']}</ui:define>
					<h:selectOneMenu id="cargoPadre" value="#{crearCargo.cargoPadre}">
						<f:selectItems value="#{crearCargo.cargoList}" />
					</h:selectOneMenu>
				</s:decorate>

				<s:decorate id="cargoDefault" template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['crearcargo_cargo_default']}</ui:define>
					<h:selectBooleanCheckbox value="#{crearCargo.cargoDefault}"></h:selectBooleanCheckbox>
				</s:decorate>

				<div style="clear: both" />

			</rich:panel>


			<div class="actionButtons">
				<h:commandButton id="registrarCargo"
					value="#{messages['crearcargo_guardar']}"
					action="#{crearCargo.registrarCargo}" />
			</div>
			<div class="actionButtons">
				<s:button id="lista" value="#{messages['crearcargo_listar_cargos']}"
					view="/cargoList.xhtml" />
			</div>
		</h:form>

	</ui:define>

</ui:composition>

