<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">
	<ui:define name="body">
		<h:form id="idFormResolucion" enctype="multipart/form-data">
			<a4j:outputPanel ajaxRendered="true">
				<h:messages globalOnly="false" styleClass="message" />
			</a4j:outputPanel>
			<rich:panel id="idPanelResolucion" width="100%">
				<f:facet name="header">
					<span>#{messages['crearresolucion_resolucion']}</span>
				</f:facet>
				<h:panelGrid id="bigPanelGrid" columns="2" style="text-align: left;">
					<h:panelGrid columns="1" style="textAlign: center; width:165px;">
						<h:graphicImage id="logoGobierno"
							url="/imagenes/logoInstitucion.png" />
						<h:graphicImage id="idImageFirmado" url="/imagenes/firmado.gif"
							rendered="#{crearResolucion.firmado}" />

					</h:panelGrid>

					<h:panelGroup id="datosGroup">
						<a4j:commandButton style="display:none;" id="botonFalsoSubirDatos" />
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearresolucion_plantillasdp']}</ui:define>
							<h:selectOneMenu id="idPlantillasList" immediate="true"
								rendered="#{crearResolucion.editable2}"
								value="#{crearResolucion.idPlantilla}"
								valueChangeListener="#{crearResolucion.plantillaListener}">
								<f:selectItems value="#{crearResolucion.obtenerPlantillas()}" />
								<a4j:support event="onchange"
									reRender="idPanelResolucion"
									action="#{crearResolucion.cambiar}" immediate="true"
									ajaxSingle="true" />
							</h:selectOneMenu>
						</s:decorate>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearresolucion_resolucion_ndp']}</ui:define>
							<h:inputText required="false" 
								value="#{crearResolucion.resolucion.numeroDocumento}"
								disabled="true"/>
						</s:decorate>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearresolucion_ciudaddp']}</ui:define>
							<h:inputText value="#{crearResolucion.resolucion.ciudad}"
								disabled="#{crearResolucion.firmado}"
								readonly="#{not crearResolucion.isEditable()}" />
						</s:decorate>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearresolucion_fechadp']}</ui:define>
							<rich:calendar popup="true" datePattern="dd/MM/yyyy"
								pattern="dd/M/yyyy"
								value="#{crearResolucion.resolucion.fechaDocumentoOrigen}"
								required="false" enableManualInput="false"
								disabled="true" />
						</s:decorate>
						<s:decorate id="tipoRazonDecorate" template="../layout/edit.xhtml">
							<h:selectOneRadio id="tipoRazonRadio"
								value="#{crearResolucion.tipoResolucion}"
								valueChangeListener="#{crearResolucion.tipoRazonListener}">
								<f:selectItem itemValue="1"
									itemLabel="#{messages['crearresolucion_exento']}"
									itemDisabled="#{not crearResolucion.isEditable()}" />
								<f:selectItem itemValue="2"
									itemLabel="#{messages['crearresolucion_toma_de_razon']}"
									itemDisabled="#{not crearResolucion.isEditable()}" />
								<f:selectItem itemValue="3"
									itemLabel="#{messages['crearresolucion_exento_con_registro']}"
									itemDisabled="#{not crearResolucion.isEditable()}" />
								<a4j:support event="onchange"
									reRender="panelAdjuntarArchivo, idPanelResolucion, idBotonesDocumento" />
							</h:selectOneRadio>
						</s:decorate>

						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearresolucion_materiadp']}<s:span styleClass="required">*</s:span></ui:define>
							<h:inputTextarea rows="6" cols="76" value="#{crearResolucion.resolucion.materia}" disabled="#{crearResolucion.firmado}" readonly="#{not crearResolucion.isEditable()}" />
						</s:decorate>

					</h:panelGroup>

				</h:panelGrid>
				<h:panelGrid columns="1" style="text-align: left; width:100%;">
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearresolucion_vistosdp']}</ui:define>
						<h:inputTextarea rows="10" cols="100"
							style="font-size:120%; margin-left:47px;"
							value="#{crearResolucion.vistos}"
							disabled="#{crearResolucion.firmado}"
							readonly="#{not crearResolucion.isEditable()}" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearresolucion_considerandodp']}</ui:define>
						<h:inputTextarea rows="10" cols="100"
							style="font-size:120%; margin-left:47px;"
							value="#{crearResolucion.considerando}"
							disabled="#{crearResolucion.firmado }"
							readonly="#{not crearResolucion.isEditable()}" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearresolucion_resuelvodp']}</ui:define>
						<h:inputTextarea rows="10" cols="100"
							style="font-size:120%; margin-left:47px;"
							value="#{crearResolucion.resuelvo}"
							disabled="#{crearResolucion.firmado }"
							readonly="#{not crearResolucion.isEditable()}" />
					</s:decorate>
				</h:panelGrid>
				<br />
				<rich:panel id="archivosAntecedentesPanel"
					style="width:98%; margin:0px auto;">
					<f:facet name="header">
						<span>#{messages['crearresolucion_antecedentes']}</span>
					</f:facet>
					<h:panelGrid columns="1"
						style="text-align: left; width:100%; background-color:#FFF;">
						<a4j:commandButton value="#{messages['crearresolucion_agregar']}"
							onclick="Richfaces.showModalPanel('panelAdjuntarArchivo')"
							disabled="#{not crearResolucion.isEditable()}"
							action="#{crearResolucion.limpiarAnexos()}" immediate="true"
							rendered="#{crearResolucion.isEditable()}" />
					</h:panelGrid>
					<rich:dataTable id="archivosAntecedentesList"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="#{crearResolucion.listaArchivos}" var="archivo"
						width="100%" rendered="#{not empty crearResolucion.listaArchivos}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText value="#{messages['crearresolucion_ver']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearresolucion_titulo']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearresolucion_materia']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearresolucion_adjuntado_por']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearresolucion_fecha']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearresolucion_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="archivo">
							<rich:column>
								<a4j:htmlCommandLink border="0px"
									action="#{crearResolucion.verArchivo(archivo.id)}"
									rendered="#{archivo.id != null}">
									<h:graphicImage border="0px" alt="#{archivo.nombreArchivo}"
										url="/imagenes/ver_detalle_01.gif" />
								</a4j:htmlCommandLink>
							</rich:column>
							<rich:column>
								<h:outputText value="#{archivo.nombreArchivo}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{archivo.materia}" />
							</rich:column>
							<rich:column>
								<h:outputText rendered="#{archivo.adjuntadoPor != null}"
									value="#{archivo.adjuntadoPor.nombreApellido}" />
								<h:outputText rendered="#{archivo.adjuntadoPor == null}"
									value="#{archivo.documentoElectronico.autor.nombreApellido}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{archivo.fecha}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
								</h:outputText>
							</rich:column>
							<rich:column>
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									reRender="archivosAntecedentesList, archivosAntecedentesPanel, panelFirmaApplet, panelFirmaAppletExento"
									action="#{crearResolucion.eliminarArchivoAntecedente(archivo.idNuevoArchivo)}"
									rendered="#{not empty archivo.idNuevoArchivo}" immediate="true"
									disabled="#{not crearResolucion.isEditable()}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</rich:panel>
				<br />
				<rich:panel style="width:98%; margin:0px auto;">
					<f:facet name="header">
						<span>#{messages['crearresolucion_indicacion']}</span>
					</f:facet>
					<h:panelGrid columns="1" style="width:100%; background-color:#FFF;">
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearresolucion_indicacion_dp']}</ui:define>
							<h:inputText required="false"
								validator="#{campoMaxLargoValidator.validate}"
								value="#{crearResolucion.resolucion.indicaciones}" size="100"
								disabled="#{crearResolucion.firmado }"
								readonly="#{not crearResolucion.isEditable()}" />
						</s:decorate>
					</h:panelGrid>
				</rich:panel>
				<br />
				<h:panelGrid columns="1" width="100%" cellspacing="0"
					cellpadding="0" rendered="#{crearResolucion.modificarVisaFirmas()}">
					<rich:panel id="idPanelRevisar" style="width:98%; margin:0px auto;"
						rendered="#{crearResolucion.mostrarBorrador()}">
						<f:facet name="header">
							<span>#{messages['crearresolucion_revisar_borrador']}</span>
						</f:facet>
						<h:panelGrid columns="1"
							style="text-align: left; width:100%; background-color:#FFF;">
							<h:outputText value="#{crearResolucion.getRevisarBorrador()}" />
							<a4j:commandButton
								onclick="Richfaces.showModalPanel('panelSeleccionRevisar')"
								value="#{messages['crearresolucion_modificar']}"
								reRender="idPanelRevisar, idBotonesDocumento" 
								immediate="true" 
								disabled="#{not crearResolucion.isEditable2()}"
								rendered="#{crearResolucion.isEditable()}" />
						</h:panelGrid>
					</rich:panel>
					<br />
					<rich:panel id="idPanelVisaciones"
						style="width:98%; margin:0px auto;">
						<f:facet name="header">
							<span>#{messages['crearresolucion_visaciones']}</span>
						</f:facet>
						<h:panelGrid columns="1"
							style="text-align: left; width:100%; background-color:#FFF;">
							<h:outputText value="#{crearResolucion.getVisaciones()}" />
							<a4j:commandButton
								onclick="Richfaces.showModalPanel('panelSeleccionVisaciones')"
								value="#{messages['crearresolucion_modificar']}"
								reRender="idPanelVisaciones, idBotonesDocumento"
								immediate="true" disabled="#{not crearResolucion.isEditable2()}"
								rendered="#{crearResolucion.isEditable()}" />
						</h:panelGrid>
					</rich:panel>
					<br />
					<rich:panel id="idPanelFirmas" style="width:98%; margin:0px auto;">
						<f:facet name="header">
							<span>#{messages['crearresolucion_firmas']}</span>
						</f:facet>
						<h:panelGrid columns="1"
							style="text-align: left; width:100%; background-color:#FFF;">
							<ui:repeat id="idRepeatFirmas" var="firma"
								value="#{crearResolucion.getFirmas()}">
								<h:outputText
									value="#{firma.persona.nombres} #{firma.persona.apellidoPaterno}" />
								<h:outputText value=" - #{firma.persona.cargo.descripcion}" />
							</ui:repeat>
							<a4j:commandButton
								onclick="Richfaces.showModalPanel('panelSeleccionFirmas')"
								value="#{messages['crearresolucion_modificar']}"
								reRender="idPanelFirmas, idBotonesDocumento" 
								immediate="true"
								disabled="#{not crearResolucion.isEditable2()}"
								rendered="#{crearResolucion.isEditable()}" />
						</h:panelGrid>
					</rich:panel>
				</h:panelGrid>
				<br />
				<rich:panel id="idPanelDistribucion"
					style="width:98%; margin:0px auto;">
					<f:facet name="header">
						<span>#{messages['crearresolucion_distribucion']}</span>
					</f:facet>
					<h:panelGrid columns="2"
						style="text-align: left; width:100%; background-color:#FFF;">
						<rich:dataTable id="idTableDistribucion"
							onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="#{crearResolucion.distribucionDocumento}" var="itemDist"
							rendered="#{not empty crearResolucion.distribucionDocumento}">
							<f:facet name="header">
								<rich:columnGroup>
									<rich:column>
										<h:outputText
											value="#{messages['crearresolucion_lista_de_distribucion']}" />
									</rich:column>
								</rich:columnGroup>
							</f:facet>
							<rich:subTable
								onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
								onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
								value="itemDist">
								<rich:column>
									<h:outputText value="#{itemDist.descripcion}" />
								</rich:column>
							</rich:subTable>
						</rich:dataTable>
					</h:panelGrid>
					<h:panelGrid columns="1"
						style="text-align: left; width:100%; background-color:#FFF;">
						<a4j:commandButton
							oncomplete="Richfaces.showModalPanel('panelSeleccionDistribucion')"
							action="#{seleccionarDistribucionDocumento.limpiarDestinatario()}"
							value="#{messages['crearresolucion_agregar']}"
							reRender="idTableDistribucion, idPanelDistribucion, panelGridSeleccionDistribucion"
							disabled="#{not crearResolucion.isEditable2()}"
							rendered="#{crearResolucion.isEditable()}" />
					</h:panelGrid>
				</rich:panel>
				<br />
				<rich:panel headerClass="outpanelHeader"
					style="width:98%; margin:0px auto; margin-bottom:10px;">
					<f:facet name="header">
						<span>#{messages['crearresolucion_personas_que_han_visado_y_firmado']}</span>
					</f:facet>
					<h:panelGrid columns="2"
						style="text-align: left; width:100%; background-color:#FFF;">
						<h:panelGroup>
							<ui:repeat id="idRepeatVisaciones" var="visa"
								value="#{crearResolucion.getVisacionesV()}"
								rendered="#{crearResolucion.visado}">
								<h:outputText value="#{visa.persona.iniciales}" />
								<h:outputText value="/" />
							</ui:repeat>
							<h:outputText
								value="#{crearResolucion.resolucion.autor.iniciales.toLowerCase()}" />
						</h:panelGroup>
						<h:panelGroup>
							<h:panelGrid columns="1" style="text-align: right"
								rendered="#{crearResolucion.firmado}">
								<h:panelGroup>
									<h:outputText
										value="#{crearResolucion.resolucion.firmas.get(0).persona.nombres}" />
									<h:outputText value=" " />
									<h:outputText
										value="#{crearResolucion.resolucion.firmas.get(0).persona.apellidoPaterno}" />
								</h:panelGroup>
								<h:outputText
									value="#{crearResolucion.resolucion.firmas.get(0).persona.cargo.descripcion}" />
							</h:panelGrid>
						</h:panelGroup>
					</h:panelGrid>
				</rich:panel>
				<rich:panel headerClass="outpanelHeader"
					style="width:98%; margin:0px auto; margin-bottom:10px;"
					rendered="#{(crearResolucion.borrador or crearResolucion.borradorRevisadoYSoyRevisor) and (not crearResolucion.isRenderedVisar())}">
					<f:facet name="header">
						<span>#{messages['crearresolucion_comentario']}</span>
					</f:facet>
					<h:inputTextarea rows="10" cols="100"
						value="#{crearResolucion.comentarios}" id="comentariosBorrador"
						disabled="#{not crearResolucion.isRenderedBotonAprobarDespachar()}"
						readonly="#{not crearResolucion.isEditable()}"></h:inputTextarea>
				</rich:panel>
				<rich:panel headerClass="outpanelHeader"
					id="comentariosBorradorPanel"
					style="width:98%; margin:0px auto; margin-bottom:10px;"
					rendered="#{crearResolucion.obtenerComentariosBorrador() != null and crearResolucion.obtenerComentariosBorrador().size() > 0}">
					<f:facet name="header">
						<span>#{messages['crearresolucion_comentarios_borrador']}</span>
					</f:facet>
					<rich:dataTable width="100%" id="idTablaComentarios"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="#{crearResolucion.obtenerComentariosBorrador()}"
						var="_varRevisar">
						<rich:column width="15%">
							<f:facet name="header">
								<h:outputText value="#{messages['crearresolucion_persona']}" />
							</f:facet>
							<h:outputText value="#{_varRevisar.persona.nombreApellido}" />
						</rich:column>
						<rich:column width="15%">
							<f:facet name="header">
								<h:outputText value="#{messages['crearresolucion_estado']}" />
							</f:facet>
							<h:outputText rendered="#{_varRevisar.aprobado}"
								value="#{messages['crearresolucion_aprobado']}" />
							<h:outputText rendered="#{not _varRevisar.aprobado}"
								value="#{messages['crearresolucion_rechazado']}" />
						</rich:column>
						<rich:column width="70%">
							<f:facet name="header">
								<h:outputText value="#{messages['crearresolucion_comentarios']}" />
							</f:facet>
							<h:outputText value="#{_varRevisar.comentario}" />
						</rich:column>
					</rich:dataTable>
				</rich:panel>
			</rich:panel>
			<br />
			<rich:panel rendered="false">
				<h:panelGrid>
					<s:decorate template="../layout/edit.xhtml"
						id="idDecorateCalendarPlazoResolucion">
						<ui:define name="label" style=" width : 250px;">Plazo :</ui:define>
						<rich:calendar popup="true" datePattern="dd/MM/yyyy"
							id="idCalendarFechaResolucion" pattern="dd/MM/yyyy"
							value="#{crearResolucion.resolucion.plazo}"
							disabled="#{not crearResolucion.isEditable()}"
							enableManualInput="true" />
					</s:decorate>
					<s:decorate id="idAlerta" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearresolucion_nivel_urgencia_dp']}</ui:define>
						<h:selectOneMenu id="nivelurgencialist"
							value="#{crearResolucion.idAlerta}"
							disabled="#{not crearResolucion.isEditable()}" immediate="true"
							style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;">
							<f:selectItems value="#{crearResolucion.nivelesUrgencia}" />
						</h:selectOneMenu>
					</s:decorate>
				</h:panelGrid>
			</rich:panel>

			<h:panelGrid columns="10" id="idBotonesDocumento">
				<a4j:commandButton id="volver1" 
					value="#{messages['crearresolucion_volver']}" 
					rendered="#{crearResolucion.isEditable()}"
					onclick="Richfaces.showModalPanel('panelConfirmacionVolver')"
					immediate="true" />
				<a4j:commandButton id="volver2" 
					value="#{messages['crearresolucion_volver']}"
					rendered="#{not crearResolucion.isEditable()}"
					action="#{crearResolucion.end()}" 
					onclick="Richfaces.showModalPanel('panelEspera')" />
				<a4j:commandButton id="guardar" 
					value="#{messages['crearresolucion_guardar']}"
					action="#{crearResolucion.agregarDocumento}"
					rendered="#{crearResolucion.isRenderedBotonGuardar() and crearResolucion.isEditable()}" 
					onclick="Richfaces.showModalPanel('panelEspera')" 
					oncomplete="if(#{not crearResolucion.isDocumentoValido()}){Richfaces.hideModalPanel('panelEspera');}" />
				<a4j:commandButton id="guardarConExpediente"
					value="#{messages['crearresolucion_crear_expediente']}"
					action="#{crearResolucion.guardarYCrearExpediente()}"
					disabled="#{crearResolucion.resolucion.id != null}"
					rendered="#{crearResolucion.isRenderedBotonGuardarCrearExpediente()}"
					onclick="Richfaces.showModalPanel('panelEspera')"
					oncomplete="if(#{crearResolucion.isDocumentoValido()}){crearExpediente();}else{Richfaces.hideModalPanel('panelEspera');}"/>
				<a4j:commandButton id="visar"
					value="#{messages['crearresolucion_visar']}"
					action="#{crearResolucion.visar()}"
					disabled="#{not crearResolucion.isEditableSinVisa()}"
					rendered="#{crearResolucion.isRenderedVisar()}"
					reRender="idBotonesDocumento, idPanelResolucion"
					onclick="this.disabled='true';Richfaces.showModalPanel('panelEspera')"
					oncomplete="Richfaces.hideModalPanel('panelEspera')" />
				<a4j:commandButton id="firmar"
					value="#{messages['crearresolucion_firmar']}"
					disabled="#{crearResolucion.firmado}"
					rendered="#{crearResolucion.isRenderedFirmar()}"
					onclick="Richfaces.showModalPanel('panelFirmaApplet')"
					reRender="idPanelResolucion, idBotonesDocumento"/>
				<a4j:commandButton
					action="#{crearResolucion.desvisarYDesfirmar(crearResolucion.resolucion)}"
					value="#{messages['crearresolucion_desvisar_y_desfirmar']}"
					rendered="#{crearResolucion.renderedBotonDesvisarDesfirmar()}"
					reRender="idBotonesDocumento, idPanelResolucion" />
				<a4j:commandButton id="despachar"
					value="#{messages['crearresolucion_despachar_expediente']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogDespachar')"
					rendered="#{crearResolucion.isRenderedBotonDespachar()}"
					disabled="#{not crearResolucion.isDespachable()}" />
				<a4j:commandButton id="aprobarDespachar"
					value="#{messages['crearresolucion_aprobar_y_despachar']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogDespacharAprobar')"
					rendered="#{crearResolucion.isRenderedBotonAprobarDespachar()}"
					disabled="#{not crearResolucion.isDespachable()}" />
				<a4j:commandButton id="rechazarDespachar"
					value="#{messages['crearresolucion_rechazar_y_despachar']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogDespacharRechazar')"
					rendered="#{crearResolucion.isRenderedBotonRechazarDespachar() and not crearResolucion.borrador}"
					disabled="#{not crearResolucion.isDespachable()}" />
					<a4j:commandButton id="rechazarDespachar2"
					value="#{messages['crearresolucion_rechazar_y_despachar']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogDespacharRechazarBorrador')"
					rendered="#{crearResolucion.isRenderedBotonRechazarDespachar() and crearResolucion.borrador}"
					disabled="#{not crearResolucion.isDespachable()}" />
				<h:commandLink
					rendered="#{crearResolucion.renderedBotonVisualizar}"
					action="#{visualizador.verDocumento(crearResolucion.resolucion)}"
					actionListener="#{crearResolucion.previsualizar}"
					styleClass="sin_formato" target="_blank">
					<h:commandButton value="#{messages['visualizar']}"/>
				</h:commandLink>
			</h:panelGrid>
			<a4j:outputPanel ajaxRendered="true">
				<h:messages globalOnly="false" styleClass="message" />
			</a4j:outputPanel>
			<a4j:commandButton id="buttonCrearExpediente" style="visibility:hidden;" 
					action="#{modificarExpediente.begin()}">
				<f:param name="idExpediente" value="-1" />
			</a4j:commandButton>
		</h:form>
		
		<script type="text/javascript">
		function crearExpediente() {
			document.getElementById('idFormResolucion:buttonCrearExpediente').click();
		}
		</script>

		<rich:modalPanel id="panelFirmaApplet" resizeable="false" height="190"
			width="335" rendered="#{crearResolucion.isRenderedFirmar()}">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearresolucion_firma_electronica']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelFirmaApplet')">
				</h:graphicImage>
			</f:facet>
			<applet codebase="#{crearResolucion.urlFirma}exedoc/applet/"
				code="cl.exe.firma.applet.FirmaApplet.class"
				archive="./firmaappletfirmado.jar, ./commons-codec-1.3.jar, ./commons-httpclient-3.1.jar, ./commons-logging-1.1.1.jar, ./bcprov-jdk16-144.jar, ./iText-2.1.7.jar"
				width="315" height="110">
				<param name="url_documento"
					value="#{crearResolucion.urlFirma}exedoc/servlet/getDocumentoXml;jsessionid=#{crearResolucion.sessionId}?#{manager.conversationIdParameter}=#{conversation.id}&#38;documentoId=#{crearResolucion.resolucion.id}&#38;firmadorId=#{usuario.id}" />
				<param name="url_post"
					value="#{crearResolucion.urlFirma}exedoc/servlet/putDocumentoXml;jsessionid=#{crearResolucion.sessionId}?#{manager.conversationIdParameter}=#{conversation.id}&#38;documentoId=#{crearResolucion.resolucion.id}&#38;firmadorId=#{usuario.id}" />
				<param name="url_retorno"
					value="javascript:buscaDocumento(#{conversation.id});" />
				<param name="tipo_firma" value="repositorio" />
				<param name="tarea" value="#{crearResolucion.resolucion.id}" />
				<param name="rut" value="#{usuario.rut}" />
				<param name="rut_ca"
					value="96928180-5;70008310-1;96919050-8;99532830-5;99551740-K;78527970-0" />
			</applet>
			<h:form>
				<a4j:commandButton value="#{messages['crearresolucion_volver']}"
					onclick="Richfaces.hideModalPanel('panelFirmaApplet')"
					immediate="true" />
			</h:form>
			<h:form>
				<a4j:jsFunction name="ejecutaBuscaDocumento"
					action="#{crearResolucion.buscaDocumento2()}" immediate="true" />
				<a4j:jsFunction name="ejecutaBuscaDocumento2"
					action="#{crearResolucion.buscaDocumento2()}" immediate="true" />
			</h:form>
		</rich:modalPanel>
		<script>
		<!--
			function buscaDocumento(conversationId){
				Richfaces.hideModalPanel('panelFirmaApplet');
				Richfaces.showModalPanel('panelEspera');
				ejecutaBuscaDocumento2();
			}
			function buscaDocumentoTomaRegistro(conversationId){
				Richfaces.hideModalPanel('panelFirmaApplet');
				Richfaces.showModalPanel('panelEspera');
				ejecutaBuscaDocumento2();
			}
		-->
		</script>
		<rich:modalPanel id="panelAdjuntarArchivo" minHeight="270"
			minWidth="430" height="270" width="430">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearresolucion_adjuntar_archivo']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 0px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')">
				</h:graphicImage>
			</f:facet>
			<h:form enctype="multipart/form-data">
				<h:panelGrid columns="1">
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearresolucion_materiadp']}</ui:define>
						<h:inputText id="materia" required="true"
							value="#{crearResolucion.materiaArchivo}" />
					</s:decorate>
					<s:decorate id="decorateUpLoadFile" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearresolucion_archivodp']}</ui:define>
						<h:outputText style="font-weight:bold;font-size:10px;" />
						<rich:fileUpload id="upload" immediateUpload="true"
							maxFilesQuantity="1"
							acceptedTypes="#{crearResolucion.tipoArchivo}" listHeight="60px"
							fileUploadListener="#{crearResolucion.listener}"
							addControlLabel="#{messages['crearresolucion_agregar']}"
							allowFlash="false">
							<a4j:support event="onclear"
								action="#{crearResolucion.clearUploadData}"
								reRender="decorateUpLoadFile" />
						</rich:fileUpload>
					</s:decorate>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<a4j:commandButton
						value="#{messages['crearresolucion_agregar_archivo']}"
						action="#{crearResolucion.agregarAntecedente}"
						reRender="archivosAntecedentesList, archivosAntecedentesPanel, panelAdjuntarArchivo"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')" />
					<a4j:commandButton 
						value="#{messages['crearresolucion_volver']}"
						action="#{crearResolucion.salirPanel}"
						reRender="archivosAntecedentesList, archivosAntecedentesPanel, panelAdjuntarArchivo"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')"
						immediate="true" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionDistribucion" resizeable="false"
			height="500" width="900" style="overflow-y: scroll; "
			onhide="#{seleccionarDistribucionDocumento.limpiarDestinatario()}">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearresolucion_seleccionar_distribucion_documento']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 0px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="limpiarBusquedaSeleccionDistribucion()" />
			</f:facet>
			<h:panelGrid id="panelGridSeleccionDistribucion" width="100%">
				<a4j:include viewId="seleccionarDistribucionDocumento.xhtml" />
				<h:form>
					<a4j:jsFunction name="limpiarBusquedaSeleccionDistribucion" 
						action="#{seleccionarPersonasBean.limpiarFormulario(true)}" 
						reRender="idTableDistribucion, idPanelDistribucion, panelGridSeleccionDistribucion" 
						oncomplete="Richfaces.hideModalPanel('panelSeleccionDistribucion')"/>
					<a4j:commandButton 
						value="#{messages['crearresolucion_volver']}"
						onclick="limpiarBusquedaSeleccionDistribucion()" />
				</h:form>
			</h:panelGrid>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionRevisar" resizeable="false"
			height="600" width="900" style="overflow-y: scroll; ">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearresolucion_seleccionar_revisar_borrador']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 0px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					reRender="idPanelRevisar, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionRevisar')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarRevisarBorrador.xhtml" />
			<h:form>
				<a4j:commandButton 
					value="#{messages['crearresolucion_volver']}"
					reRender="idPanelRevisar, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionRevisar')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionVisaciones" resizeable="false"
			height="600" width="900" style="overflow-y: scroll; ">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearresolucion_seleccionar_visadores']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 0px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					reRender="idPanelVisaciones, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionVisaciones')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarVisaciones.xhtml" />
			<h:form>
				<a4j:commandButton 
					value="#{messages['crearresolucion_volver']}"
					reRender="idPanelVisaciones, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionVisaciones')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionFirmas" resizeable="false"
			height="500" width="900" style="overflow-y: scroll; ">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearresolucion_seleccionar_firmantes']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 0px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer" reRender="idPanelFirmas, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionFirmas')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarFirmas.xhtml" />
			<h:form>
				<a4j:commandButton 
					value="#{messages['crearresolucion_volver']}"
					reRender="idPanelFirmas, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionFirmas')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="idConfirmDialogDespacharAprobar"
			resizeable="false" width="400" height="75" moveable="false">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearresolucion_confirmacion_aprobacion_y_despacho_expediente']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogDespacharAprobar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['crearresolucion_desea_aprobar_y_despachar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton 
						value="#{messages['crearresolucion_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespacharAprobar')" />
					<h:commandButton
						value="#{messages['crearresolucion_aprobar_y_despachar']}"
						action="#{crearResolucion.despacharYAprobar()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespacharAprobar');Richfaces.showModalPanel('panelEspera');" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="idConfirmDialogDespacharRechazar"
			resizeable="false" width="400" height="280">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearresolucion_confirmacion_rechazar_y_despacho_expediente']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogDespacharRechazar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['crearresolucion_desea_rechazar_y_despachar_el_expediente']}" />
				<rich:panel style="width:98%; margin:0px auto; margin-bottom:10px;"
					rendered="#{not crearResolucion.borrador}">
					<f:facet name="header">
						#{messages['crearresolucion_observaciones']}
					</f:facet>
					<h:inputTextarea cols="65" rows="10"
						value="#{crearResolucion.observacionRechazo}"
						id="comentariosBorrador"></h:inputTextarea>
				</rich:panel>
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton 
						value="#{messages['crearresolucion_no']}"
						action="#{crearResolucion.limpiaObservaciones()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespacharRechazar')" />
					<h:commandButton
						value="#{messages['crearresolucion_rechazar_y_despachar']}"
						action="#{crearResolucion.despacharYRechazar()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespacharRechazar');Richfaces.showModalPanel('panelEspera');" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>
		
		<rich:modalPanel id="idConfirmDialogDespacharRechazarBorrador"
			resizeable="false" width="400" height="75">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearresolucion_confirmacion_rechazar_y_despacho_expediente']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogDespacharRechazarBorrador')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['crearresolucion_desea_rechazar_y_despachar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton 
						value="#{messages['crearresolucion_no']}"
						action="#{crearResolucion.limpiaObservaciones()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespacharRechazarBorrador')" />
					<h:commandButton
						value="#{messages['crearresolucion_rechazar_y_despachar']}"
						action="#{crearResolucion.despacharYRechazar()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespacharRechazarBorrador');Richfaces.showModalPanel('panelEspera');" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="idConfirmDialogDespachar" resizeable="false"
			width="400" height="75">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearresolucion_confirmacion_despacho_expediente']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['crearresolucion_desea_despachar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton 
						value="#{messages['crearresolucion_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')" />
					<h:commandButton 
						value="#{messages['crearresolucion_despachar']}"
						action="#{crearResolucion.despacharExpediente()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelConfirmacionVolver" resizable="false"
			height="100" width="455" rendered="#{crearResolucion.isEditable()}">
			<f:facet name="header">
				<h:outputText 
					value="#{messages['crearresolucion_confirmacion']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 0px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')"
					reRender="idPanelDocumento">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<div align="center">
					<h:outputText
						value="#{messages['crearresolucion_el_documento_no_ha_sido_guardado_se_perderan_los_cambios']}" />
				</div>
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton
						value="#{messages['crearresolucion_continuar_en_la_misma_pagina']}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
					<h:commandButton
						value="#{messages['crearresolucion_volver_a_la_pagina_anterior']}"
						action="#{crearResolucion.end}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver');Richfaces.showModalPanel('panelEspera');" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>
		
	</ui:define>
</ui:composition>
