<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="../layout/template.xhtml">

	<ui:define name="body">

		<h:form id="crearRespuesta">
			<rich:panel id="panelRespuesta">
				<f:facet name="header">#{messages['crearrespuestadocumentoconsulta_respuesta']}</f:facet>
				<a4j:outputPanel ajaxRendered="true">
					<h:messages globalOnly="true" styleClass="message" />
				</a4j:outputPanel>
				<!-- Encabezado -->
				<h:panelGrid columns="2">
					<h:panelGrid columns="1">
						<h:graphicImage value="/imagenes/logoInstitucion.png" />
						<h:graphicImage id="idImageFirmado" url="/imagenes/firmado.gif"
							rendered="#{crearRespuestaDocumentoConsulta.firmado}" />
						<h:selectOneMenu id="idPlantillasList" immediate="true"
							rendered="#{crearRespuestaDocumentoConsulta.respuesta.id == null}"
							value="#{crearRespuestaDocumentoConsulta.idPlantilla}"
							valueChangeListener="#{crearRespuestaDocumentoConsulta.plantillaListener}">
							<f:selectItems
								value="#{crearRespuestaDocumentoConsulta.obtenerPlantillas()}" />
							<a4j:support event="onchange" immediate="true" ajaxSingle="true"
								process="idTextoRespuesta" reRender="panelTextoRespuesta" />
						</h:selectOneMenu>
					</h:panelGrid>
					<h:panelGroup>
						<h:panelGrid columns="1">
							<s:decorate template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['crearrespuestadocumentoconsulta_carta_respuesta_ndp']}</ui:define>
								<h:inputText
									value="#{crearRespuestaDocumentoConsulta.respuesta.numeroDocumento}"
									required="false" disabled="true" />
							</s:decorate>
							<s:decorate template="../layout/edit.xhtml" for="fechaRespuesta">
								<ui:define name="label">#{messages['crearrespuestadocumentoconsulta_santiago']}</ui:define>
								<rich:calendar id="fechaRespuesta"
									value="#{crearRespuestaDocumentoConsulta.respuesta.fechaDocumentoOrigen}"
									popup="true" datePattern="dd/MM/yyyy" required="false"
									enableManualInput="true" disabled="true" />
							</s:decorate>
						</h:panelGrid>
					</h:panelGroup>
				</h:panelGrid>

				<!-- Cuerpo de la respuesta -->
				<h:panelGrid columns="1" width="100%">
					<h:outputText value="Se&ntilde;or(a)" />
					<h:inputText
						value="#{crearRespuestaDocumentoConsulta.respuesta.destinatario}"
						required="true" size="50"
						readonly="#{crearRespuestaDocumentoConsulta.firmado}" />
					<h:outputText
						value="#{messages['crearrespuestadocumentoconsulta_presente']}" />
				</h:panelGrid>
				<div align="center">
					<a4j:outputPanel id="panelTextoRespuesta">
						<h:inputTextarea id="idTextRespuesta" rows="20" cols="135"
							value="#{crearRespuestaDocumentoConsulta.respuesta.respuesta}"
							readonly="#{crearRespuestaDocumentoConsulta.firmado}" />
						<a4j:support event="onblur" ajaxSingle="true"
							reRender="panelTextoRespuesta" />
					</a4j:outputPanel>
				</div>
				<br />
				<div align="center">
					<h:panelGroup id="panelAdjuntarArchivos">
						<h:panelGrid columns="2">
							<h:outputText
								value="#{messages['crearrespuestadocumentoconsulta_adjuntar_archivosdp']}"
								style="vertical-align:top;" />
							<rich:fileUpload id="subirArchivo" listHeight="60px"
								listWidth="250" immediateUpload="true" acceptedTypes="*"
								addControlLabel="Agregar" uploadControlLabel="Subir"
								clearAllControlLabel="Limpiar Todo"
								disabled="#{crearRespuestaDocumentoConsulta.firmado}"
								fileUploadListener="#{crearRespuestaDocumentoConsulta.listener}">
								<a4j:support event="onclear" reRender="panelAdjuntarArchivos" />
							</rich:fileUpload>
						</h:panelGrid>
					</h:panelGroup>
				</div>
				<div align="center">
					<h:panelGrid columns="1">
						<a4j:commandLink
							value="#{crearRespuestaDocumentoConsulta.archivos.get(0).nombreArchivo}"
							action="#{crearRespuestaDocumentoConsulta.verArchivo()}"
							rendered="#{crearRespuestaDocumentoConsulta.archivos.size != 0 and 
								crearRespuestaDocumentoConsulta.archivos.get(0).id != null}" />
						<h:outputText
							value="crearRespuestaDocumentoConsulta.archivos.get(0).nombreArchivo"
							rendered="#{crearRespuestaDocumentoConsulta.archivos.size != 0 and 
								crearRespuestaDocumentoConsulta.archivos.get(0).id != null}" />
					</h:panelGrid>
				</div>


			</rich:panel>
			<h:panelGrid columns="5" width="50%" id="idBotonesDocumento">
				<a4j:commandButton
					value="#{messages['crearrespuestadocumentoconsulta_volver']}"
					action="#{crearRespuestaDocumentoConsulta.end()}" immediate="true" />
				<a4j:commandButton
					value="#{messages['crearrespuestadocumentoconsulta_guardar']}"
					action="#{crearRespuestaDocumentoConsulta.guardarRespuesta()}"
					disabled="#{crearRespuestaDocumentoConsulta.firmado}" />
				<a4j:commandButton
					value="#{messages['crearrespuestadocumentoconsulta_publicar_a_usuario_externo']}"
					action="#{crearRespuestaDocumentoConsulta.publicarAUsuarioExterno()}"
					rendered="false" />
				<a4j:commandButton id="firmar"
					value="#{messages['crearrespuestadocumentoconsulta_firmar']}"
					disabled="#{crearRespuestaDocumentoConsulta.firmado}"
					rendered="#{identity.hasRole('firmarRespuestaCiudadana') and crearRespuestaDocumentoConsulta.respuesta.id != null}"
					onclick="Richfaces.showModalPanel('panelFirmaApplet')"
					reRender="crearRespuesta, idBotonesDocumento">
					<a4j:support event="oncomplete"
						action="#{crearRespuestaDocumentoConsulta.buscaDocumento}" />
				</a4j:commandButton>
				<a4j:htmlCommandLink border="0px" immediate="true"
					action="#{crearRespuestaDocumentoConsulta.verRespuestaPDF()}"
					rendered="#{crearRespuestaDocumentoConsulta.firmado}">
					<h:graphicImage border="0px" url="/imagenes/ver_pdf.gif"
						alt="#{messages['crearrespuestadocumentoconsulta_alt_descargar_en_formato_pdf']}" />
				</a4j:htmlCommandLink>
			</h:panelGrid>
		</h:form>

		<rich:modalPanel id="panelFirmaApplet" resizeable="false" height="190"
			width="335">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearrespuestadocumentoconsulta_firma_electronica']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelFirmaApplet')">
				</h:graphicImage>
			</f:facet>
			<applet name="tarea#{crearRespuestaDocumentoConsulta.respuesta.id}"
				codebase="#{crearRespuestaDocumentoConsulta.urlFirma}exedoc/applet/"
				code="cl.exe.firma.applet.FirmaApplet.class"
				archive="./firmaappletfirmado.jar, ./commons-codec-1.3.jar, ./commons-httpclient-3.1.jar, ./commons-logging-1.1.1.jar, ./bcprov-jdk16-144.jar, ./iText-2.1.7.jar"
				width="315" height="110">
				<param name="url_documento"
					value="#{crearRespuestaDocumentoConsulta.urlFirma}exedoc/servlet/getDocumentoXml?documentoId=#{crearRespuestaDocumentoConsulta.respuesta.id}&#38;firmadorId=#{usuario.id}" />
				<param name="url_post"
					value="#{crearRespuestaDocumentoConsulta.urlFirma}exedoc/servlet/putDocumentoXml?documentoId=#{crearRespuestaDocumentoConsulta.respuesta.id}&#38;firmadorId=#{usuario.id}" />
				<param name="url_retorno"
					value="#{crearRespuestaDocumentoConsulta.urlFirma}exedoc/crearRespuestaDocumentoConsulta.seam?#{manager.conversationIdParameter}=#{conversation.id}&#38;actionMethod=crearRespuestaDocumentoConsulta.xhtml:crearRespuestaDocumentoConsulta.buscaDocumento" />
				<param name="tipo_firma" value="avanzada" />
				<param name="tarea"
					value="#{crearRespuestaDocumentoConsulta.respuesta.id}" />
				<param name="rut" value="#{usuario.rut}" />
				<param name="rut_ca"
					value="96928180-5;70008310-1;96919050-8;99532830-5;99551740-K" />
			</applet>
			<h:form>
				<a4j:commandButton
					value="#{messages['crearrespuestadocumentoconsulta_volver']}"
					onclick="Richfaces.hideModalPanel('panelFirmaApplet')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>


	</ui:define>

</ui:composition>
