<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">


	<h:form id="formAgregarDocumentoPapel" enctype="multipart/form-data">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="false" styleClass="message" />
		</a4j:outputPanel>

		<h:panelGrid columns="4">
			<h:panelGroup><h:outputText value="#{messages['crearexpedientetabdocumentopapel_tipo_documentodp']}" style="font-weight:bold;" /><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
			<h:selectOneMenu id="tipoDocumentosList"
					valueChangeListener="#{crearExpediente.verificaTipoDocumento}"
					value="#{crearExpediente.tipoDocumentoID}" style=" width : 250px; "
					immediate="true">
				<a4j:support event="onchange" reRender="hojas" />
				<f:selectItems value="#{crearExpediente.listDocumentosNoElectronicos}" />
			</h:selectOneMenu>
			<h:panelGroup><h:outputText value="#{messages['crearexpedientetabdocumentopapel_n_documentodp']}" style="font-weight:bold;" /><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
			<h:inputText id="nroDocumento" 
					style=" width : 250px; " maxlength="20"
					value="#{crearExpediente.documentoPapel.numeroDocumento}"
					validator="#{regexValidator.validate}"
					validatorMessage="Caracteres Invalidos o Numero muy Largo">
				<f:validateLength minimum="1" maximum="255" />
				<f:attribute name="regexExcl" value="[%|#|?]+" />
				<a4j:support event="onblur" reRender="nrodocid" />
			</h:inputText>
																                            
			<h:outputText value="#{messages['crearexpedientetabdocumentopapel_reservadodp']}" style="font-weight:bold;" />
			<h:selectBooleanCheckbox
					style="border: none; background-color:#FFFFFF; "
					value="#{crearExpediente.documentoPapel.reservado}" />
			<h:outputText value="" />
			<h:outputText value="" />  

			<h:outputText value="#{messages['crearexpedientetabdocumentopapel_antecedentedp']}" style="font-weight:bold;" />
			<h:inputTextarea id="antecedente" required="false" rows="6"
					cols="30" value="#{crearExpediente.documentoPapel.antecedentes}"
					style=" width : 250px; "/>
			<h:panelGroup><h:outputText value="#{messages['crearexpedientetabdocumentopapel_materiadp']}" style="font-weight:bold;" /><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
			<h:inputTextarea id="materia"  rows="6" cols="30"
					value="#{crearExpediente.documentoPapel.materia}"
					style=" width : 250px; "/>

			<h:panelGroup><h:outputText value="#{messages['crearexpedientetabdocumentopapel_fecha_origen']}" style="font-weight:bold;" /><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
			<rich:calendar popup="true" datePattern="dd/MM/yyyy"
					id="idCalendarFechaDocumento2" pattern="dd/MM/yyyy"
					value="#{crearExpediente.documentoPapel.fechaDocumentoOrigen}"
					enableManualInput="false" />
			<h:outputText value="#{messages['crearexpedientetabdocumentopapel_plazo']}" style="font-weight:bold;" />
			<rich:calendar popup="true" datePattern="dd/MM/yyyy"
					id="idCalendarFechaDocumento" pattern="dd/MM/yyyy"
					value="#{crearExpediente.documentoPapel.plazo}"
					enableManualInput="false" />
                
			<h:outputText value="#{messages['crearexpedientetabdocumentopapel_nivel_urgenciadp']}" style="font-weight:bold;" />
			<h:selectOneMenu id="nivelurgencialist"
					value="#{crearExpediente.idAlerta}" immediate="true"
					style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;">
				<f:selectItems value="#{crearExpediente.nivelesUrgencia}" />
			</h:selectOneMenu>
			<h:outputText value="" />
			<h:outputText value="" />

			<h:panelGroup><h:outputText value="#{messages['crearexpedientetabdocumentopapel_dedp']}" style="font-weight:bold;" /><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
			<h:inputText value="#{crearExpediente.documentoPapel.emisor}"
					style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;" />			
            <h:outputText value="#{messages['crearexpedientetabdocumentopapel_n_hojasdp']}" style="font-weight:bold;" />				
			<h:inputText maxlength="10" style=" width: 50px; "
					value="#{crearExpediente.documentoPapel.numeroHojas}" />

			<h:panelGroup><h:outputText value="#{messages['crearexpedientetabdocumentopapel_adp']}" style="font-weight:bold;" /><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
			<h:panelGroup id="ADocumentoPapel">
				<table border="0" cellpadding="0" cellspacing="0" align="left">
					<tr>
						<td>	
                            <h:inputText
								value="#{crearExpediente.destinatario}" disabled="false"
								rendered="#{empty crearExpediente.destinatariosDocumento}"
								id="destinatario"
								style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;" />
							<rich:dataTable
								rendered="#{not empty crearExpediente.destinatariosDocumento}"
								var="itemDestinatarios" id="ddListPapel"
								value="#{crearExpediente.destinatariosDocumento}"
								style="FONT-SIZE: medium; width : 250px; border: 1px solid #BBBBBB; background: #F0F8FF; color: black; font-family: Arial,sans-serif;">
								<rich:subTable value="itemDoc">
									<rich:column>
										<h:outputLabel value="#{itemDestinatarios.descripcion}" />
									</rich:column>
								</rich:subTable>
							</rich:dataTable>
						</td>
						<td>
							<a4j:commandButton
								image="/imagenes/add.png" id="botonAgregarDestinatarioPapel"
								style="border: none; padding-left:5px; vertical-align:middle; background-color:#FFFFFF;"
								alt="#{messages['crearexpedientetabdocumentopapel_alt_agregar_destinatarios']}"
								reRender="ADocumentoPapel, ddListPapel, panelGridSeleccionDestinatariosPapel"
								action="#{seleccionarDestinatarioDocumento.limpiarDestinatario()}" 
								oncomplete="Richfaces.showModalPanel('panelSeleccionDestinatariosPapel')" />
						</td>
					</tr>
				</table>
			</h:panelGroup>
		</h:panelGrid>
		<!-- Botones Guardar y Crear -->
		<table width="100%">
			<tr>
				<td align="left">
					<h:panelGrid columns="2">
						<h:commandButton id="salir"
							value="#{messages['crearexpedientetabdocumentopapel_cancelar']}"
							action="#{crearExpediente.end}" immediate="true" />
						<a4j:commandButton id="idButtonAgregarDocumentoPapel"
							value="#{messages['crearexpedientetabdocumentopapel_guardarcrear']}"
							status="waitStatu"
							action="#{crearExpediente.agregarDocumentoPapel}"
							oncomplete="if(#{crearExpediente.validarComplete}) {crearExpediente();}" />
					</h:panelGrid>
				</td>
			</tr>
		</table>
	</h:form>

	<rich:modalPanel id="panelSeleccionDestinatariosPapel"
		style="overflow-y: scroll;" resizeable="false" height="500" width="900" 
		onhide="#{seleccionarDestinatarioDocumento.limpiarDestinatario()}">
		<f:facet name="header">
			<h:outputText
				value="#{messages['crearexpedientetabdocumentopapel_seleccionar_destinatario_documento']}"
				style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 0px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
		</f:facet>
		<f:facet name="controls">
			<h:graphicImage value="/imagenes/icon-close.png"
				style="cursor:pointer"
				onclick="limpiarBusquedaSeleccionDestinatariosPapel()"/>
		</f:facet>
		<h:panelGrid id="panelGridSeleccionDestinatariosPapel"  width="100%">
			<a4j:include viewId="seleccionarDestinatarioDocumento.xhtml" />
			<h:form>
				<a4j:jsFunction name="limpiarBusquedaSeleccionDestinatariosPapel" 
					action="#{seleccionarPersonasBean.limpiarFormulario(true)}"
					reRender="ADocumentoPapel, ddListPapel, panelGridSeleccionDestinatariosPapel" 
					oncomplete="Richfaces.hideModalPanel('panelSeleccionDestinatariosPapel')"/>
				<a4j:commandButton
					value="#{messages['crearexpedientetabdocumentopapel_volver_al_expediente']}"
					onclick="limpiarBusquedaSeleccionDestinatariosPapel()"/>
			</h:form>
		</h:panelGrid>
	</rich:modalPanel>
	<rich:modalPanel id="panelEspera" height="50">
		<f:facet name="header">
			<h:outputText
				value="#{messages['por_favor_espere']}" />
		</f:facet>
		<h:outputText
			value="#{messages['realizando_operacion']}" />
	</rich:modalPanel>

	<a4j:status id="waitStatu" forceId="true"
		onstart="Richfaces.showModalPanel('panelEspera')"
		onstop="Richfaces.hideModalPanel('panelEspera')" />
</ui:composition>
