<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"[
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml" xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<!-- #{crearAnulacionResolucion.begin()} -->
		<h:form id="formPrincipal">
			<a4j:outputPanel ajaxRendered="true">
				<h:messages globalOnly="true" styleClass="message" />
			</a4j:outputPanel>

			<rich:panel>
				<f:facet name="header">
					<span>#{messages['crearanulacionresolucion_crear_anulacion_resolucion']}</span>
				</f:facet>

				<h:panelGrid columns="2" cellspacing="2" cellpadding="2">
					<h:graphicImage id="logoGobierno"
						url="/imagenes/logoInstitucion.gif" />
					<h:panelGrid columns="3">
						<h:outputLabel
							value="#{messages['crearanulacionresolucion_resolucion_n']}"
							style="font-weight:bold;" />
						<h:outputLabel value=":" style="font-weight:bold;" />
						<h:inputText
							value="#{crearAnulacionResolucion.anulacionResolucion.numeroResolucion}" />

						<h:outputLabel
							value="#{messages['crearanulacionresolucion_fecha_resolucion;']}"
							style="font-weight:bold;" />
						<h:outputLabel value=":" style="font-weight:bold;" />
						<rich:calendar popup="true" datePattern="dd/MM/yyyy"
							pattern="dd/M/yyyy" required="false" enableManualInput="false"
							locale="#{crearAnulacionResolucion.locale}"
							value="#{crearAnulacionResolucion.anulacionResolucion.fechaResolucion}" />
					</h:panelGrid>
				</h:panelGrid>
				<br />
				<h:panelGrid>
					<h:outputLabel style="font-weight:bold;"
						value="#{messages['crearanulacionresolucion_division_y_unidad_que_solicita_anulardp']}" />
					<h:outputText
						value="#{crearAnulacionResolucion.anulacionResolucion.solicitante.cargo.unidadOrganizacional.descripcion} - #{crearAnulacionResolucion.anulacionResolucion.solicitante.cargo.unidadOrganizacional.departamento.descripcion} - #{crearAnulacionResolucion.anulacionResolucion.solicitante.cargo.unidadOrganizacional.departamento.division.descripcion}." />
				</h:panelGrid>
				<br />
				<h:panelGrid>
					<h:outputLabel
						value="#{messages['crearanulacionresolucion_funcionario_solicitantedp']}"
						style="font-weight:bold;" />
					<h:outputText
						value="#{crearAnulacionResolucion.anulacionResolucion.solicitante.cargo.descripcion} - #{crearAnulacionResolucion.anulacionResolucion.solicitante.nombreApellido}." />
				</h:panelGrid>
				<br />
				<h:panelGrid>
					<h:outputLabel
						value="#{messages['crearanulacionresolucion_tema_resoluciondp']}"
						style="font-weight:bold;" />
					<h:inputTextarea
						value="#{crearAnulacionResolucion.anulacionResolucion.temaResolucion}"
						cols="100" rows="3" />
				</h:panelGrid>
				<br />
				<h:panelGrid>
					<h:outputLabel
						value="#{messages['crearanulacionresolucion_respaldo_de_la_anulaciondp']}"
						style="font-weight:bold;" />
					<h:panelGrid columns="6" cellpadding="3" cellspacing="3">
						<h:outputLabel
							value="#{messages['crearanulacionresolucion_respaldo_']}"
							style="font-weight:bold;" />
						<h:outputLabel value=":" style="font-weight:bold;" />
						<h:inputText
							value="#{crearAnulacionResolucion.anulacionResolucion.respaldoAnulacion}" />
						<h:outputLabel
							value="#{messages['crearanulacionresolucion_fecha_respaldo']}"
							style="font-weight:bold;" />
						<h:outputLabel value=":" style="font-weight:bold;" />
						<rich:calendar popup="true" datePattern="dd/MM/yyyy"
							pattern="dd/M/yyyy" required="false" enableManualInput="false"
							locale="#{crearAnulacionResolucion.locale}"
							value="#{crearAnulacionResolucion.anulacionResolucion.fechaRespaldo}" />
					</h:panelGrid>
				</h:panelGrid>
				<br />
				<h:panelGrid>
					<h:outputLabel
						value="#{messages['crearanulacionresolucion_justificacion_anulaciondp']}"
						style="font-weight:bold;" />
					<h:inputTextarea
						value="#{crearAnulacionResolucion.anulacionResolucion.justificacion}"
						cols="100" rows="3" />
				</h:panelGrid>
				<h:panelGrid columns="3">
					<h:outputLabel
						value="#{messages['crearanulacionresolucion_fecha']}"
						style="font-weight:bold;" />
					<h:outputLabel value=":" style="font-weight:bold;" />
					<h:outputText
						value="#{crearAnulacionResolucion.anulacionResolucion.fechaCreacion}" />
				</h:panelGrid>
				<h:panelGrid>
					<h:outputLabel
						value="#{messages['crearanulacionresolucion_antecedentes_del_jefe_solicitantedp']}"
						style="font-weight:bold;" />
					<h:panelGrid columns="3" cellpadding="3" cellspacing="3">
						<h:outputLabel
							value="#{messages['crearanulacionresolucion_nombre']}"
							style="font-weight:bold;" />
						<h:outputLabel value=":" style="font-weight:bold;" />
						<h:inputText size="90"
							value="#{crearAnulacionResolucion.anulacionResolucion.jefe}" />
						<h:outputLabel
							value="#{messages['crearanulacionresolucion_cargo']}"
							style="font-weight:bold;" />
						<h:outputLabel value=":" style="font-weight:bold;" />
						<h:inputText size="90"
							value="#{crearAnulacionResolucion.anulacionResolucion.cargo}" />
					</h:panelGrid>
				</h:panelGrid>
			</rich:panel>
			<script type="">
	function abrirVentana(){ 
       
	}
    </script>
			<h:panelGrid columns="5">
				<a4j:commandButton
					value="#{messages['crearanulacionresolucion_guardar']}"
					id="guardar"
					action="#{crearAnulacionResolucion.guardarAnulacion()}" />
				<a4j:commandButton
					value="#{messages['crearanulacionresolucion_volver']}" id="volver"
					onclick="Richfaces.showModalPanel('panelConfirmacionVolver')" />
				<a4j:commandButton
					value="#{messages['crearanulacionresolucion_limpiar']}"
					id="limpiar"
					action="#{crearAnulacionResolucion.limpiarFormulario()}" />

				<a4j:commandButton title="Aceptar Anulacion"
					value="#{messages['crearanulacionresolucion_aceptar']}"
					id="aceptar"
					action="#{crearAnulacionResolucion.aceptarAnulacion()}" />

				<a4j:htmlCommandLink immediate="true" border="110px" target="_blank"
					action="anulacionResolucionPDF">
					<a4j:commandButton
						value="#{messages['crearanulacionresolucion_imprimir']}" />
				</a4j:htmlCommandLink>

			</h:panelGrid>

		</h:form>

		<rich:modalPanel id="panelConfirmacionVolver" resizeable="false"
			height="100" width="455"
			rendered="#{crearAnulacionResolucion.isEditable()}">
			<f:facet name="header">
				<h:outputLabel
					value="#{messages['crearanulacionresolucion_confirmacion']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
			</f:facet>
			<h:form>
				<div align="center">
					<h:outputText
						value="#{messages['crearanulacionresolucion_el_documento_no_ha_sido_guardado_se_perderan_los_cambios']}" />
				</div>
				<h:panelGrid columns="2" width="100%" style="text-align:center">
					<h:commandButton
						value="#{messages['crearanulacionresolucion_continuar_en_la_misma_pagina']}"
						style="width:200px"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
					<h:commandButton action="#{crearAnulacionResolucion.end}"
						style="width:200px"
						value="#{messages['crearanulacionresolucion_volver_a_la_pagina_anterior']}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>
	</ui:define>

</ui:composition>
