<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="../layout/template.xhtml">

	<ui:define name="body">
	
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="false" styleClass="message" />
		</a4j:outputPanel>
		
		<h:form>
			<rich:panel id="agregarDocumento">
				<f:facet name="header">
					<span>#{messages['creardocumentopapel_informacion_de_ingreso']}</span>
				</f:facet>

				<rich:panel>
					<h:panelGrid columns="4">
						<h:panelGroup><h:outputText value="#{messages['creardocumentopapel_tipo_documentodp']}" style="font-weight: bold;"/><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
						<h:selectOneMenu value="#{crearDocumentoPapel.tipoDocumentoID}"
							styleClass="input250"
							disabled="#{not crearDocumentoPapel.documento.enEdicion}">
							<f:selectItems
								value="#{crearDocumentoPapel.listTipoDocumentosPapel}" />
						</h:selectOneMenu>
						<h:panelGroup><h:outputText value="#{messages['creardocumentopapel_n_documentodp']}" style="font-weight: bold;"/><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
						<h:inputText maxlength="20"
							value="#{crearDocumentoPapel.documento.numeroDocumento}"
							styleClass="input250"
							disabled="#{not crearDocumentoPapel.documento.enEdicion}" />
							
						<h:outputText value="#{messages['creardocumentopapel_reservadodp']}" style="font-weight: bold;"/>
						<h:selectBooleanCheckbox
							value="#{crearDocumentoPapel.documento.reservado}"
							disabled="#{not crearDocumentoPapel.documento.enEdicion}" />
						<h:outputText value=""/>
						<h:outputText value=""/>
						
						<h:outputText value="#{messages['creardocumentopapel_antecedentedp']}" style="font-weight: bold;"/>
						<h:inputTextarea rows="6"
							value="#{crearDocumentoPapel.documento.antecedentes}"
							styleClass="input250"
							disabled="#{not crearDocumentoPapel.documento.enEdicion}" />
						<h:panelGroup><h:outputText value="#{messages['creardocumentopapel_materiadp']}" style="font-weight: bold;"/><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
						<h:inputTextarea rows="6"
							value="#{crearDocumentoPapel.documento.materia}"
							disabled="#{not crearDocumentoPapel.documento.enEdicion or crearDocumentoPapel.documento.reservado}"
							styleClass="input250" />
						
						<h:panelGroup><h:outputText value="#{messages['creardocumentopapel_fecha_origendp']}" style="font-weight: bold;"/><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
						<rich:calendar popup="true" datePattern="dd/MM/yyyy"
							pattern="dd/MM/yyyy"
							value="#{crearDocumentoPapel.documento.fechaDocumentoOrigen}"
							enableManualInput="false"
							disabled="#{not crearDocumentoPapel.documento.enEdicion}"/>
						<h:outputText value="#{messages['creardocumentopapel_plazodp']}" style="font-weight: bold;"/>
						<rich:calendar popup="true" datePattern="dd/MM/yyyy"
							pattern="dd/MM/yyyy"
							value="#{crearDocumentoPapel.documento.plazo}"
							enableManualInput="false"
							disabled="#{not crearDocumentoPapel.documento.enEdicion}"/>
						
						<h:outputText value="#{messages['creardocumentopapel_nivel_urgencia_dp']}" style="font-weight: bold;"/>
						<h:selectOneMenu 
							value="#{crearDocumentoPapel.idAlerta}" immediate="true"
							disabled="#{not crearDocumentoPapel.documento.enEdicion}"
							style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;">
							<f:selectItems value="#{crearDocumentoPapel.nivelesUrgencia}" />
						</h:selectOneMenu>
						<h:outputText value=""/>
						<h:outputText value=""/>

						<h:panelGroup><h:outputText value="#{messages['creardocumentopapel_dedp']}" style="font-weight: bold;"/><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
						<h:inputText 
							value="#{crearDocumentoPapel.documento.emisor}"
							styleClass="input250"
							disabled="#{not crearDocumentoPapel.documento.enEdicion}" />
						<h:outputText value="#{messages['creardocumentopapel_n_hojasdp']}" style="font-weight: bold;"/>
						<h:inputText size="3"
							value="#{crearDocumentoPapel.documento.numeroHojas}"
							disabled="#{not crearDocumentoPapel.documento.enEdicion}" />
						
						<h:panelGroup><h:outputText value="#{messages['creardocumentopapel_adp']}" style="font-weight: bold;"/><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
						<h:panelGroup id="ADocumentoPapel">
							<table border="0" cellpadding="0" cellspacing="0" align="left">
								<tr>
									<td>
										<h:inputText 
											rendered="#{empty crearDocumentoPapel.destinatariosDocumento}"
											value="#{crearDocumentoPapel.destinatario}" id="destinatario"
											styleClass="input250" />
										<rich:dataTable id="ddListPapel" 
											rendered="#{not empty crearDocumentoPapel.destinatariosDocumento}"
											var="itemDestinatarios" 
											value="#{crearDocumentoPapel.destinatariosDocumento}"
											style="border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;"
											styleClass="input250">
											<rich:subTable value="itemDoc">
												<rich:column>
													<h:outputLabel value="#{itemDestinatarios.descripcion}" />
												</rich:column>
											</rich:subTable>
										</rich:dataTable>
									</td>
									<td>
										<a4j:commandButton
											image="/imagenes/add.png"
											style="border: none; padding-left:3px; vertical-align:middle; background:transparent;"
											alt="#{messages['creardocumentopapel_alt_agregar_destinatarios']}"
											oncomplete="Richfaces.showModalPanel('panelSeleccionDestinatarios')"
											action="#{seleccionarDestinatarioDocumento.limpiarDestinatario()}"
											reRender="ADocumentoPapel, ddListPapel, panelGridSeleccionDestinatarios"
											rendered="#{crearDocumentoPapel.documento.enEdicion}" />
									</td>
								</tr>
							</table>
						</h:panelGroup>
					</h:panelGrid>
				</rich:panel>
			</rich:panel>

			<h:panelGrid columns="2" style="padding:5px;">
				<h:commandButton id="salir"
					value="#{messages['creardocumentopapel_volver']}"
					action="#{crearDocumentoPapel.end}" 
					onclick="Richfaces.showModalPanel('panelEspera')" />
				<h:commandButton id="agregarDocumentoExpediente"
					value="#{messages['creardocumentopapel_guardar']}"
					onclick="Richfaces.showModalPanel('panelEspera')"
					action="#{crearDocumentoPapel.agregarDocumento}"
					rendered="#{crearDocumentoPapel.isRenderedBotonGuardar() and crearDocumentoPapel.documento.enEdicion}" />
			</h:panelGrid>

		</h:form>


		<rich:modalPanel id="panelSeleccionDestinatarios" resizeable="false"
			style="overflow-y: scroll;" height="500" width="900" 
			onhide="#{seleccionarDestinatarioDocumento.limpiarDestinatario()}">
			<f:facet name="header">
				<h:outputText
					value="#{messages['creardocumentopapel_seleccionar_destinatario_documento']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>

			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="limpiarBusquedaSeleccionDestinatarios()"/>
			</f:facet>
			<h:panelGrid id="panelGridSeleccionDestinatarios" width="100%">
				<a4j:include viewId="seleccionarDestinatarioDocumento.xhtml" />
				<h:form>
					<a4j:jsFunction name="limpiarBusquedaSeleccionDestinatarios" 
						action="#{seleccionarPersonasBean.limpiarFormulario(true)}" 
						reRender="ADocumentoPapel, ddListPapel, panelGridSeleccionDestinatarios" 
						oncomplete="Richfaces.hideModalPanel('panelSeleccionDestinatarios')"/>
					<a4j:commandButton
						value="#{messages['creardocumentopapel_volver']}"
						onclick="limpiarBusquedaSeleccionDestinatarios()"/>
				</h:form>
			</h:panelGrid>
		</rich:modalPanel>
		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>

