<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">

		<h:form id="crearProvidencia">
			<a4j:outputPanel ajaxRendered="true">
				<h:messages globalOnly="true" styleClass="message" />
			</a4j:outputPanel>
			<rich:panel id="idPanelDocumento">
				<f:facet name="header">#{messages['crearprovidencia_providencia']}</f:facet>
				<h:panelGrid columns="2">
					<h:panelGrid columns="1" style="textAlign: center;">
						<h:graphicImage id="logoGobierno"
							url="/imagenes/logoInstitucion.png" />
						<h:graphicImage id="idImageFirmado" url="/imagenes/firmado.gif"
							rendered="#{crearProvidencia.firmado}" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearprovidencia_providencia_n']}</ui:define>
							<h:inputText required="false"
								value="#{crearProvidencia.providencia.numeroDocumento}"
								disabled="true" />
						</s:decorate>
						<s:decorate id="fechaDocumentoField"
							template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearprovidencia_santiago']}</ui:define>
							<rich:calendar popup="true" datePattern="dd/MM/yyyy"
								id="fechaDocumento" pattern="dd/M/yyyy"
								value="#{crearProvidencia.providencia.fechaDocumentoOrigen}"
								required="false" enableManualInput="true" disabled="true" />
						</s:decorate>
						<s:decorate id="fechaCreacionField"
							template="../layout/edit.xhtml" style="visibility:hidden;">
							<rich:calendar datePattern="dd/MM/yyyy HH:mm" id="fechaCreacion"
								pattern="dd/MM/yyyy HH:mm" disabled="true"
								value="#{crearProvidencia.providencia.fechaCreacion}"
								required="false" />
						</s:decorate>
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="1" width="100%">
					<s:decorate template="../layout/edit.xhtml"
						id="idDecorateEmisorDocumento">
						<ui:define name="label">#{messages['crearprovidencia_de_dp']}</ui:define>
						<h:inputText required="true" style=" width : 400px;"
							value="#{crearProvidencia.providencia.emisor}" disabled="true" />
						<a4j:commandButton
							onclick="Richfaces.showModalPanel('panelSeleccionEmisor')"
							value="#{messages['crearprovidencia_cambiar_emisor']}"
							reRender="idDecorateEmisorDocumento, idBotonesDocumento"
							immediate="true" disabled="#{not crearProvidencia.isEditable()}" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml"
						id="idDestinatariosDocumento">
						<ui:define name="label">#{messages['crearprovidencia_a_dp']}<s:span
								styleClass="required">*</s:span>
						</ui:define>
						<h:panelGrid columns="2" border="0" cellpadding="0"
							cellspacing="0">
							<rich:dataTable
								rendered="#{not empty crearProvidencia.destinatariosDocumento}"
								var="itemDestinatarios" id="idListDestinatariosDocumento"
								value="#{crearProvidencia.destinatariosDocumento}"
								style=" width : 400px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;"
								required="true">
								<rich:subTable value="itemDoc">
									<rich:column>
										<h:outputLabel value="#{itemDestinatarios.descripcion}" />
									</rich:column>
								</rich:subTable>
							</rich:dataTable>
							<a4j:commandButton
								onclick="Richfaces.showModalPanel('panelSeleccionDestinatarios')"
								value="#{messages['crearprovidencia_agregar_destinatario']}"
								reRender="idDestinatariosDocumento, idListDestinatariosDocumento"
								immediate="true" disabled="#{not crearProvidencia.isEditable()}" />
						</h:panelGrid>
					</s:decorate>
					<s:decorate id="plazoDecorate" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearprovidencia_plazo']}</ui:define>
						<rich:calendar id="plazoCal" popup="true"
							datePattern="dd/MM/yyyy"
							pattern="dd/MM/yyyy"
							value="#{crearProvidencia.providencia.plazo}" required="true"
							enableManualInput="false"
							disabled="#{not crearProvidencia.isEditable()}"/>
					</s:decorate>
				</h:panelGrid>

				<h:panelGrid columns="2">
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[1]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_tomar_conocimiento_y_fines']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[2]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_dar_cumplimiento']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[3]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat value="#{messages['crearprovidencia_informeme']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[4]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_estudiar_y_proponer']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[5]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_proponer_documento_de_respuesta']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[6]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat value="Elaborar y/o Proponer Resolucion" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[7]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_acumular_antecedentes']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[8]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_retener_hasta_nueva_orden']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[9]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_conforme_con_proposicion']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[10]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_informar_al_interesado']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[11]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_devolver_antecedentes']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[12]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_conversarlo_conmigo']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[13]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_activar_tramite']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[14]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat value="#{messages['crearprovidencia_archivar']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[15]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat value="#{messages['crearprovidencia_su_opinion']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[16]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_ampliar_informe']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[17]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_ser_de_su_competencia']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[18]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_elaborar_contrato']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[19]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_informar_sumario']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[20]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_contestar_recurso']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[21]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="Recopilar Antecedentes y/o Preparar Informe" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[22]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat value="#{messages['crearprovidencia_notificar']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[24]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat
							value="#{messages['crearprovidencia_adjuntar_antecedente_para_su_pago']}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:selectBooleanCheckbox
							value="#{crearProvidencia.accionesProvidencia[23]}"
							disabled="#{not crearProvidencia.isEditable()}" />
						<h:outputFormat value="#{messages['crearprovidencia_otro']}" />
					</h:panelGroup>
				</h:panelGrid>
				<br />

				<h:inputTextarea rows="10" cols="50" style="font-size:120%;"
					value="#{crearProvidencia.providencia.observaciones}"
					readonly="#{not crearProvidencia.isEditable()}" />

				<br />
				<rich:panel id="idPanelAntecedentes">
					<f:facet name="header">#{messages['crearprovidencia_antecedentes']}</f:facet>
					<a4j:commandButton
						value="#{messages['crearprovidencia_agregar_antecedente']}"
						onclick="Richfaces.showModalPanel('panelAdjuntarArchivo')"
						disabled="#{not crearProvidencia.isEditable()}" />
					<rich:dataTable width="100%"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						var="itemDoc" value="#{crearProvidencia.listDocumentosAnexo}"
						rendered="#{not empty crearProvidencia.listDocumentosAnexo}"
						id="idTableDocumentosAntecedentes">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText value="#{messages['crearprovidencia_ver']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearprovidencia_titulo']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearprovidencia_materia']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearprovidencia_adjuntado_por']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearprovidencia_fecha']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearprovidencia_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="itemDoc">
							<rich:column>
								<a4j:htmlCommandLink border="0px"
									action="#{crearProvidencia.verArchivo(itemDoc.archivo.id)}"
									rendered="#{itemDoc.id != null}">
									<h:graphicImage border="0px"
										alt="#{itemDoc.archivo.nombreArchivo}"
										url="/imagenes/ver_detalle_01.gif" />
								</a4j:htmlCommandLink>
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDoc.archivo.nombreArchivo}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDoc.materia}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDoc.autor.nombreApellido}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{itemDoc.fechaCreacion}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
								</h:outputLabel>
							</rich:column>
							<rich:column>
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									reRender="idTableDocumentosAntecedentes, idPanelAntecedentes"
									action="#{crearProvidencia.eliminarAnexoDocumento(itemDoc.idNuevoDocumento)}"
									rendered="#{itemDoc.enEdicion}"
									disabled="#{not crearProvidencia.isEditable()}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</rich:panel>

			</rich:panel>
			<br />
			<h:panelGrid columns="7" cellspacing="3" id="idBotonesDocumento">
				<a4j:commandButton id="volver1"
					value="#{messages['crearprovidencia_volver']}"
					rendered="#{crearProvidencia.isEditable()}"
					onclick="Richfaces.showModalPanel('panelConfirmacionVolver')"
					immediate="true" />
				<a4j:commandButton id="volver2"
					value="#{messages['crearprovidencia_volver']}"
					rendered="#{not crearProvidencia.isEditable()}"
					action="#{crearProvidencia.end()}" immediate="true">
					<a4j:support event="oncomplete"
						action="#{modificarExpediente.begin()}">
						<f:param name="idExpediente" value="-1" />
					</a4j:support>
				</a4j:commandButton>
				<h:commandButton id="guardar"
					value="#{messages['crearprovidencia_guardar']}"
					action="#{crearProvidencia.agregarDocumento}"
					disabled="#{not crearProvidencia.isEditable()}"
					rendered="#{crearProvidencia.isRenderedBotonGuardar()}" />
				<a4j:commandButton id="guardarConExpediente"
					value="#{messages['crearprovidencia_guardar_y_crear_expediente']}"
					action="#{crearProvidencia.guardarYCrearExpediente()}"
					disabled="#{not crearProvidencia.isEditable()}"
					rendered="#{crearProvidencia.isRenderedBotonGuardarCrearExpediente()}"
					reRender="plazoCal, plazoDecorate">
					<a4j:support event="oncomplete"
						action="#{modificarExpediente.begin()}">
						<f:param name="idExpediente" value="-1" />
					</a4j:support>
				</a4j:commandButton>
				<a4j:commandButton id="firmar"
					value="#{messages['crearprovidencia_firmar']}"
					action="#{crearProvidencia.firmar()}"
					rendered="#{crearProvidencia.isRenderedBotonFirmar()}"
					disabled="#{not crearProvidencia.isEditable()}"
					reRender="idPanelDocumento, idBotonesDocumento" />
				<a4j:commandButton id="despachar"
					value="#{messages['crearprovidencia_despachar_expediente']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogDespachar')"
					rendered="#{crearProvidencia.isRenderedBotonDespachar()}"
					disabled="#{not crearProvidencia.isDespachable()}" />
				<h:commandLink id="visualizar"
					actionListener="#{crearProvidencia.visualizar()}"
					rendered="#{crearProvidencia.isRenderedBotonVisualizar()}"
					action="#{visualizador.verDocumento(crearProvidencia.providencia)}"
					target="_new" immediate="true">
					<h:graphicImage border="0px"
						value="/imagenes/icono_visualizardoc.gif" />
				</h:commandLink>
			</h:panelGrid>

		</h:form>

		<rich:modalPanel id="idConfirmDialogDespachar" resizeable="false"
			width="230" height="75">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearprovidencia_confirmacion_despacho_expediente']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['crearprovidencia_desea_despachar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton value="#{messages['crearprovidencia_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')" />
					<h:commandButton value="#{messages['crearprovidencia_despachar']}"
						action="#{crearProvidencia.despacharExpediente()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionEmisor" resizeable="false"
			height="500" width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearprovidencia_seleccionar_emisor_documento']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					reRender="idDecorateEmisorDocumento, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionEmisor')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarEmisorProvidencia.xhtml" />
			<h:form>
				<a4j:commandButton value="#{messages['crearprovidencia_volver']}"
					reRender="idDecorateEmisorDocumento, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionEmisor')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionDestinatarios" resizeable="false"
			height="500" width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearprovidencia_seleccionar_destinatario_documento']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					reRender="idDestinatariosDocumento, idListDestinatariosDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionDestinatarios')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarDestinatarioProvidencia.xhtml" />
			<h:form>
				<a4j:commandButton value="#{messages['crearprovidencia_volver']}"
					reRender="idDestinatariosDocumento, idListDestinatariosDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionDestinatarios')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelAdjuntarArchivo" minHeight="270"
			minWidth="430" height="270" width="430">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearprovidencia_adjuntar_archivo']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					reRender="idPanelAntecedentes, panelAdjuntarArchivo"
					onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')">
				</h:graphicImage>
			</f:facet>
			<h:form enctype="multipart/form-data">
				<h:panelGrid columns="1">
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearprovidencia_materiadp']}</ui:define>
						<h:inputText id="materia" required="true"
							value="#{crearProvidencia.materiaArchivo}" />
					</s:decorate>
					<s:decorate id="decorateUpLoadFile" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearprovidencia_archivodp']}</ui:define>
						<rich:fileUpload id="upload" immediateUpload="true"
							maxFilesQuantity="1" acceptedTypes="*" listHeight="60px"
							fileUploadListener="#{crearProvidencia.listener}"
							addControlLabel="Agregar" allowFlash="false">
							<a4j:support event="onclear" reRender="decorateUpLoadFile" />
						</rich:fileUpload>
					</s:decorate>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<a4j:commandButton
						value="#{messages['crearprovidencia_agregar_archivo']}"
						action="#{crearProvidencia.agregarAntecedenteArchivo}"
						reRender="idPanelAntecedentes, panelAdjuntarArchivo"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')" />
					<a4j:commandButton value="#{messages['crearprovidencia_volver']}"
						reRender="idPanelAntecedentes, panelAdjuntarArchivo"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')"
						immediate="true" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelConfirmacionVolver" resizable="false"
			height="100" width="455">
			<f:facet name="header">
				<h:outputText value="#{messages['crearprovidencia_confirmacion']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')"
					reRender="idPanelDocumento">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<div align="center">
					<h:outputText
						value="#{messages['crearprovidencia_el_documento_no_ha_sido_guardado_se_perderan_los_cambios']}" />
				</div>
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton
						value="#{messages['crearprovidencia_continuar_en_la_misma_pagina']}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
					<h:commandButton
						value="#{messages['crearprovidencia_volver_a_la_pagina_anterior']}"
						action="#{crearProvidencia.end}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

	</ui:define>

</ui:composition>

