<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<h:form id="accionForm">
			<rich:panel id="idPanelFactura">
				<f:facet name="header">#{messages['crearfactura_ingresar_factura']}</f:facet>
				<h:messages globalOnly="true" styleClass="message" />
				<h:panelGrid columns="2">
					<h:panelGrid columns="2">
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearfactura_n_factura']}</ui:define>
							<h:inputText required="true"
								value="#{crearFactura.factura.numeroDocumento}" />
						</s:decorate>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearfactura_fecha']}</ui:define>
							<rich:calendar popup="true" datePattern="dd/MM/yyyy"
								pattern="dd/M/yyyy"
								value="#{crearFactura.factura.fechaDocumentoOrigen}"
								required="true" enableManualInput="true" />
						</s:decorate>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearfactura_rut_proveedor']}</ui:define>
							<h:inputText required="true"
								value="#{crearFactura.factura.rutProveedor}" />
						</s:decorate>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearfactura_nombre_proveedor']}</ui:define>
							<h:inputText required="true"
								value="#{crearFactura.factura.nombreProveedor}" />
						</s:decorate>
					</h:panelGrid>
					<br></br>
					<h:panelGrid columns="1">
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearfactura_detalle_de_factura']}</ui:define>
							<h:inputTextarea rows="10" cols="60" style="font-size:120%;"
								value="#{crearFactura.factura.materia}" required="true" />
						</s:decorate>
					</h:panelGrid>
					<br></br>
					<s:decorate id="decorateUpLoadFile" template="../layout/edit.xhtml">
						<h:outputLabel value="#{messages['crearfactura_factura_digital']}"
							style="font-weight: bold;" />
						<rich:fileUpload id="upload" immediateUpload="true"
							maxFilesQuantity="1" acceptedTypes="*" listHeight="60px"
							listWidth="250" fileUploadListener="#{crearFactura.listener}"
							addControlLabel="Agregar">
							<a4j:support event="onclear" reRender="decorateUpLoadFile" />
						</rich:fileUpload>
					</s:decorate>
					<br></br>

					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearfactura_monto_']}</ui:define>
						<h:inputText required="true"
							value="#{crearFactura.factura.montoFactura}" />
					</s:decorate>
					<br></br>
					<h:panelGrid columns="3">
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearfactura_orden_de_compra']}</ui:define>
							<h:inputText required="false" size="15"
								value="#{crearFactura.factura.numeroOrdenDeCompra}" />
						</s:decorate>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearfactura_n_resolucion']}</ui:define>
							<h:inputText required="false" size="15"
								value="#{crearFactura.factura.numeroResolucion}" />
						</s:decorate>
						<h:selectOneRadio value="#{crearFactura.tipo}" id="tipo">
							<f:selectItem itemValue="1"
								itemLabel="#{messages['crearfactura_licitacion']}" id="lici" />
							<f:selectItem itemValue="2"
								itemLabel="#{messages['crearfactura_convenio_marco']}" id="conv" />
						</h:selectOneRadio>

					</h:panelGrid>
				</h:panelGrid>
				<br></br>
				<h:panelGrid columns="6" cellspacing="3" id="idBotonesDocumento">
					<a4j:commandButton id="volver1"
						value="#{messages['crearfactura_volver']}"
						rendered="#{crearFactura.isEditable()}"
						onclick="Richfaces.showModalPanel('panelConfirmacionVolver')"
						immediate="true" />
					<a4j:commandButton id="volver2"
						value="#{messages['crearfactura_volver']}"
						rendered="#{not crearFactura.isEditable()}"
						action="#{crearFactura.end()}" immediate="true" />
					<a4j:commandButton id="guardar"
						value="#{messages['crearfactura_guardar']}"
						action="#{crearFactura.agregarDocumento()}"
						disabled="#{not crearFactura.isEditable()}"
						rendered="#{crearFactura.isRenderedBotonGuardar()}" />
					<a4j:commandButton id="guardarConExpediente"
						value="#{messages['crearfactura_guardar_y_crear_expediente']}"
						action="#{crearFactura.guardarYCrearExpediente()}"
						disabled="#{not crearFactura.isEditable()}"
						rendered="#{crearFactura.isRenderedBotonGuardarCrearExpediente()}">
						<a4j:support event="oncomplete"
							action="#{modificarExpediente.begin()}">
							<f:param name="idExpediente" value="-1" />
						</a4j:support>
					</a4j:commandButton>
				</h:panelGrid>
			</rich:panel>
		</h:form>

		<rich:modalPanel id="panelConfirmacionVolver" resizable="false"
			height="100" width="455">
			<f:facet name="header">
				<h:outputText value="#{messages['crearfactura_confirmacion']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')"
					reRender="idPanelFactura">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<div align="center">
					<h:outputText
						value="#{messages['crearfactura_el_documento_no_ha_sido_guardado_se_perderan_los_cambios']}" />
				</div>
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton
						value="#{messages['crearfactura_continuar_en_la_misma_pagina']}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
					<h:commandButton
						value="#{messages['crearfactura_volver_a_la_pagina_anterior']}"
						action="#{crearFactura.end}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>
	</ui:define>
</ui:composition>
