<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY Oacute "&#211;">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">



		<style>
.gridContent {
	vertical-align: top;
}

.inpanelBody {
	height: 170px;
	overflow: auto;
}

.inpanelBody2 {
	height: 160px;
	overflow: auto;
}

.inpanelBody3 {
	height: 220px;
	overflow: auto;
}

.inpanelBody4 {
	height: 43px;
	overflow: auto;
}
</style>

		<h:form id="adquisicion">
			<rich:panel id="idPanelDocumento" style="padding:0;">
				<f:facet name="header">#{messages['crearadquisicion_solicitud_de_productos_y_servicios']}</f:facet>
				<h:messages id="idMsg" styleClass="message" />
				<h:panelGrid columns="1" width="100%">
					<h:panelGroup>
						<div align="center">
							<s:decorate id="idDecorateNombre" template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['crearadquisicion_nombre_adquisicion']}</ui:define>
								<h:inputText required="false" size="100"
									value="#{crearSolicitudAdquisicion.adquisicion.nombreAdquisicion}"
									readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
							</s:decorate>
						</div>
					</h:panelGroup>
					<h:panelGroup>
						<div align="center">
							<h:panelGrid columns="1" width="100%" style="text-align: center;">
								<rich:panel style="text-align: center;">
									<f:facet name="header">#{messages['crearadquisicion_tipo_adquisicion']}</f:facet>
									<div align="center"
										onclick="document.getElementById('adquisicion:idDecorateMonto:idMonto').focus();">
										<h:selectOneRadio
											value="#{crearSolicitudAdquisicion.adquisicion.tipoAdquisicion.id}"
											immediate="true">
											<f:selectItem itemValue="1"
												itemLabel="#{messages['crearadquisicion_bien']}"
												itemDisabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											<f:selectItem itemValue="2"
												itemLabel="#{messages['crearadquisicion_servicio']}"
												itemDisabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											<f:selectItem itemValue="3"
												itemLabel="#{messages['crearadquisicion_evento']}"
												itemDisabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											<a4j:support event="onchange"
												reRender="idPanelProveedores, idPanelEventos" />
										</h:selectOneRadio>
									</div>
								</rich:panel>
								<rich:panel style="text-align: center">
									<f:facet name="header">#{messages['crearadquisicion_monto_estimado_en_pesos_']}</f:facet>
									<div align="center">
										<h:panelGrid columns="1">
											<s:decorate id="idDecorateMonto"
												template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_monto']}</ui:define>
												<h:inputText id="idMonto" required="false"
													value="#{crearSolicitudAdquisicion.adquisicion.montoEstimado}"
													readonly="#{not crearSolicitudAdquisicion.isModificable()}">
													<a4j:support event="onblur" reRender="idDecorateMonto"
														bypassUpdates="true" ajaxSingle="true" />
												</h:inputText>
											</s:decorate>
										</h:panelGrid>
									</div>
								</rich:panel>
								<rich:panel style="text-align: center;">
									<f:facet name="header">Esta en Convenio Marco?</f:facet>
									<div align="center"
										onclick="document.getElementById('adquisicion:objetoAdquisicionPanel:idObjetoAdquisicion').focus();">
										<h:selectOneRadio
											value="#{crearSolicitudAdquisicion.adquisicion.convenioMarco}"
											immediate="true">
											<f:selectItem itemValue="true"
												itemLabel="#{messages['crearadquisicion_si']}"
												itemDisabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											<f:selectItem itemValue="false"
												itemLabel="#{messages['crearadquisicion_no']}"
												itemDisabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											<a4j:support event="onchange"
												reRender="idPanelProveedores, idPanelPagos, idPanelComision, 
										idPanelArchivoMuestra, idPanelTipoFinanciamiento, idPanelArchivoBases, 
										idPanelFechas, idPanelTipoLicitacion"
												onclick="this.blur()" />
										</h:selectOneRadio>
									</div>
									<div align="center">
										<h:selectOneRadio
											value="#{crearSolicitudAdquisicion.adquisicion.opcionSinConvenio.id}"
											rendered="#{not crearSolicitudAdquisicion.adquisicion.convenioMarco}"
											immediate="true">
											<f:selectItem
												itemLabel="#{messages['crearadquisicion_hasta_3_utm']}"
												itemValue="1"
												itemDisabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											<f:selectItem
												itemLabel="#{messages['crearadquisicion_hasta_10_utm']}"
												itemValue="2"
												itemDisabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											<f:selectItem
												itemLabel="#{messages['crearadquisicion_licitacion']}"
												itemValue="3"
												itemDisabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											<a4j:support event="onchange"
												reRender="idPanelComision, idPanelCriterioDeEvaluacion, 
											idPanelArchivoBases, idPanelFechas, idPanelTipoLicitacion" />
										</h:selectOneRadio>
									</div>
								</rich:panel>
							</h:panelGrid>
						</div>
					</h:panelGroup>
					<h:panelGroup>
						<div align="center">
							<s:decorate id="objetoAdquisicionPanel"
								template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['crearadquisicion_objeto_de_la_adquisicion']}</ui:define>
								<h:inputTextarea id="idObjetoAdquisicion" rows="10" cols="100"
									value="#{crearSolicitudAdquisicion.adquisicion.objetoAdquisicion}"
									style="height : 69px; width : 634px;"
									readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
							</s:decorate>
						</div>
					</h:panelGroup>
					<h:panelGroup id="idPanelArchivoMuestra">
						<rich:panel
							rendered="#{crearSolicitudAdquisicion.verPanelArchivoMuestra}">
							<f:facet name="header">#{messages['crearadquisicion_adjuntar_archivo_de_muestra']}</f:facet>
							<div align="center">
								<h:panelGrid columns="1">
									<h:outputText
										value="#{messages['crearadquisicion_por_favor_comuniquese_con_la_unidad_de_abastecimiento_para_ver_el_catalogo_de_productos_por_convenio_marco']}"
										style="font-family:arial;font-size:105%;font-weight:900;" />

									<s:decorate template="../layout/edit.xhtml"
										id="idDecorateUploadMuestra">
										<ui:define name="label">#{messages['crearadquisicion_archivo_de_muestra']}</ui:define>
										<rich:fileUpload id="upload" immediateUpload="true"
											maxFilesQuantity="1" acceptedTypes="*" listHeight="60px"
											fileUploadListener="#{crearSolicitudAdquisicion.listenerMuestra}"
											addControlLabel="Agregar"
											rendered="#{crearSolicitudAdquisicion.adquisicion.archivoMuestra == null}">
											<a4j:support event="onclear"
												reRender="idDecorateUploadMuestra" />
										</rich:fileUpload>
									</s:decorate>
									<a4j:htmlCommandLink immediate="true"
										value="#{crearSolicitudAdquisicion.adquisicion.archivoMuestra.nombreArchivo}"
										action="#{crearSolicitudAdquisicion.verArchivoMuestra}"
										rendered="#{crearSolicitudAdquisicion.adquisicion.archivoMuestra != null and crearSolicitudAdquisicion.adquisicion.archivoMuestra.id != null}" />
									<h:outputLabel
										value="#{crearSolicitudAdquisicion.adquisicion.archivoMuestra.nombreArchivo}"
										rendered="#{crearSolicitudAdquisicion.adquisicion.archivoMuestra != null and crearSolicitudAdquisicion.adquisicion.archivoMuestra.id == null}" />
								</h:panelGrid>
							</div>
						</rich:panel>
					</h:panelGroup>
				</h:panelGrid>

				<h:panelGroup id="idPanelComision">
					<div align="center">
						<h:panelGrid columns="1" columnClasses="gridContent" width="100%">
							<rich:panel id="idComisionEvaluadora"
								rendered="#{not crearSolicitudAdquisicion.verPanelComisionEvaluadora}"
								style="text-align:center">
								<f:facet name="header">#{messages['crearadquisicion_comision_evaluadora_o_evaluador']}</f:facet>
								<div align="center">
									<h:panelGrid columns="1">
										<s:decorate template="../layout/edit.xhtml">
											<ui:define name="label">#{messages['crearadquisicion_titulares']}</ui:define>
											<h:inputText required="false" size="30"
												value="#{crearSolicitudAdquisicion.adquisicion.titulares}"
												readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
										</s:decorate>
										<s:decorate template="../layout/edit.xhtml">
											<ui:define name="label">#{messages['crearadquisicion_suplentes']}</ui:define>
											<h:inputText required="false" size="30"
												value="#{crearSolicitudAdquisicion.adquisicion.suplentes}"
												readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
										</s:decorate>
									</h:panelGrid>
								</div>
							</rich:panel>

							<rich:panel style="text-align:center">
								<f:facet name="header">#{messages['crearadquisicion_datos_del_responsable']}</f:facet>
								<div align="center">
									<h:panelGrid columns="1">
										<s:decorate template="../layout/edit.xhtml">
											<ui:define name="label">#{messages['crearadquisicion_nombres']}</ui:define>
											<h:inputText required="false" size="30"
												value="#{crearSolicitudAdquisicion.adquisicion.nombreResponsable}"
												readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
										</s:decorate>
										<s:decorate id="idDecorateMail"
											template="../layout/edit.xhtml">
											<ui:define name="label">#{messages['crearadquisicion_correo_electronico']}</ui:define>
											<h:inputText required="false" size="30"
												value="#{crearSolicitudAdquisicion.adquisicion.emailResponsable}"
												validator="#{mailValidator.validate}"
												readonly="#{not crearSolicitudAdquisicion.isModificable()}">
												<a4j:support event="onblur" reRender="idDecorateMail"
													bypassUpdates="true" ajaxSingle="true" />
											</h:inputText>
										</s:decorate>
										<s:decorate template="../layout/edit.xhtml">
											<ui:define name="label">#{messages['crearadquisicion_telefono']}</ui:define>
											<h:inputText required="false"
												value="#{crearSolicitudAdquisicion.adquisicion.telefonoResponsable}"
												readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
										</s:decorate>
									</h:panelGrid>
								</div>

								<div style="clear: both" />
							</rich:panel>

							<rich:panel id="idPanelCriterioDeEvaluacion"
								rendered="#{!crearSolicitudAdquisicion.verPanelCriterios}"
								style="text-align:center">
								<f:facet name="header">#{messages['crearadquisicion_criterios_de_evaluacion']}</f:facet>
								<div align="center">
									<h:panelGrid columns="1">
										<s:decorate template="../layout/edit.xhtml">
											<ui:define name="label">#{messages['crearadquisicion_nombre_criterio']}</ui:define>
											<h:inputText required="false" size="66"
												value="#{crearSolicitudAdquisicion.criterioEvaluacion.criterio}"
												readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
										</s:decorate>
										<s:decorate template="../layout/edit.xhtml">
											<ui:define name="label">%</ui:define>
											<h:inputText required="false" size="5" maxlength="3"
												value="#{crearSolicitudAdquisicion.criterioEvaluacion.porcentaje}"
												readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
										</s:decorate>
										<a4j:commandButton id="addCriterio"
											value="#{messages['crearadquisicion_agregar']}"
											action="#{crearSolicitudAdquisicion.agregarCriterioEvaluacion}"
											reRender="idPanelComision, idCriterio, idPorcentaje, idTablaCriterios, idPanelCriterioDeEvaluacion, idMsg"
											disabled="#{not crearSolicitudAdquisicion.isModificable()}" />
									</h:panelGrid>
								</div>

								<div align="center">
									<h:panelGrid columns="1">
										<rich:dataTable id="idTablaCriterios"
											onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
											onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
											var="adq"
											value="#{crearSolicitudAdquisicion.adquisicion.criteriosEvaluacion}"
											rendered="#{not empty crearSolicitudAdquisicion.adquisicion.criteriosEvaluacion}">
											<f:facet name="header">
												<rich:columnGroup>
													<rich:column>
														<h:outputText
															value="#{messages['crearadquisicion_criterio']}" />
													</rich:column>
													<rich:column>
														<h:outputText value="%" />
													</rich:column>
													<rich:column>
														<h:outputText
															value="#{messages['crearadquisicion_eliminar']}" />
													</rich:column>
												</rich:columnGroup>
											</f:facet>
											<rich:subTable
												onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
												onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
												value="adq">
												<rich:column>
													<h:outputText id="idCriterio" value="#{adq.criterio}" />
												</rich:column>
												<rich:column>
													<h:outputText id="idPorcentaje" value="#{adq.porcentaje}" />
												</rich:column>
												<rich:column>
													<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
														action="#{crearSolicitudAdquisicion.eliminarCriterioEvaluacion(adq.criterio)}"
														reRender="idPanelComision, idCriterio, idPorcentaje"
														immediate="true" />
												</rich:column>
											</rich:subTable>
										</rich:dataTable>
									</h:panelGrid>
								</div>
							</rich:panel>
						</h:panelGrid>
					</div>
				</h:panelGroup>

				<!-- Adjuntar bases -->
				<h:panelGroup id="idPanelArchivoBases">
					<rich:panel
						rendered="#{!crearSolicitudAdquisicion.verPanelArchivoBases}"
						style="text-align:center">
						<f:facet name="header">
							Adjuntar #{crearSolicitudAdquisicion.cambiarNombreAdjuntarArchivo(crearSolicitudAdquisicion.adquisicion.opcionSinConvenio.id)}
						</f:facet>
						<div align="center">
							<h:panelGrid columns="1">
								<s:decorate template="../layout/edit.xhtml"
									id="idDecorateUploadBases">
									<ui:define name="label">#{messages['crearadquisicion_documento_referencia_']}</ui:define>
									<rich:fileUpload id="uploadBases" immediateUpload="true"
										maxFilesQuantity="1" acceptedTypes="*" listHeight="60px"
										fileUploadListener="#{crearSolicitudAdquisicion.listenerBases}"
										allowFlash="false" addControlLabel="Agregar"
										rendered="#{crearSolicitudAdquisicion.adquisicion.archivoBases == null}">
										<a4j:support event="onclear" reRender="idDecorateUploadBases" />
									</rich:fileUpload>
								</s:decorate>
								<a4j:htmlCommandLink immediate="true"
									value="#{crearSolicitudAdquisicion.adquisicion.archivoBases.nombreArchivo}"
									action="#{crearSolicitudAdquisicion.verArchivoBases}"
									rendered="#{crearSolicitudAdquisicion.adquisicion.archivoBases != null and crearSolicitudAdquisicion.adquisicion.archivoBases.id != null}" />
								<h:outputLabel
									value="#{crearSolicitudAdquisicion.adquisicion.archivoBases.nombreArchivo}"
									rendered="#{crearSolicitudAdquisicion.adquisicion.archivoBases != null and crearSolicitudAdquisicion.adquisicion.archivoBases.id == null}" />
							</h:panelGrid>
						</div>
					</rich:panel>
				</h:panelGroup>

				<!-- Adjuntar fechas de etapas y plazos -->
				<h:panelGroup id="idPanelFechas">
					<rich:panel style="text-align:center" id="fechasPanel"
						rendered="#{!crearSolicitudAdquisicion.verPanelFechas}">
						<f:facet name="header">#{messages['crearadquisicion_fechas_de_etapas_y_plazos']}</f:facet>
						<div align="center">
							<h:panelGrid columns="4">
								<s:decorate id="cierreRecepcionOfertasField"
									template="../layout/edit.xhtml">
									<ui:define name="label">#{messages['crearadquisicion_cierre_recepcion_de_ofertas']}</ui:define>
									<rich:calendar popup="true" datePattern="dd/MM/yyyy HH:mm"
										id="idCalendarCierreEvento" required="false"
										enableManualInput="true" cellWidth="24px" cellHeight="22px"
										value="#{crearSolicitudAdquisicion.adquisicion.cierreRecepcionOfertas}"
										locale="es_CL" pattern="dd/MM/yyyy HH:mm"
										disabled="#{not crearSolicitudAdquisicion.isModificable()}">
										<a4j:support event="onchange"
											reRender="idCalendarCierreEvento" bypassUpdates="true"
											ajaxSingle="true" />
									</rich:calendar>
								</s:decorate>
								<s:decorate id="aperturaTecnicaField"
									template="../layout/edit.xhtml">
									<ui:define name="label">#{messages['crearadquisicion_apertura_tecnica']}</ui:define>
									<rich:calendar popup="true" datePattern="dd/MM/yyyy HH:mm"
										id="idCalendarAperturaEvento" required="false"
										enableManualInput="true" cellWidth="24px" cellHeight="22px"
										value="#{crearSolicitudAdquisicion.adquisicion.aperturaTecnica}"
										locale="es_CL" pattern="dd/MM/yyyy HH:mm"
										validator="#{datesValidator.validate}"
										disabled="#{not crearSolicitudAdquisicion.isModificable()}">
										<a4j:support event="onchange"
											reRender="idCalendarAperturaEvento" bypassUpdates="true"
											ajaxSingle="true" />
										<f:attribute name="cierre"
											value="adquisicion:cierreRecepcionOfertasField:idCalendarCierreEvento" />
									</rich:calendar>
								</s:decorate>
								<s:decorate id="inicioPreguntasField"
									template="../layout/edit.xhtml">
									<ui:define name="label">#{messages['crearadquisicion_inicio_preguntas']}</ui:define>
									<rich:calendar popup="true" datePattern="dd/MM/yyyy HH:mm"
										id="idCalendarInicioPreguntasEvento" required="false"
										enableManualInput="true" cellWidth="24px" cellHeight="22px"
										value="#{crearSolicitudAdquisicion.adquisicion.inicioPreguntas}"
										locale="es_CL" pattern="dd/MM/yyyy HH:mm"
										validator="#{datesValidator.validate2}"
										disabled="#{not crearSolicitudAdquisicion.isModificable()}">
										<a4j:support event="onchange"
											reRender="idCalendarInicioPreguntasEvento"
											bypassUpdates="true" ajaxSingle="true" />
										<f:attribute name="aperturaTecnica"
											value="adquisicion:aperturaTecnicaField:idCalendarAperturaEvento" />
										<f:attribute name="cierre"
											value="adquisicion:cierreRecepcionOfertasField:idCalendarCierreEvento" />
									</rich:calendar>
								</s:decorate>
								<s:decorate id="finPreguntasField"
									template="../layout/edit.xhtml">
									<ui:define name="label">#{messages['crearadquisicion_final_preguntas']}</ui:define>
									<rich:calendar popup="true" datePattern="dd/MM/yyyy HH:mm"
										id="idCalendarFinalPreguntasEvento" required="false"
										enableManualInput="true" cellWidth="24px" cellHeight="22px"
										value="#{crearSolicitudAdquisicion.adquisicion.finPreguntas}"
										locale="es_CL" pattern="dd/MM/yyyy HH:mm"
										validator="#{datesValidator.validate3}"
										disabled="#{not crearSolicitudAdquisicion.isModificable()}">
										<a4j:support ajaxSingle="true" bypassUpdates="true"
											event="onchange" reRender="idCalendarFinalPreguntasEvento" />
										<f:attribute name="inicioPreguntas"
											value="adquisicion:inicioPreguntasField:idCalendarInicioPreguntasEvento" />
										<f:attribute name="aperturaTecnica"
											value="adquisicion:aperturaTecnicaField:idCalendarAperturaEvento" />
										<f:attribute name="cierre"
											value="adquisicion:cierreRecepcionOfertasField:idCalendarCierreEvento" />
									</rich:calendar>
								</s:decorate>
							</h:panelGrid>
						</div>
					</rich:panel>
				</h:panelGroup>

				<h:panelGroup id="idPanelTipoFinanciamiento">
					<div align="center">
						<h:panelGrid columns="1" width="100%">
							<rich:panel style="text-align:center">
								<f:facet name="header">#{messages['crearadquisicion_tipo_de_financiamiento']}</f:facet>
								<div align="center">
									<h:panelGrid columns="2">
										<s:decorate template="../layout/edit.xhtml">
											<ui:define name="label">#{messages['crearadquisicion_tipo_de_financiamiento']}</ui:define>
											<div
												onclick="document.getElementById('adquisicion:itemFinanciamientoPanel:idItemFinanciamiento').focus();">
												<h:selectOneRadio
													value="#{crearSolicitudAdquisicion.adquisicion.tipoFinanciamientoAdquisicion.id}"
													immediate="true">
													<f:selectItem itemValue="2"
														itemLabel="#{messages['crearadquisicion_credito']}"
														itemDisabled="#{not crearSolicitudAdquisicion.isModificable()}" />
													<f:selectItem itemValue="1"
														itemLabel="#{messages['crearadquisicion_exedoc']}"
														itemDisabled="#{not crearSolicitudAdquisicion.isModificable()}" />
													<a4j:support event="onchange"
														reRender="idPanelTipoFinanciamiento" />
												</h:selectOneRadio>
											</div>
										</s:decorate>

										<s:decorate id="itemFinanciamientoPanel"
											template="../layout/edit.xhtml">
											<ui:define name="label">#{messages['crearadquisicion_item_de_financiamiento']}</ui:define>
											<h:inputText id="idItemFinanciamiento" required="false"
												size="30"
												value="#{crearSolicitudAdquisicion.adquisicion.itemFinanciamiento}"
												readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
										</s:decorate>

										<s:decorate template="../layout/edit.xhtml"
											rendered="#{crearSolicitudAdquisicion.verListTiposCredito}">
											<ui:define name="label">#{messages['crearadquisicion_tipos_de_creditodp']}</ui:define>
											<h:selectOneMenu id="listLicitacion"
												value="#{crearSolicitudAdquisicion.tipoCredito}"
												rendered="#{crearSolicitudAdquisicion.verListTiposCredito}"
												disabled="#{not crearSolicitudAdquisicion.isModificable()}">
												<f:selectItems
													value="#{crearSolicitudAdquisicion.listTiposCredito}" />
											</h:selectOneMenu>
										</s:decorate>
									</h:panelGrid>
								</div>
							</rich:panel>
						</h:panelGrid>
					</div>
				</h:panelGroup>

				<h:panelGroup id="idPanelTipoLicitacion">
					<rich:panel headerClass="outpanelHeader"
						rendered="#{!crearSolicitudAdquisicion.verPanelLicitacion}"
						style="text-align:center">
						<f:facet name="header">#{messages['crearadquisicion_tipo_de_licitacion']}</f:facet>
						<div align="center">
							<h:selectOneRadio
								value="#{crearSolicitudAdquisicion.seleccionLicitacion}">
								<f:selectItem itemValue="3"
									itemLabel="#{messages['crearadquisicion_licitacion_publica']}"
									itemDisabled="#{not crearSolicitudAdquisicion.isModificable()}" />
								<f:selectItem itemValue="4"
									itemLabel="#{messages['crearadquisicion_licitacion_privada']}"
									itemDisabled="#{not crearSolicitudAdquisicion.isModificable()}" />
								<f:selectItem itemValue="5"
									itemLabel="#{messages['crearadquisicion_trato_directo']}"
									itemDisabled="#{not crearSolicitudAdquisicion.isModificable()}" />
							</h:selectOneRadio>
						</div>
					</rich:panel>
				</h:panelGroup>

				<h:panelGroup id="idPanelProveedores">
					<rich:panel style="text-align: center;"
						headerClass="outpanelHeader"
						rendered="#{crearSolicitudAdquisicion.verPanelProveedores}">
						<f:facet name="header">#{messages['crearadquisicion_proveedores']}</f:facet>
						<h:outputLabel
							value="#{messages['crearadquisicion_ingrese_sus_preferencias']}" />
						<div align="center">
							<h:panelGrid columns="2" style="text-align: center;">
								<h:outputLabel style="font-weight: bold;"
									value="#{messages['crearactaadjudicacion_proveedor_1']}" />
								<h:inputText required="false" size="40"
									value="#{crearSolicitudAdquisicion.adquisicion.proveedor1}"
									readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
								<h:outputLabel style="font-weight: bold;"
									value="#{messages['crearactaadjudicacion_proveedor_2']}" />
								<h:inputText required="false" size="40"
									value="#{crearSolicitudAdquisicion.adquisicion.proveedor2}"
									readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
								<h:outputLabel style="font-weight: bold;"
									value="#{messages['crearactaadjudicacion_proveedor_3']}" />
								<h:inputText required="false" size="40"
									value="#{crearSolicitudAdquisicion.adquisicion.proveedor3}"
									readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
							</h:panelGrid>
						</div>
					</rich:panel>
				</h:panelGroup>

				<h:panelGroup id="idPanelPagos">
					<rich:panel style="text-align: center;"
						rendered="#{!crearSolicitudAdquisicion.verPanelPagos}"
						headerClass="outpanelHeader">
						<f:facet name="header">#{messages['crearadquisicion_n_pagos']}</f:facet>
						<div align="center">
							<h:inputText required="false" size="40"
								value="#{crearSolicitudAdquisicion.adquisicion.pagosConvenioMarco}"
								readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
						</div>
					</rich:panel>
				</h:panelGroup>

				<h:panelGroup id="idPanelEventos">
					<rich:panel style="padding:0;" headerClass="outpanelHeader"
						rendered="#{crearSolicitudAdquisicion.verPanelEventos}">
						<f:facet name="header">
							<rich:spacer height="4" />
						</f:facet>
						<div align="center">
							<rich:tabPanel switchType="client"
								style=" width: 500;height: 300">
								<rich:tab label="Descripcion de los Requerimientos">
									<div align="center">
										<h:panelGrid columns="1">
											<s:decorate template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_coffee_break']}</ui:define>
												<h:selectBooleanCheckbox
													value="#{crearSolicitudAdquisicion.adquisicion.coffeBrakeEvento}"
													disabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
											<s:decorate template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_vecesdiadp']}</ui:define>
												<h:inputText required="false" size="3"
													value="#{crearSolicitudAdquisicion.adquisicion.numeroAsistentesEvento}"
													style=" width : 71px;"
													readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
											<s:decorate template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_almuerzo']}</ui:define>
												<h:selectBooleanCheckbox
													value="#{crearSolicitudAdquisicion.adquisicion.almuerzoEvento}"
													disabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
											<s:decorate template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_cena']}</ui:define>
												<h:selectBooleanCheckbox
													value="#{crearSolicitudAdquisicion.adquisicion.cenaEvento}"
													disabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
											<s:decorate template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_hospedaje']}</ui:define>
												<h:selectBooleanCheckbox
													value="#{crearSolicitudAdquisicion.adquisicion.hospedajeEvento}"
													disabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
										</h:panelGrid>
									</div>
								</rich:tab>
								<rich:tab label="Servicios Conexos">
									<div align="center">
										<h:panelGrid columns="1">
											<s:decorate template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_data_show']}</ui:define>
												<h:selectBooleanCheckbox
													value="#{crearSolicitudAdquisicion.adquisicion.servicioDataShowEvento}"
													disabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
											<s:decorate template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_telon']}</ui:define>
												<h:selectBooleanCheckbox
													value="#{crearSolicitudAdquisicion.adquisicion.servicioTelonEvento}"
													disabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
											<s:decorate template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_notebook']}</ui:define>
												<h:selectBooleanCheckbox
													value="#{crearSolicitudAdquisicion.adquisicion.servicioNotebookEvento}"
													disabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
											<s:decorate template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_otro']}</ui:define>
												<h:inputText required="false"
													value="#{crearSolicitudAdquisicion.adquisicion.servicioOtroEvento}"
													readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
										</h:panelGrid>
									</div>
								</rich:tab>
								<rich:tab label="Asistentes">
									<div align="center">
										<h:panelGrid columns="1">
											<s:decorate template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_n_asistentes']}</ui:define>
												<h:inputText required="false" style="width:20px"
													value="#{crearSolicitudAdquisicion.adquisicion.numeroAsistentesEvento}"
													readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
											<s:decorate template="../layout/edit.xhtml"
												id="idDecorateUploadNomina">
												<ui:define name="label">#{messages['crearadquisicion_lista_asistentes']}</ui:define>
												<rich:dataTable var="itemAsistentes" id="ddListDigitalizado"
													value="#{crearSolicitudAdquisicion.adquisicion.asistentesEventoAdquisicion}"
													style=" width : 277px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;"
													required="true">
													<rich:subTable value="itemDoc">
														<rich:column>
															<h:outputLabel
																value="#{itemAsistentes.persona.nombreApellido}" />
														</rich:column>
													</rich:subTable>
												</rich:dataTable>
												<a4j:commandButton
													onclick="Richfaces.showModalPanel('panelSeleccionAsistentes')"
													value="#{messages['crearadquisicion_agregar_asistente']}"
													reRender="idPanelEventos, idDecorateUploadNomina"
													immediate="true"
													disabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
										</h:panelGrid>
									</div>
								</rich:tab>

								<rich:tab label="Periodo">
									<div align="center">
										<h:panelGrid columns="1" width="400">
											<s:decorate template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_desde']}</ui:define>
												<rich:calendar popup="true" datePattern="dd/MM/yyyy"
													id="idCalendarDesdeEvento1" pattern="dd/MM/yyyy"
													value="#{crearSolicitudAdquisicion.adquisicion.periodoEventoDesde}"
													required="false" enableManualInput="true" cellWidth="24px"
													cellHeight="22px" locale="es_CL"
													disabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
											<s:decorate template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_hasta']}</ui:define>
												<rich:calendar popup="true" datePattern="dd/MM/yyyy"
													id="idCalendarHastaEvento1" pattern="dd/MM/yyyy"
													value="#{crearSolicitudAdquisicion.adquisicion.periodoEvendoHasta}"
													required="false" enableManualInput="true" cellWidth="24px"
													cellHeight="22px" locale="es_CL"
													disabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
										</h:panelGrid>
									</div>
								</rich:tab>
								<rich:tab label="Transporte">
									<div align="center">
										<h:panelGrid columns="1" width="400">
											<s:decorate template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_transporte']}</ui:define>
												<h:selectBooleanCheckbox
													value="#{crearSolicitudAdquisicion.adquisicion.transporteEvento}"
													disabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
											<s:decorate template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_horario_salida']}</ui:define>
												<rich:calendar popup="true" datePattern="dd/MM/yyyy HH:mm"
													id="idCalendarDesdeEvento2" pattern="dd/MM/yyyy HH:mm"
													value="#{crearSolicitudAdquisicion.adquisicion.transporteSalidaEvento}"
													required="false" enableManualInput="true" cellWidth="24px"
													cellHeight="22px" locale="es_CL"
													disabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
											<s:decorate template="../layout/edit.xhtml">
												<ui:define name="label">#{messages['crearadquisicion_horario_llegada']}</ui:define>
												<rich:calendar popup="true" datePattern="dd/MM/yyyy HH:mm"
													id="idCalendarHastaEvento2" pattern="dd/MM/yyyy HH:mm"
													value="#{crearSolicitudAdquisicion.adquisicion.transporteLlegadaEvento}"
													required="false" enableManualInput="true" cellWidth="24px"
													cellHeight="22px" locale="es_CL"
													disabled="#{not crearSolicitudAdquisicion.isModificable()}" />
											</s:decorate>
										</h:panelGrid>
									</div>
								</rich:tab>

								<rich:tab label="Observaciones">
									<div align="center">
										<s:decorate template="../layout/edit.xhtml">
											<ui:define name="label">#{messages['crearadquisicion_observaciones']}</ui:define>
											<h:inputTextarea rows="10" cols="100"
												value="#{crearSolicitudAdquisicion.adquisicion.observacionesEvento}"
												style="height : 87px; width : 400px;"
												readonly="#{not crearSolicitudAdquisicion.isModificable()}" />
										</s:decorate>
									</div>
								</rich:tab>
							</rich:tabPanel>
						</div>
					</rich:panel>
				</h:panelGroup>
			</rich:panel>

			<br />
			<h:panelGrid columns="7" cellspacing="3" id="idBotonesDocumento">
				<a4j:commandButton id="volver1"
					value="#{messages['crearadquisicion_volver']}"
					rendered="#{crearSolicitudAdquisicion.isEditable()}"
					onclick="Richfaces.showModalPanel('panelConfirmacionVolver')"
					immediate="true" />
				<a4j:commandButton id="volver2"
					value="#{messages['crearadquisicion_volver']}"
					rendered="#{not crearSolicitudAdquisicion.isEditable()}"
					action="#{crearSolicitudAdquisicion.end()}" immediate="true" />
				<h:commandButton id="guardar"
					value="#{messages['crearadquisicion_guardar']}"
					action="#{crearSolicitudAdquisicion.agregarDocumento}"
					disabled="#{not crearSolicitudAdquisicion.isEditable()}"
					rendered="#{crearSolicitudAdquisicion.isRenderedBotonGuardar()}" />
				<a4j:commandButton id="guardarConExpediente"
					value="#{messages['crearadquisicion_guardar_y_crear_expediente']}"
					action="#{crearSolicitudAdquisicion.guardarYCrearExpediente()}"
					disabled="#{not crearSolicitudAdquisicion.isEditable()}"
					rendered="#{crearSolicitudAdquisicion.isRenderedBotonGuardarCrearExpediente()}">
					<a4j:support event="oncomplete"
						action="#{modificarExpediente.begin()}">
						<f:param name="idExpediente" value="-1" />
					</a4j:support>
				</a4j:commandButton>
				<h:commandButton id="aprobar"
					value="#{messages['crearadquisicion_aprobar']}"
					action="#{crearSolicitudAdquisicion.aprobarSolAdquisicion()}"
					rendered="#{crearSolicitudAdquisicion.isRenderedBotonAceptarRechazar()}" />
				<a4j:commandButton id="rechazo"
					value="#{messages['crearadquisicion_rechazar']}"
					action="#{crearSolicitudAdquisicion.rechazarSolAdquisicion}"
					rendered="#{crearSolicitudAdquisicion.isRenderedBotonAceptarRechazar()}">
				</a4j:commandButton>

				<a4j:commandButton id="crearResolucion"
					value="#{messages['crearadquisicion_crear_resolucion']}"
					action="#{crearSolicitudAdquisicion.crearResolucion()}"
					rendered="#{crearSolicitudAdquisicion.esVisibleCrearResolucion()}"
					reRender="idPanelDiaAdministrativo">
				</a4j:commandButton>
			</h:panelGrid>
		</h:form>

		<rich:modalPanel id="idConfirmDialogDespachar" resizeable="false"
			width="230" height="75">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearadquisicion_confirmacion_despacho_expediente']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['crearadquisicion_desea_despachar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton value="#{messages['crearadquisicion_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')" />
					<h:commandButton value="#{messages['crearadquisicion_despachar']}"
						action="#{crearSolicitudAdquisicion.despacharExpediente()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="idConfirmDialogDespacharSinFirma"
			resizeable="false" width="330" height="150">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearadquisicion_confirmacion_despacho_expediente']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogDespacharSinFirma')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['crearadquisicion_atenciondp_el_presente_documento_no_esta_firmado_lo_que_permite_la_modificacion_por_parte_de_los_destinatarios_esta_seguro_de_despachar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton value="#{messages['crearadquisicion_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespacharSinFirma')" />
					<h:commandButton value="#{messages['crearadquisicion_despachar']}"
						action="#{crearSolicitudAdquisicion.despacharExpediente()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespacharSinFirma')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>


		<rich:modalPanel id="panelSeleccionAsistentes" resizeable="false"
			height="500" width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearadquisicion_seleccionar_asistente_evento']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					reRender="idPanelEventos, idDecorateUploadNomina"
					onclick="Richfaces.hideModalPanel('panelSeleccionAsistentes')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarAsistenteEvento.xhtml" />
			<h:form>
				<a4j:commandButton value="#{messages['crearadquisicion_volver']}"
					reRender="idPanelEventos, idDecorateUploadNomina"
					onclick="Richfaces.hideModalPanel('panelSeleccionAsistentes')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelAdjuntarArchivo" minHeight="270"
			minWidth="430" height="270" width="430">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearadquisicion_adjuntar_archivo']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					reRender="idPanelAntecedentes, panelAdjuntarArchivo"
					onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')">
				</h:graphicImage>
			</f:facet>
			<h:form enctype="multipart/form-data">
				<h:panelGrid columns="1">
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearadquisicion_materiadp']}</ui:define>
						<h:inputText id="materia" required="true"
							value="#{crearSolicitudAdquisicion.materiaArchivo}" />
					</s:decorate>
					<s:decorate id="decorateUpLoadFile" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearadquisicion_archivodp']}</ui:define>
						<rich:fileUpload id="upload" immediateUpload="true"
							maxFilesQuantity="1" acceptedTypes="*" listHeight="60px"
							fileUploadListener="#{crearSolicitudAdquisicion.listener}"
							addControlLabel="Agregar">
							<a4j:support event="onclear" reRender="decorateUpLoadFile" />
						</rich:fileUpload>
					</s:decorate>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<a4j:commandButton
						value="#{messages['crearadquisicion_agregar_archivo']}"
						action="#{crearSolicitudAdquisicion.agregarAntecedenteArchivo}"
						reRender="idPanelAntecedentes, panelAdjuntarArchivo"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')" />
					<a4j:commandButton value="#{messages['crearadquisicion_volver']}"
						reRender="idPanelAntecedentes, panelAdjuntarArchivo"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')"
						immediate="true" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelConfirmacionVolver" resizeable="false"
			height="100" width="455">
			<f:facet name="header">
				<h:outputText value="#{messages['crearadquisicion_confirmacion']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')"
					reRender="idPanelDocumento">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<div align="center">
					<h:outputText
						value="#{messages['crearadquisicion_el_documento_no_ha_sido_guardado_se_perderan_los_cambios']}" />
				</div>
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton
						value="#{messages['crearadquisicion_continuar_en_la_misma_pagina']}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
					<h:commandButton
						value="#{messages['crearadquisicion_volver_a_la_pagina_anterior']}"
						action="#{crearSolicitudAdquisicion.end}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

	</ui:define>

</ui:composition>

