<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<h:form id="formAgregarDocumentoDigitalizado"
			enctype="multipart/form-data">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="false" styleClass="message" />
		</a4j:outputPanel>
		<h:panelGrid columns="4">
			<h:panelGroup><h:outputText value="#{messages['crearexpedientetabdocumentodigitalizado_tipo_documento']}" style="font-weight:bold;" /><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
			<h:selectOneMenu id="tipoDocumentosList"
					valueChangeListener="#{crearExpediente.verificaTipoDocumento}" 
					value="#{crearExpediente.tipoDocumentoID}" 
					immediate="true"
					style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;">
				<a4j:support event="onchange" reRender="idPlazoDecorate" />
				<f:selectItems value="#{crearExpediente.listDocumentosNoElectronicos}" />
			</h:selectOneMenu>
			<h:panelGroup><h:outputText value="#{messages['crearexpedientetabdocumentodigitalizado_n_documento']}" style="font-weight:bold;" /><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
			<h:inputText id="nroDocumento" maxlength="20"
					style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;"
					value="#{crearExpediente.documentoBinario.numeroDocumento}">
				<f:validateLength minimum="1" maximum="255" />
				<f:attribute name="regexExcl" value="[%|#|?]+" />
				<a4j:support event="onblur" reRender="nrodocid" />
			</h:inputText>
						
			<h:outputText value="#{messages['crearexpedientetabdocumentodigitalizado_reservado']}" style="font-weight:bold;" />
 			<h:selectBooleanCheckbox value="#{crearExpediente.documentoBinario.reservado}" />
 			<h:outputText value="" />
 			<h:outputText value="" />
 			
 			<h:outputText value="#{messages['crearexpedientetabdocumentodigitalizado_antecedente']}" style="font-weight:bold;" />
 			<h:inputTextarea id="antecedente" required="false" rows="6"
					cols="30" value="#{crearExpediente.documentoBinario.antecedentes}"
					style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;"/>
			<h:panelGroup><h:outputText value="#{messages['crearexpedientetabdocumentodigitalizado_materiadp']}" style="font-weight:bold;" /><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
			<h:inputTextarea id="materia"  rows="6" cols="30"
					value="#{crearExpediente.documentoBinario.materia}"
					style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;"/>
								
			<h:panelGroup><h:outputText value="#{messages['crearexpedientetabdocumentodigitalizado_fecha_origen']}" style="font-weight:bold;" /><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
			<rich:calendar popup="true" id="idCalendarFechaDocumento"
					datePattern="dd/MM/yyyy" pattern="dd/MM/yyyy"
					value="#{crearExpediente.documentoBinario.fechaDocumentoOrigen}"
					enableManualInput="false" />
			<h:outputText value="#{messages['crearexpedientetabdocumentodigitalizado_plazo']}" style="font-weight:bold;" />
			<rich:calendar popup="true" datePattern="dd/MM/yyyy"
					pattern="dd/MM/yyyy" id="idCalendarPlazo"
					value="#{crearExpediente.documentoBinario.plazo}"
					enableManualInput="false" />
			
			<h:outputText value="#{messages['crearexpedientetabdocumentodigitalizado_nivel_urgencia']}" style="font-weight:bold;" />
			<h:selectOneMenu id="nivelurgencialist"
					value="#{crearExpediente.idAlerta}" immediate="true"
					style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;">
				<f:selectItems value="#{crearExpediente.nivelesUrgencia}" />
			</h:selectOneMenu>
			<h:outputText value="" />
			<h:outputText value="" />
			
			<h:panelGroup><h:outputText value="#{messages['crearexpedientetabdocumentodigitalizado_de']}" style="font-weight:bold;" /><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
			<h:inputText value="#{crearExpediente.documentoBinario.emisor}"
					style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;" />
			<h:outputText value="" />
			<h:outputText value="" />
			
			<h:panelGroup><h:outputText value="#{messages['crearexpedientetabdocumentodigitalizado_a']}" style="font-weight:bold;" /><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
			<h:panelGroup id="ADocumentoDigitalizado">
				<table border="0" cellpadding="0" cellspacing="0" align="left">
					<tr>
						<td>
                            <h:inputText 
                            		value="#{crearExpediente.destinatario}"
									rendered="#{empty crearExpediente.destinatariosDocumento}"
									disabled="false" id="destinatario"
									style=" width: 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;" />
								<rich:dataTable
										rendered="#{not empty crearExpediente.destinatariosDocumento}"
										var="itemDestinatarios" id="ddListDigitalizado"
										value="#{crearExpediente.destinatariosDocumento}"
										style=" width: 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;">
										<rich:subTable value="itemDoc">
											<rich:column>
												<h:outputLabel value="#{itemDestinatarios.descripcion}" />
											</rich:column>
										</rich:subTable>
									</rich:dataTable>
								</td>
								<td>
									<a4j:commandButton
											image="/imagenes/add.png" id="botonAgregarDestinatario"
											style="border: none; padding-left:5px; vertical-align:middle; background:transparent;"
											alt="#{messages['crearexpedientetabdocumentodigitalizado_alt_agregar_destinatarios']}"
											reRender="ADocumentoDigitalizado, ddListDigitalizado, panelGridSeleccionDestinatarios"
											action="#{seleccionarDestinatarioDocumento.limpiarDestinatario()}"
											oncomplete="Richfaces.showModalPanel('panelSeleccionDestinatarios')" />
								</td>
							</tr>
						</table>
					</h:panelGroup>
					<h:panelGroup><h:outputText value="#{messages['crearexpedientetabdocumentodigitalizado_adjuntar_archivo']}" style="font-weight:bold;" /><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
					<h:panelGroup id="panelSubirArchivo">
						<h:panelGrid columns="1">
							<rich:fileUpload id="upload" immediateUpload="true"
								maxFilesQuantity="1" acceptedTypes="*" listHeight="60px"
								listWidth="250"
								fileUploadListener="#{crearExpediente.listener}"
								addControlLabel="#{messages['crearexpedientetabdocumentodigitalizado_agregar']}"
								required="true" allowFlash="false" clearControlLabel=""
								disabled="false">
								<a4j:support event="onuploadcomplete"
									reRender="panelSubirArchivo" />
							</rich:fileUpload>
							<h:panelGroup>
								<h:outputLabel id="outputLabelNombreArchivo"
									value="#{crearExpediente.archivo.nombreArchivo}"
									rendered="#{crearExpediente.archivo != null and crearExpediente.archivo.nombreArchivo != null}" />
								<a4j:commandButton action="#{crearExpediente.clearUploadData}"
									id="commandButtonCrearArchivos" reRender="panelSubirArchivo"
									value="#{messages['crearexpedientetabdocumentodigitalizado_eliminar_adjunto']}"
									immediate="true"
									rendered="#{crearExpediente.archivo != null and crearExpediente.archivo.nombreArchivo != null}" />
							</h:panelGroup>
						</h:panelGrid>
					</h:panelGroup>
			</h:panelGrid>

		<br />
		<table width="100%">
			<tr>
				<td align="left"><h:panelGrid columns="3">
						<h:commandButton id="salir"
							value="#{messages['crearexpedientetabdocumentodigitalizado_cancelar']}"
							action="#{crearExpediente.end}" immediate="true" />
						<a4j:commandButton id="idButtonAgregarDocumentoDigitalizado"
							value="Guardar/Crear" status="waitStatus"
							action="#{crearExpediente.agregarDocumentoBinario}"
							oncomplete="if(#{crearExpediente.validarComplete}) {crearExpediente();}" />
						<h:commandButton id="idButtonDespachar"
							value="#{messages['crearexpedientetabdocumentodigitalizado_despachar']}"
							rendered="false"
							action="#{crearExpediente.despacharExpediente()}" />
					</h:panelGrid></td>
			</tr>
		</table>
	</h:form>

	<rich:modalPanel id="panelSeleccionDestinatarios" resizeable="false"
		height="500" width="900" style="overflow-y: scroll;" 
		onhide="#{seleccionarDestinatarioDocumento.limpiarDestinatario()}">
		<f:facet name="header">
			<h:outputText
				value="#{messages['crearexpedientetabdocumentodigitalizado_seleccionar_destinatario_documento']}"
				style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
		</f:facet>
		<f:facet name="controls">
			<h:graphicImage value="/imagenes/icon-close.png"
				style="cursor:pointer"
				onclick="limpiarBusquedaSeleccionDestinatarios()" />
		</f:facet>
		<h:panelGrid id="panelGridSeleccionDestinatarios" width="100%">
			<a4j:include viewId="seleccionarDestinatarioDocumento.xhtml" />
			<h:form>
				<a4j:jsFunction name="limpiarBusquedaSeleccionDestinatarios" 
					action="#{seleccionarPersonasBean.limpiarFormulario(true)}"
					reRender="ADocumentoDigitalizado, ddListDigitalizado, panelGridSeleccionDestinatarios" 
					oncomplete="Richfaces.hideModalPanel('panelSeleccionDestinatarios')"/>
				<a4j:commandButton
					value="#{messages['crearexpedientetabdocumentodigitalizado_volver_al_expediente']}"
					onclick="limpiarBusquedaSeleccionDestinatarios()" />
			</h:form>
		</h:panelGrid>
	</rich:modalPanel>

	

	<rich:modalPanel id="panelAdjuntarArchivo" minHeight="270"
		minWidth="430" height="280" width="400">
		<f:facet name="header">
			<h:outputText
				value="#{messages['crearexpedientetabdocumentodigitalizado_antecedentes']}"
				style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
		</f:facet>
		<f:facet name="controls">
			<h:graphicImage value="/imagenes/icon-close.png"
				style="cursor:pointer" id="imagenCerrar"
				reRender="idPanelAntecedentes, panelAdjuntarArchivo">
				<rich:componentControl for="panelAdjuntarArchivo"
					attachTo="imagenCerrar" operation="hide" event="onclick" />
			</h:graphicImage>
		</f:facet>
		<h:form enctype="multipart/form-data">
			<h:panelGrid columns="1" style=" text-align: left;" border="0"
				cellspacing="0" cellpadding="0">
				<s:decorate template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['crearexpedientedocumentoorigen_materiadp']}</ui:define>
					<h:inputText id="materia" required="true"
						value="#{crearExpediente.materiaArchivo}" style=" width: 350px;" />
				</s:decorate>
				<s:decorate id="decorateUpLoadFile" template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['crearexpedientedocumentoorigen_adjuntar_archivodp']}</ui:define>
					<rich:fileUpload id="upload" immediateUpload="true"
						maxFilesQuantity="1" acceptedTypes="*" listHeight="60px"
						fileUploadListener="#{crearExpediente.listenerAntecedentes}"
						addControlLabel="#{messages['crearexpedientedocumentoorigen_agregar']}"
						allowFlash="false" style=" width: 250px;" required="true"
						clearControlLabel="">
						<a4j:support event="onuploadcomplete"
							reRender="decorateUpLoadFile" />

					</rich:fileUpload>
					<h:panelGroup id="idUploadFileGroupAnte">

						<h:outputLabel id="outputLabelNombreArchivo"
							value="#{crearExpediente.archivoAdjuntoTemporal.nombreArchivo}"
							rendered="#{crearExpediente.archivoAdjuntoTemporal != null and crearExpediente.archivoAdjuntoTemporal.id == null}" />

						<a4j:commandButton
							action="#{crearExpediente.clearUploadAntecedente}"
							immediate="true" id="commandButtonCrearArchivos"
							reRender="decorateUpLoadFile"
							value="#{messages['crearexpedientetabdocumentodigitalizado_eliminar_adjunto']}"
							rendered="#{crearExpediente.archivoAdjuntoTemporal!= null}" />
					</h:panelGroup>
				</s:decorate>
			</h:panelGrid>
			<table width="100%">
				<tr>
					<td align="right"><h:panelGrid columns="2">
							<a4j:commandButton
								value="#{messages['crearexpedientetabdocumentodigitalizado_volver']}"
								id="botonVolverAdjuntarArchivo"
								reRender="idPanelAntecedentes, panelAdjuntarArchivo"
								immediate="true">
								<rich:componentControl for="panelAdjuntarArchivo"
									attachTo="botonVolverAdjuntarArchivo" operation="hide"
									event="onclick" />
							</a4j:commandButton>
							<a4j:commandButton
								value="#{messages['crearexpedientetabdocumentodigitalizado_agregar']}"
								id="botonAgregarAntecedente"
								action="#{crearExpediente.agregarAntecedentes}"
								reRender="idTableDocumentosAntecedentes, panelAdjuntarArchivo">
								<rich:componentControl for="panelAdjuntarArchivo"
									attachTo="botonAgregarAntecedente" operation="hide"
									event="onclick" />
							</a4j:commandButton>
						</h:panelGrid></td>
				</tr>
			</table>
		</h:form>
	</rich:modalPanel>

	<rich:modalPanel id="panelEspera" height="50">
		<f:facet name="header">
			<h:outputText
				value="#{messages['por_favor_espere']}" />
		</f:facet>
		<h:outputText
			value="#{messages['realizando_operacion']}" />
	</rich:modalPanel>

	<a4j:status id="waitStatus" forceId="true"
		onstart="Richfaces.showModalPanel('panelEspera')"
		onstop="Richfaces.hideModalPanel('panelEspera')" />

</ui:composition>