<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [
<!ENTITY deg ""> 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">

		<script type="text/javascript">
			function crearExpediente(){
				boton = document.getElementById('formBotones:buttonModificarExpediente');
				boton.click();
			}
		</script>
		<rich:panel id="panelNuevoExpediente">
			<f:facet name="header">
				<span>#{messages['crearexpedientedocumentoorigen_nuevo_expediente']}</span>
			</f:facet>
			<table width="100%">
				<tr>
					<td align="right"><h:panelGrid columns="2">
							<h:outputLabel
								value="#{messages['crearexpedientedocumentoorigen_fecha_ingreso_expedientedp']}"
								style="font-weight: bold;" />
							<h:outputLabel value="#{crearExpediente.fechaIngreso}">
								<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputLabel>
						</h:panelGrid></td>
				</tr>
			</table>

			<h:panelGrid columns="1" id="agregarDocumento" style=" width: 100%;">
				<!-- Tab - Digitalizado -->
				<rich:tabPanel switchType="ajax" style=" width: 100%;"
					selectedTab="#{crearExpediente.formato}"
					valueChangeListener="#{crearExpediente.valueChanged}"
					id="tabTipoDocumento">
					<rich:tab
						label="#{messages['crearexpedientedocumentoorigen_documento_papel']}"
						name="papel">
						<a4j:include viewId="crearExpedienteTabDocumentoPapel.xhtml"
							id="idIncludePapel" />
						<a4j:support event="onfocus"
							reRender="idIncludePapel:formAgregarDocumentoPapel" />
					</rich:tab>

					<rich:tab
						label="#{messages['crearexpedientedocumentoorigen_documento_digitalizado']}"
						name="digitalizado">
						<a4j:include
							viewId="crearExpedienteTabDocumentoDigitalizado.xhtml"
							id="idIncludeDigitalizado" />
						<a4j:support event="onfocus"
							reRender="idIncludeDigitalizado:formAgregarDocumentoDigitalizado" />
					</rich:tab>

					<rich:tab
						label="#{messages['crearexpedientedocumentoorigen_documento_electronico']}"
						name="electronico" rendered="true">
						<a4j:outputPanel ajaxRendered="true">
							<h:messages globalOnly="true" styleClass="message" />
						</a4j:outputPanel>
						<h:panelGrid columns="3" style="text-align: left;">
							<h:form>
								<h:outputText
									value="#{messages['crearexpedientedocumentoorigen_seleccione_un_documento']}"
									style="font-weight: bold;" />
								<h:outputText value=" : "
									style="font-weight: bold; width:25px; text-align:center;" />
								<h:selectOneMenu id="idDocumentosElectronicosList"
									style=" width : 250px;"
									value="#{crearExpediente.tipoDocumentoAdjuntar}">
									<f:selectItems
										value="#{crearExpediente.listDocumentosElectronicos}" />
									<a4j:support
										action="#{crearExpediente.adjuntarDocumentoElectronico}"
										event="onclick"
										reRender="buttonModificarExpediente, listaDocumentosIniciales, idDecorateResolucionAsociado, tableHijas, datosGroup" />
								</h:selectOneMenu>
							</h:form>
						</h:panelGrid>
					</rich:tab>
				</rich:tabPanel>
			</h:panelGrid>

			<h:form id="formDocIni">
				<rich:panel id="listaDocumentos" rendered="false">
					<f:facet name="header">#{messages['crearexpedientedocumentoorigen_documentos_iniciales']}</f:facet>
					<rich:dataTable width="100%"
						rendered="#{not empty crearExpediente.listDocumentosRespuesta}"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						var="itemDoc" value="#{crearExpediente.listDocumentosRespuesta}"
						id="listaDocumentosIniciales">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText
										value="#{messages['crearexpedientedocumentoorigen_n']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearexpedientedocumentoorigen_fecha']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearexpedientedocumentoorigen_antecedentes']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearexpedientedocumentoorigen_materia22']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearexpedientedocumentoorigen_emisor']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearexpedientedocumentoorigen_destinatario']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearexpedientedocumentoorigen_tipo']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearexpedientedocumentoorigen_formato']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearexpedientedocumentoorigen_estado']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearexpedientedocumentoorigen_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="itemDoc">

							<rich:column>
								<h:outputLabel value="#{itemDoc.numeroDocumento}"
									rendered="#{itemDoc.numeroDocumento != 'sinNumeroDocumentoFolio'}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{itemDoc.fechaDocumentoOrigen}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy"
										timeZone="#{customizacion.getPropiedad('timezone')}" />
								</h:outputLabel>
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{itemDoc.antecedentes}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{itemDoc.materia}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{itemDoc.emisor}" />
							</rich:column>
							<rich:column>
								<h:outputLabel
									value="#{itemDoc.destinatarios.get(0).destinatario}"
									rendered="#{not empty itemDoc.destinatarios}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{itemDoc.tipoDocumento.descripcion}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{itemDoc.formatoDocumento.descripcion}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{itemDoc.estado.descripcion}" />
							</rich:column>
							<rich:column>
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									reRender="listaDocumentos, agregarDocumento"
									action="#{crearExpediente.eliminarDocumento(itemDoc.idNuevoDocumento)}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</rich:panel>
			</h:form>
		</rich:panel>


		<h:form id="formBotones" style="visibility: hidden; display:none;">
			<h:panelGrid columns="2" cellspacing="3">
				<h:commandButton id="salir"
					value="#{messages['crearexpedientedocumentoorigen_cancelar']}"
					action="#{crearExpediente.end}" />
			</h:panelGrid>
			<div id="divGuardar"
				style="visibility: hidden; width: 0px; height: 0px;">
				<a4j:commandButton id="buttonModificarExpediente"
					value="#{messages['crearexpedientedocumentoorigen_crear_expediente']}"
					action="#{crearExpediente.distribuirDocumentos()}"
					style="visibility: hidden; width : 0px; height : 0px;">
					<a4j:support event="oncomplete" status="outerWaitStatus"
						action="#{modificarExpediente.begin()}">
						<f:param name="idExpediente" value="-1" />
					</a4j:support>

				</a4j:commandButton>
			</div>
		</h:form>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>

		<a4j:status id="outerWaitStatus" forceId="true"
			onstart="Richfaces.showModalPanel('panelEspera')"
			onstop="Richfaces.hideModalPanel('panelEspera')" />
	</ui:define>
</ui:composition>
