<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">


		<h:form id="crearOficioCircular">
			<a4j:outputPanel ajaxRendered="true">
				<h:messages globalOnly="false" styleClass="message" />
			</a4j:outputPanel>
			<rich:panel id="idPanelDocumento">
				<f:facet name="header">#{messages['crearoficiocircular_oficio_circular']}</f:facet>
				<h:panelGrid columns="2">
					<h:panelGrid columns="1" style="textAlign: center;">
						<h:graphicImage id="logoGobierno"
							url="/imagenes/logoInstitucion.png" />
						<h:graphicImage id="idImageFirmado" url="/imagenes/firmado.gif"
							rendered="#{crearOficioCircular.firmado}" />
					</h:panelGrid>
					<h:panelGroup>
						<h:panelGrid columns="1">
							<s:decorate template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['crearoficiocircular_oficio_circular_n_dp']}</ui:define>
								<h:inputText required="false"
									value="#{crearOficioCircular.oficioCircular.numeroDocumento}"
									disabled="true" />
							</s:decorate>
							<s:decorate id="fechaDocumentoField"
								template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['crearoficiocircular_santiago']}</ui:define>
								<rich:calendar popup="true" datePattern="dd/MM/yyyy"
									id="fechaDocumento" pattern="dd/M/yyyy"
									value="#{crearOficioCircular.oficioCircular.fechaDocumentoOrigen}"
									required="false" enableManualInput="false"
									disabled="true" />
							</s:decorate>
							<s:decorate id="fechaCreacionField"
								template="../layout/edit.xhtml" style="visibility:hidden;">
								<rich:calendar datePattern="dd/MM/yyyy HH:mm" id="fechaCreacion"
									pattern="dd/MM/yyyy HH:mm" disabled="true"
									value="#{crearOficioCircular.oficioCircular.fechaCreacion}"
									required="false" />
							</s:decorate>
							<s:decorate template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['crearoficiocircular_antecedentes_dp']}</ui:define>
								<h:inputTextarea rows="6" cols="30"
									value="#{crearOficioCircular.oficioCircular.antecedentes}"
									readonly="#{not crearOficioCircular.isEditable()}" />
							</s:decorate>
							<s:decorate template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['crearoficiocircular_materia_dp']}<s:span styleClass="required">*</s:span></ui:define>
								<h:inputTextarea rows="6" cols="30" 
									value="#{crearOficioCircular.oficioCircular.materia}"
									readonly="#{not crearOficioCircular.isEditable()}" />
							</s:decorate>
						</h:panelGrid>
					</h:panelGroup>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<s:decorate template="../layout/edit.xhtml"
						id="idDecorateEmisorDocumento">
						<ui:define name="label">#{messages['crearoficiocircular_de_dp']}</ui:define>
						<h:inputText required="true" style=" width : 400px;"
							value="#{crearOficioCircular.oficioCircular.emisor}"
							disabled="true" />
						<a4j:commandButton
							oncomplete="Richfaces.showModalPanel('panelSeleccionEmisor')"
							action="#{seleccionarEmisorDocumento.limpiarDestinatario()}"
							value="#{messages['crearoficiocircular_cambiar_emisor']}"
							reRender="idDecorateEmisorDocumento, idBotonesDocumento, panelGridSeleccionEmisor"
							rendered="#{crearOficioCircular.isEditable()}" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml"
						id="idDestinatariosDocumento">
						<ui:define name="label">#{messages['crearoficiocircular_a_dp']}<s:span
								styleClass="required">*</s:span>
						</ui:define>
						<h:panelGrid columns="2" border="0" cellpadding="0"
							cellspacing="0">
							<rich:dataTable
								rendered="#{not empty crearOficioCircular.destinatariosDocumento}"
								var="itemDestinatarios" id="idListDestinatariosDocumento"
								value="#{crearOficioCircular.destinatariosDocumento}"
								style=" width : 400px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;"
								required="true">
								<rich:subTable value="itemDoc">
									<rich:column>
										<h:outputLabel value="#{itemDestinatarios.descripcion}" />
									</rich:column>
								</rich:subTable>
							</rich:dataTable>
							<a4j:commandButton
								oncomplete="Richfaces.showModalPanel('panelSeleccionDestinatarios')"
								action="#{seleccionarDestinatarioDocumento.limpiarDestinatario()}"
								value="#{messages['crearoficiocircular_agregar_destinatario']}"
								reRender="idDestinatariosDocumento, idListDestinatariosDocumento, panelGridSeleccionDestinatarios"
								rendered="#{crearOficioCircular.isEditable()}" />
						</h:panelGrid>
					</s:decorate>
					<s:decorate id="plazoDecorate" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearoficiocircular_plazo']}</ui:define>
						<rich:calendar id="plazoCal" popup="true"
							datePattern="dd/MM/yyyy" 
							pattern="dd/MM/yyyy"
							value="#{crearOficioCircular.oficioCircular.plazo}"
							required="false" enableManualInput="false"
							disabled="#{not crearOficioCircular.isEditable()}"/>
					</s:decorate>
					<br />
					<h:inputTextarea rows="10" cols="70" style="font-size:120%;"
						value="#{crearOficioCircular.parrafo}"
						readonly="#{not crearOficioCircular.isEditable()}" />

				</h:panelGrid>
				<br />
				<rich:panel id="idPanelAntecedentes">
					<f:facet name="header">#{messages['crearoficiocircular_antecedentes']}</f:facet>
					<a4j:commandButton
						value="#{messages['crearoficiocircular_agregar']}"
						oncomplete="Richfaces.showModalPanel('panelAdjuntarArchivo')"
						rendered="#{crearOficioCircular.isEditable()}"
						action="#{crearOficioCircular.limpiarAnexos()}" 
						reRender="formAdjuntarArchivo"/>
					<rich:dataTable width="100%"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						var="itemDoc" value="#{crearOficioCircular.listaArchivos}"
						rendered="#{not empty crearOficioCircular.listaArchivos}"
						id="idTableDocumentosAntecedentes">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText value="#{messages['crearoficiocircular_ver']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearoficiocircular_titulo']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearoficiocircular_materia']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearoficiocircular_adjuntado_por']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearoficiocircular_fecha']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearoficiocircular_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="itemDoc">
							<rich:column style="width:25px; text-align:center;">
								<a4j:htmlCommandLink 
									action="#{visualizador.verArchivoTemporal(itemDoc)}" 
									rendered="#{itemDoc.id == null and itemDoc.archivo != null and itemDoc.cmsId == null}">
									<h:graphicImage 
										url="/imagenes/ver_detalle_01.gif" 
										style="border: none; background:transparent;" />
								</a4j:htmlCommandLink>
								<a4j:htmlCommandLink 
									action="#{visualizador.verArchivoRepositorio(itemDoc)}" 
									rendered="#{itemDoc.id != null and itemDoc.cmsId != null}">
									<h:graphicImage 
										url="/imagenes/ver_detalle_01.gif" 
										style="border: none; background:transparent;" />
								</a4j:htmlCommandLink>
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDoc.nombreArchivo}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDoc.materia}" />
							</rich:column>
							<rich:column>
								<h:outputText rendered="#{itemDoc.adjuntadoPor != null}"
									value="#{itemDoc.adjuntadoPor.nombreApellido}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{itemDoc.fecha}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
								</h:outputLabel>
							</rich:column>
							<rich:column style="width:25px; text-align:center;">
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									reRender="idTableDocumentosAntecedentes, idPanelAntecedentes"
									action="#{crearOficioCircular.eliminarArchivoAntecedente(itemDoc)}"
									rendered="#{crearOficioCircular.isEditable()}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</rich:panel>
				<br />
				<rich:panel id="idPanelDistribucion">
					<f:facet name="header">#{messages['crearoficiocircular_distribucion']}</f:facet>
					<h:panelGrid columns="2" width="100%">
						<rich:dataTable id="idTableDistribucion"
							onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="#{crearOficioCircular.distribucionDocumento}"
							var="itemDist"
							rendered="#{not empty crearOficioCircular.distribucionDocumento}"
							style=" width : 100%;">
							<f:facet name="header">
								<rich:columnGroup>
									<rich:column>
										<h:outputText
											value="#{messages['crearoficiocircular_lista_de_distribucion']}" />
									</rich:column>
								</rich:columnGroup>
							</f:facet>
							<rich:subTable
								onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
								onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
								value="itemDist">
								<rich:column>
									<h:outputText value="#{itemDist.descripcion}" />
								</rich:column>
							</rich:subTable>
						</rich:dataTable>
					</h:panelGrid>
					<a4j:commandButton
						oncomplete="Richfaces.showModalPanel('panelSeleccionDistribucion')"
						action="#{seleccionarDistribucionDocumento.limpiarDestinatario()}"
						value="#{messages['crearoficiocircular_agregar']}"
						reRender="idTableDistribucion, idPanelDistribucion, panelGridSeleccionDistribucion"
						rendered="#{crearOficioCircular.isEditable()}" />
				</rich:panel>
				<br />
				<rich:panel style="padding:0" headerClass="outpanelHeader">
					<f:facet name="header">
						<span>#{messages['personas_que_han_visado_y_firmado']}</span>
					</f:facet>
					<h:panelGrid columns="2" width="100%">
						<h:panelGroup>
							<ui:repeat id="idRepeatVisaciones" var="visa"
								value="#{crearOficioCircular.getVisaciones()}"
								rendered="#{crearOficioCircular.visado}">
								<h:outputText value="#{visa.persona.iniciales}" />
								<h:outputText value="/" />
							</ui:repeat>
							<h:outputText
								value="#{crearOficioCircular.oficioCircular.autor.iniciales.toLowerCase()}" />
						</h:panelGroup>
						<h:panelGroup>
							<h:panelGrid columns="1" style="text-align: right"
								rendered="#{crearOficioCircular.firmado}">
								<h:panelGroup>
									<h:outputText
										value="#{crearOficioCircular.oficioCircular.firmas.get(0).persona.nombres}" />
									<h:outputText value=" " />
									<h:outputText
										value="#{crearOficioCircular.oficioCircular.firmas.get(0).persona.apellidoPaterno}" />
								</h:panelGroup>
								<h:outputText
									value="#{crearOficioCircular.oficioCircular.firmas.get(0).persona.cargo.descripcion}" />
							</h:panelGrid>
						</h:panelGroup>
					</h:panelGrid>
				</rich:panel>

			</rich:panel>
			<br />

			<h:panelGrid columns="9" cellspacing="3" id="idBotonesDocumento">
				<a4j:commandButton id="volver1"
					value="#{messages['crearoficiocircular_volver']}"
					rendered="#{crearOficioCircular.isEditable()}"
					onclick="Richfaces.showModalPanel('panelConfirmacionVolver')" />
				<a4j:commandButton id="volver2"
					value="#{messages['crearoficiocircular_volver']}"
					rendered="#{crearOficioCircular.isRenderedBotonVolver()}" 
					onclick="Richfaces.showModalPanel('panelEspera')"
					action="#{crearOficioCircular.end()}"/>
				<a4j:commandButton id="guardar"
					value="#{messages['crearoficiocircular_guardar']}"
					action="#{crearOficioCircular.agregarDocumento}"
					rendered="#{crearOficioCircular.isEditable() and crearOficioCircular.isRenderedBotonGuardar()}" 
					onclick="Richfaces.showModalPanel('panelEspera')"
					oncomplete="if(#{not crearOficioCircular.isDocumentoValido()}){Richfaces.hideModalPanel('panelEspera');}"/>
				<a4j:commandButton id="guardarConExpediente"
					value="#{messages['crearoficiocircular_guardar_y_crear_expediente']}"
					action="#{crearOficioCircular.guardarYCrearExpediente()}"
					rendered="#{crearOficioCircular.isRenderedBotonGuardarCrearExpediente()}"
					onclick="Richfaces.showModalPanel('panelEspera')"
					oncomplete="if(#{crearOficioCircular.isDocumentoValido()}){crearExpediente();}else{Richfaces.hideModalPanel('panelEspera');}"/>
				<a4j:commandButton id="visar"
					value="#{messages['crearoficiocircular_visar']}"
					action="#{crearOficioCircular.visar()}"
					rendered="#{crearOficioCircular.isRenderedBotonVisar() and crearOficioCircular.isEditableSinVisa()}"
					reRender="idPanelDocumento, idBotonesDocumento"
					onclick="this.disabled='true';Richfaces.showModalPanel('panelEspera')"
					oncomplete="Richfaces.hideModalPanel('panelEspera')" />
				<a4j:commandButton id="firmarAvanzada"
					value="#{messages['crearoficiocircular_firmar']}"
					onclick="Richfaces.showModalPanel('panelFirmaApplet')"
					rendered="#{crearOficioCircular.isRenderedBotonFirmar() and crearOficioCircular.isEditableSinVisa()}"
					reRender="idPanelDocumento, idBotonesDocumento"/>
				<h:commandLink
					rendered="#{crearOficioCircular.renderedBotonVisualizar}"
					action="#{visualizador.verDocumento(crearOficioCircular.oficioCircular)}"
					actionListener="#{crearOficioCircular.previsualizar}"
					styleClass="sin_formato" target="_blank">
					<h:commandButton value="#{messages['visualizar']}"/>
				</h:commandLink>
			</h:panelGrid>
			<a4j:outputPanel ajaxRendered="true">
				<h:messages globalOnly="false" styleClass="message" />
			</a4j:outputPanel>
			<a4j:commandButton id="buttonCrearExpediente" style="visibility:hidden;" 
					action="#{modificarExpediente.begin()}">
				<f:param name="idExpediente" value="-1" />
			</a4j:commandButton>
		</h:form>
		
		<script type="text/javascript">
		function crearExpediente() {
			document.getElementById('crearOficioCircular:buttonCrearExpediente').click();
		}
		</script>

		<rich:modalPanel id="panelFirmaApplet" resizeable="false" height="190"
			width="335" rendered="#{crearOficioCircular.isRenderedBotonFirmar()}">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearoficiocircular_firma_electronica']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelFirmaApplet')">
				</h:graphicImage>
			</f:facet>
			<applet name="exedoc" code="cl.exe.firma.applet.FirmaApplet.class"
				codebase="#{crearOficioCircular.urlFirma}exedoc/applet/"
				archive="./firmaappletfirmado.jar, ./commons-codec-1.3.jar, ./commons-httpclient-3.1.jar, ./commons-logging-1.1.1.jar, ./bcprov-jdk14-136.jar, ./iText-2.1.7.jar"
				width="315" height="110">
				<param name="url_documento"
					value="#{crearOficioCircular.urlFirma}exedoc/servlet/getDocumentoXml;jsessionid=#{crearOficioCircular.sessionId}?#{manager.conversationIdParameter}=#{conversation.id}&#38;documentoId=#{crearOficioCircular.oficioCircular.id}&#38;firmadorId=#{usuario.id}" />
				<param name="url_post"
					value="#{crearOficioCircular.urlFirma}exedoc/servlet/putDocumentoXml;jsessionid=#{crearOficioCircular.sessionId}?#{manager.conversationIdParameter}=#{conversation.id}&#38;documentoId=#{crearOficioCircular.oficioCircular.id}&#38;firmadorId=#{usuario.id}" />
				<param name="url_retorno"
					value="javascript:buscaDocumento(#{conversation.id});" />
				<param name="tipo_firma" value="repositorio" />
				<param name="tipo_documento" value="xml" />
				<param name="modo" value="local" />
				<param name="tarea" value="#{crearOficioCircular.oficioCircular.id}" />
				<param name="rut" value="#{usuario.rut}" />
				<param name="rut_ca"
					value="96928180-5;70008310-1;96919050-8;99532830-5;99551740-K;78527970-0" />
			</applet>
			<h:form>
				<a4j:commandButton value="#{messages['crearoficiocircular_volver']}"
					onclick="Richfaces.hideModalPanel('panelFirmaApplet')"
					immediate="true" />
			</h:form>
			<h:form>
				<a4j:jsFunction name="ejecutaBuscaDocumento"
					action="#{crearOficioCircular.buscaDocumento2()}" immediate="true" />
				<a4j:jsFunction name="ejecutaBuscaDocumento2"
					action="#{crearOficioCircular.buscaDocumento2()}" immediate="true" />
			</h:form>
		</rich:modalPanel>
		<script>
		<!--
			function buscaDocumento(conversationId){
				Richfaces.hideModalPanel('panelFirmaApplet');
				Richfaces.showModalPanel('panelEspera');
				ejecutaBuscaDocumento2();
			}
			function buscaDocumentoTomaRegistro(conversationId){
				Richfaces.hideModalPanel('panelFirmaApplet');
				Richfaces.showModalPanel('panelEspera');
				ejecutaBuscaDocumento2();
			}
		-->
		</script>

		<h:panelGrid id="levantaApplet"
			rendered="#{false and crearOficioCircular.validarPanelApplet}" columns="1">
			<script type="text/javascript">
				Richfaces.showModalPanel('panelFirmaApplet');
			</script>
		</h:panelGrid>

		<rich:modalPanel id="panelSeleccionEmisor" resizeable="false"
			height="320" width="600" onhide="#{seleccionarEmisorDocumento.limpiarDestinatario()}">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearoficiocircular_seleccionar_emisor_documento']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="limpiarBusquedaSeleccionEmisor()"/>
			</f:facet>
			<h:panelGrid id="panelGridSeleccionEmisor" width="100%">
				<a4j:include viewId="seleccionarEmisorDocumento.xhtml" />
				<h:form>
					<a4j:jsFunction name="limpiarBusquedaSeleccionEmisor" 
						reRender="idDecorateEmisorDocumento, idBotonesDocumento, panelGridSeleccionEmisor" 
						oncomplete="Richfaces.hideModalPanel('panelSeleccionEmisor')"/>
					<a4j:commandButton value="#{messages['crearoficiocircular_volver']}"
						onclick="limpiarBusquedaSeleccionEmisor()" />
				</h:form>
			</h:panelGrid>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionDestinatarios" resizeable="false"
			height="500" width="900" style="overflow-y: scroll;" 
			onhide="#{seleccionarDestinatarioDocumento.limpiarDestinatario()}">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearoficiocircular_seleccionar_destinatario_documento']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="limpiarBusquedaSeleccionDestinatarios()" />
			</f:facet>
			<h:panelGrid id="panelGridSeleccionDestinatarios" width="100%">
				<a4j:include viewId="seleccionarDestinatarioDocumento.xhtml" />
				<h:form>
					<a4j:jsFunction name="limpiarBusquedaSeleccionDestinatarios" 
						action="#{seleccionarPersonasBean.limpiarFormulario(true)}" 
						reRender="idDestinatariosDocumento, idListDestinatariosDocumento, panelGridSeleccionDestinatarios" 
						oncomplete="Richfaces.hideModalPanel('panelSeleccionDestinatarios')"/>
					<a4j:commandButton value="#{messages['crearoficiocircular_volver']}"
						onclick="limpiarBusquedaSeleccionDestinatarios()" />
				</h:form>
			</h:panelGrid>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionDistribucion" resizeable="false"
			height="500" width="900" style="overflow-y: scroll;" 
			onhide="#{seleccionarDistribucionDocumento.limpiarDestinatario()}">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearoficiocircular_seleccionar_distribucion_documento']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="limpiarBusquedaSeleccionDistribucion()" />
			</f:facet>
			<h:panelGrid id="panelGridSeleccionDistribucion" width="100%">
				<a4j:include viewId="seleccionarDistribucionDocumento.xhtml" />
				<h:form>
					<a4j:jsFunction name="limpiarBusquedaSeleccionDistribucion" 
						action="#{seleccionarPersonasBean.limpiarFormulario(true)}" 
						reRender="idTableDistribucion, idPanelDistribucion, panelGridSeleccionDistribucion" 
						oncomplete="Richfaces.hideModalPanel('panelSeleccionDistribucion')"/>
					<a4j:commandButton value="#{messages['crearoficiocircular_volver']}"
						onclick="limpiarBusquedaSeleccionDistribucion()" />
				</h:form>
			</h:panelGrid>
		</rich:modalPanel>

		<rich:modalPanel id="panelAdjuntarArchivo" minHeight="270"
			minWidth="430" height="270" width="430" 
			onhide="#{crearOficioCircular.limpiarAnexos()}">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearoficiocircular_adjuntar_archivo']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					reRender="idPanelAntecedentes, panelAdjuntarArchivo"
					onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')">
				</h:graphicImage>
			</f:facet>
			<h:form id="formAdjuntarArchivo">
				<a4j:outputPanel ajaxRendered="true">
					<h:messages globalOnly="false" styleClass="message" />
				</a4j:outputPanel>
				<h:panelGrid columns="2" style="text-align: left">
					<h:outputText value="#{messages['crearoficiocircular_materiadp']}" style="font-weight:bold;" />
					<h:inputText value="#{crearOficioCircular.materiaArchivo}" />
					
					<h:outputText value="#{messages['crearoficiocircular_archivodp']}" style="font-weight:bold;" />
					<rich:fileUpload id="uploadFile" immediateUpload="true"
						maxFilesQuantity="1" acceptedTypes="*" listHeight="63" listWidth="300" 
						fileUploadListener="#{crearOficioCircular.listener}"
						addControlLabel="#{messages['crearoficiocircular_agregar']}"
						allowFlash="false">
						<a4j:support event="onclear" reRender="uploadFile" action="#{crearOficioCircular.removeArchivoAnexo()}" />
					</rich:fileUpload>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<a4j:commandButton
						value="#{messages['crearoficiocircular_agregar_archivo']}"
						action="#{crearOficioCircular.agregarAntecedenteArchivo}"
						reRender="idPanelAntecedentes"
						oncomplete="if(#{crearOficioCircular.validarAntecedente}){Richfaces.hideModalPanel('panelAdjuntarArchivo');}" />
					<a4j:commandButton
						value="#{messages['crearoficiocircular_volver']}"
						reRender="idPanelAntecedentes, formAdjuntarArchivo"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')"/>
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelConfirmacionVolver" resizable="false"
			height="100" width="455"
			rendered="#{crearOficioCircular.isEditableSinVisa()}">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearoficiocircular_confirmacion']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')"
					reRender="idPanelDocumento">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<div align="center">
					<h:outputText
						value="#{messages['crearoficiocircular_el_documento_no_ha_sido_guardado_se_perderan_los_cambios']}" />
				</div>
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton
						value="#{messages['crearoficiocircular_continuar_en_la_misma_pagina']}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
					<h:commandButton
						value="#{messages['crearoficiocircular_volver_a_la_pagina_anterior']}"
						action="#{crearOficioCircular.end}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver');Richfaces.showModalPanel('panelEspera');" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>

		<rich:modalPanel id="panelEsperaCrear" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearoficiocircular_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['crearoficiocircular_espere_mientras_se_guarda_oficio']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>

