<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="../layout/template.xhtml">

	<ui:define name="body">

		<h:form id="formAgregarDocumentoDigitalizado"
			enctype="multipart/form-data">
			<a4j:outputPanel ajaxRendered="true">
				<h:messages globalOnly="false" styleClass="message" />
			</a4j:outputPanel>

			<rich:panel style="width:100%">
				<f:facet name="header">
					<span>Información de Ingreso </span>
				</f:facet>
				<h:panelGrid columns="4">
					<h:panelGroup><h:outputText value="#{messages['creardocumentobinario_tipo_documento_dp']}" style="font-weight: bold;"/><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
					<h:selectOneMenu id="tipoDocumentosList"
							disabled="#{not crearDocumentoBinario.documento.enEdicion}"
							value="#{crearDocumentoBinario.tipoDocumentoID}" 
							immediate="true"
							style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;">
						<f:selectItems value="#{crearDocumentoBinario.listTipoDocumentos}" />
					</h:selectOneMenu>
					<h:panelGroup><h:outputText value="#{messages['creardocumentobinario_n_documento_dp']}" style="font-weight: bold;"/><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
					<h:inputText id="nroDocumento" maxlength="20"
							value="#{crearDocumentoBinario.documento.numeroDocumento}"
							disabled="#{not crearDocumentoBinario.documento.enEdicion}"
							style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;"/>
					
					<h:outputText value="#{messages['creardocumentobinario_reservado_dp']}" style="font-weight: bold;"/>
					<h:selectBooleanCheckbox
							value="#{crearDocumentoBinario.documento.reservado}"
							disabled="#{not crearDocumentoBinario.documento.enEdicion}" />
					<h:outputText value=""/>
					<h:outputText value=""/>
					
					<h:outputText value="#{messages['creardocumentobinario_antecedente_dp']}" style="font-weight: bold;"/>
					<h:inputTextarea id="antecedente"  rows="6"
							cols="30"
							value="#{crearDocumentoBinario.documento.antecedentes}"
							disabled="#{not crearDocumentoBinario.documento.enEdicion}"
							style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;"/>
					<h:panelGroup><h:outputText value="#{messages['creardocumentobinario_materia_dp']}" style="font-weight: bold;"/><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
					<h:inputTextarea id="materia" rows="6" cols="30"
							value="#{crearDocumentoBinario.documento.materia}"
							disabled="#{not crearDocumentoBinario.documento.enEdicion}"
							style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;"/>
					
					<h:panelGroup><h:outputText value="#{messages['creardocumentobinario_fecha_origen_dp']}" style="font-weight: bold;"/><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
					<rich:calendar popup="true" id="idCalendarFechaDocumento"
							datePattern="dd/MM/yyyy" pattern="dd/MM/yyyy"
							value="#{crearDocumentoBinario.documento.fechaDocumentoOrigen}"
							disabled="#{not crearDocumentoBinario.documento.enEdicion}"
							enableManualInput="false" />
					<h:outputText value="#{messages['creardocumentobinario_plazo_dp']}" style="font-weight: bold;"/>
					<rich:calendar popup="true" datePattern="dd/MM/yyyy"
							pattern="dd/MM/yyyy" id="idCalendarPlazo"
							value="#{crearDocumentoBinario.documento.plazo}"
							disabled="#{not crearDocumentoBinario.documento.enEdicion}"
							immediate="true"/>

					<h:outputText value="#{messages['creardocumentobinario_nivel_urgencia_dp']}" style="font-weight: bold;"/>
					<h:selectOneMenu id="nivelurgencialist"
							value="#{crearDocumentoBinario.idAlerta}" immediate="true"
							requiredMessage="Debe seleccionar un nivel de urgencia."
							disabled="#{not crearDocumentoBinario.documento.enEdicion}"
							style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;">
						<f:selectItems value="#{crearDocumentoBinario.nivelesUrgencia}" />
					</h:selectOneMenu>
					<h:outputText value=""/>
					<h:outputText value=""/>

					<h:panelGroup><h:outputText value="#{messages['creardocumentobinario_de_dp']}" style="font-weight: bold;"/><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
					<h:inputText 
							value="#{crearDocumentoBinario.documento.emisor}"
							disabled="#{not crearDocumentoBinario.documento.enEdicion}"
							maxlength="255"
							style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;" />
					<h:outputText value=""/>
					<h:outputText value=""/>
					
					<h:panelGroup><h:outputText value="#{messages['creardocumentobinario_a_dp']}" style="font-weight: bold;"/><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
					<h:panelGroup id="ADocumentoDigitalizado">
						<table border="0" cellpadding="0" cellspacing="0" align="left">
							<tr>
								<td>
									<h:inputText 
											value="#{crearDocumentoBinario.destinatario}"
											rendered="#{empty crearDocumentoBinario.destinatariosDocumento}"
											id="destinatario"
											style="FONT-SIZE: xx-small; width : 250px; border: 1px solid #BBBBBB; background: #F0F8FF; color: black; font-family: Arial,sans-serif;" />
									<rich:dataTable
											rendered="#{not empty crearDocumentoBinario.destinatariosDocumento}"
											var="itemDestinatarios" id="ddListDigitalizado"
											value="#{crearDocumentoBinario.destinatariosDocumento}"
											style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;">
										<rich:subTable value="itemDoc">
											<rich:column>
												<h:outputLabel value="#{itemDestinatarios.descripcion}" />
											</rich:column>
										</rich:subTable>
									</rich:dataTable>
								</td>
								<td>
									<a4j:commandButton
										image="/imagenes/add.png" id="botonAgregarDestinatario"
										style="border: none; padding-left:5px; vertical-align:middle; background:transparent;"
										alt="#{messages['creardocumentobinario_alt_agregar_destinatarios']}"
										reRender="ADocumentoDigitalizado, ddListDigitalizado, panelGridSeleccionDestinatarios"
										rendered="#{crearDocumentoBinario.documento.enEdicion}" 
										action="#{seleccionarDestinatarioDocumento.limpiarDestinatario()}"
										oncomplete="Richfaces.showModalPanel('panelSeleccionDestinatarios')" />
								</td>
							</tr>
						</table>
					</h:panelGroup>
					<h:panelGroup><h:outputText value="#{messages['creardocumentobinario_adjuntar_archivo_dp']}" style="font-weight: bold;"/><h:outputText value="*" style="font-weight:bold;color:red;"/></h:panelGroup>
					<h:panelGroup id="idAdjuntarArchivo">
						<h:panelGrid columns="1" border="0" cellspacing="0" cellpadding="0">
							<rich:fileUpload id="upload" immediateUpload="true"
								maxFilesQuantity="1" acceptedTypes="*" listHeight="60px"
								listWidth="250"
								fileUploadListener="#{crearDocumentoBinario.listener}"
								addControlLabel="Agregar" required="true" allowFlash="false"
								clearControlLabel=""
								rendered="#{crearDocumentoBinario.documento.enEdicion}">
								<a4j:support event="onuploadcomplete" reRender="idAdjuntarArchivo" />
							</rich:fileUpload>
							<h:panelGroup id="idUploadFileGroup">
								<a4j:htmlCommandLink immediate="true"
									id="htmlCommandLinkNombreArchivo"
									value="#{crearDocumentoBinario.archivo.nombreArchivo}"
									action="#{crearDocumentoBinario.verArchivo}"
									rendered="#{crearDocumentoBinario.archivo != null and crearDocumentoBinario.archivo.id != null}" />
								<h:outputLabel id="outputLabelNombreArchivo"
									value="#{crearDocumentoBinario.archivo.nombreArchivo}"
									rendered="#{crearDocumentoBinario.archivo != null and crearDocumentoBinario.archivo.id == null}" />
								<a4j:commandButton
									action="#{crearDocumentoBinario.clearUploadData}"
									immediate="true" id="commandButtonCrearArchivos"
									reRender="idAdjuntarArchivo" value="Eliminar Adjunto"
									rendered="#{crearDocumentoBinario.archivo != null and crearDocumentoBinario.documento.enEdicion}" />
							</h:panelGroup>
						</h:panelGrid>
					</h:panelGroup>
				</h:panelGrid>
			</rich:panel>

			<table width="100%">
				<tr>
					<td align="left">
						<h:panelGrid columns="2">
							<a4j:commandButton
								value="#{messages['creardocumentobinario_volver']}"
								onclick="Richfaces.showModalPanel('panelEspera')"
								action="#{crearDocumentoBinario.end}">
							</a4j:commandButton>
							<a4j:commandButton
								onclick="Richfaces.showModalPanel('panelEspera')"
								oncomplete="Richfaces.hideModalPanel('panelEspera')"
								value="#{messages['creardocumentobinario_guardar']}"
								action="#{crearDocumentoBinario.validaCampos}"
								rendered="#{crearDocumentoBinario.isRenderedBotonGuardar() and crearDocumentoBinario.documento.enEdicion}" />
						</h:panelGrid>
					</td>
				</tr>
			</table>
		</h:form>

		<rich:modalPanel id="panelSeleccionDestinatarios" resizeable="false"
			height="500" width="900" style="overflow-y: scroll;"
			onhide="#{seleccionarDestinatarioDocumento.limpiarDestinatario()}">
			<f:facet name="header">
				<h:outputText
					value="#{messages['creardocumentobinario_seleccionar_destinatario_documento']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="limpiarBusquedaSeleccionDestinatarios()" />
			</f:facet>
			<h:panelGrid id="panelGridSeleccionDestinatarios" width="100%">
				<a4j:include viewId="seleccionarDestinatarioDocumento.xhtml" />
				<h:form>
					<a4j:jsFunction name="limpiarBusquedaSeleccionDestinatarios" 
						action="#{seleccionarPersonasBean.limpiarFormulario(true)}" 
						reRender="ADocumentoDigitalizado, ddListDigitalizado, panelGridSeleccionDestinatarios" 
						oncomplete="Richfaces.hideModalPanel('panelSeleccionDestinatarios')"/>
					<a4j:commandButton
						value="#{messages['creardocumentobinario_volver']}"
						onclick="limpiarBusquedaSeleccionDestinatarios()"/>
				</h:form>
			</h:panelGrid>
		</rich:modalPanel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>

		<a4j:status id="waitStatus" forceId="true"
			onstart="Richfaces.showModalPanel('panelEspera')"
			onstop="Richfaces.hideModalPanel('panelEspera')" />
	</ui:define>
</ui:composition>