<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">

		<h:form id="crearCarta">
			<a4j:outputPanel ajaxRendered="true">
				<h:messages globalOnly="false" styleClass="message" />
			</a4j:outputPanel>
			<rich:panel id="idPanelDocumento">
				<f:facet name="header">#{messages['crearcarta_carta']}</f:facet>
				<h:panelGrid columns="2">
					<h:panelGrid columns="1" style="textAlign: center;">
						<h:graphicImage id="logoGobierno"
							url="/imagenes/logoInstitucion.png" />
						<h:graphicImage id="idImageFirmado" url="/imagenes/firmado.gif"
							rendered="#{crearCarta.firmado}" />
					</h:panelGrid>
					<h:panelGroup>
						<h:panelGrid columns="1">
							<s:decorate template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['crearcarta_carta_n_dp']}</ui:define>
								<h:inputText required="false"
									value="#{crearCarta.carta.numeroDocumento}"
									disabled="true" />
							</s:decorate>
							<s:decorate id="fechaDocumentoField"
								template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['crearcarta_santiago']}</ui:define>
								<rich:calendar popup="true" datePattern="dd/MM/yyyy"
									id="fechaDocumento" pattern="dd/M/yyyy"
									value="#{crearCarta.carta.fechaDocumentoOrigen}"
									required="false" enableManualInput="false"
									disabled="true" />
							</s:decorate>
							<s:decorate id="fechaCreacionField"
								template="../layout/edit.xhtml" style="visibility:hidden;">
								<rich:calendar id="fechaCreacion" disabled="true"
									datePattern="dd/MM/yyyy HH:mm" pattern="dd/MM/yyyy HH:mm"
									value="#{crearCarta.carta.fechaCreacion}" required="false" />
							</s:decorate>
							<s:decorate template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['crearcarta_materia_dp']}<s:span styleClass="required">*</s:span></ui:define>
								<h:inputTextarea rows="6" cols="30" 
									value="#{crearCarta.carta.materia}"
									readonly="#{not crearCarta.isEditable()}" />
							</s:decorate>
						</h:panelGrid>
					</h:panelGroup>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<s:decorate template="../layout/edit.xhtml"
						id="idDestinatariosDocumento">
						<ui:define name="label">#{messages['crearcarta_a_dp']}<s:span
								styleClass="required">*</s:span>
						</ui:define>
						<h:panelGrid columns="2" border="0" cellpadding="0"
							cellspacing="0">
							<rich:dataTable
								rendered="#{not empty crearCarta.destinatariosDocumento}"
								var="itemDestinatarios" id="idListDestinatariosDocumento"
								value="#{crearCarta.destinatariosDocumento}"
								style=" width : 400px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;"
								required="true">
								<rich:subTable value="itemDoc">
									<rich:column>
										<h:outputLabel value="#{itemDestinatarios.descripcion}" />
									</rich:column>
								</rich:subTable>
							</rich:dataTable>
							<a4j:commandButton
								oncomplete="Richfaces.showModalPanel('panelSeleccionDestinatarios')" 
								action="#{seleccionarDestinatarioDocumento.limpiarDestinatario()}"
								value="#{messages['crearcarta_agregar_destinatario']}"
								reRender="idDestinatariosDocumento, idListDestinatariosDocumento, panelGridSeleccionDestinatarios"
								rendered="#{crearCarta.isEditable()}" />
						</h:panelGrid>
					</s:decorate>
				</h:panelGrid>
				<br />

				<h:inputTextarea rows="10" cols="70" style="font-size:120%;"
					value="#{crearCarta.parrafo}"
					readonly="#{not crearCarta.isEditable()}" />
				<h:panelGrid>
					<s:decorate template="../layout/edit.xhtml"
						id="idDecorateEmisorDocumento">
						<ui:define name="label">#{messages['crearcarta_saluda_atentamente_a_ud']}<s:span
								styleClass="required">*</s:span>
						</ui:define>
						<h:inputText style=" width : 350px;"
							value="#{crearCarta.carta.emisor}" disabled="true" />
						<a4j:commandButton
							oncomplete="Richfaces.showModalPanel('panelSeleccionEmisor')"
							action="#{seleccionarEmisorDocumento.limpiarDestinatario()}"
							value="#{messages['crearcarta_cambiar_emisor']}"
							reRender="idDecorateEmisorDocumento, idBotonesDocumento, panelGridSeleccionEmisor"
							rendered="#{crearCarta.isEditable()}" />
					</s:decorate>
				</h:panelGrid>
				<br />
				<rich:panel id="idPanelAntecedentes">
					<f:facet name="header">#{messages['crearcarta_antecedentes']}</f:facet>
					<a4j:commandButton
						value="#{messages['crearcarta_agregar_antecedente']}"
						action="#{crearCarta.limpiarAnexos()}"
						oncomplete="Richfaces.showModalPanel('panelAdjuntarArchivo')"
						rendered="#{crearCarta.isEditable()}"
						reRender="formAdjuntarArchivo"/>
					<rich:dataTable width="100%"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						var="itemDocArchivo" value="#{crearCarta.listaArchivos}"
						rendered="#{not empty crearCarta.listaArchivos}"
						id="idTableDocumentosAntecedentes">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText value="#{messages['crearcarta_ver']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearcarta_titulo']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearcarta_materia']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearcarta_adjuntado_por']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearcarta_fecha']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearcarta_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="itemDocArchivo">
							<rich:column style="width:25px; text-align:center;">
								<a4j:htmlCommandLink 
									action="#{visualizador.verArchivoTemporal(itemDocArchivo)}" 
									rendered="#{itemDocArchivo.id == null and itemDocArchivo.archivo != null and itemDocArchivo.cmsId == null}">
									<h:graphicImage 
										url="/imagenes/ver_detalle_01.gif" 
										style="border: none; background:transparent;" />
								</a4j:htmlCommandLink>
								<a4j:htmlCommandLink 
									action="#{visualizador.verArchivoRepositorio(itemDocArchivo)}" 
									rendered="#{itemDocArchivo.id != null and itemDocArchivo.cmsId != null}">
									<h:graphicImage 
										url="/imagenes/ver_detalle_01.gif" 
										style="border: none; background:transparent;" />
								</a4j:htmlCommandLink>
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDocArchivo.nombreArchivo}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDocArchivo.materia}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{itemDocArchivo.adjuntadoPor.nombreApellido}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{itemDocArchivo.fecha}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
								</h:outputLabel>
							</rich:column>
							<rich:column style="width:25px; text-align:center;">
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									reRender="idTableDocumentosAntecedentes, idPanelAntecedentes"
									action="#{crearCarta.eliminarArchivoAntecedente(itemDocArchivo)}"
									rendered="#{crearCarta.isEditable()}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</rich:panel>
				<br />
				<rich:panel id="idPanelDistribucion">
					<f:facet name="header">#{messages['crearcarta_distribucion']}</f:facet>
					<h:panelGrid columns="2" width="100%">
						<rich:dataTable id="idTableDistribucion"
							onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="#{crearCarta.distribucionDocumento}" var="itemDist"
							rendered="#{not empty crearCarta.distribucionDocumento}"
							style=" width : 100%;">
							<f:facet name="header">
								<rich:columnGroup>
									<rich:column>
										<h:outputText
											value="#{messages['crearcarta_lista_de_distribucion']}" />
									</rich:column>
								</rich:columnGroup>
							</f:facet>
							<rich:subTable
								onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
								onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
								value="itemDist">
								<rich:column>
									<h:outputText value="#{itemDist.descripcion}" />
								</rich:column>
							</rich:subTable>
						</rich:dataTable>
					</h:panelGrid>
					<a4j:commandButton
						oncomplete="Richfaces.showModalPanel('panelSeleccionDistribucion')"
						action="#{seleccionarDistribucionDocumento.limpiarDestinatario()}"
						value="#{messages['crearcarta_agregar_distribucion']}"
						reRender="idTableDistribucion, idPanelDistribucion, panelGridSeleccionDistribucion"
						rendered="#{crearCarta.isEditable()}" />
				</rich:panel>
				<br />

				<rich:panel style="padding:0" headerClass="outpanelHeader">
					<f:facet name="header">
						<span>#{messages['personas_que_han_visado_y_firmado']}</span>
					</f:facet>
					<h:panelGrid columns="2" width="100%">
						<h:panelGroup>
							<ui:repeat id="idRepeatVisaciones" var="visa"
								value="#{crearCarta.getVisaciones()}"
								rendered="#{crearCarta.visado}">
								<h:outputText value="#{visa.persona.iniciales}" />
								<h:outputText value="/" />
							</ui:repeat>
							<h:outputText
								value="#{crearCarta.carta.autor.iniciales.toLowerCase()}" />
						</h:panelGroup>
						<h:panelGroup>
							<h:panelGrid columns="1" style="text-align: right"
								rendered="#{crearCarta.firmado}">
								<h:panelGroup>
									<h:outputText
										value="#{crearCarta.carta.firmas.get(0).persona.nombres}" />
									<h:outputText value=" " />
									<h:outputText
										value="#{crearCarta.carta.firmas.get(0).persona.apellidoPaterno}" />
								</h:panelGroup>
								<h:outputText
									value="#{crearCarta.carta.firmas.get(0).persona.cargo.descripcion}" />
							</h:panelGrid>
						</h:panelGroup>
					</h:panelGrid>
				</rich:panel>
			</rich:panel>
			<br />

			<h:panelGrid columns="8" cellspacing="3" id="idBotonesDocumento">
				<a4j:commandButton id="volver1"
					value="#{messages['crearcarta_volver']}"
					rendered="#{crearCarta.isEditable()}"
					onclick="Richfaces.showModalPanel('panelConfirmacionVolver')" />
				<a4j:commandButton id="volver2"
					value="#{messages['crearcarta_volver']}"
					rendered="#{not crearCarta.isEditable()}"
					onclick="Richfaces.showModalPanel('panelEspera')"
					action="#{crearCarta.end()}"/>
				<a4j:commandButton id="guardar"
					value="#{messages['crearcarta_guardar']}"
					action="#{crearCarta.agregarDocumento}"
					rendered="#{crearCarta.isEditable() and crearCarta.isRenderedBotonGuardar()}"
					onclick="Richfaces.showModalPanel('panelEspera')"
					oncomplete="if(#{crearCarta.isDocumentoValido()}){crearExpediente();}else{Richfaces.hideModalPanel('panelEspera');}"/>
				<a4j:commandButton id="guardarConExpediente"
					value="#{messages['crearcarta_guardar_y_crear_expediente']}"
					action="#{crearCarta.guardarYCrearExpediente()}"
					rendered="#{crearCarta.isRenderedBotonGuardarCrearExpediente()}"
					onclick="Richfaces.showModalPanel('panelEspera')"
					oncomplete="if(#{crearCarta.isDocumentoValido()}){crearExpediente();}else{Richfaces.hideModalPanel('panelEspera');}"/>
				<a4j:commandButton id="visar"
					value="#{messages['crearcarta_visar']}"
					action="#{crearCarta.visar()}"
					rendered="#{crearCarta.isRenderedBotonVisar() and crearCarta.isEditableSinVisa()}"
					reRender="idPanelDocumento, idBotonesDocumento"
					onclick="this.disabled='true';Richfaces.showModalPanel('panelEspera')"
					oncomplete="Richfaces.hideModalPanel('panelEspera')" />
				<a4j:commandButton id="firmar"
					value="#{messages['crearcarta_firmar']}"
					onclick="Richfaces.showModalPanel('panelFirmaApplet')"
					rendered="#{crearCarta.isRenderedBotonFirmar() and crearCarta.isEditableSinVisa()}"
					reRender="idPanelDocumento, idBotonesDocumento" />
				<h:commandLink id="visualizar"
					rendered="#{crearCarta.renderedBotonVisualizar}"
					action="#{visualizador.verDocumento(crearCarta.carta)}"
					actionListener="#{crearCarta.previsualizar}"
					styleClass="sin_formato" target="_blank">
					<h:commandButton value="#{messages['visualizar']}"/>
				</h:commandLink>
			</h:panelGrid>
			<a4j:outputPanel ajaxRendered="true">
				<h:messages globalOnly="false" styleClass="message" />
			</a4j:outputPanel>
			<a4j:commandButton id="buttonCrearExpediente" style="visibility:hidden;" 
					action="#{modificarExpediente.begin()}">
				<f:param name="idExpediente" value="-1" />
			</a4j:commandButton>
		</h:form>
		
		<script type="text/javascript">
		function crearExpediente() {
			document.getElementById('crearCarta:buttonCrearExpediente').click();
		}
		</script>

		<rich:modalPanel id="panelSeleccionEmisor" resizeable="false"
			height="320" width="600" onhide="#{seleccionarEmisorDocumento.limpiarDestinatario()}">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearcarta_seleccionar_emisor_documento']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="limpiarBusquedaSeleccionEmisor()"/>
			</f:facet>
			<h:panelGrid id="panelGridSeleccionEmisor" width="100%">
				<a4j:include viewId="seleccionarEmisorDocumento.xhtml" />
				<h:form>
					<a4j:jsFunction name="limpiarBusquedaSeleccionEmisor" 
						reRender="idDecorateEmisorDocumento, idBotonesDocumento, panelGridSeleccionEmisor" 
						oncomplete="Richfaces.hideModalPanel('panelSeleccionEmisor')"/>
					<a4j:commandButton value="#{messages['crearcarta_volver']}"
						onclick="limpiarBusquedaSeleccionEmisor()"/>
				</h:form>
			</h:panelGrid>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionDestinatarios" resizeable="false"
			height="500" width="900" style="overflow-y: scroll;" 
			onhide="#{seleccionarDestinatarioDocumento.limpiarDestinatario()}">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearcarta_seleccionar_destinatario_documento']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer" 
					onclick="limpiarBusquedaSeleccionDestinatarios()"/>
			</f:facet>
			<h:panelGrid id="panelGridSeleccionDestinatarios" width="100%">
				<a4j:include viewId="seleccionarDestinatarioDocumento.xhtml" />
				<h:form>
					<a4j:jsFunction name="limpiarBusquedaSeleccionDestinatarios" 
						action="#{seleccionarPersonasBean.limpiarFormulario(true)}" 
						reRender="idDestinatariosDocumento, idListDestinatariosDocumento, panelGridSeleccionDestinatarios" 
						oncomplete="Richfaces.hideModalPanel('panelSeleccionDestinatarios')"/>
					<a4j:commandButton value="#{messages['crearcarta_volver']}"
						onclick="limpiarBusquedaSeleccionDestinatarios()"/>
				</h:form>
			</h:panelGrid>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionDistribucion" resizeable="false"
			height="500" width="900" style="overflow-y: scroll;" 
			onhide="#{seleccionarDistribucionDocumento.limpiarDestinatario()}">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearcarta_seleccionar_distribucion_documento']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="limpiarBusquedaSeleccionDistribucion()"/>
			</f:facet>
			<h:panelGrid id="panelGridSeleccionDistribucion" width="100%">
				<a4j:include viewId="seleccionarDistribucionDocumento.xhtml" />
				<h:form>
					<a4j:jsFunction name="limpiarBusquedaSeleccionDistribucion" 
						action="#{seleccionarPersonasBean.limpiarFormulario(true)}" 
						reRender="idTableDistribucion, idPanelDistribucion, panelGridSeleccionDistribucion" 
						oncomplete="Richfaces.hideModalPanel('panelSeleccionDistribucion')"/>
					<a4j:commandButton value="#{messages['crearcarta_volver']}"
						onclick="limpiarBusquedaSeleccionDistribucion()"/>
				</h:form>
			</h:panelGrid>
		</rich:modalPanel>

		<rich:modalPanel id="panelAdjuntarArchivo" minHeight="270"
			minWidth="430" height="270" width="430"
			onhide="#{crearCarta.limpiarAnexos()}">
			<f:facet name="header">
				<h:outputText value="#{messages['crearcarta_adjuntar_archivo']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					reRender="idPanelAntecedentes, panelAdjuntarArchivo"
					onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')">
				</h:graphicImage>
			</f:facet>
			<h:form id="formAdjuntarArchivo">
				<a4j:outputPanel ajaxRendered="true">
					<h:messages globalOnly="false" styleClass="message" />
				</a4j:outputPanel>
				<h:panelGrid columns="2" style="text-align: left">
					<h:outputText value="#{messages['crearcarta_materiadp']}" style="font-weight:bold;" />
					<h:inputText value="#{crearCarta.materiaArchivo}" />
					
					<h:outputText value="#{messages['crearcarta_archivodp']}" style="font-weight:bold;" />
					<rich:fileUpload id="uploadFile" immediateUpload="true"
						acceptedTypes="*" maxFilesQuantity="1" listHeight="63" listWidth="300"
						fileUploadListener="#{crearCarta.listener}"
						addControlLabel="#{messages['crearcarta_agregar']}"
						allowFlash="false">
						<a4j:support event="onclear" reRender="uploadFile" action="#{crearCarta.removeArchivoAnexo()}"/>
					</rich:fileUpload>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<a4j:commandButton
						value="#{messages['crearcarta_agregar_archivo']}"
						action="#{crearCarta.agregarAntecedenteArchivo}"
						reRender="idPanelAntecedentes"
						oncomplete="if(#{crearCarta.validarAntecedente}){Richfaces.hideModalPanel('panelAdjuntarArchivo');}" />
					<a4j:commandButton 
						value="#{messages['crearcarta_volver']}"
						reRender="idPanelAntecedentes, formAdjuntarArchivo"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')"/>
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelConfirmacionVolver" resizable="false"
			height="100" width="455">
			<f:facet name="header">
				<h:outputText value="#{messages['crearcarta_confirmacion']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')"
					reRender="idPanelDocumento">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<div align="center">
					<h:outputText
						value="#{messages['crearcarta_el_documento_no_ha_sido_guardado_se_perderan_los_cambios']}" />
				</div>
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton
						value="#{messages['crearcarta_continuar_en_la_misma_pagina']}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
					<h:commandButton
						value="#{messages['crearcarta_volver_a_la_pagina_anterior']}"
						action="#{crearCarta.end}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver');Richfaces.showModalPanel('panelEspera');" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionVisaciones" resizeable="false"
			height="600" width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearcarta_seleccionar_visadores']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 0px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					reRender="idPanelVisaciones, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionVisaciones')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarVisaciones.xhtml" />
			<h:form>
				<a4j:commandButton value="#{messages['crearcarta_volver']}"
					reRender="idPanelVisaciones, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionVisaciones')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionFirmas" resizeable="false"
			height="500" width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearcarta_seleccionar_firmantes']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 0px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer" reRender="idPanelFirmas, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionFirmas')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarFirmas.xhtml" />
			<h:form>
				<a4j:commandButton value="#{messages['crearcarta_volver']}"
					reRender="idPanelFirmas, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionFirmas')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelFirmaApplet" resizeable="false" height="190"
			width="335" rendered="#{crearCarta.isRenderedBotonFirmar()}">
			<f:facet name="header">
				<h:outputText value="#{messages['crearcarta_firma_electronica']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelFirmaApplet')">
				</h:graphicImage>
			</f:facet>
			<applet name="exedoc" code="cl.exe.firma.applet.FirmaApplet.class"
				codebase="#{crearCarta.urlFirma}exedoc/applet/"
				archive="./firmaappletfirmado.jar, ./commons-codec-1.3.jar, ./commons-httpclient-3.1.jar, ./commons-logging-1.1.1.jar, ./bcprov-jdk14-136.jar, ./iText-2.1.7.jar"
				width="315" height="110">
				<param name="url_documento"
					value="#{crearCarta.urlFirma}exedoc/servlet/getDocumentoXml;jsessionid=#{crearCarta.sessionId}?#{manager.conversationIdParameter}=#{conversation.id}&#38;documentoId=#{crearCarta.carta.id}&#38;firmadorId=#{usuario.id}" />
				<param name="url_post"
					value="#{crearCarta.urlFirma}exedoc/servlet/putDocumentoXml;jsessionid=#{crearCarta.sessionId}?#{manager.conversationIdParameter}=#{conversation.id}&#38;documentoId=#{crearCarta.carta.id}&#38;firmadorId=#{usuario.id}" />
				<param name="url_retorno"
					value="javascript:buscaDocumento(#{conversation.id});" />
				<param name="tipo_firma" value="repositorio" />
				<param name="tipo_documento" value="xml" />
				<param name="modo" value="local" />
				<param name="tarea" value="#{crearCarta.carta.id}" />
				<param name="rut" value="#{usuario.rut}" />
				<param name="rut_ca"
					value="96928180-5;70008310-1;96919050-8;99532830-5;99551740-K;78527970-0" />
			</applet>
			<h:form>
				<a4j:commandButton value="#{messages['crearcarta_volver']}"
					onclick="Richfaces.hideModalPanel('panelFirmaApplet')"
					immediate="true" />
			</h:form>
			<h:form>
				<a4j:jsFunction name="ejecutaBuscaDocumento"
					action="#{crearCarta.buscaDocumento2()}" immediate="true" />
				<a4j:jsFunction name="ejecutaBuscaDocumento2"
					action="#{crearCarta.buscaDocumento2()}" immediate="true" />
			</h:form>
		</rich:modalPanel>
		<script>
		<!--
			function buscaDocumento(conversationId){
				Richfaces.hideModalPanel('panelFirmaApplet');
				Richfaces.showModalPanel('panelEspera');
				ejecutaBuscaDocumento2();
			}
			function buscaDocumentoTomaRegistro(conversationId){
				Richfaces.hideModalPanel('panelFirmaApplet');
				Richfaces.showModalPanel('panelEspera');
				ejecutaBuscaDocumento2();
			}
		-->
		</script>

	</ui:define>

</ui:composition>

