<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<h:form id="idFormDecreto" enctype="multipart/form-data">
			<rich:panel width="100%" id="idPanelDecreto">
				<f:facet name="header">#{messages['creardecreto_decreto']}</f:facet>
				<h:messages globalOnly="true" styleClass="message" />
				<h:panelGrid columns="2">
					<h:panelGrid columns="1" style="textAlign: center;">
						<h:graphicImage id="logoGobierno"
							url="/imagenes/logoInstitucion2.png" />
						<h:graphicImage id="idImageFirmado" url="/imagenes/firmado.gif"
							rendered="#{crearDecreto.firmado}" />
						<h:selectOneMenu id="idPlantillasList" immediate="true"
							rendered="false" value="#{crearDecreto.idPlantilla}"
							valueChangeListener="#{crearDecreto.plantillaListener}">
							<f:selectItems value="#{crearDecreto.obtenerPlantillas()}" />
							<a4j:support event="onchange" reRender="idPanelDecreto"
								action="#{crearDecreto.cambiar}" immediate="true" />
						</h:selectOneMenu>
					</h:panelGrid>
					<h:panelGrid columns="2">
						<h:outputLabel for="numDecreto"
							value="#{messages['creardecreto_decreto_ndp']}"
							style="font-weight:bold;" />
						<h:inputText id="numDecreto" required="false"
							value="#{crearDecreto.decreto.numeroDocumento}" disabled="true" />
						<h:outputLabel for="fechaDecreto"
							value="#{messages['creardecreto_santiago']}"
							style="font-weight:bold;" />
						<rich:calendar id="fechaDecreto" popup="true"
							datePattern="dd/MM/yyyy" pattern="dd/M/yyyy"
							value="#{crearDecreto.decreto.fechaDocumentoOrigen}"
							required="false" enableManualInput="true" disabled="#{true}" />
						<h:outputLabel for="materiaDecreto"
							value="#{messages['creardecreto_materiadp']}"
							style="font-weight:bold;" />
						<h:inputTextarea id="materiaDecreto" rows="6" cols="30"
							required="true" value="#{crearDecreto.decreto.materia}"
							disabled="#{crearDecreto.firmado}"
							readonly="#{not crearDecreto.isEditable()}" />
						<h:panelGroup>
							<h:selectOneRadio id="tipoRazonRadio"
								value="#{crearDecreto.tipoDecreto}"
								valueChangeListener="#{crearDecreto.tipoRazonListener}">
								<f:selectItem itemValue="1"
									itemLabel="#{messages['creardecreto_exento']}"
									itemDisabled="#{not crearDecreto.isEditable()}" />
								<f:selectItem itemValue="2"
									itemLabel="#{messages['creardecreto_toma_de_razon']}"
									itemDisabled="true" />
								<f:selectItem itemValue="3"
									itemLabel="#{messages['creardecreto_exento_con_registro']}"
									itemDisabled="true" />
								<a4j:support event="onchange"
									reRender="panelAdjuntarArchivo, idPanelDecreto, idBotonesDocumento" />
							</h:selectOneRadio>
						</h:panelGroup>
					</h:panelGrid>
				</h:panelGrid>

				<h:panelGrid columns="1">
					<s:decorate template="../layout/edit.xhtml" rendered="true">
						<ui:define name="label">#{messages['creardecreto_vistos']}</ui:define>
						<h:inputTextarea rows="10" cols="70" style="font-size:120%;"
							value="#{crearDecreto.vistos}" disabled="#{crearDecreto.firmado}"
							readonly="#{not crearDecreto.isEditable()}" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml" rendered="true">
						<ui:define name="label">#{messages['creardecreto_considerando']}</ui:define>
						<h:inputTextarea rows="10" cols="70" style="font-size:120%;"
							value="#{crearDecreto.considerando}"
							disabled="#{crearDecreto.firmado}"
							readonly="#{not crearDecreto.isEditable()}" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml" rendered="true">
						<ui:define name="label">#{messages['creardecreto_decreto']}</ui:define>
						<h:inputTextarea rows="10" cols="70" style="font-size:120%;"
							value="#{crearDecreto.resuelvo}"
							disabled="#{crearDecreto.firmado}"
							readonly="#{not crearDecreto.isEditable()}" />
					</s:decorate>
					<h:commandLink id="visualizar"
						actionListener="#{crearDecreto.visualizar()}" rendered="false"
						action="#{visualizador.verDocumento(crearDecreto.decreto)}"
						target="_new" immediate="true">
						<h:graphicImage border="0px"
							value="/imagenes/icono_visualizardoc.gif" />
					</h:commandLink>

				</h:panelGrid>
				<br />
				<rich:panel id="archivosAntecedentesPanel">
					<f:facet name="header">#{messages['creardecreto_antecedentes']}</f:facet>
					<a4j:commandButton
						value="#{messages['creardecreto_agregar_antecedente']}"
						onclick="Richfaces.showModalPanel('panelAdjuntarArchivo')"
						disabled="#{not crearDecreto.isEditable()}"
						action="#{crearDecreto.limpiarAnexos()}" immediate="true"
						style="width: 140px; " />
					<rich:dataTable id="archivosAntecedentesList"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="#{crearDecreto.listaArchivos}" var="archivo" width="100%"
						rendered="#{not empty crearDecreto.listaArchivos}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText value="#{messages['creardecreto_ver']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['creardecreto_titulo']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['creardecreto_materia']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['creardecreto_adjuntado_por']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['creardecreto_fecha']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['creardecreto_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="archivo">
							<rich:column>
								<a4j:htmlCommandLink border="0px"
									action="#{crearDecreto.verArchivo(archivo.id)}"
									rendered="#{archivo.id != null}">
									<h:graphicImage border="0px" alt="#{archivo.nombreArchivo}"
										url="/imagenes/ver_detalle_01.gif" style="border: none;" />
								</a4j:htmlCommandLink>
							</rich:column>
							<rich:column>
								<h:outputText value="#{archivo.nombreArchivo}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{archivo.materia}" />
							</rich:column>
							<rich:column>
								<h:outputText rendered="#{archivo.adjuntadoPor != null}"
									value="#{archivo.adjuntadoPor.nombreApellido}" />
								<h:outputText rendered="#{archivo.adjuntadoPor == null}"
									value="#{archivo.documentoElectronico.autor.nombreApellido}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{archivo.fecha}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
								</h:outputText>
							</rich:column>
							<rich:column>
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									reRender="archivosAntecedentesList, archivosAntecedentesPanel, panelFirmaApplet, panelFirmaAppletExento"
									action="#{crearDecreto.eliminarArchivoAntecedente(archivo.idNuevoArchivo)}"
									rendered="#{not empty archivo.idNuevoArchivo}" immediate="true"
									disabled="#{not crearDecreto.isEditable()}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</rich:panel>
				<br />
				<rich:panel>
					<h:panelGrid columns="1">
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['creardecreto_indicacion']}</ui:define>
							<h:inputText required="false"
								value="#{crearDecreto.decreto.indicaciones}" size="100"
								disabled="#{crearDecreto.firmado}"
								readonly="#{not crearDecreto.isEditable()}" />
						</s:decorate>
					</h:panelGrid>
				</rich:panel>
				<br />
				<!-- 
				<h:panelGrid columns="1" width="100%" rendered="#{crearDecreto.modificarVisaFirmas()}">
					<rich:panel id="idPanelVisaciones">
						<f:facet name="header">#{messages['creardecreto_visaciones']}</f:facet>
						<h:panelGrid columns="1" style="text-align: left">
							<h:outputText value="#{crearDecreto.getVisaciones()}" />
							<a4j:commandButton onclick="Richfaces.showModalPanel('panelSeleccionVisaciones')" value="#{messages['creardecreto_modificar_visaciones']}" reRender="idPanelVisaciones, idBotonesDocumento" immediate="true"
								disabled="#{not crearDecreto.isEditable()}"  style="width: 140px; "  />
						</h:panelGrid>
					</rich:panel>
					<rich:panel id="idPanelFirmas">
						<f:facet name="header">#{messages['creardecreto_firmas']}</f:facet>
						<h:panelGrid columns="1">
							<ui:repeat id="idRepeatFirmas" var="firma" value="#{crearDecreto.getFirmas()}">
								<h:outputText value="#{firma.persona.nombres} #{firma.persona.apellidoPaterno}" />
								<h:outputText value=" - #{firma.persona.cargo.descripcion}" />
							</ui:repeat>
							<a4j:commandButton onclick="Richfaces.showModalPanel('panelSeleccionFirmas')" value="#{messages['creardecreto_modificar_firmas']}" reRender="idPanelFirmas, idBotonesDocumento" immediate="true"
								disabled="#{not crearDecreto.isEditable()}" style="width: 140px; " />
						</h:panelGrid>

					</rich:panel>
				</h:panelGrid>
				 -->

				<br />

				<rich:panel id="idPanelDistribucion">
					<f:facet name="header">#{messages['creardecreto_distribucion']}</f:facet>
					<h:panelGrid columns="2" width="100%">
						<rich:dataTable id="idTableDistribucion"
							onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="#{crearDecreto.distribucionDocumento}" var="itemDist"
							rendered="#{not empty crearDecreto.distribucionDocumento}">
							<f:facet name="header">
								<rich:columnGroup>
									<rich:column>
										<h:outputText
											value="#{messages['creardecreto_lista_de_distribucion']}" />
									</rich:column>
								</rich:columnGroup>
							</f:facet>
							<rich:subTable
								onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
								onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
								value="itemDist">
								<rich:column>
									<h:outputText value="#{itemDist.descripcion}" />
								</rich:column>
							</rich:subTable>
						</rich:dataTable>
					</h:panelGrid>
					<a4j:commandButton
						onclick="Richfaces.showModalPanel('panelSeleccionDistribucion')"
						value="#{messages['creardecreto_agregar_distribucion']}"
						reRender="idTableDistribucion, idPanelDistribucion"
						immediate="true" disabled="#{not crearDecreto.isEditable()}"
						style="width: 140px; " />
				</rich:panel>
				<br />
				<rich:panel style="padding:0" headerClass="outpanelHeader">
					<f:facet name="header">
						<rich:spacer height="4" />
					</f:facet>
					<h:panelGrid columns="2" width="100%">
						<h:panelGroup>
							<ui:repeat id="idRepeatVisaciones" var="visa"
								value="#{crearDecreto.getVisacionesV()}"
								rendered="#{crearDecreto.visado}">
								<h:outputText value="#{visa.persona.iniciales}" />
								<h:outputText value="/" />
							</ui:repeat>
							<h:outputText
								value="#{crearDecreto.decreto.autor.iniciales.toLowerCase()}" />
						</h:panelGroup>
						<h:panelGroup>
							<h:panelGrid columns="1" style="text-align: right"
								rendered="#{crearDecreto.firmado}">
								<h:panelGroup>
									<h:outputText
										value="#{crearDecreto.decreto.firmas.get(0).persona.nombres}" />
									<h:outputText value=" " />
									<h:outputText
										value="#{crearDecreto.decreto.firmas.get(0).persona.apellidoPaterno}" />
								</h:panelGroup>
								<h:outputText
									value="#{crearDecreto.decreto.firmas.get(0).persona.cargo.descripcion}" />
							</h:panelGrid>
						</h:panelGroup>
					</h:panelGrid>
				</rich:panel>

			</rich:panel>
			<br />

			<h:panelGrid columns="10" width="50%" id="idBotonesDocumento">
				<a4j:commandButton id="volver1"
					value="#{messages['creardecreto_volver']}"
					rendered="#{crearDecreto.isEditable()}"
					onclick="Richfaces.showModalPanel('panelConfirmacionVolver')"
					immediate="true" style="width: 140px; " />
				<a4j:commandButton id="volver2"
					value="#{messages['creardecreto_volver']}"
					rendered="#{not crearDecreto.isEditable()}"
					action="#{crearDecreto.end()}" immediate="true"
					style="width: 140px; " />
				<h:commandButton id="guardar"
					value="#{messages['creardecreto_guardar']}"
					action="#{crearDecreto.agregarDocumento}"
					disabled="#{not crearDecreto.isEditable()}" style="width: 140px; "
					rendered="#{crearDecreto.isRenderedBotonGuardar()}" />
				<a4j:commandButton id="guardarConExpediente"
					value="#{messages['creardecreto_guardar_y_crear_expediente']}"
					action="#{crearDecreto.guardarYCrearExpediente()}"
					disabled="#{not crearDecreto.isEditable()}"
					rendered="#{crearDecreto.isRenderedBotonGuardarCrearExpediente()}"
					reRender="idFormDecreto" style="width: 140px; ">
					<a4j:support event="oncomplete"
						action="#{modificarExpediente.begin()}">
						<f:param name="idExpediente" value="-1" />
					</a4j:support>
				</a4j:commandButton>
				<a4j:commandButton id="visar"
					value="#{messages['creardecreto_visar']}"
					action="#{crearDecreto.visar()}"
					disabled="#{not crearDecreto.isEditableSinVisa()}"
					rendered="#{crearDecreto.isRenderedVisar()}"
					reRender="idBotonesDocumento, idPanelDecreto"
					style="width: 140px; "
					onclick="this.disabled='true';Richfaces.showModalPanel('panelEspera')"
					oncomplete="Richfaces.hideModalPanel('panelEspera')" />
				<a4j:commandButton id="firmar"
					value="#{messages['creardecreto_firmar']}"
					rendered="#{crearDecreto.isRenderedFirmar()}"
					onclick="Richfaces.showModalPanel('panelFirmaApplet')"
					reRender="idPanelDecreto, idBotonesDocumento"
					style="width: 140px; " />
				<a4j:commandButton value="#{messages['creardecreto_rechazar']}"
					status="waitStatusOperacion"
					rendered="#{crearDecreto.isRenderedRechazar()}"
					disabled="#{not crearDecreto.isEditableSinVisa()}"
					action="#{crearDecreto.rechazar()}" style="width:140px;"
					reRender="idBotonesDocumento, idPanelDecreto" />
				<a4j:commandButton
					action="#{crearDecreto.desvisarYDesfirmar(crearDecreto.decreto)}"
					value="#{messages['creardecreto_desvisar_y_desfirmar']}"
					style="width: 140px; "
					rendered="#{crearDecreto.renderedBotonDesvisarDesfirmar()}"
					reRender="idBotonesDocumento, idPanelDecreto" />
				<a4j:commandButton id="despachar"
					value="#{messages['creardecreto_despachar_expediente']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogDespachar')"
					rendered="#{crearDecreto.isRenderedBotonDespachar()}"
					disabled="#{not crearDecreto.isDespachable()}"
					style="width: 140px; " />
				<h:commandLink id="visualizar"
					actionListener="#{crearDecreto.visualizar()}"
					rendered="#{crearDecreto.isRenderedBotonVisualizar()}"
					action="#{visualizador.verDocumento(crearDecreto.decreto)}"
					target="_new" immediate="true">
					<h:graphicImage border="0px"
						value="/imagenes/icono_visualizardoc.gif" />
				</h:commandLink>
			</h:panelGrid>
		</h:form>

		<rich:modalPanel id="panelFirmaApplet" resizeable="false" height="190"
			width="335">
			<f:facet name="header">
				<h:outputText value="#{messages['creardecreto_firma_electronica']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelFirmaApplet')">
				</h:graphicImage>
			</f:facet>
			<applet codebase="#{crearDecreto.urlFirma}exedoc/applet/"
				code="cl.exe.firma.applet.FirmaApplet.class"
				archive="./firmaappletfirmado.jar, ./commons-codec-1.3.jar, ./commons-httpclient-3.1.jar, ./commons-logging-1.1.1.jar, ./bcprov-jdk16-144.jar, ./iText-2.1.7.jar"
				width="315" height="110">
				<param name="url_documento_1"
					value="#{crearDecreto.urlFirma}exedoc/servlet/getDocumentoXml;jsessionid=#{crearDecreto.sessionId}?#{manager.conversationIdParameter}=#{conversation.id}&#38;documentoId=#{crearDecreto.decreto.id}&#38;firmadorId=#{usuario.id}" />
				<param name="url_post_1"
					value="#{crearDecreto.urlFirma}exedoc/servlet/putDocumentoXml;jsessionid=#{crearDecreto.sessionId}?#{manager.conversationIdParameter}=#{conversation.id}&#38;documentoId=#{crearDecreto.decreto.id}&#38;firmadorId=#{usuario.id}" />
				<param name="tipo_documento_1" value="xml" />
				<param name="numero_documentos"
					value="#{crearDecreto.listaArchivos.size + 1}" />
				<ui:repeat value="#{crearDecreto.listaArchivos}" var="archivo">
					<param
						name="url_documento_#{crearDecreto.listaArchivos.indexOf(archivo)+2}"
						value="#{crearDecreto.urlFirma}exedoc/servlet/getDocumentoPDF;jsessionid=#{crearDecreto.sessionId}?#{manager.conversationIdParameter}=#{conversation.id}&#38;cmsId=#{archivo.cmsId}" />
					<param
						name="url_post_#{crearDecreto.listaArchivos.indexOf(archivo)+2}"
						value="#{crearDecreto.urlFirma}exedoc/servlet/putDocumentoPDF;jsessionid=#{crearDecreto.sessionId}?#{manager.conversationIdParameter}=#{conversation.id}&#38;cmsId=#{archivo.cmsId}" />
					<param
						name="tipo_documento_#{crearDecreto.listaArchivos.indexOf(archivo)+2}"
						value="pdf" />
				</ui:repeat>
				<param name="url_retorno"
					value="javascript:buscaDocumentoTomaRegistro(#{conversation.id});" />
				<param name="tipo_firma" value="avanzada" />
				<param name="tarea" value="#{crearDecreto.decreto.id}" />
				<!--
					<param name="rut" value="#{usuario.getRutFirma()}" />
				-->
				<param name="rut_ca"
					value="96928180-5;70008310-1;96919050-8;99532830-5;99551740-K;78527970-0" />
			</applet>
			<h:form>
				<a4j:commandButton value="#{messages['creardecreto_volver']}"
					onclick="Richfaces.hideModalPanel('panelFirmaApplet')"
					immediate="true" />
			</h:form>
			<h:form>
				<a4j:jsFunction name="ejecutaBuscaDocumento"
					action="#{crearDecreto.buscaDocumento()}" immediate="true" />
			</h:form>
		</rich:modalPanel>

		<!--
			<rich:modalPanel id="panelFirmaAppletExento" resizeable="false" height="190" width="335">
				<f:facet name="header">
					<h:outputText value="#{messages['creardecreto_firma_electronica']}" />
				</f:facet>
				<f:facet name="controls">
					<h:graphicImage value="/imagenes/icon-close.png" style="cursor:pointer" onclick="Richfaces.hideModalPanel('panelFirmaAppletExento')">
					</h:graphicImage>
				</f:facet>
				<applet codebase="#{crearDecreto.urlFirma}exedoc/applet/" code="cl.exe.firma.applet.FirmaApplet.class"
					archive="./firmaappletfirmado.jar, ./commons-codec-1.3.jar, ./commons-httpclient-3.1.jar, ./commons-logging-1.1.1.jar, ./bcprov-jdk16-144.jar, ./iText-2.1.7.jar" width="315" height="110">
					<param name="url_documento" value="#{crearDecreto.urlFirma}exedoc/servlet/getDocumentoXml;jsessionid=#{crearDecreto.sessionId}?#{manager.conversationIdParameter}=#{conversation.id}&#38;documentoId=#{crearDecreto.decreto.id}&#38;firmadorId=#{usuario.id}" />
					<param name="url_post" value="#{crearDecreto.urlFirma}exedoc/servlet/putDocumentoXml;jsessionid=#{crearDecreto.sessionId}?#{manager.conversationIdParameter}=#{conversation.id}&#38;documentoId=#{crearDecreto.decreto.id}&#38;firmadorId=#{usuario.id}" />
					<param name="url_retorno"
						value="javascript:buscaDocumento(#{conversation.id});" />
					<param name="tipo_firma" value="avanzada" />
					<param name="tarea" value="#{crearDecreto.decreto.id}" />
					<param name="rut" value="#{usuario.getRutFirma()}" />
					<param name="rut_ca" value="96928180-5;70008310-1;96919050-8;99532830-5;99551740-K;78527970-0" />
				</applet>
				<h:form>
					<a4j:commandButton value="#{messages['creardecreto_volver']}" onclick="Richfaces.hideModalPanel('panelFirmaAppletExento')" immediate="true" />
				</h:form>
			</rich:modalPanel>
		-->

		<script>
		<!--
			function buscaDocumento(conversationId){
					Richfaces.showModalPanel('panelEsperaBandeja');
					ejecutaBuscaDocumento();
			}
			function buscaDocumentoTomaRegistro(conversationId){
					Richfaces.showModalPanel('panelEsperaBandeja');
					ejecutaBuscaDocumento();
			}
		-->
		</script>

		<rich:modalPanel id="panelAdjuntarArchivo" minHeight="270"
			minWidth="430" height="270" width="430">
			<f:facet name="header">
				<h:outputText value="#{messages['creardecreto_adjuntar_archivo']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')">
				</h:graphicImage>
			</f:facet>
			<h:form enctype="multipart/form-data">
				<h:panelGrid columns="1">
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['creardecreto_materiadp']}</ui:define>
						<h:inputText id="materia" required="true"
							value="#{crearDecreto.materiaArchivo}" />
					</s:decorate>
					<s:decorate id="decorateUpLoadFile" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['creardecreto_archivodp']}</ui:define>
						<rich:fileUpload id="upload" immediateUpload="true"
							maxFilesQuantity="1" acceptedTypes="#{crearDecreto.tipoArchivo}"
							listHeight="60px" fileUploadListener="#{crearDecreto.listener}"
							addControlLabel="Agregar" allowFlash="false">
							<a4j:support event="onclear" reRender="decorateUpLoadFile" />
						</rich:fileUpload>
					</s:decorate>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<a4j:commandButton
						value="#{messages['creardecreto_agregar_archivo']}"
						action="#{crearDecreto.agregarAntecedente}"
						reRender="archivosAntecedentesList, archivosAntecedentesPanel, panelAdjuntarArchivo"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')" />
					<a4j:commandButton value="#{messages['creardecreto_volver']}"
						action="#{crearDecreto.salirPanel}"
						reRender="archivosAntecedentesList, archivosAntecedentesPanel, panelAdjuntarArchivo"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')"
						immediate="true" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>


		<rich:modalPanel id="panelSeleccionDistribucion" resizeable="false"
			height="500" width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['creardecreto_seleccionar_distribucion_documento']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelSeleccionDistribucion')"
					reRender="idTableDistribucion, idPanelDistribucion">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarDistribucionDocumento.xhtml" />
			<h:form>
				<a4j:commandButton value="#{messages['creardecreto_volver']}"
					reRender="idTableDistribucion, idPanelDistribucion"
					onclick="Richfaces.hideModalPanel('panelSeleccionDistribucion')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionVisaciones" resizeable="false"
			height="600" width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['creardecreto_seleccionar_visadores']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					reRender="idPanelVisaciones, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionVisaciones')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarVisaciones.xhtml" />
			<h:form>
				<a4j:commandButton value="#{messages['creardecreto_volver']}"
					reRender="idPanelVisaciones, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionVisaciones')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionFirmas" resizeable="false"
			height="500" width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['creardecreto_seleccionar_firmantes']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer" reRender="idPanelFirmas, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionFirmas')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarFirmas.xhtml" />
			<h:form>
				<a4j:commandButton value="#{messages['creardecreto_volver']}"
					reRender="idPanelFirmas, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionFirmas')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="idConfirmDialogDespachar" resizeable="false"
			width="230" height="75">
			<f:facet name="header">
				<h:outputText
					value="#{messages['creardecreto_confirmacion_despacho_expediente']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['creardecreto_desea_despachar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton value="#{messages['creardecreto_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')" />
					<h:commandButton value="#{messages['creardecreto_despachar']}"
						action="#{crearDecreto.despacharExpediente()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelConfirmacionVolver" resizable="false"
			height="100" width="455" rendered="#{crearDecreto.isEditable()}">
			<f:facet name="header">
				<h:outputText value="#{messages['creardecreto_confirmacion']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')"
					reRender="idPanelDocumento">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<div align="center">
					<h:outputText
						value="#{messages['creardecreto_el_documento_no_ha_sido_guardado_se_perderan_los_cambios']}" />
				</div>
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton
						value="#{messages['creardecreto_continuar_en_la_misma_pagina']}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
					<h:commandButton
						value="#{messages['creardecreto_volver_a_la_pagina_anterior']}"
						action="#{crearDecreto.end}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText value="#{messages['creardecreto_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['creardecreto_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>

		<rich:modalPanel id="panelEsperaBandeja" height="50">
			<f:facet name="header">
				<h:outputText value="#{messages['creardecreto_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['creardecreto_espere_mientras_es_dirigido_a_su_bandeja_de_entrada']}" />
		</rich:modalPanel>

		<rich:modalPanel id="panelEsperaOperacion" height="50">
			<f:facet name="header">
				<h:outputText value="#{messages['creardecreto_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['creardecreto_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>

		<a4j:status id="waitStatusOperacion"
			onstart="Richfaces.showModalPanel('panelEsperaOperacion');"
			onstop="Richfaces.hideModalPanel('panelEsperaOperacion')" />

	</ui:define>

</ui:composition>

