<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<h:form id="idFormContrato" enctype="multipart/form-data">
			<rich:panel width="100%" id="idPanelContrato">
				<f:facet name="header">#{messages['crearcontrato_contrato']}</f:facet>
				<h:messages globalOnly="true" styleClass="message" />
				<h:panelGrid columns="2" width="100%">
					<h:panelGrid columns="1"
						style="textAlign:center;vertical-align:text-top;">
						<h:graphicImage id="logoGobierno"
							url="/imagenes/logoInstitucion.png" />
						<h:graphicImage id="idImageFirmado" url="/imagenes/firmado.gif"
							rendered="#{crearContrato.firmado}" />
						<h:selectOneMenu id="idPlantillasList" immediate="true"
							rendered="#{crearContrato.contrato.id == null}"
							value="#{crearContrato.idPlantilla}"
							valueChangeListener="#{crearContrato.plantillaListener}">
							<f:selectItems value="#{crearContrato.obtenerPlantillas()}" />
							<a4j:support event="onchange" reRender="idPanelContrato"
								action="#{crearContrato.cambiar}" immediate="true" />
						</h:selectOneMenu>

						<h:panelGrid id="panelTiposOtros" columns="1"
							style="textAlign: center;">
							<s:decorate template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['crearcontrato_tipo_1']}</ui:define>
								<h:selectOneMenu id="idClasificacionTipoOtrosSelec"
									required="true" immediate="true"
									value="#{crearContrato.idClasificacionTipoOtrosSelec}"
									disabled="#{crearContrato.firmado or not crearContrato.isEditable()}"
									readonly="#{not crearContrato.isEditable()}">
									<s:validate />
									<f:selectItems value="#{crearContrato.tipos1Otros}" />
								</h:selectOneMenu>
							</s:decorate>

							<s:decorate template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['crearcontrato_tipo_2']}</ui:define>
								<h:selectOneMenu id="idClasificacionSubTipoOtrosSelec"
									required="false" immediate="true"
									value="#{crearContrato.idClasificacionSubTipoOtrosSelec}"
									disabled="#{crearContrato.firmado or not crearContrato.isEditable()}"
									readonly="#{not crearContrato.isEditable()}">
									<f:selectItems value="#{crearContrato.tipos2Otros}" />
								</h:selectOneMenu>
							</s:decorate>
						</h:panelGrid>
					</h:panelGrid>
					<h:panelGroup>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearcontrato_contrato_ndp']}</ui:define>
							<h:inputText required="false"
								value="#{crearContrato.contrato.numeroDocumento}"
								disabled="true" />
						</s:decorate>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearcontrato_santiago']}</ui:define>
							<rich:calendar popup="true" datePattern="dd/MM/yyyy"
								pattern="dd/M/yyyy"
								value="#{crearContrato.contrato.fechaDocumentoOrigen}"
								required="false" enableManualInput="true" disabled="true" />
						</s:decorate>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearcontrato_materiadp']}</ui:define>
							<h:inputTextarea rows="6" cols="30" required="true"
								value="#{crearContrato.contrato.materia}"
								disabled="#{crearContrato.firmado}"
								readonly="#{not crearContrato.editable}" />
						</s:decorate>
					</h:panelGroup>
				</h:panelGrid>
				<h:panelGrid columns="1" style="text-align:center" width="100%">
					<h:outputText
						value="#{messages['crearcontrato_contrato_de_prestacion_de_servicios']}"
						style="font-size:15px;font-weight:bold" />
					<h:outputText
						value="#{messages['crearcontrato_subsecretaria_de_desarrollo_regional_y_administrativo_']}"
						style="font-size:15px;font-weight:bold" />
					<h:outputText value="#{messages['crearcontrato_y']}"
						style="font-size:15px;font-weight:bold" />
					<h:inputText required="false"
						value="#{crearContrato.contrato.titulo}"
						style="font-size:15px;font-weight:bold" size="60" />
				</h:panelGrid>
				<h:panelGrid columns="1" style="text-align:center" width="100%">
					<h:inputTextarea rows="8" cols="80" style="font-size:120%;"
						value="#{crearContrato.contrato.prologo}"
						disabled="#{crearContrato.firmado}"
						readonly="#{not crearContrato.editable}" />
				</h:panelGrid>
				<h:panelGrid columns="1" width="100%">
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearcontrato_puntos_del_contrato']}</ui:define>
						<h:inputTextarea rows="50" cols="100" style="font-size:120%;"
							value="#{crearContrato.puntos}"
							disabled="#{crearContrato.firmado}"
							readonly="#{not crearContrato.editable}" />
					</s:decorate>
				</h:panelGrid>
				<br />
				<rich:panel id="archivosAntecedentesPanel">
					<f:facet name="header">#{messages['crearcontrato_antecedentes']}</f:facet>
					<a4j:commandButton
						value="#{messages['crearcontrato_agregar_antecedente']}"
						onclick="Richfaces.showModalPanel('panelAdjuntarArchivo')"
						disabled="#{not crearContrato.editable}"
						action="#{crearContrato.limpiarAnexos()}" immediate="true" />
					<rich:dataTable id="archivosAntecedentesList"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="#{crearContrato.listaArchivos}" var="archivo" width="100%"
						rendered="#{not empty crearContrato.listaArchivos}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText value="#{messages['crearcontrato_ver']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearcontrato_titulo']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearcontrato_materia']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['crearcontrato_adjuntado_por']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearcontrato_fecha']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['crearcontrato_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="archivo">
							<rich:column>
								<a4j:htmlCommandLink border="0px"
									action="#{crearContrato.verArchivo(archivo.id)}"
									rendered="#{archivo.id != null}">
									<h:graphicImage border="0px" alt="#{archivo.nombreArchivo}"
										url="/imagenes/ver_detalle_01.gif" style="border: none;" />
								</a4j:htmlCommandLink>
							</rich:column>
							<rich:column>
								<h:outputText value="#{archivo.nombreArchivo}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{archivo.materia}" />
							</rich:column>
							<rich:column>
								<h:outputText rendered="#{archivo.adjuntadoPor != null}"
									value="#{archivo.adjuntadoPor.nombreApellido}" />
								<h:outputText rendered="#{archivo.adjuntadoPor == null}"
									value="#{archivo.documentoElectronico.autor.nombreApellido}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{archivo.fecha}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
								</h:outputText>
							</rich:column>
							<rich:column>
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									reRender="archivosAntecedentesList, archivosAntecedentesPanel, panelFirmaApplet, panelFirmaAppletExento"
									action="#{crearContrato.eliminarArchivoAntecedente(archivo.idNuevoArchivo)}"
									rendered="#{not empty archivo.idNuevoArchivo}" immediate="true"
									disabled="#{not crearContrato.editable}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</rich:panel>
				<br />
				<h:panelGrid columns="1" width="100%"
					rendered="#{crearContrato.modificarVisaFirmas()}">
					<rich:panel id="idPanelVisaciones">
						<f:facet name="header">#{messages['crearcontrato_visaciones']}</f:facet>
						<h:panelGrid columns="1" style="text-align: left">
							<h:outputText value="#{crearContrato.visaciones}" />
							<a4j:commandButton
								onclick="Richfaces.showModalPanel('panelSeleccionVisaciones')"
								value="#{messages['crearcontrato_modificar_visaciones']}"
								reRender="idPanelVisaciones, idBotonesDocumento"
								immediate="true" disabled="#{not crearContrato.editable}" />
						</h:panelGrid>
					</rich:panel>
					<rich:panel id="idPanelFirmas">
						<f:facet name="header">#{messages['crearcontrato_firmas']}</f:facet>
						<h:panelGrid columns="1">
							<ui:repeat id="idRepeatFirmas" var="firma"
								value="#{crearContrato.firmas}">
								<h:outputText
									value="#{firma.persona.nombres} #{firma.persona.apellidoPaterno}" />
								<h:outputText value=" - #{firma.persona.cargo.descripcion}" />
							</ui:repeat>
							<a4j:commandButton
								onclick="Richfaces.showModalPanel('panelSeleccionFirmas')"
								value="#{messages['crearcontrato_modificar_firmas']}"
								reRender="idPanelFirmas, idBotonesDocumento" immediate="true"
								disabled="#{not crearContrato.editable}" />
						</h:panelGrid>

					</rich:panel>
				</h:panelGrid>


				<br />
				<rich:panel id="idPanelDistribucion">
					<f:facet name="header">#{messages['crearcontrato_distribucion']}</f:facet>
					<h:panelGrid columns="2" width="100%">
						<rich:dataTable id="idTableDistribucion"
							onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="#{crearContrato.distribucionDocumento}" var="itemDist"
							rendered="#{not empty crearContrato.distribucionDocumento}">
							<f:facet name="header">
								<rich:columnGroup>
									<rich:column>
										<h:outputText
											value="#{messages['crearcontrato_lista_de_distribucion']}" />
									</rich:column>
								</rich:columnGroup>
							</f:facet>
							<rich:subTable
								onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
								onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
								value="itemDist">
								<rich:column>
									<h:outputText value="#{itemDist.descripcion}" />
								</rich:column>
							</rich:subTable>
						</rich:dataTable>
					</h:panelGrid>
					<a4j:commandButton
						onclick="Richfaces.showModalPanel('panelSeleccionDistribucion')"
						value="#{messages['crearcontrato_agregar_distribucion']}"
						reRender="idTableDistribucion, idPanelDistribucion"
						immediate="true" disabled="#{not crearContrato.editable}" />
				</rich:panel>
				<br />
				<rich:panel style="padding:0" headerClass="outpanelHeader">
					<f:facet name="header">
						<rich:spacer height="4" />
					</f:facet>
					<h:panelGrid columns="2" width="100%">
						<h:panelGroup>
							<ui:repeat id="idRepeatVisaciones" var="visa"
								value="#{crearContrato.visacionesV}"
								rendered="#{crearContrato.visado}">
								<h:outputText value="#{visa.persona.iniciales}" />
								<h:outputText value="/" />
							</ui:repeat>
							<h:outputText
								value="#{crearContrato.contrato.autor.iniciales.toLowerCase()}" />
						</h:panelGroup>
						<h:panelGroup>
							<h:panelGrid columns="1" style="text-align: right"
								rendered="#{crearContrato.firmado}">
								<h:panelGroup>
									<h:outputText
										value="#{crearContrato.contrato.firmas.get(0).persona.nombres}" />
									<h:outputText value=" " />
									<h:outputText
										value="#{crearContrato.contrato.firmas.get(0).persona.apellidoPaterno}" />
								</h:panelGroup>
								<h:outputText
									value="#{crearContrato.contrato.firmas.get(0).persona.cargo.descripcion}" />
							</h:panelGrid>
						</h:panelGroup>
					</h:panelGrid>
				</rich:panel>

			</rich:panel>
			<br />

			<h:panelGrid columns="10" width="50%" id="idBotonesDocumento">
				<a4j:commandButton id="volver1"
					value="#{messages['crearcontrato_volver']}"
					rendered="#{crearContrato.editable}"
					onclick="Richfaces.showModalPanel('panelConfirmacionVolver')"
					immediate="true" />
				<a4j:commandButton id="volver2"
					value="#{messages['crearcontrato_volver']}"
					rendered="#{not crearContrato.editable}"
					action="#{crearContrato.end()}" immediate="true" />
				<h:commandButton id="guardar"
					value="#{messages['crearcontrato_guardar']}"
					action="#{crearContrato.agregarDocumento}"
					disabled="#{not crearContrato.editable}"
					rendered="#{crearContrato.isRenderedBotonGuardar()}" />
				<a4j:commandButton id="guardarConExpediente"
					value="#{messages['crearcontrato_guardar_y_crear_expediente']}"
					action="#{crearContrato.guardarYCrearExpediente()}"
					disabled="#{not crearContrato.editable}"
					rendered="#{crearContrato.isRenderedBotonGuardarCrearExpediente()}"
					reRender="idFormContrato">
					<a4j:support event="oncomplete"
						action="#{modificarExpediente.begin()}">
						<f:param name="idExpediente" value="-1" />
					</a4j:support>
				</a4j:commandButton>
				<a4j:commandButton id="visar"
					value="#{messages['crearcontrato_visar']}"
					action="#{crearContrato.visar()}"
					disabled="#{not crearContrato.isEditableSinVisa()}"
					rendered="#{crearContrato.isRenderedVisar()}"
					reRender="idBotonesDocumento, idPanelContrato"
					onclick="this.disabled='true';Richfaces.showModalPanel('panelEspera')"
					oncomplete="Richfaces.hideModalPanel('panelEspera')" />
				<a4j:commandButton id="firmar"
					value="#{messages['crearcontrato_firmar']}"
					disabled="#{crearContrato.firmado}"
					rendered="#{crearContrato.isRenderedFirmar()}"
					onclick="Richfaces.showModalPanel('panelFirmaApplet')"
					reRender="idPanelContrato, idBotonesDocumento">
					<a4j:support event="oncomplete"
						action="#{crearContrato.buscaDocumento}" />
				</a4j:commandButton>
				<a4j:commandButton
					value="#{messages['crearcontrato_crear_resolucion']}"
					rendered="#{crearContrato.firmado}"
					onclick="Richfaces.showModalPanel('panelSeleccionPlantillaResolucion')" />
				<a4j:commandButton
					action="#{crearContrato.desvisarYDesfirmar(crearContrato.contrato)}"
					value="#{messages['crearcontrato_desvisar_y_desfirmar']}"
					rendered="#{crearContrato.renderedBotonDesvisarDesfirmar()}"
					reRender="idBotonesDocumento, idPanelContrato" />
				<a4j:commandButton id="despachar"
					value="#{messages['crearcontrato_despachar_expediente']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogDespachar')"
					rendered="#{crearContrato.isRenderedBotonDespachar()}"
					disabled="#{not crearContrato.isDespachable()}" />
				<h:commandLink id="visualizar"
					actionListener="#{crearContrato.visualizar()}"
					rendered="#{crearContrato.isRenderedBotonVisualizar()}"
					action="#{visualizador.verDocumento(crearContrato.contrato)}"
					target="_new" immediate="true">
					<h:graphicImage border="0px"
						value="/imagenes/icono_visualizardoc.gif" />
				</h:commandLink>
			</h:panelGrid>
		</h:form>

		<rich:modalPanel id="panelFirmaApplet" resizeable="false" height="190"
			width="335">
			<f:facet name="header">
				<h:outputText value="#{messages['crearcontrato_firma_electronica']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelFirmaApplet')">
				</h:graphicImage>
			</f:facet>
			<applet codebase="#{crearContrato.urlFirma}exedoc/applet/"
				code="cl.exe.firma.applet.FirmaApplet.class"
				archive="./firmaappletfirmado.jar, ./commons-codec-1.3.jar, ./commons-httpclient-3.1.jar, ./commons-logging-1.1.1.jar, ./bcprov-jdk16-144.jar, ./iText-2.1.7.jar"
				width="315" height="110">
				<param name="url_documento_1"
					value="#{crearContrato.urlFirma}exedoc/servlet/getDocumentoXml?documentoId=#{crearContrato.contrato.id}&#38;firmadorId=#{usuario.id}" />
				<param name="url_post_1"
					value="#{crearContrato.urlFirma}exedoc/servlet/putDocumentoXml?documentoId=#{crearContrato.contrato.id}&#38;firmadorId=#{usuario.id}" />
				<param name="tipo_documento_1" value="xml" />
				<param name="numero_documentos"
					value="#{crearContrato.listaArchivos.size + 1}" />
				<ui:repeat value="#{crearContrato.listaArchivos}" var="archivo">
					<param
						name="url_documento_#{crearContrato.listaArchivos.indexOf(archivo)+2}"
						value="#{crearContrato.urlFirma}exedoc/servlet/getDocumentoPDF?cmsId=#{archivo.cmsIdString}" />
					<param
						name="url_post_#{crearContrato.listaArchivos.indexOf(archivo)+2}"
						value="#{crearContrato.urlFirma}exedoc/servlet/putDocumentoPDF?cmsId=#{archivo.cmsIdString}" />
					<param
						name="tipo_documento_#{crearContrato.listaArchivos.indexOf(archivo)+2}"
						value="pdf" />
				</ui:repeat>
				<param name="url_retorno"
					value="#{crearContrato.urlFirma}exedoc/crearContrato.seam?#{manager.conversationIdParameter}=#{conversation.id}&#38;actionMethod=crearContrato.xhtml:crearContrato.buscaDocumento&#38;docID=#{crearContrato.contrato.id}" />
				<param name="tipo_firma" value="avanzada" />
				<param name="tarea" value="#{crearContrato.contrato.id}" />
				<param name="rut" value="#{usuario.rut}" />
				<param name="rut_ca"
					value="96928180-5;70008310-1;96919050-8;99532830-5;99551740-K;78527970-0" />
			</applet>
			<h:form>
				<a4j:commandButton value="#{messages['crearcontrato_volver']}"
					onclick="Richfaces.hideModalPanel('panelFirmaApplet')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelFirmaAppletExento" resizeable="false"
			height="190" width="335">
			<f:facet name="header">
				<h:outputText value="#{messages['crearcontrato_firma_electronica']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelFirmaAppletExento')">
				</h:graphicImage>
			</f:facet>
			<applet codebase="#{crearContrato.urlFirma}exedoc/applet/"
				code="cl.exe.firma.applet.FirmaApplet.class"
				archive="./firmaappletfirmado.jar, ./commons-codec-1.3.jar, ./commons-httpclient-3.1.jar, ./commons-logging-1.1.1.jar, ./bcprov-jdk16-144.jar, ./iText-2.1.7.jar"
				width="315" height="110">
				<param name="url_documento"
					value="#{crearContrato.urlFirma}exedoc/servlet/getDocumentoXml?documentoId=#{crearContrato.contrato.id}&#38;firmadorId=#{usuario.id}" />
				<param name="url_post"
					value="#{crearContrato.urlFirma}exedoc/servlet/putDocumentoXml?documentoId=#{crearContrato.contrato.id}&#38;firmadorId=#{usuario.id}" />
				<param name="url_retorno"
					value="#{crearContrato.urlFirma}exedoc/crearContrato.seam?#{manager.conversationIdParameter}=#{conversation.id}&#38;actionMethod=crearContrato.xhtml:crearContrato.buscaDocumento&#38;docID=#{crearContrato.contrato.id}" />
				<param name="tipo_firma" value="avanzada" />
				<param name="tarea" value="#{crearContrato.contrato.id}" />
				<param name="rut" value="#{usuario.rut}" />
				<param name="rut_ca"
					value="96928180-5;70008310-1;96919050-8;99532830-5;99551740-K;78527970-0" />
			</applet>
			<h:form>
				<a4j:commandButton value="#{messages['crearcontrato_volver']}"
					onclick="Richfaces.hideModalPanel('panelFirmaAppletExento')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelAdjuntarArchivo" minHeight="270"
			minWidth="430" height="270" width="430">
			<f:facet name="header">
				<h:outputText value="#{messages['crearcontrato_adjuntar_archivo']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')">
				</h:graphicImage>
			</f:facet>
			<h:form enctype="multipart/form-data">
				<h:panelGrid columns="1">
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearcontrato_materiadp']}</ui:define>
						<h:inputText id="materia" required="true"
							value="#{crearContrato.materiaArchivo}" />
					</s:decorate>
					<s:decorate id="decorateUpLoadFile" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearcontrato_archivodp']}</ui:define>
						<rich:fileUpload id="upload" immediateUpload="true"
							maxFilesQuantity="1" acceptedTypes="#{crearContrato.tipoArchivo}"
							listHeight="60px" fileUploadListener="#{crearContrato.listener}"
							addControlLabel="Agregar" allowFlash="false">
							<a4j:support event="onclear" reRender="decorateUpLoadFile" />
						</rich:fileUpload>
					</s:decorate>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<a4j:commandButton
						value="#{messages['crearcontrato_agregar_archivo']}"
						action="#{crearContrato.agregarAntecedente}"
						reRender="archivosAntecedentesList, archivosAntecedentesPanel, panelAdjuntarArchivo"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')" />
					<a4j:commandButton value="#{messages['crearcontrato_volver']}"
						action="#{crearContrato.salirPanel}"
						reRender="archivosAntecedentesList, archivosAntecedentesPanel, panelAdjuntarArchivo"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')"
						immediate="true" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>


		<rich:modalPanel id="panelSeleccionDistribucion" resizeable="false"
			height="500" width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearcontrato_seleccionar_distribucion_documento']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelSeleccionDistribucion')"
					reRender="idTableDistribucion, idPanelDistribucion">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarDistribucionDocumento.xhtml" />
			<h:form>
				<a4j:commandButton value="#{messages['crearcontrato_volver']}"
					reRender="idTableDistribucion, idPanelDistribucion"
					onclick="Richfaces.hideModalPanel('panelSeleccionDistribucion')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionVisaciones" resizeable="false"
			height="600" width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearcontrato_seleccionar_visadores']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					reRender="idPanelVisaciones, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionVisaciones')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarVisaciones.xhtml" />
			<h:form>
				<a4j:commandButton value="#{messages['crearcontrato_volver']}"
					reRender="idPanelVisaciones, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionVisaciones')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionFirmas" resizeable="false"
			height="500" width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearcontrato_seleccionar_firmantes']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer" reRender="idPanelFirmas, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionFirmas')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarFirmas.xhtml" />
			<h:form>
				<a4j:commandButton value="#{messages['crearcontrato_volver']}"
					reRender="idPanelFirmas, idBotonesDocumento"
					onclick="Richfaces.hideModalPanel('panelSeleccionFirmas')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="idConfirmDialogDespachar" resizeable="false"
			width="230" height="75">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearcontrato_confirmacion_despacho_expediente']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['crearcontrato_desea_despachar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton value="#{messages['crearcontrato_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')" />
					<h:commandButton value="#{messages['crearcontrato_despachar']}"
						action="#{crearContrato.despacharExpediente()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelConfirmacionVolver" resizable="false"
			height="100" width="455" rendered="#{crearContrato.editable}">
			<f:facet name="header">
				<h:outputText value="#{messages['crearcontrato_confirmacion']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')"
					reRender="idPanelDocumento">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<div align="center">
					<h:outputText
						value="#{messages['crearcontrato_el_documento_no_ha_sido_guardado_se_perderan_los_cambios']}" />
				</div>
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton
						value="#{messages['crearcontrato_continuar_en_la_misma_pagina']}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
					<h:commandButton
						value="#{messages['crearcontrato_volver_a_la_pagina_anterior']}"
						action="#{crearContrato.end}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText value="#{messages['crearcontrato_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['crearcontrato_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>

		<rich:modalPanel id="panelSeleccionPlantillaResolucion">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearcontrato_seleccion_de_plantilla']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelSeleccionPlantillaResolucion')" />
			</f:facet>

			<h:form>
				<div align="center">
					<h:outputText
						value="#{messages['crearcontrato_por_favor_seleccione_la_plantilla_deseada']}" />
				</div>
				<h:selectOneMenu id="idPlantillasResolucionList" immediate="true"
					value="#{crearContrato.idPlantillaResolucion}"
					valueChangeListener="#{crearContrato.plantillaResolucionListener}">
					<f:selectItems
						value="#{crearContrato.obtenerPlantillasResolucion()}" />
				</h:selectOneMenu>
				<a4j:commandButton action="#{crearContrato.generarResolucion()}"
					value="#{messages['crearcontrato_confirmar']}" />
				<a4j:commandButton
					onclick="Richfaces.hideModalPanel('panelSeleccionPlantillaResolucion')"
					value="#{messages['crearcontrato_cancelar']}" />
			</h:form>
		</rich:modalPanel>

	</ui:define>

</ui:composition>

