<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<h:form id="accionForm">
			<rich:panel id="idPanelVacaciones">
				<f:facet name="header">#{messages['crearsolvacaciones_ver_solicitud_vacaciones']}</f:facet>
				<h:messages globalOnly="true" styleClass="message" />
				<h:panelGrid columns="2">
					<h:panelGrid columns="1" style="textAlign: center;">
						<h:graphicImage id="logoGobierno"
							url="/imagenes/logoInstitucion.png" />
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="2" id="panelFuncionario">
					<f:facet name="header">#{messages['crearsolvacaciones_informacion_funcionario']}</f:facet>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearsolvacaciones_usuariodp']}</ui:define>
						<h:inputText required="false" size="30"
							value="#{crearSolVacaciones.solicitante.nombreApellido}"
							readonly="true" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearsolvacaciones_gradodp']}</ui:define>
						<h:inputText required="false" value="#{crearSolVacaciones.grado}"
							readonly="true" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearsolvacaciones_calidad_juridicadp']}</ui:define>
						<h:inputText required="false" size="30"
							value="#{crearSolVacaciones.calidadJuridica}" readonly="true" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearsolvacaciones_n_dias_vacaciones_pendientesdp']}</ui:define>
						<h:inputText required="false"
							value="#{crearSolVacaciones.diasVacacionesPendientes}"
							readonly="true" />
					</s:decorate>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputLabel style="color:red;font-size:150%;"
						value="#{messages['crearsolvacaciones_solicitud_rechazada_si_desea_puede_modificarla_y_enviarla_nuevamente']}"
						rendered="#{crearSolVacaciones.renderedMensajeRechazado}" />
				</h:panelGrid>
				<h:panelGrid columns="2">
					<f:facet name="header">#{messages['crearsolvacaciones_solicitud']}</f:facet>
					<h:panelGrid columns="1">
						<s:decorate template="../layout/edit.xhtml" id="idDiasSolicitados">
							<h:panelGrid id="panelAgregarDia" columns="1">
								<h:panelGroup>
									<h:outputText
										value="#{messages['crearsolvacaciones_fecha_iniciodp']}"
										style="font-weight: bold;" />
									<rich:calendar popup="true" datePattern="dd/MM/yyyy"
										pattern="dd/MM/yyyy" inputSize="10"
										value="#{crearSolVacaciones.vacaciones.fechaInicioVacaciones}"
										enableManualInput="false"
										disabled="#{not crearSolVacaciones.isEditable()}" />
									<rich:spacer width="20"></rich:spacer>
									<h:outputText
										value="#{messages['crearsolvacaciones_fecha_terminodp']}"
										style="font-weight: bold;" />
									<rich:calendar popup="true" datePattern="dd/MM/yyyy"
										pattern="dd/MM/yyyy" inputSize="10"
										value="#{crearSolVacaciones.vacaciones.fechaTerminoVacaciones}"
										enableManualInput="false"
										disabled="#{not crearSolVacaciones.isEditable()}" />
								</h:panelGroup>
							</h:panelGrid>
						</s:decorate>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['crearsolvacaciones_motivo']}</ui:define>
							<h:inputTextarea rows="10" cols="50" style="font-size:120%;"
								value="#{crearSolVacaciones.vacaciones.motivoVacaciones}"
								required="false"
								readonly="#{not crearSolVacaciones.isEditable()}" />
						</s:decorate>
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="6" cellspacing="3" id="idBotonesDocumento">
					<a4j:commandButton id="volver1"
						value="#{messages['crearsolvacaciones_volver']}"
						rendered="#{crearSolVacaciones.isEditable()}"
						onclick="Richfaces.showModalPanel('panelConfirmacionVolver')"
						immediate="true" />
					<a4j:commandButton id="volver2"
						value="#{messages['crearsolvacaciones_volver']}"
						rendered="#{not crearSolVacaciones.isEditable()}"
						action="#{crearSolVacaciones.end()}" immediate="true" />
					<h:commandButton id="guardar"
						value="#{messages['crearsolvacaciones_guardar']}"
						action="#{crearSolVacaciones.agregarDocumento}"
						disabled="#{not crearSolVacaciones.isEditable()}"
						rendered="#{crearSolVacaciones.isRenderedBotonGuardar()}" />
					<a4j:commandButton id="guardarConExpediente"
						value="#{messages['crearsolvacaciones_enviar']}"
						action="#{crearSolVacaciones.guardarYCrearExpediente()}"
						disabled="#{not crearSolVacaciones.isEditable()}"
						rendered="#{crearSolVacaciones.isRenderedBotonGuardarCrearExpediente()}"
						reRender="idPanelVacaciones">
						<a4j:support event="oncomplete"
							action="#{modificarExpediente.begin()}"
							rendered="#{crearSolVacaciones.diasOk}">
							<f:param name="idExpediente" value="-1" />
						</a4j:support>
					</a4j:commandButton>
					<a4j:commandButton id="aprobar"
						value="#{messages['crearsolvacaciones_aprobar']}"
						onclick="Richfaces.showModalPanel('idConfirmDialogAprobar')"
						rendered="#{crearSolVacaciones.isRenderedBotonAceptarRechazar()}">
					</a4j:commandButton>
					<a4j:commandButton id="rechazo"
						value="#{messages['crearsolvacaciones_rechazar']}"
						onclick="Richfaces.showModalPanel('idConfirmDialogRechazar')"
						rendered="#{crearSolVacaciones.isRenderedBotonAceptarRechazar()}"
						reRender="idPanelVacaciones">
					</a4j:commandButton>
				</h:panelGrid>
			</rich:panel>
			<div id="divOculto">
				<h:commandButton id="botonBeginAutom"
					action="#{crearSolVacaciones.obtenerDatosExternos()}"
					value="Iniciando Autom">
				</h:commandButton>
			</div>
			<script language="JavaScript">
		    	document.getElementById("divOculto").style.visibility='hidden';
			</script>
		</h:form>
		<h:panelGrid columns="1"
			rendered="#{crearSolVacaciones.datosObtenidos==null}">
			<script language="JavaScript">
		    	document.getElementById("accionForm:botonBeginAutom").click();
			</script>
		</h:panelGrid>
		<rich:modalPanel id="panelIngresoDias" resizeable="false" height="500"
			width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearsolvacaciones_ingresar_dias_a_solicitar']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer" reRender="idDiasSolicitados, idListDias"
					onclick="Richfaces.hideModalPanel('panelIngresoDias')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarDetalleDiasVacaciones.xhtml" />
			<h:form>
				<a4j:commandButton 
					value="#{messages['crearsolvacaciones_volver']}"
					reRender="idDiasSolicitados, idListDias"
					onclick="Richfaces.hideModalPanel('panelIngresoDias')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>


		<rich:modalPanel id="idConfirmDialogRechazar" resizeable="false"
			width="230" height="75">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearsolvacaciones_confirmacion_rechazo_solicitud']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogRechazar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['crearsolvacaciones_desea_rechazar_la_solicitud']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton 
						value="#{messages['crearsolvacaciones_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogRechazar')" />
					<a4j:commandButton
						value="#{messages['crearsolvacaciones_rechazar']}"
						action="#{crearSolVacaciones.rechazarSolVacaciones}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogRechazar')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="idConfirmDialogAprobar" resizeable="false"
			width="230" height="75">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearsolvacaciones_confirmacion_aprobacion_solicitud']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogAprobar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['crearsolvacaciones_desea_aprobar_la_solicitud']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton 
						value="#{messages['crearsolvacaciones_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogAprobar')" />
					<h:commandButton 
						value="#{messages['crearsolvacaciones_aprobar']}"
						action="#{crearSolVacaciones.aprobarSolVacaciones()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogAprobar')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelConfirmacionVolver" resizable="false"
			height="100" width="455">
			<f:facet name="header">
				<h:outputText value="#{messages['crearsolvacaciones_confirmacion']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')"
					reRender="idPanelDocumento">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['crearsolvacaciones_el_documento_no_ha_sido_guardado_se_perderan_los_cambios']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton
						value="#{messages['crearsolvacaciones_continuar_en_la_misma_pagina']}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
					<h:commandButton
						value="#{messages['crearsolvacaciones_volver_a_la_pagina_anterior']}"
						action="#{crearSolVacaciones.end}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>
	</ui:define>
</ui:composition>
