<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">
		<h:form id="accionForm">
			<rich:panel id="idPanelDiaAdministrativo">
				<f:facet name="header">#{messages['crearsoldiaadministrativo_ver_solicitud_dia_administrativo']}</f:facet>
				<a4j:outputPanel ajaxRendered="true">
					<h:messages globalOnly="true" styleClass="message" />
				</a4j:outputPanel>
				<h:panelGrid columns="2">
					<h:panelGrid columns="1" style="textAlign: center;">
						<h:graphicImage id="logoGobierno"
							url="/imagenes/logoInstitucion.png" />
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="2" id="panelFuncionario">
					<f:facet name="header">#{messages['crearsoldiaadministrativo_informacion_funcionario']}</f:facet>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearsoldiaadministrativo_solicitud_n_dp']}</ui:define>
						<h:inputText required="false"
							value="#{crearSolDiaAdministrativo.diaAdministrativo.numeroDocumento}"
							disabled="true" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearsoldiaadministrativo_usuariodp']}</ui:define>
						<h:inputText required="false" size="30"
							value="#{crearSolDiaAdministrativo.solicitante.nombreApellido}"
							readonly="true" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearsoldiaadministrativo_gradodp']}</ui:define>
						<h:inputText required="false" size="1"
							value="#{crearSolDiaAdministrativo.grado}" readonly="true" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearsoldiaadministrativo_calidad_juridicadp']}</ui:define>
						<h:inputText required="false" size="30"
							value="#{crearSolDiaAdministrativo.calidadJuridica}"
							readonly="true" />
					</s:decorate>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearsoldiaadministrativo_dias_administrativos_pendientesdp']}</ui:define>
						<h:inputText required="false" size="1"
							value="#{crearSolDiaAdministrativo.diasAdministrativosPendientes}"
							readonly="true" />
					</s:decorate>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputLabel style="color:red;font-size:150%;"
						value="#{messages['crearsoldiaadministrativo_solicitud_rechazada_si_desea_puede_modificarla_y_enviarla_nuevamente']}"
						rendered="#{crearSolDiaAdministrativo.renderedMensajeRechazado}" />
				</h:panelGrid>
				<h:panelGrid columns="2">
					<f:facet name="header">#{messages['crearsoldiaadministrativo_solicitud']}</f:facet>
					<h:selectOneRadio value="#{crearSolDiaAdministrativo.tipoDia}"
						id="tipoDia"
						disabled="#{not crearSolDiaAdministrativo.isEditable()}">
						<f:selectItem itemValue="1"
							itemLabel="#{messages['crearsoldiaadministrativo_con_goce_de_remuneraciones']}"
							id="feriado" />
						<f:selectItem itemValue="2"
							itemLabel="#{messages['crearsoldiaadministrativo_sin_goce_de_remuneraciones']}"
							id="diaAdm" />
					</h:selectOneRadio>
				</h:panelGrid>
				<br></br>
				<rich:panel id="panelDias" style=" width : 483px;">
					<f:facet name="header">#{messages['crearsoldiaadministrativo_dias']}</f:facet>
					<div align="center" style="width: 461px;">
						<h:panelGrid columns="1" id="idDiasSolicitados" width="462"
							style="text-align : center;">
							<s:decorate template="../layout/edit.xhtml">
								<rich:calendar popup="true" datePattern="dd/MM/yyyy"
									pattern="dd/MM/yyyy" inputSize="10"
									value="#{crearSolDiaAdministrativo.fechaDia}"
									disabled="#{not crearSolDiaAdministrativo.isEditable()}"
									enableManualInput="false" />
							</s:decorate>
							<h:panelGrid columns="3">
								<h:column>
									<div style="width: 129px;"></div>
								</h:column>
								<h:column>
									<h:selectOneRadio
										value="#{crearSolDiaAdministrativo.periodoDia}"
										id="periodoDia"
										disabled="#{not crearSolDiaAdministrativo.isEditable()}">
										<f:selectItem itemValue="1"
											itemLabel="#{messages['crearsoldiaadministrativo_am']}"
											id="am" />
										<f:selectItem itemValue="2"
											itemLabel="#{messages['crearsoldiaadministrativo_pm']}"
											id="pm" />
										<f:selectItem itemValue="3"
											itemLabel="#{messages['crearsoldiaadministrativo_todo']}"
											id="todo" />
									</h:selectOneRadio>
								</h:column>
								<h:column>
									<div style="width: 129px;"></div>
								</h:column>
							</h:panelGrid>
							<a4j:commandButton id="addDia"
								value="#{messages['crearsoldiaadministrativo_agregar_dia']}"
								action="#{crearSolDiaAdministrativo.agregarDia}"
								reRender="listaDias"
								disabled="#{not crearSolDiaAdministrativo.isEditable()}" />
						</h:panelGrid>
					</div>
				</rich:panel>
				<br></br>
				<h:panelGrid columns="3" border="0" cellpadding="0" cellspacing="0"
					id="listaDias">
					<rich:dataTable
						rendered="#{not empty crearSolDiaAdministrativo.diasSolicitados}"
						var="itemDias" id="idListDias"
						value="#{crearSolDiaAdministrativo.diasSolicitados}"
						style=" width : 480px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;"
						required="false">
						<rich:subTable value="itemDia">
							<rich:column style="text-align:center">
								<h:outputLabel value="#{itemDias.fechaDia}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy"
										timeZone="#{customizacion.getPropiedad('timezone')}" />
								</h:outputLabel>
							</rich:column>
							<rich:column style="text-align:center">
								<h:outputLabel value="#{itemDias.parteDiaString}" />
							</rich:column>
							<rich:column style="text-align:center">
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									action="#{crearSolDiaAdministrativo.eliminarDia(itemDias.fechaDia, itemDias.parteDia)}"
									reRender="listaDias"
									disabled="#{not crearSolDiaAdministrativo.isEditable()}"
									rendered="#{crearSolDiaAdministrativo.isEditable()}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</h:panelGrid>
				<br></br>
				<h:panelGrid columns="1">
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['crearsoldiaadministrativo_motivo']}</ui:define>
						<h:inputTextarea rows="10" cols="50" style="font-size:120%;"
							value="#{crearSolDiaAdministrativo.diaAdministrativo.motivoVacaciones}"
							readonly="#{not crearSolDiaAdministrativo.isEditable()}"
							required="false" />
					</s:decorate>
				</h:panelGrid>
				<h:panelGrid columns="8" cellspacing="3" id="idBotonesDocumento">
					<a4j:commandButton id="volver1"
						value="#{messages['crearsoldiaadministrativo_volver']}"
						rendered="#{crearSolDiaAdministrativo.isEditable()}"
						onclick="Richfaces.showModalPanel('panelConfirmacionVolver')"
						immediate="true" />
					<a4j:commandButton id="volver2"
						value="#{messages['crearsoldiaadministrativo_volver']}"
						rendered="#{not crearSolDiaAdministrativo.isEditable()}"
						action="#{crearSolDiaAdministrativo.end()}" immediate="true" />
					<h:commandButton id="guardar"
						value="#{messages['crearsoldiaadministrativo_guardar']}"
						action="#{crearSolDiaAdministrativo.agregarDocumento}"
						disabled="#{not crearSolDiaAdministrativo.isEditable()}"
						rendered="#{crearSolDiaAdministrativo.isRenderedBotonGuardar()}" />
					<a4j:commandButton id="guardarConExpediente"
						value="#{messages['crearsoldiaadministrativo_enviar']}"
						action="#{crearSolDiaAdministrativo.guardarYCrearExpediente()}"
						disabled="#{not crearSolDiaAdministrativo.isEditable()}"
						rendered="#{crearSolDiaAdministrativo.isRenderedBotonGuardarCrearExpediente()}"
						reRender="idPanelDiaAdministrativo">
						<a4j:support event="oncomplete"
							action="#{modificarExpediente.begin()}"
							rendered="#{crearSolDiaAdministrativo.diasOk}">
							<f:param name="idExpediente" value="-1" />
						</a4j:support>
					</a4j:commandButton>
					<a4j:commandButton id="aprobar"
						value="#{messages['crearsoldiaadministrativo_aprobar']}"
						onclick="Richfaces.showModalPanel('idConfirmDialogAprobar')"
						rendered="#{crearSolDiaAdministrativo.isRenderedBotonAceptarRechazar()}"
						reRender="idPanelDiaAdministrativo">
					</a4j:commandButton>
					<a4j:commandButton id="rechazo"
						value="#{messages['crearsoldiaadministrativo_rechazar']}"
						onclick="Richfaces.showModalPanel('idConfirmDialogRechazar')"
						rendered="#{crearSolDiaAdministrativo.isRenderedBotonAceptarRechazar()}"
						reRender="idPanelDiaAdministrativo">
					</a4j:commandButton>
				</h:panelGrid>
			</rich:panel>
			<div id="divOculto">
				<h:commandButton id="botonBeginAutom"
					action="#{crearSolDiaAdministrativo.obtenerDatosExternos()}"
					value="Iniciando Autom">
				</h:commandButton>
			</div>
			<script language="JavaScript">
		   		document.getElementById("divOculto").style.visibility='hidden';
			</script>
		</h:form>
		<h:panelGrid columns="1"
			rendered="#{crearSolDiaAdministrativo.datosObtenidos== null}">
			<script language="JavaScript">
		    	//document.getElementById("accionForm:botonBeginAutom").click();
			</script>
		</h:panelGrid>
		<rich:modalPanel id="panelIngresoDias" resizeable="false" height="500"
			width="900">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearsoldiaadministrativo_ingresar_dias_a_solicitar']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer" reRender="idDiasSolicitados, idListDias"
					onclick="Richfaces.hideModalPanel('panelIngresoDias')">
				</h:graphicImage>
			</f:facet>
			<a4j:include viewId="seleccionarDetalleDias.xhtml" />
			<h:form>
				<a4j:commandButton
					value="#{messages['crearsoldiaadministrativo_volver']}"
					reRender="idDiasSolicitados, idListDias"
					onclick="Richfaces.hideModalPanel('panelIngresoDias')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="idConfirmDialogRechazar" resizeable="false"
			width="230" height="75">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearsoldiaadministrativo_confirmacion_rechazo_solicitud']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogRechazar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['crearsoldiaadministrativo_desea_rechazar_la_solicitud']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton
						value="#{messages['crearsoldiaadministrativo_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogRechazar')" />
					<a4j:commandButton
						value="#{messages['crearsoldiaadministrativo_rechazar']}"
						action="#{crearSolDiaAdministrativo.rechazarSolDiaAdministrativo()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogRechazar')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="idConfirmDialogAprobar" resizeable="false"
			width="230" height="75">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearsoldiaadministrativo_confirmacion_aprobacion_solicitud']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogAprobar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['crearsoldiaadministrativo_desea_aprobar_la_solicitud']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton
						value="#{messages['crearsoldiaadministrativo_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogAprobar')" />
					<h:commandButton
						value="#{messages['crearsoldiaadministrativo_aprobar']}"
						action="#{crearSolDiaAdministrativo.aprobarSolDiaAdministrativo()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogAprobar')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelConfirmacionVolver" resizable="false"
			height="100" width="455">
			<f:facet name="header">
				<h:outputText
					value="#{messages['crearsoldiaadministrativo_confirmacion']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')"
					reRender="idPanelDocumento">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<div align="center">
					<h:outputText
						value="#{messages['crearsoldiaadministrativo_el_documento_no_ha_sido_guardado_se_perderan_los_cambios']}" />
				</div>
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton
						value="#{messages['crearsoldiaadministrativo_continuar_en_la_misma_pagina']}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
					<h:commandButton
						value="#{messages['crearsoldiaadministrativo_volver_a_la_pagina_anterior']}"
						action="#{crearSolDiaAdministrativo.end}"
						onclick="Richfaces.hideModalPanel('panelConfirmacionVolver')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>
	</ui:define>
</ui:composition>
