<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY deg "">
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<style>
.fechaArchivado {
	background-color: #FFFFCC;
}
</style>

		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel id="panelBusqueda">
			<f:facet name="header">
				<span>#{messages['desarchivarexpedientesmasivo_desarchivar_expedientes']}</span>
			</f:facet>

			<h:form id="formBusqueda">
				<h:panelGrid columns="3" id="gridParamsBusqueda">
					<s:decorate id="tipoDocumentoDecorate"
						template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['desarchivarexpedientesmasivo_tipo_documentodp']}</ui:define>
						<h:selectOneMenu id="listTiposDocumento"
							value="#{desarchivarExpedientesMasivo.tipoDocumentoBusqueda}"
							styleClass="input230">
							<f:selectItems
								value="#{ManejarDocumento.obtenerTiposDeDocumentos()}" />
						</h:selectOneMenu>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate id="deDocumentoDecorate"
						template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['desarchivarexpedientesmasivo_dedp']}</ui:define>
						<h:inputText id="deDocumentoIn"
							value="#{desarchivarExpedientesMasivo.emisorDocumentoBusqueda}"
							styleClass="input223" />
					</s:decorate>

					<s:decorate id="numExpedienteDecorate"
						template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['desarchivarexpedientesmasivo_n_expedientedp']}</ui:define>
						<h:inputText id="numExpedienteIn"
							value="#{desarchivarExpedientesMasivo.numeroExpedienteBusqueda}" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate id="fechaArchivadoInicioDecorate"
						template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['desarchivarexpedientesmasivo_iniciodp']}</ui:define>
						<rich:calendar
							value="#{desarchivarExpedientesMasivo.fechaArchivadoInicioBusqueda}"
							datePattern="dd/MM/yyyy"
							enableManualInput="false" />
					</s:decorate>

					<s:decorate id="numDocumentoDecorate"
						template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['desarchivarexpedientesmasivo_n_documentodp']}</ui:define>
						<h:inputText id="numDocumentoIn"
							value="#{desarchivarExpedientesMasivo.numeroDocumentoBusqueda}" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate id="fechaArchivadoTerminoDecorate"
						template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['desarchivarexpedientesmasivo_terminodp']}</ui:define>
						<rich:calendar
							value="#{desarchivarExpedientesMasivo.fechaArchivadoTerminoBusqueda}"
							datePattern="dd/MM/yyyy"
							enableManualInput="false" />
					</s:decorate>

					<s:decorate id="materiaDecorate" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['desarchivarexpedientesmasivo_materiadp']}</ui:define>
						<h:inputText id="materiaIn"
							value="#{desarchivarExpedientesMasivo.materiaDocumentoBusqueda}"
							styleClass="input223" />
					</s:decorate>
				</h:panelGrid>

				<h:panelGrid id="panelUsuario" columns="3" style="padding:3px;">
					<h:panelGroup rendered="true">
						<h:outputText
							value="#{messages['desarchivarexpedientesmasivo_organizaciondp']}"
							style="font-weight: bold;" />
						<br />
						<h:selectOneMenu
							value="#{desarchivarExpedientesMasivo.organizacion}"
							id="organizacionlist" styleClass="input350">
							<a4j:support
								action="#{desarchivarExpedientesMasivo.buscarDivisiones}"
								event="onchange" reRender="panelUsuario" />
							<f:selectItems
								value="#{desarchivarExpedientesMasivo.listOrganizacion}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<s:decorate rendered="false" template="/layout/edit.xhtml"
						style="width : 10px;" />
					<h:panelGroup rendered="true">
						<h:outputLabel
							value="#{messages['desarchivarexpedientesmasivo_divisiondp']}"
							for="menuDivisiones" 
							style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="menuDivisiones"
							value="#{desarchivarExpedientesMasivo.idDivision}"
							styleClass="input350">
							<f:selectItems
								value="#{desarchivarExpedientesMasivo.listDivisiones}" />
							<a4j:support event="onchange" reRender="panelUsuario"
								action="#{desarchivarExpedientesMasivo.buscarDeptos()}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup>
						<h:outputLabel
							value="#{messages['desarchivarexpedientesmasivo_departamentodp']}"
							for="menuDeptos" 
							style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="menuDeptos"
							value="#{desarchivarExpedientesMasivo.idDepto}"
							styleClass="input350">
							<f:selectItems value="#{desarchivarExpedientesMasivo.listDeptos}" />
							<a4j:support event="onchange" reRender="panelUsuario"
								action="#{desarchivarExpedientesMasivo.buscarUnidades()}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;"
						rendered="false" />
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['desarchivarexpedientesmasivo_unidaddp']}"
							for="menuUnidades" 
							style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="menuUnidades"
							value="#{desarchivarExpedientesMasivo.idUnidad}"
							styleClass="input350">
							<f:selectItems
								value="#{desarchivarExpedientesMasivo.listUnidades}" />
							<a4j:support event="onchange" reRender="panelUsuario"
								action="#{desarchivarExpedientesMasivo.buscarCargos()}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup>
						<h:outputLabel
							value="#{messages['desarchivarexpedientesmasivo_cargodp']}"
							for="menuCargos" 
							style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="menuCargos"
							value="#{desarchivarExpedientesMasivo.idCargo}"
							styleClass="input350">
							<f:selectItems value="#{desarchivarExpedientesMasivo.listCargos}" />
							<a4j:support event="onchange" reRender="panelUsuario"
								action="#{desarchivarExpedientesMasivo.buscarPersonas()}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;"
						rendered="false" />
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['desarchivarexpedientesmasivo_personadp']}"
							for="menuPersonas" 
							style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="menuPersonas"
							value="#{desarchivarExpedientesMasivo.idPersona}"
							styleClass="input350">
							<f:selectItems
								value="#{desarchivarExpedientesMasivo.listPersonas}" />
						</h:selectOneMenu>
					</h:panelGroup>
				</h:panelGrid>
				<h:panelGrid columns="2" style="padding:2px;">
					<a4j:commandButton
						id="botonBuscarAdmin"
						value="#{messages['desarchivarexpedientesmasivo_buscar']}"
						action="#{desarchivarExpedientesMasivo.buscarExpedientes(true)}"
						reRender="formBusqueda, tablaResultadosYDesarchivar"
						status="outerWaitStatus" />
				</h:panelGrid>
			</h:form>

		</rich:panel>
		<br />
		<rich:panel id="panelResultadosYDesarchivar">
			<f:facet name="header">
				<span>#{messages['desarchivarexpedientesmasivo_resultados_y_desarchivar']}</span>
			</f:facet>

			<a4j:form id="formResultadosYDesarchivar">
				<rich:dataTable id="tablaResultadosYDesarchivar"
					styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'" rows="20"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1"
					rendered="#{desarchivarExpedientesMasivo.expedientesArchivados != null}"
					value="#{desarchivarExpedientesMasivo.expedientesArchivados}"
					var="expediente">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column colspan="6"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column colspan="7"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column breakBefore="true">
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_ver']}" />
							</rich:column>
							<rich:column style="width : 70px;">
								<h:outputText value="N&deg;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_fecha_archivado']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_usuario_archivador']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_cargo_archivador']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_uo_archivador']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_tipo']}" />
							</rich:column>
							<rich:column style="width : 70px;">
								<h:outputText value="N&deg;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_fecha']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_fecha_ingreso']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_materia']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_formato']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_seleccion']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="13" style="height:22px;valign:middle;">
								<rich:datascroller id="pagerBusquedaDown"
									styleClass="resultados" for="tablaResultadosYDesarchivar"
									rendered="#{desarchivarExpedientesMasivo.expedientesArchivados != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="expediente"
						rendered="#{desarchivarExpedientesMasivo.expedientesArchivados != null}"
						rowClasses="impar">
						<rich:column>
							<a4j:commandButton id="botonVerExpediente"
								alt="#{messages['desarchivarexpedientesmasivo_alt_ver_expediente']}"
								image="/imagenes/ver_detalle_01.gif" style="border: none;"
								action="#{verExpedienteDesdeReporte.begin()}">
								<f:param name="idExpediente"
									value="#{expediente.id}" />
								<f:param name="bandejaEntradaCopia" value="false" />
							</a4j:commandButton>
						</rich:column>
						<rich:column>
							<h:outputText value="#{expediente.numeroExpediente}" />
						</rich:column>
						<rich:column styleClass="fechaArchivado">
							<h:outputText value="#{expediente.fechaArchivado}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<h:outputText
								value="#{expediente.destinatarioExpediente.nombreApellido}" />
						</rich:column>
						<rich:column>
							<h:outputText
								value="#{expediente.destinatarioExpediente.cargo.descripcion}" />
						</rich:column>
						<rich:column>
							<h:outputText
								value="#{expediente.destinatarioExpediente.cargo.unidadOrganizacional.descripcion}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{expediente.tipoDocumento}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{expediente.numeroDocumento}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{expediente.fechaDocumentoOrigen}">
								<f:convertDateTime pattern="dd/MM/yyyy"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<h:outputText value="#{expediente.fechaCreacionDocumento}">
								<f:convertDateTime pattern="dd/MM/yyyy"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<h:outputText value="#{expediente.materia}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{expediente.formatoDocumento}" />
						</rich:column>
						<rich:column>
							<h:selectBooleanCheckbox
								value="#{desarchivarExpedientesMasivo.selectedDesarchivados[expediente.id]}">
								<a4j:support event="onclick"
									action="#{desarchivarExpedientesMasivo.setExpedientesADesarchivar(expediente.id)}"
									immediate="true" />
							</h:selectBooleanCheckbox>
						</rich:column>
					</rich:subTable>
				</rich:dataTable>
			</a4j:form>
		</rich:panel>
		<br />
		<h:form id="formAsignar">
			<rich:panel id="panelAsignar">
				<f:facet name="header">
					<span>#{messages['desarchivarexpedientesmasivo_asignar_expediente_a_desarchivar']}</span>
				</f:facet>
				<h:panelGrid id="gridBuscarPersona" columns="3" style="padding:3px;">
					<h:panelGroup rendered="true">
						<h:outputText
							value="#{messages['desarchivarexpedientesmasivo_organizaciondp']}"
							style="font-weight: bold;" />
						<br />
						<h:selectOneMenu
							value="#{desarchivarExpedientesMasivo.organizacion}"
							id="organizacionlist" styleClass="input350">
							<a4j:support
								action="#{desarchivarExpedientesMasivo.buscarDivisiones}"
								event="onchange" reRender="gridBuscarPersona" />
							<f:selectItems
								value="#{desarchivarExpedientesMasivo.listOrganizacion}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<s:decorate rendered="false" template="/layout/edit.xhtml"
						style="width : 10px;" />
					<h:panelGroup rendered="true">
						<h:outputLabel
							value="#{messages['desarchivarexpedientesmasivo_divisiondp']}"
							for="listDivisiones" 
							style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="listDivisiones"
							value="#{desarchivarExpedientesMasivo.idDivision}"
							styleClass="input350">
							<f:selectItems
								value="#{desarchivarExpedientesMasivo.listDivisiones}" />
							<a4j:support event="onchange" reRender="gridBuscarPersona"
								action="#{desarchivarExpedientesMasivo.buscarDeptos()}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup>
						<h:outputLabel
							value="#{messages['desarchivarexpedientesmasivo_departamentodp']}"
							for="listDeptos" 
							style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="listDeptos"
							value="#{desarchivarExpedientesMasivo.idDepto}"
							styleClass="input350">
							<f:selectItems value="#{desarchivarExpedientesMasivo.listDeptos}" />
							<a4j:support event="onchange" reRender="gridBuscarPersona"
								action="#{desarchivarExpedientesMasivo.buscarUnidades()}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;"
						rendered="false" />
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['desarchivarexpedientesmasivo_unidaddp']}"
							for="listUnidades" 
							style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="listUnidades"
							value="#{desarchivarExpedientesMasivo.idUnidad}"
							styleClass="input350">
							<f:selectItems
								value="#{desarchivarExpedientesMasivo.listUnidades}" />
							<a4j:support event="onchange" reRender="gridBuscarPersona"
								action="#{desarchivarExpedientesMasivo.buscarCargos()}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup>
						<h:outputLabel
							value="#{messages['desarchivarexpedientesmasivo_cargodp']}"
							for="listCargos" 
							style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="listCargos"
							value="#{desarchivarExpedientesMasivo.idCargo}"
							styleClass="input350">
							<f:selectItems value="#{desarchivarExpedientesMasivo.listCargos}" />
							<a4j:support event="onchange" reRender="gridBuscarPersona"
								action="#{desarchivarExpedientesMasivo.buscarPersonas()}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;"
						rendered="false" />
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['desarchivarexpedientesmasivo_personadp']}"
							for="listPersonas" 
							style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="listPersonas"
							value="#{desarchivarExpedientesMasivo.idPersona}"
							styleClass="input350">
							<f:selectItems
								value="#{desarchivarExpedientesMasivo.listPersonas}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<h:panelGroup>
						<h:selectOneRadio
							value="#{desarchivarExpedientesMasivo.copiaDirectoFlag}">
							<f:selectItem id="copia"
								itemLabel="#{messages['desarchivarexpedientesmasivo_copia']}"
								itemValue="1" />
							<f:selectItem id="directo"
								itemLabel="#{messages['desarchivarexpedientesmasivo_directo']}"
								itemValue="0" />
						</h:selectOneRadio>
					</h:panelGroup>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate template="/layout/edit.xhtml" />
				</h:panelGrid>
				<h:panelGrid columns="1" style="padding:2px;">
					<a4j:commandButton id="botonAgregarPersona"
						value="#{messages['desarchivarexpedientesmasivo_agregar']}"
						action="#{desarchivarExpedientesMasivo.agregarPersona()}"
						reRender="tablaPersonas, formAsignar" />
				</h:panelGrid>
			</rich:panel>
			<br/>
			<rich:panel>
				<f:facet name="header">
					<span>#{messages['desarchivarexpedientesmasivo_lista_de_usuarios']}</span>
				</f:facet>
				<rich:dataTable id="tablaPersonas" styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					var="persona"
					value="#{desarchivarExpedientesMasivo.listDestinatarios}"
					cellpadding="1" cellspacing="1">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column style="text-align:left;">
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_nombres']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_cargo']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_unidad']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_relacion']}" />
							</rich:column>
							<rich:column style="width : 70px;">
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_eliminar']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<f:facet name="footer"
						rendered="#{not empty desarchivarExpedientesMasivo.listDestinatarios}">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="5" style="height:22px;valign:middle;">
								<rich:datascroller id="pagerBusquedaDown"
									styleClass="resultados" for="tablaPersonas"
									rendered="#{not empty desarchivarExpedientesMasivo.listDestinatarios != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="persona" rowClasses="impar"
						rendered="#{not empty desarchivarExpedientesMasivo.listDestinatarios}">
						<rich:column style="text-align:left;">
							<h:outputText value="#{persona.nombreApellido}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{persona.cargo.descripcion}" />
						</rich:column>
						<rich:column>
							<h:outputText
								value="#{persona.cargo.unidadOrganizacional.descripcion}"
								rendered="#{not persona.cargo.unidadOrganizacional.virtual}" />
							<h:outputText
								value="#{persona.cargo.unidadOrganizacional.departamento.descripcion}"
								rendered="#{not persona.cargo.unidadOrganizacional.departamento.virtual and persona.cargo.unidadOrganizacional.virtual}" />
							<h:outputText
								value="#{destinatario.cargo.unidadOrganizacional.departamento.division.descripcion}"
								rendered="#{persona.cargo.unidadOrganizacional.virtual and persona.cargo.unidadOrganizacional.departamento.virtual}" />
						</rich:column>
						<rich:column>
							<h:outputText
								value="#{messages['desarchivarexpedientesmasivo_copia']}"
								rendered="#{persona.destinatarioConCopia}" />
							<h:outputText
								value="#{messages['desarchivarexpedientesmasivo_directo']}"
								rendered="#{not persona.destinatarioConCopia}" />
						</rich:column>
						<rich:column>
							<a4j:commandButton id="botonEliminarPersona"
								alt="#{messages['desarchivarexpedientesmasivo_alt_eliminar_persona']}"
								image="/imagenes/ico_bot_eliminar.gif" 
								style="border: none;"
								title="Eliminar"
								action="#{desarchivarExpedientesMasivo.eliminarPersona(persona)}"
								reRender="tablaPersonas, formAsignar" />
						</rich:column>
					</rich:subTable>
				</rich:dataTable>
			</rich:panel>
			<h:panelGrid columns="1" style="padding:5px;">
				<a4j:commandButton id="botonDesarchivarYAsignar"
					value="#{messages['desarchivarexpedientesmasivo_desarchivarasignar']}"
					action="#{desarchivarExpedientesMasivo.desarchivarYAsignar()}"
					style="width:100px;" status="outerWaitStatus"/>
			</h:panelGrid>
		</h:form>
		<a4j:status id="outerWaitStatus" forceId="true"
			onstart="Richfaces.showModalPanel('panelEspera')"
			onstop="Richfaces.hideModalPanel('panelEspera')" />
		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_busqueda']}" />
		</rich:modalPanel>
	</ui:define>
</ui:composition>
