<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY deg "">
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<style>
.fechaArchivado {
	background-color: #FFFFCC;
}
</style>

		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel id="panelBusqueda">
			<f:facet name="header">
				<span>#{messages['desarchivarexpedientesmasivo_desarchivar_expedientes']}</span>
			</f:facet>

			<h:form id="formBusqueda">
				<h:panelGrid columns="3" id="gridParamsBusqueda">
					<s:decorate id="tipoDocumentoDecorate"
						template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['desarchivarexpedientesmasivo_tipo_documentodp']}</ui:define>
						<h:selectOneMenu id="listTiposDocumento"
							value="#{desarchivarExpedientesMasivo.tipoDocumentoBusqueda}"
							styleClass="input230">
							<f:selectItems
								value="#{ManejarDocumento.obtenerTiposDeDocumentos()}" />
						</h:selectOneMenu>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate id="deDocumentoDecorate"
						template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['desarchivarexpedientesmasivo_dedp']}</ui:define>
						<h:inputText id="deDocumentoIn"
							value="#{desarchivarExpedientesMasivo.emisorDocumentoBusqueda}"
							styleClass="input223" />
					</s:decorate>

					<s:decorate id="numExpedienteDecorate"
						template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['desarchivarexpedientesmasivo_n_expedientedp']}</ui:define>
						<h:inputText id="numExpedienteIn"
							value="#{desarchivarExpedientesMasivo.numeroExpedienteBusqueda}" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate id="fechaArchivadoInicioDecorate"
						template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['desarchivarexpedientesmasivo_iniciodp']}</ui:define>
						<rich:calendar
							value="#{desarchivarExpedientesMasivo.fechaArchivadoInicioBusqueda}"
							datePattern="dd/MM/yyyy"
							enableManualInput="false" />
					</s:decorate>

					<s:decorate id="numDocumentoDecorate"
						template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['desarchivarexpedientesmasivo_n_documentodp']}</ui:define>
						<h:inputText id="numDocumentoIn"
							value="#{desarchivarExpedientesMasivo.numeroDocumentoBusqueda}" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate id="fechaArchivadoTerminoDecorate"
						template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['desarchivarexpedientesmasivo_terminodp']}</ui:define>
						<rich:calendar
							value="#{desarchivarExpedientesMasivo.fechaArchivadoTerminoBusqueda}"
							datePattern="dd/MM/yyyy"
							enableManualInput="false" />
					</s:decorate>

					<s:decorate id="materiaDecorate" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['desarchivarexpedientesmasivo_materiadp']}</ui:define>
						<h:inputText id="materiaIn"
							value="#{desarchivarExpedientesMasivo.materiaDocumentoBusqueda}"
							styleClass="input223" />
					</s:decorate>
				</h:panelGrid>
				
				<h:panelGrid columns="1" style="padding:2px;">
					<a4j:commandButton 
						id="botonBuscar"
						value="#{messages['desarchivarexpedientesmasivo_buscar']}"
						action="#{desarchivarExpedientesMasivo.buscarExpedientes(false)}"
						reRender="formBusqueda, tablaResultadosYDesarchivar"
						status="outerWaitStatus" />
				</h:panelGrid>
			</h:form>

		</rich:panel>
		<br />
		<rich:panel id="panelResultadosYDesarchivar">
			<f:facet name="header">
				<span>#{messages['desarchivarexpedientesmasivo_resultados_y_desarchivar']}</span>
			</f:facet>

			<a4j:form id="formResultadosYDesarchivar">
				<rich:dataTable id="tablaResultadosYDesarchivar"
					styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'" rows="20"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1"
					rendered="#{desarchivarExpedientesMasivo.expedientesArchivados != null}"
					value="#{desarchivarExpedientesMasivo.expedientesArchivados}"
					var="expediente">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column colspan="3"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column colspan="7"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column breakBefore="true">
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_ver']}" />
							</rich:column>
							<rich:column style="width : 70px;">
								<h:outputText value="N&deg;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_fecha_archivado']}" />
							</rich:column>
							<rich:column rendered="false">
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_usuario_archivador']}" />
							</rich:column>
							<rich:column rendered="false">
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_cargo_archivador']}" />
							</rich:column>
							<rich:column rendered="false">
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_uo_archivador']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_tipo']}" />
							</rich:column>
							<rich:column style="width : 70px;">
								<h:outputText value="N&deg;" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_fecha']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_fecha_ingreso']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_materia']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_formato']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['desarchivarexpedientesmasivo_seleccion']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="10" style="height:22px;valign:middle;">
								<rich:datascroller id="pagerBusquedaDown"
									styleClass="resultados" for="tablaResultadosYDesarchivar"
									rendered="#{desarchivarExpedientesMasivo.expedientesArchivados != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="expediente"
						rendered="#{desarchivarExpedientesMasivo.expedientesArchivados != null}"
						rowClasses="impar">
						<rich:column>
							<a4j:commandButton id="botonVerExpediente"
								alt="#{messages['desarchivarexpedientesmasivo_alt_ver_expediente']}"
								image="/imagenes/ver_detalle_01.gif" style="border: none;"
								action="#{verExpedienteDesdeReporte.begin()}">
								<f:param name="idExpediente"
									value="#{expediente.id}" />
								<f:param name="bandejaEntradaCopia" value="false" />
							</a4j:commandButton>
						</rich:column>
						<rich:column>
							<h:outputText value="#{expediente.numeroExpediente}" />
						</rich:column>
						<rich:column styleClass="fechaArchivado">
							<h:outputText value="#{expediente.fechaArchivado}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column rendered="false">
							<h:outputText
								value="#{expediente.destinatarioExpediente.nombreApellido}" />
						</rich:column>
						<rich:column rendered="false">
							<h:outputText
								value="#{expediente.destinatarioExpediente.cargo.descripcion}" />
						</rich:column>
						<rich:column rendered="false">
							<h:outputText
								value="#{expediente.destinatarioExpediente.cargo.unidadOrganizacional.descripcion}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{expediente.tipoDocumento}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{expediente.numeroDocumento}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{expediente.fechaDocumentoOrigen}">
								<f:convertDateTime pattern="dd/MM/yyyy"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<h:outputText value="#{expediente.fechaCreacionDocumento}">
								<f:convertDateTime pattern="dd/MM/yyyy"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<h:outputText value="#{expediente.materia}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{expediente.formatoDocumento}" />
						</rich:column>
						<rich:column>
							<h:selectBooleanCheckbox
								value="#{desarchivarExpedientesMasivo.selectedDesarchivados[expediente.id]}">
								<a4j:support event="onclick"
									action="#{desarchivarExpedientesMasivo.setExpedientesADesarchivar(expediente.id)}"
									immediate="true" />
							</h:selectBooleanCheckbox>
						</rich:column>
					</rich:subTable>
				</rich:dataTable>
				<br/>
				<h:panelGrid columns="1" style="padding:5px;">
					<a4j:commandButton id="botonDesarchivar"
						value="#{messages['desarchivarexpedientesmasivo_desarchivar']}"
						action="#{desarchivarExpedientesMasivo.desarchivar()}"
						style="width:100px;" />
				</h:panelGrid>
			</a4j:form>
		</rich:panel>
		
		<a4j:status id="outerWaitStatus" forceId="true"
			onstart="Richfaces.showModalPanel('panelEspera')"
			onstop="Richfaces.hideModalPanel('panelEspera')" />
			
		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>
	</ui:define>
</ui:composition>
