<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml">

	<ui:define name="body">

		<h:messages globalOnly="true" styleClass="message" />

		<h:form id="destinatarioExpedienteForm">

			<rich:panel>
				<f:facet name="header">#{messages['destinatarioexpediente_destinatarioexpediente']}</f:facet>

				<s:decorate id="nameDecoration" template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['destinatarioexpediente_name']}</ui:define>
					<h:inputText id="name" required="true"
						value="#{destinatarioExpedienteHome.instance.name}" />
				</s:decorate>

				<div style="clear: both" />

			</rich:panel>

			<div class="actionButtons">
				<h:commandButton id="save"
					value="#{messages['destinatarioexpediente_save']}"
					action="#{destinatarioExpedienteHome.persist}"
					rendered="#{!destinatarioExpedienteHome.managed}" />
				<h:commandButton id="update"
					value="#{messages['destinatarioexpediente_save']}"
					action="#{destinatarioExpedienteHome.update}"
					rendered="#{destinatarioExpedienteHome.managed}" />
				<h:commandButton id="delete"
					value="#{messages['destinatarioexpediente_delete']}"
					action="#{destinatarioExpedienteHome.remove}"
					rendered="#{destinatarioExpedienteHome.managed}" />
				<s:button propagation="end" id="done"
					value="#{messages['destinatarioexpediente_done']}"
					view="/destinatarioExpedienteList.xhtml" />
			</div>

		</h:form>

	</ui:define>

</ui:composition>

