<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml">

	<ui:define name="body">
		<h:messages globalOnly="true" styleClass="message" />
		<rich:panel style="height : 100px; text-align: center; ">
			<h:panelGrid columns="1" style="text-align: center;">
				<h:outputLabel
					value="#{messages['home_sistema_de_gestion_documental']}" />
				<h:outputLabel 
					value="#{messages['home_exedoc']}" />
				<h:outputLabel 
					value="#{messages['home_exe_ingenieria']}" />
				<s:link view="/pages/login.xhtml" 
					value="#{messages['home_entrar']}"
					rendered="#{not identity.loggedIn}" />
			</h:panelGrid>
			<h:panelGrid rendered="#{false and !identity.loggedIn}">
	            <h:form>
	            	<h:selectOneMenu value="#{localeSelector.localeString}">
	    				<f:selectItems value="#{localeSelector.supportedLocales}"/>
					</h:selectOneMenu>
					<h:commandButton action="#{localeSelector.select}" value="#{messages['home_change_language']}"/>
				</h:form>
            </h:panelGrid>
		</rich:panel>
	</ui:define>

</ui:composition>
