<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">

		<h:messages globalOnly="true" styleClass="message" />
		<h:form>

			<rich:panel id="panelVerFactura1">
				<f:facet name="header">#{messages['ingresadataafactura_ver_factura']}</f:facet>
				<h:panelGrid columns="2">
					<h:panelGrid columns="2">
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['ingresadataafactura_n_factura']}</ui:define>
							<h:inputText required="false"
								disabled="#{ingresarDataAFactura.isEditable()}"
								value="#{ingresarDataAFactura.factura.numeroDocumento}" />
						</s:decorate>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['ingresadataafactura_fecha']}</ui:define>
							<rich:calendar popup="true" datePattern="dd/MM/yyyy"
								pattern="dd/M/yyyy"
								value="#{ingresarDataAFactura.factura.fechaDocumentoOrigen}"
								disabled="#{ingresarDataAFactura.isEditable()}" required="true"
								enableManualInput="true" />
						</s:decorate>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['ingresadataafactura_rut_proveedor']}</ui:define>
							<h:inputText required="false"
								disabled="#{ingresarDataAFactura.isEditable()}"
								value="#{ingresarDataAFactura.factura.rutProveedor}" />
						</s:decorate>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['ingresadataafactura_nombre_proveedor']}</ui:define>
							<h:inputText required="false"
								disabled="#{ingresarDataAFactura.isEditable()}"
								value="#{ingresarDataAFactura.factura.nombreProveedor}" />
						</s:decorate>
					</h:panelGrid>
					<br></br>
					<h:panelGrid columns="1">
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['ingresadataafactura_detalle_de_factura']}</ui:define>
							<h:inputTextarea rows="10" cols="60" style="font-size:120%;"
								value="#{ingresarDataAFactura.factura.materia}"
								disabled="#{ingresarDataAFactura.isEditable()}" required="false" />
						</s:decorate>
					</h:panelGrid>
					<br></br>
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['ingresadataafactura_monto_']}</ui:define>
						<h:inputText required="false"
							disabled="#{ingresarDataAFactura.isEditable()}"
							value="#{ingresarDataAFactura.factura.montoFactura}" />
					</s:decorate>
					<br></br>
					<h:panelGrid columns="3">
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['ingresadataafactura_orden_de_compra']}</ui:define>
							<h:inputText required="false" size="15"
								disabled="#{ingresarDataAFactura.isEditable()}"
								value="#{ingresarDataAFactura.factura.numeroOrdenDeCompra}" />
						</s:decorate>
						<h:selectOneRadio value="#{ingresarDataAFactura.tipo}" id="tipo">
							<f:selectItem itemValue="1"
								itemLabel="#{messages['ingresadataafactura_licitacion']}"
								id="lici" itemDisabled="#{ingresarDataAFactura.isEditable()}" />
							<f:selectItem itemValue="2"
								itemLabel="#{messages['ingresadataafactura_convenio_marco']}"
								id="conv" itemDisabled="#{ingresarDataAFactura.isEditable()}" />
						</h:selectOneRadio>
						<s:decorate template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['ingresadataafactura_n_resolucion']}</ui:define>
							<h:inputText required="false" size="15"
								value="#{ingresarDataAFactura.factura.numeroResolucion}"
								disabled="#{ingresarDataAFactura.isEditable()}" />
						</s:decorate>
					</h:panelGrid>
				</h:panelGrid>
			</rich:panel>
			<br></br>
			<rich:panel>
				<f:facet name="header">#{messages['ingresadataafactura_archivo']}</f:facet>
				<h:panelGrid columns="2">
					<rich:column>
						<h:outputText
							value="#{messages['ingresadataafactura_descargar_factura']}" />
						<br></br>
						<a4j:htmlCommandLink immediate="true"
							value="#{ingresarDataAFactura.factura.archivo.nombreArchivo}"
							action="#{ingresarDataAFactura.verArchivo(ingresarDataAFactura.factura.archivo.id)}" />
					</rich:column>
				</h:panelGrid>
			</rich:panel>
			<br></br>
			<rich:panel id="panelVerFactura">
				<f:facet name="header">#{messages['ingresadataafactura_datos_de_factura']}</f:facet>
				<!--iframe align="middle"
					src="cargandoPDF.seam?#{manager.conversationIdParameter}=#{conversation.id}"
					width="700" height="700"></iframe-->
				<h:panelGrid columns="2" width="100%" id="panelGridDatosFactura">
					<s:decorate id="decorateItDocumentoDeTesoreria"
						template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['ingresadataafactura_documento_de_tesoreria']}</ui:define>
						<h:inputText id="itDocumentoDeTesoreria" required="true"
							disabled="#{ingresarDataAFactura.isEditable()}"
							value="#{ingresarDataAFactura.factura.documentoTesoreria}" />
					</s:decorate>
					<s:decorate id="decorateItDescripcion"
						template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['ingresadataafactura_descripcion']}</ui:define>
						<h:inputText id="itDescripcion" required="true"
							disabled="#{ingresarDataAFactura.isEditable()}"
							value="#{ingresarDataAFactura.factura.descripcion}" />
					</s:decorate>
				</h:panelGrid>
				<h:messages globalOnly="true" styleClass="message" />
				<h:panelGrid columns="2" width="100%" id="panelDatosFacturas">

					<rich:column width="50%"
						style="border: 0px;background: url(imagenes/curva_titulo_02.gif) no-repeat left middle;background-color: #D9ECFF;height: 25px;"
						styleClass="txttituloseccion">
						<h:graphicImage style="align: right;width: 8px; height: 7px;"
							value="imagenes/flecha_titulo_01.gif" />
						<h:outputText
							value="#{messages['ingresadataafactura_cuenta_bancaria']}" />
					</rich:column>
					<rich:column width="50%"
						style="border: 0px;background: url(imagenes/curva_titulo_02.gif) no-repeat left middle;background-color: #D9ECFF;height: 25px;"
						styleClass="txttituloseccion">
						<h:graphicImage style="align: right;width: 8px; height: 7px;"
							value="imagenes/flecha_titulo_01.gif" />
						<h:outputText value="#{messages['ingresadataafactura_cheque']}" />
					</rich:column>

					<rich:column>
						<h:panelGrid columns="1">
							<a4j:region>
								<h:panelGrid columns="1">
									<h:panelGroup>
										<h:outputText value="#{messages['ingresadataafactura_banco']}"
											style="font-weight: bold;" />
										<h:outputText value="*" styleClass="required" />
										<h:selectOneMenu immediate="true"
											disabled="#{ingresarDataAFactura.isEditable()}"
											value="#{ingresarDataAFactura.bancoctaCte}">
											<f:selectItem itemValue="-1"
												itemLabel="#{messages['ingresadataafactura_seleccionar']}" />
											<f:selectItems value="#{ingresarDataAFactura.bancosctaCte}" />
											<a4j:support
												action="#{ingresarDataAFactura.obtenercuentasCorrientes()}"
												event="onchange" reRender="decorateItChequeNumCtaCte" />
										</h:selectOneMenu>
									</h:panelGroup>
									<h:panelGroup id="decorateItChequeNumCtaCte">
										<h:outputText
											value="#{messages['ingresadataafactura_cuenta_corriente']}"
											style="font-weight: bold;" />
										<h:outputText value="*" styleClass="required" />
										<h:selectOneMenu immediate="true"
											disabled="#{ingresarDataAFactura.isEditable()}"
											value="#{ingresarDataAFactura.ctaCte}">
											<f:selectItem itemValue="-1"
												itemLabel="#{messages['ingresadataafactura_seleccionar']}" />
											<f:selectItems value="#{ingresarDataAFactura.ctaCteSI}" />
										</h:selectOneMenu>

									</h:panelGroup>
								</h:panelGrid>
							</a4j:region>
							<s:decorate template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['ingresadataafactura_auxiliar']}</ui:define>
							</s:decorate>

							<s:decorate id="decorateItCtaBancRut"
								template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['ingresadataafactura_rut']}</ui:define>
								<h:inputText id="itCtaBancRut" required="true"
									value="#{ingresarDataAFactura.factura.ctaCtbleAuxiliarRut}"
									disabled="#{ingresarDataAFactura.isEditable()}" />
							</s:decorate>

							<s:decorate id="decorateItCtaBancBenef"
								template="../layout/edit.xhtml">
								<ui:define name="label">#{messages['ingresadataafactura_beneficiario']}</ui:define>
								<h:inputText id="itCtaBancBeneficiario" required="true"
									value="#{ingresarDataAFactura.factura.ctaCtbleAuxiliarBeneficiario}"
									disabled="#{ingresarDataAFactura.isEditable()}" />
							</s:decorate>
						</h:panelGrid>

					</rich:column>
					<rich:column>
						<s:decorate id="decorateItCtaCtbleNumCheque"
							template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['ingresadataafactura_n_cheque']}</ui:define>
							<h:inputText id="itCtaCtbleNumCheque" required="true"
								value="#{ingresarDataAFactura.factura.chequeNumeroCheque}" />
						</s:decorate>

						<s:decorate id="decorateItCtaCtbleNumMtoCheque"
							template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['ingresadataafactura_monto_del_cheque_']}</ui:define>
							<h:inputText id="itCtaCtbleNumMtoCheque" required="true"
								value="#{ingresarDataAFactura.factura.chequeMontoCheque}"
								disabled="#{ingresarDataAFactura.isEditable()}" />
						</s:decorate>

						<s:decorate id="decorateItCtaCtbleFecEmision"
							template="../layout/edit.xhtml">
							<ui:define name="label">#{messages['ingresadataafactura_fecha_de_emision']}</ui:define>
							<rich:calendar id="calendarFecEmision"
								value="#{ingresarDataAFactura.factura.chequeFechaEmision}"
								locale="#{reporte.locale}" popup="true" datePattern="dd/MM/yyyy"
								showApplyButton="false" enableManualInput="true" required="true"
								disabled="#{ingresarDataAFactura.isEditable()}" />
						</s:decorate>
					</rich:column>


				</h:panelGrid>
			</rich:panel>
			<a4j:commandButton id="aceptar"
				value="#{messages['ingresadataafactura_aceptar']}"
				action="#{ingresarDataAFactura.guardar()}"
				disabled="#{ingresarDataAFactura.isEditable()}"
				reRender="panelGridDatosFactura, panelDatosFacturas, panelVerFactura" />
			<a4j:commandButton id="atras"
				value="#{messages['ingresadataafactura_atras']}"
				action="#{ingresarDataAFactura.volver()}" immediate="true" />
		</h:form>
	</ui:define>


	<rich:modalPanel id="panelEspera" height="50">
		<f:facet name="header">
			<h:outputText
				value="#{messages['ingresadataafactura_por_favor_espere']}" />
		</f:facet>
		<h:outputText
			value="#{messages['ingresadataafactura_espere_mientras_se_realiza_su_busqueda']}" />
	</rich:modalPanel>
</ui:composition>

