<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml">
	<ui:define name="body">
		<h:messages globalOnly="true" styleClass="message" />

		<h:form id="login">

			<rich:panel>
				<f:facet name="header">#{messages['login_entrada_al_sistema']}</f:facet>
				<p>#{messages['login_identifiquese_con_sus_credenciales']}</p>

				<s:decorate id="loginDecoration" template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['login_usuario']}</ui:define>
					<h:inputText id="username" required="true"
						value="#{credentials.username}" />
				</s:decorate>

				<s:decorate id="passwordDecoration" template="../layout/edit.xhtml">
					<ui:define name="label">#{messages['login_clave']}</ui:define>
					<h:inputSecret id="userpass" required="true"
						value="#{credentials.password}" />
				</s:decorate>
				<div style="clear: both" />

			</rich:panel>
			<div class="actionButtons">
				<h:commandButton 
					value="#{messages['login_entrar']}"
					action="#{identity.login}" />
			</div>


		</h:form>

	</ui:define>
</ui:composition>
