<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="../layout/template.xhtml">

	<ui:define name="body">

		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel id="idPanelModificarExpediente">
			<f:facet name="header">
				<span>#{messages['modificarexpediente_expediente']}</span>
			</f:facet>
			<h:form id="formExpediente">
				<h:panelGrid columns="5"
					style="margin-left:10px; margin-top:5px; margin-bottom:5px;">
					<h:outputText value="(COPIA)" style="font-weight: bold;"
						rendered="#{modificarExpediente.expediente.copia}" />
					<h:outputText
						value="#{messages['modificarexpediente_n_expedientedp']}"
						style="font-weight: bold;" />
					<h:outputText
						value="#{modificarExpediente.expediente.numeroExpediente}" />
					<h:outputText
						value="#{messages['modificarexpediente_fecha_ingresodp']}"
						style="font-weight: bold;" />
					<h:outputLabel
						value="#{modificarExpediente.expediente.fechaIngreso}">
						<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
							timeZone="#{customizacion.getPropiedad('timezone')}" />
					</h:outputLabel>
				</h:panelGrid>
			</h:form>
			<rich:panel id="panelDocumentoOriginal" styleClass="subpanel">
				<f:facet name="header">#{messages['modificarexpediente_informacion_documento_original']}</f:facet>
				<h:panelGrid columns="5" width="100%">
					<h:panelGroup>
						<h:outputText
							value="#{messages['modificarexpediente_n_documentodp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputText
							value="#{modificarExpediente.documentoOriginal.numeroDocumento}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText
							value="#{messages['modificarexpediente_fecha_documentodp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputLabel
							value="#{modificarExpediente.documentoOriginal.fechaDocumentoOrigen}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
						</h:outputLabel>
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText
							value="#{messages['modificarexpediente_fecha_ingreso_sistemadp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputLabel
							value="#{modificarExpediente.documentoOriginal.fechaCreacion}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputLabel>
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText
							value="#{messages['modificarexpediente_tipo_de_documentodp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputText
							value="#{modificarExpediente.documentoOriginal.tipoDocumento.descripcion}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText 
							value="#{messages['modificarexpediente_formatodp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputText
							value="#{modificarExpediente.documentoOriginal.formatoDocumento.descripcion}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText 
							value="#{messages['modificarexpediente_materiadp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputText
							title="#{modificarExpediente.documentoOriginal.reservado ? 'MATERIA RESERVADA' :modificarExpediente.documentoOriginal.materia}"
							value="#{modificarExpediente.documentoOriginal.reservado ? 'MATERIA RESERVADA' :modificarExpediente.documentoOriginal.shortMateria}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText
							value="#{messages['modificarexpediente_antecedentesdp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputText
							title="#{modificarExpediente.documentoOriginal.antecedentes}"
							value="#{modificarExpediente.documentoOriginal.antecedentesCorto}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText value="#{messages['modificarexpediente_emisordp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputText
							title="#{modificarExpediente.documentoOriginal.emisor}"
							value="#{modificarExpediente.documentoOriginal.shortEmisor}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText
							value="#{messages['modificarexpediente_destinatariosdp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputText
							value="#{modificarExpediente.destinatariosDocumentoOriginal.get(0).label}"
							rendered="#{modificarExpediente.destinatariosDocumentoOriginal != null and not empty modificarExpediente.destinatariosDocumentoOriginal and modificarExpediente.destinatariosDocumentoOriginal.size() == 1}" />
						<h:selectManyListbox id="ddList" required="false"
							size="#{modificarExpediente.destinatariosDocumentoOriginal.size() le 1 ? '1' : '2' }"
							style=" width : 500px"
							rendered="#{not empty modificarExpediente.destinatariosDocumentoOriginal and modificarExpediente.destinatariosDocumentoOriginal.size() > 1}">
							<f:selectItems
								value="#{modificarExpediente.destinatariosDocumentoOriginal}" />
						</h:selectManyListbox>
					</h:panelGroup>

					<h:panelGroup>
						<h:form
							style="margin-left: auto; margin-right: 0px; text-align: right">
							<h:panelGrid columns="6" cellspacing="0"
								style="margin-left: auto; margin-right: 0px; text-align: right">
								<h:commandLink id="visualizar"
									alt="#{modificarExpediente.visualizar}"
									immediate="true"
									action="#{visualizador.verDocumento(modificarExpediente.documentoOriginal)}"
									rendered="#{modificarExpediente.renderedVisualizarExpediente()}"
									target="_blank">
									<h:graphicImage value="/imagenes/icono_visualizar_doc.gif"
										border="0px" style="border: none;"
										alt="#{modificarExpediente.visualizar}"
										title="#{modificarExpediente.visualizar}" />
								</h:commandLink>
								<a4j:htmlCommandLink immediate="true" border="0px"
									title="#{modificarExpediente.verArchivoTitulo}"
									action="#{modificarExpediente.verArchivo}"
									rendered="#{modificarExpediente.documentoOriginal.formatoDocumento.descripcion == 'DIGITAL'}"
									disabled="#{modificarExpediente.documentoOriginal.archivo != null and modificarExpediente.documentoOriginal.archivo.cmsId == null}">
									<h:graphicImage border="0px"
										title="#{modificarExpediente.verArchivoTitulo}: #{modificarExpediente.documentoOriginal.archivo.nombreArchivo}"
										alt="#{modificarExpediente.verArchivoTitulo}: #{modificarExpediente.documentoOriginal.archivo.nombreArchivo}"
										url="/imagenes/icono_visualizar_doc_adjunto.gif"
										style="border: none; background:transparent;" />
								</a4j:htmlCommandLink>
								<a4j:status id="panelStatus"
									onstart="Richfaces.showModalPanel('panelEspera')"
									onstop="Richfaces.hideModalPanel('panelEspera')" />
								<a4j:commandButton id="idCodigoBarra" rendered="false"
									alt="#{messages['modificarexpediente_alt_ver_codico_barra']}"
									image="/imagenes/icono_codigo_barra.gif"
									style=" border: 0px;"
									onclick="Richfaces.showModalPanel('panelCodigoBarraApplet')" />
								<a4j:commandButton id="editarExpediente"
									alt="#{messages['modificarexpediente_alt_ver_documento']}"
									title="#{modificarExpediente.verArchivoOriginal}" image="/imagenes/icono_editar_doc.gif"
									style="border: none;background:transparent;"
									action="#{modificarExpediente.modificarDocumento(modificarExpediente.documentoOriginal.idNuevoDocumento,3)}" />
								<a4j:commandLink
									onclick="Richfaces.showModalPanel('panelAdjuntarArchivoOriginal')"
									rendered="#{modificarExpediente.documentoOriginal.formatoDocumento.id == 1 and identity.hasRole('TRANSFORMA_PAPEL_A_DIGITAL')}"
									disabled="#{modificarExpediente.expediente.fechaDespacho != null or modificarExpediente.expediente.fechaDespachoHistorico != null}">
									<h:graphicImage style="border: none;" 
										alt="#{messages['modificarexpediente_alt_convertir_a_digital']}" 
										title="#{messages['modificarexpediente_alt_convertir_a_digital']}" 
										value="/imagenes/icono_convertir_papel_digital.gif" />
								</a4j:commandLink>
								<!-- rendered="#{modificarExpediente.documentoOriginal.formatoDocumento.descripcion == 'PAPEL' and usuario.cargo.descripcion == 'Secretaria'}" -->
							</h:panelGrid>
						</h:form>
					</h:panelGroup>
				</h:panelGrid>
			</rich:panel>

			<rich:simpleTogglePanel id="panelDocumentosRespuesta"
				label="#{messages['modificarexpediente_documentos_adjuntos']}"
				switchType="client" 
				opened="#{not empty modificarExpediente.listDocumentosRespuesta}" 
				styleClass="subpanel">
				<h:form rendered="false">
					<h:outputText
						value="#{messages['modificarexpediente_adjuntar_respuestadp']}" />
					<h:selectOneMenu id="selectAdjuntarRespuesta"
						value="#{modificarExpediente.tipoDocumentoAdjuntar}"
						disabled="#{modificarExpediente.expediente.fechaDespacho != null or modificarExpediente.expediente.emisor.id == usuario.id}">
						<f:selectItems
							value="#{modificarExpediente.listaDocumentosAdjuntar}" />
						<a4j:support action="#{modificarExpediente.adjuntarDocumento(1)}"
							event="onchange" />
					</h:selectOneMenu>
					<h:outputText
						value="#{messages['modificarexpediente_esta_opcion_permite_adjuntar_todo_tipo_de_documentos_que_tienen_directa_relacion_con_la_respuesta']}"
						style="font-size:80%;" />
				</h:form>
				<h:form>
					<rich:dataTable width="100%" id="tableDocumentosRespuesta"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						var="itemDoc"
						value="#{modificarExpediente.listDocumentosRespuesta}"
						rendered="#{not empty modificarExpediente.listDocumentosRespuesta}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column rendered="false">
									<h:outputText
										value="#{messages['modificarexpediente_codigo_barra']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['modificarexpediente_ver']}" />
								</rich:column>
								<rich:column rendered="false">
									<h:outputText
										value="#{messages['modificarexpediente_respuesta']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['modificarexpediente_n_documento']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['modificarexpediente_fecha']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['modificarexpediente_materia']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['modificarexpediente_tipo']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['modificarexpediente_emisor']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['modificarexpediente_destinatario']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['modificarexpediente_formato']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['modificarexpediente_estado']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['modificarexpediente_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="itemDoc">
							<rich:column rendered="false">
								<a4j:commandButton id="idCodigoBarra" rendered="false"
									alt="#{messages['modificarexpediente_alt_ver_codico_barra']}"
									image="/imagenes/icono_codigo_barra.gif"
									style="border: 0px; padding-left:12px;" immediate="true"
									action="#{modificarExpediente.cargarCodigoBarra(itemDoc)}"
									reRender="idFormPanelCodigoBarraDocRespuestaApplet"
									oncomplete="Richfaces.showModalPanel('panelCodigoBarraDocRespuestaApplet')">
								</a4j:commandButton>
							</rich:column>
							<rich:column>
								<a4j:commandButton id="modificaRespuesta"
									alt="#{messages['modificarexpediente_alt_ver_documento']}"
									image="/imagenes/ver_detalle_01.gif" style="border: none;"
									action="#{modificarExpediente.modificarDocumento(itemDoc.idNuevoDocumento,1)}" />
							</rich:column>
							<rich:column rendered="false">
								<h:graphicImage value="/imagenes/ico_select_ok.gif"
									rendered="#{itemDoc.respuestaSolicitud}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDoc.numeroDocumento}"
									rendered="#{itemDoc.numeroDocumento != 'sinNumeroDocumentoFolio'}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{itemDoc.fechaDocumentoOrigen}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
								</h:outputLabel>
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{itemDoc.reservado ? 'MATERIA RESERVADA' :itemDoc.materia}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDoc.tipoDocumento.descripcion}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDoc.emisor}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{itemDoc.destinatarios.get(0).destinatario}"
									rendered="#{not empty itemDoc.destinatarios}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDoc.formatoDocumento.descripcion}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDoc.estado.descripcion}" />
							</rich:column>
							<rich:column>
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									style="border: none;"
									reRender="tableDocumentosRespuesta, panelDocumentosRespuesta"
									action="#{modificarExpediente.eliminarDocumento(itemDoc.idNuevoDocumento)}"
									rendered="#{itemDoc.eliminable}"
									disabled="#{modificarExpediente.expediente.fechaDespacho != null}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</h:form>
			</rich:simpleTogglePanel>

			<h:form id="idFormPanelObservaciones">
				<rich:simpleTogglePanel id="idPanelObservaciones"
					label="#{messages['modificarexpediente_observaciones']}"
					switchType="client" 
					opened="#{not modificarExpediente.logicaDespacho() or not empty modificarExpediente.observaciones}" 
					styleClass="subpanel">
					<h:panelGrid columns="2" rendered="#{not modificarExpediente.logicaDespacho()}">
						<s:decorate id="idDecorateObservacion"
							template="../layout/edit.xhtml">
							<h:inputTextarea id="observaciones" required="false" rows="5"
								style="background-color: #FFFFCC;" cols="90"
								value="#{modificarExpediente.observacion}"
								validator="#{observacionValidator.validate}">
								<a4j:support event="onblur" reRender="idDecorateObservacion"
									bypassUpdates="true" ajaxSingle="true" />
							</h:inputTextarea>
						</s:decorate>
						<s:decorate id="idDecorateArchivo" template="../layout/edit.xhtml">
							<rich:fileUpload id="uploadObs" maxFilesQuantity="1"
								listHeight="50px" listWidth="250px" acceptedTypes="*"
								immediateUpload="true"
								addControlLabel="#{messages['modificarexpediente_agregar']}"
								fileUploadListener="#{modificarExpediente.listenerObs}">
								<a4j:support event="onclear" reRender="idDecorateArchivo" />
							</rich:fileUpload>
						</s:decorate>
						<a4j:commandButton id="agregarObservaciones"
							value="#{messages['modificarexpediente_agregar']}"
							action="#{modificarExpediente.agregarObservacion}"
							reRender="idPanelObservaciones"
							disabled="#{modificarExpediente.expediente.fechaDespacho != null}" />
					</h:panelGrid>
					<rich:dataTable width="100%"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="#{modificarExpediente.observaciones}" var="itemObs"
						rendered="#{not empty modificarExpediente.observaciones}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputLabel value="#{messages['modificarexpediente_fecha']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel value="#{messages['modificarexpediente_autor']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['modificarexpediente_observacion']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['modificarexpediente_nombre_archivo']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['modificarexpediente_ver_archivo']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['modificarexpediente_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="itemObs">
							<rich:column>
								<h:outputLabel value="#{itemObs.fecha}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
										timeZone="#{customizacion.getPropiedad('timezone')}" />
								</h:outputLabel>
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemObs.autor.nombres} " />
								<h:outputText value="#{itemObs.autor.apellidoPaterno}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemObs.observacion}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{itemObs.observacionArchivo.nombreArchivo}" />
							</rich:column>
							<rich:column>
								<a4j:htmlCommandLink immediate="true"
									action="#{modificarExpediente.verArchivoObservacion(itemObs.observacionArchivo)}"
									rendered="#{itemObs.observacionArchivo.id != null}">
									<h:graphicImage border="0px" url="/imagenes/ver_detalle_01.gif"
										style="border: none;" />
								</a4j:htmlCommandLink>
							</rich:column>
							<rich:column>
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									style="border: none;"
									reRender="observaciones, idPanelObservaciones"
									action="#{modificarExpediente.eliminarObservaciones(itemObs.idNuevaObservacion)}"
									rendered="#{itemObs.idNuevaObservacion != null}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</rich:simpleTogglePanel>
			</h:form>

			<rich:panel id="agregarDestinatario" styleClass="subpanel">
				<f:facet name="header">#{messages['modificarexpediente_destinatarios_expediente']}</f:facet>
				<rich:tabPanel switchType="ajax" style=" width: 100%;">



					<rich:tab
						label="#{messages['modificarexpediente_destinatarios_individuales']}">
						<h:form id="formDestinatarioIndividual">
							<h:panelGrid id="panelAgregarDestinatario">
								<h:panelGrid columns="2">
									<h:panelGroup rendered="true">
										<h:outputText
											value="#{messages['modificarexpediente_organizacion']}"
											style="font-weight: bold;" />
										<br />
										<h:selectOneMenu value="#{modificarExpediente.organizacion}"
											styleClass="input350" id="organizacionlist">
											<a4j:support action="#{modificarExpediente.buscarDivisiones}"
												event="onchange" reRender="panelAgregarDestinatario" />
											<f:selectItems
												value="#{modificarExpediente.listOrganizacion}" />
										</h:selectOneMenu>
									</h:panelGroup>
									<h:panelGroup rendered="true">
										<h:outputText
											value="#{messages['modificarexpediente_division']}"
											style="font-weight: bold;" />
										<br />
										<h:selectOneMenu value="#{modificarExpediente.division}"
											styleClass="input350" id="divisionlist">
											<a4j:support
												action="#{modificarExpediente.buscarDepartamentos}"
												event="onchange" reRender="panelAgregarDestinatario" />
											<f:selectItems value="#{modificarExpediente.listDivision}" />
										</h:selectOneMenu>
									</h:panelGroup>
									<h:panelGroup>
										<h:outputText
											value="#{messages['modificarexpediente_departamento']}"
											style="font-weight: bold;" />
										<br />
										<h:selectOneMenu value="#{modificarExpediente.departamento}"
											styleClass="input350" id="departamentolist">
											<a4j:support
												action="#{modificarExpediente.buscarUnidadesOrganizacionales}"
												event="onchange" reRender="panelAgregarDestinatario" />
											<f:selectItems
												value="#{modificarExpediente.listDepartamento}" />
										</h:selectOneMenu>
									</h:panelGroup>
									<h:panelGroup>
										<h:outputText
											value="#{messages['modificarexpediente_unidad']}"
											style="font-weight: bold;" />
										<br />
										<h:selectOneMenu styleClass="input350"
											value="#{modificarExpediente.unidadOrganizacional}"
											id="uolist">
											<a4j:support action="#{modificarExpediente.buscarCargos}"
												event="onchange" reRender="panelAgregarDestinatario" />
											<f:selectItems
												value="#{modificarExpediente.listUnidadesOrganizacionales}" />
										</h:selectOneMenu>
									</h:panelGroup>
									<h:panelGroup>
										<h:outputText 
											value="#{messages['modificarexpediente_cargo']}"
											style="font-weight: bold;" />
										<br />
										<h:selectOneMenu id="cargoList" styleClass="input350"
											value="#{modificarExpediente.cargo}">
											<a4j:support action="#{modificarExpediente.buscarPersonas}"
												event="onchange" reRender="panelAgregarDestinatario" />
											<f:selectItems value="#{modificarExpediente.listCargos}" />
										</h:selectOneMenu>
									</h:panelGroup>
									<h:panelGroup>
										<h:outputText
											value="#{messages['modificarexpediente_persona']}"
											style="font-weight: bold;" />
										<br />
										<h:selectOneMenu id="personaList" styleClass="input350"
											value="#{modificarExpediente.persona}">
											<f:selectItems value="#{modificarExpediente.listPersonas}" />
										</h:selectOneMenu>
									</h:panelGroup>
									<h:panelGroup
										rendered="#{modificarExpediente.renderedGrupoDestinatariosFrecuentes()}">
										<h:outputText
											value="#{messages['modificarexpediente_destinatarios_frecuentes']}"
											style="font-weight: bold;" />
										<br />
										<h:selectOneMenu value="#{modificarExpediente.grupo}"
											styleClass="input350">
											<f:selectItems value="#{modificarExpediente.listDestFrec}" />
										</h:selectOneMenu>
									</h:panelGroup>
									<h:panelGroup>
										<br />
										<h:selectOneRadio
											value="#{modificarExpediente.copiaDirectoFlag}">
											<f:selectItem id="copia"
												itemLabel="#{messages['modificarexpediente_copia']}"
												itemValue="1" />
											<f:selectItem id="directo"
												itemLabel="#{messages['modificarexpediente_directo']}"
												itemValue="0" />
										</h:selectOneRadio>
									</h:panelGroup>
								</h:panelGrid>
								<a4j:commandButton id="agregarDestinatarioExpediente"
									value="#{messages['modificarexpediente_agregar']}"
									action="#{modificarExpediente.agregarDestinatario}"
									reRender="listaDestinatarios, agregarDestinatario" />
							</h:panelGrid>
						</h:form>
					</rich:tab>

					<rich:tab
						label="#{messages['modificarexpediente_listas_destinatarios_frecuentes']}">
						<h:form id="formListDestinatarios">
							<rich:dataTable id="tablaListas"
								value="#{modificarExpediente.listListas}" var="lista"
								rendered="#{modificarExpediente.listListas != null and not empty modificarExpediente.listListas}">
								<rich:column>
									<f:facet name="header">#{messages['modificarexpediente_nombre_lista']}</f:facet>
									<h:outputText value="#{lista.nombreLista}" />
								</rich:column>
								<rich:column>
									<f:facet name="header">#{messages['modificarexpediente_agregar']}</f:facet>
									<a4j:commandButton image="/imagenes/ico_select_ok.gif"
										style="border: none;"
										action="#{modificarExpediente.agregarListaDestinatarios(lista.id)}"
										reRender="agregarDestinatario, listaDestinatarios"
										disabled="#{modificarExpediente.expediente.fechaDespacho != null}" />
								</rich:column>
							</rich:dataTable>
						</h:form>
					</rich:tab>
					<rich:tab label="#{messages['modificarexpediente_buscar_usuario']}"
						onclick="#{seleccionarPersonasBean.limpiarFormulario(true)}">
						<ui:include src="buscarUsuarioVerExpediente.xhtml" />
					</rich:tab>
					<rich:tab id="buscarGrupoUsuario"
						label="#{messages['modificarexpediente_grupos_usuarios']}"
						action="#{seleccionarPersonasBean.limpiarFormulario(true)}">
						<h:form>
							<h:panelGrid columns="2">
								<h:outputText
									value="#{messages['modificarexpediente_grupo_dp']}" />
								<h:selectOneMenu value="#{modificarExpediente.grupoUsuario}"
									id="grupoList" style=" width: 200px;">
									<f:selectItems value="#{modificarExpediente.listGrupos}" />
								</h:selectOneMenu>
							</h:panelGrid>
							<a4j:commandButton id="addGrupoUsuario"
								value="#{messages['modificarexpediente_agregar']}"
								action="#{modificarExpediente.agregarGrupoUsuario()}"
								reRender="tableGrupos,formDestinatarioGrupoExpediente" />
						</h:form>
					</rich:tab>
				</rich:tabPanel>
				<h:form id="formDestinatarioExpediente">
					<rich:dataTable width="100%" id="listaDestinatarios"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						var="itemDes" value="#{modificarExpediente.listDestinatarios}"
						rendered="#{not empty modificarExpediente.listDestinatarios}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText
										value="#{messages['modificarexpediente_nombres']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['modificarexpediente_cargo']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['modificarexpediente_unidad']}" />
								</rich:column>
								<rich:column>
									<h:outputText
										value="#{messages['modificarexpediente_relacion']}" />
								</rich:column>
								<rich:column style="width:25px; text-align:center;">
									<h:outputText
										value="#{messages['modificarexpediente_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="expediente">
							<rich:column>
								<h:outputLabel
									value="#{itemDes.nombres} #{itemDes.apellidoPaterno}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{itemDes.cargo.descripcion}" />
							</rich:column>
							<rich:column>
								<h:outputLabel
									value="#{itemDes.cargo.unidadOrganizacional.descripcion}"
									rendered="#{not itemDes.cargo.unidadOrganizacional.virtual}" />
								<h:outputLabel
									value="#{itemDes.cargo.unidadOrganizacional.departamento.descripcion}"
									rendered="#{itemDes.cargo.unidadOrganizacional.virtual and not itemDes.cargo.unidadOrganizacional.departamento.virtual}" />
								<h:outputLabel
									value="#{itemDes.cargo.unidadOrganizacional.departamento.division.descripcion}"
									rendered="#{itemDes.cargo.unidadOrganizacional.departamento.virtual and itemDes.cargo.unidadOrganizacional.virtual}" />
							</rich:column>
							<rich:column>
								<h:outputLabel 
									value="#{messages['modificarexpediente_copia']}"
									rendered="#{itemDes.destinatarioConCopia}" />
								<h:outputLabel
									value="#{messages['modificarexpediente_directo']}"
									rendered="#{not itemDes.destinatarioConCopia}" />
							</rich:column>
							<rich:column style="width:25px; text-align:center;">
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									style="border: none;"
									reRender="listaDestinatarios, agregarDestinatario"
									action="#{modificarExpediente.eliminarDestinatariosExpediente(itemDes)}"
									rendered="#{itemDes.borrable}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</h:form>
				<br />
				<!-- SdelaF -->
				<h:form id="formDestinatarioGrupoExpediente">
					<rich:dataTable width="100%" id="tableGrupos"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						var="itemGrupo" value="#{modificarExpediente.listGrupoUsuarios}"
						rendered="#{not empty modificarExpediente.listGrupoUsuarios}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText value="#{messages['modificarexpediente_grupo']}" />
								</rich:column>
								<rich:column style="width:25px; text-align:center;">
									<h:outputText
										value="#{messages['modificarexpediente_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="expediente">
							<rich:column>
								<h:outputLabel value="#{itemGrupo.nombre}" />
							</rich:column>
							<rich:column style="width:25px; text-align:center;">
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									style="border: none;"
									action="#{modificarExpediente.eliminarGrupoUsuario(itemGrupo)}"
									reRender="tableGrupos, formDestinatarioGrupoExpediente" 
									rendered="#{itemGrupo.borrable}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</h:form>
				<!--  -->
			</rich:panel>
		</rich:panel>
		<a4j:outputPanel ajaxRendered="true" id="msgError">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>
		<h:form id="idFormBotonesModificarExpediente">
			<h:panelGrid columns="6" cellspacing="3">
				<h:commandButton id="salir"
					value="#{messages['modificarexpediente_bandeja_salida']}"
					onclick="Richfaces.showModalPanel('panelEspera')"
					action="#{modificarExpediente.end}" />
					
				<a4j:commandButton id="guardar"
					value="#{messages['modificarexpediente_guardar']}"
					action="#{modificarExpediente.registrarExpediente}"
					onclick="Richfaces.showModalPanel('panelEspera')"
					oncomplete="Richfaces.hideModalPanel('panelEspera')"
					rendered="#{not modificarExpediente.logicaDespacho()}"
					reRender="panelDocumentoOriginal, idPanelModificarExpediente, agregarDestinatario, panelDocumentosRespuesta, observaciones, listaDestinatarios" />
					
				<a4j:commandButton id="despachar"
					value="#{messages['modificarexpediente_despachar']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogDespachar')"
					rendered="#{not modificarExpediente.logicaDespacho()}" />

				<a4j:commandButton id="reenviar"
					value="#{messages['modificarexpediente_reenviar']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogReenviar')"
					rendered="#{not modificarExpediente.logicaDespachoReenviar()}" />

				<a4j:commandButton id="archivar"
					value="#{messages['modificarexpediente_auto_archivar']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogArchivar')"
					rendered="#{modificarExpediente.esArchivable()}" />

				<a4j:commandButton id="cancelar"
					value="#{messages['modificarexpediente_cancelar']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogCancelar')" 
					rendered="#{not modificarExpediente.logicaDespacho()}" />
			</h:panelGrid>
		</h:form>


		<!--  Reenviar (dialogo) -->


		<rich:modalPanel id="idConfirmDialogReenviar" resizeable="false" width="350" height="95">
			<f:facet name="header">
				<h:outputText
					value="#{messages['modificarexpediente_confirmacion_reenvio_expediente']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogReenviar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['modificarexpediente_desea_despachar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton value="#{messages['modificarexpediente_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogReenviar')" />
					<a4j:commandButton value="#{messages['modificarexpediente_si']}"
						action="#{modificarExpediente.reenviarExpediente}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogReenviar');Richfaces.showModalPanel('panelEspera')"
						oncomplete="Richfaces.hideModalPanel('panelEspera')"/>
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<!--  fin dialogo reenviar -->



		<rich:modalPanel id="idConfirmDialogDespachar" resizeable="false" width="350" height="95">
			<f:facet name="header">
				<h:outputText
					value="#{messages['modificarexpediente_confirmacion_despacho_expediente']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>

			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['modificarexpediente_desea_despachar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton value="#{messages['modificarexpediente_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')" />
					<a4j:commandButton value="#{messages['modificarexpediente_si']}"
						action="#{modificarExpediente.despacharExpediente}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar');Richfaces.showModalPanel('panelEspera')"
						oncomplete="Richfaces.hideModalPanel('panelEspera')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelAdjuntarArchivoOriginal" resizeable="false"
			height="290" width="430">
			<f:facet name="header">
				<h:outputText
					value="#{messages['modificarexpediente_adjuntar_archivo']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>

			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelAdjuntarArchivoOriginal')">
				</h:graphicImage>
			</f:facet>
			<h:form enctype="multipart/form-data">
				<h:panelGrid columns="1">
					<s:decorate id="decorateUpLoadFile" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['modificarexpediente_archivodp']}</ui:define>
						<rich:fileUpload id="upload" immediateUpload="true"
							maxFilesQuantity="1" acceptedTypes="*" listHeight="60px"
							fileUploadListener="#{modificarExpediente.listener}"
							addControlLabel="Agregar">
							<a4j:support event="onclear" reRender="decorateUpLoadFile" />
						</rich:fileUpload>
					</s:decorate>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<a4j:commandButton
						value="#{messages['modificarexpediente_agregar_archivo']}"
						action="#{modificarExpediente.agregarArchivoOriginal}"
						reRender="panelDocumentoOriginal"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivoOriginal')" />
					<a4j:commandButton
						value="#{messages['modificarexpediente_volver']}"
						reRender="panelDocumentoOriginal"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivoOriginal')"
						immediate="true" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelAdjuntarArchivo" minHeight="270"
			minWidth="430" height="290" width="430">
			<f:facet name="header">
				<h:outputText
					value="#{messages['modificarexpediente_adjuntar_archivo']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>

			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer" reRender="panelAnexos"
					onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')">
				</h:graphicImage>
			</f:facet>
			<h:form enctype="multipart/form-data">
				<h:panelGrid columns="1">
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['modificarexpediente_materiadp']}</ui:define>
						<h:inputText id="materia" required="true"
							value="#{modificarExpediente.materiaArchivo}" />
					</s:decorate>
					<s:decorate id="decorateUpLoadFile" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['modificarexpediente_archivodp']}</ui:define>
						<rich:fileUpload id="upload" immediateUpload="true"
							maxFilesQuantity="1" acceptedTypes="*" listHeight="60px"
							fileUploadListener="#{modificarExpediente.listener}"
							addControlLabel="Agregar">
							<a4j:support event="onclear" reRender="decorateUpLoadFile" />
						</rich:fileUpload>
					</s:decorate>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<a4j:commandButton
						value="#{messages['modificarexpediente_agregar_archivo']}"
						action="#{modificarExpediente.agregarAntecedenteArchivo}"
						reRender="panelAnexos"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')" />
					<a4j:commandButton
						value="#{messages['modificarexpediente_volver']}"
						reRender="panelAnexos"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')"
						immediate="true" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>

		<rich:modalPanel id="panelCodigoBarraApplet" resizeable="false"
			height="190" width="335">
			<f:facet name="header">
				<h:outputText
					value="#{messages['modificarexpediente_codigo_barra']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelCodigoBarraApplet')">
				</h:graphicImage>
			</f:facet>
			<!-- modificar 1 -->
			<h:form>
				<a4j:commandButton 
					value="#{messages['modificarexpediente_volver']}"
					onclick="Richfaces.hideModalPanel('panelCodigoBarraApplet')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelCodigoBarraDocRespuestaApplet"
			resizeable="false" height="190" width="335">
			<f:facet name="header">
				<h:outputText
					value="#{messages['modificarexpediente_codigo_barra']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelCodigoBarraDocRespuestaApplet')">
				</h:graphicImage>
			</f:facet>
			<h:form id="idFormPanelCodigoBarraDocRespuestaApplet">
				<!--  modificar expediente -->
				<a4j:commandButton 
					value="#{messages['modificarexpediente_volver']}"
					onclick="Richfaces.hideModalPanel('panelCodigoBarraDocRespuestaApplet')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="idConfirmDialogCancelar" resizeable="false"
			width="350" height="100">

			<f:facet name="header">
				<h:outputText
					value="#{messages['modificarexpediente_confirmacion_cancelar_expediente']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>

			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogCancelar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['modificarexpediente_desea_cancelar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton value="#{messages['modificarexpediente_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogCancelar')" />
					<a4j:commandButton value="#{messages['modificarexpediente_si']}"
						action="#{modificarExpediente.cancelarExpediente()}"
						status="panelEspera"
						onclick="Richfaces.hideModalPanel('idConfirmDialogCancelar');Richfaces.showModalPanel('panelEspera')"
						oncomplete="Richfaces.hideModalPanel('panelEspera')">
					</a4j:commandButton>
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<!-- Archivar (dialog) -->
		<rich:modalPanel id="idConfirmDialogArchivar" resizeable="false"
			width="320" height="100">

			<f:facet name="header">
				<h:outputText
					value="#{messages['modificarexpediente_confirmacion_archivar_expediente']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogArchivar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['modificarexpediente_desea_archivar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton value="#{messages['modificarexpediente_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogArchivar')" />
					<a4j:commandButton
						value="#{messages['modificarexpediente_archivar']}"
						action="#{modificarExpediente.archivarExpediente}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogArchivar');Richfaces.showModalPanel('panelEspera')"
						oncomplete="Richfaces.hideModalPanel('panelEspera')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>
		<!-- Fin Archivar -->

	</ui:define>

</ui:composition>

