<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="../layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel id="panelBusqueda">
			<f:facet name="header">
				<span>#{messages['reasignarexpedientesmasivo_busqueda_de_expedientes']}</span>
			</f:facet>

			<h:form id="formBusqueda">
				<h:panelGrid columns="3">
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['reasignarexpedientesmasivo_tipo_documentodp']}</ui:define>
						<h:selectOneMenu
							value="#{reasignarExpedientesMasivo.tipoDocumentoBusqueda}"
							styleClass="input230">
							<f:selectItems
								value="#{ManejarDocumento.obtenerTiposDeDocumentos()}" />
						</h:selectOneMenu>
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['reasignarexpedientesmasivo_dedp']}</ui:define>
						<h:inputText
							value="#{reasignarExpedientesMasivo.emisorDocumentoBusqueda}"
							styleClass="input223" />
					</s:decorate>

					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['reasignarexpedientesmasivo_n_expedientedp']}</ui:define>
						<h:inputText
							value="#{reasignarExpedientesMasivo.numeroExpedienteBusqueda}" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['reasignarexpedientesmasivo_iniciodp']}</ui:define>
						<rich:calendar
							value="#{reasignarExpedientesMasivo.fechaInicioDocumentoBusqueda}"
							datePattern="dd/MM/yyyy"
							showApplyButton="false" enableManualInput="false" popup="true"
							required="false" />
					</s:decorate>

					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['reasignarexpedientesmasivo_n_documentodp']}</ui:define>
						<h:inputText
							value="#{reasignarExpedientesMasivo.numeroDocumentoBusqueda}" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['reasignarexpedientesmasivo_terminodp']}</ui:define>
						<rich:calendar
							value="#{reasignarExpedientesMasivo.fechaTerminoDocumentoBusqueda}"
							datePattern="dd/MM/yyyy"
							showApplyButton="false" enableManualInput="false" popup="true"
							required="false" />
					</s:decorate>

					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['reasignarexpedientesmasivo_materiadp']}</ui:define>
						<h:inputText
							value="#{reasignarExpedientesMasivo.materiaDocumentoBusqueda}"
							styleClass="input223" />
					</s:decorate>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate template="/layout/edit.xhtml" />
				</h:panelGrid>

				<h:panelGrid id="panelUsuario" columns="3" style="padding:3px;">
					<h:panelGroup rendered="true">
						<h:outputText
							value="#{messages['reasignarexpedientesmasivo_organizaciondp']}"
							style="font-weight: bold;" />
						<br />
						<h:selectOneMenu
							value="#{reasignarExpedientesMasivo.organizacion}"
							id="organizacionlist" styleClass="input350">
							<a4j:support
								action="#{reasignarExpedientesMasivo.buscarDivisiones}"
								event="onchange" reRender="panelUsuario" />
							<f:selectItems
								value="#{reasignarExpedientesMasivo.listOrganizacion}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<s:decorate rendered="false" template="/layout/edit.xhtml"
						style="width : 10px;" />
					<h:panelGroup rendered="true">
						<h:outputLabel
							value="#{messages['reasignarexpedientesmasivo_divisiondp']}"
							for="menuDivisiones" style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="menuDivisiones"
							value="#{reasignarExpedientesMasivo.idDivision}"
							styleClass="input350">
							<f:selectItems
								value="#{reasignarExpedientesMasivo.listDivisiones}" />
							<a4j:support event="onchange" reRender="panelUsuario"
								action="#{reasignarExpedientesMasivo.buscarDeptos()}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup>
						<h:outputLabel
							value="#{messages['reasignarexpedientesmasivo_departamentodp']}"
							for="menuDeptos" style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="menuDeptos"
							value="#{reasignarExpedientesMasivo.idDepto}"
							styleClass="input350">
							<f:selectItems value="#{reasignarExpedientesMasivo.listDeptos}" />
							<a4j:support event="onchange" reRender="panelUsuario"
								action="#{reasignarExpedientesMasivo.buscarUnidades()}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;"
						rendered="false" />
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['reasignarexpedientesmasivo_unidaddp']}"
							for="menuUnidades" style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="menuUnidades"
							value="#{reasignarExpedientesMasivo.idUnidad}"
							styleClass="input350">
							<f:selectItems value="#{reasignarExpedientesMasivo.listUnidades}" />
							<a4j:support event="onchange" reRender="panelUsuario"
								action="#{reasignarExpedientesMasivo.buscarCargos()}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup>
						<h:outputLabel
							value="#{messages['reasignarexpedientesmasivo_cargodp']}"
							for="menuCargos" style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="menuCargos"
							value="#{reasignarExpedientesMasivo.idCargo}"
							styleClass="input350">
							<f:selectItems value="#{reasignarExpedientesMasivo.listCargos}" />
							<a4j:support event="onchange" reRender="panelUsuario"
								action="#{reasignarExpedientesMasivo.buscarPersonas()}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;"
						rendered="false" />
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['reasignarexpedientesmasivo_personadp']}"
							for="menuPersonas" style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="menuPersonas"
							value="#{reasignarExpedientesMasivo.idPersona}"
							styleClass="input350">
							<f:selectItems value="#{reasignarExpedientesMasivo.listPersonas}" />
						</h:selectOneMenu>
					</h:panelGroup>
				</h:panelGrid>
				<h:panelGrid columns="1" style="padding:2px;">
					<a4j:commandButton
						value="#{messages['reasignarexpedientesmasivo_buscar']}"
						styleClass="boton1"
						action="#{reasignarExpedientesMasivo.buscarExpedientes()}"
						oncomplete="#{rich:component('panelEspera')}.hide()"
						reRender="tablaResultados, formBusqueda">
						<a4j:status onstart="#{rich:component('panelEspera')}.show()"
							onstop="#{rich:component('panelEspera')}.hide()" />
					</a4j:commandButton>
				</h:panelGrid>
			</h:form>
		</rich:panel>

		<br />
		<rich:panel id="panelResultados">
			<f:facet name="header">
				<span>#{messages['reasignarexpedientesmasivo_resultados_de_busqueda']}</span>
			</f:facet>

			<a4j:form>
				<rich:dataTable id="tablaResultados" styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'" rows="14"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					cellpadding="1" cellspacing="1" var="resultadoBusqueda"
					value="#{reasignarExpedientesMasivo.resultadosBusqueda}"
					rendered="#{reasignarExpedientesMasivo.resultadosBusqueda != null}">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column colspan="6"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['reasignarexpedientesmasivo_expediente']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
							<rich:column colspan="7"
								style="text-align:left; padding-left:5px; background-color:#EBE9E9;">
								<h:outputText
									value="#{messages['reasignarexpedientesmasivo_documento']}"
									style="color:#003366;
                                    font-family:Verdana,Arial,sans-serif;
                                    font-size:10px;
                                    font-weight:bold;
                                    line-height:25px;" />
							</rich:column>
						
							<rich:column breakBefore="true">
								<h:outputText value="#{messages['reasignarexpedientesmasivo_ver']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reasignarexpedientesmasivo_n']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reasignarexpedientesmasivo_ingreso_a_bandeja_de_entrada']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reasignarexpedientesmasivo_usuario']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reasignarexpedientesmasivo_cargo']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reasignarexpedientesmasivo_unidad']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reasignarexpedientesmasivo_tipo']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reasignarexpedientesmasivo_n']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reasignarexpedientesmasivo_fecha']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reasignarexpedientesmasivo_ingreso']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reasignarexpedientesmasivo_materia']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reasignarexpedientesmasivo_formato']}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{messages['reasignarexpedientesmasivo_seleccion']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<f:facet name="footer">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="15" style="height:22px;valign:middle;">
								<rich:datascroller id="pagerBusquedaDown"
									styleClass="resultados" for="tablaResultados"
									rendered="#{reasignarExpedientesMasivo.resultadosBusqueda != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="resultadoBusqueda" rowClasses="impar">
						<rich:column>
							<a4j:commandButton id="verExpediente"
								alt="#{messages['reasignarexpedientesmasivo_alt_ver_expediente']}"
								image="/imagenes/ver_detalle_01.gif" style="border: none;"
								action="#{verExpedienteDesdeReporte.begin()}">
								<f:param name="idExpediente"
									value="#{resultadoBusqueda.id}" />
								<f:param name="bandejaEntradaCopia" value="false" />
							</a4j:commandButton>
						</rich:column>
						<rich:column>
							<h:outputText value="#{resultadoBusqueda.numeroExpediente}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{resultadoBusqueda.fechaIngresoBandeja}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<h:outputText value="#{resultadoBusqueda.destinatarioExpediente.nombreApellido}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{resultadoBusqueda.destinatarioExpediente.cargo.descripcion}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{resultadoBusqueda.destinatarioExpediente.cargo.unidadOrganizacional.descripcion}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{resultadoBusqueda.tipoDocumento}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{resultadoBusqueda.numeroDocumento}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{resultadoBusqueda.fechaDocumentoOrigen}">
								<f:convertDateTime pattern="dd/MM/yyyy"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<h:outputText value="#{resultadoBusqueda.fechaCreacionDocumento}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<h:outputText value="#{resultadoBusqueda.materia}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{resultadoBusqueda.formatoDocumento}" />
						</rich:column>
						<rich:column>
							<h:selectBooleanCheckbox
								value="#{reasignarExpedientesMasivo.selectedReasignados[resultadoBusqueda.id]}">
								<a4j:support event="onclick"
									action="#{reasignarExpedientesMasivo.setExpedientesAReasignar(resultadoBusqueda.id)}"
									immediate="true" />
							</h:selectBooleanCheckbox>
						</rich:column>
					</rich:subTable>
				</rich:dataTable>
			</a4j:form>
		</rich:panel>
		<br />
		<h:form>
			<rich:panel id="panelReasignar">
				<f:facet name="header">
					<span>#{messages['reasignarexpedientesmasivo_reasignar']}</span>
				</f:facet>

				<h:panelGrid id="panelMenuReasignar" columns="3"
					style="padding:3px;">

					<h:panelGroup rendered="true">
						<h:outputText
							value="#{messages['reasignarexpedientesmasivo_organizaciondp']}"
							style="font-weight: bold;" />
						<br />
						<h:selectOneMenu
							value="#{reasignarExpedientesMasivo.organizacionReasignar}"
							id="organizacionlist" styleClass="input350">
							<a4j:support
								action="#{reasignarExpedientesMasivo.buscarDivisionesReasignar}"
								event="onchange" reRender="panelMenuReasignar" />
							<f:selectItems
								value="#{reasignarExpedientesMasivo.listOrganizacionReasignar}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<s:decorate rendered="false" template="/layout/edit.xhtml"
						style="width : 10px;" />
					<h:panelGroup rendered="true">
						<h:outputLabel
							value="#{messages['reasignarexpedientesmasivo_divisiondp']}"
							for="menuDivisionesReasignar" style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="menuDivisionesReasignar"
							value="#{reasignarExpedientesMasivo.idDivisionReasignar}"
							styleClass="input350">
							<f:selectItems
								value="#{reasignarExpedientesMasivo.listDivisionesReasignar}" />
							<a4j:support event="onchange" reRender="panelMenuReasignar"
								action="#{reasignarExpedientesMasivo.buscarDeptosReasignar()}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup>
						<h:outputLabel
							value="#{messages['reasignarexpedientesmasivo_departamentodp']}"
							for="menuDeptosReasignar" style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="menuDeptosReasignar"
							value="#{reasignarExpedientesMasivo.idDeptoReasignar}"
							styleClass="input350">
							<f:selectItems
								value="#{reasignarExpedientesMasivo.listDeptosReasignar}" />
							<a4j:support event="onchange" reRender="panelMenuReasignar"
								action="#{reasignarExpedientesMasivo.buscarUnidadesReasignar()}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;"
						rendered="false" />
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['reasignarexpedientesmasivo_unidaddp']}"
							for="menuUnidadesReasignar" style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="menuUnidadesReasignar"
							value="#{reasignarExpedientesMasivo.idUnidadReasignar}"
							styleClass="input350">
							<f:selectItems
								value="#{reasignarExpedientesMasivo.listUnidadesReasignar}" />
							<a4j:support event="onchange" reRender="panelMenuReasignar"
								action="#{reasignarExpedientesMasivo.buscarCargosReasignar()}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup>
						<h:outputLabel
							value="#{messages['reasignarexpedientesmasivo_cargodp']}"
							for="menuCargosReasignar" style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="menuCargosReasignar"
							value="#{reasignarExpedientesMasivo.idCargoReasignar}"
							styleClass="input350">
							<f:selectItems
								value="#{reasignarExpedientesMasivo.listCargosReasignar}" />
							<a4j:support event="onchange" reRender="panelMenuReasignar"
								action="#{reasignarExpedientesMasivo.buscarPersonasReasignar()}" />
						</h:selectOneMenu>
					</h:panelGroup>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;"
						rendered="false" />
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['reasignarexpedientesmasivo_personadp']}"
							for="menuPersonasReasignar" style="font-weight: bold" />
						<br />
						<h:selectOneMenu id="menuPersonasReasignar"
							value="#{reasignarExpedientesMasivo.idPersonaReasignar}"
							styleClass="input350">
							<f:selectItems
								value="#{reasignarExpedientesMasivo.listPersonasReasignar}" />
						</h:selectOneMenu>
					</h:panelGroup>

					<h:panelGroup>
						<h:selectOneRadio
							value="#{reasignarExpedientesMasivo.copiaDirectoFlag}">
							<f:selectItem id="copia"
								itemLabel="#{messages['reasignarexpedientesmasivo_copia']}"
								itemValue="1" />
							<f:selectItem id="directo"
								itemLabel="#{messages['reasignarexpedientesmasivo_directo']}"
								itemValue="0" />
						</h:selectOneRadio>
					</h:panelGroup>
					<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
					<s:decorate template="/layout/edit.xhtml" />
				</h:panelGrid>

				<h:panelGrid columns="1" style="padding:2px;">
					<a4j:commandButton
						value="#{messages['reasignarexpedientesmasivo_agregar']}"
						styleClass="boton1"
						action="#{reasignarExpedientesMasivo.agregarPersona()}"
						reRender="tablaPersonas, panelMenuReasignar" />
				</h:panelGrid>


			</rich:panel>


			<br />
			<rich:panel>
				<f:facet name="header">
					<span>#{messages['reasignarexpedientesmasivo_lista_de_usuarios']}</span>
				</f:facet>

				<rich:dataTable id="tablaPersonas" styleClass="resultados"
					onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					var="destinatario"
					value="#{reasignarExpedientesMasivo.listDestinatarios}"
					cellpadding="1" cellspacing="1">


					<f:facet name="header">

						<rich:columnGroup>

							<rich:column style="text-align:left;">
								<h:outputText
									value="#{messages['reasignarexpedientesmasivo_nombres']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reasignarexpedientesmasivo_cargo']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reasignarexpedientesmasivo_unidad']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['reasignarexpedientesmasivo_relacion']}" />
							</rich:column>
							<rich:column style="width : 70px;">
								<h:outputText
									value="#{messages['reasignarexpedientesmasivo_eliminar']}" />
							</rich:column>

						</rich:columnGroup>

					</f:facet>
					<f:facet name="footer"
						rendered="#{not empty reasignarExpedientesMasivo.listDestinatarios}">
						<rich:columnGroup styleClass="footer_lista">
							<rich:column colspan="5" style="height:22px;valign:middle;">
								<rich:datascroller id="pagerBusquedaDown"
									styleClass="resultados" for="tablaPersonas"
									rendered="#{not empty reasignarExpedientesMasivo.listDestinatarios != null}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="resultadoBusqueda" rowClasses="impar">

						<rich:column style="text-align:left;">
							<h:outputText
								value="#{destinatario.nombres} #{destinatario.apellidoPaterno}" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{destinatario.cargo.descripcion}" />
						</rich:column>
						<rich:column>
							<h:outputText
								value="#{destinatario.cargo.unidadOrganizacional.descripcion}"
								rendered="#{not destinatario.cargo.unidadOrganizacional.virtual}" />
							<h:outputText
								value="#{destinatario.cargo.unidadOrganizacional.departamento.descripcion}"
								rendered="#{not destinatario.cargo.unidadOrganizacional.departamento.virtual and destinatario.cargo.unidadOrganizacional.virtual}" />
							<h:outputText
								value="#{destinatario.cargo.unidadOrganizacional.departamento.division.descripcion}"
								rendered="#{destinatario.cargo.unidadOrganizacional.virtual and destinatario.cargo.unidadOrganizacional.departamento.virtual}" />
						</rich:column>
						<rich:column>
							<h:outputText
								value="#{messages['reasignarexpedientesmasivo_copia']}"
								rendered="#{destinatario.destinatarioConCopia}" />
							<h:outputText
								value="#{messages['reasignarexpedientesmasivo_directo']}"
								rendered="#{not destinatario.destinatarioConCopia}" />
						</rich:column>
						<rich:column>
							<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
								style="border: none;" title="Eliminar"
								action="#{reasignarExpedientesMasivo.eliminarPersona(destinatario)}"
								reRender="tablaPersonas, panelReasignar" />
						</rich:column>

					</rich:subTable>
				</rich:dataTable>
			</rich:panel>


			<h:panelGrid columns="1" style="padding:5px;">
				<a4j:commandButton
					value="#{messages['reasignarexpedientesmasivo_reasignar']}"
					styleClass="boton1"
					action="#{reasignarExpedientesMasivo.reasignar()}" />
			</h:panelGrid>
		</h:form>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>
