<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<h:form>
		<rich:dataTable onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
			onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
			cellpadding="0" cellspacing="0" border="0" var="documento"
			width="100%" value="#{documentosContraloria.documentosDescarga}"
			id="idDataTableResumenDescarga">
			<f:facet name="header">
				<rich:columnGroup>
					<rich:column>
						<h:outputText
							value="#{messages['resumendescargadocumentoscontraloria_nombre']}" />
					</rich:column>
					<rich:column>
						<h:outputText
							value="#{messages['resumendescargadocumentoscontraloria_materia']}" />
					</rich:column>
					<rich:column rendered="false">
						<h:outputText
							value="#{messages['resumendescargadocumentoscontraloria_descarga']}" />
					</rich:column>
				</rich:columnGroup>
			</f:facet>
			<rich:subTable value="documento"
				onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
				onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
				<rich:column>
					<h:outputText value="#{documento.nombreArchivo}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{documento.materia}" />
				</rich:column>
				<rich:column rendered="false">
					<a4j:htmlCommandLink immediate="true" border="0px"
						action="#{documentosContraloria.descargarArchivo(documento)}">
						<h:graphicImage border="0px"
							alt="#{messages['resumendescargadocumentoscontraloria_alt_descargar']}"
							url="/imagenes/icono_visualizar_doc_adjunto.gif" />
					</a4j:htmlCommandLink>
					<h:outputText value="#{documento.id}" />
				</rich:column>

			</rich:subTable>
		</rich:dataTable>

		<h:panelGrid columns="2" width="100%" cellpadding="3" cellspacing="3">
			<h:panelGrid columns="1" cellspacing="3" style="text-align: left; "
				width="100%">
				<a4j:commandButton id="idButtonCerrar"
					value="#{messages['resumendescargadocumentoscontraloria_cerrar']}"
					reRender="idDataTableContraloria">
					<rich:componentControl for="idModalPanelResumenDescarga"
						attachTo="idButtonCerrar" operation="hide" event="onclick" />
				</a4j:commandButton>
			</h:panelGrid>
			<h:panelGrid columns="1" cellspacing="3" style="text-align: right; "
				width="100%">
				<a4j:htmlCommandLink immediate="true" border="0px"
					action="#{documentosContraloria.descargarZip()}">
					<h:graphicImage border="0px"
						alt="#{messages['resumendescargadocumentoscontraloria_alt_descargar_todos']}"
						url="/imagenes/icono_descargar_doc_adjunto.gif" />
				</a4j:htmlCommandLink>
			</h:panelGrid>
		</h:panelGrid>


	</h:form>


</ui:composition>
