<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="../layout/template.xhtml">

	<ui:define name="body">
		<style>
.tablaHeader {
	white-space: normal;
	height: 40px;
}
</style>

		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel>
			<f:facet name="header">#{messages['resumenactividades_resultados_de_todos_los_subalternos']}</f:facet>

			<h:form>
				<rich:extendedDataTable id="tablaResumen"
					value="#{resumen.resumenSubalternos}" var="subalterno"
					sortMode="single" selectionMode="none" enableContextMenu="false"
					headerClass="tablaHeader">

					<rich:column sortBy="#{subalterno.nombrePersona}"
						filterBy="#{subalterno.nombrePersona}" filterEvent="onkeyup"
						label="Nombre" width="11%">
						<f:facet name="header">
							<h:outputText value="#{messages['resumenactividades_nombre']}" />
						</f:facet>
						<h:outputText value="#{subalterno.nombrePersona}" />
					</rich:column>
					<rich:column sortBy="#{subalterno.cargo}"
						filterBy="#{subalterno.cargo}" filterEvent="onkeyup" label="Cargo"
						width="11%">
						<f:facet name="header">
							<h:outputText value="#{messages['resumenactividades_cargo']}" />
						</f:facet>
						<h:outputText value="#{subalterno.cargo}" />
					</rich:column>
					<rich:column sortBy="#{subalterno.unidadOrganizacional}"
						filterBy="#{subalterno.unidadOrganizacional}"
						filterEvent="onkeyup" label="Unidad Organizacional" width="11%">
						<f:facet name="header">
							Unidad<br />Organizacional
						</f:facet>
						<h:outputText value="#{subalterno.unidadOrganizacional}" />
					</rich:column>
					<rich:column sortBy="#{subalterno.departamento}"
						filterBy="#{subalterno.departamento}" filterEvent="onkeyup"
						label="Departamento" width="11%">
						<f:facet name="header">
							<h:outputText
								value="#{messages['resumenactividades_departamento']}" />
						</f:facet>
						<h:outputText value="#{subalterno.departamento}" />
					</rich:column>
					<rich:column sortBy="#{subalterno.division}"
						filterBy="#{subalterno.division}" filterEvent="onkeyup"
						label="Division" width="11%">
						<f:facet name="header">
							<h:outputText value="#{messages['resumenactividades_division']}" />
						</f:facet>
						<h:outputText value="#{subalterno.division}" />
					</rich:column>
					<rich:column sortBy="#{subalterno.numExpBandejaDirecto}"
						filterBy="#{subalterno.numExpBandejaDirecto}"
						filterEvent="onkeyup"
						label="Expedientes en Bandeja de Entrada Directo" width="11%">
						<f:facet name="header">
							Expedientes en <br />Bandeja de Entrada <br />Directo
						</f:facet>
						<h:outputText value="#{subalterno.numExpBandejaDirecto}" />
					</rich:column>
					<rich:column sortBy="#{subalterno.numExpBandejaCopia}"
						filterBy="#{subalterno.numExpBandejaCopia}" filterEvent="onkeyup"
						label="Expedientes en Bandeja de Entrada Copia" width="11%">
						<f:facet name="header">
							Expedientes en <br />Bandeja de Entrada <br />Copia
						</f:facet>
						<h:outputText value="#{subalterno.numExpBandejaCopia}" />
					</rich:column>
					<rich:column sortBy="#{subalterno.numExpDocsVencidos}"
						filterBy="#{subalterno.numExpDocsVencidos}" filterEvent="onkeyup"
						label="Expedientes con Documentos vencidos" width="11%">
						<f:facet name="header">
							Expedientes con <br />Documentos <br />vencidos
						</f:facet>
						<h:outputText value="#{subalterno.numExpDocsVencidos}" />
					</rich:column>
					<rich:column sortBy="#{subalterno.numExpSinAcuseRecibo}"
						filterBy="#{subalterno.numExpSinAcuseRecibo}"
						filterEvent="onkeyup" label="Expedientes sin Acuse de Recibo"
						width="11%">
						<f:facet name="header">
							Expedientes sin <br />Acuse de Recibo
						</f:facet>
						<h:outputText value="#{subalterno.numExpSinAcuseRecibo}" />
					</rich:column>
				</rich:extendedDataTable>
			</h:form>
		</rich:panel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['resumenactividades_por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['resumenactividades_espere_mientras_se_realiza_su_busqueda']}" />
		</rich:modalPanel>

	</ui:define>

</ui:composition>
