<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>



<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<a4j:outputPanel ajaxRendered="true">
		<h:messages globalOnly="true" styleClass="message" />
	</a4j:outputPanel>

	<rich:panel id="agregarDestinatario">
		<f:facet name="header">#{messages['seleccionardestinatarioprovidencia_destinatario_documento']}</f:facet>
		<rich:tabPanel switchType="ajax" style=" width: 100%;">
			<rich:tab label="Destinatario">
				<h:form id="formDestinatario">
					<h:panelGrid columns="1"
						rendered="#{not seleccionarDestinatarioDocumento.tieneEmisor()}">
						<h:outputText
							value="#{messages['seleccionardestinatarioprovidencia_debe_seleccionar_un_emisor']}" />
					</h:panelGrid>
					<h:panelGrid id="panelAgregarDestinatario" columns="3"
						rendered="#{seleccionarDestinatarioDocumento.tieneEmisor()}">
						<h:panelGroup
							rendered="#{seleccionarDestinatarioDocumento.isVisibleDivision()}">
							<h:outputText
								value="#{messages['seleccionardestinatarioprovidencia_division']}"
								style="font-weight: bold;" />
							<h:selectOneMenu
								value="#{seleccionarDestinatarioDocumento.division}"
								id="divisionlist">
								<a4j:support
									action="#{seleccionarDestinatarioDocumento.buscarDepartamentos}"
									event="onchange" reRender="panelAgregarDestinatario" />
								<f:selectItems
									value="#{seleccionarDestinatarioDocumento.listDivision}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup
							rendered="#{seleccionarDestinatarioDocumento.isVisibleDivision()}">
							<h:outputText
								value="#{messages['seleccionardestinatarioprovidencia_departamento']}"
								style="font-weight: bold;" />
							<h:selectOneMenu
								value="#{seleccionarDestinatarioDocumento.departamento}"
								id="departamentolist">
								<a4j:support
									action="#{seleccionarDestinatarioDocumento.buscarUnidadesOrganizacionales}"
									event="onchange" reRender="panelAgregarDestinatario" />
								<f:selectItems
									value="#{seleccionarDestinatarioDocumento.listDepartamento}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup
							rendered="#{seleccionarDestinatarioDocumento.isVisibleDptoDivision()}">
							<h:outputText
								value="#{messages['seleccionardestinatarioprovidencia_departamento']}"
								style="font-weight: bold;" />
							<h:selectOneMenu
								value="#{seleccionarDestinatarioDocumento.departamento}"
								id="departamentoAlllist">
								<a4j:support
									action="#{seleccionarDestinatarioDocumento.buscarUnidadesOrganizacionales}"
									event="onchange" reRender="panelAgregarDestinatario" />
								<f:selectItems
									value="#{seleccionarDestinatarioDocumento.listTodosDepartamento}" />
							</h:selectOneMenu>
						</h:panelGroup>

						<h:panelGroup
							rendered="#{seleccionarDestinatarioDocumento.isVisibleDepartamento()}">
							<h:outputText
								value="#{messages['seleccionardestinatarioprovidencia_unidad']}"
								style="font-weight: bold;" />
							<h:selectOneMenu
								value="#{seleccionarDestinatarioDocumento.unidadOrganizacional}"
								id="uolist">
								<a4j:support
									action="#{seleccionarDestinatarioDocumento.buscarCargos}"
									event="onchange" reRender="panelAgregarDestinatario" />
								<f:selectItems
									value="#{seleccionarDestinatarioDocumento.listUnidadesOrganizacionales}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup
							rendered="#{seleccionarDestinatarioDocumento.isVisibleUnidadDpto()}">
							<h:outputText
								value="#{messages['seleccionardestinatarioprovidencia_unidad']}"
								style="font-weight: bold;" />
							<h:selectOneMenu
								value="#{seleccionarDestinatarioDocumento.unidadOrganizacional}"
								id="uolistTodas">
								<a4j:support
									action="#{seleccionarDestinatarioDocumento.buscarCargos}"
									event="onchange" reRender="panelAgregarDestinatario" />
								<f:selectItems
									value="#{seleccionarDestinatarioDocumento.listTodosUnidades}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup>
							<h:outputText
								value="#{messages['seleccionardestinatarioprovidencia_cargo']}"
								style="font-weight: bold;" />
							<h:selectOneMenu id="cargoList"
								value="#{seleccionarDestinatarioDocumento.cargo}">
								<a4j:support
									action="#{seleccionarDestinatarioDocumento.buscarPersonas}"
									event="onchange" reRender="panelAgregarDestinatario" />
								<f:selectItems
									value="#{seleccionarDestinatarioDocumento.listCargos}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup>
							<h:outputText
								value="#{messages['seleccionardestinatarioprovidencia_persona']}"
								style="font-weight: bold;" />
							<h:selectOneMenu id="personaList"
								value="#{seleccionarDestinatarioDocumento.persona}">
								<f:selectItems
									value="#{seleccionarDestinatarioDocumento.listPersonas}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<rich:spacer />
						<rich:spacer />
						<h:panelGroup>
							<h:outputText
								value="#{messages['seleccionardestinatarioprovidencia_destinatarios_frecuentes']}"
								style="font-weight: bold;" />
							<h:selectOneMenu
								value="#{seleccionarDestinatarioDocumento.grupo}">
								<f:selectItems
									value="#{seleccionarDestinatarioDocumento.listDestFrec}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<a4j:commandButton id="addDestinatario"
							value="#{messages['seleccionardestinatarioprovidencia_agregar_destinatario']}"
							action="#{seleccionarDestinatarioDocumento.agregarDestinatario}"
							reRender="agregarDestinatario" />
					</h:panelGrid>
				</h:form>
			</rich:tab>
			<rich:tab label="Destinatario Externo" rendered="false">
				<h:form>
					<h:panelGrid columns="1" id="idPanelDestinatarioExterno">
						<h:panelGroup>
							<h:outputText
								value="#{messages['seleccionardestinatarioprovidencia_dependencia']}"
								style="font-weight: bold;" />
							<h:selectOneMenu id="idSelectDependencia"
								value="#{seleccionarDestinatarioDocumento.dependencia}">
								<a4j:support
									action="#{seleccionarDestinatarioDocumento.buscarPersonasExternas}"
									event="onchange" reRender="idSelectpersonaExterna" />
								<f:selectItems
									value="#{seleccionarDestinatarioDocumento.listDependencia}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup>
							<h:outputText
								value="#{messages['seleccionardestinatarioprovidencia_persona_externa']}"
								style="font-weight: bold;" />
							<h:selectOneMenu id="idSelectpersonaExterna"
								value="#{seleccionarDestinatarioDocumento.personaExterna}">
								<f:selectItems
									value="#{seleccionarDestinatarioDocumento.listPersonasExternas}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<a4j:commandButton id="addDestinatarioExterno"
							value="#{messages['seleccionardestinatarioprovidencia_agregar_destinatario_externo']}"
							action="#{seleccionarDestinatarioDocumento.agregarDestinatarioExterno}"
							reRender="agregarDestinatario, idPanelDestinatarioExterno" />
					</h:panelGrid>
				</h:form>
			</rich:tab>
			<rich:tab label="Listas Destinatarios Frecuentes" rendered="true">
				<h:form id="formSeleccionarLista">
					<rich:dataTable id="tablaListas"
						value="#{seleccionarDestinatarioDocumento.listListas}" var="lista">
						<rich:column>
							<f:facet name="header">#{messages['seleccionardestinatarioprovidencia_nombre_lista']}</f:facet>
							<h:outputText value="#{lista.nombreLista}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['seleccionardestinatarioprovidencia_seleccionar']}</f:facet>
							<a4j:commandButton image="/imagenes/ico_select_ok.gif"
								action="#{seleccionarDestinatarioDocumento.agregarListaDestinatarios(lista.id)}"
								reRender="agregarDestinatario" />
						</rich:column>
					</rich:dataTable>
				</h:form>
			</rich:tab>
		</rich:tabPanel>
		<br />
		<rich:panel id="idPanelTableDestinatarios"
			style="overflow:auto; height : 200px;"
			rendered="#{not empty seleccionarDestinatarioDocumento.destinatariosDocumento}">
			<h:form>
				<rich:dataTable var="itemDD" id="tableDestinatarios"
					value="#{seleccionarDestinatarioDocumento.destinatariosDocumento}"
					rendered="#{not empty seleccionarDestinatarioDocumento.destinatariosDocumento}"
					width="100%" onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
					<rich:column>
						<f:facet name="header">
							<h:outputText
								value="#{messages['seleccionardestinatarioprovidencia_destinatarios']}" />
						</f:facet>
						<h:outputText value="#{itemDD.descripcion}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText
								value="#{messages['seleccionardestinatarioprovidencia_eliminar']}" />
						</f:facet>
						<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
							action="#{seleccionarDestinatarioDocumento.eliminarDestinatarioDocumento(itemDD.descripcion)}"
							reRender="agregarDestinatario" />
					</rich:column>
				</rich:dataTable>
			</h:form>
		</rich:panel>
	</rich:panel>

</ui:composition>
