<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY deg "">
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>



<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">


	<rich:panel id="agregarvisaciones">
		<f:facet name="header">#{messages['seleccionarvisaciones_visaciones_documento']}</f:facet>
		<a4j:outputPanel ajaxRendered="true">
			<h:messages />
		</a4j:outputPanel>
		<rich:tabPanel switchType="ajax" style=" width: 100%;">
			<rich:tab label="#{messages['seleccionarvisaciones_destinatario']}">
				<h:form id="formDestinatario">
					<h:panelGrid id="panelAgregarVisacion" columns="2"
						style=" text-align: left;">
						<h:outputText rendered="true"
							value="#{messages['seleccionarvisaciones_organizaciondp']}"
							style="font-weight: bold;" />
						<h:selectOneMenu rendered="true"
							value="#{seleccionarVisaciones.organizacion}"
							id="organizacionlist" style=" width: 350px;">
							<a4j:support action="#{seleccionarVisaciones.buscarDivisiones}"
								event="onchange" reRender="panelAgregarVisacion" />
							<f:selectItems value="#{seleccionarVisaciones.listOrganizacion}" />
						</h:selectOneMenu>

						<h:outputText rendered="true"
							value="#{messages['seleccionarvisaciones_divisiondp']}"
							style="font-weight: bold;" />
						<h:selectOneMenu rendered="true"
							value="#{seleccionarVisaciones.division}" id="divisionlist"
							style=" width: 350px;">
							<a4j:support
								action="#{seleccionarVisaciones.buscarDepartamentos}"
								event="onchange" reRender="panelAgregarVisacion" />
							<f:selectItems value="#{seleccionarVisaciones.listDivision}" />
						</h:selectOneMenu>

						<h:outputText
							value="#{messages['seleccionarvisaciones_departamentodp']}"
							style="font-weight: bold;" />
						<h:selectOneMenu value="#{seleccionarVisaciones.departamento}"
							id="departamentolist" style=" width: 350px;">
							<a4j:support
								action="#{seleccionarVisaciones.buscarUnidadesOrganizacionales}"
								event="onchange" reRender="panelAgregarVisacion" />
							<f:selectItems value="#{seleccionarVisaciones.listDepartamento}" />
						</h:selectOneMenu>

						<h:outputText
							value="#{messages['seleccionarvisaciones_unidaddp']}"
							style="font-weight: bold;" />
						<h:selectOneMenu
							value="#{seleccionarVisaciones.unidadOrganizacional}" id="uolist"
							style=" width: 350px;">
							<a4j:support action="#{seleccionarVisaciones.buscarCargos}"
								event="onchange" reRender="panelAgregarVisacion" />
							<f:selectItems
								value="#{seleccionarVisaciones.listUnidadesOrganizacionales}" />
						</h:selectOneMenu>

						<h:outputText 
							value="#{messages['seleccionarvisaciones_cargodp']}"
							style="font-weight: bold;" />
						<h:selectOneMenu id="cargoList"
							value="#{seleccionarVisaciones.cargo}" style=" width: 350px;">
							<a4j:support action="#{seleccionarVisaciones.buscarPersonas}"
								event="onchange" reRender="panelAgregarVisacion" />
							<f:selectItems value="#{seleccionarVisaciones.listCargos}" />
						</h:selectOneMenu>

						<h:outputText
							value="#{messages['seleccionarvisaciones_personadp']}"
							style="font-weight: bold;" />
						<h:selectOneMenu id="personaList"
							value="#{seleccionarVisaciones.persona}" style=" width: 350px;">
							<f:selectItems value="#{seleccionarVisaciones.listPersonas}" />
						</h:selectOneMenu>

					</h:panelGrid>
					<h:panelGrid columns="1"
						style="text-align: left; width:100%; background-color:#FFF; border-top:1px solid #CCC;">
						<a4j:commandButton id="addDestinatario"
							value="#{messages['seleccionarvisaciones_agregar']}"
							action="#{seleccionarVisaciones.agregar}"
							reRender="idPanelVisaciones, tableVisaciones, idPanelTableVisaciones, panelAgregarVisacion" />
					</h:panelGrid>
				</h:form>
			</rich:tab>
			<rich:tab id="buscarUsuarioTab"
				label="#{messages['seleccionarvisaciones_buscar_usuario']}"
				action="#{seleccionarPersonasBean.limpiarFormulario(true)}">
				<h:form id="buscarUsuarioCrearResolucionVisacion">
					<rich:panel id="panelBuscarUsuarioFiltro">
						<h:panelGrid columns="1">
							<h:panelGrid columns="2">
								<h:outputLabel
									value="#{messages['seleccionarvisaciones_usuariodp']}"
									for="idUsuario" 
									styleClass="name" />
								<h:inputText value="#{seleccionarPersonasBean.usuario}"
									id="idUsuario" />
							</h:panelGrid>
							<h:panelGrid columns="2">
								<h:outputLabel
									value="#{messages['seleccionarvisaciones_nombredp']}"
									for="nombreUsuario" 
									styleClass="name" />
								<h:inputText value="#{seleccionarPersonasBean.nombres}"
									id="nombreUsuario" />
							</h:panelGrid>
							<h:panelGrid columns="2">
								<h:outputLabel
									value="#{messages['seleccionarvisaciones_apellidodp']}"
									for="apellidoUsuario" 
									styleClass="name" />
								<h:inputText value="#{seleccionarPersonasBean.apellido}"
									id="apellidoUsuario" />
							</h:panelGrid>
						</h:panelGrid>
						<a4j:commandButton id="addDestinatarioExterno"
							value="#{messages['seleccionarvisaciones_buscar']}"
							action="#{seleccionarPersonasBean.buscar}"
							reRender="copiaDirecto, agregar,tableUsuariosEncontrados, panelBuscarUsuario" />
					</rich:panel>

					<h:panelGrid columns="1" id="panelBuscarUsuario">
						<rich:dataTable var="_usr" id="tableUsuariosEncontrados" rows="5"
							value="#{seleccionarPersonasBean.resultadoBusqueda}"
							rendered="#{not empty seleccionarPersonasBean.resultadoBusqueda}"
							width="100%"
							onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
							<rich:column>
								<f:facet name="header">
									<h:outputText
										value="#{messages['seleccionarvisaciones_nombres']}" />
								</f:facet>
								<h:outputText value="#{_usr.nombres}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText
										value="#{messages['seleccionarvisaciones_apellido_paterno']}" />
								</f:facet>
								<h:outputText value="#{_usr.apellidoPaterno}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText
										value="#{messages['seleccionarvisaciones_apellido_materno']}" />
								</f:facet>
								<h:outputText value="#{_usr.apellidoMaterno}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText
										value="#{messages['seleccionarvisaciones_seleccionar']}" />
								</f:facet>
								<h:panelGrid columns="1" id="agregar">
									<a4j:commandButton id="botonAgregarDestinatario"
										value="#{messages['seleccionarvisaciones_agregar']}"
										action="#{seleccionarVisaciones.agregarDestinatarioById(_usr.id)}"
										reRender="idPanelTableVisaciones" />
								</h:panelGrid>
							</rich:column>
							<f:facet name="footer">
								<rich:datascroller />
							</f:facet>
						</rich:dataTable>
					</h:panelGrid>
				</h:form>

			</rich:tab>
		</rich:tabPanel>
	</rich:panel>
	<br />
	<rich:panel id="idPanelTableVisaciones">
		<h:form>
			<rich:dataTable var="visas" id="tableVisaciones"
				value="#{seleccionarVisaciones.visaciones}"
				rendered="#{not empty seleccionarVisaciones.visaciones}"
				onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
				onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
				<f:facet name="header">
					<rich:columnGroup>
						<rich:column width="20px">
							<h:outputText value="N&deg;" />
						</rich:column>
						<rich:column>
							<h:outputText
								value="#{messages['seleccionarvisaciones_nombres']}" />
						</rich:column>
						<rich:column width="20px">
							<h:outputText
								value="#{messages['seleccionarvisaciones_eliminar']}" />
						</rich:column>
					</rich:columnGroup>
				</f:facet>
				<rich:subTable onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="visas">
					<rich:column>
						<h:outputLabel value="#{visas.orden}" />
					</rich:column>
					<rich:column>
						<h:outputLabel value="#{visas.persona.getNombreApellido()}" />
					</rich:column>
					<rich:column>
						<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
							action="#{seleccionarVisaciones.eliminar(visas.orden)}"
							reRender="idPanelVisaciones, tableVisaciones, idPanelTableVisaciones," />
					</rich:column>
				</rich:subTable>
			</rich:dataTable>
		</h:form>
	</rich:panel>

</ui:composition>
