<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>



<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">


	<rich:panel id="agregarAsistente">
		<f:facet name="header">#{messages['seleccionarasistenteevento_asistente_evento']}</f:facet>
		<rich:tabPanel switchType="ajax" style=" width: 100%;">
			<rich:tab label="Asistente">
				<h:form id="formAsistente">
					<h:panelGrid id="panelAgregarAsistente" columns="3">
						<h:panelGroup>
							<h:outputText
								value="#{messages['seleccionarasistenteevento_organizacion']}"
								style="font-weight: bold;" />
							<h:selectOneMenu
								value="#{seleccionarAsistenteEvento.organizacion}"
								id="organizacionlist">
								<a4j:support
									action="#{seleccionarAsistenteEvento.buscarDivisiones}"
									event="onchange" reRender="panelAgregarAsistente" />
								<f:selectItems
									value="#{seleccionarAsistenteEvento.listOrganizacion}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup>
							<h:outputText
								value="#{messages['seleccionarasistenteevento_division']}"
								style="font-weight: bold;" />
							<h:selectOneMenu value="#{seleccionarAsistenteEvento.division}"
								id="divisionlist">
								<a4j:support
									action="#{seleccionarAsistenteEvento.buscarDepartamentos}"
									event="onchange" reRender="panelAgregarAsistente" />
								<f:selectItems
									value="#{seleccionarAsistenteEvento.listDivision}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup>
							<h:outputText
								value="#{messages['seleccionarasistenteevento_departamento']}"
								style="font-weight: bold;" />
							<h:selectOneMenu
								value="#{seleccionarAsistenteEvento.departamento}"
								id="departamentolist">
								<a4j:support
									action="#{seleccionarAsistenteEvento.buscarUnidadesOrganizacionales}"
									event="onchange" reRender="panelAgregarAsistente" />
								<f:selectItems
									value="#{seleccionarAsistenteEvento.listDepartamento}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup>
							<h:outputText
								value="#{messages['seleccionarasistenteevento_unidad']}"
								style="font-weight: bold;" />
							<h:selectOneMenu
								value="#{seleccionarAsistenteEvento.unidadOrganizacional}"
								id="uolist">
								<a4j:support action="#{seleccionarAsistenteEvento.buscarCargos}"
									event="onchange" reRender="panelAgregarAsistente" />
								<f:selectItems
									value="#{seleccionarAsistenteEvento.listUnidadesOrganizacionales}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup>
							<h:outputText
								value="#{messages['seleccionarasistenteevento_cargo']}"
								style="font-weight: bold;" />
							<h:selectOneMenu id="cargoList"
								value="#{seleccionarAsistenteEvento.cargo}">
								<a4j:support
									action="#{seleccionarAsistenteEvento.buscarPersonas}"
									event="onchange" reRender="panelAgregarAsistente" />
								<f:selectItems value="#{seleccionarAsistenteEvento.listCargos}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup>
							<h:outputText
								value="#{messages['seleccionarasistenteevento_persona']}"
								style="font-weight: bold;" />
							<h:selectOneMenu id="personaList"
								value="#{seleccionarAsistenteEvento.persona}">
								<f:selectItems
									value="#{seleccionarAsistenteEvento.listPersonas}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<a4j:commandButton id="addAsistente"
							value="#{messages['seleccionarasistenteevento_agregar_asistente']}"
							action="#{seleccionarAsistenteEvento.agregarAsistente}"
							reRender="agregarAsistente" />
					</h:panelGrid>
				</h:form>
			</rich:tab>
		</rich:tabPanel>
		<br />
		<rich:panel>
			<h:form>
				<rich:dataTable var="itemAA" id="tableAsistentes"
					value="#{seleccionarAsistenteEvento.asistentesEvento}"
					rendered="#{not empty seleccionarAsistenteEvento.asistentesEvento}"
					width="100%" onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column>
								<h:outputText
									value="#{messages['seleccionarasistenteevento_asistentes']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['seleccionarasistenteevento_eliminar']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="expediente">
						<rich:column>
							<h:outputLabel value="#{itemAA.persona.nombreApellido}" />
						</rich:column>
						<rich:column>
							<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
								action="#{seleccionarAsistenteEvento.eliminarAsistenteEvento(itemAA)}"
								reRender="agregarAsistente" />
						</rich:column>
					</rich:subTable>
				</rich:dataTable>
			</h:form>
		</rich:panel>
	</rich:panel>

</ui:composition>
