<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>



<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	

		<h:form id="formDestinatarioEmisor">
			<a4j:outputPanel ajaxRendered="true">
				<h:messages globalOnly="false" styleClass="message" />
			</a4j:outputPanel>
			<h:panelGrid id="panelAgregarDestinatario" columns="3">
				<h:outputText
					value="#{messages['seleccionaremisordocumento_organizacion']}"
					style="font-weight: bold;" />
				<h:outputText value=":" style="font-weight: bold;" />
				<h:selectOneMenu value="#{seleccionarEmisorDocumento.organizacion}"
					id="organizacionlist" style=" width: 350px;">
					<a4j:support
						action="#{seleccionarEmisorDocumento.buscarDivisiones}"
						event="onchange" reRender="panelAgregarDestinatario" />
					<f:selectItems
						value="#{seleccionarEmisorDocumento.listOrganizacion}" />
				</h:selectOneMenu>
				<h:outputText
					value="#{messages['seleccionaremisordocumento_division']}"
					style="font-weight: bold;" />
				<h:outputText value=":" style="font-weight: bold;" />
				<h:selectOneMenu value="#{seleccionarEmisorDocumento.division}"
					id="divisionlist" style=" width: 350px;">
					<a4j:support
						action="#{seleccionarEmisorDocumento.buscarDepartamentos}"
						event="onchange" reRender="panelAgregarDestinatario" />
					<f:selectItems value="#{seleccionarEmisorDocumento.listDivision}" />
				</h:selectOneMenu>
				<h:outputText
					value="#{messages['seleccionaremisordocumento_departamento']}"
					style="font-weight: bold;" />
				<h:outputText value=":" style="font-weight: bold;" />
				<h:selectOneMenu value="#{seleccionarEmisorDocumento.departamento}"
					id="departamentolist" style=" width: 350px;">
					<a4j:support
						action="#{seleccionarEmisorDocumento.buscarUnidadesOrganizacionales}"
						event="onchange" reRender="panelAgregarDestinatario" />
					<f:selectItems
						value="#{seleccionarEmisorDocumento.listDepartamento}" />
				</h:selectOneMenu>
				<h:outputText
					value="#{messages['seleccionaremisordocumento_unidad']}"
					style="font-weight: bold;" />
				<h:outputText value=":" style="font-weight: bold;" />
				<h:selectOneMenu
					value="#{seleccionarEmisorDocumento.unidadOrganizacional}"
					id="uolist" style=" width: 350px;">
					<a4j:support action="#{seleccionarEmisorDocumento.buscarCargos}"
						event="onchange" reRender="panelAgregarDestinatario" />
					<f:selectItems
						value="#{seleccionarEmisorDocumento.listUnidadesOrganizacionales}" />
				</h:selectOneMenu>
				<h:outputText
					value="#{messages['seleccionaremisordocumento_cargo']}"
					style="font-weight: bold;" />
				<h:outputText value=":" style="font-weight: bold;" />
				<h:selectOneMenu id="cargoList"
					value="#{seleccionarEmisorDocumento.cargo}" style=" width: 350px;">
					<a4j:support action="#{seleccionarEmisorDocumento.buscarPersonas}"
						event="onchange" reRender="panelAgregarDestinatario" />
					<f:selectItems value="#{seleccionarEmisorDocumento.listCargos}" />
				</h:selectOneMenu>
				<h:outputText
					value="#{messages['seleccionaremisordocumento_persona']}"
					style="font-weight: bold;" />
				<h:outputText value=":" style="font-weight: bold;" />
				<h:selectOneMenu id="personaList"
					value="#{seleccionarEmisorDocumento.persona}"
					style=" width: 350px;">
					<f:selectItems value="#{seleccionarEmisorDocumento.listPersonas}" />
				</h:selectOneMenu>
				<h:outputText value="" style="font-weight: bold;" />
				<h:outputText value="" style="font-weight: bold;" />
				<a4j:commandButton id="addDestinatario"
					value="#{messages['seleccionaremisordocumento_seleccionar_emisor']}"
					action="#{seleccionarEmisorDocumento.agregarDestinatario}"
					reRender="formDestinatarioEmisor" />
			</h:panelGrid>
			<br />
				<rich:dataTable var="itemDD" id="tableDestinatarios"
					value="#{seleccionarEmisorDocumento.destinatariosDocumento}"
					width="100%" onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
					<rich:column>
						<f:facet name="header">
							<h:outputText
									value="#{messages['seleccionaremisordocumento_emisor']}" />
						</f:facet>
						<h:outputLabel value="#{itemDD.descripcion}" />
					</rich:column>
					<rich:column style="width:25px; text-align:center;">
						<f:facet name="header" style="width:25px; text-align:center;">
							<img src="../imagenes/ico_bot_eliminar_head.gif"
								style="border: none; padding-left: 7px;" />
						</f:facet>
						<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
							action="#{seleccionarEmisorDocumento.eliminarDestinatarioDocumento(itemDD.descripcion)}"
							reRender="formDestinatarioEmisor" />
					</rich:column>
				</rich:dataTable>
			</h:form>

</ui:composition>
