<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY deg "">
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">


	<rich:panel id="agregarvisaciones">
		<f:facet name="header">#{messages['seleccionarvisacionesministerio_visaciones_documento']}</f:facet>
		<a4j:outputPanel ajaxRendered="true">
			<h:messages />
		</a4j:outputPanel>
		<h:form id="formDestinatario">
			<h:panelGrid id="panelAgregarVisacion" columns="3">
				<h:panelGroup>
					<h:outputText
						value="#{messages['seleccionarvisacionesministerio_organizacion']}"
						style="font-weight: bold;" />
					<h:selectOneMenu
						value="#{seleccionarVisacionesMinisterio.organizacion}"
						id="organizacionlist">
						<a4j:support
							action="#{seleccionarVisacionesMinisterio.buscarDivisiones}"
							event="onchange" reRender="panelAgregarVisacion" />
						<f:selectItems
							value="#{seleccionarVisacionesMinisterio.listOrganizacion}" />
					</h:selectOneMenu>
				</h:panelGroup>

				<h:panelGroup>
					<h:outputText
						value="#{messages['seleccionarvisacionesministerio_division']}"
						style="font-weight: bold;" />
					<h:selectOneMenu
						value="#{seleccionarVisacionesMinisterio.division}"
						id="divisionlist">
						<a4j:support
							action="#{seleccionarVisacionesMinisterio.buscarDepartamentos}"
							event="onchange" reRender="panelAgregarVisacion" />
						<f:selectItems
							value="#{seleccionarVisacionesMinisterio.listDivision}" />
					</h:selectOneMenu>
				</h:panelGroup>
				<h:panelGroup>
					<h:outputText
						value="#{messages['seleccionarvisacionesministerio_departamento']}"
						style="font-weight: bold;" />
					<h:selectOneMenu
						value="#{seleccionarVisacionesMinisterio.departamento}"
						id="departamentolist">
						<a4j:support
							action="#{seleccionarVisacionesMinisterio.buscarUnidadesOrganizacionales}"
							event="onchange" reRender="panelAgregarVisacion" />
						<f:selectItems
							value="#{seleccionarVisacionesMinisterio.listDepartamento}" />
					</h:selectOneMenu>
				</h:panelGroup>
				<h:panelGroup>
					<h:outputText
						value="#{messages['seleccionarvisacionesministerio_unidad']}"
						style="font-weight: bold;" />
					<h:selectOneMenu
						value="#{seleccionarVisacionesMinisterio.unidadOrganizacional}"
						id="uolist">
						<a4j:support
							action="#{seleccionarVisacionesMinisterio.buscarCargos}"
							event="onchange" reRender="panelAgregarVisacion" />
						<f:selectItems
							value="#{seleccionarVisacionesMinisterio.listUnidadesOrganizacionales}" />
					</h:selectOneMenu>
				</h:panelGroup>
				<h:panelGroup>
					<h:outputText
						value="#{messages['seleccionarvisacionesministerio_cargo']}"
						style="font-weight: bold;" />
					<h:selectOneMenu id="cargoList"
						value="#{seleccionarVisacionesMinisterio.cargo}">
						<a4j:support
							action="#{seleccionarVisacionesMinisterio.buscarPersonas}"
							event="onchange" reRender="panelAgregarVisacion" />
						<f:selectItems
							value="#{seleccionarVisacionesMinisterio.listCargos}" />
					</h:selectOneMenu>
				</h:panelGroup>
				<h:panelGroup>
					<h:outputText
						value="#{messages['seleccionarvisacionesministerio_persona']}"
						style="font-weight: bold;" />
					<h:selectOneMenu id="personaList"
						value="#{seleccionarVisacionesMinisterio.persona}">
						<f:selectItems
							value="#{seleccionarVisacionesMinisterio.listPersonas}" />
					</h:selectOneMenu>
				</h:panelGroup>
				<a4j:commandButton id="addDestinatario"
					value="#{messages['seleccionarvisacionesministerio_agregar']}"
					action="#{seleccionarVisacionesMinisterio.agregar}"
					reRender="idPanelVisaciones, tableVisaciones, idPanelTableVisaciones, panelAgregarVisacion" />
			</h:panelGrid>
		</h:form>
	</rich:panel>
	<br />
	<rich:panel id="idPanelTableVisaciones">
		<h:form>
			<rich:dataTable var="visas" id="tableVisaciones"
				value="#{seleccionarVisacionesMinisterio.visaciones}"
				rendered="#{not empty seleccionarVisacionesMinisterio.visaciones}"
				onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
				onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
				<f:facet name="header">
					<rich:columnGroup>
						<rich:column width="20px">
							<h:outputText value="N&deg;" />
						</rich:column>
						<rich:column>
							<h:outputText
								value="#{messages['seleccionarvisacionesministerio_nombres']}" />
						</rich:column>
						<rich:column width="20px"
							rendered="#{!identity.hasRole('bandejaAsesor') and !identity.hasRole('bandejaMinistro')}">
							<h:outputText
								value="#{messages['seleccionarvisacionesministerio_eliminar']}" />
						</rich:column>
					</rich:columnGroup>
				</f:facet>
				<rich:subTable onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="visas">
					<rich:column>
						<h:outputLabel value="#{visas.orden}" />
					</rich:column>
					<rich:column>
						<h:outputLabel value="#{visas.persona.getNombreApellido()}" />
					</rich:column>
					<rich:column
						rendered="#{!identity.hasRole('bandejaAsesor') and !identity.hasRole('bandejaMinistro')}">
						<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
							action="#{seleccionarVisacionesMinisterio.eliminar(visas.orden)}"
							reRender="idPanelVisaciones, tableVisaciones, idPanelTableVisaciones," />
					</rich:column>
				</rich:subTable>
			</rich:dataTable>
		</h:form>
	</rich:panel>

</ui:composition>
