<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>



<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">


	<rich:panel id="agregarDestinatario">
		<f:facet name="header">#{messages['seleccionaremisorprovidencia_emisor_documento']}</f:facet>
		<h:form id="formDestinatario">
			<h:panelGrid id="panelAgregarDestinatario" columns="3">
				<h:panelGroup>
					<h:outputText
						value="#{messages['seleccionaremisorprovidencia_jefedp']}"
						style="font-weight: bold;" />
					<h:selectOneMenu value="#{seleccionarEmisorDocumento.persona}"
						id="idJefeList">
						<f:selectItems value="#{seleccionarEmisorDocumento.listaJefes}" />
					</h:selectOneMenu>
				</h:panelGroup>

				<a4j:commandButton id="addDestinatario"
					value="#{messages['seleccionaremisorprovidencia_seleccionar_emisor']}"
					action="#{seleccionarEmisorDocumento.agregarDestinatarioProvidencia}"
					reRender="agregarDestinatario" />
			</h:panelGrid>
		</h:form>
		<br />
		<rich:panel>
			<h:form>
				<rich:dataTable var="itemDD" id="tableDestinatarios"
					value="#{seleccionarEmisorDocumento.destinatariosDocumento}"
					rendered="#{not empty seleccionarEmisorDocumento.destinatariosDocumento}"
					width="100%" onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
					<f:facet name="header">
						<rich:columnGroup>
							<rich:column>
								<h:outputText
									value="#{messages['seleccionaremisorprovidencia_emisor']}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{messages['seleccionaremisorprovidencia_eliminar']}" />
							</rich:column>
						</rich:columnGroup>
					</f:facet>
					<rich:subTable
						onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="expediente">
						<rich:column>
							<h:outputLabel value="#{itemDD.descripcion}" />
						</rich:column>
						<rich:column>
							<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
								action="#{seleccionarEmisorDocumento.eliminarDestinatarioDocumento(itemDD.descripcion)}"
								reRender="agregarDestinatario" />
						</rich:column>
					</rich:subTable>
				</rich:dataTable>
			</h:form>
		</rich:panel>
	</rich:panel>

</ui:composition>
