<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>



<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<a4j:outputPanel ajaxRendered="true">
		<h:messages globalOnly="true" styleClass="message" />
	</a4j:outputPanel>


	<rich:tabPanel switchType="ajax" style=" width: 100%;">

		<rich:tab
			label="#{messages['seleccionardistribuciondocumento_destinatario']}">
			<h:form id="formAgregarDistribucion">
				<h:panelGrid id="panelAgregarDistribucion" columns="3"
					style=" text-align: left;">

					<h:outputText 
						value="#{messages['seleccionardistribuciondocumento_organizacion']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<h:selectOneMenu
						value="#{seleccionarDistribucionDocumento.organizacion}"
						id="organizacionlist" style=" width: 350px;">
						<a4j:support
							action="#{seleccionarDistribucionDocumento.buscarDivisiones}"
							event="onchange" reRender="panelAgregarDistribucion" />
						<f:selectItems
							value="#{seleccionarDistribucionDocumento.listOrganizacion}" />
					</h:selectOneMenu>
					<h:outputText
						value="#{messages['seleccionardistribuciondocumento_division']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<h:selectOneMenu
						value="#{seleccionarDistribucionDocumento.division}"
						id="divisionlist" style=" width: 350px;">
						<a4j:support
							action="#{seleccionarDistribucionDocumento.buscarDepartamentos}"
							event="onchange" reRender="panelAgregarDistribucion" />
						<f:selectItems
							value="#{seleccionarDistribucionDocumento.listDivision}" />
					</h:selectOneMenu>

					<h:outputText
						value="#{messages['seleccionardistribuciondocumento_departamento']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<h:selectOneMenu
						value="#{seleccionarDistribucionDocumento.departamento}"
						id="departamentolist" style=" width: 350px;">
						<a4j:support
							action="#{seleccionarDistribucionDocumento.buscarUnidadesOrganizacionales}"
							event="onchange" reRender="panelAgregarDistribucion" />
						<f:selectItems
							value="#{seleccionarDistribucionDocumento.listDepartamento}" />
					</h:selectOneMenu>

					<h:outputText
						value="#{messages['seleccionardistribuciondocumento_unidad']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<h:selectOneMenu
						value="#{seleccionarDistribucionDocumento.unidadOrganizacional}"
						id="uolist" style=" width: 350px;">
						<a4j:support
							action="#{seleccionarDistribucionDocumento.buscarCargos}"
							event="onchange" reRender="panelAgregarDistribucion" />
						<f:selectItems
							value="#{seleccionarDistribucionDocumento.listUnidadesOrganizacionales}" />
					</h:selectOneMenu>

					<h:outputText
						value="#{messages['seleccionardistribuciondocumento_cargo']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<h:selectOneMenu id="cargoList"
						value="#{seleccionarDistribucionDocumento.cargo}"
						style=" width: 350px;">
						<a4j:support
							action="#{seleccionarDistribucionDocumento.buscarPersonas}"
							event="onchange" reRender="panelAgregarDistribucion" />
						<f:selectItems
							value="#{seleccionarDistribucionDocumento.listCargos}" />
					</h:selectOneMenu>

					<h:outputText
						value="#{messages['seleccionardistribuciondocumento_persona']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<h:selectOneMenu id="personaList"
						value="#{seleccionarDistribucionDocumento.persona}"
						style=" width: 350px;">
						<f:selectItems
							value="#{seleccionarDistribucionDocumento.listPersonas}" />
					</h:selectOneMenu>

					<h:outputText value="" style="font-weight: bold;" />
					<h:outputText value="" style="font-weight: bold;" />
					<a4j:commandButton id="addDestinatario1"
						value="#{messages['seleccionardistribuciondocumento_agregar']}"
						action="#{seleccionarDistribucionDocumento.agregarDistribucion}"
						reRender="formAgregarDistribucion, idFormTableDestinatarios" />

					<rich:separator lineType="double" height="4" width="100%"
						align="center" />
					<rich:separator lineType="double" height="4" width="100%"
						align="center" />
					<rich:separator lineType="double" height="4" width="100%"
						align="center" />

					<h:outputText
						value="#{messages['seleccionardistribuciondocumento_destinatarios_frecuentes']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td align="left"><h:selectOneMenu
									value="#{seleccionarDistribucionDocumento.grupo}"
									style=" width: 350px;">
									<f:selectItems
										value="#{seleccionarDistribucionDocumento.listDestFrec}" />
								</h:selectOneMenu></td>
							<td align="left"><a4j:commandButton
									image="/imagenes/agregar_directo_01.png"
									style="border: none; padding-left:5px; 
                            background-color:#FFFFFF"
									alt="#{messages['seleccionardistribuciondocumento_alt_agregar_destinatario']}"
									action="#{seleccionarDistribucionDocumento.agregarDistribucion}"
									reRender="formAgregarDistribucion, idFormTableDestinatarios" />
							</td>
						</tr>
					</table>
				</h:panelGrid>
			</h:form>
		</rich:tab>

		<rich:tab
			label="#{messages['seleccionardistribuciondocumento_destinatario_externo']}">
			<h:form>
				<h:panelGrid id="idPanelDestinatarioExterno" columns="3"
					style=" text-align: left;">

					<h:outputText
						value="#{messages['seleccionardistribuciondocumento_dependencia']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<h:selectOneMenu id="idSelectDependencia"
						value="#{seleccionarDistribucionDocumento.dependencia}"
						style=" width: 350px;">
						<a4j:support
							action="#{seleccionarDistribucionDocumento.buscarPersonasExternas}"
							event="onchange" reRender="idSelectpersonaExterna" />
						<f:selectItems
							value="#{seleccionarDistribucionDocumento.listDependencia}" />
					</h:selectOneMenu>

					<h:outputText
						value="#{messages['seleccionardistribuciondocumento_persona_externa']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<h:selectOneMenu id="idSelectpersonaExterna"
						value="#{seleccionarDistribucionDocumento.personaExterna}"
						style=" width: 350px;">
						<f:selectItems
							value="#{seleccionarDistribucionDocumento.listPersonasExternas}" />
					</h:selectOneMenu>

					<a4j:commandButton id="addDestinatarioExterno"
						value="#{messages['seleccionardistribuciondocumento_agregar']}"
						action="#{seleccionarDistribucionDocumento.agregarDestinatarioExterno}"
						reRender="idFormTableDestinatarios, idPanelDestinatarioExterno" />
				</h:panelGrid>
			</h:form>
		</rich:tab>

		<rich:tab
			label="#{messages['seleccionardistribuciondocumento_listas_destinatarios_frecuentes']}">
			<h:form id="formSeleccionarLista">
				<rich:dataTable id="tablaListas"
					value="#{seleccionarDistribucionDocumento.listListas}" var="lista"
					style="border-top: 1px #CCCCCC solid;">
					<rich:column style="text-align: left;">
						<f:facet name="header">#{messages['seleccionardistribuciondocumento_nombre_lista']}</f:facet>
						<h:outputText value="#{lista.nombreLista}" />
					</rich:column>
					<rich:column style="width:25px; text-align:center;">
						<f:facet name="header" style="width:25px; text-align:center;">
							<img src="../imagenes/ico_select_ok_head.gif"
								style="border: none; padding-left: 4px;" />
						</f:facet>
						<a4j:commandButton image="/imagenes/ico_select_ok.gif"
							style="border: none; background-color:#FFFFFF;"
							action="#{seleccionarDistribucionDocumento.agregarListaDistribucion(lista.id)}"
							reRender="idFormTableDestinatarios" />
					</rich:column>
				</rich:dataTable>
			</h:form>
		</rich:tab>
		<rich:tab id="buscarUsuarioTab"
			label="#{messages['seleccionardistribuciondocumento_buscar_usuario']}"
			action="#{seleccionarPersonasBean.limpiarFormulario(true)}">
			<h:form id="buscarUsuarioCrearResolucionDistribucion">
				<rich:panel id="panelBuscarUsuarioFiltro">
					<h:panelGrid columns="1">
						<h:panelGrid columns="2">
							<h:outputLabel
								value="#{messages['seleccionardistribuciondocumento_usuariodp']}"
								for="idUsuario" 
								styleClass="name" />
							<h:inputText value="#{seleccionarPersonasBean.usuario}"
								id="idUsuario" />
						</h:panelGrid>
						<h:panelGrid columns="2">
							<h:outputLabel
								value="#{messages['seleccionardistribuciondocumento_nombredp']}"
								for="nombreUsuario" 
								styleClass="name" />
							<h:inputText value="#{seleccionarPersonasBean.nombres}"
								id="nombreUsuario" />
						</h:panelGrid>
						<h:panelGrid columns="2">
							<h:outputLabel
								value="#{messages['seleccionardistribuciondocumento_apellidodp']}"
								for="apellidoUsuario" 
								styleClass="name" />
							<h:inputText value="#{seleccionarPersonasBean.apellido}"
								id="apellidoUsuario" />
						</h:panelGrid>
					</h:panelGrid>
					<a4j:commandButton id="addDestinatarioExterno"
						value="#{messages['seleccionardistribuciondocumento_buscar']}"
						action="#{seleccionarPersonasBean.buscar}"
						reRender="copiaDirecto, agregar,tableUsuariosEncontrados, panelBuscarUsuario" />
				</rich:panel>

				<h:panelGrid columns="1" id="panelBuscarUsuario">
					<rich:dataTable var="_usr" id="tableUsuariosEncontrados" rows="5"
						value="#{seleccionarPersonasBean.resultadoBusqueda}"
						rendered="#{not empty seleccionarPersonasBean.resultadoBusqueda}"
						width="100%" onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
						<rich:column>
							<f:facet name="header">
								<h:outputText
									value="#{messages['seleccionardistribuciondocumento_nombres']}" />
							</f:facet>
							<h:outputText value="#{_usr.nombres}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText
									value="#{messages['seleccionardistribuciondocumento_apellido_paterno']}" />
							</f:facet>
							<h:outputText value="#{_usr.apellidoPaterno}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText
									value="#{messages['seleccionardistribuciondocumento_apellido_materno']}" />
							</f:facet>
							<h:outputText value="#{_usr.apellidoMaterno}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText
									value="#{messages['seleccionardistribuciondocumento_seleccionar']}" />
							</f:facet>
							<h:panelGrid columns="1" id="agregar">
								<a4j:commandButton id="botonAgregarDestinatario"
									value="#{messages['seleccionardistribuciondocumento_agregar']}"
									action="#{seleccionarDistribucionDocumento.agregarPorId(_usr.id)}"
									reRender="idFormTableDestinatarios,tableDestinatarios,buscarUsuarioCrearResolucionDistribucion" />
							</h:panelGrid>
						</rich:column>
						<f:facet name="footer">
							<rich:datascroller />
						</f:facet>
					</rich:dataTable>
				</h:panelGrid>
			</h:form>
		</rich:tab>
		<rich:tab id="buscarDistribucionTab"
			label="#{messages['seleccionardistribuciondocumento_buscar_distribucion']}"
			action="#{seleccionarPersonasBean.limpiarFormulario(true)}"
			rendered="false">
			<h:form>
				<h:panelGrid id="panelAgregarDistribucion" columns="2"
					style=" text-align: left;">
					<h:outputText
						value="#{messages['seleccionardistribuciondocumento_departamentodp']}"
						style="font-weight: bold;" />
					<h:selectOneMenu
						value="#{seleccionarDistribucionDocumento.departamento}"
						id="departamentolist" style=" width: 350px;">
						<a4j:support
							action="#{seleccionarDistribucionDocumento.buscarUnidadesOrganizacionales}"
							event="onchange" reRender="panelAgregarDistribucion" />
						<f:selectItems
							value="#{seleccionarDistribucionDocumento.listDepartamento}" />
					</h:selectOneMenu>

					<h:outputText
						value="#{messages['seleccionardistribuciondocumento_unidaddp']}"
						style="font-weight: bold;" />
					<h:selectOneMenu
						value="#{seleccionarDistribucionDocumento.unidadOrganizacional}"
						id="uolist" style=" width: 350px;">
						<a4j:support
							action="#{seleccionarDistribucionDocumento.buscarCargos}"
							event="onchange" reRender="panelAgregarDistribucion" />
						<f:selectItems
							value="#{seleccionarDistribucionDocumento.listUnidadesOrganizacionales}" />
					</h:selectOneMenu>
					<h:outputText value="" style="font-weight: bold;" />
					<h:outputText value="" style="font-weight: bold;" />
					<a4j:commandButton id="agregarDistribucion"
						value="#{messages['seleccionardistribuciondocumento_agregar']}"
						action="#{seleccionarDistribucionDocumento.agregarDistribucionUnidad()}"
						reRender="formAgregarDistribucion, idFormTableDestinatarios" />
				</h:panelGrid>
			</h:form>
		</rich:tab>
	</rich:tabPanel>

	<br />

	<h:form id="idFormTableDestinatarios">
		<rich:dataTable var="itemDD" id="tableDestinatarios"
			style="border-top: 1px #CCCCCC solid;"
			value="#{seleccionarDistribucionDocumento.distribucionDocumento}"
			width="100%" onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
			onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
			<rich:column style="text-align: left;">
				<f:facet name="header">
					<h:outputText
						value="#{messages['seleccionardistribuciondocumento_destinatarios']}" />
				</f:facet>
				<h:outputText value="#{itemDD.descripcion}" />
			</rich:column>
			<rich:column style="width:25px; text-align:center;">
				<f:facet name="header" style="width:25px; text-align:center;">
					<img src="../imagenes/ico_bot_eliminar_head.gif"
						style="border: none; padding-left: 7px;" />
				</f:facet>
				<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
					style="border: none;"
					action="#{seleccionarDistribucionDocumento.eliminarDistribucionDocumento(itemDD.descripcion)}"
					reRender="idFormTableDestinatarios,tableDestinatarios" />
			</rich:column>
		</rich:dataTable>
	</h:form>

</ui:composition>
