<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>



<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<a4j:outputPanel ajaxRendered="true">
		<h:messages globalOnly="true" styleClass="message" />
	</a4j:outputPanel>


	<rich:tabPanel switchType="ajax" style=" width: 95%;"
		onclick="#{seleccionarDestinatarioDocumento.crear()}">

		<rich:tab
			label="#{messages['seleccionardestinatariodocumento_destinatario']}">
			<h:form id="formDestinatario">
				<h:panelGrid id="panelAgregarDestinatario" columns="3"
					style=" text-align: left;">

					<h:outputText rendered="true" escape="false"
						value="#{messages['seleccionardestinatariodocumento_organizacion']}"
						style="font-weight: bold;"></h:outputText>
					<h:outputText rendered="true" value=":" style="font-weight: bold;" />
					<h:selectOneMenu rendered="true"
						value="#{seleccionarDestinatarioDocumento.organizacion}"
						id="organizacionlist" style=" width: 350px;">
						<a4j:support
							action="#{seleccionarDestinatarioDocumento.buscarDivisiones}"
							event="onchange" reRender="panelAgregarDestinatario" />
						<f:selectItems
							value="#{seleccionarDestinatarioDocumento.listOrganizacion}" />
					</h:selectOneMenu>
					<h:outputText rendered="true" escape="false"
						value="#{messages['seleccionardestinatariodocumento_division']}"
						style="font-weight: bold;" />
					<h:outputText rendered="true" value=":" style="font-weight: bold;" />
					<h:selectOneMenu rendered="true"
						value="#{seleccionarDestinatarioDocumento.division}"
						id="divisionlist" style=" width: 350px;">
						<a4j:support
							action="#{seleccionarDestinatarioDocumento.buscarDepartamentos}"
							event="onchange" reRender="panelAgregarDestinatario" />
						<f:selectItems
							value="#{seleccionarDestinatarioDocumento.listDivision}" />
					</h:selectOneMenu>

					<h:outputText
						value="#{messages['seleccionardestinatariodocumento_departamento']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<h:selectOneMenu
						value="#{seleccionarDestinatarioDocumento.departamento}"
						id="departamentolist" style=" width: 350px;">
						<a4j:support
							action="#{seleccionarDestinatarioDocumento.buscarUnidadesOrganizacionales}"
							event="onchange" reRender="panelAgregarDestinatario" />
						<f:selectItems
							value="#{seleccionarDestinatarioDocumento.listDepartamento}" />
					</h:selectOneMenu>

					<h:outputText
						value="#{messages['seleccionardestinatariodocumento_unidad']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<h:selectOneMenu
						value="#{seleccionarDestinatarioDocumento.unidadOrganizacional}"
						id="uolist" style=" width: 350px;">
						<a4j:support
							action="#{seleccionarDestinatarioDocumento.buscarCargos}"
							event="onchange" reRender="cargoList" />
						<f:selectItems
							value="#{seleccionarDestinatarioDocumento.listUnidadesOrganizacionales}" />
					</h:selectOneMenu>

					<h:outputText
						value="#{messages['seleccionardestinatariodocumento_cargo']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<h:selectOneMenu id="cargoList"
						value="#{seleccionarDestinatarioDocumento.cargo}"
						style=" width: 350px;">
						<a4j:support
							action="#{seleccionarDestinatarioDocumento.buscarPersonas}"
							event="onchange" reRender="personaList" />
						<f:selectItems
							value="#{seleccionarDestinatarioDocumento.listCargos}" />
					</h:selectOneMenu>

					<h:outputText
						value="#{messages['seleccionardestinatariodocumento_persona']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<h:selectOneMenu id="personaList"
						value="#{seleccionarDestinatarioDocumento.persona}"
						style=" width: 350px;">
						<f:selectItems
							value="#{seleccionarDestinatarioDocumento.listPersonas}" />
					</h:selectOneMenu>

					<h:outputText value="" style="font-weight: bold;" />
					<h:outputText value="" style="font-weight: bold;" />
					<a4j:commandButton id="addDestinatario1"
						value="#{messages['seleccionardestinatariodocumento_agregar']}"
						action="#{seleccionarDestinatarioDocumento.agregarDestinatario}"
						reRender="formDestinatario, idFormTableDestinatarios" />

					<rich:separator lineType="double" height="4" width="100%"
						align="center" />
					<rich:separator lineType="double" height="4" width="100%"
						align="center" />
					<rich:separator lineType="double" height="4" width="100%"
						align="center" />

					<h:outputText
						value="#{messages['seleccionardestinatariodocumento_destinatarios_frecuentes']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td align="left"><h:selectOneMenu
									value="#{seleccionarDestinatarioDocumento.grupo}"
									style=" width: 350px;">
									<f:selectItems
										value="#{seleccionarDestinatarioDocumento.listDestFrec}" />
								</h:selectOneMenu></td>
							<td align="left"><a4j:commandButton
									image="/imagenes/agregar_directo_01.png"
									style="border: none; padding-left:5px; 
                            background-color:#FFFFFF"
									alt="#{messages['seleccionardestinatariodocumento_alt_agregar_destinatario']}"
									action="#{seleccionarDestinatarioDocumento.agregarDestinatario}"
									reRender="formDestinatario, idFormTableDestinatarios" /></td>
						</tr>
					</table>
				</h:panelGrid>
			</h:form>
		</rich:tab>

		<rich:tab
			label="#{messages['seleccionardestinatariodocumento_destinatario_externo']}">
			<h:form>
				<h:panelGrid id="idPanelDestinatarioExterno" columns="3"
					style=" text-align: left;">

					<h:outputText
						value="#{messages['seleccionardestinatariodocumento_dependencia']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<h:selectOneMenu id="idSelectDependencia"
						value="#{seleccionarDestinatarioDocumento.dependencia}"
						style=" width: 350px;">
						<a4j:support
							action="#{seleccionarDestinatarioDocumento.buscarPersonasExternas}"
							event="onchange" reRender="idSelectpersonaExterna" />
						<f:selectItems
							value="#{seleccionarDestinatarioDocumento.listDependencia}" />
					</h:selectOneMenu>

					<h:outputText
						value="#{messages['seleccionardestinatariodocumento_persona_externa']}"
						style="font-weight: bold;" />
					<h:outputText value=":" style="font-weight: bold;" />
					<h:selectOneMenu id="idSelectpersonaExterna"
						value="#{seleccionarDestinatarioDocumento.personaExterna}"
						style=" width: 350px;">
						<f:selectItems
							value="#{seleccionarDestinatarioDocumento.listPersonasExternas}" />
					</h:selectOneMenu>

					<a4j:commandButton id="addDestinatarioExterno"
						value="#{messages['seleccionardestinatariodocumento_agregar']}"
						action="#{seleccionarDestinatarioDocumento.agregarDestinatarioExterno()}"
						reRender="idFormTableDestinatarios, idPanelDestinatarioExterno" />
				</h:panelGrid>
			</h:form>
		</rich:tab>

		<rich:tab
			label="#{messages['seleccionardestinatariodocumento_listas_destinatarios_frecuentes']}">
			<h:form id="formSeleccionarLista">
				<rich:dataTable id="tablaListas"
					value="#{seleccionarDestinatarioDocumento.listListas}" var="lista"
					style="border-top: 1px #CCCCCC solid;">
					<rich:column style="text-align: left;">
						<f:facet name="header">#{messages['seleccionardestinatariodocumento_nombre_lista']}</f:facet>
						<h:outputText value="#{lista.nombreLista}" />
					</rich:column>
					<rich:column style="width:25px; text-align:center;">
						<f:facet name="header" style="width:25px; text-align:center;">
							<img src="../imagenes/ico_select_ok_head.gif"
								style="border: none; padding-left: 4px;" />
						</f:facet>
						<a4j:commandButton image="/imagenes/ico_select_ok.gif"
							style="border: none; background-color:#FFFFFF;"
							action="#{seleccionarDestinatarioDocumento.agregarListaDestinatarios(lista.id)}"
							reRender="idFormTableDestinatarios" />
					</rich:column>
				</rich:dataTable>
			</h:form>
		</rich:tab>
		<rich:tab id="buscarUsuarioTab"
			label="#{messages['seleccionardestinatariodocumento_buscar_usuario']}"
			action="#{seleccionarPersonasBean.limpiarFormulario(true)}" 
			reRender="panelBuscarUsuario,panelBuscarUsuarioFiltro">
			
			<h:form>
				<rich:panel id="panelBuscarUsuarioFiltro">
					<h:panelGrid columns="1">
						<h:panelGrid columns="3">
							<h:outputLabel value="#{messages['buscarusuario_usuario']}"
								for="idUsuario" styleClass="name" />
							<h:outputLabel value=":" style="font-weight:bold" />
							<h:inputText value="#{seleccionarPersonasBean.usuario}"
								id="idUsuario" />
						</h:panelGrid>
						<h:panelGrid columns="3">
							<h:outputLabel value="#{messages['buscarusuario_nombre']}"
								for="nombreUsuario" styleClass="name" />
							<h:outputLabel value=":" style="font-weight:bold" />
							<h:inputText value="#{seleccionarPersonasBean.nombres}"
								id="nombreUsuario" />
						</h:panelGrid>
						<h:panelGrid columns="3">
							<h:outputLabel value="#{messages['buscarusuario_apellido']}"
								for="apellidoUsuario" styleClass="name" />
							<h:outputLabel value=":" style="font-weight:bold" />
							<h:inputText value="#{seleccionarPersonasBean.apellido}"
								id="apellidoUsuario" />
						</h:panelGrid>
					</h:panelGrid>
					<a4j:commandButton id="addDestinatarioExterno"
						value="#{messages['buscarusuario_buscar']}"
						action="#{seleccionarPersonasBean.buscar}"
						reRender="tableUsuariosEncontrados, panelBuscarUsuario" />
				</rich:panel>
			
				<h:panelGrid columns="1" id="panelBuscarUsuario">
					<rich:dataTable var="_usr" id="tableUsuariosEncontrados" rows="5"
						value="#{seleccionarPersonasBean.resultadoBusqueda}"
						rendered="#{not empty seleccionarPersonasBean.resultadoBusqueda}"
						width="100%" onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
						<rich:column>
							<f:facet name="header">
								<h:outputText value="#{messages['buscarusuario_nombres']}" />
							</f:facet>
							<h:outputText value="#{_usr.nombres}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="#{messages['buscarusuario_apellido_paterno']}" />
							</f:facet>
							<h:outputText value="#{_usr.apellidoPaterno}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="#{messages['buscarusuario_apellido_materno']}" />
							</f:facet>
							<h:outputText value="#{_usr.apellidoMaterno}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="#{messages['buscarusuario_seleccionar']}" />
							</f:facet>
							<h:panelGrid columns="1">
								<a4j:commandButton id="botonAgregarDestinatario"
									value="#{messages['buscarusuario_agregar']}"
									action="#{seleccionarDestinatarioDocumento.agregarDestinatarioById(_usr.id)}"
									reRender="idFormTableDestinatarios, formDestinatarioExpediente" />
							</h:panelGrid>
						</rich:column>
						<f:facet name="footer">
							<rich:datascroller />
						</f:facet>
					</rich:dataTable>
				</h:panelGrid>
			</h:form>
		</rich:tab>
	</rich:tabPanel>

	<br />

	<h:form id="idFormTableDestinatarios">
		<rich:dataTable var="itemDD" id="tableDestinatarios"
			style="border-top: 1px #CCCCCC solid;"
			value="#{seleccionarDestinatarioDocumento.destinatariosDocumento}"
			width="100%" onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
			onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
			<rich:column id="desttext" style="text-align: left;">
				<f:facet name="header">
					<h:outputText
						value="#{messages['seleccionardestinatariodocumento_destinatarios']}" />
				</f:facet>
				<h:outputText value="#{itemDD.descripcion}" />
			</rich:column>
			<rich:column style="width:25px; text-align:center;">
				<f:facet name="header" style="width:25px; text-align:center;">
					<img src="../imagenes/ico_bot_eliminar_head.gif"
						style="border: none; padding-left: 7px;" />
				</f:facet>
				<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
					style="border: none;"
					action="#{seleccionarDestinatarioDocumento.eliminarDestinatarioDocumento(itemDD)}"
					reRender="tableDestinatarios,buscarUsuarioTab,idFormTableDestinatarios,formDestinatarios" />
			</rich:column>
		</rich:dataTable>
	</h:form>

</ui:composition>
