<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY deg "">
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>



<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">


	<rich:panel id="agregarFirmas">
		<f:facet name="header">#{messages['seleccionarfirmas_firmas_documento']}</f:facet>
		<a4j:outputPanel ajaxRendered="true">
			<h:messages />
		</a4j:outputPanel>
		<rich:tabPanel switchType="ajax" style=" width: 100%;">
			<rich:tab label="#{messages['seleccionarfirmas_destinatario']}">
				<h:form id="formDestinatario">
					<h:panelGrid id="panelAgregarFirmas" columns="3"
						style=" text-align: left;">
						<h:outputText rendered="true"
							value="#{messages['seleccionarfirmas_organizacion']}"
							style="font-weight: bold;" />
						<h:outputText rendered="true" value=":" style="font-weight: bold;" />
						<h:selectOneMenu rendered="true"
							value="#{seleccionarFirmas.organizacion}" id="organizacionlist"
							style=" width: 350px;">
							<a4j:support action="#{seleccionarFirmas.buscarDivisiones}"
								event="onchange" reRender="panelAgregarFirmas" />
							<f:selectItems value="#{seleccionarFirmas.listOrganizacion}" />
						</h:selectOneMenu>

						<h:outputText rendered="true"
							value="#{messages['seleccionarfirmas_division']}"
							style="font-weight: bold;" />
						<h:outputText rendered="true" value=":" style="font-weight: bold;" />
						<h:selectOneMenu rendered="true"
							value="#{seleccionarFirmas.division}" id="divisionlist"
							style=" width: 350px;">
							<a4j:support action="#{seleccionarFirmas.buscarDepartamentos}"
								event="onchange" reRender="panelAgregarFirmas" />
							<f:selectItems value="#{seleccionarFirmas.listDivision}" />
						</h:selectOneMenu>

						<h:outputText
							value="#{messages['seleccionarfirmas_departamento']}"
							style="font-weight: bold;" />
						<h:outputText value=":" style="font-weight: bold;" />
						<h:selectOneMenu value="#{seleccionarFirmas.departamento}"
							id="departamentolist" style=" width: 350px;">
							<a4j:support
								action="#{seleccionarFirmas.buscarUnidadesOrganizacionales}"
								event="onchange" reRender="panelAgregarFirmas" />
							<f:selectItems value="#{seleccionarFirmas.listDepartamento}" />
						</h:selectOneMenu>

						<h:outputText 
							value="#{messages['seleccionarfirmas_unidad']}"
							style="font-weight: bold;" />
						<h:outputText value=":" style="font-weight: bold;" />
						<h:selectOneMenu value="#{seleccionarFirmas.unidadOrganizacional}"
							id="uolist" style=" width: 350px;">
							<a4j:support action="#{seleccionarFirmas.buscarCargos}"
								event="onchange" reRender="panelAgregarFirmas" />
							<f:selectItems
								value="#{seleccionarFirmas.listUnidadesOrganizacionales}" />
						</h:selectOneMenu>

						<h:outputText 
							value="#{messages['seleccionarfirmas_cargo']}"
							style="font-weight: bold;" />
						<h:outputText value=":" style="font-weight: bold;" />
						<h:selectOneMenu id="cargoList" value="#{seleccionarFirmas.cargo}"
							style=" width: 350px;">
							<a4j:support action="#{seleccionarFirmas.buscarPersonas}"
								event="onchange" reRender="panelAgregarFirmas" />
							<f:selectItems value="#{seleccionarFirmas.listCargos}" />
						</h:selectOneMenu>

						<h:outputText value="#{messages['seleccionarfirmas_persona']}"
							style="font-weight: bold;" />
						<h:outputText value=":" style="font-weight: bold;" />
						<h:selectOneMenu id="personaList"
							value="#{seleccionarFirmas.persona}" style=" width: 350px;">
							<f:selectItems value="#{seleccionarFirmas.listPersonas}" />
						</h:selectOneMenu>

						<a4j:commandButton id="addDestinatario"
							value="#{messages['seleccionarfirmas_agregar']}"
							action="#{seleccionarFirmas.agregar}"
							reRender="idPanelVisaciones, tableVisaciones, idPanelTableVisaciones, panelAgregarFirmas" />
					</h:panelGrid>
				</h:form>
			</rich:tab>
			<rich:tab
				label="#{messages['seleccionarfirmas_destinatario_externo']}"
				rendered="#{seleccionarFirmas.renderedExternos}">
				<h:form>
					<h:panelGrid columns="1" id="idPanelDestinatarioExterno">
						<h:panelGroup>
							<h:outputText
								value="#{messages['seleccionarfirmas_dependencia']}"
								style="font-weight: bold;" />
							<h:selectOneMenu id="idSelectDependencia"
								value="#{seleccionarFirmas.dependencia}">
								<a4j:support
									action="#{seleccionarFirmas.buscarPersonasExternas}"
									event="onchange" reRender="idSelectpersonaExterna" />
								<f:selectItems value="#{seleccionarFirmas.listDependencia}" />
							</h:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup>
							<h:outputText
								value="#{messages['seleccionarfirmas_persona_externa']}"
								style="font-weight: bold;" />
							<h:selectOneMenu id="idSelectpersonaExterna"
								value="#{seleccionarFirmas.personaExterna}">
								<f:selectItems value="#{seleccionarFirmas.listPersonasExternas}" />
							</h:selectOneMenu>
						<a4j:commandButton id="addDestinatario"
							value="#{messages['seleccionarfirmas_agregar']}"
							action="#{seleccionarFirmas.agregar}"
							reRender="idPanelVisaciones, tableVisaciones, idPanelTableVisaciones, panelAgregarFirmas" />
						</h:panelGroup>
					</h:panelGrid>
				</h:form>
			</rich:tab>
			<rich:tab id="buscarUsuarioTab"
				label="#{messages['seleccionarfirmas_buscar_usuario']}"
				action="#{seleccionarPersonasBean.limpiarFormulario(true)}">
				<h:form id="buscarUsuarioCrearResolucionFirma">
					<rich:panel id="panelBuscarUsuarioFiltro">
						<h:panelGrid columns="1">
							<h:panelGrid columns="2">
								<h:outputLabel
									value="#{messages['seleccionarfirmas_usuariodp']}"
									for="idUsuario" 
									styleClass="name" />
								<h:inputText value="#{seleccionarPersonasBean.usuario}"
									id="idUsuario" />
							</h:panelGrid>
							<h:panelGrid columns="2">
								<h:outputLabel 
									value="#{messages['seleccionarfirmas_nombredp']}"
									for="nombreUsuario" 
									styleClass="name" />
								<h:inputText value="#{seleccionarPersonasBean.nombres}"
									id="nombreUsuario" />
							</h:panelGrid>
							<h:panelGrid columns="2">
								<h:outputLabel
									value="#{messages['seleccionarfirmas_apellidodp']}"
									for="apellidoUsuario" 
									styleClass="name" />
								<h:inputText value="#{seleccionarPersonasBean.apellido}"
									id="apellidoUsuario" />
							</h:panelGrid>
						</h:panelGrid>
						<a4j:commandButton id="addDestinatarioExterno"
							value="#{messages['seleccionarfirmas_buscar']}"
							action="#{seleccionarPersonasBean.buscar}"
							reRender="copiaDirecto, agregar,tableUsuariosEncontrados, panelBuscarUsuario" />
					</rich:panel>

					<h:panelGrid columns="1" id="panelBuscarUsuario">
						<rich:dataTable var="_usr" id="tableUsuariosEncontrados" rows="5"
							value="#{seleccionarPersonasBean.resultadoBusqueda}"
							rendered="#{not empty seleccionarPersonasBean.resultadoBusqueda}"
							width="100%"
							onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
							<rich:column>
								<f:facet name="header">
									<h:outputText value="#{messages['seleccionarfirmas_nombres']}" />
								</f:facet>
								<h:outputText value="#{_usr.nombres}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText
										value="#{messages['seleccionarfirmas_apellido_paterno']}" />
								</f:facet>
								<h:outputText value="#{_usr.apellidoPaterno}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText
										value="#{messages['seleccionarfirmas_apellido_materno']}" />
								</f:facet>
								<h:outputText value="#{_usr.apellidoMaterno}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText
										value="#{messages['seleccionarfirmas_seleccionar']}" />
								</f:facet>
								<h:panelGrid columns="1" id="agregar">
									<a4j:commandButton id="botonAgregarDestinatario"
										value="#{messages['seleccionarfirmas_agregar']}"
										action="#{seleccionarFirmas.agregarPorId(_usr.id)}"
										reRender="idPanelTableVisaciones" />
								</h:panelGrid>
							</rich:column>
							<f:facet name="footer">
								<rich:datascroller />
							</f:facet>
						</rich:dataTable>
					</h:panelGrid>
				</h:form>

			</rich:tab>
		</rich:tabPanel>
	</rich:panel>
	<br />
	<rich:panel id="idPanelTableVisaciones">
		<h:form>
			<rich:dataTable var="firma" id="tableVisaciones"
				value="#{seleccionarFirmas.firmas}"
				rendered="#{not empty seleccionarFirmas.firmas}"
				onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
				onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
				<f:facet name="header">
					<rich:columnGroup>
						<rich:column width="20px">
							<h:outputText value="N&deg;" />
						</rich:column>
						<rich:column>
							<h:outputText value="#{messages['seleccionarfirmas_nombres']}" />
						</rich:column>
						<rich:column width="20px">
							<h:outputText value="#{messages['seleccionarfirmas_eliminar']}" />
						</rich:column>
					</rich:columnGroup>
				</f:facet>
				<rich:subTable onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="firma">
					<rich:column>
						<h:outputLabel value="#{firma.orden}" />
					</rich:column>
					<rich:column>
						<h:outputLabel value="#{firma.persona.getNombreApellido()}" />
					</rich:column>
					<rich:column>
						<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
							action="#{seleccionarFirmas.eliminar(firma.orden)}"
							reRender="idPanelVisaciones, tableVisaciones, idPanelTableVisaciones," />
					</rich:column>
				</rich:subTable>
			</rich:dataTable>
		</h:form>
	</rich:panel>

</ui:composition>
