<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY deg "">
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>



<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">


	<rich:panel id="agregarFirmas">
		<f:facet name="header">#{messages['seleccionarfirmasministerio_firmas_documento']}</f:facet>
		<a4j:outputPanel ajaxRendered="true">
			<h:messages />
		</a4j:outputPanel>
		<h:form id="formDestinatario">
			<h:panelGrid id="panelAgregarFirmas" columns="3">
				<h:panelGroup>
					<h:outputText
						value="#{messages['seleccionarfirmasministerio_organizacion']}"
						style="font-weight: bold;" />
					<h:selectOneMenu
						value="#{seleccionarFirmasMinisterio.organizacion}"
						id="organizacionlist">
						<a4j:support
							action="#{seleccionarFirmasMinisterio.buscarDivisiones}"
							event="onchange" reRender="panelAgregarFirmas" />
						<f:selectItems
							value="#{seleccionarFirmasMinisterio.listOrganizacion}" />
					</h:selectOneMenu>
				</h:panelGroup>
				<h:panelGroup>
					<h:outputText
						value="#{messages['seleccionarfirmasministerio_division']}"
						style="font-weight: bold;" />
					<h:selectOneMenu value="#{seleccionarFirmasMinisterio.division}"
						id="divisionlist">
						<a4j:support
							action="#{seleccionarFirmasMinisterio.buscarDepartamentos}"
							event="onchange" reRender="panelAgregarFirmas" />
						<f:selectItems value="#{seleccionarFirmasMinisterio.listDivision}" />
					</h:selectOneMenu>
				</h:panelGroup>
				<h:panelGroup>
					<h:outputText
						value="#{messages['seleccionarfirmasministerio_departamento']}"
						style="font-weight: bold;" />
					<h:selectOneMenu
						value="#{seleccionarFirmasMinisterio.departamento}"
						id="departamentolist">
						<a4j:support
							action="#{seleccionarFirmasMinisterio.buscarUnidadesOrganizacionales}"
							event="onchange" reRender="panelAgregarFirmas" />
						<f:selectItems
							value="#{seleccionarFirmasMinisterio.listDepartamento}" />
					</h:selectOneMenu>
				</h:panelGroup>
				<h:panelGroup>
					<h:outputText
						value="#{messages['seleccionarfirmasministerio_unidad']}"
						style="font-weight: bold;" />
					<h:selectOneMenu
						value="#{seleccionarFirmasMinisterio.unidadOrganizacional}"
						id="uolist">
						<a4j:support action="#{seleccionarFirmasMinisterio.buscarCargos}"
							event="onchange" reRender="panelAgregarFirmas" />
						<f:selectItems
							value="#{seleccionarFirmasMinisterio.listUnidadesOrganizacionales}" />
					</h:selectOneMenu>
				</h:panelGroup>
				<h:panelGroup>
					<h:outputText
						value="#{messages['seleccionarfirmasministerio_cargo']}"
						style="font-weight: bold;" />
					<h:selectOneMenu id="cargoList"
						value="#{seleccionarFirmasMinisterio.cargo}">
						<a4j:support
							action="#{seleccionarFirmasMinisterio.buscarPersonas}"
							event="onchange" reRender="panelAgregarFirmas" />
						<f:selectItems value="#{seleccionarFirmasMinisterio.listCargos}" />
					</h:selectOneMenu>
				</h:panelGroup>
				<h:panelGroup>
					<h:outputText
						value="#{messages['seleccionarfirmasministerio_persona']}"
						style="font-weight: bold;" />
					<h:selectOneMenu id="personaList"
						value="#{seleccionarFirmasMinisterio.persona}">
						<f:selectItems value="#{seleccionarFirmasMinisterio.listPersonas}" />
					</h:selectOneMenu>
				</h:panelGroup>
				<a4j:commandButton id="addDestinatario"
					value="#{messages['seleccionarfirmasministerio_agregar']}"
					action="#{seleccionarFirmasMinisterio.agregar}"
					reRender="idPanelVisaciones, tableVisaciones, idPanelTableVisaciones, panelAgregarFirmas" />
			</h:panelGrid>
		</h:form>
	</rich:panel>
	<br />
	<rich:panel id="idPanelTableVisaciones">
		<h:form>
			<rich:dataTable var="firma" id="tableVisaciones"
				value="#{seleccionarFirmasMinisterio.firmas}"
				rendered="#{not empty seleccionarFirmasMinisterio.firmas}"
				onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
				onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'">
				<f:facet name="header">
					<rich:columnGroup>
						<rich:column width="20px">
							<h:outputText value="N&deg;" />
						</rich:column>
						<rich:column>
							<h:outputText
								value="#{messages['seleccionarfirmasministerio_nombres']}" />
						</rich:column>
						<rich:column width="20px"
							rendered="#{!identity.hasRole('bandejaAsesor') and !identity.hasRole('bandejaMinistro')}">
							<h:outputText
								value="#{messages['seleccionarfirmasministerio_eliminar']}" />
						</rich:column>
					</rich:columnGroup>
				</f:facet>
				<rich:subTable onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					value="firma">
					<rich:column>
						<h:outputLabel value="#{firma.orden}" />
					</rich:column>
					<rich:column>
						<h:outputLabel value="#{firma.persona.getNombreApellido()}" />
					</rich:column>
					<rich:column
						rendered="#{!identity.hasRole('bandejaAsesor') and !identity.hasRole('bandejaMinistro')}">
						<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
							action="#{seleccionarFirmasMinisterio.eliminar(firma.orden)}"
							reRender="idPanelVisaciones, tableVisaciones, idPanelTableVisaciones," />
					</rich:column>
				</rich:subTable>
			</rich:dataTable>
		</h:form>
	</rich:panel>

</ui:composition>
