<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" template="/layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="false" styleClass="message" />
		</a4j:outputPanel>
		<rich:panel>
			<f:facet name="header">#{messages['solicitudfoliodocumento_solicitud_de_folio_documento']}</f:facet>

			<h:form>
				<h:panelGrid columns="6" id="panelSolicitaFolio"
					style="padding:5px;">
					<h:outputLabel
						value="#{messages['solicitudfoliodocumento_departamento']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu value="#{solicitudFolioDocumento.fiscalia}"
						id="fisca" disabled="true">
						<f:selectItems value="#{solicitudFolioDocumento.fiscalias}" />
					</h:selectOneMenu>
					<h:outputLabel
						value="#{messages['solicitudfoliodocumento_unidad']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu value="#{solicitudFolioDocumento.unidad}"
						id="unid" disabled="#{solicitudFolioDocumento.habilitaUnidad}">
						<f:selectItems value="#{solicitudFolioDocumento.unidades}" />
					</h:selectOneMenu>

					<h:outputLabel
						value="#{messages['solicitudfoliodocumento_nivel_departamento']}" />
					<h:outputLabel value=":" />
					<h:selectBooleanCheckbox
						value="#{solicitudFolioDocumento.folioDocumento.nivel}">
						<a4j:support event="onclick"
							action="#{solicitudFolioDocumento.nivelFiscalia()}"
							reRender="unid" />
					</h:selectBooleanCheckbox>
					<h:outputLabel
						value="#{messages['solicitudfoliodocumento_tipo_documento']}" />
					<h:outputLabel value=":" />
					<h:selectOneMenu value="#{solicitudFolioDocumento.tipoDocumento}"
						id="organizacionlist">
						<f:selectItems value="#{solicitudFolioDocumento.tipoDocumentos}" />
					</h:selectOneMenu>

					<h:outputLabel
						value="#{messages['solicitudfoliodocumento_materia']}" />
					<h:outputLabel value=":" />
					<h:inputText value="#{solicitudFolioDocumento.materia}"
						style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;" />
					<h:outputLabel
						value="#{messages['solicitudfoliodocumento_observacion']}" />
					<h:outputLabel value=":" />
					<h:inputText value="#{solicitudFolioDocumento.observacion}"
						style=" width : 250px; border: 1px solid #BBBBBB; font-size: 11px; background: #F0F8FF; color: black; font-family: Arial,sans-serif;" />


				</h:panelGrid>

				<h:panelGrid columns="1" style="padding:5px;">
					<a4j:commandButton
						value="#{messages['solicitudfoliodocumento_aceptar']}"
						onclick="Richfaces.showModalPanel('idConfirmSolicFolio')"
						reRender="valorActual" />
				</h:panelGrid>
			</h:form>
		</rich:panel>

		<rich:modalPanel id="idConfirmSolicFolio" resizeable="false"
			width="320" height="95">
			<f:facet name="header">
				<h:outputText
					value="#{messages['solicitudfoliodocumento_confirmacion_solicitud_folio']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>

			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmSolicFolio')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['solicitudfoliodocumento_acepta_folio']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton value="#{messages['solicitudfoliodocumento_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmSolicFolio')" />
					<h:commandButton value="#{messages['solicitudfoliodocumento_si']}"
						action="#{solicitudFolioDocumento.obtenerFolio}"
						onclick="Richfaces.hideModalPanel('idConfirmSolicFolio')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

	</ui:define>
</ui:composition>


