<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml"
	xmlns:a4j="http://richfaces.org/a4j">

	<ui:define name="body">

		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<h:form>
			<rich:panel>
				<f:facet name="header">
					<h:outputText
						value="#{messages['subirdocumentoscontraloria_subir_documentos_de_contraloria']}" />
				</f:facet>
				<h:panelGrid columns="1">
					<h:selectOneRadio id="idTipoRespuestaContraloria"
						value="#{subirDocumentosContraloria.tipoRespuestaContraloria}"
						required="true">
						<f:selectItem itemValue="1"
							itemLabel="#{messages['subirdocumentoscontraloria_documento_aprobado_contraloria']}" />
						<f:selectItem itemValue="2"
							itemLabel="#{messages['subirdocumentoscontraloria_documento_rechazado_contraloria']}" />
					</h:selectOneRadio>

					<s:decorate id="decorateUpLoadFile" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['subirdocumentoscontraloria_documentodp']}</ui:define>
						<rich:fileUpload id="upload" immediateUpload="true"
							maxFilesQuantity="1" acceptedTypes="xml" listHeight="60px"
							fileUploadListener="#{subirDocumentosContraloria.uploadListener}"
							addControlLabel="Adjuntar" allowFlash="false" required="true">
							<a4j:support event="onclear" reRender="decorateUpLoadFile" />
						</rich:fileUpload>
					</s:decorate>

					<h:panelGroup>
						<a4j:commandButton id="idCancelar"
							value="#{messages['subirdocumentoscontraloria_cancelar']}"
							action="#{subirDocumentosContraloria.end}" immediate="true" />
						<a4j:commandButton id="idIngresar"
							value="#{messages['subirdocumentoscontraloria_ingresar']}"
							action="#{subirDocumentosContraloria.ingresarDocumento}" />
					</h:panelGroup>
				</h:panelGrid>
			</rich:panel>

		</h:form>



	</ui:define>
</ui:composition>
