<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml">
	<ui:define name="body">
		<h:messages globalOnly="true" styleClass="message" />

		<h:form id="login">
			<h:messages id="messageList" />
			<h:inputText id="First_Name" value="#{tesValidacion.firstName}"
				required="true" requiredMessage="First_Name:is required" size="19">
			</h:inputText>

			<h:inputText id="Second_Name" value="#{tesValidacion.secondName}"
				required="true" requiredMessage="Second_Name:is required" size="19">
			</h:inputText>
		</h:form>

	</ui:define>
</ui:composition>
