<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="../layout/template.xhtml">

	<ui:define name="body">

		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel>
			<f:facet name="header">
				<span>#{messages['verexpediente_expediente']}</span>
			</f:facet>
			<h:form id="formExpediente">
				<h:panelGrid columns="5"
					style="margin-left:10px; margin-top:5px; margin-bottom:5px;">
					<h:outputText value="(COPIA)"
						rendered="#{verExpediente.expediente.copia}"
						style="font-weight: bold;" />
					<h:outputText value="#{messages['verexpediente_n_expedientedp']}"
						style="font-weight: bold;" />
					<h:outputText value="#{verExpediente.expediente.numeroExpediente}" />
					<h:outputText value="|" />
					<h:outputText value="#{messages['verexpediente_fecha_ingresodp']}"
						style="font-weight: bold;" />
					<h:outputLabel value="#{verExpediente.expediente.fechaIngreso}">
						<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
							timeZone="#{customizacion.getPropiedad('timezone')}" />
					</h:outputLabel>
				</h:panelGrid>
			</h:form>

			<rich:panel styleClass="subpanel">
				<f:facet name="header">#{messages['verexpediente_informacion_documento_original']}</f:facet>
				<h:panelGrid columns="5" width="100%">
					<h:panelGroup>
						<h:outputText value="#{messages['verexpediente_n_documentodp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputText
							value="#{verExpediente.documentoOriginal.numeroDocumento}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText
							value="#{messages['verexpediente_fecha_documentodp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputLabel
							value="#{verExpediente.documentoOriginal.fechaDocumentoOrigen}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
						</h:outputLabel>
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText
							value="#{messages['verexpediente_fecha_ingreso_sistemadp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputLabel
							value="#{verExpediente.documentoOriginal.fechaCreacion}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputLabel>
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText
							value="#{messages['verexpediente_tipo_de_documentodp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputText
							value="#{verExpediente.documentoOriginal.tipoDocumento.descripcion}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText 
							value="#{messages['verexpediente_formatodp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputText
							value="#{verExpediente.documentoOriginal.formatoDocumento.descripcion}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText 
							value="#{messages['verexpediente_materiadp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputText
							value="#{verExpediente.documentoOriginal.reservado ? 'MATERIA RESERVADA' :verExpediente.documentoOriginal.materia}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText 
							value="#{messages['verexpediente_antecedentesdp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputText
							value="#{verExpediente.documentoOriginal.antecedentes}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText 
							value="#{messages['verexpediente_emisordp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputText value="#{verExpediente.documentoOriginal.emisor}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:outputText 
							value="#{messages['verexpediente_destinatariosdp']}"
							style="font-weight: bold;" />
						<br />
						<h:outputText
							value="#{verExpediente.destinatariosDocumentoOriginal.get(0).label}"
							rendered="#{not empty verExpediente.destinatariosDocumentoOriginal and verExpediente.destinatariosDocumentoOriginal.size() == 1}" />
						<h:selectManyListbox id="ddList" required="false"
							size="#{verExpediente.destinatariosDocumentoOriginal.size() le 1 ? '1' : '2' }"
							style=" width : 500px;"
							rendered="#{not empty verExpediente.destinatariosDocumentoOriginal and verExpediente.destinatariosDocumentoOriginal.size() > 1}">
							<f:selectItems
								value="#{verExpediente.destinatariosDocumentoOriginal}" />
						</h:selectManyListbox>
					</h:panelGroup>
					<h:panelGroup>
						<h:form
							style="margin-left: auto; margin-right: 0px; text-align: right">
							<h:panelGrid columns="5" cellspacing="0"
								style="margin-left: auto; margin-right: 0px; text-align: right">
								<h:commandLink id="visualizar" alt="#{verExpediente.visualizar}"
									immediate="true"
									action="#{visualizador.verDocumento(verExpediente.documentoOriginal.id)}"
									rendered="#{verExpediente.renderedVisualizarExpediente()}"
									target="_blank">
									<h:graphicImage value="/imagenes/icono_visualizar_doc.gif"
										style="border: none;background:transparent;" 
										alt="#{verExpediente.visualizar}"
										title="#{verExpediente.visualizar}" />
								</h:commandLink>
								<a4j:htmlCommandLink immediate="true" style="border: none;"
									action="#{verExpediente.verArchivo}"
									title="#{verExpediente.verArchivoTitulo}"
									rendered="#{verExpediente.documentoOriginal.formatoDocumento.descripcion == 'DIGITAL'}"
									disabled="#{verExpediente.documentoOriginal.archivo.cmsId == null}">
									<h:graphicImage border="0px"
										title="#{verExpediente.verArchivoTitulo}: #{verExpediente.documentoOriginal.archivo.nombreArchivo}"
										alt="#{verExpediente.verArchivoTitulo}: #{verExpediente.documentoOriginal.archivo.nombreArchivo}"
										url="/imagenes/icono_visualizar_doc_adjunto.gif"
										style="border: none; background:transparent;" />
								</a4j:htmlCommandLink>
								<a4j:commandButton id="idCodigoBarra" rendered="false"
									alt="#{messages['verexpediente_alt_ver_codico_barra']}"
									title="#{messages['verexpediente_alt_ver_codico_barra']}"
									image="/imagenes/icono_codigo_barra.gif"
									style="border: none;background:transparent;"
									onclick="Richfaces.showModalPanel('panelCodigoBarraApplet')" />
								<a4j:commandButton id="editarExpediente"
									alt="#{messages['verexpediente_alt_ver_documento']}"
									image="/imagenes/icono_editar_doc.gif"
									title="#{verExpediente.verArchivoOriginal}"
									style="border: none;background:transparent;"
									action="#{verExpediente.modificarDocumento(verExpediente.documentoOriginal.idNuevoDocumento,3)}"
									rendered="#{verExpediente.expediente.acuseRecibo}"
									disabled="#{not verExpediente.expediente.acuseRecibo}" />
								<a4j:commandLink
									alt="#{messages['verexpediente_alt_convertir_a_digital']}"
									image="/imagenes/icono_convertir_papel_digital.gif"
									style="border: none;background:transparent;"
									onclick="Richfaces.showModalPanel('panelAdjuntarArchivo')"
									rendered="#{verExpediente.documentoOriginal.formatoDocumento.id == 1 and identity.hasRole('TRANSFORMA_PAPEL_A_DIGITAL')}">
									<h:graphicImage style="border:none;background:transparent;"
										value="/imagenes/icono_convertir_papel_digital.gif"
										alt="#{messages['verexpediente_alt_convertir_a_digital']}" 
										title="#{messages['verexpediente_alt_convertir_a_digital']}" />
								</a4j:commandLink>
							</h:panelGrid>
						</h:form>
					</h:panelGroup>
				</h:panelGrid>
			</rich:panel>



			<rich:simpleTogglePanel id="panelDocumentosRespuesta"
				reRender="#{not empty verExpediente.listDocumentosRespuesta}"
				label="#{messages['verexpediente_adjuntar_archivo']}"
				switchType="client" 
				opened="true" 
				styleClass="subpanel">
				<br />
				<h:form>
					<h:outputText
						value="#{messages['verexpediente_adjuntar_respuestadp']}" />
					<h:selectOneMenu value="#{verExpediente.tipoDocumentoAdjuntar}"
						disabled="#{not verExpediente.expediente.acuseRecibo or verExpediente.expediente.fechaDespacho != null}">
						<f:selectItems value="#{verExpediente.listaDocumentosAdjuntar}" />
						<a4j:support action="#{verExpediente.adjuntarDocumento(1)}"
							event="onchange" />
					</h:selectOneMenu>
					<h:outputText
						value="#{messages['verexpediente_esta_opcion_permite_adjuntar_todo_tipo_de_documentos_que_tienen_directa_relacion_con_la_respuesta']}"
						style="font-size:80%;" />
				</h:form>
				<h:form>
					<rich:dataTable width="100%" id="tableDocumentosRespuesta"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						var="itemDoc" value="#{verExpediente.listDocumentosRespuesta}"
						rendered="#{not empty verExpediente.listDocumentosRespuesta}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column rendered="false">
									<h:outputText value="C&oeacute;digo Barra" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_ver']}" />
								</rich:column>
								<rich:column rendered="false">
									<h:outputText value="#{messages['verexpediente_respuesta']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_n_documento']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_fecha']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_materia']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_tipo']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_emisor']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_destinatario']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_formato']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_estado']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="itemDoc">
							<rich:column rendered="false">
								<a4j:commandButton id="idCodigoBarra" rendered="false"
									alt="#{messages['verexpediente_alt_ver_codico_barra']}"
									image="/imagenes/icono_codigo_barra.gif"
									style="border: 0px;text-align:center;vertical-align:middle;"
									immediate="true"
									action="#{verExpediente.cargarCodigoBarra(itemDoc)}"
									reRender="idFormPanelCodigoBarraDocRespuestaApplet"
									oncomplete="Richfaces.showModalPanel('panelCodigoBarraDocRespuestaApplet')">
								</a4j:commandButton>
							</rich:column>
							<rich:column>
								<a4j:commandButton id="modificaRespuesta"
									alt="#{messages['verexpediente_alt_ver_documento']}"
									image="/imagenes/ver_detalle_01.gif" style="border: none;"
									action="#{verExpediente.modificarDocumento(itemDoc.idNuevoDocumento,1)}"
									rendered="#{verExpediente.expediente.acuseRecibo}" />
							</rich:column>
							<rich:column rendered="false">
								<h:graphicImage value="/imagenes/ico_select_ok.gif"
									rendered="#{itemDoc.respuestaSolicitud}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDoc.numeroDocumento}"
									rendered="#{itemDoc.numeroDocumento != 'sinNumeroDocumentoFolio'}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{itemDoc.fechaDocumentoOrigen}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
								</h:outputLabel>
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{itemDoc.reservado ? 'MATERIA RESERVADA' :itemDoc.materia}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDoc.tipoDocumento.descripcion}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDoc.emisor}" />
							</rich:column>
							<rich:column>
								<h:outputText
									value="#{itemDoc.destinatarios.get(0).destinatario}"
									rendered="#{not empty itemDoc.destinatarios}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDoc.formatoDocumento.descripcion}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemDoc.estado.descripcion}" />
							</rich:column>
							<rich:column>
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									style="border: none;"
									reRender="responder, tableDocumentosRespuesta, panelDocumentosRespuesta"
									action="#{verExpediente.eliminarDocumento(itemDoc.idNuevoDocumento)}"
									rendered="#{itemDoc.eliminable}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</h:form>
			</rich:simpleTogglePanel>
			<h:form>
				<rich:simpleTogglePanel id="idPanelObservaciones"
					label="#{messages['verexpediente_observacion']}"
					switchType="client" 
					opened="true" 
					styleClass="subpanel">
					<br />
					<h:panelGrid columns="2">
						<s:decorate id="idDecorateObservacion"
							template="../layout/edit.xhtml">
							<h:inputTextarea id="observaciones" required="false" rows="5"
								style="background-color: #FFFFCC;" cols="90"
								value="#{verExpediente.observacion}"
								validator="#{observacionValidator.validate}">
								<a4j:support event="onblur" reRender="idDecorateObservacion"
									bypassUpdates="true" ajaxSingle="true" />
							</h:inputTextarea>
						</s:decorate>
						<s:decorate id="idDecorateArchivo" template="../layout/edit.xhtml">
							<rich:fileUpload id="uploadObs" maxFilesQuantity="1"
								listHeight="50px" listWidth="250px" acceptedTypes="*"
								immediateUpload="true"
								addControlLabel="#{messages['verexpediente_agregar']}"
								fileUploadListener="#{verExpediente.listenerObs}">
								<a4j:support event="onclear" reRender="idDecorateArchivo" />
							</rich:fileUpload>
						</s:decorate>
						<a4j:commandButton id="agregarObservaciones"
							value="#{messages['verexpediente_agregar']}"
							action="#{verExpediente.agregarObservacion}"
							reRender="idPanelObservaciones"
							disabled="#{not verExpediente.expediente.acuseRecibo or verExpediente.expediente.fechaDespacho != null}" />
					</h:panelGrid>
					<rich:dataTable width="100%"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						value="#{verExpediente.observaciones}" var="itemObs"
						rendered="#{not empty verExpediente.observaciones}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputLabel value="#{messages['verexpediente_fecha']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel value="#{messages['verexpediente_autor']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel value="#{messages['verexpediente_observacion']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['verexpediente_nombre_archivo']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel value="#{messages['verexpediente_ver_archivo']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="itemObs">
							<rich:column>
								<h:outputLabel value="#{itemObs.fecha}">
									<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
										timeZone="#{customizacion.getPropiedad('timezone')}" />
								</h:outputLabel>
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemObs.autor.nombres} " />
								<h:outputText value="#{itemObs.autor.apellidoPaterno}" />
							</rich:column>
							<rich:column>
								<h:outputText value="#{itemObs.observacion}" />
							</rich:column>
							<rich:column>
								<h:outputText rendered="#{itemObs.observacionArchivo != null}"
									value="#{itemObs.observacionArchivo.nombreArchivo}" />
							</rich:column>
							<rich:column>
								<a4j:htmlCommandLink immediate="true"
									action="#{verExpediente.verArchivoObservacion(itemObs.observacionArchivo)}"
									rendered="#{itemObs.observacionArchivo.id != null}">
									<h:graphicImage border="0px" url="/imagenes/ver_detalle_01.gif"
										style="border: none;" />
								</a4j:htmlCommandLink>
							</rich:column>
							<rich:column>
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									style="border: none;"
									reRender="observaciones, idPanelObservaciones"
									action="#{verExpediente.eliminarObservaciones(itemObs.idNuevaObservacion)}"
									immediate="true"
									rendered="#{itemObs.idNuevaObservacion != null}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</rich:simpleTogglePanel>
			</h:form>
			<rich:panel id="agregarDestinatario" styleClass="subpanel">
				<br />
				<f:facet name="header">#{messages['verexpediente_destinatarios_expediente']}</f:facet>
				<rich:tabPanel switchType="ajax" style=" width: 100%;">
					<rich:tab
						label="#{messages['verexpediente_destinatarios_inviduales']}">
						<h:form id="formDestinatariosIndividuales">
							<h:panelGrid id="panelAgregarDestinatario">
								<h:panelGrid columns="2">
									<h:panelGroup rendered="true">
										<h:outputText
											value="#{messages['verexpediente_organizacion']}"
											style="font-weight: bold;" />
										<br />
										<h:selectOneMenu value="#{verExpediente.organizacion}"
											id="organizacionlist" styleClass="input350">
											<a4j:support action="#{verExpediente.buscarDivisiones}"
												event="onchange" reRender="panelAgregarDestinatario" />
											<f:selectItems value="#{verExpediente.listOrganizacion}" />
										</h:selectOneMenu>
									</h:panelGroup>
									<h:panelGroup rendered="true">
										<h:outputText value="#{messages['verexpediente_division']}"
											style="font-weight: bold;" />
										<br />
										<h:selectOneMenu value="#{verExpediente.division}"
											id="divisionlist" styleClass="input350">
											<a4j:support action="#{verExpediente.buscarDepartamentos}"
												event="onchange" reRender="panelAgregarDestinatario" />
											<f:selectItems value="#{verExpediente.listDivision}" />
										</h:selectOneMenu>
									</h:panelGroup>
									<h:panelGroup>
										<h:outputText
											value="#{messages['verexpediente_departamento']}"
											style="font-weight: bold;" />
										<br />
										<h:selectOneMenu value="#{verExpediente.departamento}"
											id="departamentolist" styleClass="input350">
											<a4j:support
												action="#{verExpediente.buscarUnidadesOrganizacionales}"
												event="onchange" reRender="panelAgregarDestinatario" />
											<f:selectItems value="#{verExpediente.listDepartamento}" />
										</h:selectOneMenu>
									</h:panelGroup>
									<h:panelGroup>
										<h:outputText 
											value="#{messages['verexpediente_unidad']}"
											style="font-weight: bold;" />
										<br />
										<h:selectOneMenu value="#{verExpediente.unidadOrganizacional}"
											id="uolist" styleClass="input350">
											<a4j:support action="#{verExpediente.buscarCargos}"
												event="onchange" reRender="panelAgregarDestinatario" />
											<f:selectItems
												value="#{verExpediente.listUnidadesOrganizacionales}" />
										</h:selectOneMenu>
									</h:panelGroup>
									<h:panelGroup>
										<h:outputText 
											value="#{messages['verexpediente_cargo']}"
											style="font-weight: bold;" />
										<br />
										<h:selectOneMenu id="cargoList" value="#{verExpediente.cargo}"
											styleClass="input350">
											<a4j:support action="#{verExpediente.buscarPersonas}"
												event="onchange" reRender="panelAgregarDestinatario" />
											<f:selectItems value="#{verExpediente.listCargos}" />
										</h:selectOneMenu>
									</h:panelGroup>
									<h:panelGroup>
										<h:outputText 
											value="#{messages['verexpediente_persona']}"
											style="font-weight: bold;" />
										<br />
										<h:selectOneMenu id="personaList"
											value="#{verExpediente.persona}" styleClass="input350">
											<f:selectItems value="#{verExpediente.listPersonas}" />
										</h:selectOneMenu>
									</h:panelGroup>
									<h:panelGroup
										rendered="#{verExpediente.renderedGrupoDestinatariosFrecuentes()}">
										<h:outputText
											value="#{messages['verexpediente_destinatarios_frecuentes']}"
											style="font-weight: bold;" />
										<br />
										<h:selectOneMenu value="#{verExpediente.grupo}"
											styleClass="input350">
											<f:selectItems value="#{verExpediente.listDestFrec}" />
										</h:selectOneMenu>
									</h:panelGroup>
									<h:panelGroup>
										<br />
										<h:selectOneRadio value="#{verExpediente.copiaDirectoFlag}">
											<f:selectItem id="copia"
												itemLabel="#{messages['verexpediente_copia']}" 
												itemValue="1" />
											<f:selectItem id="directo"
												itemLabel="#{messages['verexpediente_directo']}"
												itemValue="0" />
										</h:selectOneRadio>
									</h:panelGroup>
								</h:panelGrid>
								<a4j:commandButton id="agregarDestinatarioExpediente"
									value="#{messages['verexpediente_agregar']}"
									action="#{verExpediente.agregarDestinatario}"
									reRender="listaDestinatarios, agregarDestinatario" />
							</h:panelGrid>
						</h:form>
					</rich:tab>
					<rich:tab
						label="#{messages['verexpediente_listas_destinatarios_frecuentes']}">
						<h:outputText
							value="#{messages['verexpediente_ud_no_tiene_definido_listas_de_destinatarios']}"
							rendered="#{verExpediente.listListas == null or empty verExpediente.listListas}" />
						<h:form id="formListsDestinatarios">
							<rich:dataTable id="tablaListas"
								value="#{verExpediente.listListas}" var="lista"
								rendered="#{verExpediente.listListas != null and not empty verExpediente.listListas}">
								<rich:column>
									<f:facet name="header">#{messages['verexpediente_nombre_lista']}</f:facet>
									<h:outputText value="#{lista.nombreLista}" />
								</rich:column>
								<rich:column>
									<f:facet name="header">#{messages['verexpediente_agregar']}</f:facet>
									<h:panelGrid id="pruebaCopiaDirecto" columns="2">
										<a4j:commandButton 
											value="#{messages['verexpediente_copia']}"
											style="border: none;"
											action="#{verExpediente.agregarListaDestinatarios(lista.id, true)}"
											reRender="agregarDestinatario, listaDestinatarios" />

										<a4j:commandButton
											value="#{messages['verexpediente_directo']}"
											style="border: none;"
											action="#{verExpediente.agregarListaDestinatarios(lista.id, false)}"
											reRender="agregarDestinatario, listaDestinatarios" />
									</h:panelGrid>
								</rich:column>
							</rich:dataTable>
						</h:form>
					</rich:tab>
					<rich:tab label="#{messages['verexpediente_buscar_usuario']}"
						onclick="#{seleccionarPersonasBean.limpiarFormulario(true)}">
						<ui:include src="buscarUsuarioVerExpediente.xhtml" />
					</rich:tab>
					<rich:tab id="buscarGrupoUsuario"
						label="#{messages['verexpediente_grupos_usuarios']}"
						action="#{seleccionarPersonasBean.limpiarFormulario(true)}">
						<h:form>
							<h:panelGrid columns="2">
								<h:outputText value="#{messages['verexpediente_grupodp']}" />
								<h:selectOneMenu value="#{verExpediente.grupoUsuario}"
									id="grupoList" style=" width: 200px;">
									<f:selectItems value="#{verExpediente.listGrupos}" />
								</h:selectOneMenu>
							</h:panelGrid>
							<a4j:commandButton id="addGrupoUsuario"
								value="#{messages['verexpediente_agregar']}"
								action="#{verExpediente.agregarGrupoUsuario()}"
								reRender="tableGrupos,formDestinatarioGrupoExpediente" />

						</h:form>
					</rich:tab>
				</rich:tabPanel>
				<h:form id="formDestinatarioExpediente">
					<rich:dataTable width="100%" id="listaDestinatarios"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						var="itemDes" value="#{verExpediente.listDestinatarios}"
						rendered="#{not empty verExpediente.listDestinatarios}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_nombres']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_cargo']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_unidad']}" />
								</rich:column>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_relacion']}" />
								</rich:column>
								<rich:column style="width:25px; text-align:center;">
									<h:outputText value="#{messages['verexpediente_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="expediente">
							<rich:column>
								<h:outputLabel
									value="#{itemDes.nombres} #{itemDes.apellidoPaterno}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{itemDes.cargo.descripcion}" />
							</rich:column>
							<rich:column>
								<h:outputLabel
									value="#{itemDes.cargo.unidadOrganizacional.descripcion}"
									rendered="#{not itemDes.cargo.unidadOrganizacional.virtual}" />
								<h:outputLabel
									value="#{itemDes.cargo.unidadOrganizacional.departamento.descripcion}"
									rendered="#{itemDes.cargo.unidadOrganizacional.virtual and not itemDes.cargo.unidadOrganizacional.departamento.virtual}" />
								<h:outputLabel
									value="#{itemDes.cargo.unidadOrganizacional.departamento.division.descripcion}"
									rendered="#{itemDes.cargo.unidadOrganizacional.departamento.virtual and itemDes.cargo.unidadOrganizacional.virtual}" />
							</rich:column>
							<rich:column>
								<h:outputLabel 
									value="#{messages['verexpediente_copia']}"
									rendered="#{itemDes.destinatarioConCopia}" />
								<h:outputLabel 
									value="#{messages['verexpediente_directo']}"
									rendered="#{not itemDes.destinatarioConCopia}" />
							</rich:column>
							<rich:column style="width:25px; text-align:center;">
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									style="border: none;"
									reRender="listaDestinatarios, agregarDestinatario"
									action="#{verExpediente.eliminarDestinatariosExpediente(itemDes)}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</h:form>
				<br />
				<!-- SdelaF -->
				<h:form id="formDestinatarioGrupoExpediente">
					<rich:dataTable width="100%" id="tableGrupos"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						var="itemGrupo" value="#{verExpediente.listGrupoUsuarios}"
						rendered="#{not empty verExpediente.listGrupoUsuarios}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column>
									<h:outputText value="#{messages['verexpediente_grupo']}" />
								</rich:column>
								<rich:column style="width:25px; text-align:center;">
									<h:outputText value="#{messages['verexpediente_eliminar']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="expediente">
							<rich:column>
								<h:outputLabel value="#{itemGrupo.nombre}" />
							</rich:column>
							<rich:column style="width:25px; text-align:center;">
								<a4j:commandButton image="/imagenes/ico_bot_eliminar.gif"
									style="border: none;"
									action="#{verExpediente.eliminarGrupoUsuario(itemGrupo)}"
									reRender="tableGrupos,formDestinatarioGrupoExpediente" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</h:form>
				<!--  -->
			</rich:panel>
		</rich:panel>

		<h:form id="idFormBotonesVerExpediente">

			<a4j:outputPanel ajaxRendered="true">
				<h:messages globalOnly="true" styleClass="message" />
			</a4j:outputPanel>
			<h:panelGrid columns="6" cellspacing="5" style="text-align: left; ">
				<a4j:commandButton id="salir"
					value="#{messages['verexpediente_ir_a_bandeja_entrada']}"
					action="#{verExpediente.end}" 
					onclick="Richfaces.showModalPanel('panelEspera')"
					oncomplete="Richfaces.hideModalPanel('panelEspera')"/>
				<a4j:commandButton id="guardar"
					value="#{messages['verexpediente_guardar']}"
					action="#{verExpediente.registrarExpediente}"
					onclick="Richfaces.showModalPanel('panelEspera')"
					oncomplete="Richfaces.hideModalPanel('panelEspera')"
					disabled="#{not verExpediente.expediente.acuseRecibo or modificarExpediente.expediente.fechaDespacho != null}" />
				<a4j:commandButton id="despachar"
					value="#{messages['verexpediente_despachar']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogDespachar')"
					disabled="#{not verExpediente.expediente.acuseRecibo}" />
				<a4j:commandButton id="archivar"
					value="#{messages['verexpediente_archivar']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogArchivar')"
					disabled="#{not verExpediente.expediente.acuseRecibo}"
					rendered="#{verExpediente.esArchivable()}" />
				<a4j:commandButton id="cancelar"
					rendered="false"
					value="#{messages['verexpediente_cancelar']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogCancelar')" />

			</h:panelGrid>
		</h:form>

		<rich:modalPanel id="idConfirmDialogDespachar" resizeable="false" width="350" height="95">

			<f:facet name="header">
				<h:outputText
					value="#{messages['verexpediente_confirmacion_despacho_expediente']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>

			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['verexpediente_desea_despachar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton 
						value="#{messages['verexpediente_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar')" />
					<a4j:commandButton 
						value="#{messages['verexpediente_si']}"
						action="#{verExpediente.despacharExpediente()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogDespachar');Richfaces.showModalPanel('panelEspera')"
						oncomplete="Richfaces.hideModalPanel('panelEspera')" />
				</h:panelGrid>
			</h:form>

		</rich:modalPanel>

		<rich:modalPanel id="idConfirmDialogArchivar" resizeable="false"
			width="320" height="100">

			<f:facet name="header">
				<h:outputText
					value="#{messages['verexpediente_confirmacion_archivar_expediente']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>

			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogArchivar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['verexpediente_desea_archivar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton 
						value="#{messages['verexpediente_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogArchivar')" />
					<a4j:commandButton 
						value="#{messages['verexpediente_archivar']}"
						action="#{verExpediente.archivarExpediente}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogArchivar');Richfaces.showModalPanel('panelEspera')"
						oncomplete="Richfaces.hideModalPanel('panelEspera')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="idConfirmDialogCancelar" resizeable="false"
			width="270" height="100">

			<f:facet name="header">
				<h:outputText
					value="#{messages['verexpediente_confirmacion_cancelar_expediente']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>

			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogArchivar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['verexpediente_desea_cancelar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton 
						value="#{messages['verexpediente_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogCancelar')" />
					<h:commandButton 
						value="#{messages['verexpediente_si']}"
						action="#{verExpediente.cancelarExpediente()}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogCancelar')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelAdjuntarArchivo" minHeight="270"
			minWidth="430" height="290" width="430">
			<f:facet name="header">
				<h:outputText 
					value="#{messages['verexpediente_adjuntar_archivo']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>

			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer" reRender="panelAnexos"
					onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')">
				</h:graphicImage>
			</f:facet>
			<h:form enctype="multipart/form-data">
				<h:panelGrid columns="1">
					<s:decorate template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['verexpediente_materiadp']}</ui:define>
						<h:inputText id="materia" required="true"
							value="#{verExpediente.materiaArchivo}" />
					</s:decorate>
					<s:decorate id="decorateUpLoadFile" template="../layout/edit.xhtml">
						<ui:define name="label">#{messages['verexpediente_archivodp']}</ui:define>
						<rich:fileUpload id="upload" immediateUpload="true"
							maxFilesQuantity="1" acceptedTypes="*" listHeight="60px"
							fileUploadListener="#{verExpediente.listener}"
							addControlLabel="Agregar">
							<a4j:support event="onclear" reRender="decorateUpLoadFile" />
						</rich:fileUpload>
					</s:decorate>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<!-- <a4j:commandButton value="#{messages['verexpediente_agregar_archivo']}"
						
						reRender="panelAnexos"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')" /> -->

					<a4j:commandButton 
						value="#{messages['verexpediente_volver']}"
						reRender="panelAnexos"
						onclick="Richfaces.hideModalPanel('panelAdjuntarArchivo')"
						immediate="true" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelCodigoBarraApplet" resizeable="false"
			height="190" width="335">
			<f:facet name="header">
				<h:outputText 
					value="#{messages['verexpediente_codigo_barra']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelCodigoBarraApplet')">
				</h:graphicImage>
			</f:facet>
			<!--  ver 1 -->
			<h:form>
				<a4j:commandButton 
					value="#{messages['verexpediente_volver']}"
					onclick="Richfaces.hideModalPanel('panelCodigoBarraApplet')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelCodigoBarraDocRespuestaApplet"
			resizeable="false" height="190" width="335">
			<f:facet name="header">
				<h:outputText 
					value="#{messages['verexpediente_codigo_barra']}" />
			</f:facet>
			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('panelCodigoBarraDocRespuestaApplet')">
				</h:graphicImage>
			</f:facet>
			<h:form id="idFormPanelCodigoBarraDocRespuestaApplet">
				<!--  ver 2 -->
				<a4j:commandButton 
					value="#{messages['verexpediente_volver']}"
					onclick="Richfaces.hideModalPanel('panelCodigoBarraDocRespuestaApplet')"
					immediate="true" />
			</h:form>
		</rich:modalPanel>
		
		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>
	</ui:define>

</ui:composition>

