<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	template="../layout/template.xhtml">

	<ui:define name="body">
		<a4j:outputPanel ajaxRendered="true">
			<h:messages globalOnly="true" styleClass="message" />
		</a4j:outputPanel>

		<rich:panel id="mainPanel">
			<f:facet name="header">
				<span>#{messages['verexpedientedesdereporte_expediente']}</span>
			</f:facet>
			<h:form id="formInfoInicial">
				<h:panelGrid columns="3" style="padding:6px; width:auto;">
					<h:outputText
						value="#{messages['verexpedientedesdereporte_copia']}"
						style="font-weight: bold"
						rendered="#{verExpedienteDesdeReporte.expediente.copia}" />
					<h:outputText
						value="#{messages['verexpedientedesdereporte_directo']}"
						style="font-weight: bold"
						rendered="#{not verExpedienteDesdeReporte.expediente.copia}" />
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['verexpedientedesdereporte_n_expedientedp']}"
							for="numExpediente" style="font-weight: bold" />
						<h:outputText id="numExpediente"
							value="#{verExpedienteDesdeReporte.expediente.numeroExpediente}" />
					</h:panelGroup>
					<h:panelGroup>
						<h:outputLabel
							value="#{messages['verexpedientedesdereporte_fecha_ingresodp']}"
							for="fechaIngreso" style="font-weight: bold" />
						<h:outputText id="fechaIngreso"
							value="#{verExpedienteDesdeReporte.expediente.fechaIngreso}">
							<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
								timeZone="#{customizacion.getPropiedad('timezone')}" />
						</h:outputText>
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
			<rich:panel id="infoDocOriginal" styleClass="subpanel">
				<f:facet name="header">
					<span>#{messages['verexpedientedesdereporte_informacion_documento_original']}</span>
				</f:facet>
				<h:form>
					<h:panelGrid columns="3" cellpadding="3px">
						<h:panelGroup>
							<h:outputLabel
								value="#{messages['verexpedientedesdereporte_n_documentodp']}"
								for="numExpediente" style="font-weight: bold" class="name" />
							<h:outputText id="numDocumento"
								value="#{verExpedienteDesdeReporte.documentoOriginal.numeroDocumento}" />
						</h:panelGroup>
						<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
						<h:panelGroup>
							<h:outputLabel
								value="#{messages['verexpedientedesdereporte_fecha_documentodp']}"
								for="fechaDocumento" style="font-weight: bold" class="name" />
							<h:outputText id="fechaDocumento"
								value="#{verExpedienteDesdeReporte.documentoOriginal.fechaDocumentoOrigen}">
								<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
							</h:outputText>
						</h:panelGroup>

						<h:panelGroup>
							<h:outputLabel
								value="#{messages['verexpedientedesdereporte_tipo_documentodp']}"
								for="tipoDocumento" style="font-weight: bold" class="name" />
							<h:outputText id="tipoDocumento"
								value="#{verExpedienteDesdeReporte.documentoOriginal.tipoDocumento.descripcion}" />
						</h:panelGroup>
						<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
						<h:panelGroup>
							<h:outputLabel
								value="#{messages['verexpedientedesdereporte_formatodp']}"
								for="formato" style="font-weight: bold" class="name" />
							<h:outputText id="formato"
								value="#{verExpedienteDesdeReporte.documentoOriginal.formatoDocumento.descripcion}" />
						</h:panelGroup>
						<h:panelGroup>
							<h:outputLabel
								value="#{messages['verexpedientedesdereporte_materiadp']}"
								for="materia" style="font-weight: bold" class="name" />
							<h:outputLabel value="#{verExpedienteDesdeReporte.documentoOriginal.materia}" rendered="#{verExpedienteDesdeReporte.vistoDesdeReporte}"/>
							<h:outputLabel value="#{messages['materia_reservada']}" rendered="#{verExpedienteDesdeReporte.vistoDesdeReporte}"/>
						</h:panelGroup>
						<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
						<h:panelGroup>
							<h:outputLabel
								value="#{messages['verexpedientedesdereporte_antecedentesdp']}"
								for="antecedentes" style="font-weight: bold" class="name" />
							<h:outputText id="antecedentes"
								value="#{verExpedienteDesdeReporte.documentoOriginal.antecedentes}" />
						</h:panelGroup>

						<h:panelGroup>
							<h:outputLabel
								value="#{messages['verexpedientedesdereporte_emisordp']}"
								for="emisor" style="font-weight: bold" class="name" />
							<h:outputText id="emisor"
								value="#{verExpedienteDesdeReporte.documentoOriginal.emisor}" />
						</h:panelGroup>
						<s:decorate template="/layout/edit.xhtml" style="width : 10px;" />
						<h:panelGroup>
							<h:outputLabel
								value="#{messages['verexpedientedesdereporte_destinatariosdp']}"
								for="destinatario" style="font-weight: bold" class="name" />
							<h:outputText id="destinatario"
								value="#{verExpedienteDesdeReporte.destinatariosDocumentoOriginal.get(0).label}"
								rendered="#{verExpedienteDesdeReporte.renderedDestinatarioUnico()}" />
							<h:selectManyListbox id="destinatariosList"
								style=" width : 500px;" required="false"
								size="#{verExpedienteDesdeReporte.calcularSizeListaDestinatarios()}"
								rendered="#{verExpedienteDesdeReporte.renderedListaDestinatarios()}">
								<f:selectItems
									value="#{verExpedienteDesdeReporte.destinatariosDocumentoOriginal}" />
							</h:selectManyListbox>
						</h:panelGroup>

						<h:panelGroup colspan="3">
							<h:commandLink id="verDocumento" immediate="true"
								action="#{visualizador.verDocumento(verExpedienteDesdeReporte.documentoOriginal)}"
								target="_new"
								rendered="#{verExpedienteDesdeReporte.renderedVerDocumento()}"
								image="/imagenes/icono_visualizar_doc.gif"
								style="border: none; background:transparent;">
								<h:graphicImage value="/imagenes/icono_visualizar_doc.gif"
									style="border: none; background:transparent;" border="0px"
									title="Ver Documento" />
							</h:commandLink>

							<a4j:htmlCommandLink id="verArchivo" immediate="true"
								action="#{verExpedienteDesdeReporte.verArchivo()}"
								rendered="#{verExpedienteDesdeReporte.renderedVerArchivo()}"
								disabled="#{verExpedienteDesdeReporte.documentoOriginal.archivo.cmsId == null}">
								<h:graphicImage
									value="/imagenes/icono_visualizar_doc_adjunto.gif"
									style="border: none; background:transparent;"
									title="Ver Archivo" />
							</a4j:htmlCommandLink>
							<a4j:commandButton id="editarExpediente2"
								alt="#{messages['verexpedientedesdereporte_alt_ver_documento']}"
								image="/imagenes/icono_editar_doc.gif"
								style=" border: 0px; background:transparent;"
								action="#{verExpedienteDesdeReporte.modificarDocumento(verExpedienteDesdeReporte.documentoOriginal.idNuevoDocumento,3)}" 
								rendered="#{verExpedienteDesdeReporte.bandejaEntradaCopia}"/>
						</h:panelGroup>
					</h:panelGrid>
				</h:form>
			</rich:panel>
			<br />
			<rich:panel id="docsRespuesta" styleClass="subpanel">
				<f:facet name="header">
					<span>#{messages['verexpedientedesdereporte_documentos_respuesta']}</span>
				</f:facet>
				<h:form>
					<rich:dataTable id="documentosRespuesta"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						var="docRespuesta"
						value="#{verExpedienteDesdeReporte.listDocumentosRespuesta}"
						rendered="#{not empty verExpedienteDesdeReporte.listDocumentosRespuesta}">
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column style="width:40px;">
									<h:outputLabel
										value="#{messages['verexpedientedesdereporte_ver']}" />
								</rich:column>
								<rich:column style="width:100px;">
									<h:outputLabel
										value="#{messages['verexpedientedesdereporte_n_documento']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['verexpedientedesdereporte_fecha']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['verexpedientedesdereporte_materia']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['verexpedientedesdereporte_tipo']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['verexpedientedesdereporte_emisor']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['verexpedientedesdereporte_destinatario']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['verexpedientedesdereporte_formato']}" />
								</rich:column>
								<rich:column>
									<h:outputLabel
										value="#{messages['verexpedientedesdereporte_estado']}" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:subTable
							onRowMouseOver="this.style.backgroundColor='#F8F8F8'"
							onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
							value="varPersona">
							<rich:column>
								<a4j:htmlCommandLink target="_blank" immediate="true"
									action="#{visualizador.verDocumento(docRespuesta.id)}"
									rendered="#{verExpedienteDesdeReporte.renderedVerDocumento(docRespuesta.id)}">
									<h:graphicImage value="/imagenes/ic_lupa.gif"
										style="border: none;" alt="#{docRespuesta.id}" />
								</a4j:htmlCommandLink>
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{docRespuesta.numeroDocumento}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{docRespuesta.fechaDocumentoOrigen}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{docRespuesta.materia}" rendered="#{not verExpedienteDesdeReporte.vistoDesdeReporte}"/>
								<h:outputLabel value="#{messages['materia_reservada']}" rendered="#{verExpedienteDesdeReporte.vistoDesdeReporte}"/>
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{docRespuesta.tipoDocumento.descripcion}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{docRespuesta.emisor}" />
							</rich:column>
							<rich:column>
								<h:outputLabel
									value="#{docRespuesta.destinatarios.get(0).destinatario}"
									rendered="#{not empty docRespuesta.destinatarios}" />
							</rich:column>
							<rich:column>
								<h:outputLabel
									value="#{docRespuesta.formatoDocumento.descripcion}" />
							</rich:column>
							<rich:column>
								<h:outputLabel value="#{docRespuesta.estado.descripcion}" />
							</rich:column>
						</rich:subTable>
					</rich:dataTable>
				</h:form>
			</rich:panel>
			<br />
			<rich:panel id="observaciones" styleClass="subpanel">
				<f:facet name="header">
					<span>#{messages['verexpedientedesdereporte_observaciones']}</span>
				</f:facet>
				<h:form>
					<rich:dataTable id="obs"
						onRowMouseOver="this.style.backgroundColor='#F1F1F1'"
						onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
						var="observacion"
						value="#{verExpedienteDesdeReporte.observaciones}"
						rendered="#{not empty verExpedienteDesdeReporte.observaciones}">
						<rich:column>
							<f:facet name="header">#{messages['verexpedientedesdereporte_fecha']}</f:facet>
							<h:outputText value="#{observacion.fecha}">
								<f:convertDateTime type="date" pattern="dd/MM/yyyy HH:mm"
									timeZone="#{customizacion.getPropiedad('timezone')}" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['verexpedientedesdereporte_autor']}</f:facet>
							<h:outputText
								value="#{observacion.autor.nombres} #{observacion.autor.apellidoPaterno}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">#{messages['verexpedientedesdereporte_observacion']}</f:facet>
							<h:outputText value="#{observacion.observacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel
									value="#{messages['verexpedientedesdereporte_nombre_archivo']}" />
							</f:facet>
							<h:outputText
								rendered="#{observacion.observacionArchivo != null}"
								value="#{observacion.observacionArchivo.nombreArchivo}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel
									value="#{messages['verexpedientedesdereporte_ver_archivo']}" />
							</f:facet>
							<a4j:htmlCommandLink immediate="true"
								action="#{verExpedienteDesdeReporte.verArchivoObservacion(observacion.observacionArchivo)}"
								rendered="#{observacion.observacionArchivo.cmsId != null}">
								<h:graphicImage border="0px" url="/imagenes/ver_detalle_01.gif"
									style="border:none;" />
							</a4j:htmlCommandLink>
						</rich:column>
					</rich:dataTable>
				</h:form>
			</rich:panel>
		</rich:panel>
		<h:form>
			<h:panelGrid columns="2" style="padding:5px;">
				<a4j:commandButton value="#{messages['verexpedientedesdereporte_volver']}"
					action="#{verExpedienteDesdeReporte.volver()}" 
					onclick="Richfaces.showModalPanel('panelEspera')"
					oncomplete="Richfaces.hideModalPanel('panelEspera')"/>
				<a4j:commandButton id="archivar"
					value="#{messages['verexpedientedesdereporte_archivar']}"
					onclick="Richfaces.showModalPanel('idConfirmDialogArchivar')"
					disabled="#{verExpedienteDesdeReporte.expediente.archivado != null}"
					rendered="#{verExpedienteDesdeReporte.bandejaEntradaCopia}" />
			</h:panelGrid>
			<!-- 
			<rich:panel id="botones">
				<a4j:commandButton id="salir" value="#{messages['verexpedientedesdereporte_ir_a_bandeja_de_entrada']}" 
					action="#{verExpedienteDesdeReporte.end()}" />
			</rich:panel>
			 -->
		</h:form>

		<rich:modalPanel id="idConfirmDialogArchivar" resizeable="false"
			width="320" height="100">
			<f:facet name="header">
				<h:outputText
					value="#{messages['verexpedientedesdereporte_confirmacion_archivar_expediente']}"
					style="background-image:url(../imagenes/base/bullets_header_panel_skin.png);background-position: 8px 4px;background-repeat: no-repeat; padding-top:0px; padding-left:25px; line-height:30px; text-align:left;" />
			</f:facet>

			<f:facet name="controls">
				<h:graphicImage value="/imagenes/icon-close.png"
					style="cursor:pointer"
					onclick="Richfaces.hideModalPanel('idConfirmDialogArchivar')">
				</h:graphicImage>
			</f:facet>
			<h:form>
				<h:outputText
					value="#{messages['verexpedientedesdereporte_desea_archivar_el_expediente']}" />
				<h:panelGrid columns="2" width="100%" style="text-align: center">
					<h:commandButton
						value="#{messages['verexpedientedesdereporte_no']}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogArchivar')" />
					<a4j:commandButton
						value="#{messages['verexpedientedesdereporte_archivar']}"
						action="#{verExpedienteDesdeReporte.archivarExpediente}"
						onclick="Richfaces.hideModalPanel('idConfirmDialogArchivar');Richfaces.showModalPanel('panelEspera')"
						oncomplete="Richfaces.hideModalPanel('panelEspera')" />
				</h:panelGrid>
			</h:form>
		</rich:modalPanel>

		<rich:modalPanel id="panelEspera" height="50">
			<f:facet name="header">
				<h:outputText
					value="#{messages['por_favor_espere']}" />
			</f:facet>
			<h:outputText
				value="#{messages['realizando_operacion']}" />
		</rich:modalPanel>

	</ui:define>

</ui:composition>
