<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" [ 
<!ENTITY nbsp "&#160;">
<!ENTITY ordm "&#186;">
<!ENTITY aacute "a">
<!ENTITY iacute "i">
<!ENTITY oacute "o">
<!ENTITY uacute "u">
<!ENTITY Aacute "a">
<!ENTITY middot "&#183;">
<!ENTITY nbsp "&#160;">
<!ENTITY eacute "e">
<!ENTITY Ntilde "n">
<!ENTITY ntilde "n">
<!ENTITY iexcl "&#161;">
<!ENTITY iquest "">
]>


<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml">

	<ui:define name="body">

		<h:messages globalOnly="true" styleClass="message" />

		<rich:panel>
			<f:facet name="header">#{messages['visaciondocumentolist_visaciondocumentolist']}</f:facet>

			<div class="results">

				<h:outputText
					value="#{messages['visaciondocumentolist_no_visaciondocumento_exists']}"
					rendered="#{empty visacionDocumentoList.resultList}" />

				<h:dataTable id="visacionDocumentoList" var="visacionDocumento"
					value="#{visacionDocumentoList.resultList}"
					rendered="#{not empty visacionDocumentoList.resultList}">
					<h:column>
						<f:facet name="header">#{messages['visaciondocumentolist_id']}</f:facet>
                    #{visacionDocumento.id}
                </h:column>
					<h:column>
						<f:facet name="header">#{messages['visaciondocumentolist_name']}</f:facet>
						<s:link id="visacionDocumento" value="#{visacionDocumento.name}"
							view="/visacionDocumento.xhtml">
							<f:param name="visacionDocumentoId"
								value="#{visacionDocumento.id}" />
						</s:link>
					</h:column>
				</h:dataTable>

			</div>

		</rich:panel>

		<div class="actionButtons">
			<s:button id="done"
				value="#{messages['visaciondocumentolist_create_visaciondocumento']}"
				view="/visacionDocumento.xhtml" />
		</div>

	</ui:define>

</ui:composition>

